[2019-01-08 06:55] minhtruong315 commented on #158
Hi @jig0009 I find that your folder name have space, please change it. "mstore new" to "mstore_new"

[2019-01-08 07:04] luyx2412 commented on #162
Hi @sohilchauhan , i found the reason.
1. In `services/GraphqlAPI/index.js` file ==> line `831` in `getOrders` function.
2. Replace `product: formatProduct(c.variant.product),` with `product: formatProduct(c.variant ? c.variant.product : null)`.

Because some your product do not variant, so i lack of check condition for this case.

<img width="948" alt="screen shot 2019-01-08 at 2 04 08 pm" src="h

[2019-01-08 07:33] sohilchauhan commented on #162
Okay. I want to show details to customers on each order without going to check order status. So it should be clear which items are in order.
So expand is fine. Can you tell me which fixes i need to do to expand order details when clicking Show detail?

[2019-01-08 07:43] luyx2412 commented on #162
HI @sohilchauhan Now expand order showed, so the easiest way to resolve this problem is hide `Show detail` button.
1. In `containers/MyOrdersContainer/index.js`
2. comment or remove code line `144` follow the image

<img width="671" alt="screen shot 2019-01-08 at 2 42 02 pm" src="https://user-images.githubusercontent.com/8909619/50816619-ae5c2b00-1353-11e9-9efe-e08dfbc0638d.png">

Thanks.

[2019-01-08 07:49] sohilchauhan commented on #162
I understood. But is there not any way to show order details expanded with all items in that order?

Sent from my iPhone

[2019-01-08 08:53] hammadhassan commented on #76
You did not provide the solution & closed the case.

How i gonna publish my app if the shipping is not working?

[2019-01-08 08:58] Buuy commented on #163
Hello - ??????

[2019-01-08 10:22] minhcasi commented on #141
Fixed on latest version v.1.2.0

[2019-01-08 10:22] #141 closed

[2019-01-08 10:31] minhcasi commented on #163
Hi, thank you for your all questions:

Back-end - Powered by WP? - YES
Do I need to install the Dolkan Plugin? YES
Link to the iOS Version on CodeCanyon? https://expo.io/@inspireui-demo/mstore-multivendor (you can use Expo account for testing on iOS inspireui-demo / inspireui
Can I set the commission we take in the back end? It will depends on the web template that you select
What exactly to you g

[2019-01-08 10:31] #163 closed

[2019-01-08 12:19] paniri commented on #164
![screenshot_20190108-141619_expo 1](https://user-images.githubusercontent.com/33451257/50830412-6ab3f200-1350-11e9-8d6a-28117c995f8c.jpg)
![screenshot_20190108-141629_expo 1](https://user-images.githubusercontent.com/33451257/50830428-743d5a00-1350-11e9-854c-aba88f15dc20.jpg)

[2019-01-08 12:35] alaradi2006 opened #166 "mstore multi vendor 1.2.0 imags not working"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
it work perfect except product images not display all product looks blank white image

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2019-01-08 13:14] thangvo9x commented on #166
Hi. I must install plugin Regenerate thumbnail (https://vi.wordpress.org/plugins/regenerate-thumbnails/) and update feature image.
We optimized for speed load image. Thanks

[2019-01-08 13:36] alaradi2006 commented on #166
i have it already installed

________________________________
From: thangvo9x <notifications@github.com>
Sent: Tuesday, January 8, 2019 4:14 PM
To: inspireui/support
Cc: alaradi2006; Author
Subject: Re: [inspireui/support] mstore multi vendor 1.2.0 imags not working (#166)

Hi. I must install plugin Regenerate thumbnail (https://vi.wordpress.org/plugins/regenerate-thumbnails/) and update feature i

[2019-01-08 13:53] alaradi2006 commented on #166
you have probelm with Mstore CheckOut Plugin and API if i enabled my site becoming broken not work proberly

[2019-01-08 14:43] alaradi2006 commented on #166
i install regenerate thumbnail  and i add the dimensions for images as in the doc

[2019-01-08 17:03] paniri opened #167 "[ListApp] all website crush after updating Listapp manager to the new version 1.4.1"
My all website crush after updating to the newest version 1.4.1

Warning: require_once(/homepages/14/d750391768/htdocs/clickandbuilds/attendy/wp-content/plugins/listapp-mobile-manager//controllers/rename-media.php): failed to open stream: No such file or directory in /homepages/14/d750391768/htdocs/clickandbuilds/attendy/wp-content/plugins/listapp-mobile-manager/listapp-manager.php on line 103

Fa

[2019-01-08 17:52] theleolife opened #168 "[App MSstore Cestore]I Need help add fields to checkout and Paypal payment"
**We are looking for any contribution to improve the product features and quality, please let us know.**
A clear and concise description of what the idea is. Ex. I would love to have this feature [...]

**Mandatory Info (please complete the following information):**
 - Product: [App MSstore cestore cezerin]

App MSstore Cestore Cezerin

I tried to add fields tax_number and address_2 to checkout in

[2019-01-08 18:56] theleolife opened #169 "[MStore, CESTORE App] Recovery password"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

App Cestore how customers can recovery password on the app? I could not find anything about on the app or web version.

[2019-01-08 23:03] ataiwo473 commented on #134
hey pls when will it be done

[2019-01-08 23:03] system112 opened #170 "[BeoNews] Execution failed for task ':lottie-react-native:compileDebugJavaWithJavac"
- Product: Beonews-Pro
 - Your Purchased Code: d7867c89-f1aa-4138-8fbd-cfe4ef495cd3

**Describe the issues**
I have a problem when rebuilding the project.

**Screenshots**
https://system112.org/Screen%20Shot%202019-01-09%20at%2006.51.51.png

**Additional context**
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':lottie-react-native:compileDebugJavaWithJavac'.
	at org.gradle

[2019-01-09 00:48] minhcasi commented on #166
you can try to update the ProductSize to false (from the common/config.js) to disable the optimize image feature - let us know your checking, thanks

[2019-01-09 00:53] alaradi2006 commented on #166
yesssssssssss  it works what about another issues
after making order it stuck on your cart is empty and i have to shutdown the app

[2019-01-09 00:55] minhcasi commented on #166
Thank you for reporting issues, we mark as critical bug and will update the bug fixing on today.
If you have other found issues, please note all here with the screenshot, we will include it from the patching.

@thangvo9x "Try to purchase any product after purchase the product you will see view my order after clicking on it, it will take you to annoying your cart is empty and no other way to close

[2019-01-09 01:07] alaradi2006 commented on #166
1- after making order  and click on view my order , your cart empty and i cant git rid of it i have to close the app
2-if add product to cart i cant click on back button its stuck on cart i have to shutdown the app
3-vendor list if i click on the small white arrow app crash

will send screen shot to help you as reeally i like the app

[2019-01-09 01:10] alaradi2006 commented on #166
![mstore error 3](https://user-images.githubusercontent.com/45144621/50869269-4e519d00-13c4-11e9-965d-b5c23b420536.jpg)
![mstore multi vendor error 2](https://user-images.githubusercontent.com/45144621/50869289-5c072280-13c4-11e9-883c-c9ecbb441ef3.png)
![mstore multivendor 1](https://user-images.githubusercontent.com/45144621/50869319-88bb3a00-13c4-11e9-8bf5-114ca7240b70.jpg)

[2019-01-09 01:14] minhcasi commented on #166
Thank you for sending a response quickly, we will check as highest priority - very best!

[2019-01-09 01:14] alaradi2006 commented on #166
plugin also mstore checkout after activating it , it crashes my site the old one works perfect

[2019-01-09 01:15] alaradi2006 commented on #166
chat button also i forgot to mention it , its also not working not clickable

[2019-01-09 01:17] minhcasi commented on #166
Do you mind you share the admin login on your website to support@inspireui.com - we will help for checking the crashing issues - activate the plugins is important for they payment features - thank you!

[2019-01-09 01:18] alaradi2006 commented on #166
what about the old one as its working and even with payment it work ok

[2019-01-09 01:19] minhtruong315 commented on #168
Hi @theleolife Thank you for your suggestion, we have noted for investigating

[2019-01-09 01:20] minhtruong315 commented on #169
Hi @theleolife Thank you for your suggestion, we have noted for investigating

[2019-01-09 02:33] luyx2412 commented on #165
Hi @HoYeongSong Can you provide me your full code file? And please read the document https://github.com/sbugert/react-native-admob/ to use the `AdMobInterstitial `.

Thanks

[2019-01-09 02:34] luyx2412 commented on #162
Hi @sohilchauhan Now the order item showed with full items, only collapse function do not work. So you can hot fix with hide the button `Show detail`.

Thanks

[2019-01-09 02:36] luyx2412 commented on #146
Hi @hamadatalaat We moved to another domain https://docs.mstore.io/basic-app-setting#wordpress-plugins-install

Thanks

[2019-01-09 02:41] reconshield commented on #167
yes..we also facing same issue.just disable new update..use the old one.. but still cant see listing thumbnails

[2019-01-09 04:38] thangvo9x commented on #167
Hi. You can update new version plugin. We're so sorry we've missed a file when update.
Thanks

[2019-01-09 05:52] system112 commented on #170
I have checked and this has been directed in the right direction

you can see this my screenshot

https://system112.org/Screen%20Shot%202019-01-09%20at%2013.50.14.png

[2019-01-09 06:02] system112 commented on #170
thanks, so far I haven't installed library yarn. thanks.

[2019-01-09 06:02] #170 closed

[2019-01-09 06:28] system112 opened #171 "[BeoNews] Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'. It will be removed at the end of 2018."
**Mandatory Info (please complete the following information):**
 - Product: BeonewsPro
 - Your Purchased Code: d7867c89-f1aa-4138-8fbd-cfe4ef495cd3

**Describe the issues**
I have a problem when rebuilding the project

**Screenshots**
https://system112.org/Screen%20Shot%202019-01-09%20at%2014.24.24.png

[2019-01-09 06:41] HoYeongSong commented on #165
Sure. I read the document about react-native-admob. This is my AdMob code. I want to add AdMobInterstitial after Apploading. Can you help me?

"use strict";
import React, { Component } from "react";
import { View, TouchableHighlight, Text } from "react-native";
import css from "./style";
import { Constants, Config, log } from "@common";
import { AdMobBanner, AdMobInterstitial } from "expo";
// imp

[2019-01-09 09:51] #161 closed

[2019-01-09 09:52] thangvo9x commented on #159
Fixed !

[2019-01-09 09:52] #159 closed

[2019-01-09 10:23] sankar2389 commented on #154
@minhcasi Any updates Bro?

[2019-01-09 15:04] Buuy opened #172 "Hashkey on Demo App not working"
Have downloaded the demo app from the playstore and tried logging in via Facebook and there's an error with the Hashkey - Unable to login under Facebook

[2019-01-09 15:09] Buuy opened #173 "User Registration disabled on Demo app"
Unable to register - User Registration disabled - ????

[2019-01-09 17:20] Buuy commented on #163
Hello

I have some further questions.

1. Does the app act like Amazon - a marketplace / different sellers etc?

2. Web / Theme template - ? Included or have to buy?

3. When you release an update - how do we update?

4. Please list what I need to download i.e. Wordpress, Dokan and anything else to make apps - Please list with URL's

5. Windows app create?

6. Amazon app create?

7. Where create c

[2019-01-10 00:39] tthamel commented on #159
Why was this closed? it is still not mapping the api properly in the App?

[2019-01-10 00:45] tthamel commented on #159
I added the details file and while the latitude error is gone, there is no map displayed.

i am also not getting information displayed for:
website,
phone,
address,
facebook,
features
even though all of those items are present in the API payload.

the only things that display properly are the categories and the listing titles

[2019-01-10 00:52] reconshield opened #174 "[Listapp] myListing New Version"
Purchase code: 23ee6c94-1eb8-4ffd-842f-7600d97f41d0

Listapp is not compatible with latest vesion of MyListing. We cant see thumbnails images and listing description correctly. all gone blank..waiting for new update. can tell us when we can get it? thanks!

[2019-01-10 01:58] minhcasi commented on #173
which app you are mention about?

[2019-01-10 01:59] minhcasi commented on #172
https://github.com/inspireui/support/issues/173

[2019-01-10 01:59] #172 closed

[2019-01-10 02:09] thangvo9x commented on #174
Hi. You must set a featured image. or follow by steps
1. install plugin Regenerate Thumbnails
2. update plugin ListApp Mobile Manager
3. Run generate all thumbnail.
We've optimized for loading all images on the app
Thanks.

[2019-01-10 02:11] thangvo9x commented on #164
Hi. I don't still receive your Config.js file. your mean is the images not displayed, huh ?
Thanks

[2019-01-10 02:39] thangvo9x commented on #152
Hi. How are you? You should update plugin ListApp Manager.

[2019-01-10 02:40] reconshield commented on #174
i did thumbnails plugins..but its still same.. and cant see listing description too
![simulator screen shot - iphone x - 2019-01-10 at 10 38 34](https://user-images.githubusercontent.com/25501496/50942571-15005680-14c4-11e9-9f2d-adae44b15fd1.png)
![Uploading Simulator Screen Shot - iPhone X - 2019-01-10 at 10.38.43.png…]()

[2019-01-10 02:40] #173 closed

[2019-01-10 02:40] reconshield commented on #174
![simulator screen shot - iphone x - 2019-01-10 at 10 38 43](https://user-images.githubusercontent.com/25501496/50942573-1762b080-14c4-11e9-95bb-d47354e5eb01.png)

[2019-01-10 02:45] thangvo9x commented on #157
Hi. Fixed in the next version . Thanks

[2019-01-10 02:45] #157 closed

[2019-01-10 03:03] reconshield commented on #174
i just download fresh code from codecanyon and run it..without change config file..its show same in demo version..
![simulator screen shot - iphone x - 2019-01-10 at 10 38 34](https://user-images.githubusercontent.com/25501496/50943277-c0120f80-14c6-11e9-98cf-dbebbe860700.png)

[2019-01-10 03:04] #167 closed

[2019-01-10 03:07] thangvo9x commented on #174
Hi. Kindly dont' define issues such as "not compatible"... We've update plugin ListApp Mobile Manager(LMM) for integrateing with new version ListApp 1.6, This could be images not displayed.
v1.6 preparing to release
Thanks

[2019-01-10 03:08] reconshield commented on #174
ok....hoping new version release soon..thanks

[2019-01-10 03:49] #174 closed

[2019-01-10 04:14] sashaba opened #175 "[MStore] Remove Test Ad"
Hello Support
I've been trying to remove the test app pop up from my app but it seen impossible, I messed up the app, removing libraries and files...
which file do I have to modify to remove the ad?

Thanks

[2019-01-10 04:16] luyx2412 commented on #175
Hi @sashaba Please provide your information app.

Thanks

[2019-01-10 05:06] comnarty opened #176 "[Beonews] failed to update project files"
I tried it in ubuntu and WIN10, after running yarn install and open the app in Android Studio couldn't find src/common and other folder from inside the studio, however when tried to update the files with code editor nothing change??
Only work with expo

[2019-01-10 05:06] sashaba commented on #175
Hi Lucy!

MStore Pro.
Latest version.

Thank you.

[2019-01-10 06:55] minhtruong315 commented on #158
Hi @jig0009 you can try to make source code to C disk, then try again

[2019-01-10 07:13] alaradi2006 commented on #135
yes please update it as its not clear not a real doc guide

[2019-01-10 07:43] paniri commented on #164
App cannot display listings at all(my list theme), it can show only the news..

I tried almost anything, thanks for your help

config file:
https://drive.google.com/file/d/1G-iW7l-N3UdX18HYx6RHhMESJzJNpINm/view?usp=sharing

[2019-01-10 08:07] thangvo9x commented on #176
Hi, Which product were you bought?

[2019-01-10 09:01] minhcasi commented on #166
fixed at v.1.2.1

[2019-01-10 12:19] alaradi2006 commented on #166
thanks but chat still not working

[2019-01-10 13:23] levi-beers commented on #171
^ I second this request. While it doesn't necessarily break the build operation, it will when these are deprecated.

[2019-01-10 15:04] comnarty commented on #176
Beonews

[2019-01-11 00:38] minhcasi commented on #166
Hi @alaradi2006 could you help to share your chat list screenshot - thanks

[2019-01-11 00:39] alaradi2006 commented on #166
thetes no chat list as i cant start chat
chat button not working

________________________________
From: Minh Pham <notifications@github.com>
Sent: Friday, January 11, 2019 3:38 AM
To: inspireui/support
Cc: alaradi2006; Mention
Subject: Re: [inspireui/support] [MStore MV] mstore multi vendor 1.2.0 imags not working (#166)

Hi @alaradi2006<https://github.com/alaradi2006> could you help to share you

[2019-01-11 01:54] #162 closed

[2019-01-11 01:57] minhcasi commented on #154
@sankar2389 we are still working on this integration and need more time - thank you!

[2019-01-11 02:08] minhcasi commented on #129
Hi @kiamoz we are checking the solution to move the appConfig.json so the cloud as option so that you can load it dynamic from your website ?

The appConfig.json can be used with the new Cebuilder

How do you thinks about this improvement ?

[2019-01-11 02:09] #125 closed

[2019-01-11 02:10] thangvo9x commented on #135
Hi. You must have only run "yarn detach", Almost done.

[2019-01-11 02:11] alaradi2006 commented on #135
Do I have to put any files with original files or just run yarn detach in original files and that’s all

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: thangvo9x <notifications@github.com>
Sent: Friday, January 11, 2019 5:10:48 AM
To: inspireui/support
Cc: alaradi2006; Author
Subject: Re: [inspireui/support] [MStore MultiVendor

[2019-01-11 02:13] minhcasi commented on #116
Fixed on v2.9.2 - thank you!

[2019-01-11 02:13] #116 closed

[2019-01-11 02:22] minhcasi commented on #176
Hi, could you help to share the screenshot of the detail issues - thank you!

[2019-01-11 02:37] minhcasi commented on #171
Noted for released on v.2.9.2

[2019-01-11 02:37] #171 closed

[2019-01-11 02:44] luyx2412 commented on #165
Hi @HoYeongSong I prepared your code.
[code]

[2019-01-11 02:46] luyx2412 commented on #156
Hi @levi-beers Thanks for your feedback. We will update with next version.

[2019-01-11 02:46] #156 closed

[2019-01-11 02:47] #146 closed

[2019-01-11 03:09] luyx2412 commented on #134
Hi @ataiwo473 This is all your category id.
[code]

You can select id and replace with id existed in AppConfig.json.
And Please disable `jetpack` plugin which cause this issue. Follow the image.

![2019-01-11_10-06-59](https://user-images.githubusercontent.com/8909619/51010901-df717100-1588-11e9-9482-f797918955e0.png)

Thanks

[2019-01-11 03:13] luyx2412 commented on #118
Hi @smEunus You can edit in `src/components/HorizonLayout` folder. The folder is describe all types.

Thanks

[2019-01-11 04:13] thangvo9x commented on #164
Hi, please let me know your email.

[2019-01-11 04:35] luyx2412 commented on #175
Haha don't worry about this. So how's about your issue?

[2019-01-11 06:13] #118 closed

[2019-01-11 12:40] paniri commented on #164
I also sent a meassge to the email support:

paniri@gmail.com

[2019-01-11 16:32] hellogossh opened #177 "[mstore] Unable to Ship to"
**Required Info (please complete the following information):**
 - Product: [MStore]
 - Your Purchased Code: [8636fad5-9c9b-45c9-99fd-9d0fa473fa3e]
(we may not reply if you are not our customer)

**Describe the bug**
Just keep getting the same message "Unable to Ship to [Country] Please enter an alternative shipping address" each time I register as a new customer via the app. Can you please help wi

[2019-01-11 21:09] sashaba commented on #177
Same error, I was about to post an issue about this. somebody please help to fix this asap. my app is not accepting any orders because of this error message. "Unfortunately we do not ship to the United states, please enter an alternative shipping address"

[2019-01-11 21:52] sashaba opened #178 "[MStore Pro] Guest Checkout or remove mandatory login to checkout"
**Mandatory Info (please complete the following information):**
 - Product: Mstore pro.
 - Your Purchased Code: 4bb2fd9b-4a08-4e19-9c74-fc95f51533e7

Hello Support team.
Would you please help me to remove the mandatory login at checkout, or enable guest checkout.
Thank you.

[2019-01-12 06:31] jabirismail opened #179 "[ListAPP] Data is not loading from my wordpress website"
**Mandatory Info (please complete the following information):**
 - Product: [ListApp]
 - Your Purchased Code: [5ffc9558-4e19-41ac-966b-8de574ae8792]

**Describe the issues**
I have done all steps mentioned in the documentation and our wordpress listing site is working fine.
But when we open the app in Expo, no data is loading..
Listapp version 1.6.0
We are stuck on this for last couple of weeks an

[2019-01-12 06:51] jabirismail commented on #164
Hi Paniri,
Even I had the same issue, It is because expo is caching the old data.
You can uninstall and re install expo and try.After doing this it cleared old demo data for me but my actual data is loading now..

[2019-01-12 09:20] thangvo9x commented on #164
@paniri . let me know if it works. Thanks

[2019-01-12 09:21] thangvo9x commented on #179
Hi. @jabirismail Can you share your Config.js file , such as ur email , plz ?

[2019-01-12 14:21] shubhamt619 opened #180 "Listpro"
The app stops on clicking listings...please check.

[2019-01-12 14:44] luyx2412 commented on #180
Hi @shubhamt619 Please provide your purchase code.

Thanks

[2019-01-12 14:45] #175 closed

[2019-01-12 18:04] shubhamt619 commented on #180
db055d4e-cd4e-4411-b654-21589bab86a0

On Sat, Jan 12, 2019, 8:14 PM luyx2412 <notifications@github.com wrote:

[2019-01-12 18:16] mustymx opened #181 "[BeoNews] app loaded indefinitely when we attempted to log in with Facebook on ios"
Purchased Code: 1b52b00e-c084-4e29-bac7-13383204401d

config.js:
  // config for log in by Facebook
  Facebook: {
    showAds: false,
    adPlacementID: '',
    logInID: '513825405780342',
    sizeAds: 'standard', // standard, large
  },

![cargafalla](https://user-images.githubusercontent.com/16863247/51076993-6bf16180-1665-11e9-82b2-c46877683288.png)

[2019-01-13 05:53] jabirismail commented on #179
I had sent a separate mail to you and minh with config file and website details from redboxslns@gmail.com

[2019-01-13 08:00] shubhamt619 commented on #180
Are you there ? ? ?

On Sat, Jan 12, 2019 at 11:34 PM Shubham Thakur <shubhamt619@gmail.com>
wrote:

[2019-01-13 16:21] sashaba opened #182 "Flux Checkout plugin and Mstore checkout plugin"
**Required Info (please complete the following information):**
 - Product: MStore Pro
 - Your Purchased Code:4bb2fd9b-4a08-4e19-9c74-fc95f51533e7

I have replaced the standard woocommerce checkout with Flux checkout plugin  on my website, this plugin implement a fast and easy multi step checkout for mobile users. how can I make the app to load this checkout page instead of the broken standard wooc

[2019-01-13 17:45] sashaba commented on #182
fixed!

[2019-01-13 17:45] #182 closed

[2019-01-13 20:11] theleolife opened #183 "| App Cestore | Push Notification not sending"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

 I published App Cestore android for test notification but it seems not sending notification, it is shows up 504 (Gateway Time-out) like from image below

![screen shot 2019-01-13 at 18

[2019-01-14 02:50] #165 closed

[2019-01-14 02:50] #134 closed

[2019-01-14 04:20] thangvo9x commented on #180
Hi. Please share your Config.js file such as your email.

[2019-01-14 05:45] shubhamt619 commented on #180
Please provide me with your mail id.I will add you to git repo.

On Mon, Jan 14, 2019, 9:50 AM thangvo9x <notifications@github.com wrote:

[2019-01-14 06:41] thangvo9x commented on #180
thang@inspireui.com

[2019-01-14 07:32] shubhamt619 commented on #180
Please check GitHub, I added you

On Mon, Jan 14, 2019, 12:11 PM thangvo9x <notifications@github.com wrote:

[2019-01-14 07:51] shubhamt619 commented on #180
Also, Please pull from master again, I pushed the latest changes.

[2019-01-14 09:03] shubhamt619 commented on #180
Thank you for the commit, I am testing it now on devices. The Side Menu is not Showing Any Menu Items, Please solve it or tell me how to...

[2019-01-14 09:12] shubhamt619 commented on #180
Facebook Login is working but the normal login is not still working. The normal Login Button Shows Facebook Icon when clicked on the Facebook Login Button.

![whatsapp image 2019-01-13 at 1 37 34 pm](https://user-images.githubusercontent.com/12027792/51103928-7ef16680-180a-11e9-944b-d0bed80c1278.jpeg)
![whatsapp image 2019-01-14 at 2 40 35 pm](https://user-images.githubusercontent.com/12027792/511

[2019-01-14 09:17] shubhamt619 commented on #180
Login is still not working

[2019-01-14 09:34] #164 closed

[2019-01-14 10:04] thangvo9x opened #184 "[ListApp] FAQ - Common Installing issues with solutions"
Can not get the Listing image.

Solution: https://inspireui.github.io/listapp/docs/setup#step-3-config-the-image

[2019-01-14 10:07] thangvo9x commented on #184
Empty image when update to latest version.
=> Solutions :
You must run Regenerate Thumbnail Plugins to re-generate thumbnail images.
link : https://wordpress.org/plugins/regenerate-thumbnails/

[2019-01-14 13:14] shubhamt619 commented on #180
Hello ! ! ! !
Are you there ??

[2019-01-15 01:16] minhcasi opened #185 "[Solution] - "Couldn't find the binary sh" with yarn"
If you are using Window OS, this is the common issues when run yarn install for most of the project, if
 you could look in detail error log, you can find the issue "...Couldn't find the binary sh..."

Root cause: missing git installing or the PATH is not available from the environment.

Solution: follow this detail guide and screenshot - https://hackernoon.com/install-git-on-windows-9acf2a1944f0

[2019-01-15 01:18] minhcasi commented on #178
Noted for updating by adding new extra config - thank you!

[2019-01-15 01:20] minhcasi commented on #176
Hi, there is no response from this ticket so that we will close it, please re-open when you have the update - thank you!

[2019-01-15 01:20] #176 closed

[2019-01-15 02:17] thangvo9x commented on #179
Hi. I checked your site. The problem is coming from your website .
https://yourdomain/wp-json/
can't access .
it couldn't be displayed on your app
Thanks

[2019-01-15 02:19] thangvo9x commented on #180
This login is coming from config on your website with the plugin JWT .
Please refer steps by document here:
https://wordpress.org/plugins/jwt-authentication-for-wp-rest-api/
Thanks for contact !

[2019-01-15 06:31] thangvo9x commented on #179
Hi. The error is coming from your server. You can refer
https://codex.wordpress.org/Nginx
Thanks

[2019-01-15 07:44] shubhamt619 commented on #180
What is the solution ? ? ?
I read but i don't understand

[2019-01-15 08:51] luyx2412 commented on #177
Hi @hellogossh and @sashaba Please send to my email luyxtran264@gmail.com your account and website information. I would like to check your config, and investigate to improve the app.

Thanks

[2019-01-15 14:34] m-abdel-azeem opened #186 "ListPro & Firebase"
Can Listpro run without Firebase?

[2019-01-15 16:43] kiamoz commented on #129
hi there , I think so the app should wait for load json first . do you have idea o improve my code above ?

[2019-01-15 19:06] mustymx commented on #181
some answer?

[2019-01-16 02:05] thangvo9x commented on #186
Yes. We have an option for choices.

[2019-01-16 02:30] luyx2412 commented on #178
Updated new version.

[2019-01-16 02:30] #178 closed

[2019-01-16 02:34] luyx2412 commented on #129
Hi @kiamoz You can use the redux and theme provider to load from api, after that apply your color with theme provider.

Thanks

[2019-01-16 03:41] shubhamt619 commented on #180
App is stopping on click of any Listing.

On Tue, Jan 15, 2019, 1:14 PM Shubham Thakur <shubhamt619@gmail.com wrote:

[2019-01-16 07:44] jig0009 commented on #158
building android app error show me enter apple id but i'm trying to build an android app

https://mega.nz/#!q3hUwChJ!DZpHNtW994UQ1SsnGoQCmoCOkr8no1bw9ty3Lyavq3E

[2019-01-16 08:07] jig0009 opened #187 "[MStore Pro] Unable to load script from assets"
Product: [e.g. MStore]
Your Purchased Code: [e270ed9b-9841-4ab4-9ca4-dce01ecdd14e]

**Describe the issues**
 i'have a red screen (Unable to load script from assets 'index.android.bundle'. Make sure your bundle is packaged correctly ) in mstore-pro version

**Screenshots**
https://mega.nz/#!uiJgAIrJ!CZI5ce3_W4HWiijxDyAvdzMkZYeASi_2ulNmv990VFc

**Additional context**
Add any other detail logs about

[2019-01-16 12:24] minhcasi commented on #154
fixed on v.1.3 - please download the latest - thanks

[2019-01-16 12:24] #154 closed

[2019-01-16 12:24] minhcasi commented on #183
fixed on v.1.3 - please download the latest - thanks

[2019-01-16 12:24] #183 closed

[2019-01-16 12:33] #186 closed

[2019-01-16 14:52] jabirismail commented on #179
Hi Thang that issue got resolved after changing the nginx.
But i have lot of other issues in the app and i sent those in the mail..
Why you are not replying even after i sent followup mails...
My queries.

1. Only one listing among 5 is showing in the app.
2. Images are not showing.
3. The design of  downloaded source code is different from the latest 1.6.0 demo.
4. Not able to select the date in

[2019-01-16 18:46] maltamap commented on #179
To the best of my knowledge I followed the set up instructions but the app is not populating data from the site. It is able to collect my blog post but nothing else. The listings return "undefined". The map fails to load. Please advise on how I can tackle these issues.

[2019-01-16 18:47] maltamap commented on #179
When I try to select a category in the second menu option the icon spins around endlessly.
![genymotion for personal use - google pixel 1080x1920 420dpi - 192 168 56 101_959](https://user-images.githubusercontent.com/46758875/51271336-96c21980-19c7-11e9-8e63-f97249598caa.jpg)

[2019-01-17 02:08] thangvo9x commented on #180
Please update the latest version

[2019-01-17 02:10] thangvo9x commented on #180
Please check latest version

[2019-01-17 03:40] luyx2412 commented on #177
Hi there, i just found causing the issue is `countryCode`. You can set hard code about your country shipping.
![image](https://user-images.githubusercontent.com/8909619/51294129-27d6d600-1a44-11e9-9c8d-830f1d49ba49.png)

We will try fix the issue in next version. Thanks

[2019-01-17 03:40] #177 closed

[2019-01-17 04:47] samber91 opened #188 "App Documentation link is not working"
Hi, mstore multivendor documentation link is not working. may i have it please ? thank you

[2019-01-17 04:49] samber91 commented on #188
Also, can i a video explaining how to configure chat function and clothing features as XL, L , S and color please ? thank you

[2019-01-17 04:49] EffectiveOG opened #189 "Build Failled MStore Pro"
**Required Info (please complete the following information):**
 - Product:  MStore
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
i cannot build android ;
`MacBook-Pro-de-Effective:android effective$ ./gradlew aR
Starting a Gradle Daemon, 3 stopped Daemons could not be reused, use --status for details

WARNIN

[2019-01-17 06:17] jabirismail commented on #179
Hi Thang,

Waiting for your reply..

[2019-01-17 06:21] reconshield opened #190 "[Listapp] Post Listing Issue"
Purchase code: 23ee6c94-1eb8-4ffd-842f-7600d97f41d0 |

new update version working good.only have 2 issue.

1) when click booking from listing page.i get error..

2) when summit listing. listing type not listing.i still can continue post it..but in the end getting error. i have add woocommerce keys correctly.
![simulator screen shot - iphone x - 2019-01-17 at 10 28 58](https://user-images.githubuse

[2019-01-17 07:01] thangvo9x commented on #190
Hi, You can check by this yourdomain/wp-json/wp/v2/job_listing . it has key "link_to_product"

[2019-01-17 07:03] reconshield commented on #190
Yes..i can see wp-json list..

[2019-01-17 08:37] luyx2412 commented on #189
HI @EffectiveOG Please open android studio to auto fix the issue, and run android with android studio.

Thanks

[2019-01-17 08:42] luyx2412 commented on #188
Hi @samber91 this is the document mstore-multivendor https://inspireui.github.io/mstore-mv/docs/introduce

Thanks

[2019-01-17 08:42] #188 closed

[2019-01-17 08:46] luyx2412 commented on #187
HI @jig0009 Please follow the article to fix the issue https://medium.com/@adityasingh_32512/solved-unable-to-load-script-from-assets-index-android-bundle-bdc5e3a3d5ff

Thanks

[2019-01-17 21:33] sashaba commented on #177
where we find this file?

[2019-01-18 10:00] luyx2412 commented on #177
Hi @sashaba the file is `src/containers/Cart/Payment/index` line 126 and 140.

Thanks

[2019-01-18 19:50] hammadhassan opened #191 "[Mstore Pro Stripe Payment Issue]"
Product: [MStore]
Purchase Code: f20afe4a-778e-4089-bcb2-7ec1bb4ed49b

When i select stripe payment & select any country & using test card number to test stripe payment. It keep displaying we do not ship to your country (United States, Netherlands, United Kingdom, Pakistan, Vietnam etc)

Please check this issue & let me know how can i customize stripe payment plugin or setting to use stripe paymen

[2019-01-18 20:39] shubhamt619 commented on #180
The App is stil Stopping ? ? ?
What is taking so long to resolve this issue ? ??

[2019-01-18 22:32] sashaba commented on #177
Hi @luyx2412 didn't work.
when I set the country to "US" the billing state is broken and the state field disappeared from the page.

![pic3](https://user-images.githubusercontent.com/40736543/51416182-605ed880-1b46-11e9-9607-ba6dc4e5f094.jpg)

No State field.

![pic4](https://user-images.githubusercontent.com/40736543/51416319-f2ff7780-1b46-11e9-9ab7-f02e5f0ac42d.jpg)

[2019-01-18 22:47] sashaba commented on #175
Hello @luyx2412  the Test Ad pop up was removed, thank you, would you please tell me how to remove the Ad located at the bottom of the home page and at the beginning of Collections pages( when you click "show All" from home Layouts).
Thank you.

[2019-01-19 03:37] samber91 opened #192 "[MMV] Confirm order not responding- Mstore multivendor"
Hi. When i hit the button confirm order, nothing happens. I followed all the instructions but nothing to do.
Psssss. it was working fine on previous versions of the mstore multivendor app
I need help urgently please. thanks

[2019-01-19 06:18] minhcasi commented on #191
Hi @hammadhassan, please download latest v3.6.7 to fix this issue

If it still happens please reopen the ticket - thank you!

[2019-01-19 06:18] #191 closed

[2019-01-19 06:20] minhcasi commented on #187
Hi @jig0009 - you can also refer to these solutions - https://github.com/inspireui/support/issues/38 - thank you!

[2019-01-19 06:20] #187 closed

[2019-01-19 11:47] Igorowytsch opened #193 "[ListPro] won't work"
Hi
I have several bugs which I'm not able to manage. Maybe you can help me to better understand.
My coding skills are around 0, thought ListPro is made for people like me, especially with CeBuilder.

- Homepage shows your Restaurant content and mine together and somehow mixed.
- I get some errors (red screen) on my iPhone, for example: TypeError: undefined is not an object (evaluating 'c.lenghth'

[2019-01-19 16:45] hmdkarimi opened #194 "POD error while building ios"
i  started new project in version 3.6.7 (pro)
after install dependencies and libraries with "yarn setup" command, i get these error in ios build in xcode
i tried to remove pod files and install it again but it doesn't work

diff: /Podfile.lock: No such file or directory
diff: /Manifest.lock: No such file or directory
error: The sandbox is not in sync with the Podfile.lock. Run 'pod install' or upd

[2019-01-20 15:53] Lubrig2 commented on #133
If your url is https, change it to http.

[2019-01-20 15:55] Lubrig2 commented on #158
Yes. Please tell us how to build only android app when we haven't apple dev ID.

[2019-01-20 17:32] imranshad opened #195 "How to Show Related Products On DetailsSreen ?"
I am willing to show related products products on DetailsScreen below the reviews. ProductRelated Tag is already available but not working i don't know why ?

[2019-01-20 20:10] thespottedrabit opened #196 "[ListApp] App Not Working ListApp"
Hello, I tried to use CeBuilder to run ListApp and it is not pulling information from my site. Please see screenshots from the Expo build.

Also the My Listing theme supports shops in listings, I dont see that here in ListApp...?

![50236813_2105121696249331_3077766958653898752_n](https://user-images.githubusercontent.com/13178140/51444426-a0dc6480-1cb4-11e9-88df-a3ddd8e155f3.png)
![50853114_28143

[2019-01-21 01:10] #190 closed

[2019-01-21 01:10] reconshield commented on #190
problem solved.

[2019-01-21 04:34] thangvo9x commented on #196
Hi. Please provide us your purchase code. Thanks

[2019-01-21 04:34] thangvo9x commented on #195
Hi. Please provide your purchase code. Thanks

[2019-01-21 04:36] thangvo9x commented on #193
Hi. Please provide us your purchase code.

[2019-01-21 04:42] thespottedrabit commented on #196
I don't know where to find that. Please see the screenshots below. Thank
you.

On Sun, Jan 20, 2019, 9:34 PM thangvo9x <notifications@github.com wrote:

[2019-01-21 04:47] imranshad commented on #195
Here can I share code publicly ?

[2019-01-21 05:19] Igorowytsch commented on #193
Hi there

Herewith the purchase code:  34ec0643-e187-4f74-9060-94601b1c8375

Best regards
Igor

[2019-01-21 06:36] hadi13 opened #197 "[Beonews] Fixing errors in beonews"
1-how to change categories photos

2-how to add videos to video page (added category number but not working)

3-back button is not showing sometimes.

4-how to remove the navigation top bar.

5-how to change the style of left menu?

6- comments are not all received to WP admin.
![dfb423c6-0358-4e8a-a902-0bf594f71376](https://user-images.githubusercontent.com/2642454/51456763-f02b9f00-1d5f-11e9-8c9

[2019-01-21 06:44] minhcasi commented on #194
HI, please check the latest solution: https://github.com/inspireui/support/issues/38

try to install latest cocoapods will fix the issue: sudo gem install cocoapods -v 1.6.0.beta.2

[2019-01-21 06:44] #194 closed

[2019-01-21 06:46] thangvo9x commented on #196
https://codecanyon.net/downloads Please refer

[2019-01-21 06:47] minhcasi commented on #195
Hi @imranshad sorry for closing the issue as the supporting to customize the project is not included from our support scope, please spend your time to play around the function and customize the source code - thank you!

[2019-01-21 06:47] #195 closed

[2019-01-21 06:47] thangvo9x commented on #193
Hi. can you give me your AppConfig.json to email thang@inspireui.com. Thanks

[2019-01-21 06:50] minhcasi commented on #197
Can you send your config.js file here

Note: as your questions are included some customization code that not include from the support licenses so that we will only provide a solution and may not detail

Thank you!

[2019-01-21 06:55] thangvo9x commented on #192
Hi. Please give us your purchase code.

[2019-01-21 07:32] hadi13 commented on #197
@minhcasi

find my config.js attached,

what is the customization I've requested?

[config.txt](https://github.com/inspireui/support/files/2777924/config.txt)

[2019-01-21 08:47] #129 closed

[2019-01-21 09:07] hammadhassan commented on #191
Okay. I will check & let you know.

Thanks,

Have a great day.

[2019-01-21 09:53] thangvo9x commented on #180
Hi. We've commit the latest version , please pull it.

[2019-01-21 10:40] kaiser2 opened #198 "Images not showing after i update the app"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2019-01-21 10:55] kaiser2 opened #199 "[mstore-mv] a user who is a Vendor by role not allowed to create posts from app"
Hi

I am not able to create posts from app although i've Vendor role in the backend.

Please help

[2019-01-21 11:04] shubhamt619 commented on #180
Did you check if it's stopping ?

On Mon, Jan 21, 2019, 3:23 PM thangvo9x <notifications@github.com wrote:

[2019-01-21 11:08] shubhamt619 commented on #180
The latest version is 4days before...when did you commit ?

On Mon, Jan 21, 2019, 4:32 PM Shubham Thakur <shubhamt619@gmail.com wrote:

[2019-01-21 11:08] shubhamt619 commented on #180
The app is still stopping on click of Listing..

On Mon, Jan 21, 2019, 4:37 PM Shubham Thakur <shubhamt619@gmail.com wrote:

[2019-01-21 12:35] hadi13 commented on #197
Still waiting?!

[2019-01-21 13:56] thespottedrabit commented on #196
Licensor's Author Username: InspireUI
Licensee: monique gowie
Item Title: ListApp - Listing Directory mobile app by React Native
Item URL:
https://codecanyon.net/item/listapp-listing-directory-mobile-app-by-react-native/21456447

Item ID: 21456447
Item Purchase Code: d8e3e06f-3447-4914-82e7-e55ac10bb234
Purchase Date: 2019-01-18 06:45:21 UTC

<http://www.avg.com/email-signature?utm_medium=email&ut

[2019-01-21 14:44] minhcasi commented on #179
Hi, could you update the latest version from Listapp will be fixed your issues, try to update the plugins as the following guide - https://inspireui.github.io/listapp/docs/setup#step-3-config-the-image

You an reopen the ticket if it is not worked, thank you!

[2019-01-21 14:44] #179 closed

[2019-01-21 15:34] minhcasi commented on #197
1 - photo is using for all cate, you can custom this file Redux/actions/PostActions.js - the fetchPhotos to add the category id to limit the list

2. Chage the CategoryVideo: 34, from config.js file - see our URL for the example of video - http://news.inspireui.com/an-excellent-one-pan-protein-packed-power-pasta/

3. we will have a check as it could be a bug.

4. remove this https://gyazo.com/4a82

[2019-01-21 15:34] #197 closed

[2019-01-21 16:17] hadi13 commented on #197
ok, still the below is not solved,

1 - photo is using for all cate, you can custom this file Redux/actions/PostActions.js - the fetchPhotos to add the category id to limit the list>>>>> **where can I change the photos?**

6-it only loads the publish comments >>> the comments are sent from the app but I can not see them on the WP admin panel. see attached my function.php file
[functions.txt](https

[2019-01-21 19:44] samber91 commented on #192
Purchase code :  ad1ac976-3e34-4e40-a473-0985df712891  . Please i need help urgently. i'm lauching my business tomorrow. thanks

[2019-01-21 20:24] hammadhassan opened #200 "[mStore Pro Shipping & Stripe Payment issue]"
Product: [MStore]
Purchase Code: f20afe4a-778e-4089-bcb2-7ec1bb4ed49b

I have three issues.

**1st [Shipping Zone]**
I did config my app shipping zone to 2 & also hard coded my Country to Netherlands but on checkout page shipping method is not displaying.
![shipping](https://user-images.githubusercontent.com/5791268/51496927-66bdb080-1de3-11e9-8e60-13d86c64fe48.PNG)

**2nd [Country List Text not D

[2019-01-21 22:51] imranshad commented on #195
Hi, Did you have any solution ? Please mention

[2019-01-21 23:57] sashaba commented on #177
This issue isn’t fixed in the latest update, I updated my whole app today and Still can’t complete checkout. Same error message.

[2019-01-22 02:06] thangvo9x commented on #199
hi. Please provide us your purchase code. Thanks.

[2019-01-22 02:08] thangvo9x commented on #196
Hi. Please send your AppConfig.json file such as your MyListing.js in Config folder to us to email thang@inspireui.com

[2019-01-22 04:40] kaiser2 commented on #199
where do u waant me to send it ? to ur gmail where we comminucated last
time?

On Tue, Jan 22, 2019 at 7:36 AM thangvo9x <notifications@github.com> wrote:

--
Kind Regards
Kausar Ahmad

[2019-01-22 04:54] kaiser2 commented on #199
Thang , i haave Sent u my code on your gmail . I need a quick fixing of this issue.

[2019-01-22 05:33] samber91 commented on #56
Hi, if you were able to fix your issue, please share with me at jb.ro.corp2018@gmail.com    . I'm having the same issue and i'm desperate in finding some answers. thanks

[2019-01-22 05:34] samber91 commented on #101
Hi, if you were able to fix your issue, please share with me at jb.ro.corp2018@gmail.com    . I'm having the same issue and i'm desperate in finding some answers. thanks

[2019-01-22 06:39] alaradi2006 commented on #56
which issue?

________________________________
From: samber91 <notifications@github.com>
Sent: Tuesday, January 22, 2019 8:33 AM
To: inspireui/support
Cc: alaradi2006; State change
Subject: Re: [inspireui/support] i cant confirm order (#56)

Hi, if you were able to fix your issue, please share with me at jb.ro.corp2018@gmail.com<mailto:jb.ro.corp2018@gmail.com> . I'm having the same issue and i'm

[2019-01-22 08:11] hadi13 commented on #197
Please provide me with the latest pro version for Android & IOS ASAP

[2019-01-22 09:15] thangvo9x commented on #199
Fixed

[2019-01-22 09:15] #199 closed

[2019-01-22 09:34] hellogossh commented on #177
Yes - I had the same issue. But the App for me is only available in one country to download, so setting "hideCountryList" to true in the config works for me.

[2019-01-22 10:05] thangvo9x commented on #192
Hi. Please prove AppConfig.json help me. We'll check help you. Thanks

[2019-01-22 12:44] hachikaru opened #202 "Cebuilder doesnt support this project yet"
**Mandatory Info (please complete the following information):**
 - Product: [ ListApp]
 - My Purchased Code: [45c7c7ac-5a00-40a2-af23-8111ef3e5d28]

**My  issues**
A clear and concise description of what the bug is.
I tried to install the listapp through CeBuilder but i get a pop up that it does not support this product yet and i need to set it up asap. I need your help

[2019-01-22 16:25] minhcasi commented on #202
Hi, could i confirm that you open the folder where content the package.json file ?

[2019-01-22 16:40] minhcasi commented on #181
Hi, sorry for the delay - we are working on the issue and this issue is kind of hard to reproduce - we will update in 1-2 days, thank you! @luyx2412

[2019-01-22 16:45] minhcasi commented on #202
https://app.intercom.io/a/apps/xro9xnfd/inbox/inbox/2664005/conversations/20517538888

[2019-01-22 20:10] thespottedrabit commented on #196
Hello??

On Mon, Jan 21, 2019, 6:56 AM OurLady Anne <ourladyanne@gmail.com wrote:

[2019-01-22 21:50] hachikaru commented on #202
ok i have chosen the source ...am setting it up from windows 10 .if i click on run setup command line shows what should i enter

[2019-01-23 02:31] luyx2412 commented on #200
Hi @hammadhassan Thanks for your feedback

1. You can use the `hideCountryList` in Config.js file, because now you just ship to Netherland. We fixed the issue in new version.
2. Let me check the issue and update in new version.
3. Can you debug with Reactotron or react-native-debugger check the api response? Maybe something was wrong with api.

Thanks

[2019-01-23 02:33] luyx2412 commented on #181
Hi @mustymx Which Beonews version do you use? (Expo or Pro)

Thanks

[2019-01-23 02:37] dunguyenn opened #203 "[CeStore] The mobile app is not send email confirm after order finished"
Dear support,

The mobile app is not send email confirm after order finished. Please help check and give me advise for fix.

Thanks, Du

[2019-01-23 03:31] mustymx commented on #181
I use Pro version

your beofoods demo app has the same issue in iOS

[2019-01-23 05:59] hammadhassan commented on #200
Okay. I will check.

But what about the Stripe Payment issue. Cash on Delivery is not displaying on checkout page & Shipping Method is also not displaying.

[2019-01-23 06:35] minhcasi commented on #180
@shubhamt619 can you provide the screenshot of "The app is still stopping on click of Listing..", which the content cause crashing?

[2019-01-23 10:52] minhcasi commented on #202
Hi, could you help to download the latest v.0.26.1 - thank you!

[2019-01-23 10:56] chad-the-first opened #204 "Listpro Error while building js bundle"
![sketch](https://user-images.githubusercontent.com/17035853/51601806-024b4000-1f0e-11e9-93a8-0adccab1dc1d.jpg)

Item Purchase Code:
65e47917-78fa-4b8e-97ec-80bf8345f72a

I followed the instruction about installing but i get this error when i want to run the app on the android simulator. What should i do to avoid this problem?

[2019-01-23 12:57] fthkrtl35 opened #205 "[MStore] Checkout Page - Invalid authentication cookie"
**Mandatory Info (please complete the following information):**
 - Product: MStore
 - Your Purchased Code: 8e06cc57-6afe-441f-9acb-a8adb1a77f3c

**Describe the issues**
When the application opens the webview for the payment page with the credit card, I get a blank page. It also warns that "Invalid authentication cookie. Please try to login again."
Tried this solution but not working, also Anonymou

[2019-01-23 17:11] hachikaru commented on #202
latest v.0.26.1 ? version of which app ..the Cebuilder ? am just stuck dont know what to do next

[2019-01-23 18:09] Igorowytsch commented on #193
Hi Thang

I just did from igor.ilak(at)gmx.ch

Regards
Igor

[2019-01-24 02:22] thangvo9x commented on #204
Hi. Thanks for your purchase to our product. Do you try by remove the node_modules folder and run yarn again ? if it still not working. Please send AppConfig.json such as let me know your email. Thanks

[2019-01-24 06:44] minhcasi commented on #158
Fixed on v.0.26.1 - thank you!

[2019-01-24 06:44] #158 closed

[2019-01-24 06:48] minhcasi commented on #202
Hi, it's the CeBuilder from http://inspireui.com - thanks

[2019-01-24 09:37] #135 closed

[2019-01-24 09:44] #196 closed

[2019-01-24 09:45] thangvo9x commented on #193
Hi. I don't understand you, please.

[2019-01-24 10:47] Igorowytsch commented on #193
I sent you yesterday the files from the mail mentioned above.

[2019-01-24 12:08] minhcasi commented on #181
To fix this issues go to RCTFBSDK.xcodeproj then build settings->framework search paths. And change ~/Documents/FacebookSDK to $(HOME)/Documents/FacebookSDK

<img width="1199" alt="screen shot 2019-01-24 at 7 06 25 pm" src="https://user-images.githubusercontent.com/1459805/51677183-50923900-200b-11e9-85fc-78ec63d2dbb3.png">

[2019-01-24 12:08] #181 closed

[2019-01-24 12:09] minhcasi commented on #205
Noted for investigating - thanks

[2019-01-24 12:20] jaksatomovic opened #206 "[ListPro] - eject Expo"
**Required Info (please complete the following information):**
 - Product: [ListPro]
 - e52cfbdd-f79e-4946-ae15-0daadc94fdfa
**Describe the bug**
Not possible to run app after expo eject

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Is there any available app without expo support. i would like to eject my app from expo and use it like normal

[2019-01-24 13:32] MWalid opened #207 "[MStore] 'FBSDKCoreKit/FBSDKCoreKit.h' file not found"
**Required Info (please complete the following information):**
 - Product: [MStore]
 - Your Purchased Code: be9470e0-f0e9-4ded-XXXX-1522f7e6e936

**Describe the bug**
Trying to build the pro version. I have updated my cocoapods, ran `pod install`, then `react-native link` then `react-native run-ios` got the error:

[code]

**Screenshots**
Screenshots can be found here https://imgur.com/a/o9DzJkM

[2019-01-24 14:05] MWalid opened #208 "[Mstore Pro] Unable to install pro version on Emulator"
**Required Info (please complete the following information):**
 - Product: [MStore]
 - Your Purchased Code: be9470e0-f0e9-4ded-XXXX-1522f7e6e936

**Describe the bug**
`react-native run-android` gives the following error:
[code]

**Screenshots**
https://imgur.com/a/89WLlb3

[2019-01-24 15:10] thangvo9x commented on #206
Hi. Thanks for purchase our product.
you can run yarn eject or expo eject, one choice with using Expokit.
Thanks

[2019-01-25 02:21] girishpacindia opened #209 "Can't find variable: self"
**Mandatory Info (please complete the following information):**
 - Product: [MStore Multi Vendor - Complete React Native template for WooCommerce]
 - Your Purchased Code: [d03afe62-9dac-4c5f-9bf1-ccdddd8d7d3a]
(we may not reply if you are not our customer)

**Describe the issues**
After building JavaScript bundle, it straight away displays red screen with error "**Can't find variable: self**"

I h

[2019-01-25 02:45] thangvo9x commented on #209
Hi. Thanks for your purchase. you can try remove cache and run again. or remove node_modules folder & run again.

[2019-01-25 02:54] thangvo9x commented on #193
I still don't received it yet. igor.ilak@gmx.ch. this email is yours , plz ?

[2019-01-25 05:21] Igorowytsch commented on #193
I sent it again. Now working?

Am 25.01.2019 um 03:54 schrieb thangvo9x <notifications@github.com>:

I still don't received it yet. igor.ilak@gmx.ch. this email is yours , plz ?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-01-25 08:52] thangvo9x commented on #193
Hi. I have been it already. I still can't connect to you? Please update consumerKey such as consumerSecret in your AppConfig.json, and change categoryListingId such as tags... to see that changed.
 Thanks

[2019-01-25 09:50] thangvo9x commented on #193
Hi.cosnumerKey and consumerSecret => You can get it at Woocommerce->Settings->advanced -> Rest API & create it.
change categoryListimgId => in Classic.js in Config folder. Thanks

[2019-01-25 10:16] chad-the-first commented on #204
I don't know what happened but after deleting all node modules and re-install them again a couple of times this error disappeared. thanks anyway.

[2019-01-25 10:52] media360ch opened #210 "[Beonews] App doesn't refresh instantaneously with new blog posts"
**Required Info (please complete the following information):**
 - Product: BeoNews
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
9096cdec-d54d-47ca-8ee8-f39d452b975f

**Describe the bug**
The Beonews app doesn't refresh. It takes 1-2 days for it to show new posts that are published on the Wordpress page. In the meantime I have tried running "expo publish" from CMD and NodeJS

[2019-01-25 13:27] hungnguyen9276 opened #211 "[Beonews] New version 2.9.2 missing FBSDKShareKit.h"
**Mandatory Info (please complete the following information):**
 - Product: [Beonews]
 - Your Purchased Code: 2b7fa788-ea4d-4d1c-bb3a-4bf22a499783

**Describe the issues**
New version 2.9.2 missing FBSDKShareKit.h. Project only run on android and get errors when I try to run ios

**Screenshots**
<img width="1279" alt="screen shot 2019-01-25 at 20 22 38" src="https://user-images.githubusercontent.c

[2019-01-25 14:02] chad-the-first opened #212 "[ListPro] ListApp Manager plugin warning issue"
- Product: [ListPro]
 - Your Purchased Code: 65e47917-78fa-4b8e-97ec-80bf8345f72a

**Describe the bug**
the app can't populate the listing from my website. www.cataloglebnen/wordpress
i just changed the website url and the category id in config.

i do get this msg when i open my listing in wordpress:
Warning: array_map(): Argument #2 should be an array in /home2/chadwebdev/cataloglebnen.com/wordpr

[2019-01-25 17:50] netappzone opened #213 "[MStore] App not loading"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2019-01-25 22:54] sashaba opened #214 "[MStore-Pro] Temporary Checkout option"
Hello
so, I'm still struggling with checkout on my app, I haven't been able to fix the issue with the error message "unfortunately we do not ship to xxx country";  so I was wondering if there is a way to disable MstoreCheckout temporally. I can try to add PayPal SDK to the app natively as unique payment method while this issue is resolve.  I don't mind having just one payment method as long as it

[2019-01-25 23:58] banchyman opened #215 "[CEbuilder] - Error when running CEbuilder for MSTORE"
![screenshot_1](https://user-images.githubusercontent.com/47045593/51779091-f0a5aa80-2150-11e9-9660-53a3c848b836.jpg)
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug

[2019-01-26 05:41] sashaba commented on #214
It seem  fixed now.
thank you.

[2019-01-26 08:56] MWalid commented on #208
I just opened the app from the emulator and it worked, the root issue is `MainActivity` is not exported from` AndroidManifiset`, but was easy to workaround.

[2019-01-26 08:56] #208 closed

[2019-01-26 21:00] SAVICTOR commented on #205
i have this problem too.
Regular LicensePurchase code: ed1b502c-bf88-463b-a2b3-141448ce8a20
Invalid authentication cookie on checkout
and also when uploading products

[2019-01-26 21:16] SAVICTOR commented on #202
install yarn https://yarnpkg.com/lang/en/docs/install/
install git https://git-scm.com/download/win

[2019-01-26 21:17] SAVICTOR commented on #202
install yarn https://yarnpkg.com/lang/en/docs/install/
install git https://git-scm.com/download/win

[2019-01-26 21:19] SAVICTOR commented on #215
Have you installed expo?

[2019-01-27 00:16] theo-taylor opened #216 "[MMV] Can't set up with WC Vendors"
**Mandatory Info:**
 - Product: [MMV]
 - Purchased Code: 2985126b-8772-45c9-ae9d-23dd4b79242e

**Issues**
In the documentation there is only info to set up WordPress with Dokan
https://inspireui.github.io/mstore-mv/docs/configwordpress

So I cannot access the vendors endpoint

I'm assuming that another plugin is needed. How do I proceed?

[2019-01-27 01:19] SAVICTOR commented on #205
But it works when i use facebook login, been slowing me down.  I hope for a quick reply. Thanks mate

[2019-01-27 09:09] minhcasi commented on #214
Thank you, could you share your solutions?

[2019-01-27 09:09] #214 closed

[2019-01-27 09:17] #200 closed

[2019-01-27 09:17] minhcasi commented on #192
@thangvo9x

[2019-01-27 09:31] minhcasi commented on #38
FBSDKCoreKit/FBSDKCoreKit.h' file not found

Go to RCTFBSDK.xcodeproj then select build settings -> framework search paths
And change ~/Documents/FacebookSDK to $(HOME)/Documents/FacebookSDK

This bug happens on the XCode 10 - facebook/react-native-fbsdk#401

[2019-01-27 09:34] minhcasi commented on #213
Hi, could you help to run `yarn setup` from the project download folder (please don't try to copy to another folder as you could miss some hidden file, such as .babelrc):

[2019-01-27 09:38] minhcasi commented on #212
Hi, could you try to disable the Debug mode from wp-config.js file to disable the warning message from php log ?

@thangvo9x - try to fix the array_filter and array_map issues - http://www.cataloglebnen.com/wordpress/wp-json/wp/v2/listing

[2019-01-27 09:40] minhcasi commented on #216
Hi, what is your website base on Dokan or WC Vendor, and which is the template that you are using? Thanks

[2019-01-27 09:47] minhtruong315 commented on #203
Hi @dunguyenn, I will fix this issue on next version.
Thanks

[2019-01-27 09:57] minhtruong315 commented on #215
Hi @banchyman, Did you install all tools?
<img width="1028" alt="screen shot 2019-01-27 at 4 55 45 pm" src="https://user-images.githubusercontent.com/10402500/51799535-8c6c0f00-2254-11e9-9f1b-0b137d35e04c.png">

[2019-01-27 09:57] minhtruong315 commented on #202
Hi @hachikaru Did you install all tools?
<img width="1028" alt="screen shot 2019-01-27 at 4 55 45 pm" src="https://user-images.githubusercontent.com/10402500/51799541-a60d5680-2254-11e9-8f81-193a81af4bcb.png">

[2019-01-27 10:15] Igorowytsch commented on #193
Why is this one closed now?

[2019-01-27 10:18] banchyman commented on #215
I do not, where do I download it for windows 10?

Kind Regards
Jesse & Bec

Contact:
Email: bristleup@live.com.au
Mobile: 0427312312

________________________________
From: Shofoyeke Ademolu Victor <notifications@github.com>
Sent: Sunday, 27 January 2019 8:19 AM
To: inspireui/support
Cc: banchyman; Author
Subject: Re: [inspireui/support] [CEbuilder] - Error when running CEbuilder for MSTORE (#215)

[2019-01-27 10:19] minhcasi commented on #193
As we don’t see your reply, kindly reopen it if you still have an issue, thanks

[2019-01-27 10:39] Igorowytsch commented on #193
I can‘t answer immediately if I didn‘t find time to test. How can I reopen it, or can I just write here again?

[2019-01-27 10:42] theo-taylor commented on #216
I'm using the Electro theme:
https://themeforest.net/item/electro-electronics-store-woocommerce-theme/15720624

And WC Vendors

[2019-01-27 14:33] chad-the-first commented on #212
Debug mode is already disabled.
@thangvo9x - any suggestion on how to fix this issue from the listapp-mobile-manager plugin?

[2019-01-27 16:04] smmb313 opened #217 "[MStore] Could not get unknown property 'mergeResourcesProvider'"
**Mandatory Info (please complete the following information):**
 - Product: MStore Pro
 - Your Purchased Code: 23ee29e0-2fb9-433e-807b-37744e5b655b

**Describe the issues**
Error:FAILURE: Build failed with an exception.

* Where:
Script 'C:\***\mstore-3.6.4\mstore-pro\node_modules\react-native\react.gradle' line: 95

* What went wrong:
A problem occurred configuring project ':app'.

BUILD FAILED i

[2019-01-27 16:20] maltamap opened #218 "cebuilder error writing to file when using windows installer package"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any

[2019-01-27 16:21] lpzczar opened #219 "[BeoNews] Help in custom"
help!

Purchase code: a935fd39-69e1-4768-bd83-d5e30451f909
BeoNews

1) How do I remove the side menu? I know it's on RootRouter.js, but what lines of code should I remove?

2)how do I replace the photo tab menu with url custom?

3)How to change color and add button in toolbar header? Like this...
http://www.digitalsnd.com.mx/wp-content/uploads/2019/01/S1.png

[2019-01-27 16:37] Igorowytsch commented on #193
Hi there

Unfortunately I tried to change the things mentioned above, nothing changed.
Hopefully you can help me.

consumer key: ck_6c6aeaf1d036edcd174274895677e827632c774e
consumer secret: cs_27fa00fe6259d7020662930fdb68d414bada7b76
I have only one category which has ID 29, you are talking about the Listingpro category, right?

Thanks a lot

[2019-01-27 18:15] hadi13 opened #220 "xcode issue in beonews"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2019-01-27 18:37] jaksatomovic opened #221 "[ListPro] Error"
**Mandatory Info (please complete the following information):**
 - Product: [ListPro]
 - Your Purchased Code: [e52cfbdd-f79e-4946-ae15-0daadc94fdfa]
(we may not reply if you are not our customer)

Hi upon installing app via CeBuilder or Manually i get red screen error saying:
null is not an object(evaluating't.better_featured_image.source_url')

[2019-01-28 00:56] sashaba commented on #214
Still not working, I installed a different payment gateway plugin on my website and it worked at first, but now the error came back. Still no solution to this.

I think the issue is with the new woocommerce API not updated on mstore-checkout.

[2019-01-28 01:05] minhtruong315 commented on #218
Hi @maltamap, Can you add my skype so that I can help you via teamview?
My skype is minhtruong315@gmail.com
Thanks

[2019-01-28 01:05] sashaba commented on #214
Another thing I noted, is :

After we select payment method on the app and confirm order, if the webview fetch only the country code (US) the order go thru, but if the whole country name is displayed the error appears.

To explain better:

If the app auto fill only the country code on the checkout webview the order is susessfull.  But if the full country name is auto filled the error appears.

[2019-01-28 01:08] smsmalex opened #222 "[ListApp] - Important Issue"
**Mandatory Info (please complete the following information):**
 - Product: [ListApp]
 - Your Purchased Code: 4058cc9b-4525-4f66-ae1c-ed34dabe03bf
- Theme: MyListing

**Describe the issues**
A clear and concise description of what the bug is.
Hello sir
I have many problems with the App
I kept reading all the problems that everyone faces either here or on the comments page.
Without finding a soluti

[2019-01-28 02:42] thangvo9x commented on #212
Hi. Thanks for your purchase. Can you share your admin help me, plz?

[2019-01-28 02:44] thangvo9x commented on #216
Hi. Can you give me your AppConfig.json help me, for checking
Thanks

[2019-01-28 02:46] thangvo9x commented on #222
Hi. Can you give me your AppConfig.json such as your template in Config folder, plz?
thang@inspireui.com. subject with your id issue is 222.
Thanks

[2019-01-28 02:48] thangvo9x commented on #221
Hi. First, Thanks for your purchase. Please give me your info admin for checking
email thang@inspireui.com and subject your id issue is 221 to record. Thanks

[2019-01-28 08:57] theo-taylor commented on #216
`{
  "WooCommerce": {
    "url": "http://host.taylord.tech/storefronts-dev",
    "useWCV": true,
    "consumerKey": "ck_062ae4a1641f2d098582a53d5054f35369f869c6",
    "consumerSecret": "cs_0971bc5ddf6fc43a073385f0b08e2d25aaa32624"
  },
  "HorizonLayout": [
    { "tag": 37, "layout": 10 },
    {
      "layout": 14,
      "tag": 83
    },
    {
      "name": "Feature Products",
      "featured": tru

[2019-01-28 09:22] hadi13 commented on #211
fixed and got another error
<img width="441" alt="screen shot 2019-01-28 at 12 22 08 pm" src="https://user-images.githubusercontent.com/2642454/51826133-60559a00-22f7-11e9-85c9-521a5dfb2dfc.png">

[2019-01-28 09:42] smsmalex commented on #222
Sent to you

[2019-01-28 10:44] jaksatomovic commented on #221
This is mobile app...i dont have any admin..i just tried to run with default settings

[2019-01-28 11:45] chad-the-first commented on #212
Hi @thangvo9x i made an editor user for the wordpress website, u can check the credentials in your email.

[2019-01-28 12:05] maltamap commented on #218
Ok, I've messaged you on skype
Best, Sevan

On Mon, Jan 28, 2019 at 5:24 AM Minh Pham <notifications@github.com> wrote:

[2019-01-28 14:42] smsmalex commented on #222
Any news??

[2019-01-28 14:55] QDemNark opened #223 "ListApp is not getting Featured Image for single Listing using Listify theme."
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2019-01-28 15:11] QDemNark commented on #223
Hi
Why is all Featured Images being shown on the front page but not when I click on the specific listing?

[2019-01-28 15:21] maltamap opened #224 "cebuilder not working"
i don't appreciate being used as your tester. my time is valuable. it seems you keep putting out broken software and letting us figure it out. it is very disrespectful. please notify me when things are working properly so i can create an app. If things are working please provide actual instructions on how to use the tool properly.

[2019-01-28 16:32] minhcasi commented on #224
Hi what is your issue with the Cebuilder?

We have the video guide on this playlist - https://www.youtube.com/playlist?list=PLcF-HiQy-jOKVI23G0ppKoSaTA-gwCAew - does it help for your installing ?

[2019-01-28 16:37] minhcasi commented on #217
Hi, we have noted this issue for further investigating.

Could we check if you have already run the Example project successful base on this guide - https://facebook.github.io/react-native/docs/getting-started.html (just to make sure you can setup already library correctly to run the app)

[2019-01-28 16:38] lpzczar commented on #219
???

[2019-01-28 17:02] minhcasi opened #225 "[MStore MV] Product variant"
Check the issue from - https://codecanyon.net/item/mstore-multi-vendor-complete-react-native-template-for-ecommerce/22278924/comments?page=11&filter=all#comment_21327797

[2019-01-28 17:44] aviontech opened #226 "Permission denied when running CEBuilder"
From Comments reply;

On Mac OS, just try to login as the Administrator.
Ran terminal then sudo < path / CEBuilder >, still hits same error

One thing: please check if the Tools libraries are all check.
Yes, all green.

Second, please update the 0.26.2 from – http://inspireui.com
Done, same error.

Please see screenshot attached.
<img width="697" alt="screenshot 2019-01-29 at 1 19 36 am" src="http

[2019-01-28 19:04] maltamap commented on #224
Instead something opening when i hit run set up, nothing happens.

Here is what is displayed in the terminal.

C:\Users\User1\AppData\Local\Programs\electron-react-boilerplate>cd "C:\Users\Us
er1\Downloads\codecanyon-22645013-listpro-listing-directory-react-native-templat
e (2)\ListPro 1.2.1\Source"

C:\Users\User1\Downloads\codecanyon-22645013-listpro-listing-directory-react-nat
ive-template (2)\

[2019-01-29 01:33] cakerake opened #227 "EVASTORE - Homepage editting not working"
Product : EVA Store
Code : 9db31c14-a813-4d8c-8bc1-afdc6da180ec

I have updated config.js to include my shop's api and it works okay

when i try to add categoryID - it also works
but category names do not update even if i change it
the first banner area doesnt change if i change category id

the size/template of the 1-2-3 product categories dont change either

can you please help?

ive tried refre

[2019-01-29 01:57] minhtruong315 commented on #226
Hi @aviontech Can you add my skype so that I can help you via teamview?
my skype: minhtruong315@gmail.com
Thanks

[2019-01-29 02:06] jacobspn opened #228 "[ListApp] Play icon on listing places and login problem (with photos)"
- Product: [ListApp - Mylisting theme]
 - Your Purchased Code: c40eb757-33b1-4a6c-943e-ed3777feb9fc

i can only see a "play" icon where listings should be displayed.
![0](https://user-images.githubusercontent.com/44866712/51878949-e0b8e100-2371-11e9-8bfc-ee96537a4f4f.png)

and when i clik on it i have this error:
![1](https://user-images.githubusercontent.com/44866712/51879193-b0be0d80-2372-11e9-9

[2019-01-29 03:19] aviontech commented on #226
Hi

Tried to add you but cant find contacts.
Can you add me instead? minjun.soo (ID)

[2019-01-29 05:49] Ghostfring opened #229 "[MStore] Product Variation and Product Search and Product Category issue."
**Required Info (please complete the following information):**
 - Product: MStore
 - Your Purchased Code: e93d8750-3488-4b31-8c06-030c95a8c83f

Bug 1

On the product page, all my products are having too many attributes to select from (which are not suppose to be there). In the below Image you can find that all the additional information/specification about my products are also beings displayed as

[2019-01-29 05:59] hungnguyen9276 opened #230 "[BeoNews] App doesn't redirect to post"
**Required Info (please complete the following information):**
 - Product: [BeoNews]
 - Your Purchased Code: 2b7fa788-ea4d-4d1c-bb3a-4bf22a499783

**Describe the bug**
When OneSignal push notification to mobile app, the app redirect to home page instead redirect to post.

[2019-01-29 06:51] aviontech commented on #226
Hi

Anyone there? Please assist :-) Thanks!

[2019-01-29 07:08] hadi13 opened #231 "[BeoNews] Category selection"
**Required Info (please complete the following information):**
 - Product: [Beonews]
 - Your Purchased Code: [14cf2889-4560-4e19-98c2-5134c9e6d044]
(we may not reply if you are not our customer)

**Describe the bug**
where can I find this in the app code and hide it?
and I tried to change the photos for the categories with no success.
**Screenshots**
<img width="311" alt="screen shot 2019-01-29 at

[2019-01-29 07:32] minhtruong315 commented on #226
@aviontech I don't your contact. pls share me your contact

[2019-01-29 07:41] luyx2412 commented on #227
Hi @cakerake Are you uninstall and reinstall app again? And can you provide me your Evastore version?

Thanks

[2019-01-29 07:42] cakerake commented on #227
I have the latest version

What should I uninstall? Expo on my iPhone? That’s where I’m testing it

[2019-01-29 08:11] thangvo9x commented on #221
fixed

[2019-01-29 08:11] #221 closed

[2019-01-29 08:14] luyx2412 commented on #227
Hi @cakerake You can uninstall Expo and reinstall Expo again on your iPhone.

Thanks

[2019-01-29 09:44] #226 closed

[2019-01-29 09:55] minhcasi commented on #230
Hi, could i check if you have update the Wordpress site base on this guide - https://beonews.inspireui.com/advance-customize/push-notification#install-wordpress-plugin ?

[2019-01-29 10:01] hungnguyen9276 commented on #230
Yes, I did it, app get notification well however when I touch to notification, the app redirect to home page instead go to the post in notification.

[2019-01-29 11:30] cakerake opened #232 "MSTORE PRO - CEBUILDER not working"
Product : MSTORE PRO - CEBUILDER
Purchase Code : ff5f8923-6693-4e04-b338-d84f9115958a

I'm trying to run cebuilder

i unzipped files > ran yarn setup > entered the location of project folder > the icon keeps spinning nothing happens

what do i do?

[2019-01-29 12:35] minhcasi commented on #232
First could you check to see if all the libraries are installed from Tools ?

Could you share the screenshot of the Setup screen ?

[2019-01-29 12:35] mkashifrazzaq11 opened #233 "[MStore]: CeBuilder not working, Can not get Categories and Tags"
- Product:  MStore Pro - Complete React Native template for e-commerce
 - Your Purchased Code: f8d919b7-3308-4d8c-a454-6b2685fbae9c

When I run the project with Expo Start command my project is running fine. but I want to run it with CeBuilder when I click on customization tab, I got error "can not get categories and tags."

![cebuilder 1](https://user-images.githubusercontent.com/5534583/51908637

[2019-01-29 12:39] minhcasi commented on #192
Hi @samber91 - could you download the latest version released today - it will be fix this issue, please reopen it don't work with your site - thanks

[2019-01-29 12:39] #192 closed

[2019-01-29 12:39] minhcasi commented on #193
@thangvo9x

[2019-01-29 12:40] minhcasi commented on #222
@thangvo9x

[2019-01-29 12:40] minhcasi commented on #223
Hi, @QDemNark - we are not sure to understand your idea  - could you share the screenshot - thank you!

[2019-01-29 12:57] cakerake commented on #232
here is cebuilder

![image](https://user-images.githubusercontent.com/22143254/51909775-3e3f4300-23ef-11e9-9b5a-a807b38646b9.png)

here is tools page

![image](https://user-images.githubusercontent.com/22143254/51909788-45fee780-23ef-11e9-9acd-672d1539738c.png)

can you please help

[2019-01-29 12:59] OnlyDan opened #234 "[MStore] Can't connect to a HTTPS server"
MStore

**Describe the bug**
Can't seem to connect to a "https" server?
If i connect to a HTTP server it works, but doesn't load images.
All configuration has been set up correctly.

[2019-01-29 13:00] QDemNark commented on #223
Hi Minh

Thanks so much for your mail.

Featured Images are visible when displayed in the overview. Example at Front Page and Related Post etc.
Please see 2 attached jpg files.

However, Featured Images are not visible when viewing single Listings.
Please see attached jpg file for Single Listing.

*Please note that I am using Listify theme.

Best regards
Qais Wardag
https://www.myself.dk

________

[2019-01-29 13:17] thangvo9x commented on #222
I received your mail but your account can't login. i'm waiting from you for another account. I have been it already. I'm checking it.

[2019-01-29 13:37] smsmalex commented on #222
i sent to you another account by mail from 2 hours
and i test it from 3 devices and login successfully
i dont know what wrong with you??
and sent to you new mail again
wait you
Regards

[2019-01-29 14:51] samber91 commented on #192
Okay Minh. I will try and let you know. Thanks

On Tue, Jan 29, 2019 at 7:39 AM Minh Pham <notifications@github.com> wrote:

[2019-01-29 14:59] luyx2412 commented on #231
HI @hadi13
- in Config.js file you will see `showSwitchCategory: true`, please change the value `showSwitchCategory: false` which will hide this option.
- in Containter/Category/index.js line 79 follow the photo, you can edit the image in this line.
![2019-01-29_21-55-48](https://user-images.githubusercontent.com/8909619/51916941-f7624500-2410-11e9-93a7-e7a60383b435.png)

Thanks

[2019-01-29 15:08] luyx2412 commented on #229
Hi @Ghostfring
- You can edit the variant in `src/containers/Detail/index.js` line 556 `attribute.options` is the list variant.
![2019-01-29_22-03-32](https://user-images.githubusercontent.com/8909619/51917356-f67de300-2411-11e9-8036-2bc388224944.png)

- You can use the Reactotron or react-native-debugger in `Constants.js` file. I suggest you use Reactotron which is easier than react-native-debugg

[2019-01-29 15:12] hadi13 commented on #231
I mean the photos for the categories, how to change them?

[2019-01-29 18:18] billiemead commented on #233
I get the exact same error and as of yet no solution.

[2019-01-29 23:14] samber91 opened #235 "[MMV] CAN NOT GET DATA FROM SERVER -MMV"
purchase code ad1ac976-3e34-4e40-a473-0985df712891

Hi i still have the problem of placing the order.  the images don't load either. i need help
**Message : can not get data from server**

![img_9094](https://user-images.githubusercontent.com/42559522/51947077-98410800-23f1-11e9-8116-5eabeef6b13e.JPG)
![img_9093](https://user-images.githubusercontent.com/42559522/51947082-9d05bc00-23f1-11e9-8f8a-5

[2019-01-30 03:16] thangvo9x commented on #228
@jacobspn

[2019-01-30 04:03] thangvo9x commented on #225
Hi. I checked your issue. you can fix by go to src/containers/Detail/index.js
go to line 81 , uncomment this.getProductAttribute(this.props.product);
it'll work. Thanks
![sandisk](https://user-images.githubusercontent.com/23457178/51957527-9709ec80-247e-11e9-87a5-e8161b14ea7b.png)

[2019-01-30 04:11] minhcasi commented on #233
Hi @mkashifrazzaq11 and @billiemead  - could you try to download the latest Cebuilder v0.26.2, you screenshot looks like the old version

This issue is related to the space issue on the product PATH which already fixed - thanks

[2019-01-30 04:15] minhcasi commented on #234
@OnlyDan - could you share the screenshot of the issues and your website URL with the consumse keys use for checking - thanks

[2019-01-30 04:16] thangvo9x commented on #216
Hi. Please change category with your website. these categories must have listings in it.
If it still not working. Please send me the info your admin, yo'll check help me. thang@inspireui.com with subject is 216. Thanks

[2019-01-30 07:12] thangvo9x commented on #223
Hi. ListApp using Feature Image to display listing. when clicking each listing. it'll using gallery_images.
Thanks

[2019-01-30 07:14] thangvo9x commented on #222
@smsmalex .

[2019-01-30 09:22] mkashifrazzaq11 commented on #233
Yes, I also checked on v0.26.2 version but still got the error.

[2019-01-30 09:24] shubhamt619 commented on #180
Please re opern this....Right now !

[2019-01-30 10:00] shubhamt619 commented on #180
I'm uploading latest build soon.

On Wed, Jan 30, 2019, 3:06 PM Minh Pham <notifications@github.com wrote:

[2019-01-30 12:13] smsmalex commented on #222
i will check it
thanks

[2019-01-30 13:13] QDemNark commented on #223
Hi thanks you your mail.

How can I use Feature Image to display on each listing (single listing).
* Witch file do I have to change and can you provide any code?

Best Regards
Qais
Myself.dk<http://Myself.dk>

Den 30. jan. 2019 kl. 08.12 skrev thangvo9x <notifications@github.com<mailto:notifications@github.com>>:

Hi. ListApp using Feature Image to display listing. when clicking each listing. it'l

[2019-01-30 14:31] jacobspn commented on #228
i followed the steps before y posted this message i also realised that i dont have the Auth option to activate in JSON API settigs

![captura](https://user-images.githubusercontent.com/44866712/51987304-7784bb00-24a2-11e9-96d4-94a3ce811dd5.PNG)

I sent you an email with the files you need and also access to my wordpress. Thanks for your time and help.

[2019-01-30 14:48] hachikaru commented on #202
i have done all but still cant build app ....
error shows Set EXPO_DEBUG=true in your env to view the stack trace.
and what simulator should i use to test it

this is the error
 Would you like to upload a keystore or have us generate one for you?
If you don't know what this means, let us handle it! :)
 false
[15:40:38] Unable to find an existing Expo CLI instance for this directory, starting a new

[2019-01-30 15:49] aviontech commented on #235
Hi

Am experiencing same issue with latest version. Cant load product images and occasionally get the error "Cant get data from Server".

Clicking / navigating around for a while the app crashes.
Please help.

[2019-01-30 17:02] fthkrtl35 commented on #205
Can you give us information about the next update date

[2019-01-31 01:40] smsmalex commented on #222
after check the new source code the error is gone
but
Before I bought the application I saw some features in the pictures and this encouraged me to buy it.
And even when I bought Wright pictures in the photo folder with these possibilities, but I did not find enough explanation to activate and operate those possibilities
I want to link the application to my site as in the pictures Tamam and all th

[2019-01-31 01:52] minhcasi commented on #222
Hi, sorry for the late and confusion communication above. The package we provide is the latest version with full functionalities - no misleading, as there are some extra screen and enhancement come up with new update so that we have to change the bottom navigations.

Could you let us know which the pictures that we have missing from the download? Then we could revise the Ads banner or refactor the

[2019-01-31 01:58] smsmalex commented on #222
thank for your fast response
first pic is
https://inspireui.com/wp-content/uploads/2018/11/listapp.png
the main image at codcanyon
second
in the screenshot folder as example picture name (Simulator Screen Shot - iPhone 7 - 2018-02-21 at 13.21.08)
i see reserve button and another one is booking now
how can i get these features in my app?
i install all necessary plugins in my wp
how can i get app li

[2019-01-31 01:59] smsmalex commented on #222
and when i try to book something there are miss start time date error

[2019-01-31 02:18] luyx2412 commented on #231
Hi @hadi13 You can change your photos of the categories in your website wordpress admin.

Thanks

[2019-01-31 02:32] luyx2412 commented on #219
Hi @lpzczar
1. In RootRouter.js file please remove or comment code from 187 --> 229 line. And replace with `this.renderContent()` look like the photo
![image](https://user-images.githubusercontent.com/8909619/52026380-4061e880-253a-11e9-9877-a5a23a20d214.png)

2. In `App/Navigation/index.js` file from 77 line you can see the `tabBarIcon`, Each menu tab bar will have `TabBarIcon` component. You can

[2019-01-31 03:39] jacobspn commented on #228
@thangvo9x

[2019-01-31 04:51] Pavithran10 opened #236 "Mandatory info"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any

[2019-01-31 04:52] Pavithran10 opened #237 "Mandatory info"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any

[2019-01-31 06:04] Pavithran10 opened #238 "ListApp is does not working fine and After intergrated to changing our root path of our website and woocommerce key same problems occurs."
**Mandatory Info (please complete the following information):**
Product:[ListApp]
Version:1.5.3b
Theme: Listing

**Describe the issues**
1.We are facing many issue and error in Listapp application after installing the app.
2.And then same problems occurs while changed the root of the our website and woocommerce key in config.js file we got the errors.

**Screenshots**

**Additional context**

[2019-01-31 06:12] Pavithran10 opened #239 "[ListApp] Some more internal features issue occur"
**Mandatory Info (please complete the following information):**
Product:[ListApp]
Version:1.5.3b
Theme: Listing

**Describe the issues**
1.All feature are realoadiing in the home page that means in home page it redirect to booking page and then once again reloading into flash screen.
2.This same issue occur in the map also. while opening map at first time it has loading into splash screen again re

[2019-01-31 07:33] minhcasi commented on #235
Noted for investigating this issue - thank you!

@thangvo9x

[2019-01-31 07:34] #236 closed

[2019-01-31 07:35] minhcasi commented on #238
duplicate with #239

[2019-01-31 07:35] #238 closed

[2019-01-31 07:36] minhcasi commented on #239
Hi could you share the config.js file and AppConfig.json - thank you!

[2019-01-31 08:44] Pavithran10 commented on #239
Can I give purchase code here itself? Is it not public forum ?

[2019-01-31 08:47] thangvo9x commented on #180
hi @shubhamt619  How about your problem ?

[2019-01-31 08:49] thangvo9x commented on #223
Hi. You can set it at section "Gallery Images", It was been beside sections "cover image, logo image..."
Thanks

[2019-01-31 08:51] #225 closed

[2019-01-31 08:52] thangvo9x commented on #228
Hi. I received your email. Please wait for me to testing && integrating.
Thanks

[2019-01-31 08:52] Pavithran10 commented on #239
I'm attached the ListApp config.js and AppConfig.json in below zip.
[project js files.zip](https://github.com/inspireui/support/files/2816360/project.js.files.zip)

[2019-01-31 08:55] thangvo9x commented on #193
Hi. Waiting response from @Igorowytsch

[2019-01-31 08:57] #193 closed

[2019-01-31 09:05] thangvo9x commented on #222
Okie @sms. We'll check the source again. Thanks for your value feedback.

[2019-01-31 09:11] thangvo9x commented on #228
Hi. I checked your source. Please update your Config with MyListing.js in it. or simple, you can using ceBuilder at https://inspireui.com/
Thanks

[2019-01-31 09:15] thangvo9x commented on #212
some problems is occuring on your website.
http://cataloglebnen.com/wordpress

[2019-01-31 09:18] thangvo9x commented on #212
I can't login or set password. check screenshot. How about your problem ?
http://prntscr.com/men85h
Thanks

[2019-01-31 09:21] thangvo9x commented on #239
Okie. i'll check it and response to you. Thanks

[2019-01-31 09:31] hammadhassan opened #240 "[MStore Pro Shipping Issue]"
Product: [MStore]
Purchase Code: f20afe4a-778e-4089-bcb2-7ec1bb4ed49b

[Shipping Zone]
I did config my app shipping zone to 2 & also hard coded my Country to Netherlands but on checkout page shipping method is not displaying.

![image](https://user-images.githubusercontent.com/5791268/52044718-a06d8480-2564-11e9-8f52-69726004329a.png)

Config file is attached. Please check & help me to fix it.

[C

[2019-01-31 09:47] Pavithran10 commented on #239
Thanks, i'll check it and reply

[2019-01-31 09:47] shubhamt619 commented on #180
Give me few hours

On Thu, Jan 31, 2019, 2:17 PM thangvo9x <notifications@github.com wrote:

[2019-01-31 11:41] mohamedsaad1 opened #241 "[ListPro] - Unable to resolve asset"
**Mandatory Info (please complete the following information):**
 - Product: [ListPro]
 - Purchased Code: [9bd506b3-9159-4da2-b1aa-a2a6a76ea337]

**Describe the issues*
i got this message while running the app /; Unable to resolve asset "./assets/icons/app-icon.png" from "icon" in your app/exp.json.
what should i do to solve it ??﻿

**Screenshots**

<img width="572" alt="screen shot 2019-01-29 at 7

[2019-01-31 11:55] Pavithran10 commented on #239
Thanks,ListApp new version is working fine.But some feature error is there.

In that new version of ListApp application in tabmenubar category list cover image not appear. I've attached image below.
![err1](https://user-images.githubusercontent.com/46148046/52052673-21387a80-257d-11e9-8897-9460c9bcfe54.png)

[2019-01-31 12:17] OnlyDan commented on #234
@minhcasi Was using plesk, had to buy a new SSL certificate.

[2019-01-31 12:17] #234 closed

[2019-01-31 12:31] OnlyDan opened #242 "iOS 502 Bad Gateway on Payment"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore]

**Describe the bug**
When checking out with SagePay, error "502 Bad Gateway" on App. iOS only
Ive followed the troubleshooting fix 1 for this, but no luck
Not very clear on point 2 Second solution is copy the mstore-checkout.php to your wordpress template folder.

**Screenshots**
http://prntscr.com/meq63w

[2019-01-31 12:36] Pavithran10 commented on #239
In that before issue small different is there. That is in the category cover images is only not appearing in list view format. But image support in grid view properly.

![err2](https://user-images.githubusercontent.com/46148046/52054547-eafdf980-2582-11e9-9cc4-5310a8170e65.png)

[2019-01-31 12:59] jacobspn commented on #228
Im not sure what you mean with "update your Config with MyListing.js in it"
You mean to just copy the content of MyListing.js in my Confij.json file?

[2019-01-31 13:03] kaiser2 opened #243 "[MSTORE-MV] Products added via app show even though they r drafts in website"
Hi

When a vendor adds products from the app, by default all vendor products are set as draft.
Now they shouldn't show on the front side unless an admin approves them

Also they show a 0.00 price unless admin approves them .

this needs a quick fix.

Also how to enhance first load speed and how to get rid of those default icons and posts that show on first load

Thanks

[2019-01-31 23:58] QDemNark commented on #223
Hi
Ok, but do you mean in WordPress Backend - > Specific Plugin settings or a File in Folder Source?
If you mean a File in Folder Source, then which file?

Best regards
Qais Wardag
https://www.myself.d<https://www.myself.dk>k

________________________________
Fra: thangvo9x <notifications@github.com>
Sendt: 31. januar 2019 09:49
Til: inspireui/support
Cc: QDemNark; Mention
Emne: Re: [inspireui/sup

[2019-02-01 00:54] jacobspn commented on #228
this is the structure i have

![captura png2](https://user-images.githubusercontent.com/44866712/52095665-2a990580-25c4-11e9-9836-f99048c2302a.PNG)

I have done the installation with cbuilder and everything was configured.

[2019-02-01 00:55] thangvo9x commented on #243
Hi. We'll set default status is draft. you can change it by code.

[2019-02-01 01:03] thangvo9x commented on #180
How ? @shubhamt619

[2019-02-01 01:04] thangvo9x commented on #212
@chad-the-first

[2019-02-01 01:06] thangvo9x commented on #228
Yes. My mean is you must have change categoryListingId in MyListing.js with name horizontalLayout

[2019-02-01 01:13] thangvo9x commented on #223
Hi. Please refer this image.
https://gyazo.com/5e83524d33cab0e8fd94931555d9c45d
Thanks

[2019-02-01 02:51] #219 closed

[2019-02-01 02:51] #210 closed

[2019-02-01 02:53] luyx2412 commented on #205
Hi @fthkrtl35 We are planning new version, and update ASAP.

Thanks

[2019-02-01 02:53] #205 closed

[2019-02-01 02:53] #227 closed

[2019-02-01 02:53] #229 closed

[2019-02-01 03:02] #231 closed

[2019-02-01 03:04] #38 closed

[2019-02-01 03:05] #184 closed

[2019-02-01 03:06] #185 closed

[2019-02-01 03:08] minhcasi commented on #1
[Solution] - "Couldn't find the binary sh" with yarn

If you are using Window OS, this is the common issues when run yarn install for most of the project, if
you could look in detail error log, you can find the issue "...Couldn't find the binary sh..."
**Root cause**: missing git installing or the PATH is not available from the environment.
**Solution**: follow this detail guide and screenshot - h

[2019-02-01 03:08] #1 closed

[2019-02-01 03:09] #45 closed

[2019-02-01 03:09] minhcasi commented on #1
EvaStore Installing issues - https://github.com/inspireui/support/issues/45

[2019-02-01 03:10] #211 closed

[2019-02-01 03:11] minhcasi commented on #1
[Beonews] New version 2.9.2 missing FBSDKShareKit.h -  #211

[2019-02-01 03:13] minhcasi commented on #169
Noted - https://github.com/inspireui/support/projects/6

[2019-02-01 03:13] #169 closed

[2019-02-01 04:09] luyx2412 commented on #240
Hi @hammadhassan Can you invite me to your wordpress admin which help check your zone id?

Thanks

[2019-02-01 05:12] Pavithran10 commented on #239
Regenerate image plugin is not avaiable, regenerate thumbnails plugin is there. what want to do. second options  containers/Categories/index.js line 112 is also that code line not available. otherwise if you just send the that plugin link.

[2019-02-01 07:05] Pavithran10 commented on #239
Hi, I need another help while selecting each categories list item its redirect to booking page in that page favourites and share icon while clicking it showing the error msg. I've attached that booking page and error page in below link
[error pages.zip](https://github.com/inspireui/support/files/2820440/error.pages.zip)

[2019-02-01 07:57] #224 closed

[2019-02-01 07:58] #203 closed

[2019-02-01 07:59] minhtruong315 commented on #202
Hi @hachikaru , Can you add my skype? I will help you check via teamview
my skype is : minhtruong315@gmail.com

[2019-02-01 08:00] #215 closed

[2019-02-01 08:01] minhtruong315 commented on #233
Hi @mkashifrazzaq11 Can you add my skype? I will help you check via teamview
my skype is minhtruong315@gmail.com

[2019-02-01 08:02] dunguyenn commented on #203
Dear Minh,
Thank you for your support, how i can get update for fix this problem please?
Du

[2019-02-01 11:12] hammadhassan commented on #240
Yes sure. Give me you email address. i will send you credentials of my wordpress site.

[2019-02-01 11:20] chad-the-first commented on #212
i sent the email again to thang@inspireui.com you can check by searching for chad-the-first in the subject of the email.

[2019-02-01 14:56] aviontech commented on #235
Hi

Is this issue fixed?

[2019-02-01 20:20] bobozd opened #244 "[ListApp] Featured Images Missing - mylisting theme"
I try to build my app with latest CeBuilder on OSX.
It seams all work fine except Feature Image of any listing not showed or loaded.
Please check my video link

**Screenshots**
https://drive.google.com/file/d/1DZCYbwNDrLW9bP-iQeCc6FofSOmrsVdC/view?usp=sharing

[2019-02-01 23:32] samber91 commented on #235
No

On Fri, Feb 1, 2019 at 9:56 AM aviontech <notifications@github.com> wrote:

[2019-02-01 23:32] samber91 commented on #235
No

[2019-02-02 00:47] reconshield commented on #244
if u update mylisting theme. featured image will disapear. check all your listing post.make sure featured image is set. Listapp featured image working fine in mylisting. check your image resizer and image resolution setting ( can find from Listapp Documentation )

[2019-02-02 03:09] minhcasi commented on #235
@samber91 and @aviontech  - could you help to share your appconfig.json and the config.js file here, it works fine with our testing, and rarely happen with the slow network - if would be great if you could share your config for our debugging

@thangvo9x please check this critical bug seriously - thanks

[2019-02-02 03:17] minhcasi opened #245 "[NOTICE] Holiday notice 04-02-2019 to 08-02-2019 (non support on this time)"
Dear customers,

We have raised this ticket for announcing the holiday break on one week from Monday(4/2) to Friday (8/2) as the technical team will back to hometown for the Tet holiday, during this time we could not able to support on time as usual, but we will try to respond as soon as we can.

We are sorry for the delay and inconvenience.

Very best,
InspireUI Team!

[2019-02-02 03:30] minhcasi commented on #241
Hi, it seems ok with our testing, could you try to update the latest expo version: npm install expo

and also remove the Expo app client from your simulator.

Let us know your checking, thank you!

[2019-02-02 03:31] #232 closed

[2019-02-02 03:33] #207 closed

[2019-02-02 03:33] #213 closed

[2019-02-02 03:33] minhcasi commented on #217
I'

[2019-02-02 03:33] #217 closed

[2019-02-02 03:58] #230 closed

[2019-02-02 04:09] minhcasi opened #246 "test"
test

[2019-02-02 04:10] #246 closed

[2019-02-02 04:13] minhcasi opened #247 "few"
fe

[2019-02-02 04:13] #247 closed

[2019-02-02 06:13] samber91 commented on #235
Or try with this one . previous version of mmv . same problem

[Config.js.zip](https://github.com/inspireui/support/files/2824120/Config.js.zip)

[2019-02-02 06:14] minhcasi commented on #235
It seems ok with our first testing on your sites (see below screenshot), could you try to remove the Expo app on your simulator and reinstall the package again - thanks

![simulator screen shot - iphone x - 2019-02-02 at 13 09 45](https://user-images.githubusercontent.com/1459805/52160655-5b745a00-26ec-11e9-8027-7893a71fa7dc.png)
![simulator screen shot - iphone x - 2019-02-02 at 13 10 06](https:/

[2019-02-02 06:16] samber91 commented on #235
i'm using my android phone and iphone as simulators. so you want me to reinstall expo on my phones ?

[2019-02-02 06:17] samber91 commented on #235
Try to place order several times and let me know please , thanks

[2019-02-02 07:43] minhcasi commented on #235
Yes, try to reinstall expo on your phone and make sure your phone could able connect to the internet

We do the second regression test and it looks ok with your config, we will check in few hours to test to see if the session is expired.

[2019-02-02 07:45] samber91 commented on #235
I have wifi at home and my internet is okay. I don’t really know why it is
acting like this on my side .
Hmmm okay i will do as you say and get back to you. Thank you for your hard
work. Please , try to place order many times and we will see. Thanks

On Sat, Feb 2, 2019 at 2:43 AM Minh Pham <notifications@github.com> wrote:

[2019-02-02 09:12] luyx2412 commented on #240
Hi luyxtran264@gmail.com

[2019-02-02 10:06] ngoyal16 opened #250 "[cestore] do we get source code when purchase from the codecanyon?"
[cestore] do we get source code when purchase from the codecanyon?

[2019-02-02 10:06] ngoyal16 commented on #250
@minhcasi

[2019-02-02 10:08] ngoyal16 commented on #143
any update when it will be

[2019-02-02 17:10] jaksatomovic opened #251 "[ListPro] n.features.join ERROR"
**Required Info (please complete the following information):**
 Product: [ListPro]
Your Purchased Code: [e52cfbdd-f79e-4946-ae15-0daadc94fdfa]

After selecting post
I get red screen error saying:
undefined is not an object(evaluating'n.features.join')

[2019-02-02 22:04] jacobspn commented on #228
okey i solve problem but then i realised cover image was missig:

![screenshot_2019-02-02-22-48-23-500_com inspireui listapp mylisting](https://user-images.githubusercontent.com/44866712/52169718-66a3a600-273d-11e9-889b-23cc353b675e.png)

Then i discovered that i can solve it by adding the feature image each listing:

![5](https://user-images.githubusercontent.com/44866712/52169721-702d0e00-273d-1

[2019-02-03 03:18] minhcasi commented on #235
Thank you @samber91 for replying, I'm trying to reproduce but it still no luck to find out, you can see there are many success COD order from my testing, I'm still keep the debug session on my Mac and will try on tomorrow to see if it is happen the issue -  thank you

[2019-02-03 03:19] minhcasi commented on #250
Yes @ngoyal16 you will got full source code of React Native and the ReacJS web

[2019-02-03 03:19] #250 closed

[2019-02-03 03:59] aviontech commented on #235
Still cant load. Where are the images loaded from? i can see new items (product tile / price and etc) loaded  from my linked Wordpress (Electro site) but the **images just wont load** with this latest version. Previously was working fine.

Please try here is my files : appconfig.json and config.js
[files.zip](https://github.com/inspireui/support/files/2825159/files.zip)

[2019-02-03 11:58] hadi13 opened #252 "[BeoNews] Home showing different post details - fix customize"
In beonews, when I click on a post it shows another one
I have this issue on Android only using expo

Product: [Beonews]
Your Purchased Code: 2b7fa788-ea4d-4d1c-bb3a-4bf22a499783

[2019-02-04 06:27] Pavithran10 opened #253 "[ListApp] Featured icons not working while clicking its occurs error - mylisting theme"
**Mandatory Info (please complete the following information):**
Product:[ListApp]
Version:1.6.1
Theme: MyListing

**Describe the issues**
I need help while selecting each categories list item its redirect to booking page in that page favourites and share icon while clicking it showing the error msg. I've attached that booking page and error page in below link

**Screenshots**
[error pages.zip](htt

[2019-02-04 07:12] hadi13 commented on #252
Any answer?

[2019-02-04 07:39] jaksatomovic commented on #251
Anything?

[2019-02-04 11:11] kaiser2 opened #254 "[MV - MSTORE APP] CAn't add products from front end in Android 8.0 as No gallery permissions ."
Hi

I a very much disappointed by this app. a new issue every second day.
Now this time I can't create a product from app using the new much touted add from front feature they came out . This happens on every phone with android version 8.0 +

I need a fix in hours from now as it is getting terrible to come again and again on here

[2019-02-04 11:17] bobozd opened #255 "[ListApp] 29 EUR listing subtitile"
Hi,

Under one of my listing there is a text - 29 EUR  and I'm pretty sure it's displayed by the ListApp and not my Wordpress backend. How can I remove it? I use my listing theme in WP.
![screen shot 2019-02-04 at 12 17 15](https://user-images.githubusercontent.com/28021993/52205284-d4072200-2876-11e9-99ca-570914f54441.png)

[2019-02-04 11:22] kaiser2 commented on #254
on android 8.0 + it says

you need to allow access to camera roll, but where is that access. it is no where ?

[2019-02-04 11:37] luyx2412 commented on #254
Hi, sorry reply you late. We have a big holiday and come back later.

On Mon, Feb 4, 2019 at 6:22 PM kaiser2 <notifications@github.com> wrote:

[2019-02-04 11:47] jaksatomovic commented on #159
Hi any new about this...i am also having a lot of trouble with making this app work with my site...
like
        const ids = post.features.join(',')
         fetchFeaturesListing(ids)

and all other information when i open specific listing ...i dont even have header image o.O

@thangvo9x  anything?

[2019-02-04 11:57] kaiser2 commented on #254
I can't wait for long holidays to end as I have deadlines here to meet.
I am sorry but then I think I need to look to different app as this is not
helpful

I would seek refunds to this effect if you can't be available for like 4-5
days.

On Mon, Feb 4, 2019, 5:07 PM luyx2412 <notifications@github.com wrote:

[2019-02-04 12:12] luyx2412 commented on #254
Hi @kaiser2 please read the document about permission to looking for the way. https://docs.expo.io/versions/v32.0.0/sdk/permissions/ We will check and support after Feb 2 2019. Now we have a big Tet holiday. Sorry about that https://github.com/inspireui/support/issues/245

[2019-02-04 12:13] jaksatomovic opened #256 "[ListPro] WP REST API Controller not Working Properly!!!"
**Required Info (please complete the following information):**
 - Product: [ListPro]
 - Your Purchased Code: [e52cfbdd-f79e-4946-ae15-0daadc94fdfa]
(we may not reply if you are not our customer)

**Describe the bug**
 After looking into REST API controller i double checked are all api endpoints enabled.
Dispate enabling api endpoint they are empty on request. For example gallery_show images, when

[2019-02-04 12:14] #251 closed

[2019-02-04 12:30] kaiser2 commented on #254
Thanks, but tell me why an Ios error is being showed for an android app.
Camera Roll permissions issue is IOs related no?

On Mon, Feb 4, 2019 at 5:42 PM luyx2412 <notifications@github.com> wrote:

--
Kind Regards
Kausar Ahmad

[2019-02-04 14:00] smsmalex commented on #222
its to long time
whats new??

[2019-02-04 15:01] Rixsta opened #257 "Buzzapp setup issue using CeBuilder with grpc"
Hi Just wondering if you guys can help me get this going I have this error

682 warn @babel/helper-create-class-features-plugin@7.3.0 requires a peer of @babel/core@^7.0.0 but none is installed. You must install peer dependencies yourself.
683 warn @babel/plugin-proposal-class-properties@7.3.0 requires a peer of @babel/core@^7.0.0-0 but none is installed. You must install peer dependencies yoursel

[2019-02-04 15:06] Rixsta commented on #257
Thats after trying to install grpc on its own

[2019-02-04 15:11] Rixsta commented on #257
This is what happens in CeBuilder, it gets stuck at grpc
[https://www.rikibuckingham.com/wp-content/uploads/2019/02/www.rikibuckingham.com_CODE.jpg](url)

[2019-02-04 16:05] minhcasi commented on #235
@aviontech could you try to update the mstore-check and regenerate image thumbnail again - https://inspireui.github.io/mstore-mv/docs/configwordpress - the new version come with new image optimize since version 1.2 to compatible with latest Woocommerce and Wordpress 5.0 - thank you!

[2019-02-04 21:27] Jegufull opened #258 "[Mstore-Pro] I can't build on Android Studio"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2019-02-05 10:20] chad-the-first commented on #212
@thangvo9x

[2019-02-05 11:07] Relimer-Technologies commented on #233
Hi, @minhtruong315 I am also facing the same problem for the M Store Pro... Can you please help me...?

[2019-02-05 14:22] Relimer-Technologies opened #259 "Can not get Categories and Tags"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
M Store Pro
Purchase Code: d98eb201-aba4-4c76-a0a1-cbd67415737d
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
Hello,

Good Evening, I have purchased M Store Pro from Envato. I have done all the basic setup r

[2019-02-05 21:37] trappat opened #260 "[BeoNews] Can someone help me install BeoNews"
**Mandatory Info (please complete the following information):**
 - Product: BeoNews
 - Your Purchased Code: bb904f63-d575-4586-9afd-b7d283e357ff

**Describe the issues**
Trying to install this for my site Melaninterest.com doesnt work. Pics dont pop up. I need help.

[2019-02-05 23:32] jacobspn commented on #228
i solve problems with map and some others, seem that when a lisitng has a review it cant be displayed on the app. Can you help me with some issues pls? @thangvo9x

[2019-02-06 03:07] yudhazp opened #261 "[cebuilder] on mac cannot run ios/android setup"
**Mandatory Info (please complete the following information):**
 - Product: [beonews pro]
 - Your Purchased Code: [6c987899-06d8-4020-af47-6987fe25a784]
(we may not reply if you are not our customer)

helo there..

i got this error when try to RUN IOS SETUP.. on cebuilder for mac

“cebuilder.sh” can’t be opened because Sandbox is not allowed to open documents in Terminal.

what should i do?

![scr

[2019-02-06 09:33] bobozd commented on #255
still no any answer how to remove 29EUR text?

[2019-02-06 11:45] kaiser2 commented on #254
This is not that simple. I have been with this app for past 2 months and invested a lot of time on it and just to fix a simple issue which should never have been in it , it is not just refund i should be granted but a fix.

You should have tested the app in android 8.1 and seen urself if the products are added.
Emulator is not the end , real devices are the real kill.

I want this fixed and a solu

[2019-02-06 11:46] kaiser2 opened #262 "[MV - MSTORE APP] CAn't add products from front end in Android 8.0 as No gallery permissions . #254"
I seek a fix and refund is not a solution

This is not that simple. I have been with this app for past 2 months and invested a lot of time on it and just to fix a simple issue which should never have been in it , it is not just refund i should be granted but a fix.

You should have tested the app in android 8.1 and seen urself if the products are added.
Emulator is not the end , real devices are t

[2019-02-06 15:43] samber91 opened #263 "[MStore MV] CAN NOT CREATE A NEW USER TO CHECK OUT"
purchase code ad1ac976-3e34-4e40-a473-0985df712891
![img_9325](https://user-images.githubusercontent.com/42559522/52353151-f6767800-29fb-11e9-905b-ee924128b6af.JPG)

Hi, please Look at the screenshot. when i try to sign on i get this error . how to solve it ? help thank you

[2019-02-06 16:56] hachikaru commented on #202
that would be perfect please can i know the time GMT that will work for you since our tie aint same

[2019-02-06 19:17] hachikaru commented on #202
i sent you a message via skype please i need your help asap i need to launch the app this monday

[2019-02-07 00:39] dhruva7782 opened #264 "[ListApp] Need help in connecting my wordpress site with listapp"
**Mandatory Info (please complete the following information):**
 - Product: [ListApp]
 - Your Purchased Code: [0a72ecc4-202a-4bfb-8528-ff0a87e54084]

**Describe the issues**
Please help me with installation and connecting my listify site to the listapp.
I am not a coder or developer. I have listify theme running on wordpress. the url is https://whatsder.com
I am working on a windows computer runni

[2019-02-07 01:11] reconshield commented on #264
just follow official documentation : https://inspireui.github.io/listapp/docs/quickstart
they provide complete documentation.dont skip any setting.

[2019-02-07 01:14] dhruva7782 commented on #264
hello,

thanks for the reply,

i tried the documentation, i don't know where i am doing wrong. i am getting expected results. if possible can you please make a video for only listify theme and listapp

thanks,
dhruva

[2019-02-07 01:16] reconshield commented on #264
send screenshot. Inspireui admin will follow up your issue.

[2019-02-07 01:18] dhruva7782 commented on #264
i will start from the beginning again and get the screenshot and share, thanks

[2019-02-07 01:19] reconshield commented on #264
ok..Good Luck!

[2019-02-07 02:58] minhtruong315 commented on #202
Hi @hachikaru I don't see messages you sent. Please check again

[2019-02-07 03:18] minhtruong315 commented on #261
Hi @yudhazp Can you add my skype? I will help you check it via teamview.
my skype is minhtruong315@gmail.com

[2019-02-07 03:20] minhtruong315 commented on #259
Hi @Relimer-Technologies Can you send me AppConfig.json file? I will help you check issue

[2019-02-07 07:21] dhruva7782 commented on #264
hello,

thank you for helping me here. i did exactly the same way it showed in the documentation. i have published the app also. here is the expo link - https://expo.io/@dhruva7691/whatsder-app
now, the issue that i am facing is the app crashes when i click on any listings in the app.

please help
thanks,
dhruva

[2019-02-07 08:31] chad-the-first commented on #212
@thangvo9x I'm still waiting your help so I can develop the application.

[2019-02-07 09:47] valeopay commented on #259
i have the same problem.

[2019-02-07 10:07] Relimer-Technologies commented on #259
[AppConfig.txt](https://github.com/inspireui/support/files/2840258/AppConfig.txt)

[2019-02-07 10:08] Relimer-Technologies commented on #233
I have added you in skype and even ping you

[2019-02-07 10:10] valeopay opened #265 "[Cebuilder] Can not get categories and tags"
**Mandatory Info (please complete the following information):**
 - Product: MStore Multi Vendor
 - Your Purchased Code: c731404c-2710-472a-9f53-590e9399f964

**Describe the issues**
Installing all the wordpress plugins, and now i try to connect the setup and i have the problem "Can not get categories and tags"

**Screenshots**
https://abload.de/img/1a4jw9.jpg
https://abload.de/img/2coj3v.jpg
https

[2019-02-07 11:33] dhruva7782 opened #266 "[listapp] - Problems with expo. TypeError: undefined is not an object (evaluating category image)"
**Required Info (please complete the following information):**
 - Product: [ListApp]
 - Your Purchased Code: [0a72ecc4-202a-4bfb-8528-ff0a87e54084]
(we may not reply if you are not our customer)

**Describe the bug**
Hello i am unable to get categories working in expo. All the options are working fine, but when clicked on categories in the bottom bar -  i get the error
![listapp error](https://use

[2019-02-07 12:20] jane207593 opened #267 "[ListApp] App immediately disconnects when run on browser"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any

[2019-02-07 13:32] jane207593 commented on #9
When i want to run app using CeBuilder then before connecting app is disconnected!
and if i want to install npm packages always find this error.
![image](https://user-images.githubusercontent.com/47419219/52414156-5ad12e80-2b05-11e9-9319-6600ea8a3f9c.png)
![image](https://user-images.githubusercontent.com/47419219/52414425-172af480-2b06-11e9-939d-8b4a2ac37c7a.png)
![image](https://user-images.gith

[2019-02-07 16:59] lpzczar opened #268 "[BeoNews] Login button does not open"
Purchase code: a935fd39-69e1-4768-bd83-d5e30451f909
BeoNews

**In the bookmarks section when I click on the login button does not work.

***screenshot
http://www.digitalsnd.com.mx/wp-content/uploads/2019/02/s1.png

***config.js file

/** @format */

import Constants from './Constants'

export default {
  /**
   * There are so many choices from the marketplace mobile app, we thank you for choosing

[2019-02-07 17:11] minhcasi commented on #268
@lpzczar just update that we received your ticket and the team will back to check after the holiday on Monday - thank you!

[2019-02-07 17:12] minhcasi commented on #267
Just update that we received your ticket and the team will back to check after the holiday on Monday - thank you!

In the meantime, please share your detail screenshots

[2019-02-07 17:13] minhcasi commented on #266
Hi, just update that we received your ticket and the team will back to check on Monday (after the Tet holiday), sorry for the delay - thank you!

[2019-02-07 17:14] minhcasi commented on #265
Hi, just update that we received your ticket and the team will back to check on Monday (after the Tet holiday), sorry for the delay - thank you!

[2019-02-07 17:15] minhcasi commented on #263
Hi, just update that we received your ticket and the team will back to check on Monday (after the Tet holiday), sorry for the delay - thank you!

[2019-02-07 17:17] minhcasi commented on #262
Hi, could you share your config js file and the screenshot, please

The team will back to check on Monday (after the Tet holiday), sorry for the delay - thank you!

[2019-02-07 17:17] minhcasi commented on #260
Hi, just update that we received your ticket and the team will back to check on Monday (after the Tet holiday), sorry for the delay - thank you!

Could you help to share your detail screenshot please

[2019-02-07 17:19] minhcasi commented on #258
Hi, just update that we received your ticket and the team will back to check on Monday (after the Tet holiday), sorry for the delay - thank you!

[2019-02-07 17:19] minhcasi commented on #256
Hi, just update that we received your ticket and the team will back to check on Monday (after the Tet holiday), sorry for the delay - thank you!

[2019-02-07 17:19] minhcasi commented on #255
Hi, just update that we received your ticket and the team will back to check on Monday (after the Tet holiday), sorry for the delay - thank you!

[2019-02-07 17:21] minhcasi commented on #252
Hi, could you share the screenshot please, it's confused with the bug description, please also share your config file - thank you!

Just update that we received your ticket and the team will back to check on Monday (after the Tet holiday), sorry for the delay - thank you!

[2019-02-07 17:22] minhcasi commented on #264
Hi, just update that we received your ticket and the team will back to check on Monday (after the Tet holiday), sorry for the delay - thank you!

[2019-02-07 18:18] kaiser2 commented on #262
Ask Thang ( Tony ) to follow this with me on Skype. He is on my contact
list.

On Thu, Feb 7, 2019, 10:47 PM Minh Pham <notifications@github.com wrote:

[2019-02-07 19:54] yassineallami opened #269 "i can t download the xde"
i can t download the xde
 - Product: Mstore Shopify - Complete React Native template for e-commerce
 - Your Purchased Code: a7f2fb94-25f6-4249-99c9-82a47b89d9f7

i can t download the xde

[2019-02-08 00:09] AbanoubReact opened #270 "[MStore] problem in RTL and changing logo and splash screen"
**Mandatory Info (please complete the following information):**
 - Product: [ MStore]
 - Your Purchased Code: 8b86468a-13a0-49b3-afb2-68a30e59cb2f

**Describe the issues**
I have two problems:
firstly the RTL :
I set default RTL and it firstly not work the app is ltr and I need to exit and open app again to make it RTL,
my customer will not be happy with that I need the RTL is active when I open t

[2019-02-08 01:36] AbanoubReact commented on #270
Oh I forgot there are other issue
I can't register any Account
I am sure method of get nonce is works I tested it via Post man and get the nonce
and test it on website from browser my link is derarstore.com and it works
but the app didn't get the nonce before making registry request
![screenshot_1549625638](https://user-images.githubusercontent.com/47436634/52454047-ebf0d700-2afe-11e9-88e1-1369b01

[2019-02-08 04:16] salcad opened #271 "CEStore 1.3.0 npm start error"
Hi,

I tried to run the CEStore 1.3.0 Web using the "npm start" command and I found the following error

C:\ReactjsLabs\CeStore-1.3.0\Source\web> npm start

[start-store]
[start-store] > cezerin@0.33.0 start-store C:\ReactjsLabs\CeStore-1.3.0\Source\web
[start-store] > node -r esm dist/store/server/index.js
[start-store]
[start-api]
[start-api] > cezerin@0.33.0 start-api C:\ReactjsLabs\CeStore-1.3

[2019-02-08 06:34] Pavithran10 commented on #253
Anybody is there? I didn't get any solution for this error....

[2019-02-08 13:42] pitter1104 opened #272 "[BeoNews] Android Studio open and get this error messages"
Hello, I have everything installed according to instructions (on the CeBuilder). Have the app with Androis Studio open and get these error messages:
![androis-studio-error](https://user-images.githubusercontent.com/39645285/52481729-9e807280-2baf-11e9-9cd1-62bc7d5d587f.jpg)
![androis-studio-error](https://user-images.githubusercontent.com/39645285/52481747-a9d39e00-2baf-11e9-8601-33c0dea276f4.jpg)

[2019-02-08 21:41] Foxxerman opened #273 "[MStore MV] Product Variations not working"
**Mandatory Info (please complete the following information):**
 - Product: [MStore Multi-vendor]
 - Your Purchased Code: [bfab9b07-5fe7-452b-9b5b-ff3a842c730a]
(we may not reply if you are not our customer)

**Describe the issues**
1) How can I set minimum purchase quantity for products?
2) Price doesn't change when selecting variations
3) The URL of your installation document is invalid

**Scree

[2019-02-09 03:12] minhcasi commented on #269
Hi, sorry for the confuse, please download the new expo tool (https://expo.io/tools) via terminal: npm install expo-cli --global

Then simply start the project by: yarn install && expo start

Let us know if it does not work and reopen the issue

Thank you!

[2019-02-09 03:12] #269 closed

[2019-02-09 03:12] minhcasi commented on #270
Hi, just update that we received your ticket and the team will back to check on Monday, sorry for the delay - thank you!

[2019-02-09 03:13] minhcasi commented on #271
Hi, just update that we received your ticket and the team will back to check on Monday (after the Tet holiday), sorry for the delay - thank you!

[2019-02-09 03:14] minhcasi commented on #272
Hi, just update that we received your ticket and the team will back to check on Monday, sorry for the delay - thank you!

[2019-02-09 03:15] minhcasi commented on #273
Hi, just update that we received your ticket and the team will back to check on Monday, sorry for the delay - thank you!

[2019-02-09 03:18] AbanoubReact commented on #270
There are another issue in countries in rtl version
There are no countries name just flags with no name

[2019-02-09 03:27] minhcasi commented on #222
Hi @smsmalex - we're sorry for the delay as the team is having the Tet holiday in this whole week, they will back to work on next week - thank you!

[2019-02-09 11:43] smsmalex commented on #222
Ok Happy New Year :)

[2019-02-09 16:03] valeopay commented on #259
you find an solution?

[2019-02-09 16:32] nghonyuen opened #274 "[MSTORE-MV] Unable to Proceed with Payment"
**Required Info (please complete the following information):**
 - Product: MStore MV
 - Your Purchased Code: 34a1d23d-c198-4cd8-beec-b4d0881c6437
(we may not reply if you are not our customer)

**Describe the bug**
When trying to complete a purchase it throws the attached error. We are currently using PayPal checkout

**Screenshots**
![img_1863](https://user-images.githubusercontent.com/47480781/5

[2019-02-09 16:35] nghonyuen opened #275 "[MSTORE-MV] Undefined is not an Object (Vendor.Banner)"
**Required Info (please complete the following information):**
* Product: MStore MV
* Your Purchased Code: 34a1d23d-c198-4cd8-beec-b4d0881c6437
  (we may not reply if you are not our customer)

**Describe the bug**
Our backend is WooCommerce & WooCommerce Marketplace (WCMP). When trying to connect to it, the product & categories listing is perfect. However, if I navigate to the Vendor Tab (under c

[2019-02-09 16:42] nghonyuen opened #276 "[MSTORE-MV] Product Variations & Grouped Product not working"
**Required Info (please complete the following information):**
 - Product: MSTORE-MV
 - Your Purchased Code: 34a1d23d-c198-4cd8-beec-b4d0881c6437
(we may not reply if you are not our customer)

**Describe the bug**
When vendor selling grouped product or product with variation, the additional options are not shown in the mobile page

**Screenshots**
Let me know what screenshots required. Thanks

**

[2019-02-09 17:13] smsmalex commented on #222
i ask to refund my amount for next reason
1- Two weeks so far I have to try my problem without a result.
2-The images in the application do not match the codes they sell
3- I think you could not solve the problem by proof that you asked to replace files in the source again without result
4- Any comment I write, you review and hide it and this is misleading
you ignores all my messages and replies t

[2019-02-09 17:34] milotsheholli opened #277 "[MStore] Register User not working"
**Mandatory Info (please complete the following information):**
 - Product: MStore
 - Your Purchased Code: 55d9da3e-c5ee-495c-a756-9bbe1c8159ca
(we may not reply if you are not our customer)

**Describe the issues**
I have connected my app with website (on website i have installed wordpress site you provided on github so it was already configured how you configured. Everything works good, product

[2019-02-09 17:57] minhcasi commented on #222
Kindly refund from this link - https://help.market.envato.com/hc/en-us/articles/202821460-Can-I-Get-A-Refund- - thanks

[2019-02-09 17:57] #222 closed

[2019-02-10 03:31] AbanoubReact commented on #270
![screenshot_1549769453](https://user-images.githubusercontent.com/47436634/52529125-40cc5300-2ca1-11e9-9e62-2bd79f457d6e.png)

[2019-02-10 07:13] AbanoubReact commented on #270
![screenshot_1549782764](https://user-images.githubusercontent.com/47436634/52530831-45ecca80-2cc0-11e9-8d7d-18bb59f42da6.png)

[2019-02-10 07:54] hadi13 commented on #252
check this apk [https://ufile.io/kekb5](https://ufile.io/kekb5) and see how app is behaving, although I set it to RTL, but it is showing LTR, and when you click on post and the you go back and click on another post it shows the post you clicked first,

[2019-02-10 08:40] hadi13 commented on #252
also there is an issue with new regeneration or logging in

[2019-02-10 08:47] thangvo9x commented on #276
Hi. Thanks for your purchase. Can you provide a screenshot, AppConfig.json file, plz?

[2019-02-10 08:48] thangvo9x commented on #274
Hi. Please check your connection and how the other payments?

[2019-02-10 08:56] thangvo9x commented on #239
Hi. you can try update content each pos for content in its.

[2019-02-10 08:58] thangvo9x commented on #228
Yes. The reviews can't be displayed on your app? i'll check it. @jacobspn

[2019-02-10 10:38] nghonyuen commented on #276
Please find the below
<img width="532" alt="screenshot 2019-02-10 at 6 35 00 pm" src="https://user-images.githubusercontent.com/47480781/52532604-f3b0b580-2d62-11e9-9de3-ab230710f559.png">

[2019-02-10 10:41] nghonyuen commented on #274
Hi

Quite positive the connection is working fine. Cause this can be consistently reproduced (so far) and every time I need to reach this stage I believe the system have to retrieve the product list from the WC host.

Updates: The above was tested on an iPhone, I try again today on an Android phone and it show a Page Not Found response from my WC sites. If you can guide me to how your front end co

[2019-02-10 10:42] nghonyuen commented on #275
Hi

May I know if there's any update on this?
Cheers. :)

[2019-02-10 10:50] nghonyuen opened #278 "[MSTORE-MV] Customising the Link to the left hand menu"
**Mandatory Info (please complete the following information):**
* Product: MSTORE-MV
* Your Purchased Code: 34a1d23d-c198-4cd8-beec-b4d0881c6437
  (we may not reply if you are not our customer)

**Describe the issues**
I don't think it is a bug but more to I am having trouble finding the right documentation to guide me.
May I know how to I, edit the link to the below?
![img_1897](https://user-imag

[2019-02-10 12:51] thangvo9x commented on #274
Hi. You can try by create a page with Template Name is "Page Custom Template". Thanks

[2019-02-10 13:09] nghonyuen commented on #274
Thanks, may I know if any shortcode/page id etc to be configured? Thanks
Did a quick try result as below:

[2019-02-10 13:55] WebHotOver opened #279 "Installation and configuration of android application"
Can someone install it for me and configure the application? and send me the apk applications ready for use ...

[2019-02-10 14:27] dhruva7782 commented on #266
Hello,

Any update on the issue please?

Regards,
Dhruva

[2019-02-11 01:23] minhcasi commented on #279
Hi sorry, this is not included from our support scope and the license - thank you!

[2019-02-11 01:23] #279 closed

[2019-02-11 01:26] thangvo9x commented on #278
Hi. Please provide me your facebook App Id. such as AppConfig.json file , i'll be config it help you. Thanks

[2019-02-11 02:16] thangvo9x commented on #223
Hi. you can run the plugin https://vi.wordpress.org/plugins/regenerate-thumbnails/
The app default is getting feature image from your website.
Thanks

[2019-02-11 02:19] #180 closed

[2019-02-11 02:21] thangvo9x commented on #266
Hi. Send me your AppConfig.json file to email thang@inspireui.com with a subject is #266. Thanks

[2019-02-11 02:22] luyx2412 commented on #272
Hi @pitter1104

- The first ERROR, you can read the article https://github.com/react-native-community/react-native-localize/issues/16 to fix the issue.
- And another WARNING, you do not care about it. It is just the warning.

Thanks

[2019-02-11 02:29] luyx2412 commented on #277
Hi @milotsheholli
I tested your AppConfig.json and it worked sign up feature normal. So can you test again your app?

Thanks

[2019-02-11 02:53] thangvo9x commented on #241
@mohamedsaad1

[2019-02-11 03:04] thangvo9x commented on #255
Hi. Thanks for your purchase. You can try by removing this block as attach.
<img width="580" alt="attach" src="https://user-images.githubusercontent.com/23457178/52544619-5d24d880-2de4-11e9-98ba-81217347c256.png">

[2019-02-11 03:07] thangvo9x commented on #256
Hi. They're working fine. Please refer detail more here:
https://inspireui.github.io/listpro/docs/quickstart
Thanks

[2019-02-11 03:11] thangvo9x commented on #262
Hi. Please share the AppConfig.json file and screenshot.

[2019-02-11 03:13] thangvo9x commented on #267
Hi. Can you share screenshots, such as purchase code, AppConfig.js file? The team will check to help you.
Thanks

[2019-02-11 03:16] thangvo9x commented on #274
Hi. I can't view your image. You have only move to Pages menu create a page with Template Name is "Page Custom Template".

[2019-02-11 03:18] thangvo9x commented on #38
Fix Unable to Proceed with Payment or 404 Not Found when Checkout
Go to admin page -> Pages menu item -> create a page with Template Name is "Page Custom Template".

[2019-02-11 03:20] thangvo9x opened #280 "MMV - FAQ"
Fix Unable to Proceed with Payment or 404 Not Found when Checkout
=> Solution: Go to admin page -> Pages menu item -> create a page with Template Name is "Page Custom Template".

[2019-02-11 03:21] #280 closed

[2019-02-11 03:21] thangvo9x commented on #1
[MMV] Fix Unable to Proceed with Payment or 404 Not Found when Checkout
=> Solution: Go to admin page -> Pages menu item -> create a page with Template Name is "Page Custom Template".

[2019-02-11 03:21] thangvo9x commented on #274
Please refer https://github.com/inspireui/support/issues/1#issuecomment-462210490

[2019-02-11 03:21] #274 closed

[2019-02-11 03:25] milotsheholli commented on #277
Hello,
I just tried again and same error i cant get rid of it i tried everything.
Here is video also, showing that login works only register doesnt work, if it works to you with my appconfig can you send me all code please. And with what user you tried to register i see test1@gmail.com on my wordpress is that you.
Here you can download my video (screen record):
https://we.tl/t-1n0a3ppEje

Thanks!

[2019-02-11 03:29] thangvo9x commented on #275
Hi. Try by update the info of vendor. If it is not working. please check your api.
https://inspireui.github.io/mstore-mv/
Thanks

[2019-02-11 03:35] luyx2412 commented on #270
Hi @AbanoubReact i noted your issue and fix with next version.

Thanks

[2019-02-11 04:00] mohamedsaad1 commented on #241
Unfortunately, you tried more than once and the same error still exists

Is there another way to run the app?

I hope there is a better explanation and consideration that not all of us have the same experience.

[2019-02-11 04:08] Pavithran10 commented on #253
hi, I need a help. please, check my error.

[2019-02-11 04:12] luyx2412 commented on #258
Hi @Jegufull Please read the article to fix your issue https://github.com/google/ExoPlayer/issues/3168.

Thanks

[2019-02-11 04:14] luyx2412 commented on #240
HI @hammadhassan we just came back our work. Let me check and reply you soon.

Thanks

[2019-02-11 04:14] kaiser2 commented on #262
Join me on skype

On Mon, Feb 11, 2019, 8:41 AM thangvo9x <notifications@github.com wrote:

[2019-02-11 04:17] Pavithran10 commented on #239
Thanks for your reply. what want to i need to update mylisting theme or all over the listapp

[2019-02-11 04:18] thangvo9x commented on #239
https://github.com/inspireui/support/issues/253

[2019-02-11 04:18] #239 closed

[2019-02-11 04:20] thangvo9x commented on #184
Featured images not be displayed  on your app .
=> Solution : Run Regenerate Thumbnails plugins here
https://wordpress.org/plugins/regenerate-thumbnails/

[2019-02-11 04:20] Pavithran10 commented on #253
sry, I checked your comment.

[2019-02-11 04:26] kaiser2 commented on #262
Hello can we speed it up I have been waiting for 10 days now.

[2019-02-11 04:35] thangvo9x commented on #244
You can refer solution here
 https://github.com/inspireui/support/issues/184#issuecomment-462216200

[2019-02-11 04:38] thangvo9x commented on #184
Don't display price on your app .
Solution: Go to App/Containers/PostDetail/ListingDetail.js
remove this block
<img width="580" alt="remove-price" src="https://user-images.githubusercontent.com/23457178/52546415-8861f480-2df1-11e9-89e2-d4256c0cce5b.png">

[2019-02-11 04:42] thangvo9x commented on #263
Hi. Please install as guide https://inspireui.github.io/mstore-mv. And active them.
Thanks

[2019-02-11 04:45] samber91 commented on #263
I did everything said there. Nothing works!!

On Sun, Feb 10, 2019 at 11:42 PM thangvo9x <notifications@github.com> wrote:

[2019-02-11 04:45] Pavithran10 commented on #253
hi, In booking categories list page favourite icon is not working. it shows error.
![list booking1](https://user-images.githubusercontent.com/46148046/52546508-fa344100-2de5-11e9-81a0-ca8b0dd60541.jpg)
![favourites icon err](https://user-images.githubusercontent.com/46148046/52546512-ff918b80-2de5-11e9-987b-606229335c70.png)

[2019-02-11 04:48] luyx2412 commented on #268
HI @lpzczar Can you provide your Beonews version? i just checked in own code which worked normal.

Thanks

[2019-02-11 04:48] thangvo9x commented on #264
Hi. Thanks for your purchase. Pleas send screenshots help me such as AppConfig.json to thang@inspireui.com
Thanks

[2019-02-11 04:50] thangvo9x commented on #253
Hi. This is a bug . We'll update it ASAP. Thanks for your value feedback.

[2019-02-11 04:55] thangvo9x commented on #184
Problem props.onPress is not a function
=>Solution: Replace this file to folder App/Components/Button/
P/s: And REMEMBER that replace *.txt -> *.js
[Button.txt](https://github.com/inspireui/support/files/2849865/Button.txt)

[2019-02-11 04:55] thangvo9x commented on #253
Try this way
https://github.com/inspireui/support/issues/184#issuecomment-462219650
Thanks

[2019-02-11 05:04] thangvo9x commented on #223
The app is getting featured image for display front page. We've only use Listing Gallery for display image (single listing). you must edit code if you want to using feature image. you can go to App/Components/Detail/Header/index.js
and edit it. Thanks

[2019-02-11 05:04] #223 closed

[2019-02-11 05:05] Pavithran10 commented on #253
I checked your link. In that i need to changed that button.txt code into button.js page

[2019-02-11 05:12] nghonyuen commented on #274
Hi,

Tried to follow your recommendation. However, I notice the below:
1. If I create a new page with template name = Page Custom Template, it will says Update Failed
2. If I do a quick edit and modify it, while it doesn't throw and error, it actually does not save the template name changes
<img width="1440" alt="screenshot 2019-02-11 at 1 09 51 pm" src="https://user-images.githubusercontent.com/4

[2019-02-11 05:25] nghonyuen commented on #278
Please ignore my request on the Shop, News, About Us & Contact Us. Strangely, after I rebuild, it takes effect. As for Facebook App ID,  I tried the below in Config.js:

appFacebookId: "2222222222222",
  CustomPages: {
    contact_id: 2,
    about_us: 2,
  },

I will send you the file & actual ID separately. Thanks

[2019-02-11 05:26] nghonyuen commented on #278
FB App ID: 2499249650146109

[2019-02-11 05:33] jane207593 commented on #267
[51067466-listapp-listing-directory-mobile-app-by-react-native-license.pdf](https://github.com/inspireui/support/files/2849922/51067466-listapp-listing-directory-mobile-app-by-react-native-license.pdf)

![screen shot 2019-02-11 at 10 30 44 am](https://user-images.githubusercontent.com/47419219/52547285-729c0180-2de8-11e9-8ec5-b1390915b8af.png)

[2019-02-11 05:37] jane207593 commented on #267
[cosumer key.pdf](https://github.com/inspireui/support/files/2849941/cosumer.key.pdf)
[51067466-listapp-listing-directory-mobile-app-by-react-native-license.pdf](https://github.com/inspireui/support/files/2849942/51067466-listapp-listing-directory-mobile-app-by-react-native-license.pdf)

[2019-02-11 05:52] nghonyuen commented on #275
Hi

Are you referring to the below? I have ensure almost everything is filled up but error still happens.

<img width="1440" alt="screenshot 2019-02-11 at 1 51 02 pm" src="https://user-images.githubusercontent.com/47480781/52547661-28287e00-2e04-11e9-8c76-ee004954c7b1.png">
<img width="1440" alt="screenshot 2019-02-11 at 1 50 59 pm" src="https://user-images.githubusercontent.com/47480781/52547662-

[2019-02-11 05:54] jane207593 commented on #267
When will I get response?

[2019-02-11 06:32] winechit1989 opened #281 "[CeBuilder] Can't see all Categories and Tags in Dropdown list"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
Can't see all Categories and Tags in Dropdown list in CeBuilder

**Screenshots**
[
<img width="493" alt="screen shot 2019-02-11 at 12 56 37" src="https://user-images

[2019-02-11 07:00] minhtruong315 commented on #233
Hi @Relimer-Technologies , Can you add my skype me again? my skype is minhtruong315

[2019-02-11 07:01] minhtruong315 commented on #257
Hi @Rixsta Can you add my skype? I will help you check it via teamview.
my skype: minhtruong315

[2019-02-11 07:08] minhtruong315 commented on #259
Hi @Relimer-Technologies I can not access this site: https://rasp.beginoninternet.com
is it working?

[2019-02-11 07:13] minhtruong315 commented on #265
Hi @valeopay , I checked your config, Consumer Secret is invalid. pls check consumerKey and consumerSecret again

[2019-02-11 07:14] minhtruong315 commented on #271
Hi @salcad Can you add my skype? I will help you check issues via teamview.
my skype: minhtruong315

[2019-02-11 08:20] Pavithran10 opened #282 "[ListApp]Featured images not visible in home and catagory inside list item missing."
**Mandatory Info (please complete the following information):**
Product:[ListApp]
Version:1.6.1
Theme: MyListing

**Describe the issues**
In Listapp-mylisting theme featured image is not visible in home and catagory list page [note: internal catagory content is missing]. From our side i changed some catagoryid in config.js file in mylisting theme but no change is happen. I've attend the error vide

[2019-02-11 08:38] hadi13 commented on #252
moreover, comments are not delivered to admin panel ???

[2019-02-11 10:44] bugToaster opened #283 "[Mstore pro] Couldn’t app run directly by run react-native run-android. It shows error"
**Required Info (please complete the following information):**
 - Product: MStore App
 - Your Purchased Code: 0031538f-de1d-427d-9e46-a183d5a1f1c2

**Describe the bug**

         Starting: Intent { cmp=com.inspireui.mstorepro/.MainActivity }
           java.lang.SecurityException: Permission Denial: starting Intent { flg=0x10000000
          cmp=com.inspireui.mstorepro/.MainActivity } from null (p

[2019-02-11 11:12] minhcasi commented on #281
noted for checking the limit from the categories view.

@winechit1989 - could you let us know which the product that you are using?

[2019-02-11 11:14] thangvo9x commented on #228
Hi, you can approve that comment to display it.

[2019-02-11 12:15] milotsheholli commented on #277
Hello, i installed reactotron and from what i see i have an error with api, response status 409
But when i try to execute the url it shows an array, but with api it returns null
http://divaxo.shop/api/get_nonce/?controller=mstore_user&method=register
this url.

[2019-02-11 13:29] Rixsta commented on #257
Thanks I have added you, got to go out now but Im thinking of reinstalling my windows and then using CeBuilder on its own to set things up from scratch. As this setup had been done by me not using CeBuilder.
Do I need to install teamview ?
Thanks

[2019-02-11 13:41] valeopay commented on #265
@minhtruong315 where i can find the correct Secret code?

[2019-02-11 14:04] pitter1104 commented on #272
Now the next Error
![next error](https://user-images.githubusercontent.com/39645285/52568160-44311d00-2e0e-11e9-9fc4-49e90bdb310f.jpg)

[2019-02-11 14:04] pitter1104 commented on #272
can you help me?

[2019-02-11 14:09] kaiser2 commented on #262
I am sorry but this is totally un-ethical. You can't handle the fix requests and this ticket has been open for 6 days now and still no response or fix at all.

Develop one app and provide a dedicated support to it rather than developing a bunch and then going AWOL

[2019-02-11 14:16] Foxxerman commented on #273
Hi, any updates?
    Minh Pham (<notifications@github.com>) 在 2019年2月9日 星期六 上午11:15:37 [GMT+8] 寫道：

Hi, just update that we received your ticket and the team will back to check on Monday, sorry for the delay - thank you!

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-11 14:21] DNeelanshi opened #284 "[ListApp] Unable to Customize home page banner"
**Required Info (please complete the following information):**
 - Listapp
 - Your Purchased Code: https://codecanyon.net/item/listapp-listing-directory-mobile-app-by-react-native/21456447?s_rank=3
[Config.zip](https://github.com/inspireui/support/files/2851418/Config.zip)

(we may not reply if you are not our customer)

**Describe the bug**
I have purchased code and want to Customize home page ban

[2019-02-11 17:00] nghonyuen commented on #274
Updates, managed to fix by installing WP Classic Editor. With the classic version, can change the page attribute to Page Custom Template and it flows to the next screen.

2nd mistake I made is the name of the page seem plays a part. store-checkout is the right name according to https://docs.mstore.io

[2019-02-11 19:20] lpzczar commented on #268
version 2.9.2

[2019-02-12 00:06] thangvo9x commented on #274
Yes. url should be mstore-checkout. refer https://docs.mstore.io/faq-and-troubleshooting.

[2019-02-12 02:17] thangvo9x commented on #282
Hi. Can you send me your AppConfig.json to checking, plz?

[2019-02-12 02:20] thangvo9x commented on #278
Ah. Because your app Facebook has been created && it wasn't login in anywhere. Please login another ways(docs on facebook dev) and re-try. The problem is coming from your facebook app.

[2019-02-12 02:22] #255 closed

[2019-02-12 02:23] thangvo9x commented on #256
@jaksatomovic  How ? let me know

[2019-02-12 02:23] #256 closed

[2019-02-12 02:24] luyx2412 commented on #283
Hi @bugToaster Please open Android studio to run your project which help fixing some issue.

Thanks

[2019-02-12 02:24] thangvo9x commented on #253
It'll fix the error "props.onPress is not a function" when clicking on heart button.

[2019-02-12 02:29] #244 closed

[2019-02-12 02:29] #253 closed

[2019-02-12 02:30] luyx2412 commented on #272
HI @pitter1104 Please read the article to fix your issue https://medium.com/@adityasingh_32512/solved-unable-to-load-script-from-assets-index-android-bundle-bdc5e3a3d5ff

Thanks

[2019-02-12 02:32] luyx2412 commented on #240
HI @hammadhassan Please download MStore Pro new version 3.6.8 which fixed your issue.

Thanks

[2019-02-12 02:32] thangvo9x commented on #184
Categories screen can't get images.
=>Solution: Comment line 112 at App/Containers/Categories/index.js

[2019-02-12 02:33] thangvo9x commented on #266
Hi. I noted your issue here. Please refer
https://github.com/inspireui/support/issues/184#issuecomment-462589678

[2019-02-12 02:33] #266 closed

[2019-02-12 02:34] #235 closed

[2019-02-12 02:36] luyx2412 commented on #268
Hi @lpzczar Because your code changed which different to me. So please using react-native-debugger to check your issue. https://docs.mstore.io/api-and-project-structure#debug-app-with-reacttotron, and using debug UI https://streetsmartdev.com/debugging-react-native-expo-using-react-native-debugger/

Thanks

[2019-02-12 02:37] thangvo9x commented on #267
Hi. @@. You missed, you should send us your AppConfig.json with your domain to checking.
Thanks.

[2019-02-12 02:40] thangvo9x commented on #241
Hi. Can you send me your project with the zip file for checking, plz?

[2019-02-12 02:41] #228 closed

[2019-02-12 02:41] trappat commented on #260
How much longer?

On Thu, Feb 7, 2019 at 12:27 PM Minh Pham <notifications@github.com> wrote:

[2019-02-12 02:44] luyx2412 commented on #277
Hi @milotsheholli Please uninstall the app on your device or simulator and reinstall again. Because i checked again your config which worked normal.
https://www.screencast.com/t/mGZxuAcUd7sS

Thanks

[2019-02-12 02:45] thangvo9x commented on #273
Hi. You can try to go to src/containers/Detail/index.js line 81 => uncomment it and restart the app.
Thanks

[2019-02-12 02:46] thangvo9x commented on #1
[MMV] Fix Product Variations not be displayed / can't get it
=>Solution: Go to src/containers/Detail/index.js line 81 => uncomment it and restart the app.

[2019-02-12 02:46] thangvo9x commented on #273
Try here https://github.com/inspireui/support/issues/1#issuecomment-462592262

[2019-02-12 02:47] Foxxerman commented on #273
Thanks, will try then
    thangvo9x (<notifications@github.com>) 在 2019年2月12日 星期二 上午10:46:23 [GMT+8] 寫道：

Try here #1 (comment)

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-12 02:48] Foxxerman commented on #1
And I would like to know also how to set minimum quantity for purchasing?

[2019-02-12 02:51] thangvo9x commented on #275
Hi. the follow above image. We can't support with the plugin WCMp. please check again here
https://codecanyon.net/item/mstore-multi-vendor-complete-react-native-template-for-ecommerce/22278924
Support Dokan & https://wordpress.org/plugins/wc-vendors/
Thanks

[2019-02-12 02:55] Foxxerman commented on #273
Hi, may I know how to set the minimum quantity for purchasing?
    Fox Fox (<editorialfox@yahoo.com.hk>) 在 2019年2月12日 星期二 上午10:47:41 [GMT+8] 寫道：

  Thanks, will try then
    thangvo9x (<notifications@github.com>) 在 2019年2月12日 星期二 上午10:46:23 [GMT+8] 寫道：

Try here #1 (comment)

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thre

[2019-02-12 03:01] thangvo9x commented on #284
Hi. you can remove home page banner at config/Listable.js. Try to remove the expo app and re-install.

[2019-02-12 03:04] thangvo9x commented on #276
hi, you can refer here https://github.com/inspireui/support/issues/1#issuecomment-462592262

[2019-02-12 03:18] bugToaster commented on #283
**Below issues are whowing in android studio**

[code]

[2019-02-12 03:25] minhtruong315 commented on #271
Pls check this video: https://www.youtube.com/watch?v=HF1aQzVHEPQ

[2019-02-12 03:25] #271 closed

[2019-02-12 04:02] thangvo9x commented on #263
Hi. Send me your admin for checking. AppConfig.json file.

[2019-02-12 04:28] Pavithran10 commented on #282
Thanks for your reply. I'll send to you

[2019-02-12 05:43] nghonyuen commented on #276
Thanks Product Variation works. But how about Grouped Product? Thanks

[2019-02-12 06:37] Relimer-Technologies commented on #259
It was a subdomain I created for the testing purpose I am sending you the new AppConfig file... I have sent you a message in Skype with Relimer Technologies as a Username... If you can contact me in skype and TeamViewer the project it would be good... I am waiting for your reply... KIndly please provide me with the solution.
[AppConfig.txt](https://github.com/inspireui/support/files/2854382/AppCon

[2019-02-12 07:04] thangvo9x commented on #276
Can u share screenshots, plz ?

[2019-02-12 07:16] nghonyuen commented on #275
Tried using Dokan. Working fine. Except when goes to Category, Vendor, clicking on the individual vendors will throw below error
![img_1933](https://user-images.githubusercontent.com/47480781/52618194-1533ad80-2ed9-11e9-92d2-c573d99215bc.jpg)

[2019-02-12 07:19] nghonyuen commented on #276
Please find below
[Web View] Can select individual quantity per product. Also variation
<img width="1119" alt="screenshot 2019-02-12 at 3 13 58 pm" src="https://user-images.githubusercontent.com/47480781/52618254-46ac7900-2ed9-11e9-8156-0dd527e90305.png">

[Mobile View] Nothing. In addition, the total amount is wrongly set.
![img_1934](https://user-images.githubusercontent.com/47480781/52618316-75

[2019-02-12 07:21] mohamedsaad1 commented on #241
please send to me another e-mail address,
because when I try to send the file, I get this message
Message too large
Your message couldn't be delivered to *support@noreply.github.com* because
it exceeds the size limit. Try reducing the message size and resending.

On Tue, Feb 12, 2019 at 4:41 AM thangvo9x <notifications@github.com> wrote:

[2019-02-12 07:25] thangvo9x commented on #262
Hi. I checked. It's works normal. Can you share screenshot such as which version?
![440c8d19-aa4a-477a-aed0-1f7052bde706](https://user-images.githubusercontent.com/23457178/52618671-0c8ba900-2ed2-11e9-9758-35ea2d251e54.jpg)

[2019-02-12 07:26] thangvo9x commented on #241
thang@inspireui.com noted with your id issue.

[2019-02-12 07:30] thangvo9x commented on #275
Hi. you can replace this file in src/Components/VendorInfo/index.js
Replace with this file.
p/s: rename .txt -> .js
[index.txt](https://github.com/inspireui/support/files/2854590/index.txt)

[2019-02-12 07:30] hammadhassan commented on #240
any update regarding this issue @luyx2412 ?

[2019-02-12 07:31] luyx2412 commented on #240
Hi @hammadhassan please download latest version Mstore Pro to fix your issue. Currently your version is 3.6.7, and the latest version is 3.6.8.

Thanks.

[2019-02-12 07:32] hammadhassan commented on #240
okay. Thanks.

[2019-02-12 07:32] thangvo9x commented on #276
Hi. Please share your AppConfig.json to my email to checking. Thanks.

[2019-02-12 07:38] kaiser2 commented on #262
Test on real device with android 8.0 or 8.1

On Tue, Feb 12, 2019 at 12:55 PM thangvo9x <notifications@github.com> wrote:

--
Kind Regards
Kausar Ahmad

[2019-02-12 08:03] nghonyuen commented on #275
Perfect! Working fine.

[2019-02-12 08:03] #275 closed

[2019-02-12 08:06] nghonyuen opened #285 "[MSTORE-MV] Firebase Chat Setup Instruction"
**Mandatory Info (please complete the following information):**
* Product: MSTORE-MV
* Your Purchased Code: 34a1d23d-c198-4cd8-beec-b4d0881c6437
  (we may not reply if you are not our customer)

**Describe the issues**
Need guide to setup Firebase Chat

**Screenshots**
what we done so far is only to configure, but doesn't seems to work. Thanks

Firebase: {
    apiKey: "xxxxxxxxxxxxxxxxxxxxxxxxxxxx

[2019-02-12 08:09] minhtruong315 commented on #259
Remember to enable WooCommerce Api
https://docs.woocommerce.com/document/woocommerce-rest-api/

[2019-02-12 08:09] #259 closed

[2019-02-12 08:10] thangvo9x commented on #1
[MMV] Can't find variable: Styles
=>Solution: Replace this file in src/Components/VendorInfo/index.js
p/s: rename .txt -> .js
[index.txt](https://github.com/inspireui/support/files/2854590/index.txt)

[2019-02-12 08:15] thangvo9x commented on #262
Hi. We've tested on a real device as an above image.

[2019-02-12 08:15] minhtruong315 commented on #257
Hi @Rixsta Pls add my skype again. minhtruong315

[2019-02-12 08:17] minhtruong315 commented on #233
@Relimer-Technologies resolved this issues. Pls enable WooCommerce Api
https://docs.woocommerce.com/document/woocommerce-rest-api/

[2019-02-12 08:17] #233 closed

[2019-02-12 08:18] #212 closed

[2019-02-12 08:18] minhtruong315 commented on #265
Hi @valeopay, Pls enable WooCommerce Api and generate keys by this link
https://docs.woocommerce.com/document/woocommerce-rest-api/

[2019-02-12 08:18] #265 closed

[2019-02-12 08:18] milotsheholli commented on #277
Hello,
Not that one, that api works good for me too, but the other one where it gets nounce, when you try to register it gets first nounce and that api returns status 409. i tried installing fresh new project many times, i did everything, now i formated my laptop also cuz i read somewhere they said maybe 409 error its because of malware but nothing works.
Again same error, do you mind sending me t

[2019-02-12 08:21] nghonyuen commented on #285
Observation so far, using the default setting, which is mstore firebase database, Buyer can send chat to Seller in the Product Chat link, but not via the Profile's Chat List menu.

On the Seller side, while can see the Buyer name popup in the Chat List, unable to zoom in to see the detail of the Chat.

In additional, there's no notification when a message is received. Please help

[2019-02-12 08:28] #261 closed

[2019-02-12 08:42] winechit1989 commented on #281
BeoNews Pro - React Native mobile app for Wordpress

[2019-02-12 09:01] bobozd commented on #184
With removing this code from above 29EUR text goes away only inside listing itself.
But on the main app page with all listings listed this text still exist.
Please help.

![screen shot 2019-02-12 at 09 59 35](https://user-images.githubusercontent.com/28021993/52623592-fb7c7100-2eac-11e9-96d4-5595d5c785db.png)
![screen shot 2019-02-12 at 09 59 45](https://user-images.githubusercontent.com/28021993/

[2019-02-12 09:03] thangvo9x commented on #184
Go to components/PostLayout/Colum/index.js
remove this block
<img width="576" alt="block" src="https://user-images.githubusercontent.com/23457178/52623794-c3425600-2edf-11e9-86ca-406055651304.png">

[2019-02-12 09:05] luyx2412 opened #286 "test"

[2019-02-12 09:05] #286 closed

[2019-02-12 09:05] bobozd commented on #184
that's it. thanks so much.

[2019-02-12 09:06] luyx2412 opened #287 "test bot"
**We are looking for any contribution to improve the product features and quality, please let us know.**
A clear and concise description of what the idea is. Ex. I would love to have this feature [...]

**Mandatory Info (please complete the following information):**
 - Product: [e.g. Mstore, ListApp]

[2019-02-12 09:06] #287 closed

[2019-02-12 09:06] luyx2412 opened #288 "test bot 1"

[2019-02-12 09:24] #241 closed

[2019-02-12 09:32] herryyip opened #289 "vendor"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2019-02-12 09:39] #288 closed

[2019-02-12 09:41] thangvo9x commented on #276
Oh. We've checked with your Config. We've recorded and integrated with type is grouped product in the next version. First, you can use attributes instead of. Thanks

[2019-02-12 09:44] nghonyuen commented on #276
Thanks, may I know the estimated release date? ThanksOn 12 Feb 2019 5:41 p.m., thangvo9x <notifications@github.com> wrote:Oh. We've checked with your Config. We've recorded and integrated with type is grouped product in the next version. First, you can use attributes instead of. Thanks

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute

[2019-02-12 09:44] thangvo9x commented on #273
Hi. You can enable manage stock quantity on your site.

[2019-02-12 09:44] #273 closed

[2019-02-12 09:52] #245 closed

[2019-02-12 09:55] minhcasi commented on #260
Hi, could you send detailed screenshot to explain what is the issues please, there is no clue to fix the issues

[2019-02-12 09:55] #242 closed

[2019-02-12 09:57] minhcasi commented on #252
Hi, could you send the screenshot of the issues looks like as we could not use your sharing apk - thanks

[2019-02-12 09:58] #243 closed

[2019-02-12 09:59] hadi13 commented on #252
The issue will be shown by image, I will send you my expo project and check, when you click on post first time it shows post details ok, but nect time it shows different

[2019-02-12 09:59] #289 closed

[2019-02-12 10:04] hadi13 commented on #252
Check this video
https://drive.google.com/file/d/1TQ-0f-phKNNiJf5OlNH73AtW-If-GOjE/view?usp=drivesdk

[2019-02-12 10:05] akbarfu1234 opened #290 "[CeBuilder] I am getting error while installing tools"
Hi i am getting this error, please check (https://ibb.co/F6hGkt6)

[2019-02-12 10:07] milotsheholli commented on #277
Hello, im sorry, it was my hosting problem, my ip address is blacklisted from my host idk why, i tried to contact them.
I tried to change host and it worked perfectly.
Thank you! you can close the thread

[2019-02-12 10:15] minhcasi commented on #252
ok, share us your expo link, the google link above is locked - thanks

[2019-02-12 10:27] #240 closed

[2019-02-12 10:29] minhcasi commented on #277
Thank you for your confirmed, let us know if you have any further issues.

Please help us to give good rating feedback to https://codecanyon.net/downloads if the product is useful for your business - very best!

[2019-02-12 10:29] #277 closed

[2019-02-12 10:31] minhcasi commented on #262
Fixed by adding these permission to the app.json

"permissions": [
"CAMERA",
"NOTIFICATIONS",
"CAMERA_ROLL",
"READ_INTERNAL_STORAGE",
"READ_EXTERNAL_STORAGE",
"WRITE_EXTERNAL_STORAGE"
]

Thanks

[2019-02-12 10:31] #262 closed

[2019-02-12 10:31] luyx2412 commented on #283
Hi @bugToaster Please read the article to fix your issue. https://github.com/react-native-community/react-native-localize/issues/16

Thanks

[2019-02-12 10:35] thangvo9x commented on #276
We've planning && note it. We'll have a notice to everyone, ASAP @@
Thanks for your choice of our product.

[2019-02-12 10:35] #276 closed

[2019-02-12 10:38] #278 closed

[2019-02-12 10:41] thangvo9x commented on #282
Hi. email to thang@inspireui.com . I'll configure on your site.

[2019-02-12 10:41] #284 closed

[2019-02-12 10:57] Pavithran10 commented on #282
Thanks, I've attached our site details via mail. please check it.

[2019-02-12 10:59] hadi13 commented on #252
it is here
https://drive.google.com/file/d/11k92feUH5gUsa9ArEj5JFLuavUafXI1I/view?usp=sharing

[2019-02-12 11:00] minhcasi commented on #252
downloaded - we will have a check - thanks

[2019-02-12 11:02] hadi13 commented on #252
check also issue with new regeneration or logging in
issue with comments not delivered to admin panel ???

[2019-02-12 11:32] #257 closed

[2019-02-12 11:32] rajbonsa opened #291 "[Mstore Pro] Issue while checkout and payment gateway"
- Product: [MStore Pro]
 - USer: rajbonsa

**Describe the bug**
There is a problem while pay with razorpay the page showing form filled with address details saying that (Unfortunately we do not deliver to "Country") i tried with all other countries but same issue occurred.

**Screenshots**
Screenshot attached for your reference.

![screenshot_20190211-163109](https://user-images.githubusercontent.

[2019-02-12 12:00] hachikaru commented on #202
i did my skype username is +2348080476828 and the issue am getting is that i should set Expo true in my environment how do i go about it and how do i get the apk

[2019-02-12 12:57] Pavithran10 opened #292 "[CeBuilder]could not able to run the command in run setup after app config.."
**Required Info (please complete the following information):**
 Product:[ListApp]
Version:1.6.1
Theme: MyListing

**Describe the bug**
In CeBuilder app development process can't able to run the command ''expo start" in run setup option while config app project folder.

**Screenshots**
![expo error](https://user-images.githubusercontent.com/46148046/52636827-aadc3680-2ef3-11e9-9984-e5a62b8804e4.PNG

[2019-02-12 13:19] samber91 commented on #263
*Get the config js on this link   :*
https://drive.google.com/open?id=1U7KmsUQChljG0PTX-R-6YtIPfEkv6Rjn

*Wordpress admin *
Direct URL: https://www.maplechap.com/wp-admin
Username: admin
Password: LWFaUypJIqAwb

On Mon, Feb 11, 2019 at 11:02 PM thangvo9x <notifications@github.com> wrote:

[2019-02-12 14:16] hachikaru opened #293 "Trouble setting up Listapp for MyListing"
i opened an issue it has been closed ...please for some weeks now i havent setup the list app tried cebuilder getting errors like SET EXPO TRUE and it stops ...my skype name is live:4c6c034728a42823 please help me

[2019-02-12 14:44] valeopay opened #294 "[Mstore MV] Cant see Categories and Tags."
**Mandatory Info (please complete the following information):**
* Product: MStore Multi Vendor
* Your Purchased Code: c731404c-2710-472a-9f53-590e9399f964

**Describe the issues**
i cant see any category or tag in the boxes. 2. how i can customize the category icons on the home screen?

**Screenshots**
https://abload.de/img/capturevgk09.jpg

[2019-02-12 15:42] pitter1104 commented on #272
Super thank you!
Now running on Android studio, but in emulator I see the website of Beonews and not my website.
I entered the following in config.js:
URL: {
root: 'https: // my-site'
},
Nevertheless, I only see those of Beonews
![beonews](https://user-images.githubusercontent.com/39645285/52647531-34d0d300-2ee5-11e9-8066-78a1a24515e7.jpg)

[2019-02-12 19:26] trappat commented on #260
Photos of blog posts are not showing up. Can you do a skype/teamviewer? screenshare

[2019-02-12 20:20] chad-the-first opened #295 "[listpro] login and register"
**Mandatory Info (please complete the following information):**
 - Product: [ListApp]
 - Your Purchased Code: [65e47917-78fa-4b8e-97ec-80bf8345f72a]
(we may not reply if you are not our customer)

**Describe the issues**
what are the steps that i should make to enable the login, register and register with facebook, I've tried but i can't get it to work.

[2019-02-12 21:48] globe21 opened #296 "[Beonews Pro] Facebook"
**Mandatory Info (please complete the following information):**
 - Product: beonews-pro
 - Your Purchased Code: [2dbba340-dbfd-4d43-bbe3-dfcdb29e3458]
(we may not reply if you are not our customer)

**Describe the issues**
Facebook Sharekit.h file missing
<img width="830" alt="screen shot 2019-02-12 at 1 44 20 pm" src="https://user-images.githubusercontent.com/1266746/52670159-b9fbbe00-2ecc-11e9-9

[2019-02-13 01:03] minhtruong315 commented on #281
I will fix this issue for next update CeBuilder.
Thanks

[2019-02-13 02:34] luyx2412 commented on #290
Hi @akbarfu1234 Please follow the template issue to reproduce issue easier.
https://github.com/inspireui/support/blob/master/.github/ISSUE_TEMPLATE/report-installing-issues.md

Thanks

[2019-02-13 02:35] luyx2412 commented on #292
Hi @Pavithran10 please provide your purchase code.

Thanks

[2019-02-13 02:35] luyx2412 commented on #293
Hi @hachikaru Please follow the template issue https://github.com/inspireui/support/blob/master/.github/ISSUE_TEMPLATE/report-installing-issues.md

Thanks

[2019-02-13 02:40] thangvo9x commented on #295
Can you share screenshots, plz ?

[2019-02-13 02:46] #264 closed

[2019-02-13 02:53] minhcasi commented on #293
@hachikaru as we don't see your feedback on the ticket #202 so that it is closed, i've re-opened it & close this one - thanks

[2019-02-13 02:53] #293 closed

[2019-02-13 02:54] minhcasi commented on #202
@minhtruong315 will contact you - thanks

[2019-02-13 03:10] minhcasi commented on #258
As there is no response, kindly reopen the ticket if you have the issue - thanks

[2019-02-13 03:10] #258 closed

[2019-02-13 03:26] thangvo9x commented on #294
Hi. Thanks for your purchase. Can you share screenshots more, plz? I can't see clearly.
you can edit category icons on AppConfig.json, here http://prntscr.com/mkcq1s
Thanks

[2019-02-13 03:59] winechit1989 commented on #281
The another question is that how can i change App name from BeoFoods.

[2019-02-13 04:10] rajbonsa commented on #291
In our MStore demo app also has a same issue while using razorpay

[2019-02-13 04:27] nghonyuen commented on #285
Hi may I know if there's any update? Thanks

[2019-02-13 04:43] bugToaster commented on #283
I removed, but still same error
[code]

[2019-02-13 04:51] hadi13 commented on #252
Any updates?

[2019-02-13 05:33] Pavithran10 commented on #282
Hi, now the app is working fine. what changes you made in our site creditional. If you don't mind you just say what you done. It is useful for our future reference. Thanks

[2019-02-13 08:05] akbarfu1234 commented on #290
This is my Purchase code: fd6e8992-ad20-495f-9b1a-fa60765b990a

Please see the link:  https://ibb.co/F6hGkt6

[2019-02-13 08:06] akbarfu1234 commented on #290
This is my Purchase code: fd6e8992-ad20-495f-9b1a-fa60765b990a

Please see the link: https://ibb.co/F6hGkt6

[2019-02-13 09:49] Pavithran10 opened #297 "[ListApp] could able to remove account logo in fb.."
**Mandatory Info (please complete the following information):**
Product:[ListApp]
Version:1.6.1
Theme: MyListing

**Describe the issues**
hi, I have doubt in your application that facebook login account page "beo foods" log is fixed. If it is able to change or remove from that place.

**Screenshots**
![account](https://user-images.githubusercontent.com/46148046/52702668-a28f0480-2fa2-11e9-9576-e59

[2019-02-13 11:51] chad-the-first commented on #295
here's the api response
![sketch](https://user-images.githubusercontent.com/17035853/52709799-6bb2f180-2f96-11e9-9ff7-14b7a1787d65.png)

[2019-02-13 12:02] thangvo9x commented on #295
HI. What are your issues? Please screenshot on device

[2019-02-13 12:03] minhcasi commented on #290
@akbarfu1234 - could i check if you are using the window 10? the ceBuilder on support on the window 10 version and above

You may run it manually by using the expo tool from the document guide

[2019-02-13 12:04] chad-the-first commented on #295
It doesn't login
![sketch1](https://user-images.githubusercontent.com/17035853/52710555-49ba6e80-2f98-11e9-92a4-66d4bec78d71.png)

[2019-02-13 12:19] akbarfu1234 commented on #290
I am using windows 7

[2019-02-13 12:19] akbarfu1234 commented on #290
Can you give me link of expo

[2019-02-13 12:29] bobozd opened #298 "[ListApp] Need Help"
![screen shot 2019-02-13 at 13 43 25](https://user-images.githubusercontent.com/28021993/52712870-31495480-2f96-11e9-93ab-9f7cbdc51bba.png)
Listapp Mylisting theme used.

1. When I click on Login Facebook account it asks me for BeoNews facebook page. How can I change iot to my facebook page?

2. When I click on specific listing there is BOOKING button in lower right corner. How can I change it to

[2019-02-13 12:46] chad-the-first commented on #295
and this is what happens when i try to signup

the signup button keep rolling:
![sketch2](https://user-images.githubusercontent.com/17035853/52712714-1844a180-2f9e-11e9-8d70-be3e9a181087.png)

and here's the api response:
![sketch3](https://user-images.githubusercontent.com/17035853/52712751-33afac80-2f9e-11e9-9457-fdb9a4fa3981.png)

[2019-02-13 12:59] hadi13 commented on #252
Guys please reply, I really need the solution asap

[2019-02-13 13:00] nghonyuen opened #299 "[MSTORE-MV] Shipping Charges Error (Show Stopper)"
**Required Info (please complete the following information):**
* Product: MSTORE-MV
* Your Purchased Code: 34a1d23d-c198-4cd8-beec-b4d0881c6437
(we may not reply if you are not our customer)

**Describe the bug**
The bug happens when buyer purchase goods from more than 1 seller. These 2 sellers located in different location, hence is charging different shipping rate even when delivering to the sam

[2019-02-13 13:16] nghonyuen opened #300 "[MSTORE-MV] Shipping Address not Auto Populated from WP"
**Required Info (please complete the following information):**
* Product: MSTORE-MV
* Your Purchased Code: 34a1d23d-c198-4cd8-beec-b4d0881c6437
  (we may not reply if you are not our customer)

**Describe the bug**
When checkout, the address was not auto populated from the user profile.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any ot

[2019-02-13 15:07] minhcasi commented on #290
Please check this link - https://expo.io/tools

You can use this script for installing: npm install expo-cli -g

[2019-02-13 15:08] minhcasi commented on #252
Hi, our team is checking your issues, they will get back on tomorrow - thanks

[2019-02-13 17:56] Foxxerman commented on #273
But it is not working, any ideas?
    thangvo9x (<notifications@github.com>) 在 2019年2月12日 星期二 下午5:44:43 [GMT+8] 寫道：

Hi. You can enable manage stock quantity on your site.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-13 22:30] hakihosting opened #301 "Launch IOS Simulator"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
When i would like run the IOS Simulator  , i have this error
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-i

[2019-02-14 02:14] thangvo9x commented on #298
Hi. Please refer
1. You can change it Config/YourTheme (myListing,...) with name Facebook (logInID)
2. Change it in Common/Languages.js. Calling phone will be auto start when run on real device .
3. such as Common/Languages.js
4. Please refer documents https://wordpress.org/plugins/jwt-authentication-for-wp-rest-api/
5. You can change it Config/YourTheme (myListing,...) with name ListingData for o

[2019-02-14 02:16] thangvo9x commented on #184
Change App Icon Facebook Login
=>Solution: Go to Common/Config/yourtheme(mylisting,...) find section Facebook && logInID && change to your app facebook id
Thanks

[2019-02-14 02:16] thangvo9x commented on #297
HI. Please refer
https://github.com/inspireui/support/issues/184#issuecomment-463458243

[2019-02-14 02:28] thangvo9x commented on #300
Hi. Please update your address on your site. The app has only get data from your app.

[2019-02-14 02:31] luyx2412 commented on #301
Hi @hakihosting Please provide your purchase code.

Thanks

[2019-02-14 02:34] luyx2412 commented on #296
HI @globe21 Please follow the comment to fix your issue https://github.com/facebook/react-native-fbsdk/issues/401#issuecomment-435312536
Thanks

[2019-02-14 02:36] thangvo9x commented on #292
Hi. Please remove node_modules folder && run yarn again.

[2019-02-14 02:37] luyx2412 commented on #272
HI @pitter1104 Please uninstall the app and re-install again. Because we are using redux which cache store.

Thanks

[2019-02-14 02:40] luyx2412 commented on #283
Hi @bugToaster Can you try another way https://stackoverflow.com/a/19829733/6622971 or https://github.com/apptreesoftware/flutter_barcode_reader/issues/41#issuecomment-421316199

Thanks

[2019-02-14 02:41] luyx2412 commented on #291
Hi @rajbonsa Can you provide your Mstore version?

Thanks

[2019-02-14 02:41] #268 closed

[2019-02-14 02:43] rajbonsa commented on #291
V3.6.8

[2019-02-14 02:49] rajbonsa commented on #291
Hi, u can check with MStore Pro demo app, there itself same error. "Unfortunately we do not ship to India" or any countries...

[2019-02-14 03:44] thangvo9x commented on #285
Hi. We'll add a turtorial for setup firebase. Maybe in the next month. Thanks.

[2019-02-14 04:08] #283 closed

[2019-02-14 04:09] bugToaster commented on #283
Thanks

[2019-02-14 04:37] Pavithran10 commented on #297
Thanks, fb logo and name as changed.

[2019-02-14 06:04] Pavithran10 commented on #292
thanks, I will try again

[2019-02-14 06:22] thangvo9x commented on #297
The issue is coming from your Facebook app. please read documents facebook app as a guide.

[2019-02-14 06:22] #297 closed

[2019-02-14 07:50] hadi13 commented on #252
Still??!

[2019-02-14 07:57] Relimer-Technologies opened #302 "[MStore Pro] Banner Layout display only one word of the Product name"
**Mandatory Info (please complete the following information):**

* Product: [e.g. MStore, ListApp]
  M Store Pro
  Purchase Code: d98eb201-aba4-4c76-a0a1-cbd67415737d
* Your Purchased Code: [get from https://codecanyon.net/downloads]
  (we may not reply if you are not our customer)

**Describe the issues**
Hello,

Good Evening, I have purchased M Store Pro from Envato. I have done all the setup re

[2019-02-14 07:58] Relimer-Technologies commented on #302
I am very disappointed with the rash behaviour of @minhtruong315
I need some other executive to solve my problem.
Thank You

[2019-02-14 08:14] bobozd commented on #298
Thanks for help.

6. Is it possible to change background color and text color only on this FIND ON MAP section and how?
![screen shot 2019-02-14 at 09 12 21](https://user-images.githubusercontent.com/28021993/52772479-d9175e80-3038-11e9-97e9-f7069b47a55c.png)

[2019-02-14 08:18] bobozd commented on #298
Also, under Price Per Image section (originaly called Table)
how can I connect my keys (exterior,interior...) with one from the wordpress backend) so it loads correctly?

thanks.
![screen shot 2019-02-14 at 09 17 13](https://user-images.githubusercontent.com/28021993/52772726-85f1db80-3039-11e9-9e95-178d76f6ad39.png)

[2019-02-14 08:30] luyx2412 commented on #291
Hi @rajbonsa Can you provide AppConfig.json and Config.js file?

Thanks

[2019-02-14 08:31] luyx2412 commented on #302
HI @Relimer-Technologies Sorry about that. Can you provide your AppConfig.json and Config.js file?

Thanks

[2019-02-14 08:51] bobozd commented on #255
Hi, I found when I search for listings EUR 29 still exist there...please help me how to remove it from there.
![screen shot 2019-02-14 at 09 48 52](https://user-images.githubusercontent.com/28021993/52774676-1500f280-303e-11e9-875d-e86c2f9efda9.png)
![screen shot 2019-02-14 at 09 49 09](https://user-images.githubusercontent.com/28021993/52774677-1500f280-303e-11e9-934f-6f7dba89fe0f.png)

[2019-02-14 08:54] bobozd commented on #298
I would like under listing thumbnail image to have this
LISTING NAME (like it is now with bolded font)
City, Country - in the same line / not listing description like it is now
how can do this. thanks so much.
![screen shot 2019-02-14 at 09 52 41](https://user-images.githubusercontent.com/28021993/52774822-75902f80-303e-11e9-9e64-f3da9f1c61bb.png)

[2019-02-14 08:54] Relimer-Technologies commented on #302
Hi... @luyx2412  I am providing the AppConfig.json file and Config.js file.

[AppConfig.txt](https://github.com/inspireui/support/files/2864044/AppConfig.txt)

[Config.txt](https://github.com/inspireui/support/files/2864046/Config.txt)

[2019-02-14 08:59] rajbonsa commented on #291
Hi, you can find the app credentials from my wordpress with below
credentials:

Wordpress link: https://amburoutlet.hyfetech.com/wp-login.php
username: admin
Password: 123456

On Thu, Feb 14, 2019, 2:00 PM luyx2412 <notifications@github.com wrote:

[2019-02-14 09:10] jane207593 opened #303 "Installing Plugin"
Hi!
I am facing issue while installing pluging always find that issue, not valid plugins found.
![image](https://user-images.githubusercontent.com/47419219/52775715-23610580-3062-11e9-9c33-72dd1dec363d.png)
please check it!
I am installing the plugins provided in that folder!

[2019-02-14 09:12] minhcasi commented on #252
Hi @hadi13 looks like you guys change a lot of files that caused the issues - see the screenshot list of file change - https://gyazo.com/dd7f78c6947b9a4f7bd73167208f66b8

As this project was modified and most of the feature has been changed that will not include from our support scope

The solution, try to compare with the fresh download to find out the issue by yourself - thanks

[2019-02-14 09:21] hakihosting commented on #301
Item Purchase Code:

ac9d522a-a783-4f9c-a882-7dc694488d5d

De : luyx2412 <notifications@github.com>
Répondre à : inspireui/support <reply@reply.github.com>
Date : jeudi 14 février 2019 à 03:32
À : inspireui/support <support@noreply.github.com>
Cc : hakihosting <contact@haki-hosting.be>, Mention <mention@noreply.github.com>
Objet : Re: [inspireui/support] Launch IOS Simulator (#301)

Hi @hakihostin

[2019-02-14 10:24] hadi13 commented on #252
for sure I will change as what I want, I bought the project for this reason, and your support team should solve the issues if any

[2019-02-14 16:01] juraganwp opened #304 "[MStore Pro] Payment not processing, Cannot detect order-received URL"
- Product: MStore Pro
 - Your Purchased Code: 17780922-7c4e-44ab-a1a8-1156a6b3b3f8

**Describe the bug**
First Bug :
On iOS theres some problem with the payment page, on emulator is fine but some devices when an order is place the browser just processing about 2 seconds and nothing happens.

Tested on two iPhone X with latest update, one of the iPhone can process the payment page successfully the

[2019-02-14 16:10] hakihosting commented on #301
some news ?

[2019-02-14 16:44] minhcasi commented on #303
Hi, this is related to the Wordpress installing plugin, basic issue when installing the Wordpress

try to copy the plugins file to the wp-content/plugins

Or update the wp-config.php and add this line: define('FS_METHOD', 'direct')

[2019-02-14 16:44] #303 closed

[2019-02-15 02:19] samber91 commented on #304
I'm having the same issues . payment problems.  Nobody can place orders. Simulator is fine . but on the device, NO ! Sometimes android won't work.!

[2019-02-15 02:25] luyx2412 commented on #304
Hi @juraganwp Let me check right now and update with next version.

Thanks for your feedbacks.

[2019-02-15 02:35] luyx2412 commented on #301
HI @hakihosting Please follow the comment to fix your issue https://stackoverflow.com/a/44780772/6622971.

Thanks

[2019-02-15 02:37] luyx2412 commented on #291
Hi @rajbonsa I need the AppConfig.json and Config.js file in your folder MStore code without your wordpress admin.

Thanks

[2019-02-15 02:51] luyx2412 commented on #302
HI @Relimer-Technologies What's the second word you want to show?

![image](https://user-images.githubusercontent.com/8909619/52831230-768c9400-3106-11e9-892f-5bf201258a9c.png)
![image](https://user-images.githubusercontent.com/8909619/52831437-38dc3b00-3107-11e9-9288-7acf95b3f3cd.png)

Thanks

[2019-02-15 03:11] rajbonsa commented on #291
Hi, you would have ask while i posted WordPress admin credentials , why you are taking so much time to reply.
I am sharing 2 files now (config and appconfig in zip format) Thanks

[config.zip](https://github.com/inspireui/support/files/2867688/config.zip)

[2019-02-15 03:30] luyx2412 commented on #270
Hi @AbanoubReact Can you provide your AppConfig.json and Config.js file? i just tested your issues which worked normal.

Thanks

[2019-02-15 04:56] Pavithran10 commented on #292
Hi, Few days before I sended our site credentials for config purpose. you also fixed it and solved the problem. Regarding that comment I send you further reply for that comment in mail but still now I didn't get any reply from you for that mail. So, please check my comment and send a reply. thanks

[2019-02-15 06:01] samber91 opened #305 "Can not confirm order on real device"
purchase code ad1ac976-3e34-4e40-a473-0985df712891

Mstore is working on the simulator. but not on a real phone, it wont let you place your order. I need it fixed urgently please.
Here are the files
![img_8964](https://user-images.githubusercontent.com/42559522/52837499-f68e0c00-30bc-11e9-8307-4cf900712533.JPG)
Config.js   ---------  https://drive.google.com/open?id=1U7KmsUQChljG0PTX-R-6YtIPfEkv6R

[2019-02-15 06:03] samber91 commented on #305
TRY IT ON REAL DEVICES (ANDROID AND IPHONE) AND FIX THE ISSUE PLEASE. THANKS

[2019-02-15 06:30] Relimer-Technologies commented on #302
It was not showing during the debugging to my android device... After deployment, it is working good... Is there any option for guest checkout...?

[2019-02-15 06:36] Relimer-Technologies commented on #302
See the below image the product is Sonamasoori it is just showing Sonama-
![image](https://user-images.githubusercontent.com/47352123/52838850-08ea6300-311a-11e9-8f38-69e34913b6d7.jpeg)

[2019-02-15 06:47] Relimer-Technologies commented on #302
The category icons below the banner layout don't show the respective title...
I need two changes... The guest checkout is not available if a user wants to buy a product without logging in he/she is unable to do that... One more thing is the notification bar colour changes to grey which looks odd... You can see that in the image above... Send me the solution to this problem
![image](https://user-im

[2019-02-15 06:57] minhcasi commented on #305
@samber91  could you consider updating the rating? The is no reason for us to get your bad rating and continues to support, thanks

[2019-02-15 06:57] #305 closed

[2019-02-15 06:58] minhcasi commented on #263
@samber91  could you consider updating the rating? The is no reason for us to get your bad rating and continues to support, thanks

[2019-02-15 06:58] #263 closed

[2019-02-15 07:10] Relimer-Technologies commented on #302
See the below image on Login button the text is shown as LO- instead of Login... and even the last line in the page instead of Sign In it is displayed as Sign
![image](https://user-images.githubusercontent.com/47352123/52839733-1c4afd80-311d-11e9-94a9-c1f93f36a9cb.jpeg)

I have experimented the APK on various devices... First thing is that when we try to install the APK file on any device I get th

[2019-02-15 18:33] samber91 commented on #263
Lol. 😁. You will earn a good rating by providing a good service !  Okay ?
I don’t know why i should give you good rating if you keep ignoring your
customers

[2019-02-15 18:35] samber91 commented on #263
For the last days , you guys help me a little bit. So i will review my
rating . But , if you ignore my issues and don’t help me , i’m sorry, i
will give you bad rating again!! You are the business owner and i’m the
client . If i’m not happy with your service , i have the right to say my
opinion. Okay ?
Thanks

On Fri, Feb 15, 2019 at 1:33 PM Jb Ro <jb.ro.corp2018@gmail.com> wrote:

[2019-02-15 18:36] samber91 commented on #263
You can not force me to say i’m happy with your service when i’m not !! I’m
sorry . It does not work like that !!!!

On Fri, Feb 15, 2019 at 1:35 PM Jb Ro <jb.ro.corp2018@gmail.com> wrote:

[2019-02-15 20:12] hakihosting commented on #301
i deleted the file , and reload and restard the ios simulator same problem.

Error installing or running app. ZlibError: zlib: invalid stored block lengths

[2019-02-16 02:28] thangvo9x commented on #298
Hi.
1.The keys are loaded from your backend.
2. change background -> Components/BrowseLocation/index.js to change it
3. To change it , you must have to go to Components/PostLayout/Column/index.js and change it. Thanks

[2019-02-16 02:29] #294 closed

[2019-02-16 02:31] thangvo9x commented on #295
Please remove expo app && remove yarn cache clean, such as check on your site.
I checked the link which works fine.
<img width="837" alt="fine" src="https://user-images.githubusercontent.com/23457178/52893319-a9e62600-31cd-11e9-95ef-b7ded868a73e.png">

[2019-02-16 02:32] #285 closed

[2019-02-16 02:33] #267 closed

[2019-02-16 02:37] thangvo9x commented on #292
I replied to your email. I've only updated the plugin. Important, our problem was being fixed.

[2019-02-16 04:19] apisithb commented on #233
Hey I have problem like this please help me

[2019-02-16 04:21] winechit1989 commented on #281
When will release the update? I am waiting for it.

[2019-02-16 04:29] winechit1989 opened #306 "how can i change App name from BeoFoods."
- Product: BeoNews Pro - React Native mobile app for Wordpress

**Describe the bug**
how can i change App name from BeoFoods.

[2019-02-16 04:29] rajbonsa commented on #291
Hi luyx, when it will be done?

[2019-02-16 07:53] minhcasi commented on #263
Hey, remember that our team has been supported you during that time, it's just the willing both side, we will happy to refund to save your money & time! Thanks

[2019-02-16 08:50] minhcasi commented on #296
@globe21 Could you try this solution:

Go to RCTFBSDK.xcodeproj then select build settings -> framework search paths
And change ~/Documents/FacebookSDK to $(HOME)/Documents/FacebookSDK

This bug happens on the XCode 10 - [facebook/react-native-fbsdk#401](https://github.com/facebook/react-native-fbsdk/issues/401)

Please reopen if it is not worked, thank you!

[2019-02-16 08:50] #296 closed

[2019-02-16 08:53] minhcasi commented on #260
Hi, please send your detail config to my email: minh@inspireui.com - we will help for checking and set up all ready for the teamviewer - thank you!

[2019-02-16 08:53] #260 closed

[2019-02-16 08:58] minhcasi commented on #252
Yes, you can customize base on business and make sure the customize will not cause the issue. As per our investigate, there was some custom navigate index from the post detail that causes the issue.

Please try to compare the change as our solution to fix the issue, or you can try with our fresh demo that not having this issues, we only guaranty and support to fix any bug from with a non-customize

[2019-02-16 09:05] hadi13 commented on #252
please I am struggling with this issue, I will pay you for this fix, please fix it and will pay your efforts

[2019-02-16 09:11] minhcasi commented on #252
okay, give us a time to check and get back on early next week - thank you!

[2019-02-16 09:12] hadi13 commented on #252
ohhhh, next week!! please I waiting now 2 weeks for this issue to be resolved !? please I need it urgent

[2019-02-16 09:14] minhcasi commented on #252
Are you ok if we check on Monday as the team is off over the weekend? Thanks

[2019-02-16 09:15] hadi13 commented on #252
I am ok if you can solve it in the next couple of hours please, this issue is stopping me from publishing my app

[2019-02-16 09:22] minhcasi commented on #263
Btw, we don't want a fight, as if you can see our previous support tickets - https://gyazo.com/d39c1e6845d10a1bd7e2916af940ec75 - it does not totally like your rating comment, and honestly, it is not fair

How do you think if you update the rating again and we help to check your above issue form the maplechap website and resolves your current issues, we will priority resolve your issue on Monday?

[2019-02-16 09:27] minhcasi commented on #306
reply to #281

[2019-02-16 09:27] #306 closed

[2019-02-16 09:27] minhcasi commented on #281
Hi, we will fix this issue and rebuild the CeBuilder on Monday - in the meantime, you can edit the appConfg.json to change the category and pick up the ID manually from your wordpress side

To change the app name you can follow this guide - https://beonews.inspireui.com/advance-customize/app-delivery

[2019-02-16 15:44] mkashifrazzaq11 commented on #233
enter the website address like http:// not https://

[2019-02-16 15:47] hakihosting commented on #301
some news please is urgent

[2019-02-16 15:51] luyx2412 commented on #301
HI @hakihosting Are you try https://stackoverflow.com/a/51671111/6622971.
Or you can click two times `Run on IOS simulator`. The first time it will show error, the second time it will work normal.

Thanks

[2019-02-16 15:57] hakihosting commented on #301
it's work i must do that : However, if it still fails, Erasing all content and settings on the simulator does the trick too.

[2019-02-16 16:49] hakihosting commented on #301
can i use cebuilder for the pro version ?

[2019-02-16 17:59] hakihosting opened #307 "How to enable multi language and let user choice wich language"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2019-02-16 18:19] hakihosting opened #308 "Categories still blank"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2019-02-16 18:20] hakihosting opened #309 "No title text"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2019-02-16 23:31] hakihosting opened #310 "No autocomplete field address and shipping method not same like website"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2019-02-17 04:28] pramji opened #311 "[ListApp] listing a photo, not show and then clicking on any listing name give me error"
**Required Info (please complete the following information):**
 - Product: ListApp
 - Your Purchased Code: e4a91710-0507-4072-9472-b507d45e1df2
(we may not reply if you are not our customer)

**Describe the bug**
hello listing a photo, not show and then clicking on any listing name give me error same in the picture link https://imgur.com/a/MHzbbPN

[con.zip](https://github.com/inspireui/support/fi

[2019-02-17 09:32] kragenv commented on #295
* Product: [ListApp] + MyListing Theme 2.0.10
* Your Purchased Code: [9cfbf8b5-1cbb-4ab1-a4ab-0b2741668b30]

Same issue. Cannot login and show the same message about "userinfo.user.id"
and also cannot display image in homepage while it can display image inside the listing items.

[2019-02-17 09:48] chad-the-first commented on #295
@thangvo9x  I did clean yarn cache and delete expo and still the same problem.
i added you to the repo: https://github.com/chad-the-first/listpro

[2019-02-17 23:42] trappat commented on #260
I just sent the email

[2019-02-18 01:22] minhcasi commented on #301
Hi, yes - it also supports the pro version to work with CeBuilder

Btw, do you mind if posting all your issues to one ticket? That will help to team focus on your is your detail issues and not mess up the Ticket support channel. We will close other ticket and combine your all issues to this one ticket, please keep update from here - thank you!

#307 - please edit from the common/languages.js file

[2019-02-18 01:23] minhcasi commented on #307
Duplicate of #301

[2019-02-18 01:23] #307 closed

[2019-02-18 01:23] minhcasi commented on #308
Duplicate of #301

[2019-02-18 01:23] #308 closed

[2019-02-18 01:23] minhcasi commented on #309
Duplicate of #301

[2019-02-18 01:23] #309 closed

[2019-02-18 01:23] minhcasi commented on #310
Duplicate of #301

[2019-02-18 01:23] #310 closed

[2019-02-18 01:24] minhcasi commented on #311
Noted for checking - thank you!

[2019-02-18 03:56] luyx2412 commented on #302
Hi @Relimer-Technologies Can you provide your current device which used the testing.

Thanks

[2019-02-18 03:57] #272 closed

[2019-02-18 03:57] #270 closed

[2019-02-18 04:31] nghonyuen commented on #299
Hi, may I know if there's any update? Tsk

[2019-02-18 04:34] nghonyuen commented on #274
Hi

I would like to re-open this issue. It turns out that while the issue is solved on Android. On iOS it still shows as NSURLErrorDomain -1005.

[2019-02-18 04:36] nghonyuen opened #312 "[MSTORE-MV] Unable to Proceed with Payment (related to issue 274)"
* Product: MSTORE-MV
* Your Purchased Code: 34a1d23d-c198-4cd8-beec-b4d0881c6437
  (we may not reply if you are not our customer)

Reopening issue as the same error still persists on iOS device. Android works perfectly fine. Thanks!

[2019-02-18 04:42] nghonyuen commented on #300
Noted. I tested, but it still doesn't pull from the WP.
<img width="363" alt="screenshot 2019-02-18 at 12 41 11 pm" src="https://user-images.githubusercontent.com/47480781/52928439-9e842d80-337a-11e9-8d98-9e47b79ab88a.png">
<img width="654" alt="screenshot 2019-02-18 at 12 37 55 pm" src="https://user-images.githubusercontent.com/47480781/52928446-a6dc6880-337a-11e9-838b-d48d6df62d7f.png">

[2019-02-18 04:48] Pavithran10 commented on #292
hi, you replied in mail after fixed the issue. I also seen but I need a proper answer what plugin you are updated. why I am asking again we also tried a lot but we can't get any solution. so, for our request what changes you did in site you explained means it a helpful for our further needs. Thanks

[2019-02-18 05:50] kaiser2 opened #313 "[MStore MV] How to generate Android Files from the finised native code ?"
Hi

How can i generate the android code which can be edited in ANdroid Studio.
I would appreciate a quick support

Thanks

[2019-02-18 06:12] Relimer-Technologies commented on #302
The Current device which I used for testing is Realme U1... The major thing I want help in is the Checkout page where I order anything the status in the Wordpress and the Application is shown as completed instead of showing In Process... I need this issue solved for first... Please help me with this first... Remaining other issues can be done later first help me out with the issue I mentioned abov

[2019-02-18 06:13] tthamel commented on #159
never had this fixed, they wont provide further support @jaksatomovic im free to hook up if you want to debug, but at this point im kind of pissed i bought this app only to have to debug it for them, could have wrote one from the ground up.

[2019-02-18 06:20] thangvo9x commented on #292
Hi. ListApp Mobile Manager plugin is erroring. I've fixed it. @Pavithran10

[2019-02-18 06:22] thangvo9x commented on #300
Hi.  Try to update your billing address. and remove the expo app and re-install. Thanks

[2019-02-18 06:24] thangvo9x commented on #159
Hi. @jaksatomovic. You can check on your site by accessing to domain/wp-json/wp/v2/features is working? This problem has occurred when this url isn't working.

[2019-02-18 06:32] tthamel commented on #159
Care to explain why listing details still never get processed properly? because anytime you click on a listing you still get  :
<img width="664" alt="screen shot 2019-02-17 at 10 32 29 pm" src="https://user-images.githubusercontent.com/3640250/52932236-f5025500-3303-11e9-8568-ed47e8d7fde2.png">

[2019-02-18 06:33] Pavithran10 commented on #292
thanks, for the reply

[2019-02-18 06:33] #292 closed

[2019-02-18 06:34] tthamel commented on #159
<img width="957" alt="screen shot 2019-02-17 at 10 33 35 pm" src="https://user-images.githubusercontent.com/3640250/52932284-182d0480-3304-11e9-99d1-ac99f97d0d26.png">

you can see the API is returning listing details, although they are in a giant / delineated string

[2019-02-18 06:36] thangvo9x commented on #295
Hi Please try again. I've checked with your repo on a real device.
refer here: https://we.tl/t-a4i1AUZve7
Thanks

[2019-02-18 06:37] #298 closed

[2019-02-18 06:37] tthamel commented on #159
<img width="971" alt="screen shot 2019-02-17 at 10 36 51 pm" src="https://user-images.githubusercontent.com/3640250/52932432-8b367b00-3304-11e9-93c5-96461484310b.png">

and yes turning on listing pro options from the WP Rest API controller helps the returned call, but its still not being ingested properly by the app

[2019-02-18 06:38] maulikvora opened #314 "Question: Variable Product, Colors Based Product Image support."
Hello,

We have variable products setup, and for a product, we have different images for different colors.

Doesn Mstore Pro supports it and show different images if different colors(attributes) are selected in mobile app.

Let me know, thanks in advance.

[2019-02-18 06:38] thangvo9x commented on #311
hi. First, Thanks for your purchase. Try check on your site at domain/wp-json/wp/v2/job_listing has listing_data fields. Try check plugin works.

[2019-02-18 06:49] nghonyuen commented on #300
HiDoes that means the sync only one time during initial install? ThanksOn Mon, 18 Feb 2019 at 2:22 PM, thangvo9x <notifications@github.com> wrote:Hi.  Try to update your billing address. and remove the expo app and re-install. Thanks

?You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-18 07:01] tthamel commented on #159
<img width="672" alt="screen shot 2019-02-17 at 11 00 57 pm" src="https://user-images.githubusercontent.com/3640250/52933359-f170cd00-3307-11e9-8a7b-93091725b661.png">
awesome, literally have changed nothing and getting this error

[2019-02-18 07:29] hadi13 commented on #252
Expect to have a reply from you today

[2019-02-18 09:25] chad-the-first commented on #295
As I can see, when I register from the app, i can use this account to login on the app. But when I register on the website I can't use this account to login on the app. Any idea how I can fix that?

[2019-02-18 09:39] jaksatomovic commented on #159
Hi @tthamel  yes it would be nice if we could fix this....i am also angry cause i could do it myself by this time.. @thangvo9x  my feature api endpoint IS WORKING (http://ekorcula.eu/wp-json/wp/v2/features) but if you open listing for example http://ekorcula.eu/wp-json/wp/v2/listing/982 your feature items are empty -> [] !! also this is not all if i go to map screen and select some filters when i