[2020-04-10 09:43] ajaysinghof commented on #2612
But when caching is disabled then app is so slow to load content

[2020-04-10 09:43] ajaysinghof commented on #2612
Please help up out regarding this... Fluxstore

[2020-04-10 10:03] HoWonJang opened #2639 "[Beonews Pro] - home screen not showing"
---------

1. My issue: I'm trying to set up a layout for my home screen, but only an empty screen appears.

2. Screenshots issues (required): https://ifh.cc/g/hHnjmo.jpg

3. Proof of my purchased (required): https://ifh.cc/g/snHoVY.png

3. Config files (required) https://drive.google.com/open?id=140Tj12dpAEqJA0zLLFBe4bEtLvOVdgA9

[2020-04-10 10:07] Mohammad-AlZabibi commented on #2635
Hello, Thanks for responding

I've tried this solution but still getting the same error.

----------------------------------------------------------------

Target debug_android_application failed: FileSystemException: Cannot copy file to 'C:\Users\MHD\projects\codecanyon-qOfaVirs-fluxstore-the-universal-woocommerce-magento-opencart-mobile-app-by-flutter-framework\FluxStore 1.6.6b\source\build\app\

[2020-04-10 10:23] louissaadx commented on #2586
@minhcasi thank you everything is working well.

[2020-04-10 10:41] #2616 closed

[2020-04-10 10:41] #2589 closed

[2020-04-10 10:43] philipvu30 commented on #2615
Hi @Pascalnhuis ,

Unfortunately, we currently do not support payment in another app at the moment. We will consider implementing it in the future. Thank you for your interest.

[2020-04-10 10:47] philipvu30 commented on #2522
Hi @cschng96 ,

I received your email and we are trying to fix these bugs asap, but it will take for awhile because it is more serious than we thought. Hope you'll understand. Thank you

[2020-04-10 10:49] philipvu30 commented on #2631
Hi @kobylogan ,

1C. Currently investigating.
1D. Please make sure to check these options

![image](https://user-images.githubusercontent.com/54442328/78333379-ee8c7680-75b3-11ea-97e4-37b411a92f9d.png)

[2020-04-10 10:51] T3kken commented on #2630
No I could not run the project from cebuilder?

![expo](https://user-images.githubusercontent.com/20121759/78985722-6103d600-7b21-11ea-8efe-05180969dcc4.PNG)

Expo also now has this yet expo is installed.

![expo_2](https://user-images.githubusercontent.com/20121759/78985778-8690df80-7b21-11ea-9663-0e5b0955e202.PNG)

Thanks

[2020-04-10 11:00] Winsima commented on #2040
Same errors here..

[2020-04-10 11:10] cschng96 commented on #2522
@philipvu30
Noted. May I know how long it takes?

[2020-04-10 11:45] minhcasi commented on #2622
@haidarsalim - noted

@dttrung26 - please help to investigate and provide more detail

[2020-04-10 11:48] minhcasi commented on #2603
@peppyday - yes, you are right - please bear with us for new Opencart improvement as our team is working on these features, it will be include on 1.6.7

<img width="547" alt="Screen Shot 2020-04-10 at 18 47 53" src="https://user-images.githubusercontent.com/1459805/78988662-cb396c80-7b5b-11ea-90bf-19c08eb386ca.png">

[2020-04-10 11:50] minhcasi commented on #2603
@peppyday - please help to check this issue as well - https://tppr.me/aIXty

[2020-04-10 11:57] peppyday commented on #2603
1. Hi when i use search for a existing product with its name it shows nothing

2. Nothing shows in the category page when i click on home tab. Need clarification nothing in doc.

3. How to add addcart icon to home page product widgets.

4. Can the opencart website users login in to the app with the same credentials.

thanks

[2020-04-10 11:59] unaluslusoy commented on #2506
@minhtruong315 - Hello Can you give information about the latest situation?

[2020-04-10 12:07] Pascalnhuis commented on #2615
Thanks for your reply!

For now it's okay! :) Hopefully this will be a new feature for in the future! We will wait.

Thanks in advanced and for your time!

HAve a nice day!

[2020-04-10 12:51] qorane099 opened #2640 "[Fluxstore] -"
-1. after login email and password the app will not go to home page:

2. l did followed documentations and configured well, but sms, google login give me an error with a message "the app is not authorised to use firebase.....:

3. please note that l added google signin service file and SHA-1:
![IMG_20200402_201209](https://user-images.githubusercontent.com/39888242/78992011-f4f09480-7b57-11ea-8bb4

[2020-04-10 13:00] san2pedro commented on #2569
any news?

[2020-04-10 14:06] dttrung26 commented on #2622
Hi @haidarsalim , please download attached files and replace as following:
- horizontal_list_items.dart in /lib/widgets/blog/horizontal
- login.dart in /lib/screens
- menu.dart in /lib/
- settings.dart in /lib/screens

[ticket_support#2622.zip](https://github.com/inspireui/support/files/4461702/ticket_support.2622.zip)

Then follow those instructions to customize those codes:
1/ I already comment

[2020-04-10 14:38] redamakarem commented on #2539
Hello again,
When I am looking at a list of products and i scroll down, the products get duplicated.
Thanks

[2020-04-10 14:55] ajaysinghof commented on #2612
Why you all are not responding to us...

[2020-04-10 15:37] dttrung26 commented on #2621
Support via skype!

[2020-04-10 15:37] #2621 closed

[2020-04-10 15:40] yosefasad opened #2641 "Fluxstore Multi-vendor"
Hello
How to generate Icon for favicon , Android icon ( mipmap-hdpi, drawable, ...) and IOS icon (Assets.xcassets) for Flutter

[2020-04-10 16:49] bikostudio opened #2642 "[FluxStore Pro] - Problems & Requests"
Hi,

Unfortunately I'm having many issues with this App mentioned in Support ticket #2439.

Not all of them answered yet specially the App building error on 1.6.6b. So I will continue with 1.6.5c becouse I don't have the App building issue with it.

In this new ticket  will concentrate on the most important issues I want to fix  as I want to publish my Woocommerce App as soon as possible.

Here is

[2020-04-10 16:49] bikostudio commented on #2642
================ My Issues ===============================

==[ 1 ] ======== Error When Creating New Account =======

I was be able to create new account through the app and it creates an account on Woocommerce site as expected. But now I have a new problem I did not face before upgrading to 1.6.5c.

 First I got this error :
![2020-04-10_095526](https://user-images.githubusercontent.com/62074493/

[2020-04-10 16:50] bikostudio commented on #2642
==[ 2 ] ======== Error When Creating New Account =======

I have created a Firebase account with all settings by following your tutorial : https://docs.inspireui.com/fluxstore/firebase/

I can send test notifications to the test device now but when I tap on the notification on my phone it open the application.

- It is not saved in Notify Messages page in the App.

- How to redirect user to Notify

[2020-04-10 16:52] bikostudio commented on #2642
### **==[ Request 1 ] ======== Adding New Fields In Registration  =======**

I want to add a Company and a Mobile fields to the registration form also to be added to the WordPress profile as well.

[2020-04-10 17:05] midotaha commented on #2610
**harry503**  spoke right , realy Opencart no tested at all, there is tones of issues , also there is many works to do it , i'd like to add another issue i spoke about it, and not got any support for this issue or solved it  :-
**- products option like(colors - wights ............etc)**.
support team tell me in another previous closed ticket they will update this function on the next update , unti

[2020-04-10 17:08] dasdev opened #2643 "rest api not working please help."
rest api was working fine but now it's not working what is the problem am not understanding please help.
this is my proof :
![scrent prove](https://user-images.githubusercontent.com/34004057/79008792-c4baed00-7b7b-11ea-91a6-cc5853b9d641.png)
  please help me first as soon as possible.

[2020-04-10 17:31] shanenorman commented on #2556
The content is still not refreshing or updating. And old images cache on devices and simulator. Is there anyway to fix this?

[2020-04-10 17:38] shanenorman opened #2644 "BeoNews - Won't Run on iPhone 11 Plus or iPad Pro"
![iPhone11 Pro Screenshot (Actual Device)](https://user-images.githubusercontent.com/11539085/79010833-9c99a280-7b17-11ea-9a59-2444aa9a3fae.PNG)
![iPhone11 Pro Screenshot (Actual Device) PNG](https://user-images.githubusercontent.com/11539085/79010844-a0c5c000-7b17-11ea-8263-ad6d26cb8926.png)

Please see previous open ticket for purchase substantiation.

The JavaScript bundle for the app gets stuc

[2020-04-10 18:45] Emmarango opened #2645 "[fluxstore multi vendor] - register vendor"
---------

1. My issue:
I have missing pluging exception for Connectivity plugin on android
2. Screenshots issues (required):
![Screenshot_20200410-050808_Fluxstore](https://user-images.githubusercontent.com/9246454/79014769-31f56080-7b31-11ea-9ece-6207671fbdf5.png)

3. Proof of my purchased (required):
![download_20200410_134211](https://user-images.githubusercontent.com/9246454/79014863-5b15f100

[2020-04-10 19:59] antonduong commented on #2548
It was the IOS Icon that could not generate. There are specifics on how to
make it compatible, I havnt got around to it yet.

On Fri, Apr 10, 2020 at 3:18 AM IAPCorporate <notifications@github.com>
wrote:

--
Thanks,
Anton

AD MULTIMEDIA
www.antonduong.com

[2020-04-10 20:57] ideas24 commented on #2502
You need to be logged in either with Facebook or Gmail before the chat will
show up. SMS login won't work. I hope you resolve it

On Fri, 10 Apr 2020, 3:04 AM Minh Pham <notifications@github.com> wrote:

[2020-04-10 21:14] avinashverma21 commented on #2538
app not installing on any physical devices after making apk files how to build the apk files for devices
![WhatsApp Image 2020-04-11 at 2 40 48 AM](https://user-images.githubusercontent.com/63055526/79023585-4c195800-7b9e-11ea-871b-1097b0f1846d.jpeg)

[2020-04-10 22:24] maximuskay2 commented on #2633
THE ISSUE HAS NOT BE SORTED OR ATTENDED TO.. CANT CREATE OR LOGIN FROM APP

[2020-04-10 23:05] patriciocifuentes opened #2646 "[fluxnews] - impossible to build a apk"
---------

1. My issue:
I try to build the apk but it always gives me an error.

2. Screenshots issues (required):

<img width="1680" alt="Screen Shot 2020-04-10 at 16 58 26" src="https://user-images.githubusercontent.com/488461/79028340-d9cc5780-7b4c-11ea-947e-01cdb697f0e3.png">

3. Proof of my purchased (required):

<img width="1680" alt="Screen Shot 2020-04-10 at 17 02 24" src="https://user-ima

[2020-04-10 23:12] kvt0012 commented on #2633
Dear sir, please do step by step as our guide here
https://docs.inspireui.com/fluxstore/woocommerce-setup/
https://docs.inspireui.com/fluxstore/sign-in/
and make sure that you setting our mstore api, this error raises because the app is lacking for plugin to run.
Thank you

[2020-04-10 23:14] kvt0012 commented on #2634
Dear sir, please try to press on back button to check whether your account login or not, thank you .

[2020-04-10 23:15] kvt0012 commented on #2628
Dear sir, do you do any set up on splash screen? Please tell me, thank you

[2020-04-10 23:17] kvt0012 commented on #2601
Do you know how to use command line, sir ?
Please run the command
flutter clean
And run it again, thank you

[2020-04-10 23:19] kvt0012 commented on #2502
Hello sir, please give me your whole project to my email, because I think that you config something on our app, I will try to check for you, thank you

[2020-04-10 23:36] minhtruong315 commented on #2474
@Shiru-kun you're using fluxstore MV, it only supports dokan and wcfm. but you're making with type: woo.
[code]

[2020-04-10 23:37] #2499 closed

[2020-04-10 23:38] eviano opened #2647 "FluxListing - failed to connect full api data"
1. My issue:
I am using different theme when trying to reconfigure my api, I get error connecting full api data such as categories, images, reviews/ratings, bookings, etc..
2. Screenshots issues (required):
https://prnt.sc/rx2fng
https://prnt.sc/rx2fzl
https://prnt.sc/rx2g4s
http://prnt.sc/rx2gch
http://prnt.sc/rx2ghv
3. Proof of my purchased (required):
http://prnt.sc/rx2grb
3. Config files (requ

[2020-04-10 23:39] minhtruong315 commented on #2603
@peppyday can u send me full your source code via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/2603

[2020-04-10 23:59] haidarsalim commented on #2622
Launching lib\main.dart on Android SDK built for x86 in debug mode...
Running Gradle task 'assembleDebug'...

Compiler message:
lib/screens/settings.dart:15:8: Error: Error when reading 'lib/screens/post_management/post_management.dart': The system cannot find the path specified.

import 'post_management/post_management.dart';
       ^
lib/screens/settings.dart:16:8: Error: Error when reading 'lib

[2020-04-10 23:59] haidarsalim commented on #2622
This is what happened when I replaced the files

[2020-04-11 00:01] minhtruong315 commented on #2506
@unaluslusoy I checked your source code. it's working well with payment webview. please look the video
https://www.dropbox.com/s/ahwdycijb4w7asf/checkout.mov?dl=0
I sent you updates to your email to fix errors in darts analytics

[2020-04-11 00:05] minhtruong315 commented on #2593
@kimisan87 I need config.dart to check integration your website with fluxstore

[2020-04-11 00:07] haidarsalim commented on #2622
![Capture](https://user-images.githubusercontent.com/54249914/79030418-81737500-7ba1-11ea-8d1a-f780a96ab33e.JPG)

[2020-04-11 00:08] minhtruong315 commented on #2594
@Pankaj-Sakariya Fluxstore doesn't support payment webview for magento now. so I dont have any solutions to help you make it. You can  research to add it. Thanks

[2020-04-11 00:08] #2596 closed

[2020-04-11 00:31] maximuskay2 commented on #2633
I have followed all steps involved in mstore APi and woocommerce sign in
with firebase .. not error still persist

On Sat, Apr 11, 2020, 12:12 AM kvt0012 <notifications@github.com> wrote:

[2020-04-11 00:32] denny-dang commented on #2624
Where do you guys think I should start looking to fix this? Thanks!

[2020-04-11 00:37] sodhanii commented on #2599
One question, does Flux Store Pro download the address stored on Magento backend?

[2020-04-11 00:38] minhtruong315 commented on #2599
No

[2020-04-11 00:39] sodhanii commented on #2599
It's an API thing. Will you be adding this in future releases?

[2020-04-11 00:45] sodhanii commented on #2539
This happens with me as well. When I refresh the page, products get duplicated.

[2020-04-11 00:56] minhtruong315 commented on #2610
SalePrice, OnSale fields, In Stock is incorrect. you can update fromOpencartJson function in models/product.product.dart to fix these issues
[code]

[2020-04-11 01:09] minhtruong315 commented on #2610
to fix html decode issue. you need to edit fromOpencartJson function in models/category/category.dart
[code]
and replace models/product/product.dart
[product.dart.zip](https://github.com/inspireui/support/files/4463837/product.dart.zip)

[2020-04-11 01:29] youngtet opened #2648 "Fluxstore Listing: Undefined symbols for architecture arm64: "_OBJC_CLASS_$_FacebookLoginPlugin", referenced from: objc-class-ref in GeneratedPluginRegistrant.o"
flutter build ios failed
![F6EBE59D-9246-4607-9A06-4EE302512B06](https://user-images.githubusercontent.com/60430933/79032142-ccdf5080-7bac-11ea-85fa-6bcd44850c82.jpeg)

Proof of payment
![47030CA6-6C39-433D-9604-77BEB93922D2](https://user-images.githubusercontent.com/60430933/79032157-eb454c00-7bac-11ea-854d-778d415006a4.jpeg)

[2020-04-11 01:58] minhcasi commented on #2636
Hi, thank you for the feedback. Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads it's used to verify your proof of purchase?
Sorry for any inconvenience, we will reopen the ticket when it is verified, thank you!

[2020-04-11 02:08] minhcasi commented on #2637
@KeaMengsrea - could you help to check this video guide on Android - https://codecanyon.net/item/fluxstore-multi-vendor-flutter-ecommerce-full-app/25013325

Also, try to clean cache could be fixed the issue - https://gist.github.com/minhcasi/2362b8ed369738cea2bf10a57ac569e1

Let us know your checking :)

[2020-04-11 02:10] minhcasi commented on #2638
@IAPCorporate - could you try to clean the cache could fix this issue - https://gist.github.com/minhcasi/2362b8ed369738cea2bf10a57ac569e1

[2020-04-11 02:13] minhcasi commented on #2641
Hi, thank you for the feedback. Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads it's used to verify your proof of purchase?
Sorry for any inconvenience, we will reopen the ticket when it is verified, thank you!

[2020-04-11 02:15] minhcasi commented on #2643
@dasdev - could you attache the common and config folder here so that we could help for checking - thanks

You could also check with the Fluxbuilder http://fluxbuilder.com/

[2020-04-11 02:15] KeaMengsrea commented on #2637
Okay

On Sat, Apr 11, 2020, 9:08 AM Minh Pham <notifications@github.com> wrote:

[2020-04-11 02:18] minhcasi commented on #2644
@shanenorman - please note that it could be the server issues from Expo that fetching the JS bundle, you could try to run the app on another time or build the app as Release mode

Kindly move the conversation to the same of your ticket on #2556

[2020-04-11 02:18] #2644 closed

[2020-04-11 02:19] minhcasi commented on #2556
@shanenorman - could you help to share the screenshot of the image caching not update from the app so that we could know which section not working?

[2020-04-11 02:21] minhcasi commented on #2646
@patriciocifuentes - this could be the memory issue on your Android Studio, please check this solution https://stackoverflow.com/questions/54162015/gc-overhead-limit-exceeded-when-enable-r8-shrinker-in-android-studio-3-4

[2020-04-11 02:26] minhcasi commented on #2647
@eviano - could i know which theme you are using for the app? So far, the app has tested with Listeo, Listingpro and MyListing

Please note that some other theme will not work and need customize to map the correct field - we have noted the document on this guide https://docs.inspireui.com/fluxstore/listing-directory/#5-integrate-with-more-listing-themes-listable-listify-jobify

[2020-04-11 02:27] minhcasi commented on #2648
@youngtet - pls try to clean cache to fix this issue - https://gist.github.com/minhcasi/2362b8ed369738cea2bf10a57ac569e1

[2020-04-11 02:39] minhcasi commented on #2632
@dttrung26 - pls help for checking the post comment issue, it seems working fine on Postman - https://tppr.me/tGkTp

Also, check if possible to show as other categories UI

[2020-04-11 02:42] minhcasi commented on #2630
@T3kken - there could be the permission issue that you could install expo, please try to install it manually by running

[code]

/Guide: https://docs.expo.io/versions/latest/get-started/installation/

Also, update the Cebuilder to the latest version - https://github.com/inspireui/cebuilder/releases - thank you!

[2020-04-11 02:43] minhcasi commented on #2623
@tjain90 - pls try to clean cache by using this guide - https://docs.inspireui.com/fluxstore#fluxstore-multi-vendor-app

I have also created the video on this link https://www.youtube.com/watch?v=ReAUZDIgh2I

[2020-04-11 02:43] #2606 closed

[2020-04-11 02:44] #2602 closed

[2020-04-11 02:45] minhcasi commented on #2588
moved to #2638

[2020-04-11 02:45] #2588 closed

[2020-04-11 02:45] minhcasi commented on #2586
Thank you! you are very welcome 😊

[2020-04-11 02:45] #2586 closed

[2020-04-11 02:51] KeaMengsrea commented on #2637
hello sir

On Sat, 11 Apr 2020 at 09:15, Mengsrea Kea <keamengsreadev@gmail.com> wrote:

[2020-04-11 02:52] KeaMengsrea commented on #2637
it's still not solve the problem.
check my flutter doctor

[image: image.png]

On Sat, 11 Apr 2020 at 09:50, Mengsrea Kea <keamengsreadev@gmail.com> wrote:

[2020-04-11 02:54] minhcasi commented on #2612
@ajaysinghof - @AbdallaSamy  there is 2 solution to apply the caches

1. Store the config_en.json to CDN and replace the local config.json by new CND URL from the config

2. Upload the config json file to mstore-api on the website, and enable isCaching: true - please check this guide - https://docs.inspireui.com/fluxstore/performance/#1-caching-to-improve-app-performance  - after enable the cache,

[2020-04-11 02:57] patriciocifuentes commented on #2646
ok, just restart my laptop and close any other software, and use clean and kill dart... But i have another issue when try to build; is a error in buid.gradle

<img width="1680" alt="Screen Shot 2020-04-10 at 20 53 13" src="https://user-images.githubusercontent.com/488461/79033728-c978a480-7b6d-11ea-9852-a4f1798d2ed8.png">

[build.gradle.zip](https://github.com/inspireui/support/files/4463947/build

[2020-04-11 03:11] dasdev commented on #2643
i am getting this error while validation is clicked please check>

On Sat, Apr 11, 2020 at 7:45 AM Minh Pham <notifications@github.com> wrote:

[2020-04-11 03:14] dasdev commented on #2643
i haven't updated the fluxstore multi vendor app yet. is the error
happening for that reason? but it was working fine before yesterday what
happened? suddenly kindly help me out please it's urgent.

On Sat, Apr 11, 2020 at 8:41 AM Rahul Das <rahu.usa@gmail.com> wrote:

[2020-04-11 03:17] dasdev commented on #2643
this is the folder you wanted to give:

On Sat, Apr 11, 2020 at 8:44 AM Rahul Das <rahu.usa@gmail.com> wrote:

[2020-04-11 03:39] IAPCorporate commented on #2638
Man I have given up; too many errors; now this,

 error: unable to attach DB: error: accessing build database
    "/Users/shershahrahim/Library/Developer/Xcode/DerivedData/Runner-gphxjisnjzx
    uvjgrkemmvekaibpq/Build/Intermediates.noindex/XCBuildData/build.db":
    database is locked Possibly there are two concurrent builds running in the
    same filesystem location.
    note: Using new build s

[2020-04-11 03:44] patriciocifuentes commented on #2646
i download the files from themeforest, directly to export from Android Studio, i'm not do any changes, no one, and try to build a APK. I get this problems:

<img width="1680" alt="Screen Shot 2020-04-10 at 21 39 16" src="https://user-images.githubusercontent.com/488461/79034579-4a3a9f00-7b74-11ea-8b98-653c4acb17e9.png">

<img width="1680" alt="Screen Shot 2020-04-10 at 21 39 36" src="https://user-

[2020-04-11 03:44] ajaysinghof commented on #2612
Hey thanks for your response,  here is my caching URL https://frink.in/wp-json/mstore/v1/cache , it takes time when i enable caching in App,

[2020-04-11 03:49] peppyday commented on #2603
sent you through wetransfer please check https://we.tl/t-5QWI9s3txZ

[2020-04-11 04:00] kimisan87 commented on #2593
heres my config.dart

import 'package:font_awesome_flutter/font_awesome_flutter.dart';

import '../common/constants.dart';
import '../generated/l10n.dart';
import 'constants/image_constants.dart';

/// Config use mock data (json offline data: \lib\config\mocks)
bool mockData = false;

/// Server config REAL
const serverConfigReal = {
  "type": "opencart",
  "url": "http://borneovege.com",
  "blog"

[2020-04-11 04:18] IAPCorporate commented on #2638
@minhcasi could you please provide quick support via Skype? This is urgent.

[2020-04-11 04:29] dasdev commented on #2643
getting this error while checking rest api on fluxbuilder please help
![getting this error](https://user-images.githubusercontent.com/34004057/79035340-29f1fb00-7bdb-11ea-8dfd-2738b63629bb.jpg)

[2020-04-11 04:38] #2615 closed

[2020-04-11 04:42] Ghadawi opened #2649 "Fluxstore Pro- duplicate same product in load product and load order list"
i am using magento 2 i have the following issues:
1-  i have one product in the category if i load the product list page it duplicate same product also same problem when view order list if refresh it keep load and duplicate the order

2- problem 2 review product not display in magento 2

3- problem 3 checkout page not working in magento 2

4-  some filed are not required in address such as postcod

[2020-04-11 05:21] dasdev commented on #2643
https://shopzun.com/wp-json/wc/v3
rest api working fine in browser but not working in app please help.

[2020-04-11 05:30] luyx2412 commented on #2639
Hi @HoWonJang Can you share me your AppConfig.json file?

Thanks

[2020-04-11 05:37] luyx2412 commented on #2624
Hi @denny-dang Can you share me AppConfig.json file?
You can open Reactotron https://github.com/infinitered/reactotron tool to debug why the shipping method empty and webview checkout url loading forever.

Thanks

[2020-04-11 05:37] luyx2412 commented on #2626
Hi @ramalheiro We will upgrade new version with expo 36 couple days to fix your issue.

Thanks

[2020-04-11 05:41] luyx2412 commented on #2592
Hi @robertwt7 You can use the url instead of id with webview page. It will work normal with url.

Thanks

[2020-04-11 05:41] luyx2412 commented on #2583
Hi @leonmktg We will upgrade new version in couple days.

Thanks

[2020-04-11 05:45] leonmktg commented on #2583
@luyx2412
You said that 4 days ago. when will it actually be available?

[2020-04-11 05:51] Ghadawi commented on #2649
I try to update setting using Android Studio  and remove app and build again but keep old setting how to solve this issue?

[2020-04-11 05:54] luyx2412 commented on #2569
Hi @san2pedro i just tested your config and everything worked normal.
![image](https://user-images.githubusercontent.com/8909619/79036557-6a5d7300-7bf3-11ea-9342-78d986676930.png)
So can you describe your issue?

Thanks

[2020-04-11 05:54] #2557 closed

[2020-04-11 05:59] shanenorman opened #2650 "BeoNews"
Please see previous string for purchase validation. BeoNews App or the Better REST API is delivering degraded image quality to banners (in Cebuilder, the "Card" layer is being featured. The attached features an identical image. On the home page it is low-res, but in the post it works fine.

Please help.

![Simulator Screen Shot - iPhone 11 - 2020-04-10 at 22 56 43](https://user-images.githubuserco

[2020-04-11 06:03] luyx2412 commented on #2520
Hi @Cod3Guy Please do not share link in this ticket. Please send via my email the source code or your personal information.

I downloaded your source code and will investigate your issue.

Thanks

[2020-04-11 06:06] shanenorman commented on #2556
![Simulator Screen Shot - iPhone 11 - 2020-04-10 at 23 01 51](https://user-images.githubusercontent.com/11539085/79036658-47917700-7b7f-11ea-97f8-64add2dc71bf.png)

Yes, there are new posts for the this category that I created yesterday, today, etc. Also, I am not able to change copy, or images for anything already in the Wordpress site.

For example, the "Good Friday Communion Services" posted 11

[2020-04-11 06:13] #2497 closed

[2020-04-11 06:23] denny-dang commented on #2624
hello I emailed you the AppConfig.js file. Thanks!

[2020-04-11 06:47] luyx2412 commented on #2520
Hi @Cod3Guy Can you share me the account to login your app?  to investigate easier? Please send me via luyxtran264@gmail.com

Thanks

[2020-04-11 07:03] HoWonJang commented on #2639
I've got the link above.

[2020-04-11 07:23] enamn opened #2651 "[Fluxstore Pro]"
---------

1. My issue:
I 've some issue in app , the app work fine in ios , But in android Image in categories tap not loaded , dark mode in android not working , and web view in about page not loaded . even all this issue work fine in ios , "I work with open cart back end "
2. Screenshots issues (required):

3. Proof of my purchased (required):
![WhatsApp Image 2020-04-09 at 10 46 33 PM](https:/

[2020-04-11 07:34] aishema2000 commented on #2628
Hello, I do not understand your question. What do you mean by "doing setup on splash screen" ??

What I did is to replace the original splash screen path with to my own PNG splash screen.. Please see screenshot above and the images.dart file that I sent you. Thanks

[2020-04-11 08:10] raysernick commented on #2502
@kvt0012 email sended

[2020-04-11 08:19] gugan7 commented on #2591
Hi ,
When is the ETA ? if its going to take long time to create the video , can you just upload the firebase file ?

[2020-04-11 08:21] minhcasi commented on #2591
@gugan7 - we are working on this video, it will be available ASAP - thanks

[2020-04-11 08:57] fasttend commented on #2636
[image: image.png]

On Sat, Apr 11, 2020 at 7:28 AM Minh Pham <notifications@github.com> wrote:

[2020-04-11 09:00] fasttend commented on #2636
![image](https://user-images.githubusercontent.com/63434487/79039736-fc1fad00-7c00-11ea-9222-5af620be23fa.png)

[2020-04-11 09:06] san2pedro commented on #2569
Can do will take to website afflite example press buy now and will take to amazon product not to my website

[2020-04-11 09:13] carloziled opened #2652 "MStore Pro Issues"
---------

1. My issue:
• **Couldn't get the binary git**
I've to try running the App when the cmd appeared this error will come out.

• **ErrorType: Cannot read the property "URL" of unidentified**
I install correctly the prerequisites files and check it was okay but in CEBuilder did this.
I'd try to install an old version of CEBuilder but it takes time to load the project so I've to give up
I'm

[2020-04-11 09:45] Varun24041993 opened #2653 "Firebase Auth Creating new user with phone number instead of fetching user from Wordpress database."
---------

1. My issue:
Hi I was able to setup login with SMS using firebase Auth configuration. Now when I try to login via SMS. I successfully receive the code (I already created a new user in Wordpress and given the mobile number as billing_phone in the database for authentication) and after verifying the firebase will create a new user with username as phone number from which I tried to login

[2020-04-11 09:53] aberatadiguzel commented on #2634
yes, it logs in. but it remains on that page. but I realized that There is no problem with e-mail login. When activating login via SMS. both are broken

[2020-04-11 10:03] unaluslusoy commented on #2506
@minhtruong315 -Thank you. I will review and return.

[2020-04-11 10:12] aberatadiguzel commented on #2634
In the models / user.dart file
the problem goes away when i disable the code below.

    try {
      final token = await _firebaseMessaging.getToken();
      print('token: $token');
      **await Firestore.instance
          .collection('users')
          .document(user.email)
          .setData({'deviceToken': token, "isOnline": true}, merge: true);**
      printLog("selam");
    } catch (e) {

[2020-04-11 10:18] Shiru-kun commented on #2474
okay i will change to dokan and let you know

minhtruong315 <notifications@github.com> escreveu no dia sábado, 11/04/2020
à(s) 01:37:

[2020-04-11 10:48] HoWonJang commented on #2639
I emailed it to you. Please reply after checking. Thank you.

[2020-04-11 10:51] kenngigz commented on #2502
Hi , I have sent the project. Check your email

[2020-04-11 10:56] redamakarem opened #2654 "Products duplicate on refresh"
When I am looking at a list of products and i scroll down, the products get duplicated.
Video recording of the issue: https://1drv.ms/v/s!AqEGAOzrhjidgc9R5q4hpAct2ijteg?e=hrNttB
Thanks
@trunghieuvn

[2020-04-11 10:59] kenngigz commented on #2502
FluxStore-vendor-1.6.5.rar
<https://drive.google.com/file/d/14JwSgVv3YjMpxpTPgDuQ4FPxp51AjBIY/view?usp=drive_web>

On Sat, Apr 11, 2020 at 2:19 AM kvt0012 <notifications@github.com> wrote:

[2020-04-11 11:01] yosefasad commented on #2641
Sure sir;

<img width="1147" alt="Screen Shot 2020-04-11 at 1 59 17 PM" src="https://user-images.githubusercontent.com/23431061/79042008-c082e400-7bfc-11ea-8976-8f045766b7f9.png">

[2020-04-11 11:55] oliet333 opened #2655 "[my-product] - FluxStore Listing"
---------

1. My issue: Hello

I am trying to setup the Listing app, i have an issue here

Step 3: Setup Listing website After configuring your website with the above plugins, it’s time to connect it to the Fluxstore Listing app. Open lib/common/config.dart and change the url, consumerKey and consumerSecret from serverConfig section to your own website which has the API set:
I dont have lib/common

[2020-04-11 11:58] oliet333 commented on #2655
![Снимок экрана 2020-04-11 в 14 57 13](https://user-images.githubusercontent.com/63500634/79042987-d09ec180-7c04-11ea-81a3-f57f22a6487c.png)

[2020-04-11 11:58] oliet333 commented on #2655
![Снимок экрана 2020-04-11 в 14 58 39](https://user-images.githubusercontent.com/63500634/79043005-f5933480-7c04-11ea-902e-ca3fa783fd79.png)

[2020-04-11 12:04] unaluslusoy commented on #2506
@minhtruong315- Thanks for darts analytics. I have mentioned below regarding another problem.

Issue 1: I get a username and password error on the Application Login screen. In the web page management section, user is added but cannot login
Issue 2: I get an error on the user registration screen. (message comes out because I have no trace.)

I shared the image about the registration screen.

![imag

[2020-04-11 12:04] carloziled commented on #2652
![Annotation 2020-04-11 200245](https://user-images.githubusercontent.com/63489149/79043101-9dbdf300-7c2f-11ea-95ae-b0c02b7be6c4.jpg)
is this normal? when adding a logo there is nothing to show on the CEBuilder

[2020-04-11 12:07] dttrung26 commented on #2622
Hi @haidarsalim , you can feel free to comment out those import lines. It's from the next released feature which has not ben completed yet.

[2020-04-11 12:11] carloziled commented on #2652
im using mstore-expo still the same issue when Running Setup
• Couldn't get the binary git

[2020-04-11 12:15] saber93 opened #2656 "Fluxstore WooCommerce"
whenever I restart the project the products in cart widget not loaded because of fetching price response
![Screen Shot 2020-04-07 at 1 02 56 PM](https://user-images.githubusercontent.com/45682263/79043341-af8f9e00-7c0f-11ea-9b46-2eb76ca3e579.png)
![Screen Shot 2020-04-12 at 10 13 12 AM](https://user-images.githubusercontent.com/45682263/79061942-7a825a80-7ca6-11ea-90ee-939dd9085e38.png)

[2020-04-11 12:16] Mohammad-AlZabibi commented on #2635
@philipvu30  please any other solutions ?

[2020-04-11 12:27] jamesmendez opened #2657 "[FluxNews] - Can't run the project becouse of errors"
1. My issue:
Hi, this is my previous issue with the app https://github.com/inspireui/support/issues/2621. dttrung26 closed it but after i closed android studio and re-opened it after some hours i was not able to run the app anymore becouse of console errors.

2. Screenshots issues (required):
<img width="1428" alt="Screen Shot 2020-04-11 at 2 22 38 PM" src="https://user-images.githubusercontent.co

[2020-04-11 12:30] youngtet commented on #2648
still getting the same error

[2020-04-11 12:38] eviano commented on #2647
@minhcasi The theme I'm using is TownHub. I've tried to customize the map but I couldn't.
Please Check my JSON: https://bit.ly/3caSA6G
and let me know what to do.

[2020-04-11 12:52] xLidoni commented on #2601
sir, I've already done all the steps.

Yes I can use the command line.

However I fixed it, I downloaded an older version of flutter and installed it. Then I upgraded from the command line.

Now everything seems to be working.

Also I totally reinstalled android studio.

Deleting all the folders.

Thanks for your help

[2020-04-11 13:02] T3kken commented on #2630
Hi I have done all this!
Its just frustrating as you can see i bought this longtime ago but it keeps failing!!

[2020-04-11 13:14] ramalheiro commented on #2626
Thank you. I will keep my project on hold until the next update.

[2020-04-11 13:21] luyx2412 commented on #2519
HI @fashionhubksa We will update in next version. So can you move to original setup? this is a document to setup original https://docs.inspireui.com/mstore.

Thanks

[2020-04-11 13:23] luyx2412 commented on #2518
Hi @malibate We will update next version to fix the issues soon. So can you setup with original? This is a document https://docs.inspireui.com/mstore

Thanks

[2020-04-11 13:55] digirizon opened #2658 "[FluxPro] - woocommerce"
![screenshot-codecanyon net-2020 04](https://user-images.githubusercontent.com/38114490/79045466-f7b0bf80-7c13-11ea-8b49-bd5cf0c139fe.png)

### **The cat shows this error unexpectedly!**
`Error in NoSuchMethodError: The getter 'salePrice' was called on null. Receiver: null Tried calling: salePrice`

![Screenshot_1586388532](https://user-images.githubusercontent.com/38114490/79045490-13b46100-7c14-

[2020-04-11 14:05] sajidgangat opened #2659 "[my-product] - Mstore Pro Expo payment problem"
---------

1. My issue:
The payment gateway doesn't work. I tried multiple times and multiple ways. I will share the backend access to the WordPress site if you request. I have done everything as you have said. when I click on "Confirm Order" I get a blank page. I am really tired of this. If cannot work I will need a complete refund.
Currently, I am trying PayPal and it's not working

2. Screensho

[2020-04-11 14:41] #2638 closed

[2020-04-11 15:19] fashionhubksa commented on #2519
What about the current problem?? Should i wait for the next release? What if that happened while i am using your service? Should i wait for new release! I think this doesn't make sense for a reliable business. I need a solution please.

[2020-04-11 15:22] fashionhubksa commented on #2519
I bought it specifically for cebuilder, if it's not working i will ask for refund unfortunately.  As the original method is available for all apps, which i currently use.

[2020-04-11 15:32] MarioMSamy opened #2660 "[Fluxstore-pro] - Cart and checkout issue"
1. My issue:
Please note that there’s a problem in the cart after the last update. When does this problem start? Put something in the cart, close the app and start it again. nothing in cart now.

2. Proof of my purchased (required):
![Untitled](https://user-images.githubusercontent.com/16023864/79047422-b077fe00-7c16-11ea-88dc-b2b4129f467a.png)

[2020-04-11 16:56] T3kken commented on #2630
Hi
just used another PC and set up the correct dev environment, Still am getting the same issue! having read comments and issues it seem Mstore MV has a number of issues, I would be happy to try Fluxstore Multi Vendor - Flutter E-commerce Full App so as to get this sorted. I don,t want for free but at least on a reasonable price!

Can you also be a little considerate with the time it takes you to

[2020-04-11 16:57] emerfabiano opened #2661 "Product variation error"
I have 4 attributes of a product.
Total of 118 variations.
Prices are being brought in only a few items. The others bring the price of the last variation.

[2020-04-11 17:09] ernandozatariano opened #2662 "[FluxNews] - Invalid Argument in related_blogs.dart ("Things You Might Love")"
1. Hi, any solution for this error in my FluxNews app?

Invalid argument(s)
The relevant error-causing widget was:
  BlogItem file:///C:/Dev/AndroidStudioProjects/euarquiteto2.1/source/lib/widgets/blog/detailed_blog/related_blogs.dart:126:40

2. Screenshot:

![error](https://user-images.githubusercontent.com/63005352/79050045-caf1ad80-7bfd-11ea-96b6-7cbe4cc63f5f.jpg)

3. Proof of my purchased:

![

[2020-04-11 17:23] ernandozatariano commented on #2611
Hi, tks again.

1. For issue number one, i dont like to hide my left side menu away. I just need to hide the login option inside my left menu. Look this screenshot:

![hide-logout](https://user-images.githubusercontent.com/63005352/79050178-b6fa7b80-7bfe-11ea-9fb3-22a573f90c40.jpg)

2. For issue number two, i add the code in my tabbar.dart, but its not working for me.

![tabbar](https://user-image

[2020-04-11 17:26] abedfatafta opened #2663 "Fluxstore Multi Vendor - Flutter E-commerce Full App"
---------

1. My issue:
when we access the category sections  ,vendor stores show white screen under android ,
and undere  IOS we got the following error  and didn't show store images
[VERBOSE-2:ui_dart_state.cc(157)] Unhandled Exception: Exception: عذرًا، غير مسموح لك بفعل هذا.
#0      WCFMApi.getProductsByStore (package:fstore/services/wcfm.dart:113:9)
<asynchronous suspension>
#1      Services.

[2020-04-11 17:50] opooletech opened #2664 "[my-product] -"
My Issue is how am show my latest product on home page becuse wordpress didnot give me ID number for Product

---------

1. My issue:

2. Screenshots issues (required):

3. Proof of my purchased (required):

3. Config files (required)

[2020-04-11 17:54] AbdallaSamy commented on #2612
@ajaysinghof I am not sure if the app stores the products locally in case "isCaching" is enabled, because my app still takes time to reload all the products again even when isCaching is true.
So What I can see in my app is that "isCaching" only fetches the config file from the server to make it dynamic so that you can change home layout on the fly.
Let me know if isCaching stores the products loca

[2020-04-11 17:58] haidarsalim commented on #2622
The application does not work when the error occurs

[2020-04-11 18:02] haidarsalim commented on #2622
[lib.zip](https://github.com/inspireui/support/files/4465105/lib.zip)

[2020-04-11 18:03] opooletech opened #2665 "[my-product] -"
I want to Add Recent Product in my APplication but woocommerce not give ID then how am add Recent Product becuse didnot show any where ID how am add please help

---------

1. My issue:

2. Screenshots issues (required):

3. Proof of my purchased (required):

3. Config files (required)

[2020-04-11 18:57] avvvar commented on #2580
can you please help me @philipvu30

[2020-04-11 19:40] abedfatafta commented on #2663
another problem login not working ,
i already fixed jwt settings , and its login else where but
response that we got
/api/flutter_user/generate_auth_cookie
![image](https://user-images.githubusercontent.com/16276919/79053356-5e9a9c80-7c45-11ea-9b98-9d2d65968aa1.png)

[2020-04-11 19:52] limitlessfirm opened #2666 "[Fluxstore] -Customize left menu side"
1. My issue: how i can add item in left menu side and when i press on it go to page in my website

2. Screenshots issues (required):
![top-menu-2](https://user-images.githubusercontent.com/59250639/79053555-93efbc00-7c3e-11ea-9991-f13ec1a9f6b6.JPG)

3. Proof of my purchased (required):
![screenshot](https://user-images.githubusercontent.com/59250639/79053566-a9fd7c80-7c3e-11ea-84f6-bef7d9f12db1.JP

[2020-04-11 20:27] Alnaggar94 commented on #1716
Hi @minhcasi - it's been too long and it's not solving in the last version 1.6.6b, you mentioned that you have added the API to translate the attribute in the update changelog but it still not working.

----
Website:

![p1](https://user-images.githubusercontent.com/49800146/79054153-37df6480-7c4b-11ea-9172-00e71acab835.jpg)

App:

![p2](https://user-images.githubusercontent.com/49800146/79054160-4

[2020-04-11 21:04] abedfatafta commented on #2663
add product through exception on both IOS android
![image](https://user-images.githubusercontent.com/16276919/79053799-a66ef300-7c48-11ea-8c39-b17154175a9f.png)

[2020-04-11 22:01] MiguelHAngelH opened #2667 "[my-product] - MissingPluginException"
---------

**1. My issue: MissingPluginException**
Hello, as I have problems with some internal things that do not work.
I have followed the following tutorial that was indicated to me but it has not been solved, I have resorted to many tutorials and aids and unfortunately I am still stuck.
I would like to know if you can help me.
in channel STABLE

**2. Screenshots issues (required):**
**2.1. err

[2020-04-11 22:41] Vetriselvan-NA opened #2668 "[Fluxstore Pro] - Same Orders is loading again and again"
---------

1. My issue: I'm Using Opencart, In Orders screen I we scroll to bottom it is loading same orders again and again.

2. Screenshots issues (required):
![WhatsApp Image 2020-04-12 at 4 09 54 AM](https://user-images.githubusercontent.com/13717356/79056381-8d2f6c00-7c73-11ea-9a16-98b07a5296ad.jpeg)

3. Proof of my purchased (required):

3. Config files (required)
![image](https://user-image

[2020-04-11 22:43] Vetriselvan-NA commented on #2668
Product Options are not supported yet.. waiting for a very long time.

[2020-04-11 22:44] Vetriselvan-NA commented on #2668
Product Attributes is not Supported for Opencart

[2020-04-11 22:44] Vetriselvan-NA commented on #2668
When I place order it is showing Order id as 0

[2020-04-11 22:55] patriciocifuentes commented on #2646
[        ] > Task :connectivity:checkReleaseManifest
[  +97 ms] > Task :apple_sign_in:processReleaseManifest
[        ] > Task :device_apps:checkReleaseManifest
[        ] > Task :cloud_firestore:processReleaseManifest
[        ] > Task :facebook_audience_network:checkReleaseManifest
[        ] > Task :connectivity:processReleaseManifest
[  +99 ms] > Task :firebase_admob:checkReleaseManifest
[

[2020-04-11 23:07] patriciocifuentes commented on #2646
i`m very disappointed. You say "Convert your wordpress website to flutter app in 5 minutes", i have 2 week trying to finish, at least 13 times i starter from beginning follow your instructions and videos, but is impossible get my APK (i dont care iphone). When use the emulator in android or in my samsung phone work well, but i try to build the final APK and everything is error and issues. Really 2

[2020-04-11 23:10] maximuskay2 commented on #2645
This error has been generated with the following ticket ID but not resolved yet #2645 , #2667 , #2633 , .. Please  , @Emmarango @minhcasi  @philipvu30 .. look into it ... Please we are waiting

[2020-04-11 23:11] Vetriselvan-NA opened #2669 "[Fluxstore Pro] - Opencart Major Performance issue When We open a single product"
---------

1. My issue:  Even If we open a single product, it is loading all products belongs to that category to

2. Screenshots issues (required):
fetchProductsByCategory is there.. but Filter based on Product_id is not handled

3. Proof of my purchased (required):
![image](https://user-images.githubusercontent.com/13717356/79056803-aa663980-7c77-11ea-88ea-9830077f40bc.png)

3. Config files (req

[2020-04-11 23:47] sketchuprzr opened #2670 "[Fluxstore - Woo] 1.6.6 - 1.6.6b - "Review - Cart Screen etc" Errors"
I get some errors on these pages.

ScreenShots:
![image](https://user-images.githubusercontent.com/60021696/79057226-a0d4d580-7c67-11ea-999d-6c086412ed0f.png)
![hata 1](https://user-images.githubusercontent.com/60021696/79057227-a3372f80-7c67-11ea-829a-f5f48d388d90.png)
![hata 2](https://user-images.githubusercontent.com/60021696/79057228-a4685c80-7c67-11ea-9a39-8aecbd71a1a1.png)
![image](https://

[2020-04-12 01:09] minhcasi commented on #2649
Hi, thank you for the feedback. Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads it's used to verify your proof of purchase?
Sorry for any inconvenience, we will reopen the ticket when it is verified, thank you!

[2020-04-12 01:12] minhcasi commented on #2556
please move the conversation to same ticket #2650

[2020-04-12 01:12] #2556 closed

[2020-04-12 01:41] minhcasi commented on #2668
@Vetriselvan-NA - we are working hard to upgrade the opencart on next release version

please move the conversation to the same ticket #2669

[2020-04-12 01:41] #2668 closed

[2020-04-12 01:46] minhcasi commented on #2652
@carloziled - pls install this git package to fix the issue - thanks

[2020-04-12 01:49] minhcasi commented on #2653
@Varun24041993 - the app is not smart enough to link the new SMS mobile login to existing billing_phone from other user - we will investigate the solution to show the message link to existing account

- update ticket as 'Feature Request' thank you!

[2020-04-12 01:51] minhcasi commented on #2653
![](https://github.trello.services/images/mini-trello-icon.png) [Link SMS Login user to exist user who have same mobile_billing](https://trello.com/c/Tl75ylEs/28-link-sms-login-user-to-exist-user-who-have-same-mobilebilling)

[2020-04-12 01:52] minhcasi commented on #2653
moved to backlog

[2020-04-12 01:52] #2653 closed

[2020-04-12 02:02] minhcasi commented on #2645
@maximuskay2 @Emmarango - thank you for your feedback - it seems the issue happy on recent update library from the window, we will check as high priority!

@philipvu30 @kvt0012

[2020-04-12 02:03] minhcasi commented on #2667
Duplicate of #2645

please move to the same ticket & root cause on this ticket

[2020-04-12 02:03] #2667 closed

[2020-04-12 02:05] minhcasi commented on #2633
@maximuskay2 - thank you for your sharing - please help to move the conversation to this ticket #2645 - we will check and update ASAP

[2020-04-12 02:05] #2633 closed

[2020-04-12 02:05] minhcasi commented on #2645
Moved from #2667 #2633 - same root cause

[2020-04-12 02:07] minhcasi commented on #2666
@dttrung26 - please suggest the solution and also update document for this new PostScreen feature - thank you!

[2020-04-12 02:10] minhcasi commented on #2655
@oliet333 - it seems there is some missing plugin on Android Studio - https://www.youtube.com/watch?v=ReAUZDIgh2I - please help for checking this video guide

[2020-04-12 02:15] minhcasi commented on #2656
Hi, thank you for the feedback. Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads it's used to verify your proof of purchase?
Sorry for any inconvenience, we will reopen the ticket when it is verified, thank you!

[2020-04-12 02:18] minhcasi commented on #2659
@sajidgangat - could you help to share the screenshot issue again, also attache the common folder so that we could reproduce the issue - thank you!

[2020-04-12 02:20] Ghadawi commented on #2649
https://drive.google.com/file/d/1xudQSO3aup8Gu4KPaz2RkYdgrVxyNFbS/view?usp=sharing

please find screenshot of the purchase product

[2020-04-12 02:20] minhcasi commented on #2661
Hi, thank you for the feedback. Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads it's used to verify your proof of purchase?
Sorry for any inconvenience, we will reopen the ticket when it is verified, thank you!

Also, share us the screenshot of the issues and common / config folder so that we could checking

[2020-04-12 02:22] minhcasi commented on #2663
Hi, thank you for the feedback. Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads it's used to verify your proof of purchase?
Sorry for any inconvenience, we will reopen the ticket when it is verified, thank you!

[2020-04-12 02:23] minhcasi commented on #2663
no worries - got the info from your previous ticket

@minhtruong315 - please help for checking

[2020-04-12 02:24] minhcasi commented on #2665
Duplicate of #2664

[2020-04-12 02:24] #2665 closed

[2020-04-12 02:25] minhcasi commented on #2664
@opooletech - thank you for the feedback.

1. Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads it's used to verify your proof of purchase?
Sorry for any inconvenience, we will reopen the ticket when it is verified, thank you!

2. Also, share the screenshot of the issues so that we could know where the feature to give the suggest for the issue

T

[2020-04-12 02:43] minhcasi commented on #2670
@philipvu30 - please update patching for this issue - thank you!

[2020-04-12 02:46] minhcasi commented on #2648
@youngtet - could you take the screenshot issues from Android Studio

(pls make sure to run the project on Android Studio instead of running directly from XCode)

[2020-04-12 02:50] minhcasi commented on #2647
@eviano - try to update the mapping field from config.dart to match with your github - https://tppr.me/yniVG

[2020-04-12 02:54] youngtet commented on #2648
I am using vs code?? building for ios

[2020-04-12 03:02] minhcasi commented on #2646
@patriciocifuentes - pls try your best it is mostly caused by the setting from your PC

1. Make sure to update the android sdk and flutter sdk from Android Studio - i have made the guide to setup android on this link - https://www.youtube.com/watch?v=ReAUZDIgh2I

2. One build the apk, also check the android/local.properties have updated to your own sdk - ex: https://tppr.me/gTCeB

If you are not s

[2020-04-12 03:04] minhcasi commented on #2643
@dasdev - try to double-check the Consume key and Secret from WooCommerce site, it may not set incorrectly!

[2020-04-12 03:05] minhcasi commented on #2643
Also, try to share your common and config here so that we could help for checking - thanks

[2020-04-12 03:07] dasdev commented on #2643
Yes I tried 100 times but didn't work I had to re make my site. I used qr
code scan but didn't work. Now I deleted my old site and now in new site
it's working fine.hope it will not have any problem again.

On Sun, Apr 12, 2020, 8:34 AM Minh Pham <notifications@github.com> wrote:

[2020-04-12 03:08] minhcasi commented on #2643
Let us know if you have any problem 👍

[2020-04-12 03:10] minhcasi commented on #2641
@yosefasad - pls try this script to generate the icon
[code]

We use this lib - https://pub.dev/packages/flutter_launcher_icons

[2020-04-12 03:12] minhcasi commented on #2637
Sorry i paste the wrong link - https://www.youtube.com/watch?v=ReAUZDIgh2I

I will upload a new video for basic Window soon - could you able to run this example project so far - https://flutter.dev/docs/get-started/test-drive?tab=vscode ?

[2020-04-12 03:15] minhtruong315 commented on #2669
@Vetriselvan-NA I dont understand your issue. can u record screen and send me config.dart file?

[2020-04-12 03:16] minhtruong315 commented on #2663
@abedfatafta send me full source code via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/2663

[2020-04-12 03:17] minhtruong315 commented on #2651
@enamn can u record screen and send me config.dart file? I will help u check. Thanks

[2020-04-12 03:17] minhcasi commented on #2630
@T3kken - we could discount 30% for your new purchase on Fluxstore MV, let us know when you start to buy so that we could update the pricing

Btw, the Mstore MV depends on Expo environment, please try your best to run the basic expo example first - http://docs.expo.io/ or https://reactnative.dev/docs/getting-started

[2020-04-12 03:18] #2627 closed

[2020-04-12 03:18] minhtruong315 commented on #2649
@Ghadawi can u record screen your issues and send me config.dart file? Thanks

[2020-04-12 03:21] minhtruong315 commented on #2640
@qorane099 can u send me full your source code via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/2640
and add this email to your firebase: minhtruong315@gmail.com

[2020-04-12 03:25] minhtruong315 commented on #2636
@fasttend can u send me config.dart file? I will help u check. Thanks

[2020-04-12 03:30] enamn commented on #2651
This serren shot of android app .
![Screenshot_1586662076](https://user-images.githubusercontent.com/27276716/79059796-dd63f980-7c86-11ea-8602-e6664aac4adf.png)
![Screenshot_1586662094](https://user-images.githubusercontent.com/27276716/79059800-dfc65380-7c86-11ea-84eb-3fb96e1e7e05.png)
![Screenshot_1586662085](https://user-images.githubusercontent.com/27276716/79059801-e05eea00-7c86-11ea-87db-285

[2020-04-12 03:35] dasdev commented on #2643
Ya will but please reply me as soon as possible because little problem make
huge harm.

On Sun, Apr 12, 2020, 8:38 AM Minh Pham <notifications@github.com> wrote:

[2020-04-12 03:42] Ghadawi commented on #2649
export 'config/advertise.dart';
export 'config/general.dart';
export 'config/onboarding.dart';
export 'config/payments.dart';
export 'config/products.dart';
export 'config/smartchat.dart';

/// Server config demo for WooCommerce

const serverConfig = {
  "type": "magento",
  "url": "https://magento-392124-1233941.cloudwaysapps.com",
  "accessToken": "j4faiasmq6dwcftzxf5q7el0xnvdnft7",
  "blog": "h

[2020-04-12 03:45] carloziled commented on #2652
how about this issue?
• ErrorType: Cannot read the property "URL" of unidentified

[2020-04-12 03:49] sajidgangat commented on #2659
sure I am sending the common folder and the screen shot. Whenever I select to pay then the webpage opens and it's empty. It does nothing. I cannot use any payment gateway except "cash on delivery".
Please find the attached document.
[common.zip](https://github.com/inspireui/support/files/4465822/common.zip)

1- When I click On Pay now I see this screen.
![Simulator Screen Shot - iPhone 11 Pro Max

[2020-04-12 03:53] Ghadawi commented on #2649
https://drive.google.com/open?id=1kEur9KB1zGUFk0_iwPT6dDXGZFzpcx_t

find video record for product page and order the problem when reload the page it duplicate the order or product

[2020-04-12 03:55] Ghadawi commented on #2649
for  problem 3 checkout page not working in magento 2 it works after i run flutter run
zip code is not required and other filed in the address how can i change them?

[2020-04-12 03:59] carloziled commented on #2652
`[4/4] Building fresh packages...
[-/5] ⠈ waiting...                                                                                                      [2/5] ⠁ grpc                                                                                                            [-/5] ⠁ waiting...                                                                                                      [4/5]

[2020-04-12 03:59] carloziled commented on #2652
I got this error I don't know how to solve it.

[2020-04-12 04:27] carloziled commented on #2652
please help me :(

[2020-04-12 05:09] Ghadawi commented on #2649
https://drive.google.com/file/d/1ooDDjq7pDOzV1q7PNbaiTBxvq3sOzLKd/view?usp=sharing
https://drive.google.com/file/d/1bRRrbtrLv4jgM3iX_-nUZpyY4Y3FcT-Q/view?usp=sharing

i have problem i try change slider in home page from local assets but doesn't change
and run this command flutter clean && flutter run --release
the icon dodent display as attched link

please help to solve the icon problem and how c

[2020-04-12 05:12] graphicdestination commented on #2521
Any ETA when the new version of the code will be pushed out?  Also any ETA
of the new Flux Builder?

On Fri, Apr 10, 2020 at 10:04 AM Graphic Destination <
graphicdestination.com@gmail.com> wrote:

[2020-04-12 05:15] Lokeswara-betha commented on #2670
mi @minhcasi  , Please update your cart.dart in lib/models/cart.dart with below file.
[cart (1).zip](https://github.com/inspireui/support/files/4465880/cart.1.zip)

[2020-04-12 06:02] Vetriselvan-NA commented on #2669
I'm Using Opencart, In Orders screen I we scroll to bottom it is loading same orders again and again.
[2020_04_12_11_25_22.zip](https://github.com/inspireui/support/files/4465919/2020_04_12_11_25_22.zip)
![WhatsApp Image 2020-04-12 at 4 09 54 AM](https://user-images.githubusercontent.com/13717356/79061801-495b5780-7cb1-11ea-8ff0-096e43541c48.jpeg)

[2020-04-12 06:39] Vetriselvan-NA commented on #2669
For Performance issue: I can't screen shots.. Because this is a code Level issue.
When I debug I found, If we are taping a product you are calling below function
fetchProductsByCategory

When I check the API and debug. I found you are retrieving all products of its category from the server.

There is not filter based on product_id

[2020-04-12 06:51] saber93 commented on #2656
While I'm working on the project, added some products to the bag and every hot restart it gives me this error regarding to price, however this error don't happened before this code update, while I'm using the same website and the same plugins no changes

[2020-04-12 06:56] luyx2412 commented on #2639
Hi @HoWonJang I cannot see your AppConfig.json, can you share in this ticket or via luyxtran264@gmail.com?

Thanks

[2020-04-12 07:11] luyx2412 commented on #2624
Hi @denny-dang
I just checked your AppConfig.json and everything worked normal.
![image](https://user-images.githubusercontent.com/8909619/79062801-70248880-7cc7-11ea-94c5-66ca85db386b.png)
![image](https://user-images.githubusercontent.com/8909619/79062802-7155b580-7cc7-11ea-8269-ae04f3a2736f.png)

So can you recheck with your app?

Thanks

[2020-04-12 07:19] luyx2412 commented on #2650
Hi @shanenorman you meant when the home screen have bad resolution image? Can you send me the Config.js and AppConfig.json?

Thanks

[2020-04-12 07:24] luyx2412 commented on #2569
Hi @san2pedro You can reaplace `product.permalink` with amazon product link to redirect it.

Thanks

[2020-04-12 07:42] fasttend commented on #2636
Please find the attachment.

On Sun, Apr 12, 2020 at 8:55 AM minhtruong315 <notifications@github.com>
wrote:

[2020-04-12 07:56] carloziled commented on #2652
another new error

`error D:\Projects\sod\node_modules\api-ecommerce\node_modules\grpc: Command failed.
Exit code: 1
Command: node-pre-gyp install --fallback-to-build --library=static_library
Arguments:
Directory: D:\Projects\sod\node_modules\api-ecommerce\node_modules\grpc
Output:
node-pre-gyp info it worked if it ends with ok
node-pre-gyp info using node-pre-gyp@0.12.0
node-pre-gyp info using no

[2020-04-12 08:16] dttrung26 commented on #2662
Hi @ernandozatariano , please leave me your /lib/common folder for checking. Nice day!

[2020-04-12 08:33] dttrung26 commented on #2611
Hi @ernandozatariano , please leave me your /lib/tabbar.dart and /lib/menu.dart, I'll finish the rest and send you back :D
Nice day!

[2020-04-12 08:37] philipvu30 commented on #2645
Hi,

I have tested our demo app and everything seems fine. My guess is you are missing some packages so please replace the file pubspec.yaml with this file.
[pubspec.zip](https://github.com/inspireui/support/files/4466070/pubspec.zip)

Thanks

[2020-04-12 08:39] Elshaden commented on #1703
I am getting exactly the same issue here, did you find a solution????

[2020-04-12 08:49] KeaMengsrea commented on #2637
yeah, i. can run an example of flutter project. and other project also.
except your project i can't run(android)

On Sun, 12 Apr 2020 at 10:12, Minh Pham <notifications@github.com> wrote:

[2020-04-12 09:30] cschng96 commented on #2522
@philipvu30
Hi, there is one more problem I have noticed while you are fixing the bugs. The app seems do not sync well with ListingPro theme.
1. Claim badge does not show in the app.
2. Reviews does not show in the app.
3. In listing details in the app, tags are shown instead of features in features section. Business tagline is not shown. Featured image is also not synced.
Can you help me to fix t

[2020-04-12 09:44] Mohammad-AlZabibi commented on #2635
@minhcasi  please?

[2020-04-12 10:05] Emmarango commented on #2645
I already edited the pubspec.yaml whit this,
and run flutter clean, delete pub spec.lock, and run again

same error
![Captura de Pantalla 2020-04-12 a la(s) 3 01 11](https://user-images.githubusercontent.com/9246454/79066144-5a34aa80-7c6a-11ea-829f-245f370915eb.png)

[2020-04-12 11:11] minhcasi commented on #1716
Hi, the Multi-Language for Product attribute is not supported via WPML Rest API so that we have moved to the config file - https://tppr.me/RVpSK - it mean you need to update it manually from the app that matches with your website. As this field is quite persisted from the web/app so there are not issues, this approach also helps to speed up the app.

[2020-04-12 11:52] abedfatafta commented on #2663
@minhtruong315
thanks for your response its only the code i have downloaded , no customization yet ,
i just now sent you config file with realtime user and password  so just use them with the original source code.

[2020-04-12 11:55] maximuskay2 commented on #2645
Same Error

 After replacing pubspec.yamlpubspec.yaml,
Flutter clean
flutter pub get
flutter run

On Sun, Apr 12, 2020 at 6:05 AM Emmarango <notifications@github.com> wrote:

[2020-04-12 12:02] tjain90 opened #2671 "[fluxstore pro] - cart shows error app is open again"
---------

1. My issue: carts shows attached error if it is open again.

2. Screenshots issues (required):
![Screenshot_20200412-173036](https://user-images.githubusercontent.com/6376301/79068301-8b04f600-7ce3-11ea-8159-e2ca1dc344dd.jpg)

3. Proof of my purchased (required): tjain90 from themeforest

3. Config files (required)

[2020-04-12 12:04] minhcasi commented on #2538
@avinashverma21 - please investigate the app performance solution on this guide - https://docs.inspireui.com/fluxstore/performance/ - we suggest to use from VPS on Digital Ocean or Google Cloud

Also check the guide and video on this link https://docs.inspireui.com/fluxstore/delivery-android/

You could also try to run `flutter build appbundle` to see if can be fixed

[2020-04-12 12:15] tjain90 commented on #2671
I am using woocomerce as my backend.

[2020-04-12 12:19] ajaysinghof commented on #2612
Hey Fluxstore member, please help us out with this problem. We are unable to  get a good response

[2020-04-12 13:12] abedfatafta commented on #2663
when run the app with debug in splash screen hang and the exception  raised ( MissingPluginException(No implementation found for method getAll on channel plugins.flutter.io/shared_preferences)
i see this solution but i don't know how to implement hhhh
https://stackoverflow.com/questions/44357053/flutter-test-missingpluginexception/44360235

[2020-04-12 13:29] lemarchexpress opened #2672 "[WoocommerceFluxstoreAPP] - Dropdown list for City Selection is not working"
I would like to include a Dropdownlist for City selection & ZipCode Selection in the Checkout form (Introducing the shipping Address).

Regarding State Province you have included this solution so I have just copy and adapt the script.
However is not working, Could you tell me what is missing? This are the actions I have done for the city case:

I have created /cities/city_es.json file to call and

[2020-04-12 13:33] lemarchexpress commented on #2672
![image](https://user-images.githubusercontent.com/63209110/79070011-f397a700-7cd2-11ea-912b-f096dcb4a999.png)
Proof of being a customer...

[2020-04-12 13:48] san2pedro commented on #2569
Ty but send me code sorry for asking cause know just c#

[2020-04-12 13:51] lemarchexpress opened #2673 "[MStoreAPI for Woocommerce] - After updating now i cannot use the API"
---------

1. My issue:
Now i cannot login or call anything from/to the backend to the app.

2. Screenshots issues (required):

![image](https://user-images.githubusercontent.com/63209110/79070294-29d62600-7cd5-11ea-9304-2dc683a89802.png)

3. Proof of my purchased (required):
![image](https://user-images.githubusercontent.com/63209110/79070311-496d4e80-7cd5-11ea-8b39-72894708d97c.png)

3. Config f

[2020-04-12 14:05] philipvu30 commented on #2645
Hi,

Please try to uninstall the app on your emulator then start again.

[2020-04-12 14:26] digirizon commented on #2658
[code]

running the code on my Mac Catalina, using latest Android Studio, the Android emulator works fine but when I try to build using iPhone it gives this error
[code]
also, I want to sign my app using a pre-existing Keystore but I couldn't find any details document for signing using the existing Keystore file, and how to generate the key.jks file !!

[2020-04-12 14:27] MiguelHAngelH commented on #2645
Good morning, I opened a ticket with the same problem but it was duplicated, I had not seen it, sorry. https://github.com/inspireui/support/issues/2667

But I want to comment that I have the same problem, followed this tutorial that was provided to me in the codecanyon comments and well nothing.
https://gist.github.com/minhcasi/2362b8ed369738cea2bf10a57ac569e1
Hopefully they can solve it as soon a

[2020-04-12 14:29] bikostudio commented on #2642
==[ Request 2 ] ======== Get the location google map link in the order's page   =======

Till now the geocoding location is working fine getting the user location and Auto fill the address fields.
When user make a new order the new order saved to Woocommerce ----> orders section with the address by letters.
My question Is there a way to get the location map URL as will to be saved in order's page

[2020-04-12 14:58] andisalimudin opened #2674 "i cannot run the demo woocommerce fluxstore."
---------

1. My issue: i just download and extract and follow the tutorial but i still cannot run the demo apps. thanks in advance.

2. Screenshots issues (required):
![Capture 2](https://user-images.githubusercontent.com/63330825/79071969-1648b080-7d11-11ea-8476-1c3a5ce74728.PNG)

3. Proof of my purchased (required):
![Capture](https://user-images.githubusercontent.com/63330825/79071972-1e085500

[2020-04-12 15:00] sketchuprzr commented on #2670
thank you for the solution. @Lokeswara-betha

I solved all the other problems, I corrected some lines incorrectly while updating.

[2020-04-12 15:00] #2670 closed

[2020-04-12 15:34] limitlessfirm commented on #2666
![Capture](https://user-images.githubusercontent.com/59250639/79072841-90fad700-7ce3-11ea-955f-8bc96973a59e.JPG)

I want to add link in this menu  and when i press on it go to page in my website like (about us) link

[2020-04-12 15:40] vishalhbhoyar commented on #2424
Hi trunghieuvn !
I am Advait's colleague.
Issue- Placed order and in due process saved address. But next time while placing new order ,when I selected saved address ,It didn't show complete saved address.I had to refill name and other information again.Every time we place order,we have to put that address information again.
Please check.

[2020-04-12 16:05] iMezooo opened #2675 "[Flux-Pro] - How Can i change this orange photo in settings tab ?"
i cannot found this picture asset in the project
![settings](https://user-images.githubusercontent.com/38619185/79073635-f224a980-7ce7-11ea-9dd7-75d37879ebb1.png)

[2020-04-12 16:23] lemarchexpress opened #2676 "[Woocommerce Fluxstore] - Shipping Cost is not loading properly"
---------

1. My issue:

Scenario....
I have 3 types of delivery:
1.- Always free (Pick-up at store) = 0.00€
2.- Always fixed price (Express delivery in 30 to 45min) = 3.95€
3.- Free shipping for orders over 30€
a) During morning (12:00h - 16:00h) =0.00€ if condition applies, otherwise it never appears.
b) During Afternoon (17:00h-21:00h) =0.00€ if condition applies, otherwise it never appears.

I

[2020-04-12 16:30] lemarchexpress opened #2677 "[Woocommerce Fluxstore] - Stripe does not work it showns a FATAL ERROR"
---------

1. My issue:
Stripe does not work it showns a FATAL ERROR
Also, paypal image is not shown and it is properly configured.

2. Screenshots issues (required):
![image](https://user-images.githubusercontent.com/63209110/79074150-0c13bb80-7ceb-11ea-99c5-82b80cc28b38.png)

3. Proof of my purchased (required):
![image](https://user-images.githubusercontent.com/63209110/79074154-146bf680-7ceb-1

[2020-04-12 16:36] alazar-aklilu commented on #2307
Hi, is there any progress?

[2020-04-12 16:36] vanlalruata commented on #2623
**I think alternative payment method like GPay will be nice.**

RazorPay is not currently active in native. But only webview. :-|

[2020-04-12 16:44] vanlalruata opened #2678 "RazorPay or GPay"
As we come across with the razorpay problem in the current version (1.6.6) is there any alternative way to implement native payment still? Say Google Pay (GPay) ?

[2020-04-12 16:45] sketchuprzr opened #2679 "[Fluxstore - Woo] - Rate app - Language problem"
I changed the text content in "settings.dart". But nothing has changed in practice.

![image](https://user-images.githubusercontent.com/60021696/79074584-ef30b580-7cf5-11ea-8253-dd9524ad51a6.png)

![image](https://user-images.githubusercontent.com/60021696/79074588-f5269680-7cf5-11ea-9674-4a14b50cbfce.png)

[2020-04-12 16:47] lemarchexpress opened #2680 "[Woocommerce Fluxstore] -Logic for blocking Order button if Subtotal is lower than 10€"
---------

1. My issue:
My backend (woocommerce) has solved this with a plugin so on website we have no problems.

But we have not the same option in the APP as we have for a minimum free shipping order, where you can establish the amount required to establish an order on the site.
Would you mind to provide this solution?
It is really useful and important block the button on review screen during c

[2020-04-12 16:48] sketchuprzr commented on #2679
Another problem is the Upgrade feature.
I am having a problem when I do this as said. Also, "upgrader" package needs to be added to the application. But I'm still having problems.

![image](https://user-images.githubusercontent.com/60021696/79074689-83028180-7cf6-11ea-91f3-ec02ac7d40bd.png)

![image](https://user-images.githubusercontent.com/60021696/79074699-8e55ad00-7cf6-11ea-92b6-0509ec619b4e.p

[2020-04-12 16:58] raysernick commented on #2502
i solved this. this is bugs, im using dokan and vendor need to check show email on dashboard.
and how chat notification works? is need to config self?

[2020-04-12 17:07] lemarchexpress opened #2681 "[Woocommerce Fluxstore] - Paypal is not working"
---------

1. My issue:
Using a valid paypal account, it never login, so at this moment, either paypal or stripe as payment methods don't work.
How can i fix this?
Is it possible to include an smart button from paypal so the payment can be done immediately?

2. Screenshots issues (required):
![image](https://user-images.githubusercontent.com/63209110/79075037-72e7a380-7cf0-11ea-8a2a-1d5bde559ffe.p

[2020-04-12 17:19] lemarchexpress opened #2682 "[Woocommerce Fluxstore] - Customize left menu side (customer name)"
---------

1. My issue:
I would like to include the name of the customer in this menu down the logo.
If it is not loggedin, so it will not show it...

such as shown in the screenshot.
2. Screenshots issues (required):
![image](https://user-images.githubusercontent.com/63209110/79075211-babafa80-7cf1-11ea-9ae9-5dd12ad6320b.png)

3. Proof of my purchased (required):
![image](https://user-images.gith

[2020-04-12 17:41] raysernick commented on #2030
hello @minhtruong315 how i can config this?
my vendor or me can't receive notification

[2020-04-12 17:42] chikip opened #2683 "[my-product] - Fluxstore woocommerce 1.6.6b"
---------

1. My issue: Unable to login via Email and password since the updation of MstoreApi plugin.

2. Screenshots issues (required):
![emulator](https://user-images.githubusercontent.com/63201901/79075768-62482500-7d12-11ea-8d89-7b0cf00a0d4e.png)
![mstore api plugin](https://user-images.githubusercontent.com/63201901/79075769-62e0bb80-7d12-11ea-8cc3-af5eef425d95.jpg)

3. Proof of my purchased

[2020-04-12 18:28] Vetriselvan-NA commented on #2669
Fix for Orders loading again and again

  @override
  Future<List<Order>> getMyOrders({UserModel userModel, int page}) async {
    try {
      var response = await http.post(
          "$domain/index.php?route=extension/mstore/order/orders&page=$page&limit=10",
          headers: {"content-type": "application/json", "cookie": cookie});
      List<Order> list = [];
      if (response.statusCode ==

[2020-04-12 18:32] Vetriselvan-NA commented on #2669
Add some products to cart. close the app and reopen the app. This is showing the following error
![image](https://user-images.githubusercontent.com/13717356/79076726-08e3f400-7d1a-11ea-9741-8705ea9a407b.png)

[2020-04-12 18:56] lemarchexpress opened #2684 "[Woocommerce Fluxstore] - User profile is not updating the data"
---------

1. My issue:
After waiting more than 5minutes it does not do anything.
The button keep the loading signal and it had not changed the values in my backend.
The Phone Number is not kept in the profile so customer has to fulfill the data always.
Profile cannot be updated without including the actual password (should show a message)

2. Screenshots issues (required):

![image](https://user-

[2020-04-12 18:58] lemarchexpress commented on #2673
It has been solved after you have reset my purchase code in the backend.
Thanks!
![image](https://user-images.githubusercontent.com/63209110/79077239-49cf0f00-7d00-11ea-9549-5105e025684c.png)

[2020-04-12 19:09] twhittakerdev opened #2685 "app still showing data from your demo site"
the configuration of this app is extremely long , you need to simplify this setup. anyway, i reach here https://docs.inspireui.com/fluxstore/woocommerce-setup/#1-getting-started on step 3. and i change eerything to point to a test site and i run the app on android studio but it still pulling data from your demo website.

[2020-04-12 19:09] lemarchexpress opened #2686 "[Woocommerce Fluxstore] - How to make the 3 titles (Category/Search/MyCart) look the same?"
---------

1. My issue:
I have tried to make them have:
Same font-type
Same font-size
Same padding and height level
Same weight (500)
Could you help me? I could not do it... sorry.

2. Screenshots issues (required):
![image](https://user-images.githubusercontent.com/63209110/79077324-1640b480-7d01-11ea-9339-92c4a645b431.png)

3. Proof of my purchased (required):
![image](https://user-images.github

[2020-04-12 19:22] maximuskay2 commented on #2645
Hello , Thanks for your responses, I did a uninstall from emulator b4
testing but same error. Thanks

On Sun, Apr 12, 2020 at 10:05 AM philipvu30 <notifications@github.com>
wrote:

[2020-04-12 19:44] T3kken commented on #2630
Hi I can buy now if you are ready. But no sure how you can do it. Do you want me to send you a PM?

[2020-04-12 20:22] lemarchexpress opened #2687 "[Woocommerce Fluxstore] - Tabbar indicator is not aligned"
---------

1. My issue:
The bar in the selector of the tabbar is not aligned with icon and i am using standard configuration for this icon. what could be happening?

2. Screenshots issues (required):
![image](https://user-images.githubusercontent.com/63209110/79078923-f9f64500-7d0b-11ea-9227-2f41d67fe241.png)

3. Proof of my purchased (required):
![image](https://user-images.githubusercontent.com/

[2020-04-12 20:53] aberatadiguzel opened #2688 "[Flutter MV] - Android Error after Update"
---------

1. My issue:
I get the following error on Android after the 1.6.6 update. I couldn't find a solution. Many things don't work

E/flutter (24146): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: MissingPluginException(No implementation found for method getAll on channel plugins.flutter.io/shared_preferences)
E/flutter (24146): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)]

[2020-04-12 20:56] shanenorman commented on #2650
[Send.zip](https://github.com/inspireui/support/files/4467094/Send.zip)

Yes, home page is the only place where I have bad resolution image. Please see attached Config.js and AppConfig.json

[2020-04-12 21:26] Shiru-kun commented on #2474
i changed to dokan and did some updates, but im having troubles with Sms login before the checkout, i already followed the docs to configure it (in firebase console and added the .json file in android/app )  but its still loading in that screen , what im missin?

[2020-04-12 22:15] Emmarango commented on #2645
I did re-build and re-install app, same error

[2020-04-12 22:18] xLidoni opened #2689 "[FluxStore Pro] - Language Issue"
---------

My issue:

Hi recently, I'm trying to create a new language, I installed the  plugin , but when i try to create a new language they generate some errors.

Any solutions?
Thanks!

if I open a demo project it works.

Screenshots issues (required):

![image](https://user-images.githubusercontent.com/11965301/79084155-8c114400-7d32-11ea-90b6-b222d84db994.png)

Proof of my purchased (require

[2020-04-12 23:01] fashionhubksa commented on #2519
is this how the "priority" issue is treated? at least 2 days for a response? i can' rely on your service in the business, i already issued a refund request, please respond asap. thanks.

[2020-04-12 23:30] shanenorman commented on #2650
I've edited to include my own Firebase Account and Facebook Login.

Thanks!
[Send.zip](https://github.com/inspireui/support/files/4467351/Send.zip)

[2020-04-13 00:21] trunghieuvn commented on #2549
@gugan7 please follow tutorial here: https://github.com/inspireui/support/wiki/%5BFeature%5D-Setup-firebase-cloud-messaging(FCM)-push-notification-in-IOS
i  will upload video and send for you later.

[2020-04-13 00:22] trunghieuvn commented on #2591
@gugan7 please follow tutorial here: https://github.com/inspireui/support/wiki/%5BFeature%5D-Setup-firebase-cloud-messaging(FCM)-push-notification-in-IOS
 i will update video and send for you later
thanks

[2020-04-13 00:23] trunghieuvn commented on #2555
@advaitn about feature push notification use firebase.
please follow tutorial here: https://github.com/inspireui/support/wiki/%5BFeature%5D-Setup-firebase-cloud-messaging(FCM)-push-notification-in-IOS
 i will update video and send for you later
thanks

[2020-04-13 00:56] minhcasi commented on #2673
move to #2672

[2020-04-13 00:56] #2673 closed

[2020-04-13 00:56] minhcasi commented on #2676
move to #2672

[2020-04-13 00:56] #2676 closed

[2020-04-13 00:56] minhcasi commented on #2677
move to #2672

[2020-04-13 00:56] #2677 closed

[2020-04-13 00:57] minhcasi commented on #2680
move to #2672

[2020-04-13 00:57] #2680 closed

[2020-04-13 00:57] minhcasi commented on #2681
move to #2672

[2020-04-13 00:57] #2681 closed

[2020-04-13 00:57] minhcasi commented on #2682
move to #2672

[2020-04-13 00:57] #2682 closed

[2020-04-13 00:57] minhcasi commented on #2684
move to #2672

[2020-04-13 00:57] #2684 closed

[2020-04-13 00:57] minhcasi commented on #2686
move to #2672

[2020-04-13 00:57] #2686 closed

[2020-04-13 00:57] minhcasi commented on #2687
move to #2672

[2020-04-13 00:57] #2687 closed

[2020-04-13 01:00] minhcasi commented on #2672
@lemarchexpress - thank you for your all feedback, please help to create one ticket for all the issues

[2020-04-13 01:03] minhcasi commented on #2672
@philipvu30 - please help to investigate these issues include the closed issue above - thank you!

[2020-04-13 01:18] minhcasi commented on #2671
Duplicate of #2615 - pls help to check solution on this issue (there is the patching on the ticket)

[2020-04-13 01:18] #2671 closed

[2020-04-13 01:21] Jegufull opened #2690 "[FluxStore] - mstore-api 2.2.6 and 2.2.7 Updates Can't Sing in"
---------

1. My issue:

When I update to woocomerce to mstore-api 2.2.6 and mstore api 2.2.7 my application doesn't want to login to my store, please fix that.

In the application supposedly the wrong password comes out,  I install an older version of the api, and if I can log in to the app.

2. Screenshots issues (required):

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-04-12 at 20 21 22](

[2020-04-13 01:41] minhcasi commented on #2689
Hi @xLidoni - these are just the warning from the plugin of Android studio - if the language is working fine then don't worry about it

Would you mind to share this language file so that we will include it as officially from the app - thank you!

[2020-04-13 01:44] minhcasi commented on #2409
@hirande  - Would you mind to share this language file so that we will include it as officially from the app - thank you!

[2020-04-13 01:47] minhcasi commented on #2530
@ykarapanca - would you mind sharing this language file so that we will include it as officially from the app - we are working on a new script to help to add/remove language easier - thank you!

[2020-04-13 01:48] minhcasi commented on #2534
@san2pedro - would you mind sharing this language file so that we will include it as officially from the app - we are working on a new script to help to add/remove language easier - thank you!

[2020-04-13 01:48] minhcasi commented on #2422
@qorane099  - would you mind sharing this language file so that we will include it as officially from the app - we are working on a new script to help to add/remove language easier - thank you!

[2020-04-13 01:50] minhcasi commented on #2280
@ahmetozcan9211 - would you mind sharing this language file so that we will include it as officially from the app - we are working on a new script to help to add/remove language easier - thank you!

[2020-04-13 02:07] dttrung26 commented on #2666
Hi @limitlessfirm ,
please add those scripts just under column inside SingleChildScrollView and customize to meet your need in /lib/menu.dart. Permanent solution will be provided in the next patch including document.

[code]

Nice day!

[2020-04-13 02:07] #2666 closed

[2020-04-13 02:07] minhcasi commented on #2688
@aberatadiguzel - thank you for the feedback,

Please help to pull from the Gitlab to fix these issue - https://tppr.me/MDiQB, or you can download this attache file (remove .txt)

[MainActivity.kt.txt](https://github.com/inspireui/support/files/4467679/MainActivity.kt.txt)

[2020-04-13 02:08] minhcasi commented on #2685
@twhittakerdev - could you share the common / config file here, it could be the issue from your rest api -

you could also try to test with the Fluxbuilder - http://fluxbuilder.com/

[2020-04-13 02:22] minhcasi commented on #2679
1. you can try to copy the folder of rate my app to your own folder and translate directly inside the folder - https://github.com/Skyost/RateMyApp

2. not sure if you have included the upgrader from pubspec library - https://pub.dev/packages/upgrader - we may not support this lib as it is not stable, but you could try by search the comment code that integrates this lib - https://tppr.me/cr7Jq

[2020-04-13 02:26] minhcasi commented on #2678
Hi, the new version is supported via WebView combine with Native (https://razorpay.com/docs/payment-gateway/flutter-integration/), you can try to enable the Razopay and run via Webview

[2020-04-13 02:26] #2678 closed

[2020-04-13 02:27] minhcasi commented on #2675
@iMezooo - pls try to use Inspector from Android studio - https://docs.inspireui.com/fluxstore/customization/#1-how-to-customize-any-ui-from-app

[2020-04-13 02:27] #2675 closed

[2020-04-13 02:28] minhcasi commented on #2674
@andisalimudin - first you could run this script
[code]
(this script also available from the menu of Android Studio)

Also try to use this video could be help - https://www.youtube.com/watch?v=ReAUZDIgh2I

[2020-04-13 02:30] minhcasi commented on #2690
#2683

[2020-04-13 02:32] minhtruong315 commented on #2690
@Jegufull You need to verify purchase code to work with MStore Api
https://user-images.githubusercontent.com/63201901/79075769-62e0bb80-7d12-11ea-8cc3-af5eef425d95.jpg

[2020-04-13 02:43] KeaMengsrea commented on #2637
do you have any solution. i stuck with this point. i can't move on.
deadline is coming soon :D

On Sun, 12 Apr 2020 at 15:49, Mengsrea Kea <keamengsreadev@gmail.com> wrote:

[2020-04-13 02:55] minhtruong315 commented on #2683
@chikip I check your config on my source code. it's working well https://www.dropbox.com/s/8w47zk4lemh5mfd/login.mov?dl=0
can u give me your account? i will try to login

[2020-04-13 02:57] dttrung26 commented on #2632
Hi @zemeister2332 , currently Fluxnews only supports card layout for category screen. More layout might be updated in near future.
Let me know if you still have any question.

[2020-04-13 02:58] dttrung26 commented on #2657
Noted checking.

[2020-04-13 03:00] #2661 closed

[2020-04-13 03:02] #2664 closed

[2020-04-13 03:08] twhittakerdev commented on #2685
check your email for a zip file from wetransfer. i wasn't able to upload zip file here

[2020-04-13 03:08] twhittakerdev commented on #2685
https://wetransfer.com/downloads/4b043ee9abe7580ea52599a43cce963320200413030755/1607180109d1bae8f30e469043e5d0dd20200413030755/b08234

[2020-04-13 03:12] trunghieuvn commented on #2660
Hi @MarioMSamy  , please provide me your config and common folder, I will help you solve this problem quickly. Thanks.

[2020-04-13 03:47] carloziled commented on #2652
@minhcasi its not fixing my issue :( please help

[2020-04-13 03:49] minhcasi commented on #2623
@vanlalruata - you can try to use the latest version 1.6.6b that already fix this build issue - caused by the Razopay library

[2020-04-13 03:49] #2623 closed

[2020-04-13 03:51] trunghieuvn commented on #2654
Hi @redamakarem  , this problem may be due to something wrong in your source code, please add me to the gitlab / github repo or send your source code to me. So I can check and help you solve this problem as quickly as possible. Thanks.

My email / gitlab / github: hieu.trantrung1204@gmail.com

[2020-04-13 03:56] twhittakerdev commented on #2685
now am getting this after trying your suggesting by using the fluxbuilder

{
  "code": "rest_no_route",
  "message": "No route was found matching the URL and request method",
  "data": {
    "status": 404
  }
}

[2020-04-13 04:14] carloziled commented on #2652
i will open a ticket refund from this,. poor support

[2020-04-13 04:27] minhcasi commented on #2637
@KeaMengsrea - it's working fine with our testing, if you have tried to change the bundle ID, please make sure follow this guide https://docs.inspireui.com/fluxstore/delivery-android/

[2020-04-13 04:27] #2641 closed

[2020-04-13 04:29] minhcasi commented on #2643
@dasdev - you can try to manage your local source by using Git and SourceTree - so that you could know which files have been changed - https://www.sourcetreeapp.com/ - thank you!

Also, try to download the latest 1.6.6b that release on today to fix some issue -

[2020-04-13 04:30] minhtruong315 commented on #2608
Hi @undigitals I can't order  product on your website. can u record me screenshot for checkout on your website?

[2020-04-13 04:30] minhcasi commented on #2645
@maximuskay2 - @Emmarango - please help to download the latest source from Gitlab or the source 1.6.6b from the download page - thank you!

[2020-04-13 04:39] minhcasi commented on #2648
@youngtet - please help to use Android Studio could be easier with the setup

@philipvu30 - do you have any suggestion - thank you!

[2020-04-13 04:41] minhcasi commented on #2652
we have updated your request - thanks

[2020-04-13 04:41] #2652 closed

[2020-04-13 04:49] twhittakerdev commented on #2685
new key generated
Consumer key  ck_7d5d3830e3bcd90b35b7158a531e3c27c923939d

Consumer secret  cs_4e6aa34d77f6e49718b2becb5be8d7bbdf3975a6
--

[2020-04-13 04:50] KeaMengsrea commented on #2637
okay, that is working now. thanks always support me

On Mon, 13 Apr 2020 at 09:42, Mengsrea Kea <keamengsreadev@gmail.com> wrote:

[2020-04-13 04:53] minhcasi commented on #2656
@saber93 - please fix by following this ticket https://github.com/inspireui/support/issues/2615 - there is the cart patching file could fix this issue

[2020-04-13 04:54] minhcasi commented on #2656
Also, download fluxstore MV 1.6.6b if you are using this product - thank you!

[2020-04-13 05:01] twhittakerdev commented on #2685
[image: image.png]

On Sun, Apr 12, 2020 at 9:09 PM Minh Pham <notifications@github.com> wrote:

--
Thomas N. Whittaker Jr.
*BSc, PCIP*
*T*: 1-345-928-6348

---------------------------------

This message contains information which may be privileged. Unless you are
the addressee (or are authorized to receive for the addressee), you may not
use, copy, or disclose to anyone, the message or informati

[2020-04-13 05:18] twhittakerdev commented on #2685
when i try to register i get " sorry you are not allowed to do that" although i have Anyone can register enable.  and when i tried to login i get "the username or password is incorrect"

[2020-04-13 05:29] philipvu30 commented on #2580
Hi,

I need to investigate more on this issue. If possible please send me a support account for your site to this email: toan@inspireui.com.

Thanks

[2020-04-13 05:30] dttrung26 commented on #2622
Replace following files as following:
- menu.dart in /lib/
- settings.dart in /lib/screens
[ticket_support#2622.zip](https://github.com/inspireui/support/files/4468141/ticket_support.2622.zip)

Let me know it you still have any problem.
Happy coding!

[2020-04-13 05:36] qorane099 commented on #2422
Dear Inspireui/Support,

This is two translated files.

somali and kiswahili.
Somali is language from Somalia and kiswahili is language from Kenya.

appreciated your help🙏🙏

thank you

On Mon, Apr 13, 2020 at 7:18 AM Minh Pham <notifications@github.com> wrote:

[2020-04-13 05:36] philipvu30 commented on #2642
Hi,

**Request 1 and 2:**  It's possible to add these features but currently we do not provide customization service.

For the above issues:
- Please run command "flutter clean" then send me your project to this email: toan@inspireui.com. I'll help you fixing them.

Thanks

[2020-04-13 05:37] redamakarem commented on #2654
Hello,
The source code has not been altered. Also, other users that bought the products are experiencing the same issue.
I have created a repo and added you as a collaborator
Thanks

[2020-04-13 05:48] carloziled commented on #2652
ok thanks

[2020-04-13 05:48] philipvu30 commented on #2635
Hi @Mohammad-AlZabibi ,

Can I have a look of the file pubspec.yaml?

[2020-04-13 06:11] antixirus opened #2691 "[FLUXSTORE MV] - Category can't show the Picture, Just Loading"
---------

1. My issue:
![gambar](https://user-images.githubusercontent.com/57300649/79096636-ec7ea080-7d87-11ea-928d-c037243186c1.png)
![gambar](https://user-images.githubusercontent.com/57300649/79096653-f3a5ae80-7d87-11ea-8731-4c2e3ea5cf39.png)

2. Screenshots issues (required):
Forget the update 1.6.6 Fluxstore MV there are errors / bugs, here is an example, I did not make any changes, but the

[2020-04-13 06:13] qorane099 commented on #2640
Hello,

Did you receive that my above email?

I did send you the full source and also added your mail in my firebase.

Thank you, appreciated

9121948906

On Sun, Apr 12, 2020, 8:51 AM minhtruong315 <notifications@github.com>
wrote:

[2020-04-13 06:24] chikip commented on #2683
username: a@bb.com
pass: 123

I tried testing on a completely new source, still the same result

![emulator2](https://user-images.githubusercontent.com/63201901/79097418-63626c00-7d7d-11ea-8757-dd44bba6dc15.jpg)

[2020-04-13 06:29] kenngigz commented on #2502
Ho did you resolve it ?

On Sun, Apr 12, 2020 at 7:59 PM raysernick <notifications@github.com> wrote:

[2020-04-13 06:34] vumanhsn97 commented on #2672
- shipping method: Replace this line in shipping_method model https://tppr.me/6CWUd
- stripe error: Please update mstore api
- logic for blocking order: Add this code in lib/screens/checkout/review.dart https://tppr.me/Q06Ak
- paypal: need to correct account
- customize left menu side: Replace this code in lib/menu.dart https://tppr.me/oAi1s
- update profile: working well. Email need to correct
-

[2020-04-13 06:46] vumanhsn97 commented on #2658
@digirizon
Open terminal in your project folder and run this cmd:
flutter channel stable
flutter upgrade
flutter clean
cd ios
pod deintegrate
pod repo update
pod install

[2020-04-13 06:54] minhtruong315 commented on #2603
Hi @peppyday can u send me admin account to login to your website? I wanna check your website, because it's not working with MStore extension now.

[2020-04-13 06:58] vumanhsn97 commented on #2648
Open terminal in your project folder and run this cmd. Make sure your app connect to your app store(https://appstoreconnect.apple.com/). If it is not working, please show more information about error:
flutter channel stable
flutter upgrade
flutter clean
cd ios
pod deintegrate
pod repo update
pod install
cd ..
flutter build ios

[2020-04-13 07:02] Ghadawi commented on #2649
please find this problem in layout
https://drive.google.com/file/d/1Zr3U2_ZJXPeo7ovXoU_sSPuDLkMeKCpv/view?usp=sharing

[2020-04-13 07:27] minhtruong315 commented on #2640
@qorane099 did you add my email: minhtruong315@gmail.com to your firebase?

[2020-04-13 07:29] peppyday commented on #2603
Sent you  email: truong@inspireui.com

[2020-04-13 07:43] qorane099 commented on #2640
Yes l added as editor.

9121948906

On Mon, Apr 13, 2020, 12:57 PM minhtruong315 <notifications@github.com>
wrote:

[2020-04-13 07:44] Justnopeople opened #2692 "[Fluxstore - woo] - Getting an error when running the latest application version"
I can't run my application while running it. I get an error response like the following.
![image](https://user-images.githubusercontent.com/49190031/79102280-9ebc6500-7d94-11ea-985e-9b0deec781f8.png)

Proof of my purchased
![image](https://user-images.githubusercontent.com/49190031/79102385-d9260200-7d94-11ea-8c50-1f53d64e3fae.png)

Please help me to solve this.

[2020-04-13 07:54] lemarchexpress commented on #2672
1) shipping method: Replace this line in shipping_method model https://tppr.me/6CWUd
**Feedback:** ISSUE SOLVED!

2) stripe error: Please update mstore api
**Feedback:** After updating the problem persists, the message returned is the same. Until now i have no payment method active working on the app.

3) logic for blocking order: Add this code in lib/screens/checkout/review.dart https://tppr.me/Q

[2020-04-13 07:55] elienaj opened #2693 "Fluxstore Pro - Flutter E-commerce Full App"
Hello Team.
1. My issue:

Trying to run the new update FluxStore 1.6.6b, I'm getting Registered as a Git root, but no Git repositories were found there
can you help?

2. Screenshots issues (required):

https://user-images.githubusercontent.com/61785293/79103413-2befc180-7d75-11ea-949b-644af23692d9.png

3. Proof of my purchased (required):

Item ID:
24020929

Item Purchase Code:
6ba98005-b5e2-49d5-

[2020-04-13 08:05] minhtruong315 commented on #2663
@abedfatafta I can get categories from your website https://tppr.me/yDN1N
rest api is not working on your website, I can't call any api. Please check

[2020-04-13 08:23] minhtruong315 commented on #2474
@Shiru-kun can you record screen?

[2020-04-13 08:25] minhtruong315 commented on #2506
@unaluslusoy can u translate the Exception message? I don't understand your language.

[2020-04-13 08:26] minhtruong315 commented on #2529
@alicankarakus I fixed this issue. it'll be available in next release. Thanks for your report

[2020-04-13 08:26] #2529 closed

[2020-04-13 08:29] minhtruong315 commented on #2593
@kimisan87 what is the fluxstore version you're using? I published the version 1.6.6. it's different config.dart with your config

[2020-04-13 08:30] minhtruong315 commented on #2594
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2020-04-13 08:30] #2594 closed

[2020-04-13 08:33] digirizon commented on #2658
will try that ,, can you please see other issues ? it's urgnt

[2020-04-13 08:36] kvt0012 commented on #2612
Dear sir, can you send your project via my email, I will check it for you, thank you.

[2020-04-13 08:37] kvt0012 commented on #2502
Dear sir, please don't publish your code here because of of private infomation.

[2020-04-13 08:38] kvt0012 commented on #2502
What is your email? I will check it, thank you

[2020-04-13 08:38] farhaanabdulla opened #2694 "MStore Api"
Hi i've recently update my mstore api to latest version, now am having error your code is being used by another website???plz advise

[2020-04-13 08:41] kvt0012 commented on #2628
Sorry, sir
I mean that do you edit any detail on splash screen code.
I will check it if I can detect this is default error and config error, sir.
Let's help me check your default is working or not, sir.

[2020-04-13 08:48] ajaysinghof commented on #2612
Send me your E-mail ID please

[2020-04-13 08:48] eviano commented on #2647
Still not connecting! I followed the documents and it seems to be there is other configurations as booking or gallery!

[2020-04-13 08:50] Mohammad-AlZabibi commented on #2635
Hi @philipvu30 ,

This is my pubspac.yaml file :
----------------------------------------

name: fstore
description: Mobile commerce app by Flutter

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be ove

[2020-04-13 08:50] kvt0012 commented on #2601
Ok, sir, I'm very glad when I see it.
Wish you have a nice health, sir.

[2020-04-13 08:50] #2601 closed

[2020-04-13 08:52] Mohammad-AlZabibi commented on #2635
Hi @philipvu30 ,

This is my pubspec.yaml file :
---------------

name: fstore
description: Mobile commerce app by Flutter

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# buil

[2020-04-13 08:53] unaluslusoy commented on #2506
@minhtruong315 - Error message on the screen: sorry, you are not allowed to do this.

I ask you to look at the error from Android Studio Terminal. There is a warning about the method.

[2020-04-13 09:00] ykarapanca commented on #2530
Sure why not:)
[lang_tr.zip](https://github.com/inspireui/support/files/4468819/lang_tr.zip)

[2020-04-13 09:12] philipvu30 commented on #2658
Hi @digirizon ,

1. Already fixed in new version.
2. It only happens with variable product. Currently under investigating.
3, 4 and 6. They will be able to translate in the next update. Thank you for pointing out.
5. It will be updated in the next update.

[2020-04-13 09:14] minhtruong315 commented on #2603
1.2 fixed. please try again
3. https://tppr.me/5WF73
4. Yes. can

[2020-04-13 09:18] digirizon commented on #2658
when can I get the new version? it's urgent because my app is in Arabic so I can't publish it before fixing these issues, please

and what about the second line in point 6 "  **can we strip or render the Visual Composer shortcodes**?"

[2020-04-13 09:19] peppyday commented on #2603
Where can i find the fixed code.

[2020-04-13 09:20] minhtruong315 commented on #2603
1.2 I fixed on MStore extension, I help you update the latest MStore extension on your website. so it's working well.
3. Follow by above image

[2020-04-13 09:26] kenngigz commented on #2502
kenngigz9@gmail.com

On Mon, Apr 13, 2020, 11:38 kvt0012 <notifications@github.com> wrote:

[2020-04-13 09:30] peppyday commented on #2603
I see the category page now. but i need to display only the top level category. Now its showing some random category

[2020-04-13 09:32] minhtruong315 commented on #2603
you can change "categoryLayout": "card", in config json to show top categories

[2020-04-13 09:33] philipvu30 commented on #2658
@digirizon ,

Please send me your common folder to this email: toan@inspireui.com. I need to test your site first.

[2020-04-13 09:40] avinashverma21 commented on #2538
How to add wallet payment for customers and GPS maps for delivery boy and the customers to see live delivery markers.

[2020-04-13 09:41] buddiezweb opened #2695 "[Fluxstore Woocommerce] - Code for upgrading the app in play store and app store"
1. My issue:
I found the code to upgrading the app but shows error.

2. Screenshots issues (required):
![Screenshot 2020-04-05 at 10 55 11 AM](https://user-images.githubusercontent.com/8961536/79110805-da592e00-7d98-11ea-98ec-c818a045f6fa.png)

3. Proof of my purchased (required):
![Purchase Order](https://user-images.githubusercontent.com/8961536/79110825-e2b16900-7d98-11ea-952d-e087eeff6106.png)

[2020-04-13 09:45] digirizon commented on #2658
Sent , from digirizon@gmail.com , please have a look at stripping/ rendering the VC shortcodes in blog and product description

[2020-04-13 09:45] peppyday commented on #2603
Ok.
1.In category names i see &AMP; instead of & symbol. Any fix.
2. Also in homepage recent items shows duplicate products as in attachement
![1](https://user-images.githubusercontent.com/63037137/79111050-6b300980-7d99-11ea-94fc-115f7943697a.jpg)

[2020-04-13 09:52] philipvu30 commented on #2658
May I ask if you are using Visual Composer for your site?

[2020-04-13 09:54] peppyday commented on #2603
Now the category is working. Thanks

Is there any way i can change the box colour or use image bg. If so which file to edit it.

Thanks

![2](https://user-images.githubusercontent.com/63037137/79111771-c9a9b780-7d9a-11ea-887f-d6e745476b5d.jpg)

[2020-04-13 09:58] digirizon commented on #2658
Yes

[2020-04-13 10:06] qorane099 commented on #2640
Hello,

Please check if you can access the firebase and give me an update.

Appreciate your help

Thank you

9121948906

On Mon, Apr 13, 2020, 1:13 PM Abdulkadir Qorane <qorane.cw@gmail.com> wrote:

[2020-04-13 10:06] digirizon commented on #2658
@vumanhsn97 I did all the steps but still getting this error :

[code]

[2020-04-13 10:13] digirizon commented on #2658
@vumanhsn97  tried running the app in XCode , I got this error :

`Command PhaseScriptExecution failed with a nonzero exit code`

[2020-04-13 10:25] #2609 closed

[2020-04-13 10:28] kvt0012 commented on #2634
I think that yes because of the await function.

[2020-04-13 10:36] philipvu30 commented on #2658
Hi,

There is a conflict between these plugins: Visual Composer and Rest API Controller.
Rest API Controller will not decode or convert the output of Visual Composer.
You have to try to fix that on your site first.

[2020-04-13 10:40] philipvu30 commented on #2635
Hi @Mohammad-AlZabibi ,

Please run command "flutter clean" and send your project to this email: toan@inspireui.com
Need to figure what is wrong with the source code. Thanks

[2020-04-13 10:41] digirizon commented on #2658
it's not a conflict, the issue is that rest API  send the code like HTML, so it can't render any plugin shortcodes, my request is how to strip the shortcodes from the data coming from API ?

[2020-04-13 10:42] digirizon commented on #2658
tried this
![66814442-2dc4fd80-ef69-11e9-99b3-fed2a71cac53](https://user-images.githubusercontent.com/38114490/79114662-85afb600-7d8c-11ea-8b9b-1114dd166ac1.png)
 but then I got this error

`Command /bin/sh failed with exit code 1`

[2020-04-13 10:53] lemarchexpress commented on #2672
NEW ISSUE
11. Historical Order.
I have Customized Orders States that are not considered in the Status.
![image](https://user-images.githubusercontent.com/63209110/79114851-a411b380-7d84-11ea-8ffc-45ab63c3a7b0.png)

The flow in the happy path is as follow:
Pedido Nuevo (New PO) -> Procesando (Processing) -> En Reparto (Delivery) ->Completado (Completed)
We will not accept POs without immediate paym

[2020-04-13 10:58] philipvu30 commented on #2658
Hi,

Please add this code to these files under function initState.
![image](https://user-images.githubusercontent.com/54442328/79115488-24014300-7db0-11ea-85ad-44f9dcc8bf33.png)

Code:
widget.item.content =  widget.item.content.replaceAll(RegExp(r'\[vc_.*\]'), '');

![image](https://user-images.githubusercontent.com/54442328/79115534-4c893d00-7db0-11ea-80be-051bd7cf554a.png)

[2020-04-13 11:07] xLidoni commented on #2689
Certainly as soon as the translation is finished I will share it!

A question.

Not mine generated the files

config_it.json

states_it.json

and I added this string to the i10n.dart file.

  String get italian {
    return Intl.message (
      'Italian',
      name: 'italian',
      desc: '',
      args: [],
    );
  }

it's correct?

[2020-04-13 11:12] Shiru-kun commented on #2474
I just updated and  login sms is working. But now i got
 This ... when im on a payment

On Mon, 13 Apr 2020, 10:23 minhtruong315, <notifications@github.com> wrote:

[2020-04-13 11:15] Shiru-kun commented on #2474
When i try to register a user
I got this

On Mon, 13 Apr 2020, 10:23 minhtruong315, <notifications@github.com> wrote:

[2020-04-13 11:18] minhcasi commented on #2692
@Justnopeople - pls try to use the flutter stable channel
[code]
Also, try to clean cache to fix the issue - https://gist.github.com/minhcasi/2362b8ed369738cea2bf10a57ac569e1 - thank you!

[2020-04-13 11:19] minhcasi commented on #2693
@elienaj - please try to clean cache to fix this issue - https://gist.github.com/minhcasi/2362b8ed369738cea2bf10a57ac569e1 - thank you!

[2020-04-13 11:19] minhcasi commented on #2694
@farhaanabdulla - please help to send your request to reset the code to support@inspireui.com - thank you!

[2020-04-13 11:19] #2694 closed

[2020-04-13 11:24] minhcasi commented on #2695
@buddiezweb - the upgradeURL is the link on your app store, ex try to define on the app.dart or config.dart
[code]

[2020-04-13 11:40] peppyday commented on #2603
Found the solution for this....Thx.

Is there any way i can edit onboard screen ui and login and register screen ui. Thanks

[2020-04-13 11:48] amankwatra opened #2696 "Fluxstore Shopify - No changes happening in the app"
Hi,

I have made many changes based on your tutorial on docs.inspireui.com/fluxstore and most of the changes are changing banner images, category images etc. etc. but none of these changes are happening in my emulator app. whenever i reload all the pictures that came originally only are visible and none of the replaced ones.

What has happened? I cannot customize the app if I cant change the image

[2020-04-13 11:54] peppyday commented on #2603
![3](https://user-images.githubusercontent.com/63037137/79118422-860b7980-7dab-11ea-9a11-f7e78d3d8326.jpg)
Getting this error while checkout can't able to move to next screen.

[2020-04-13 11:57] buddiezweb commented on #2695
That would work just for iOS but then what about android.

[2020-04-13 12:00] awwam commented on #2654
Im also having the same issue. The products list is fetching again and again as i load more products.
No code is changed on the category page.

[2020-04-13 12:06] digirizon commented on #2658
it seems that we are working on different projects you and I ! , I'm having issues with Flux pro Wocommerce and I can't find the same structure you have

for instance, the function iniState is found in two files only not all of the 4 files!
detailed_blog_fullsize_image.dart & detailed_blog_quarter_image.dart

I did paste the line as follows:
[code]

but the issue still remains in both blog list an

[2020-04-13 12:14] twhittakerdev commented on #2685
![error](https://user-images.githubusercontent.com/1518412/79119615-61d17d80-7d56-11ea-8dfc-1ddb1b251aba.PNG)

see attached error receiving now

[2020-04-13 12:15] twhittakerdev commented on #2685
[image: error.PNG]

On Mon, Apr 13, 2020 at 12:01 AM Thomas Whittaker <twhittaker5@gmail.com>
wrote:

--
Thomas N. Whittaker Jr.
*BSc, PCIP*
*T*: 1-345-928-6348

---------------------------------

This message contains information which may be privileged. Unless you are
the addressee (or are authorized to receive for the addressee), you may not
use, copy, or disclose to anyone, the message or info

[2020-04-13 12:30] taryaalo commented on #2654
i also have this issue on product and order history

[2020-04-13 12:31] elienaj commented on #2693
please check not solved.

"This package referenced a Flutter repository via the .packages file that
is no longer available."

On Mon, Apr 13, 2020 at 2:19 PM Minh Pham <notifications@github.com> wrote:

[2020-04-13 12:32] ernandozatariano commented on #2611
Hi, tks a lot! :D

[tabbar.zip](https://github.com/inspireui/support/files/4469483/tabbar.zip)

best regards

[2020-04-13 12:33] taryaalo commented on #2649
same on me in issue 1

[2020-04-13 12:34] ernandozatariano commented on #2662
Hi! Tks again!!!

[common.zip](https://github.com/inspireui/support/files/4469493/common.zip)

[2020-04-13 12:38] twhittakerdev commented on #1818
same issue here
![error](https://user-images.githubusercontent.com/1518412/79120960-d2c66480-7d59-11ea-91e6-85e5ec2fd18f.PNG)

[2020-04-13 12:42] aberatadiguzel commented on #2688
there was another problem
https://imgur.com/1SXwkE9
https://imgur.com/HRHiNzt

[2020-04-13 12:45] abedfatafta commented on #2663
Dear i stop the api . Because i re enabled the caching
The problem in stores listing
Even in your  config with last version

--
Regards

Abed Almonem Fatafta
Ttawor IT
Ramallah- Palestine
Skype: abed.fatafta
Tel-Fax:+970-2-2950842
Mobile: +970-59-9666221
http://www.ttawor.com

On Mon, Apr 13, 2020, 11:06 AM minhtruong315 <notifications@github.com>
wrote:

[2020-04-13 12:56] digirizon commented on #2658
Also, I have an issue with google login

![Screenshot_1586782604](https://user-images.githubusercontent.com/38114490/79122034-62423680-7d9f-11ea-8348-6b1555919d88.png)

[2020-04-13 13:00] elienaj commented on #2693
Solved below are the steps:

   1. Delete .packages file and
   2. Run following command flutter pub get

On Mon, Apr 13, 2020 at 3:30 PM Elie Najem <elie.h.najem@gmail.com> wrote:

[2020-04-13 13:11] HoWonJang commented on #2639
This is the person who previously asked me that the home screen is not outputable. I am sending you a screenshot of the appconfig.js file. The category is 30, but why does it come out on an empty screen? Please reply. Thank you.

[2020-04-13 13:14] tjain90 commented on #2623
Yes Updating app module fix this but i am unable to build. it throws an error: "doesn't include signing certificate "Apple Distribution"

I have created distribution and development certificate in apple development portal. also created profile and imported to xcode project. Still it throws an signing error.

[2020-04-13 13:34] undigitals commented on #2608
I'm using Mstore website/storefront which is recommended by you.

On Mon, Apr 13, 2020 at 1:30 PM minhtruong315 <notifications@github.com>
wrote:

[2020-04-13 14:10] MiguelHAngelH commented on #2645
thanks downloading the project.

[2020-04-13 14:30] twhittakerdev commented on #2308
im having the same issue, all plugins are updated and using the fluxbuilder which pass all avlidated settings

[2020-04-13 14:49] HoWonJang commented on #2639
[send.zip](https://github.com/inspireui/support/files/4469956/send.zip)
![Capture](https://user-images.githubusercontent.com/49952957/79130093-5ecf9f00-7de1-11ea-8e1d-0ec70858b477.PNG)

please answer me.

1.Banner also does not output on screen even though category setting is set. What's the problem? I sent you an email and please reply as soon as possible. Thank you.

2.

How do I get three colum

[2020-04-13 15:07] oliet333 commented on #2655
Hello, thanks for the answer

I downloaded Fluxstore Listing file from ThemeForest, there are fewer items in Source folder that in the "Flutter Basic Installation on Mac OS" video at 35 min
I dont have pubspec file
I add my screenshot
Thanks
![Снимок экрана 2020-04-13 в 17 58 45](https://user-images.githubusercontent.com/63500634/79131639-958dc100-7db1-11ea-9308-bc1b8cfcf8fe.png)

[2020-04-13 15:10] zahmed84 opened #2697 "[Fluxstore-WooCommerce] - Bug in Cart Page"
---------

1. My issue:

Hi, i have observed a bug in your App when changing the quantity on Cart Page. In fact when we change the quantity on cart page, then close the App. After reopening the App the Cart page shows the Error. Screenshot of Error msg. is attached herewith.

2. Screenshots issues (required):

![WhatsApp Image 2020-04-13 at 20 02 26](https://user-images.githubusercontent.com/58950

[2020-04-13 15:35] twhittakerdev commented on #2697
you're not the only one experiencing these issues. i find the app to be extremely buggy. question, have you been able to do a successful login and registration via the app

[2020-04-13 16:07] philipvu30 commented on #2658
Hi,

Please run "flutter clean" then send your project to this email: toan@inspireui.com. I'll help you checking on this issue.

Thanks

[2020-04-13 16:37] undigitals opened #2698 "[MStore-expo] - Can't create review while logged in"
1. My issue: Creating Review

![Simulator Screen Shot - iPhone 11 - 2020-04-14 at 05 01 43](https://user-images.githubusercontent.com/22441312/79156489-f519ba00-7e0d-11ea-8746-5e21497557f2.png)

2)
<img width="562" alt="Screen Shot 2020-04-14 at 5 01 39 AM" src="https://user-images.githubusercontent.com/22441312/79156502-ffd44f00-7e0d-11ea-8f5b-a47b25edfefe.png">

3)
<img width="651" alt="Screen S

[2020-04-13 16:38] Shiru-kun commented on #2474
@keizershaquil

[2020-04-13 16:44] graphicdestination commented on #2521
Hello.  Any ETA when the new version of the code will be pushed out?  Also
any ETA of the new Flux Builder?

[2020-04-13 17:10] Jegufull commented on #2690
I already updated to the latest version and added the purchase code and it worked 👍🏼, thanks

[2020-04-13 17:14] Jegufull commented on #2696
Go to Fluxstore project folder lib/common/config.dart, update "isCaching": false.

[2020-04-13 17:59] digirizon commented on #2658
@philipvu30 email sent from digirizon@gmail.com

[2020-04-13 18:02] digirizon commented on #2658
@philipvu30 can you please in the email sent help with the above issues as will

[2020-04-13 18:36] kurkuteabhi opened #2699 "Fluxstore Pro Reqesting Fetures"
Please add following features in Fluxstore Pro app

1) Add additional address line at as
---- Address line 1
---- Address line 2
---- City
---- Postal Code
---- State
---- Country

2) conformation check box for T&C before making payment

3) place for privacy policy

Thanks in advance

![purches](https://user-images.githubusercontent.com/43174699/79148809-c555bc80-7de3-11ea-8fc8-0ffd00873521.jpg)

[2020-04-13 18:42] khalidsharif opened #2700 "[Fluxstore-Listing] - Unable to archive the ios build"
---------

1. My issue:
I am using the latest fluxstore listing version 1.4.0 - I can build the ios app from android studio, its working fine with the simulator but the Archive from xcode always fails.
I want to deploy it to the apple store now but still no success.

I tried removing and reinstalling pods. cleaning and rebuilding the app still no success.
I  always get this issue when I try to Arc

[2020-04-13 18:43] juniortimeline opened #2701 "[MStore Pro] - Recent Product Post"
---------

1. My issue: How can I add recent product post here

{
  "WooCommerce": {
    "url": "http://demo.mstore.io",
    "consumerKey": "ck_b7594bc4391db4b56c635fe6da1072a53ca4535a",
    "consumerSecret": "cs_980b9edb120e15bd2a8b668cacc734f7eca0ba40"
  },
  "HorizonLayout": [
    {
      "layout": "circleCategory"
    },
    {
      "layout": "bannerImage",
      "categoryOrTag": 23,
      "im

[2020-04-13 18:48] IbrahimHd commented on #2555
Hi @trunghieuvn,
More than 2 weeks and still no progress on the issues I raised, unfortunately.
As requested by @minhcasi, I'm going to put all the cases here in this issue.
**A.**  Phone/SMS Login, same error with v1.6.6b:
I/flutter ( 9378): verified
E/ ( 9378): [ZeroHung]zrhung_get_config: Get config failed for wp[0x0008]
**B.** Search tool sends tag query like this: &tag=[tagName] but it has to

[2020-04-13 18:54] ajaysinghof commented on #2612
Hey my project is very high in space its 1.3GB in size so i'm unable to
send it,

On Mon, 13 Apr, 2020, 2:06 pm kvt0012, <notifications@github.com> wrote:

[2020-04-13 19:47] limitlessfirm opened #2702 "[Fluxstore] - translate new item in menu"
---------

1. My issue: Depend on to past issue number #2666. i added new item in menu but when change the language for app the new item in menu not translates so i want to know how the new item translate also

2. Screenshots issues (required):
![Capture](https://user-images.githubusercontent.com/59250639/79154732-5f136e80-7dd0-11ea-8b5f-75c7693aadaf.JPG)

3. Proof of my purchased (required):
![sc

[2020-04-13 19:49] eviano commented on #2647
Help, Anyone?!

[2020-04-13 20:20] harrisbaitalrayan commented on #2573
Hi Thanks, I fixed it by creating a new flutter project and then porting the files to it.

[2020-04-13 20:22] harrisbaitalrayan commented on #2529
Hi guys, I also faced this issue with options and special price in opencart. Can you please advice when the new release will be available ?

[2020-04-13 20:57] haidarsalim commented on #2622
![111111](https://user-images.githubusercontent.com/54249914/79160371-57f55c00-7de2-11ea-8896-c4de46f0fbaf.JPG)
It works fine but chatbox still exists
I want it removed to need it

[2020-04-13 21:00] khalidsharif commented on #2700
This is my flutter environment :

<img width="844" alt="Screen Shot 2020-04-13 at 11 58 34 PM" src="https://user-images.githubusercontent.com/50369621/79160612-c0443d80-7de2-11ea-8d98-243344e5cda1.png">

[2020-04-13 21:23] walidcpu commented on #2633
I have the same problem

[2020-04-13 21:59] harrisbaitalrayan opened #2703 "[FluxStore PRO] - Opencart : Items in cart show error if app is reopened"
Using OpenCart setup with latest version of OpenCart.

1. My issue:

Add items to cart. Close app and reopen. Check Cart page. It shows error.
Also, with the latest OpenCart, offer price and products options are also not displaying. Its same in your demo app also connected to OpenCart. If there is a new version being released, can you please update the release date.

This is an urgent project for

[2020-04-13 22:03] aberatadiguzel commented on #2688
I replaced it with MainActivity in 1.6.5. problem solved!

[2020-04-13 22:16] abedfatafta commented on #2691
same is here , ticket opened before 2 days !

[2020-04-13 23:25] denny-dang commented on #2624
Hi, it's still not working on my end. I reverted back to the original evastore layout with no changes. Then, I changed the appconfig.json to what I emailed you and the config to show my products. However, the webview checkout url is still loading forever

[2020-04-13 23:27] Mohammad-AlZabibi commented on #2635
@philipvu30
Okay , I've sent it,
waiting for respond
Thank you .

[2020-04-13 23:43] #2690 closed

[2020-04-13 23:53] minhtruong315 commented on #2683
https://www.dropbox.com/s/8w47zk4lemh5mfd/login.mov?dl=0
it's working well on my source code. can u send me full source code via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/2683

[2020-04-13 23:55] minhtruong315 commented on #2669
@Vetriselvan-NA give me your email. I will send u updates. Thanks

[2020-04-13 23:59] sodhanii commented on #2703
This happens in magneto as well.

[2020-04-14 00:03] abedfatafta commented on #2663
as i check the other tickets i found a solution , you have problem in new version in MainActivity.kt file
I REPLACED it with 1.6.5 one and every thing till now fine
i will update you for any problem

[2020-04-14 00:03] sodhanii opened #2704 "Flux Store - Magento version"
---------

1. My issue:

- I cannot see Tax on the payment payment review screen even after entering the shipping address,
- When I apply a coupon in checkout, and I refresh the number of items/add new item, the coupon quantity doesn't auto-update.

2. Screenshots issues (required):

3. Proof of my purchased (required):
<img width="938" alt="Screen Shot 2020-04-13 at 7 00 13 PM" src="https://user-

[2020-04-14 00:05] minhtruong315 commented on #2663
ok. Thanks

[2020-04-14 00:08] sodhanii commented on #2654
Its a small hack.

Change getProductsList method of product model, and loadMore method of Order model.

[order.dart.txt](https://github.com/inspireui/support/files/4472449/order.dart.txt)
[product.dart.txt](https://github.com/inspireui/support/files/4472450/product.dart.txt)

[2020-04-14 00:29] saifmuhtar opened #2705 "[FluxStore-WooCommerce] - WebView is not working & Images are not showing on Categories and Blog"
---------

1. My issue:
A) WebView is not working
B) Images are not showing on Categories
C) Images are not showing on Blog

2. Screenshots issues (required):
A) WebView is not working
![WhatsApp Image 2020-04-14 at 08 25 02 (2)](https://user-images.githubusercontent.com/34681804/79173244-8c403b00-7e29-11ea-97de-038eee8e006f.jpeg)
![WhatsApp Image 2020-04-14 at 08 25 02 (3)](https://user-images.gi

[2020-04-14 00:30] saifmuhtar commented on #2705
I'm using the latest version, FluxStore WooCommerce 1.6.6b

[2020-04-14 00:41] abedfatafta commented on #2663
you are welcome , but there is a nother bug
not all store listed in stores screen ,its only load 10 , and nothing loaded after

[2020-04-14 00:53] minhtruong315 commented on #2651
@enamn it's showing category image. https://tppr.me/t2l0i
can u send me full source code via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/2651

[2020-04-14 01:21] minhcasi commented on #2697
@zahmed84 - this bug is fixed on latest code - we will release it on this week

In the meantime please check solution on this ticket - https://github.com/inspireui/support/issues/2615

[2020-04-14 01:21] #2697 closed

[2020-04-14 01:22] minhcasi commented on #2685
we have approved your refund request - thanks

[2020-04-14 01:22] #2685 closed

[2020-04-14 01:24] minhcasi commented on #2699
@kurkuteabhi - thank you for your suggestion, I've updated as a feature request and send to the team for checking

[2020-04-14 01:39] minhcasi commented on #2645
I believe i could fix this issue on latest release - let us know if you have any issues, feel free to reopen the ticket :)

[2020-04-14 01:39] #2645 closed

[2020-04-14 01:41] minhcasi commented on #2703
@sodhanii - @harrisbaitalrayan - confirm this issue is fixed on the latest code, we will release a new version on this week

In the meantime - please check the solution on this ticket https://github.com/inspireui/support/issues/2615

[2020-04-14 01:51] robertwt7 commented on #2592
Yeah i manage to get it done, actually you guys, by only using `<WebView html={this.state.html} />` makes it work for me. not sure why do you need the other property on your template. I checked the documentation from Webview component that they have update their props options

[2020-04-14 01:51] #2592 closed

[2020-04-14 01:58] minhcasi commented on #2700
Hi, could I check if you try to run 'flutter release ios' from the terminal, also update the Signing as this screenshot

<img width="846" alt="Screen Shot 2020-04-14 at 8 55 26 AM" src="https://user-images.githubusercontent.com/1459805/79177879-f8bd3900-7e2d-11ea-85f7-809695ec1289.png">

[2020-04-14 01:59] #2643 closed

[2020-04-14 01:59] #2646 closed

[2020-04-14 02:03] minhcasi commented on #2655
Hi, pls check this file

<img width="770" alt="Screen Shot 2020-04-14 at 9 01 08 AM" src="https://user-images.githubusercontent.com/1459805/79178186-bea06700-7e2e-11ea-9a7e-4e0f1d2bea1a.png">

[2020-04-14 02:03] #2656 closed

[2020-04-14 02:03] #2674 closed

[2020-04-14 02:04] #2688 closed

[2020-04-14 02:06] minhcasi commented on #2689
i10n.dart has been generated automatically by using this Android Studio plugin - https://plugins.jetbrains.com/plugin/13666-flutter-intl - so you don't need to edit it :)

The __.json file is load directly into the project :)

[2020-04-14 02:07] minhcasi commented on #2691
@antixirus - please help to download the latest 1.6.6b - we have fixed some build issues on this release - thank you!

[2020-04-14 02:12] enamn commented on #2651
I told you than the problem in android only not in ios , I send you android  secreenshot , you try in ios !
That my peoplem. All issues above is in android only. Image , load webview , darkmode not working in android

[2020-04-14 02:13] minhcasi commented on #2693
@elienaj - thank you for your sharing, I've also updated this solution to the gist - https://gist.github.com/minhcasi/2362b8ed369738cea2bf10a57ac569e1

[2020-04-14 02:17] minhcasi commented on #2695
@buddiezweb - pls help to check this example from the author of upgrader library `https://github.com/larryaasen/upgrader/blob/master/example/lib/main.dart`

As this library still has issues on the latest Master channel, we will update it to the app still it is stable - thank you!

[2020-04-14 02:18] minhcasi commented on #2701
Hi, you can try this setting (to set empty category ID)

[code]

[2020-04-14 02:19] dttrung26 commented on #2662
Hi @ernandozatariano , could you point out exactly at which blog / category this related blogs layout error appear? Because so far so good, things still run fine on your site as I checked.

[2020-04-14 02:27] dttrung26 commented on #2622
Hi @haidarsalim , replacing this file into your lib/screens/ would fix that.
[ticket_support#2622.zip](https://github.com/inspireui/support/files/4472775/ticket_support.2622.zip)
Best!

[2020-04-14 02:32] minhtruong315 commented on #2649
@Ghadawi can u send me models folder? I will help you fix issues

[2020-04-14 02:35] Ghadawi commented on #2649
@minhtruong315  please find models folder here:
https://drive.google.com/file/d/1LRaDhVxeR2b0VnEu_GMgic_RRGfJW_r5/view?usp=sharing

[2020-04-14 02:35] dttrung26 commented on #2611
Hi @ernandozatariano
Replace below file into your /lib/ would fix that. Please bear in mind that those code needs to be customized to meet your need.
[code]
Let me know if you still have any question
[support_ticket#2611.zip](https://github.com/inspireui/support/files/4472799/support_ticket.2611.zip)

[2020-04-14 02:37] dttrung26 commented on #2620
No response from customer. Please reopen the ticket instead of creating new one when you are available.
Best

[2020-04-14 02:37] #2620 closed

[2020-04-14 02:37] #2622 closed

[2020-04-14 02:44] minhcasi commented on #2549
@abdullatif1989 - https://www.youtube.com/watch?v=rFCcWNRPrSk please help to check this detail video - thank you!

[2020-04-14 02:44] #2549 closed

[2020-04-14 02:45] minhcasi commented on #2591
@gugan7 - https://www.youtube.com/watch?v=rFCcWNRPrSk please help to check this detail video - thank you!

[2020-04-14 02:45] #2591 closed

[2020-04-14 02:46] minhcasi commented on #2555
@IbrahimHd - https://www.youtube.com/watch?v=rFCcWNRPrSk please help to check this detail video - thank you!

[2020-04-14 02:48] dttrung26 commented on #2702
HI @limitlessfirm ,
if you are using my code in previous ticket, then please keep in mind that those Texts inside that widget is hard-coded. If you wish to use translate language feature, first you need to declare your language in l10n like this:
`
Go to lib/l10n/ the folder and copy the existing files to make a new one (you may see there are 6 languages demo from the app). Let’s take adding the n

[2020-04-14 02:51] dttrung26 commented on #2705
Hi @saifmuhtar , please leave me your /lib/common folder for checking.
Best!

[2020-04-14 02:52] minhtruong315 commented on #2636
I dont see config file
https://tppr.me/OkfJ2

[2020-04-14 02:52] #2610 closed

[2020-04-14 02:52] minhcasi commented on #2612
try to remove the `build` folder, `android/.grade` folder, `ios/.sysmlink`, `ios/Pods`

[2020-04-14 03:03] chikip commented on #2683
Email sent, kindly check.

Thank you

[2020-04-14 03:06] vumanhsn97 commented on #2672
- stripe error: Can you send your admin account to vumanhsn97@gmail.com
- paypal: Create a account in https://www.sandbox.paypal.com/
- update profile: Try to create a new account and update this account.
- same tittle: This is correct code. Please checking by your self. May be linking to folder wrong because I use code in dev branch.
- dropdown city: Make sure you add link folder to assets in pub

[2020-04-14 03:10] harry503 commented on #2610
@minhtruong315 Can you explain the fixes that you've done? is it part of the next release? when will it be release? have you tested every function of the fluxstore for the opencart to work the same as woocommerce?

I see the your fixes in category and products (above), but there are more that these 2 issues.

[2020-04-14 03:15] cschng96 commented on #2522
@philipvu30
Hi, how is the progress?

[2020-04-14 03:15] saifmuhtar commented on #2705
[common.zip](https://github.com/inspireui/support/files/4472922/common.zip)

@dttrung26 I hope the best from you. Thank you.

[2020-04-14 03:18] minhtruong315 commented on #2474
@Shiru-kun You need to update MStore Api plugin and active purchase code to use MStore Api

[2020-04-14 03:20] minhtruong315 commented on #2506
@unaluslusoy check this solution https://github.com/inspireui/support/issues/2690#issuecomment-612721558

[2020-04-14 03:22] sajidgangat commented on #2659
If there is no update can I request a refund!! how long does the support take?
It's like no one cares here

[2020-04-14 03:24] minhtruong315 commented on #2608
it seems we could not see the Add to cart on your website, please try to prefconfig site from us could be fixed the issue - https://github.com/inspireui/mstore

[2020-04-14 03:29] luyx2412 commented on #2659
Hi @sajidgangat Could you make sure to install the latest mstore-api - https://wordpress.org/plugins/mstore-api/ - and also using the guide from this link https://docs.inspireui.com/mstore/multi-payments/

[2020-04-14 03:43] philipvu30 commented on #2522
Hi,

For the above issues, it may takes 1-2 more days. I'll inform you here when it's done. Thanks

[2020-04-14 03:45] minhtruong315 commented on #2603
https://tppr.me/mNVmF you can edit _loadProduct function  like this to fix  duplicate product
[code]
about symbol issues, we will fix on next release.

[2020-04-14 03:48] philipvu30 commented on #2658
Received.

[2020-04-14 03:51] philipvu30 commented on #2635
Received

[2020-04-14 03:54] cschng96 commented on #2522
@philipvu30 Thank you. I’m looking forward to the fixed project.

[2020-04-14 04:03] philipvu30 commented on #2522
Also I need to tell you that Listing Pro does not support "submit review" along with "rating" and specific "listing" via API.

It means user can submit a review but it will not be assigned to any listing. You have to manually configure it on your site.

So we cannot help you on this case. At least we'll try to add a template for submitted review title like this:
[listing_name] [rating] Review Titl

[2020-04-14 04:07] philipvu30 commented on #2444
Received the mail.

[2020-04-14 04:13] peppyday commented on #2603
Any clue on this issue...

[2020-04-14 04:20] cschng96 commented on #2522
@philipvu30 okay. Other than this, other errors will be fixed right?

[2020-04-14 04:22] cschng96 commented on #2522
I’m actually quite unclear about what you just said just now but it’s ok. I will see after you fixed everything.

[2020-04-14 04:24] youngtet commented on #2648
can you please assist me on skype

[2020-04-14 04:28] minhtruong315 commented on #2603
@peppyday can you add this config to show detail error.
https://isenselabs.com/posts/500-internal-server-error-opencart
Let me know when you add these. I will check your website again. Thanks

[2020-04-14 04:33] peppyday commented on #2603
Done.

[2020-04-14 04:36] peppyday commented on #2603
![image](https://user-images.githubusercontent.com/63037137/79186558-979a6300-7e37-11ea-9cd5-d56904da363b.png)
getting this now

[2020-04-14 04:52] minhtruong315 commented on #2603
@peppyday replace this function then try again https://tppr.me/rbS5N
[code]

[2020-04-14 05:01] harry503 opened #2706 "[MStore Pro] - How to add dynamic config (HorizonLayouts) from cloud?"
---------

1. My issue:
It would be good to be able to load config (HorizonLayouts) from the server just like Fluxstore Pro is currently doing.

Can you give a hint / solve a small code to make it happen?

I'm trying to do it in src/common/index.js
<img width="689" alt="Screen Shot 2020-04-14 at 12 00 06" src="https://user-images.githubusercontent.com/35995317/79187813-822d3500-7e47-11ea-86ce-2059

[2020-04-14 05:08] philipvu30 commented on #2631
Hi,

We'll implement 1C in the future. Thanks

[2020-04-14 05:08] #2631 closed

[2020-04-14 05:23] peppyday commented on #2603
Now i can add address. Thanks.  The next screen shipping method give an error
![image](https://user-images.githubusercontent.com/63037137/79188971-2a3e0080-7e3e-11ea-8a57-3970d0bb0afb.png)

[2020-04-14 05:24] philipvu30 commented on #2635
Hi,

Where do you put your flutter folder in?

Is it in C:\src\flutter?

Please move the flutter folder to the above path and link it like this in Android Studio Settings. Then try it again.

![image](https://user-images.githubusercontent.com/54442328/79188979-c110ba00-7e4a-11ea-80b0-8da7d72354a1.png)

[2020-04-14 05:41] inimist opened #2707 "Mstore-MV"
---------

1. My issue: its S10 Samsung the below menu is not showing. Apparently is covered by the system default banner.

2. Screenshots issues (required):

![IMG-20200412-WA0002](https://user-images.githubusercontent.com/447618/79189858-78540380-7e40-11ea-81e4-7838026028e9.jpg)

3. Proof of my purchased (required):
![76964872-65d1d180-6949-11ea-9687-d2b778d05d0a](https://user-images.githubuserc

[2020-04-14 05:46] philipvu30 commented on #2658
Hi,

I have already sent you the lib folder via email. The cart issue + blog issue should be fixed. Thanks

[2020-04-14 06:14] Shiru-kun commented on #2474
Ok
Im going to test
And let u known

On Tue, 14 Apr 2020, 05:18 minhtruong315, <notifications@github.com> wrote:

[2020-04-14 06:31] philipvu30 commented on #2647
Hi,

It seems you bought the wrong app for your site. FluxListing only supports My Listing/Listeo/ListingPro theme. Are you sure it is the correct theme?

[2020-04-14 06:40] Shiru-kun commented on #2474
i updated and added the purchase code
look:
![Screenshot from 2020-04-14 08-36-59](https://user-images.githubusercontent.com/54008441/79193684-687df480-7e2b-11ea-9594-352aecfeb207.png)
![Screenshot from 2020-04-14 08-37-54](https://user-images.githubusercontent.com/54008441/79193699-6f0c6c00-7e2b-11ea-99b8-add2cdadb85d.png)

 but i still cant login or place a order( after a sms login)

![Screensho

[2020-04-14 06:44] haidarsalim commented on #2622
There is an error in the file
![444](https://user-images.githubusercontent.com/54249914/79194030-7c7a2400-7e34-11ea-8799-361c41d1a6c7.JPG)

[2020-04-14 06:44] haidarsalim commented on #2622
Launching lib\main.dart on Android SDK built for x86 in debug mode...
Running Gradle task 'assembleDebug'...

Compiler message:
lib/screens/settings.dart:15:8: Error: Error when reading 'lib/screens/post_management/post_management.dart': The system cannot find the path specified.

import 'post_management/post_management.dart';
       ^
lib/screens/settings.dart:16:8: Error: Error when reading 'lib

[2020-04-14 06:48] swspro opened #2708 "FluxListing Error Message - Request For Help"
Hi There,

This is Sam from INDIA and I am much excited about learning and using your Products

Recently I had got FluxListing and FluxNews from Themeforest

I am using Wordpress as the Backend

Also I have installed flutter and other required applications

But I am not able to run your run the App which I got in the source file

Getting error message

YOU CAN FIND THE SCREENSHOT IN THE ATTACHMENT

[2020-04-14 06:54] dttrung26 commented on #2622
Hi @haidarsalim ,
I'm sorry I forgot to comment out unnecessary files, please download attached file and replace as above. Thanks.
[ticket_support#2622.zip](https://github.com/inspireui/support/files/4473618/ticket_support.2622.zip)

[2020-04-14 06:58] haidarsalim commented on #2622
This file is working fine. I would like to remove the .box chat

[2020-04-14 06:59] haidarsalim commented on #2622
Items we have removed have returned

[2020-04-14 07:04] haidarsalim commented on #2622
![78808925-cf844f00-79ce-11ea-8617-49a97591aecc](https://user-images.githubusercontent.com/54249914/79195551-20fd6580-7e37-11ea-810c-94e8e1080158.jpg)

[2020-04-14 07:13] Lokeswara-betha opened #2709 "[FluxStore-1.6.6 -Woo] - Payment UI of razorpay is different from previous version of app."
1. My issue:

In my previous version of app  I used to get a payment gateway web interface for razorpay like below image.

![image](https://user-images.githubusercontent.com/60268240/79195961-ce2ea880-7e4c-11ea-8928-4ffd04c198e3.png)

but in recent release of app , when ever I am doing payment with razorpay , It is navigation to app website.

![image](https://user-images.githubusercontent.com/6026

[2020-04-14 07:23] kurkuteabhi commented on #2699
Hi one more feature requested, which i forget to inform as below:

User can edit product variants at checkout or wishlist's page

[2020-04-14 07:27] haidarsalim commented on #2622
![3333](https://user-images.githubusercontent.com/54249914/79197384-4dff4780-7e3a-11ea-9159-72e91fb81a18.JPG)
I learned how to fix this, thank you

[2020-04-14 07:36] dttrung26 commented on #2622
Glad to hear that mate, keep going @haidarsalim
Have a nice day :D

[2020-04-14 07:46] dttrung26 commented on #2705
Hi @saifmuhtar ,
a. All of your webview screens are still working fine mate. Please wait a bit 'cause sometimes it takes more time to load a webview than a widget.

![2](https://user-images.githubusercontent.com/32586676/79199036-916bad00-7e5e-11ea-9c9d-1b62b591942e.PNG)
![1](https://user-images.githubusercontent.com/32586676/79199044-929cda00-7e5e-11ea-812d-9be66ee97dcc.PNG)

b. Category images a

[2020-04-14 07:51] philipvu30 commented on #2522
Hi,

Would you mind turn this on?

![image](https://user-images.githubusercontent.com/54442328/79199574-63d33380-7e5f-11ea-9603-9bd019a09fbf.png)

Or just send me a support account for your site to this email: toan@inspireui.com

[2020-04-14 07:51] vivekaris opened #2710 "[my-product] - Fluxstore WooCommerce - Flutter E-commerce Full App version 1.6.6b – 05 Apr 2020"
---------

1. My issue: Wrong shipping method display in shipping Screen

2. Screenshots issues (required):
![WhatsApp Image 2020-04-14 at 2 01 17 AM](https://user-images.githubusercontent.com/3786005/79197971-53678c80-7e50-11ea-820b-1b01c4dd974a.jpeg)

3. Proof of my purchased (required): i am using gitlab same git userid my license last digit

[2020-04-14 07:57] philipvu30 commented on #2522
1. Currently not support.
2. Please enable lp-reviews in the image above.
3. and 4. Please provide images according to these issues.

[2020-04-14 07:58] saifmuhtar commented on #2705
@dttrung26 Thank you for your great support. I will follow your guide.

[2020-04-14 07:58] #2705 closed

[2020-04-14 08:03] binhetc opened #2711 "MstorePro coupon type always percent"
Hello,
I got an issue recently about coupon type, it always be percent in app only, my website works well.
Could you please help to check that.
I do not have any update on Apple Store.
Best regards,
Binh Dinh
![Ảnh chụp Màn hình 2020-04-14 lúc 15 02 49](https://user-images.githubusercontent.com/13253563/79200732-1952b680-7e61-11ea-947e-7e3b24c247ff.png)

[2020-04-14 08:07] vivekaris opened #2712 "Fluxstore WooCommerce app 1.6b 5 april : If product set as Backorder but in app it shows out of stock"
1. Fluxstore WooCommerce app 1.6b 5 april  : If product set as **Backorder but in app it shows out of stock**

2. **SKU field  missing** ( in Product layout, in shopping Cart , wishlist .

3. **Blog layout unable to render images in blog** see the sample https://www.iotwebplanet.com/arduino-data-display-using-iic-i2c-lcd/     but in app its display its image tag . Kindly look in this issue.

4. **

[2020-04-14 08:08] maximuskay2 commented on #2645
@Emmarango please did the new update .. Downloaeded solve the whole issue of sign with sms and google .. I still encounter error .. pls respond

[2020-04-14 08:11] cschng96 commented on #2522
@philipvu30
I have email your the account. Please check your inbox.

[2020-04-14 08:13] philipvu30 commented on #2708
Hi,

Please replace this line:

 _permission = await _locationService.requestPermission();
to this:
 _permission = (await _locationService.requestPermission()) as bool;

You can find it here: lib/widgets/home/banner/banner_map.dart

[2020-04-14 08:16] cschng96 commented on #2522
3. The features shown are actually the tags.
<img width="325" alt="Screen Shot 2020-04-14 at 4 15 10 PM" src="https://user-images.githubusercontent.com/51393098/79201764-21175880-7e6b-11ea-8a7a-a39969e5da95.png">

4. There is an ad on the Indian Palace listing. It does now shown in the app. You can visit my website. www.placee.my
<img width="1247" alt="Screen Shot 2020-04-14 at 4 14 00 PM" src="ht

[2020-04-14 08:21] lemarchexpress commented on #2672
stripe error: Can you send your admin account to vumanhsn97@gmail.com           
**Feedback:**  I have created an Admin User with this mail vumanhsn97@gmail.comYou should receive a password in the mailbox.

paypal: Create a account in https://www.sandbox.paypal.com/           
**Feedback:**  This link is only for USA accounts. I am in Spain. Regional segmentation does not allow me to open an accou

[2020-04-14 08:22] cschng96 commented on #2522
In case you forget, these are also the errors in the app.

[2020-04-14 08:23] swspro commented on #2708
Thanks Philip for your quick response. It is highly appreciated.

Will update and test it again.

Sam

[2020-04-14 08:41] xLidoni commented on #2689
Not in my case.

config_it.json

states_it.json

were not generated, why?

[2020-04-14 08:47] digirizon commented on #2658
Received and updated but The issue still exists in the bottom of the blog post  and also still showing in the products description ( top and bottom of description ), please check attached screenshot
![WhatsApp Image 2020-04-14 at 11 42 20 AM (1)](https://user-images.githubusercontent.com/38114490/79204715-a7b93f00-7e45-11ea-85ff-6e4c8834f7b3.jpeg)
![WhatsApp Image 2020-04-14 at 11 42 20 AM](https:

[2020-04-14 08:48] dttrung26 commented on #2657
Support via skype!

[2020-04-14 08:48] #2657 closed

[2020-04-14 08:49] lemarchexpress commented on #2672
**User Profile Update** issue was not closed. Check this Video of the null reaction after clicking "Update" button.
https://drive.google.com/file/d/1_jCuJ2a_Ruopnz15xC3ZR6MMXqVL2djT/view

[2020-04-14 08:57] minhtruong315 commented on #2640
@qorane099 change url to https to fix categories
"url": "https://zaamia.com",

[2020-04-14 09:02] jamesmendez opened #2713 "[FluxNews] - Guide to perform following changes"
1. My issue:
Hello,
Could you please guide me how do i perform the following changes :
1. Disable Social Logins
2. Add all my wordpress categories of my website becouse i can't see all of them in the app
3. Rename Menu Items Names (Login and Home)
4. Exclude categories of my wordpress site on the app
5. Do not duplicate articles in homepage

2. Screenshots issues (required):

3. Proof of my purcha

[2020-04-14 09:04] khalidsharif commented on #2700
@minhcasi I think 'flutter release ios' is not a valid command.
please check below, maybe you mean 'flutter build ios --release'?!

<img width="839" alt="Screen Shot 2020-04-14 at 11 47 37 AM" src="https://user-images.githubusercontent.com/50369621/79204998-0f6f8a00-7e46-11ea-98ea-63cc4e1168e5.png">

and here is my bundle id sigining page

<img width="999" alt="Screen Shot 2020-04-14 at 11 48 35 A

[2020-04-14 09:12] qorane099 commented on #2640
thank you very, l really appreciate your 5 star support, thank you again and again.

all my issue are fixed with help of explaining the root of the cause.

[2020-04-14 09:12] #2640 closed

[2020-04-14 09:29] minhtruong315 commented on #2603
@peppyday please look the video. your website has problem when request api for checkout
https://www.dropbox.com/s/ndcbv3rdggtxjl8/request.mov?dl=0

[2020-04-14 09:35] minhtruong315 commented on #2663
I sent you the latest updates on email. pls check

[2020-04-14 09:54] minhcasi commented on #2706
@luyx2412 - please suggest a solution to load json on cloud

[2020-04-14 09:57] minhcasi commented on #2708
@swspro - Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads it's used to verify your proof of purchase?
Sorry for any inconvenience, we will reopen the ticket when it is verified, thank you!

[2020-04-14 09:57] #2708 closed

[2020-04-14 10:00] minhcasi commented on #2709
@Lokeswara-betha - there is a critical issue from Razorpay that cause broken build on Flutter so that we remove this lib for a while, unstill if more stable we could support official this library again

In the meantime please help to use this library by your own project setting - we still keep the code as comment file - make sure to include in on pubspec.yaml file - https://github.com/razorpay/raz

[2020-04-14 10:00] #2709 closed

[2020-04-14 10:02] minhcasi commented on #2711
@binhetc - could you help to share the screenshot issue pls and also attache the common folder so that we could reproduce the issue - thank you!

[2020-04-14 10:02] swspro commented on #2708
sure !
![Themeforest](https://user-images.githubusercontent.com/15525566/79212386-312c3980-7e65-11ea-9ab5-c67b0ea3862a.JPG)

[2020-04-14 10:04] minhcasi commented on #2710
please help to move this conversation to the same ticket #2712

[2020-04-14 10:04] #2710 closed

[2020-04-14 10:14] peppyday commented on #2603
Now my website is working properly. How to remove your mod. Also send me the revised mod to install again.

[2020-04-14 10:23] peppyday commented on #2603
Is it real

Is there any chance this error comes because of php version of website

[2020-04-14 10:42] Hyla96 commented on #2239
@philipvu30 it should be updated in the source code aswell

[2020-04-14 10:59] peppyday commented on #2603
can you send me the new oc.mod file with all the above fix. Need it for new installation

[2020-04-14 11:01] Vetriselvan-NA commented on #2669
vetriselvan.na@gmail.com

[2020-04-14 11:02] amankwatra commented on #2696
It is already false.

[2020-04-14 11:06] limitlessfirm commented on #2702
i made your steps and the translate for link  working now. But now the problem is that. all language for link go to the same URL

i want each language for item in menu go to diffrent page

i used the following code in menu.dart

                ListTile(
                  leading: const Icon(
                    Icons.search,
                    size: 20,
                  ),
                  tit

[2020-04-14 11:07] harrisbaitalrayan commented on #2703
Great. i'll wait for the release this week. The offer price display is very important, as all retailers are giving offers and discount sales.

Also can you explain how to show the sale tag on products. I want to show various tags like flash sales etc on products.
Example from your demo application downloaded from AppStore.

![WhatsApp Image 2020-04-14 at 3 03 49 PM](https://user-images.githubuserc

[2020-04-14 11:20] malibate commented on #2518
managed to run the project but the App crushes once it starts to display the home page with the below errors

![IMG_8164](https://user-images.githubusercontent.com/45195047/79219493-0dfc8c80-7e5b-11ea-8d6c-d7830244397d.PNG)
![IMG_8165](https://user-images.githubusercontent.com/45195047/79219495-0fc65000-7e5b-11ea-8364-a6a81e709819.PNG)
![IMG_8166](https://user-images.githubusercontent.com/45195047

[2020-04-14 11:33] fasttend commented on #2636
[config.dart.zip](https://github.com/inspireui/support/files/4474986/config.dart.zip)

[2020-04-14 11:37] dttrung26 commented on #2702
Hi @limitlessfirm ,
 I'm quite not sure what you mean. Could you explain a little more detail?

[2020-04-14 12:10] n4solutions opened #2714 "Erro with mstore api plugin"
Hi, i got this error:

![image](https://user-images.githubusercontent.com/63645600/79221317-f6f27600-7e2b-11ea-8c90-3b9dba9d429c.png)

Common folder
 [https://drive.google.com/file/d/1AtGE8DdFtzlQNIJyvJFDIV3A7LbuZz6L/view?usp=sharing](url)

[2020-04-14 12:12] ody911 commented on #2502
how do you solve it.?

[2020-04-14 12:30] Shiru-kun commented on #2690
when im trying do signin i got a toaster msg saying wrong credentials , but its not true... i used to login in my website

[2020-04-14 12:31] Shiru-kun commented on #2690
i have the latest version of mstore api

[2020-04-14 12:38] unaluslusoy commented on #2506
@minhtruong315 -The link you shared provided a solution to my problem. thank you.

[2020-04-14 12:42] unaluslusoy commented on #2506
@minhtruong315 - I added the files you sent. I did the test, but the problem persists.

I am using the latest version of Flutter SDK.

![image](https://user-images.githubusercontent.com/31100257/79225961-3d64c680-7e66-11ea-8708-d7a332877d9d.png)

[2020-04-14 12:50] Jazzykhan opened #2715 "[Fluxstore Woo] - Add-Ons not showing in the app, i want to show few products on checkout page in the app"
1. My issue:
I have few Add-ons (Extra products that i ask my clients to buy before they goto checkout page. For example my services is related to hair wigs and i want my customer to optionally buy wash and curls of hairs before they purchase a wig. my website has the option of extra add-ons but on the app i cannot see it. Is it possible to display few products on the checkout page in the app?
Tha

[2020-04-14 12:53] Lokeswara-betha commented on #2709
Sure, Thanks @minhcasi .

[2020-04-14 12:53] Mohammad-AlZabibi commented on #2635
Hi,

I've done that but still having the same problem, Any way i built the code
on mac then transfer the code to my Windows without flutter clean then it
works,

Now i have a working version, so you can close the issue if no one getting
the same problem.

Thanks for trying to help , and i'm ready for any experiments.

best regards.

Mohammad Al-Zabibi

[image: image.png]

On Tue, Apr 14, 2020 at 8

[2020-04-14 13:09] qorane099 opened #2716 "[Fluxstore] -"
the app is getting crashed with a of "connection lost"

please and please help me to fix this issue.

this is not first, l did configured the app a week ago and becouse of issue l did delete the whole and downloaded fresh source from envato.

the issue come again, please investigate this issue and try your best to help.

l did configured the whole app, everything is working fine. but only this iss

[2020-04-14 13:26] Jegufull commented on #2690
@Shiru-kun  You need to verify purchase code to work with MStore Api  plugin. look at
next example
https://user-images.githubusercontent.com/63201901/79075769-62e0bb80-7d12-11ea-8cc3-af5eef425d95.jpg

[2020-04-14 13:29] Jazzykhan opened #2717 "[Fluxstore Woo] - I added TripleA Bitcoin gateway plugin on the website but its not working"
1. My issue:
I installed tripleA bitcoin gateway plugin on my website. not it shows me in the app that pay via bitcoin but when i clock on it it says Sorry, you are not allowed to do that. on website it is working fine.
2. Screenshots issues (required):
![Screenshot_1586870826](https://user-images.githubusercontent.com/31903098/79230149-9b50d880-7e7d-11ea-8c42-2e1e380baf64.png)

3. Proof of my pur

[2020-04-14 13:30] #2635 closed

[2020-04-14 13:31] Shiru-kun commented on #2690
I-  already verified the purchase but i still cant login.

[2020-04-14 13:34] Shiru-kun commented on #2690
![79193699-6f0c6c00-7e2b-11ea-99b8-add2cdadb85d](https://user-images.githubusercontent.com/54008441/79230774-69cc1300-7e65-11ea-91f3-054e000bc32a.png)

[2020-04-14 13:35] undigitals commented on #2698
Please help me out with this and modal is not closing after `send`
<img width="1002" alt="Screen Shot 2020-04-14 at 10 34 07 PM" src="https://user-images.githubusercontent.com/22441312/79230840-2b077e80-7ea0-11ea-9102-44db0fbd5c8f.png">

[2020-04-14 14:09] walidcpu commented on #2645
I download the latest version of the app 1-6-6b but it does not work at all
https://imgur.com/mc1dlzb

[2020-04-14 14:52] avvvar commented on #2580
Dear @philipvu30

I sent you the account

[2020-04-14 15:55] Emmarango commented on #2645
all works fine for me thanks.

@maximuskay2  did you follow these steps?   https://docs.inspireui.com/fluxstore/sign-in/
android needs your sha1

[2020-04-14 17:23] mk4full opened #2718 "[fluxstore] -"
1. My issue:
FAILURE: Build failed with an exception.

* Where:
Build file 'C:\src\FluxStore-woo 1.6.6b\source\android\app\build.gradle' line: 24

* What went wrong:
A problem occurred evaluating project ':app'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://hel

[2020-04-14 17:24] Shiru-kun commented on #2474
Now i can login, register an user...
And now i can place a order using the webview.
But there is a few things bothering me
1. The products from cart arent cleaned after the order.
2. There is way to place order without a webview?

[2020-04-14 18:10] vivekaris commented on #2712
SKU field missing solved .kindly work on other issue

What about deep linking in app . I thought its not working now . if its working kindly share tutorial

[2020-04-14 18:29] ernandozatariano commented on #2662
Hi, the error appear in all categories. I make a screencast from android studio to show you whats happen ;)

[screencast.zip](https://github.com/inspireui/support/files/4477020/screencast.zip)

[2020-04-14 18:47] Jazzykhan commented on #2717
webview is slow but TripleA bitcoin gateway works correct.

[2020-04-14 18:47] #2717 closed

[2020-04-14 19:12] CloudExpressTeam opened #2719 "[Mstore] - Product Quantity Issue"
Hi, hope you all are in safe zone from COVID-19 and other diseases

Regarding to Mstore app, when we attempt to add product quantity it adds till 10 products regardless the number of apps in woocommerce stock!

It only display that product if it's expired from stock, but if there's 1 item ==> any number can be added to the cart!

So, Please make the api correctly achieve this

[2020-04-14 19:14] limitlessfirm commented on #2702
I want the branches link in menu
in English version go to this url : https://www.********.net/branches/
in Arabic version go to this url : https://www.********.net/ar/الفروع/

[2020-04-14 19:34] CloudExpressTeam commented on #2719
![Screenshot_2020-04-14-21-27-21-741_com cloudexpress zooy](https://user-images.githubusercontent.com/34522710/79266268-97ca4b00-7e97-11ea-8fe7-1d18c1908d63.jpg)

The first product only has 3 items in stock

The second product has 26 items in stock

I can only add 10 items regardless the stock quantity

Help please

[2020-04-14 20:01] tjain90 opened #2720 "[fluxstore pro] - Apple Sign in Not working Due to which app rejected"
---------

1. My issue: Apple sign in ask all the information then throws "Waiting error" once password is provided. Smilarly once facebook sign in done app crashes and closed.is there any way to fix else i am fine if we can remove these two signin from ios devices. Kindly Guide me to remove these sign in from IOS or fix this issue.

2. Screenshots issues (required):

3. Proof of my purchased (req

[2020-04-14 20:11] amankwatra commented on #2696
I still haven't been able to make any changes.... somebody help. this was supposed to be very easy.

[2020-04-14 21:00] EhapAlazerk11 opened #2721 "[Flutter E-commerce Full App] - Sign in with social login dose not work"
1. My issue:
hi i am follow docs website and videos to setup the app but  when setup sign in with gmail and sms phone and facebook option they are do not work i created firebase project with my bundle id and i get the SHA1 key but first
 when try to login by gmail :the issue print me
"Warning there is an issue with app during request the
data , please contact admin for fixing the issues PlatformEx

[2020-04-14 21:15] digirizon commented on #2658
any updates on this issue ?

also i get error on xcode when trying to build on emulator and real device

**`Command /bin/sh failed with exit code 1`**

[2020-04-14 21:19] IbrahimHd commented on #2555
@minhcasi it seems that you did't read the issue I raised above, along with the other issues (A, B, C, D).
As I said, Push notification works well, I'm asking support on SMS Login.
Please refer to my most recent msg above.
I'm still waiting for more than TWO WEEKS!

[2020-04-14 22:24] xLidoni opened #2722 "[FluxStore Pro] - Stripe Error"
---------

1. My issue:

Hello!

I've enabled Stripe Gateway, but i have similar problem : https://github.com/inspireui/support/issues/2677

Any solution?

Thanks!!

2. Screenshots issues (required):

![Screenshot (138)](https://user-images.githubusercontent.com/11965301/79279903-5cd41180-7eaf-11ea-917c-3c520340c458.png)

I have tried several versions of Stripe Plugins, but the result doesn't chan

[2020-04-14 23:09] AhmedDarwish660 opened #2723 "[FluxNews] - Default Language"
Hello

My problem in changing the Default Language to arabic , i already change it in config.dart file but its not changing in the app

[2020-04-14 23:11] AhmedDarwish660 commented on #2723
<img width="1199" alt="Screen Shot 2020-04-15 at 2 10 29 AM" src="https://user-images.githubusercontent.com/61433090/79282620-5731f800-7ebe-11ea-98c7-616a6777f4aa.png">

[2020-04-14 23:57] khalidsharif commented on #2700
@minhcasi  I think I found the root cause, I was opening the wrong xcode project file.

Runner.xcworkspace is the correct one while I was opening Runner.xcodeproj.

you can close the ticket and sorry for the inconvenience

[2020-04-14 23:57] #2700 closed

[2020-04-15 01:03] minhtruong315 commented on #2474
@Shiru-kun
1. can u record screen?
2. we supports some native payment gateways: COD, Paypal, Razorpay and Tap.

[2020-04-15 01:05] minhtruong315 commented on #2506
@unaluslusoy you can try to clean project then run again
https://gist.github.com/minhcasi/2362b8ed369738cea2bf10a57ac569e1

[2020-04-15 01:05] minhcasi commented on #2720
Hi could you share the screenshot issue

The login form could be customized on this file - https://tppr.me/YOp0H

[2020-04-15 01:06] minhtruong315 commented on #2593
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2020-04-15 01:06] #2593 closed

[2020-04-15 01:08] minhcasi commented on #2714
@n4solutions - please update the latest mstore-api - we have hidden the verify purchase for a while due to the server problem issue - thank you!

[2020-04-15 01:08] #2714 closed

[2020-04-15 01:29] minhtruong315 commented on #2603
I sent you mstore.ocmod.zip via your email. pls check

[2020-04-15 01:32] minhcasi commented on #2715
@Jazzykhan - could you share the config folder that links to your website so that we could help for checking - thank you!

[2020-04-15 01:34] minhcasi commented on #2716
@qorane099 - could you help to check if the MainActivity is the same as this screenshot - https://tppr.me/hQub4

There is a known issue on the previous 1.6.6 and have also updated the patching on the latest 1.6.6b - than you!

[2020-04-15 01:36] minhcasi commented on #2718
@mk4full - this issue is caused by missing Flutter SDK config or not run the "flutter pub get" - please also check this guide to clean the cache - https://gist.github.com/minhcasi/2362b8ed369738cea2bf10a57ac569e1

[2020-04-15 01:43] minhcasi commented on #2719
Hi, thank you for the feedback. Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads it's used to verify your proof of purchase?
Sorry for any inconvenience, we will reopen the ticket when it is verified, thank you!

[2020-04-15 01:50] minhtruong315 commented on #2704
@sodhanii we will investigate your issues, then will let u know

[2020-04-15 02:17] anandkausha opened #2724 "MStore Multi Vendor - Complete React Native template for WooCommerce"
---------

1. My issue: node_modules directory is missing. Please run `npm install` in your project directory.

Errors are as follows
Publishing to channel 'default'...
Error: node_modules directory is missing. Please run `npm install` in your project directory.
Couldn't publish because errors were found. (See logs above.) Please fix the errors and try again.

D:\Dolphin Techno\Multi Vendor\APP De

[2020-04-15 02:28] #2634 closed

[2020-04-15 02:28] #2628 closed

[2020-04-15 02:33] minhtruong315 commented on #2722
@xLidoni you can try to use one page checkout
https://tppr.me/F0rnZ

[2020-04-15 02:37] minhtruong315 commented on #2599
@taryaalo Can u give me your email, I will send you updates for your issues. thanks

[2020-04-15 02:38] sodhanii commented on #2599
Yes, adityasodhani92@gmail.com

On Tue, Apr 14, 2020 at 9:37 PM minhtruong315 <notifications@github.com>
wrote:

[2020-04-15 02:41] luyx2412 commented on #2707
Hi @inimist You meant the tabbar is not show?
![image](https://user-images.githubusercontent.com/8909619/79292865-66d03180-7efc-11ea-9227-c77ce0859a58.png)

Can you give me the specific version?

Thanks

[2020-04-15 02:44] luyx2412 commented on #2698
Hi @undigitals Can you send me the purchase code screenshot?

Thanks

[2020-04-15 02:53] dttrung26 commented on #2702
Hi @limitlessfirm ,
a short if-else checking could do the trick in your case.
At the very first place in menu.dart, add following line:
` import 'models/app.dart'; `
Inside the build function, add following line:
` String locale = Provider.of<AppModel>(context, listen: false).locale; `
Finally, edit your `ListTile` widget:
[code]
Let me know if you still have any question.
Have a great day!

[2020-04-15 02:56] minhtruong315 commented on #2683
@chikip replace this function to fix
<img width="1385" alt="Screen Shot 2020-04-15 at 9 55 07 AM" src="https://user-images.githubusercontent.com/10402500/79294017-4eade180-7eff-11ea-82db-0d76884d8683.png">

[code]

[2020-04-15 02:59] luyx2412 commented on #2639
Hi @HoWonJang I just test your AppConfig.json and the server response empty post. Can you check again your post.
![image](https://user-images.githubusercontent.com/8909619/79294109-946aaa00-7eff-11ea-8700-3806a4abb119.png)

 And You want to change in categories screen with three columns?
![image](https://user-images.githubusercontent.com/8909619/79294163-b82df000-7eff-11ea-88cc-4e4cd5f4c9f1.png)

[2020-04-15 03:06] minhtruong315 commented on #2669
sent. please check your email

[2020-04-15 03:11] minhtruong315 commented on #2636
@fasttend I can't see the product name "Mustard Oil".

[2020-04-15 03:22] luyx2412 commented on #2650
Hi @shanenorman
In `App/Common/Constants.js` line 41. Please replace `full` with `large` follow the screenshot to fix your issue.
![image](https://user-images.githubusercontent.com/8909619/79295477-f8db3880-7f02-11ea-83ad-060451c0a258.png)

Thanks

[2020-04-15 03:24] luyx2412 commented on #2624
Hi @denny-dang Can you send your project via luyxtran264@gmail.com. Let me investigate easier.

Thanks

[2020-04-15 03:25] #2614 closed

[2020-04-15 03:26] luyx2412 commented on #2583
Hi @leonmktg We just update new version with latest expo and fix some issues related your issue. We will mention you when upload to envanto.

Thanks

[2020-04-15 03:27] minhtruong315 commented on #2651
<img width="537" alt="Screen Shot 2020-04-15 at 10 26 58 AM" src="https://user-images.githubusercontent.com/10402500/79295738-a9493c80-7f03-11ea-997a-d188416133e4.png">

[2020-04-15 03:28] luyx2412 commented on #2569
Hi @san2pedro Can you send me the link, i will add the code and resend you again.

Thanks

[2020-04-15 03:28] minhtruong315 commented on #2651
<img width="535" alt="Screen Shot 2020-04-15 at 10 27 38 AM" src="https://user-images.githubusercontent.com/10402500/79295772-c0882a00-7f03-11ea-8465-47123374aad5.png">

[2020-04-15 03:28] minhtruong315 commented on #2651
<img width="528" alt="Screen Shot 2020-04-15 at 10 28 09 AM" src="https://user-images.githubusercontent.com/10402500/79295803-d4cc2700-7f03-11ea-9fd7-92296aa3fa3f.png">

[2020-04-15 03:30] #2519 closed

[2020-04-15 03:32] luyx2412 commented on #2496
HI @leonmktg We just updated new version to fix some issues and latest library. We will mention you on envato about it.

Thanks

[2020-04-15 03:42] minhtruong315 commented on #2649
@Ghadawi replace product and order model to fix duplicate issue
[Archive.zip](https://github.com/inspireui/support/files/4479018/Archive.zip)

[2020-04-15 03:51] luyx2412 commented on #2518
Hi @malibate Can you share specific issue? i just tested your config, and everything worked normal.

![image](https://user-images.githubusercontent.com/8909619/79297003-1ad6ba00-7f07-11ea-9590-d6b898c2bfbc.png)

Thanks

[2020-04-15 03:58] Ghadawi commented on #2649
Thanks  @minhtruong315

how about other issues please help me to fix them such as :
1- view cart page if product name more than 3 lines display error "Bottom Overflowed by 19 Pixels"
https://drive.google.com/file/d/1Zr3U2_ZJXPeo7ovXoU_sSPuDLkMeKCpv/view

2- review product not display in product detail?

3- how to disable Zip code  from address not required?
4- how to display states in address from

[2020-04-15 04:18] #2647 closed

[2020-04-15 04:20] san2pedro commented on #2569
The problems it's about 600 links so if have easy way to send each product
to their product on amazon or aliexpress  directly

ср, 15 апр. 2020 г., 06:28 luyx2412 <notifications@github.com>:

[2020-04-15 04:31] luyx2412 commented on #2307
Hi @alazar-aklilu I just tested your config.
- Please add your onesignal key to Config.js file
![image](https://user-images.githubusercontent.com/8909619/79298200-9ede7100-7f0a-11ea-978d-ee0a88f1b148.png)

- The default get categories will not get empty categories. In `src/services/WooWorker.js` --> line 25 --> change `hide_empty: true` --> `hide_empty: false`
![image](https://user-images.githubus

[2020-04-15 04:38] philipvu30 commented on #2658
For the sign_in_failed. Please follow this common issues: Login with SMS Login in Play Store?

You can find it [here](https://docs.inspireui.com/fluxstore/common-issues/#-login-with-sms-login-in-play-store)

If that does not work, you can refer to this [topic](https://stackoverflow.com/questions/58194425/platformexceptionsign-in-failed-com-google-android-gms-common-api-apiexception)

[2020-04-15 04:40] sajidgangat commented on #2659
Yes, I tried That too but still, the problem exists.
Can You please help me set up the whole E-com Site of WordPress?
I can Provide my hosting Details if needed. In that way, you can check why exactly its not working.
Please provide your email so that I can send a fresh Cpanel so you can check and also configure and check if it works. Please make sure I am trying The MStore expo version.
Thanks

[2020-04-15 04:42] sajidgangat commented on #2659
if it connects to your application Then I will know that they might be a problem in the application that I am using. If its the WordPress problem you will know. Thanks
Please Provide an email so that I can allow access to WordPress.
Regards

[2020-04-15 04:46] shanenorman commented on #2650
![Simulator Screen Shot - iPhone 11 - 2020-04-14 at 21 44 58](https://user-images.githubusercontent.com/11539085/79299576-47ec8380-7e99-11ea-9363-492a1532b4d4.png)

Perfect. That worked. Last question. Can I change what images show up on the post pages? Can I use full images there instead of the cut off thumbnails?

[2020-04-15 04:53] HoWonJang commented on #2639
이메일 을 다시 보냈습니다. 확인부탁드립니다.
[image.zip](https://github.com/inspireui/support/files/4479184/image.zip)

[2020-04-15 05:05] HoWonJang commented on #2639
Also, it does not come out when i set up the banner, such as the home screen. Please check the send.zip file and my website to solve the problem.(Please check your email.) Thank you.

[2020-04-15 05:11] elienaj commented on #2693
Hello Team,
Please Check the attached image.

On Tue, Apr 14, 2020 at 5:13 AM Minh Pham <notifications@github.com> wrote:

[2020-04-15 05:15] limitlessfirm commented on #2702
not working
retrieve the same page for all language

[2020-04-15 05:17] denny-dang commented on #2624
hello I emailed you the project. Thanks!

[2020-04-15 05:18] chikip commented on #2683
Did the above, still not able to login, getting this error

![emulator](https://user-images.githubusercontent.com/63201901/79301193-8ec49280-7f06-11ea-9c15-f9313ca8a3c4.jpg)

[2020-04-15 05:45] cschng96 commented on #2522
@philipvu30 Hi, did you receive my email?

[2020-04-15 05:54] kenngigz commented on #2502
Any progress?

[2020-04-15 05:57] philipvu30 commented on #2658
Hi,

New lib folder has been sent to your email. Please check.

[2020-04-15 06:05] CloudExpressTeam commented on #2719
Hi, Refer to this issue we have sent you the purchase code and you have confirmed the code!
https://github.com/inspireui/support/issues/2398

[2020-04-15 06:06] CloudExpressTeam commented on #2398
@minhcasi here the confirmation of the purchase code

[2020-04-15 06:42] vumanhsn97 commented on #2658
@digirizon
https://tppr.me/wGMkI
Make sure Target Deployment  is IOS 10.3 https://tppr.me/IyhGT

[2020-04-15 06:48] leonmktg commented on #2583
@luyx2412
I downloaded the files and did a fresh install with CeBuilder and i still get an SDK version error.

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-04-15 at 01 44 35](https://user-images.githubusercontent.com/62923357/79306620-2a301600-7ebb-11ea-9eec-9912f7d32296.png)

[2020-04-15 06:58] anandkausha commented on #2724
Now, I am Facing another Error.  Please check updated error in above

[2020-04-15 07:23] philipvu30 commented on #2522
Yeah received. Currently working on it

[2020-04-15 07:23] cschng96 commented on #2522
@philipvu30 Ok. Thank you.

[2020-04-15 07:37] vumanhsn97 commented on #2648
@youngtet You can connect Skype to vumanhsn97@gmail.com

[2020-04-15 07:50] Madraka opened #2725 "[Fluxstore - WooCommerce] - IOS"
1. My issue:
Guideline 2.1 – Performance – App Completeness

We discovered one or more bugs in your app when reviewed on iPad running iOS 13.3 on Wi-Fi.

Specifically, we received a blank page on attempting to check out.

Next Steps

To resolve this issue, please run your app on a device to identify any issues, then revise and resubmit your app for review.

If we misunderstood the intended behavio

[2020-04-15 08:14] qorane099 commented on #2716
They are not same.

l checked the screen shot and they are not same

On Wed, Apr 15, 2020 at 7:04 AM Minh Pham <notifications@github.com> wrote:

[2020-04-15 08:17] xLidoni commented on #2722
Thanks for your reply!

https://tppr.me/F0rnZ the link doesn't work!

[2020-04-15 08:20] xLidoni commented on #2722
Where i have to enable one pg checkout?

[2020-04-15 08:22] mk4full commented on #2718
thank you, I will check

[2020-04-15 08:31] digirizon commented on #2658
@philipvu30
"lib.zip" file sent resets all my work and customizations! , and linked back to your website not mine, can you please send me the one from my project?

[2020-04-15 08:32] Shiru-kun commented on #2474
i selected this products
![image](https://user-images.githubusercontent.com/54008441/79315646-8880e700-7f03-11ea-8422-75070de8b61e.png)

![Screenshot_20200415-101937](https://user-images.githubusercontent.com/54008441/79315569-68e9be80-7f03-11ea-8f8c-4cb150c114f4.jpg)

then i choose this payment method
![image](https://user-images.githubusercontent.com/54008441/79315741-a8b0a600-7f03-11ea-87c7-629

[2020-04-15 08:46] maximuskay2 commented on #2645
@Emmarango, I will really appreciate a little help..
I cant get this thing working.. With several tries

On Tue, Apr 14, 2020 at 11:55 AM Emmarango <notifications@github.com> wrote:

[2020-04-15 09:08] dttrung26 commented on #2662
Hi @ernandozatariano , please send me your /lib/widgets/blog/detailed_blog/related_blogs.dart and /lib/common/tools.dart?

[2020-04-15 09:10] dttrung26 commented on #2723
Hi @AhmedDarwish660 , please send me your /lib/models/app.dart for checking. Have a nice day!

[2020-04-15 09:16] dttrung26 commented on #2702
Replace this into your /lib/models/
[ticker_support#2702.zip](https://github.com/inspireui/support/files/4480182/ticker_support.2702.zip)
Hope this works.

[2020-04-15 09:26] fashionhubksa commented on #2519
What happened to close my request??

[2020-04-15 09:33] minhcasi commented on #2519
@fashionhubksa - as we have updated your refund request - thanks

[2020-04-15 09:39] fashionhubksa commented on #2519
Thanks

[2020-04-15 09:40] xLidoni opened #2726 "[FluxStore Pro] - Image Product Issue"
---------

1. My issue:

Hello, present this problem with the product images, they practically cut themselves.

I followed the guide to generate thumbnails, they are generated correctly. But the problem persists.

Possible solutions?

Thanks!

2. Screenshots issues (required):

![image](https://user-images.githubusercontent.com/11965301/79322852-b2d7a200-7f0d-11ea-90c0-addcc1f57ee2.png)

3. Proof

[2020-04-15 09:58] peppyday commented on #2603
Hi i installed a new opencart site. Still i face the problem. with checkout. Please take a look.

[2020-04-15 10:12] CloudExpressTeam commented on #2719
Hi, Any help please?

[2020-04-15 11:05] taryaalo commented on #2599
@minhtruong315 m.alorofie@gmail.com

[2020-04-15 11:29] fasttend commented on #2636
please check a different product with this link
https://fasttend.com/product/tide-detergent-washing-powder/

[2020-04-15 11:54] digirizon commented on #2658
the issue with google login was resolved

still having issue running ios code from the android studio, I get this error, please advise

[code]

[2020-04-15 12:03] unaluslusoy commented on #2506
@minhtruong315 -I followed the methods you recommended. But nothing changed. The problem I mentioned continues.

[2020-04-15 12:06] ernandozatariano commented on #2662
Ok! Tks!
[related_blogs.zip](https://github.com/inspireui/support/files/4481057/related_blogs.zip)

[2020-04-15 12:11] tjain90 commented on #2720
![IMG-20200415-WA0009~2](https://user-images.githubusercontent.com/6376301/79335709-167ac300-7f40-11ea-9cc5-ab2325e6013b.jpg)
![IMG-20200415-WA0011](https://user-images.githubusercontent.com/6376301/79335713-17abf000-7f40-11ea-8484-8c6868cc078e.jpg)

here it is.
On Apple sign in - Error and facebook sign in it crashed.

can you let me know the way to remove apple sign-in and facebook sign in from

[2020-04-15 12:17] minhcasi commented on #2630
move to email

[2020-04-15 12:17] #2630 closed

[2020-04-15 12:20] egortretyakov opened #2727 "ListingPro fluxlisting[my-product] -"
---------

1. My issue: Photo of category doesnt work, photo of product not show, category items r not showing

2. Screenshots issues (required):
![Снимок экрана 2020-04-15 в 15 17 33](https://user-images.githubusercontent.com/62143162/79336440-6a7bac80-7f2c-11ea-8811-a90f4fa9a396.png)

3. Proof of my purchased (required):
![Снимок экрана 2020-04-15 в 15 19 26](https://user-images.githubuserconten

[2020-04-15 13:29] EhapAlazerk11 commented on #2721
Please reply me fast it very important to publish fast on play store

[2020-04-15 13:30] undigitals commented on #2698
Can you be more specific ? What purchase code. I have sent you the screenshot. I can give you my envato login credentials if you want.

[2020-04-15 16:22] sajidgangat commented on #2659
Hi luyxtran264,
I have sent you all the info for the site to your email. please let me know once received.
The email that I sent to isl uyxtran264@gmail.com

[2020-04-15 17:51] egortretyakov commented on #2727
any updates?

[2020-04-15 17:59] ramyragab1 opened #2728 "[my-product] - flex store 1.6.6b error when i send order"
1. My issue:
error when i send order

2. Screenshots issues (required):
https://www.dropbox.com/s/64ng0c7fgi6o1xf/Screen%20Recording%202020-04-15%20at%207.57.10%20PM.mp4?dl=0

3. Proof of my purchased (required):
https://www.dropbox.com/s/hk4b3zm5sq7dhu0/Screen%20Shot%202020-01-11%20at%205.02.03%20PM.png?dl=0

[2020-04-15 18:09] ramyragab1 commented on #2728
same error when i do register in app

[2020-04-15 20:10] haidarsalim opened #2729 "[fluxnews] - Help with SHA-1"
Possible way to extract the project's SHA1
![11](https://user-images.githubusercontent.com/54249914/79383237-86ec0900-7f6d-11ea-8486-8e3e18811209.JPG)

Another question is how to open the project on xcode
Do I need to install flutter for Mac?

![22](https://user-images.githubusercontent.com/54249914/79383675-3fb24800-7f6e-11ea-9dc1-49759510d24a.JPG)

[2020-04-15 20:10] lemarchexpress opened #2730 "[Woocommerce Fluxstore] - How do I integrate the Smartchat button on Categories & Search pages?"
---------

1. My issue:
Integration Guide of the Smartchat Element
I would like to included in the Static Page &
Categories or Search Pages

2. Screenshots issues (required):
No Apply
3. Proof of my purchased (required):
![image](https://user-images.githubusercontent.com/63209110/79383654-d3cbe180-7f65-11ea-9c40-0a47d26a6460.png)

4. Config files (required)
No Apply

[2020-04-15 20:20] mk4full opened #2731 "[fluxstore] - error sing in"
2. Screenshots issues (required): https://www.youtube.com/watch?v=IKD4zXYaKnc - error, first I try sing in via sms, next fb, and last I try google - I can not, occour error, can u tell what wrong I do?

3. Proof of my purchased (required): https://i.ibb.co/kMNLjZM

[2020-04-15 21:28] digirizon commented on #2658
**### app is running now on iOS but facebook gives this error message**

![WhatsApp Image 2020-04-16 at 12 21 32 AM](https://user-images.githubusercontent.com/38114490/79390902-38446c00-7f79-11ea-9416-516bed37354f.jpeg)

[2020-04-15 22:24] digirizon commented on #2658
my facebook  ios app  settings

![screenshot-developers facebook com-2020 04](https://user-images.githubusercontent.com/38114490/79394801-00412700-7f81-11ea-9e09-479af31d2b5a.png)

[2020-04-15 22:59] digirizon commented on #2658
**SMS login on iOS gives this error**
![WhatsApp Image 2020-04-16 at 1 50 11 AM](https://user-images.githubusercontent.com/38114490/79397063-e524e600-7f85-11ea-8351-e6e8f1c2879e.jpeg)

and then gives this error

![WhatsApp Image 2020-04-16 at 1 50 08 AM](https://user-images.githubusercontent.com/38114490/79397090-f241d500-7f85-11ea-8703-0f9094ab8d54.jpeg)

[2020-04-15 23:20] digirizon commented on #2658
iOS Apple login issue

![WhatsApp Image 2020-04-16 at 2 17 51 AM](https://user-images.githubusercontent.com/38114490/79398249-dbe94880-7f88-11ea-84fd-fabb3425ce05.jpeg)

[2020-04-15 23:23] digirizon commented on #2658
in **Android SMS  Arabic language**, the input field is **reversed** so the numbers show backward

![WhatsApp Image 2020-04-16 at 2 18 29 AM](https://user-images.githubusercontent.com/38114490/79398352-2e2a6980-7f89-11ea-8223-eeb232740f0f.jpeg)

[2020-04-15 23:42] CloudExpressTeam commented on #2719
????

[2020-04-15 23:58] minhtruong315 commented on #2683
@chikip you can try to  uninstall then reinstall the website. maybe you had some customize in your website. so it throw error.

[2020-04-16 00:01] minhtruong315 commented on #2722
<img width="1139" alt="Screen Shot 2020-04-16 at 7 01 06 AM" src="https://user-images.githubusercontent.com/10402500/79400321-1c0ff180-7fb0-11ea-9d3f-58f187cba6bb.png">

[2020-04-16 00:02] minhtruong315 commented on #2716
@qorane099 I sent you the solution  on skype. please let me know the result. thanks

[2020-04-16 00:04] minhtruong315 commented on #2663
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2020-04-16 00:04] #2663 closed

[2020-04-16 00:19] minhtruong315 commented on #2649
@Ghadawi
2. Review product doesn't support for magento. it only supports for woo commerce and opencart now.
4. You must edit code to support load assets for slider. Fluxstore only supports load url now.
<img width="1407" alt="Screen Shot 2020-04-16 at 7 16 44 AM" src="https://user-images.githubusercontent.com/10402500/79401190-a0637400-7fb2-11ea-9de2-aafdac9681e9.png">

[2020-04-16 00:20] minhtruong315 commented on #2608
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2020-04-16 00:20] #2608 closed

[2020-04-16 01:10] minhcasi commented on #2658
@digirizon - first please make sure to download the latest version 1.6.6b and follow this guide on ios to prevent any build issues in the future - https://www.youtube.com/watch?v=ReAUZDIgh2I  and clean cache https://gist.github.com/minhcasi/2362b8ed369738cea2bf10a57ac569e1

Honestly, we are sad to read your response message, if you could see the latest comment is just 17 hours ago - there is no re

[2020-04-16 02:35] sajidgangat commented on #2659
is there anyone who has time. I will surely leave a review on your product page about the support. There is no support timeline!!

[2020-04-16 02:45] minhcasi commented on #2659
@minhtruong315 - please help to check the api plugin issue - thank you!

[2020-04-16 02:45] sajidgangat commented on #2659
Thank you I will change the rating now. Please help me I am giving back 5 star

[2020-04-16 03:26] johnnyvanrensburg opened #2732 "MStore Pro Cebuilder Problem"
---------

1. My issue:
How did I get to have all these doubles on cebuilder, How can it be removed

2. Screenshots issues (required):
![image](https://user-images.githubusercontent.com/60583426/79411196-8d48a800-7fa2-11ea-845c-ec6d1e0f423f.png)

3. Proof of my purchased (required):
![image](https://user-images.githubusercontent.com/60583426/79411259-be28dd00-7fa2-11ea-9fed-6de154fbba27.png)

3. C

[2020-04-16 04:00] johnnyvanrensburg commented on #2732
@minhcasi can you explain to me what to do, please

[2020-04-16 04:02] dttrung26 commented on #2662
Hi @ernandozatariano , could you leave me your skype or add me via skype: dttrung.ityu?

[2020-04-16 05:04] Cheewingtan opened #2733 "[my-product] - Cant connect wooocommerce api for Fluxstore Pro"
**Step 1:** detail issues and screenshots

I follow the guild to create woocommerce API and change the code but it doesn't working and I check https://www.wingsshops.com/wp-json/wc/v3/ it doesn't show anything ,it is my SSL block the API ? I'm using lets encrypt SSL
![Screenshot 2020-04-16 at 1 00 09 PM](https://user-images.githubusercontent.com/11556877/79416577-948fa600-7fe2-11ea-944c-c23db97690

[2020-04-16 05:20] minhcasi commented on #2726
@xLidoni - could you try to adjust the product image height from the config file https://tppr.me/hvYpO

[2020-04-16 05:21] minhcasi commented on #2728
@ramyragab1 - could you attache config file so that we could help for checking

[2020-04-16 05:24] philipvu30 commented on #2727
Hi,

Please send the common folder to this email: toan@inspireui.com.

Thanks

[2020-04-16 05:31] antixirus commented on #2691
@minhcasi Hello sir, I have downloaded version 1.6.6b, but now I can't even log in to the application after changing the App Bundle ID from com.inspireui.fluxstore.vendor to com.sougroup.sangkek is just stuck loading. Can you help me sir?

Picture
![gambar](https://user-images.githubusercontent.com/57300649/79418163-1a5d2280-7fde-11ea-985d-231e057bc5ad.png)

[2020-04-16 05:31] minhcasi opened #2734 "👉Important Notice - please read me 🌻"
Dear customers,

After 16/04/2020, we would like to change the submit ticket process by update the 2 simple steps:
- Step 1: require the detail issues and screenshots from the issues, please help to provide as detail as possible that will help us to find out the issue quickly.
- Step 2: Please verify license and sharing config files by submitting on this google form, http://private.inspireui.com,

[2020-04-16 05:43] bidfor opened #2735 "[Fluxnews] Comment & Push Notification not working"
1) Comment Feature not working.
After I comment it said "Comment succesfully" but the comment section is still empty.

2) Push Notification not showing in Android emulator.
I have already setup one signal and able to detect the user.  I don't receive anything when I send notification with One Signal .

Proof of purchase
![image](https://user-images.githubusercontent.com/2523772/79418821-1c2be380-7

[2020-04-16 05:47] antixirus commented on #2691
@minhcasi
![gambar](https://user-images.githubusercontent.com/57300649/79419157-7628ab00-7fe0-11ea-9693-e732ad141f5b.png)

[2020-04-16 06:29] minhcasi commented on #2725
@Madraka could you share the attache screenshot from Appstore on above issue?

[2020-04-16 06:31] minhcasi commented on #2729
@haidarsalim - could you help to check the similar guide on this video regarding to SHA1- https://www.youtube.com/watch?v=C_9mk_MmvOQ&feature=emb_logo

(09:30) Update the SHA keys on Firebase to match with your app

[2020-04-16 06:35] minhcasi commented on #2732
@johnnyvanrensburg - could you help to install latest cebuilder on this link https://github.com/inspireui/cebuilder/releases

Also download the nodejs on this link first - https://nodejs.org/dist/latest-v10.x/

[2020-04-16 06:37] minhcasi commented on #2733
@Cheewingtan - could you try to enable the debug mode from wp-config.php from wordpress site to see any warning the error log from PHP server?

[2020-04-16 06:37] Ghadawi commented on #2649
@minhtruong315  Ok noted

please help to fix this issue as fast as possible:
1- add product to my cart and close the app and remove it from background, and open the app again but when you try to open my cart tab display this issue
https://drive.google.com/open?id=14iJ-QHEgm32VQQ2HHLLetoTs-YKeIoMo

[2020-04-16 06:39] binhetc commented on #2364
I have a problem with ios version 12 too, just let you know to test with latest version

[2020-04-16 06:39] minhcasi commented on #2731
@mk4full - pls check the SHA1 issue on this link https://docs.inspireui.com/fluxstore/common-issues/#-login-with-sms-login-in-play-store

Or video https://www.youtube.com/watch?v=C_9mk_MmvOQ&t=621s (09:30) Update the SHA keys on Firebase to match with your app

[2020-04-16 06:42] #2679 closed

[2020-04-16 06:45] minhcasi commented on #2689
@xLidoni - these json files should edit/update manually - it could not be generated

Please move your all conversation to the same #2722 - thank you!

[2020-04-16 06:45] #2689 closed

[2020-04-16 06:45] minhcasi commented on #2722
Please move your all conversation to the same #2722 - thank you!

[2020-04-16 06:45] minhcasi commented on #2726
Please move your all conversation to the same #2722 - thank you!

[2020-04-16 06:45] #2726 closed

[2020-04-16 06:47] minhcasi commented on #2691
@antixirus  could i know if you have changed the path of folder - com/sougroup/sangkek

Also, please make sure to update the google file service if you are using login via SMS or Google

[2020-04-16 06:48] #2692 closed

[2020-04-16 06:48] minhcasi commented on #2693
@elienaj - we could not see the screen, please share again

[2020-04-16 06:49] #2695 closed

[2020-04-16 06:50] minhcasi commented on #2696
@amankwatra - please share the common folder via this form - http://private.inspireui.com - we will help to investigate the issue - thank you!

[2020-04-16 06:51] minhcasi commented on #2699
![](https://github.trello.services/images/mini-trello-icon.png) [Improve Shipping and Confirm Payment Screen](https://trello.com/c/WaMmUoX3/29-improve-shipping-and-confirm-payment-screen)

[2020-04-16 06:52] minhcasi commented on #2699
moved to our backlog for investigating - thanks

[2020-04-16 06:52] #2699 closed

[2020-04-16 06:52] #2701 closed

[2020-04-16 06:56] minhcasi commented on #2703
@harrisbaitalrayan - you can optimize the product cart view on this file - https://tppr.me/WVihL

As the salePrice is fixed, allow us to close the ticket and update the fixing on next release.

If you have not accessed to the latest Gitlab repository source code, please help to submit it here - https://docs.google.com/forms/d/e/1FAIpQLSeuBqUkScy42V7KKhfNPj0fl581anrB1mWkbMa3p2WQt7fhfw/viewform

Tha

[2020-04-16 06:56] #2703 closed

[2020-04-16 06:56] #2711 closed

[2020-04-16 06:57] minhcasi commented on #2715
you can sumit private on this link http://private.inspireui.com/ and reopen the ticket after that - thank you!

[2020-04-16 06:57] #2715 closed

[2020-04-16 06:58] minhcasi commented on #2716
Please try to replace the latest MainActivity from 1.6.6b release, it could fix your issues, please help to give extra conversation to Truong via Skype - thank you so much for your time :)

[2020-04-16 06:58] #2716 closed

[2020-04-16 06:58] #2718 closed

[2020-04-16 07:01] minhcasi commented on #2719
@CloudExpressTeam - sorry as i did not check on the ticket - confirm it is verified

I'm not sure to understand your point from the ticket, please help me to share the screenshot or video on this UX - thank you so much for your time

[2020-04-16 07:02] minhcasi commented on #2720
@tjain90 - you can remove it on this file https://tppr.me/gmdve - we have added the config option to allow hide these features on the next release - thank you!

[2020-04-16 07:07] elienaj commented on #2693
hello,

https://drive.google.com/open?id=1eAGHYzypCHQw6lVRGgEMR5pc22O6UrVT

On Thu, Apr 16, 2020 at 9:48 AM Minh Pham <notifications@github.com> wrote:

[2020-04-16 07:14] #2520 closed

[2020-04-16 07:17] digirizon commented on #2658
First , thank you for your reply , here is my reply
1- yes I downloaded the latest version and followed the guide exactly
2- my comment about code exposed is about using github in general instead of private support system like Ticksy , some people like don't like sharing screen shot of their work with the public , I didn't say you asked me specifically to expose anything private!
3- really like yo

[2020-04-16 07:18] minhcasi commented on #2569
@san2pedro - could you try to quick fix by replace the code from above screenshot by  this code (it mean to remove the if condition)

[code]

![image](https://user-images.githubusercontent.com/1459805/79426189-f9e89480-7fec-11ea-8a2c-ec55f534da43.png)

[2020-04-16 07:19] minhcasi commented on #2569
Or check to see if there is any hidden link from product object or `meta_data` from wooCommerce that have not mapped to the product object

[2020-04-16 07:20] lemarchexpress commented on #2672
Dears Minh / Vumanhsn97,
Do we have anyprogress about the 5 pending items still open?
This is pending backlog:

**1.- Payment Method is not working: Stripe (Fatal Error) >** CRITICAL for me
Issue description...
Stripe does not work it showns a FATAL ERROR
Also, paypal image is not shown and it is properly configured.
![image](https://user-images.githubusercontent.com/63209110/79426248-2d162e00-7fc

[2020-04-16 07:23] minhcasi commented on #2603
@peppyday - thank you for your patience on this ticket, we are trying our best with the troubleshooting, if it does not work we could process the refund :)

[2020-04-16 07:34] minhcasi commented on #2580
@philipvu30 - please help to set priory support on this issue

[2020-04-16 07:36] #2642 closed

[2020-04-16 07:39] NALAWALAMURTUZA opened #2736 "Undefined symbols for architecture x86_64:"
Step 1 (require): detail issues and screenshots

Step 2 (require): verify license and sharing config files via this google form - http://private.inspireui.com

*Note: please submit ticket support by following above 2 require steps, we may close the ticket without providing full information.*

[2020-04-16 07:40] jeeali commented on #2547
I have same issue. I have been searching for two days. Kindly, guide me properly, Thanks :)

<img width="1152" alt="Screenshot 2020-04-16 at 12 39 16 PM" src="https://user-images.githubusercontent.com/17235314/79428230-4c22b900-7fdf-11ea-817e-6fc44f742b5f.png">

[2020-04-16 07:40] NALAWALAMURTUZA opened #2737 "Undefined symbols for architecture x86_64: "_OBJC_CLASS_$_OPPCheckoutProvider", referenced from"
`Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_OPPCheckoutProvider", referenced from:
      objc-class-ref in FlutterPeachpayPlugin.o
  "_OBJC_CLASS_$_OPPCheckoutSettings", referenced from:
      objc-class-ref in FlutterPeachpayPlugin.o
  "_OBJC_CLASS_$_OPPPaymentProvider", referenced from:
      objc-class-ref in FlutterPeachpayPlugin.o
ld: symbol(s) not found for architecture x86_

[2020-04-16 07:44] minhcasi commented on #2658
Hi dear,

Thank you for your quick response, I've just realized there is some private data info from this ticket and remove it to protect your website data. Also, upgrade our support ticket process as you can see on this ticket #2734

We have used Ticksy in the past it is not effective than Github, especially the performance response time from their website.

Could you help to highlight the remain

[2020-04-16 07:45] tjain90 commented on #2720
Thanks. On temporary basis i have commented facebook element and apple sign in element.

[2020-04-16 07:51] #2736 closed

[2020-04-16 08:10] digirizon commented on #2658
@minhcasi  Thank  you Brom really appreciate your efforts

mainly these are the remaining issues :

1. login in iOS for both Apple sign in, SMS, and Facebook are not working yet, the google login is working fine

Apple sign-in gives this error
![WhatsApp Image 2020-04-16 at 2 17 51 AM](https://user-images.githubusercontent.com/38114490/79429803-b3853c80-7fd0-11ea-95fb-2d7b2bf4d132.jpeg)

SMS on iO

[2020-04-16 08:15] dasdev commented on #2643
same problem please help. rest api not working what's wrong? after reste everything it's working but after sometime getting same issue. please help me.

[2020-04-16 08:18] CloudExpressTeam commented on #2719
![Screenshot_2020-04-16-10-14-47-237_host exp exponent](https://user-images.githubusercontent.com/34522710/79431806-360afd80-7fcb-11ea-973a-c4c57e64a939.jpg)

In cart quantity I need to replace the LimitAddToCart as it's 10 to be product.stock_quantity

As some products have 3 items in stock
And others have 32 items
So I need to make it dynamic based on product stock_quantity  value

[2020-04-16 08:21] digirizon commented on #2658
If you give me an email so I can send you to google drive link to my whole project

[2020-04-16 08:25] dttrung26 commented on #2730
Hi @lemarchexpress ,
To add smartchat feature in your search screen, download and replace search.dart into your /lib/screens/search
To add smartchat feature in your static page, download and replace index.dart into your /lib/pages
Hope this helps.
[ticket_support#2730.zip](https://github.com/inspireui/support/files/4485751/ticket_support.2730.zip)

Happy coding!

[2020-04-16 08:25] jeeali commented on #2547
Here is the output of:
flutter --version

<img width="531" alt="Screenshot 2020-04-16 at 1 24 53 PM" src="https://user-images.githubusercontent.com/17235314/79432735-a9ba0400-7fe5-11ea-87fa-6c1590d31945.png">

[2020-04-16 08:25] mk4full opened #2738 "[fluxstore] Issue with Login"
SMS and Google sign-in is working in emulator but not on physical device,
facebook login gives "FormatException: Unexpected end of input (at character 1"

When I shift to physical device
- Facbook login says "This App is not set up and is still in development mode".
- SMS login just keeps loading and I receive no OTP. (I tested this on emulator and It worked)
- Google sign in fails too ( it worked

[2020-04-16 08:34] zemeister2332 opened #2739 "Flux News .IPA file size are too big about 200mb"
My .ipa file are too big size about 200mb. how can i small this size about 30-40mb

[2020-04-16 08:40] jeeali commented on #2553
I have same issue, I don't want to downgrade my flutter version. I am working on other Projects also. Why should I have to downgrade to resolve the issue! I don't get it.

I bought the FluxStore. But, It hasn't run even once on my laptop. (I attached a screenshot)

Kindly, Suggest to me, What should I do. @minhcasi

<img width="1216" alt="Screenshot 2020-04-16 at 1 38 02 PM" src="https://user-imag

[2020-04-16 08:41] juniortimeline commented on #2701
Its work thank you so much

[2020-04-16 08:55] cschng96 commented on #2522
Hi, any updates?

[2020-04-16 08:56] cschng96 commented on #2522
@philipvu30
Hi, any updates?

[2020-04-16 08:59] dttrung26 commented on #2735
Hi @bidfor ,
1.
First, make sure your configuration is correct.
![image](https://user-images.githubusercontent.com/32586676/79434464-9fedcc00-7ff8-11ea-9cb7-11f5cd2ddf9a.png)

Then if it is, keep in mind that your comments need to be approved in Wordpress admin page in order to be displayed in your mobile app.
2.
First, please make sure your Wordpress settings on Onesignal is correct (https://docu

[2020-04-16 09:11] #2444 closed

[2020-04-16 09:33] san2pedro commented on #2534
Will send you have 60% complete but you have mistake Doc.

пн, 13 апр. 2020 г., 04:48 Minh Pham <notifications@github.com>:

[2020-04-16 09:33] philipvu30 commented on #2580
@avvvar ,

Please remove this term
![image](https://user-images.githubusercontent.com/54442328/79440285-ff9ba580-7fff-11ea-8de7-368294c14bb9.png)

You can find it in the path: lib/services/woo_commerce.dart

[2020-04-16 09:53] peppyday commented on #2603
May i know the time frame so that i don't disturb you till then.

[2020-04-16 09:56] xLidoni commented on #2722
Hello!

For the image problems, **i've fixed**!

It caused by .png extension on wordpress.
I've created image with .jpg extension.
Works Fine!

[2020-04-16 09:57] egortretyakov commented on #2727
hi,
done check plz mail box

[2020-04-16 09:57] xLidoni commented on #2722
@minhcasi If i enable  one step checkout , will open webview mhh..

[2020-04-16 10:08] trunghieuvn commented on #2721
Please give me the config and common folder again, it looks like the link you sent has expired.
Thanks.

[2020-04-16 10:21] jeeali commented on #2553
You downgraded the flutter to version 1.6.3 or downgrade the flutter to version 1.16.3 ???