[2019-09-03 21:05] alaaeallam opened #1023 "[EvaStore] - Layout issue"
many products don’t show when i changed the layout, please find below video
[layout.mp4.zip](https://github.com/inspireui/support/files/3571637/layout.mp4.zip)

[2019-09-04 00:55] minhcasi commented on #1021
Duplicate of #1020

[2019-09-04 00:55] #1021 closed

[2019-09-04 00:56] minhcasi commented on #1022
Duplicate of #1020

[2019-09-04 00:56] #1022 closed

[2019-09-04 00:56] minhcasi commented on #1023
Duplicate of #1020

[2019-09-04 00:56] #1023 closed

[2019-09-04 00:58] jakkumarket commented on #1003
Update on this please?

[2019-09-04 00:59] minhcasi commented on #1020
@alaaeallam pls note
1. provide your purchase screenshot
2. create one ticket with your all issues, pls note that we will not reply the "How to" - as this kind of Customization question that not include on our support scope and require the Technical skills to resolve it, we only support the bug or installing issue from the app.

Thank you!

[2019-09-04 01:07] minhcasi commented on #1014
@minhtruong315  please help for checking - thank you!

[2019-09-04 01:18] minhtruong315 commented on #1005
@yngwieduane can you send me source code via email: truong@inpireui.com
with subject: https://github.com/inspireui/support/issues/1005
i will check your source code

[2019-09-04 01:20] minhtruong315 commented on #1014
@lineacoin-project can you send me your source code via email: truong@inpireui.com
with subject: https://github.com/inspireui/support/issues/1014

[2019-09-04 01:21] minhtruong315 commented on #1018
@kailashkansara can you send me issues screenshot and config.dart, config.json via email: truong@inpireui.com
with subject: https://github.com/inspireui/support/issues/1018

[2019-09-04 01:24] minhtruong315 commented on #1019
@ghanchi2000 Did you set CategoriesListLayout in config.dart with these values: sideMenu, column, subCategories

[2019-09-04 03:57] thangvo9x commented on #945
Which server are you using?

[2019-09-04 04:26] nhblock commented on #968
@minhcasi I am experiencing the same issue as @alisa140. The horizontal layout shows blank product tiles in the HomeContainer, but they show up fine if you click through to the collections page and browse all products. This is a new issue in the last couple of days (it worked before)...

[2019-09-04 04:47] matrixaldy commented on #1006
the previous problem has resolved. now, this is my new problems
![Screenshot_2019-09-02-15-18-45-525_com enstramedia muslimcollection](https://user-images.githubusercontent.com/22363606/64226428-900df580-cf09-11e9-92bd-0a0ac8f397ed.png)

[2019-09-04 05:53] anandnathtiwari commented on #1011
Previous issue resolved. But Please see attached file and guide me. order booked without payment.

Tax is not show in checkout page.

![Order-booked-without-payment](https://user-images.githubusercontent.com/17059651/64229052-52f43400-cf06-11e9-8f42-713d08f6a894.jpg)
![payment Issue](https://user-images.githubusercontent.com/17059651/64229053-52f43400-cf06-11e9-90af-2557a63530ae.jpg)

[2019-09-04 05:54] anandnathtiwari commented on #1011
![ccavenue-image-not-show](https://user-images.githubusercontent.com/17059651/64229137-8fc02b00-cf06-11e9-90d9-4ef387643f38.jpg)

[2019-09-04 08:24] minhtruong315 commented on #1006
@matrixaldy I checked your config. but i see it is different with our format config. did you change it?
[code]
We don't use type: custom in config fluxstore

[2019-09-04 08:31] matrixaldy commented on #1006
i'm customize my API, built with laravel

[2019-09-04 08:35] minhtruong315 commented on #965
@tjain90 i check your config. it hasn't installed mstore plugin yet. Can you record video for reinstall mstore plugin?

[2019-09-04 08:38] minhtruong315 commented on #986
@7oda187 can you send me your source code via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/986

[2019-09-04 08:43] minhtruong315 commented on #1006
As the code is customized and change the API that is not required effort to check and investigating, also not include from our support scope, please try your best to resolve the issue

[2019-09-04 08:43] #1006 closed

[2019-09-04 08:45] concuacon commented on #1016
Hello, @myothura can you run project with Xcode and show me log when user login with facebook?

[2019-09-04 08:49] minhtruong315 commented on #1011
@anandnathtiwari you must choose shipping method before get payment methods.

[2019-09-04 08:51] minhtruong315 commented on #1011
@anandnathtiwari if you want to show image for payment method. you can update Payments in config.dart
[code]

[2019-09-04 08:52] #1011 closed

[2019-09-04 08:56] leghost commented on #1013
please any update regarding this issue?

[2019-09-04 09:06] anandnathtiwari commented on #1011
I already add images in config.dart. if you check my previously uploaded config.dart file, you find it. but it not show

[2019-09-04 09:14] minhtruong315 commented on #1011
you put wrong payment code. pls try this
"ccavenuepay":"assets/icons/payment/ccavenue.png",

[2019-09-04 09:28] ghanchi2000 commented on #1019
Yes we did it, Not all categories are loading only few are loading.

[2019-09-04 09:28] leghost commented on #1013
@minhcasi please be more explixite. i'm facing the same problem.

[2019-09-04 09:33] alaaeallam commented on #1020
[54111257-evastore-shopify-mobile-store-by-react-native-and-graphql-license.pdf](https://github.com/inspireui/support/files/3573798/54111257-evastore-shopify-mobile-store-by-react-native-and-graphql-license.pdf)

HYG

[2019-09-04 09:57] minhtruong315 commented on #1019
send me your source code via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1019

[2019-09-04 10:24] 7oda187 commented on #986
Which files do you need?

[2019-09-04 10:28] minhtruong315 commented on #986
all

[2019-09-04 10:28] ghanchi2000 commented on #1019
email sent to you

[2019-09-04 10:42] anandnathtiwari commented on #1011
Thanks. Payment Image show.

[2019-09-04 10:54] anandnathtiwari opened #1024 "Fluxstore-1.4.3"
I am using Opencart 3.0.3.2

1. My Issue is App not show Tax(Not Calculate Taxes) and in payment time it book order without going to make payment.

Please guide me.

[2019-09-04 11:45] minhtruong315 commented on #1019
<img width="599" alt="Screen Shot 2019-09-04 at 18 38 31" src="https://user-images.githubusercontent.com/10402500/64252008-ff084000-cf43-11e9-9f11-94cb1da91736.png">
you need to enable Rest Api in admin panel.
it worked now
![Uploading Simulator Screen Shot - iPhone X - 2019-09-04 at 18.43.42.png…]()
const CategoriesListLayout = kCategoriesLayout.sideMenu;

[2019-09-04 11:45] #1019 closed

[2019-09-04 11:55] ghanchi2000 commented on #1019
Issue is same

card >>> blank category page
sideMenu >>> only few categories are showing
column >>> only few categories are showing
subCategories >>> only few categories are showing
animation >>> blank category page
grid >>> blank category page

[2019-09-04 12:01] minhtruong315 commented on #1019
for card, animation, grid you need to update id for parent categories is 0. because it only show default categories that have id 0

[2019-09-04 12:01] ghanchi2000 commented on #1019
how to update parent category to 0 ?

[2019-09-04 12:03] 7oda187 commented on #986
Dear @minhtruong315.

I have sent you an email with the source file link

[2019-09-04 12:07] sunil1509 opened #1025 "[Fluxstore] - while importing flutter existing project"
1. My issue : - while importing flutter existing project

2. Screenshots
![Screenshot_1](https://user-images.githubusercontent.com/29796497/64253298-9ec0d080-cf3a-11e9-8fce-92538057c167.png)
![Screenshot_2](https://user-images.githubusercontent.com/29796497/64253302-a1bbc100-cf3a-11e9-885c-a07b9f8be8fa.png)

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-09-04 12:14] minhtruong315 commented on #953
![Simulator Screen Shot - iPhone X - 2019-09-04 at 19 13 48](https://user-images.githubusercontent.com/10402500/64253764-27923900-cf48-11e9-9541-d37cf08e8a96.png)
![Simulator Screen Shot - iPhone X - 2019-09-04 at 19 13 50](https://user-images.githubusercontent.com/10402500/64253765-282acf80-cf48-11e9-8475-56c2048f8c6c.png)
Your config is ok. did you update source code?

[2019-09-04 12:17] kevlict commented on #953
Thank you very much!

Did you update source code recently?

Kevin

「minhtruong315 <notifications@github.com>」在 2019年9月4日 週三，下午8:14 寫道：

[2019-09-04 12:18] minhtruong315 commented on #953
No. i dont update anything. pls download latest source code and check again

[2019-09-04 12:18] #953 closed

[2019-09-04 12:28] minhtruong315 commented on #1019
sorry, you need to update category parent to 0

[2019-09-04 12:41] shaaanishaan commented on #1017
Dear, I am waiting from your side from last 9 days. As from last day here on github & on support & comments on codecanyan, I am waiting for your reply so please take look in this matter & guide me that how can I solve this matter, As I am facing two more problems that I want solution.
These as under
1. Problem One
Check the attached image
https://i.paste.pics/6LS2E.png
As I click on 'Explore Tours

[2019-09-04 13:01] tjain90 commented on #965
Can you confirm how can we check if it installed or not ? Do it will be
shown right side of Magento admin panel in the name of mstore ?

On Wed 4 Sep, 2019, 2:05 PM minhtruong315, <notifications@github.com> wrote:

[2019-09-04 13:13] ghanchi2000 commented on #1019
I am still unable to understand, how to update category parent to 0 ? can you please guide me ?

[2019-09-04 13:15] tjain90 commented on #965
Because I have resintalled it and cannot see anything in my admin panel

On Wed 4 Sep, 2019, 6:30 PM Tarun jain, <tjain90@gmail.com> wrote:

[2019-09-04 13:49] minhtruong315 commented on #965
it doesn't show in admin panel.
- Copy Mstore plugin folder to app/code folder
- Run this command in website directory: php bin/magento setup:upgrade
Pls record screen these steps.

[2019-09-04 14:53] dxpsite commented on #992
I’ve got error “Sorry, you are not allowed to create post at this user”
Solutions? App.json is okay

[2019-09-05 00:02] #988 closed

[2019-09-05 00:02] #1002 closed

[2019-09-05 00:03] #1012 closed

[2019-09-05 00:03] minhcasi commented on #1017
@shaaanishaan - i've forwarded to the ListApp team for further checking, as you have raised the title and name Mstore that confuse us.

@thangvo9x - pls help for checking

[2019-09-05 00:10] minhcasi commented on #1025
@sunil1509 - could you share your product purchased screenshot ?

[2019-09-05 02:44] minhtruong315 commented on #1014
@lineacoin-project I checked your config. That product has an attribute. you need to remove it in admin
<img width="484" alt="Screen Shot 2019-09-05 at 09 41 26" src="https://user-images.githubusercontent.com/10402500/64307845-7e882480-cfc1-11e9-8c19-bea8d17af0a1.png">
if you don't want to show attributes in mobile app, you can remove attributes in containers/ProductDetailContainer/index.js
<img w

[2019-09-05 05:49] tjain90 commented on #965
Tried this steps multiple times. No success. Kindly Consider it on priority.
Here is the link of video i have created.
https://www.dropbox.com/sh/375o7688rfqwkvw/AABAI1L_Z7tD4aY0vntKHokva?dl=0

[2019-09-05 05:53] lineacoin-project commented on #1014
Hi, the product on the admin side has no variable, the box is in ticked, I can't remove it as some items do have variables which it works fine for.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: minhtruong315 <notifications@github.com>
Sent: Thursday, September 5, 2019 3:44:42 AM
To: inspireui/support <support@noreply.github.com>
Cc: Kiefer Brindle <kiefer_

[2019-09-05 06:19] lineacoin-project commented on #1014
![Capture](https://user-images.githubusercontent.com/6841669/64316684-74f4c180-cfad-11e9-8549-7bca529ae418.PNG)

[2019-09-05 07:09] ItisAhsan commented on #1013
I couldn't debug... can you do that for me? I can give you access?

[2019-09-05 08:23] sunil1509 opened #1026 "[my-product] -"
1. My issue :- getting error while generating Apk.

2. Screenshots :-
![Screenshot_5](https://user-images.githubusercontent.com/29796497/64324666-61b11880-cfe4-11e9-9063-96a90a5b36d0.png)
![Screenshot_6](https://user-images.githubusercontent.com/29796497/64324669-637adc00-cfe4-11e9-94c5-310ba426af1f.png)
I am sharing flutter version and channel also...

Please help me

[2019-09-05 08:24] concuacon commented on #968
Hello @alisa140 can you send me your email, i will send to new source to hot fix this issue and i'll update lastse version.

[2019-09-05 09:32] #1025 closed

[2019-09-05 09:40] anwark commented on #988
I read the doc. but issue still same

On Tue, 3 Sep 2019 at 12:54, minhtruong315 <notifications@github.com> wrote:

--
Kind Regards
Anwar Khan
Project Manager
Voice <+919214438986> / Whatsapp
<https://api.whatsapp.com/send?phone=919214438986> : +919214438986

[2019-09-05 10:07] pabkub opened #1027 "Where is configuration of Additional Information"
I found Additional Information in app but it can't do anything.
I need this where is configuration ?
Please help

[2019-09-05 10:48] #1026 closed

[2019-09-05 11:15] myothura commented on #1016
Hello , This one is x code error log and video for facebook login error .

https://youtu.be/NDthTMqktOI ( Video )

https://i.ibb.co/MCYfrpB/Screen-Shot-2019-09-05-at-5-41-52-PM.png ( Image )

Thanks a lot for care customers

[2019-09-05 11:34] concuacon commented on #984
@mcdavri
"the shipping section i want to set a default shipping in the event the user does not select a shipping method because i noticed on the app a user can checkout without selecting a shipping method and that is not what we want now" => pls show detail your request, i don't know u want set default shipping fee?  and give me your email i'll send new source after fixed.

[2019-09-05 11:51] mcdavri commented on #984
okay my email is umohmcdave@gmail.com

[2019-09-05 11:53] concuacon commented on #1016
Hi @myothura, it seems this is your config error, u can check this link https://github.com/facebook/react-native-fbsdk/issues/425

[2019-09-05 13:16] storchaktitos commented on #956
**exactly the same situation. tried everything...** (((((

`yarn install v1.17.3
info No lockfile found.
warning package-lock.json found. Your project contains lock files generated by tools other than Yarn. It is advised not to mix package managers in order to avoid resolution inconsistencies caused by unsynchronized lock files. To clear this warning, remove package-lock.json.
[1/4] Resolving pack

[2019-09-05 13:40] dxpsite commented on #956
simply install from there https://git-scm.com/download/win (if you are Win-user). This problem about system PATH

[2019-09-05 13:51] myothura commented on #1016
Hi @concuacon  Follow the facebook/react-native-fbsdk#425

1. Already installed react-native-fbsdk

2. Add following lines to ios/PodFile and execute pod install

    pod 'FBSDKLoginKit'
    pod 'FBSDKShareKit'

https://i.ibb.co/vzcmrqh/Screen-Shot-2019-09-05-at-8-16-01-PM.png

3. Set Info.plist

https://i.ibb.co/WyCG1W2/Screen-Shot-2019-09-05-at-8-17-44-PM.png

4. Modify AppDelegate.m

https://i.

[2019-09-05 15:00] minhtruong315 commented on #1014
can you send me account to login to admin panel via email: truong@inspireui.com

[2019-09-05 15:09] minhtruong315 commented on #965
<img width="537" alt="Screen Shot 2019-09-05 at 22 08 38" src="https://user-images.githubusercontent.com/10402500/64354487-be82f200-d029-11e9-92ff-02a562ff306c.png">
do you see Mstore plugin?

[2019-09-05 15:36] tjain90 commented on #965
Yes it is available . Please see snapshot attached. There is some other issue I guess
![Screenshot_20190905-210216](https://user-images.githubusercontent.com/6376301/64356713-f6d20280-d020-11e9-91b0-bd05a15ae5f4.png)

[2019-09-05 17:22] ahmadyousefdev commented on #603
This should be added to the documentation.
---
Also, the developerMode in admin config is true and I still get `WebSocket connection to 'ws://localhost:3001/ws/dashboard?token=null' failed: HTTP Authentication failed; no valid credentials available` .. What should I do?

[2019-09-05 18:40] alisa140 commented on #968
here it is: alisa140@gmail.com

[2019-09-05 19:26] ahmadyousefdev opened #1028 "CeStore - WebSocket connection failed"
1. I uploaded the database and changed my config file to

[code]
The products and everything is loaded, but I can't change anything.
I have this error when I access the web app site and admin
[code]

I tried to access the  and I got this: http://localhost:3001 to see if it retrieves the API
[code]

what is the problem ?

[2019-09-05 21:48] itzmeeugene opened #1029 "[ListApp] - Listing Price not showing among other issues"
1. My issue

**Issue 1:**  On my wordpress website, i have prices for listings added but when viewing from the app, the prices do not show. Same with "Address".

**Issue 2:** Please guide me on how to make the whatsapp icon clickable

Screenshot: https://www.dropbox.com/s/bffh6q4y9p3q4qm/Screenshot_20190905-212835_Expo.jpg?dl=0

**Issue 3:** I have alot of custom taxonomies on my wordpress site wh

[2019-09-05 23:39] x028 commented on #973
@minhcasi you should not make it closed sir :)

[2019-09-06 00:29] minhtruong315 commented on #965
@tjain90 I see your Mstore plugin is so old. did you get the latest source? or you can give me your email, i will send it

[2019-09-06 00:30] #1018 closed

[2019-09-06 00:33] tjain90 commented on #965
Yes please provide me at tjain90@gmail.com

[2019-09-06 01:52] minhtruong315 commented on #965
pls update Mstore plugin

[2019-09-06 02:00] minhcasi commented on #1024
Hi @anandnathtiwari  - the tax and payment gateway does not support on current release of the Opencart, we will update it on next v1.5 - thank you!

[2019-09-06 02:00] 7oda187 commented on #986
Dear @minhtruong315  Any update on my source file?

[2019-09-06 02:01] minhcasi commented on #1027
Hi, could i know your purchased screenshot and explain more about the issues ?

[2019-09-06 02:03] samik9 commented on #971
i am sorry, i dont know how to do that, so far is not easy to run an external payment. My store is not close to be ready for production :/

[2019-09-06 02:07] pabkub commented on #1027
Sorry for my misunderstanding.
I need the review features from app. Where is the configuration.

เมื่อ ศ. 6 ก.ย. 2019 เวลา 09:01 Minh Pham <notifications@github.com>
เขียนว่า:

--
Best Regards,
===========================================================
Mr.Jutachai Apiwattanawong(Pab),
Systems Engineer
Tel :  086-3363636
E-mail : pabkub28@gmail.com
=================================================

[2019-09-06 02:35] concuacon commented on #984
@mcdavri

[2019-09-06 02:41] concuacon commented on #968
@alisa140 i sent to you,

[2019-09-06 02:47] concuacon commented on #1016
hmm...., @myothura delete node_modules/ folder and compress your source send me via wetransfer.com
i'll check, my email tuan@inspireui.com

[2019-09-06 04:10] anandnathtiwari commented on #1024
tentative days to release v1.5

[2019-09-06 06:12] samik9 opened #1030 "Fluxstore"
Hello team, I changed the theme and the  and followed the advices here #941 but I dont know why is not taking me to the success page of the app, only shows the webview after succes.

Thank you for your time

![ezgif-3-d1d4ba0f6e2b](https://user-images.githubusercontent.com/50071744/64404942-314c9700-d043-11e9-8a6f-c27a3858f1be.gif)

[2019-09-06 06:14] samik9 commented on #971
The only way that make this to really work is only allow **epayco gatewa**y alone, if i let **cash on delivery** or more payment methods I will get all bugs mentioned above.
But of course I need to let the other methods available

[2019-09-06 07:35] myothura commented on #1016
Hello @concuacon  i already send with my facebook login error source code with Wetransfer.com to tuan@inspireui.com . Please kindly check and fix for me thanks a lot elder brother ...  Thanks a lot for customer care...

https://i.ibb.co/mGN10jD/Screen-Shot-2019-09-06-at-2-02-18-PM.png

[2019-09-06 07:44] ItisAhsan commented on #1013
Hi there? can you debug that?

[2019-09-06 08:00] #965 closed

[2019-09-06 10:08] ghanchi2000 commented on #1019
https://www.shopperspk.com/wp-json/wc/v3/products/categories?consumer_key=ck_email&consumer_secret=cs_email&parent=0

in this link 10 categories with parent 0 are listed, then why this app is not showing them ?
check email for keys

[2019-09-06 10:26] shaaanishaan commented on #1017
Dear @thangvo9x are you there? Please help to solve this matter. Waiting

[2019-09-06 11:11] #968 closed

[2019-09-06 11:46] nhblock commented on #968
@concuacon can you send to me as well? I sent you an email requesting the same hotfix.

[2019-09-06 13:47] nhblock opened #1031 "[EvaStore] - horizontal layout hotfix needed for 1.1.2"
1. My issue
Same as https://github.com/inspireui/support/issues/968

2. Screenshots

3. My screenshot of the purchase product or my comment: order ID 108146996

3. Config files (optional)

Please send the hotfix for the horizontal layout like issue #968

[2019-09-06 16:46] lineacoin-project commented on #1014
Hi, This has been sent.

[2019-09-06 17:40] tjain90 opened #1032 "Magento 3rd Level Category Not Visible in Fluxstore"
Categories are not available in Menu. For example:

A>B>C

In Fluxstore till B is available but not C level Menu. Even when i click B no products are available.

---------

[2019-09-06 19:04] alaaeallam commented on #1020
If there any update?

[2019-09-07 01:24] #1005 closed

[2019-09-07 01:52] nhblock commented on #1031
![EvaStore purchase receipt](https://user-images.githubusercontent.com/7387991/64468261-1bdd7880-d0e8-11e9-867d-92ebfb274213.jpg)

Here is my proof of purchase from July. @minhcasi @concuacon

[2019-09-07 02:27] minhcasi commented on #1031
Thank you for the detail, we have noted and will update the patching shortly.
@concuacon

[2019-09-07 03:11] nhblock commented on #1031
Can you send me the patch now like you did for the other issue?

[2019-09-07 10:30] ahmadyousefdev commented on #1028
I got this too before the websocket error :

[code]

Can I get some help here please ? I can't continue..

screenshot of my comment in envato: http://ahmadyousef.me/uploads/cestore.png

[2019-09-07 11:58] alisa140 commented on #968
Thanks. Two things:

1- the price don't appear properly (see screenshot). There a world “- - infinity” appears after each product price.

[2019-09-07 12:59] ahmadyousefdev commented on #1028
I installed the app too and ran it, after changing

[code]

it doesn't retrieve anything.

By the way, the [documentation](https://docs.inspireui.com/cestore) is old and doesn't describe the installation properly.

[2019-09-07 17:22] alubrandxy opened #1033 "Any one who can deploy cestore please contact me"
Contact me on alubrandxy@gmail.com

[2019-09-08 02:36] usman19977 commented on #994
@mo7ammedgaber can u share the code ?

[2019-09-08 02:46] minhcasi commented on #1013
@ItisAhsan - this could only debug from your website, please follow by these steps:

1. process the checkout from the app at the payment step

2. Get the Order request that having the format: (you can use the react native debugger or install reacttotron - https://github.com/infinitered/reactotron), the link have format .../mstore-checkout?order=xxx

3. The go the wordpress plugin on your site, and

[2019-09-08 02:48] minhcasi commented on #1028
@minhtruong315 - pls suggest for this issue

[2019-09-08 02:50] minhcasi commented on #994
@usman19977 - could i check if you have purchased the product already ?

[2019-09-08 03:25] minhtruong315 commented on #1028
@ahmadyousefdev you need to add ```developerMode: true``` to config/server.js

[2019-09-08 07:29] mo7ammedgaber commented on #994
Yes iam already buy it by my email
Mo7ammedgaber@gmail.com

On Sun, Sep 8, 2019, 4:50 AM Minh Pham <notifications@github.com> wrote:

[2019-09-08 07:32] minhcasi commented on #1031
Hi @nhblock , please help to download the latest 1.1.3 from https://codecanyon.net/downloads - we have just updated this issue

[2019-09-08 07:32] #1031 closed

[2019-09-08 07:33] minhcasi commented on #1030
Hi @samik9 - thank you for reporting, we have noted for fixing this UX on next release

[2019-09-08 07:35] minhcasi commented on #1032
@tjain90 - this could be caused by the issue from Magento API issue, we have noted and will look into the issue

Could you help to share the config of your site for further checking as well - thank you!

[2019-09-08 09:27] myothura commented on #1016
Hello sir, @minhcasi @concuacon  My facebook login error is not working yet . Please kindly fix for me. Thanks

[2019-09-08 09:42] sunil1509 opened #1034 "PLEASE HELP!!! gradlew.bat exited abnormally"
1. My issue :- (exception)gradlew.bat exited abnormally

2. Screenshots:-
![Screenshot_2](https://user-images.githubusercontent.com/29796497/64486448-0896ee00-d24b-11e9-8266-3ac878788018.png)

[2019-09-08 11:46] edzofcit commented on #992
Hi guys, any updates for this?

[2019-09-08 13:04] ahmadyousefdev commented on #1028
Hey thanks that solved it !

[2019-09-08 15:15] alaaeallam commented on #1020
Hi,

I'm still having the same issue, many products don't show up in the product list however i found the products only when i'm searching.

also i've another issue that when i'm changing the layout, (from grid mode to list mode for example ) many products don't show up.

[2019-09-08 19:05] itzmeeugene commented on #1029
@minhcasi its been 3 days now and i haven't received any response yet

[2019-09-09 00:18] #1028 closed

[2019-09-09 00:21] minhcasi commented on #1029
@itzmeeugene - could you share the purchased screenshot to verify the license? Also, share again the full config file so that we could check - thank you!

[2019-09-09 00:23] minhcasi commented on #1034
@sunil1509 - did you pass the guide from https://flutter.dev/docs/get-started/test-drive ?

Also try to check "flutter doctor"

[2019-09-09 00:24] minhcasi commented on #1033
@alubrandxy - what is your issue with the installing so far ?

[2019-09-09 00:24] #1033 closed

[2019-09-09 01:27] itzmeeugene commented on #1029
see attached
purchase screenshot: https://www.dropbox.com/s/fq3gf2e6p6xmu5u/2019-09-09_010053.jpg?dl=0

**appconfig.json**

{
  "Website": {
    "url": "https://ghcentral.com",
    "consumerKey": "ck_fd22b536f71bca4a0442cbbfe71f11a8a6ff5224",
    "consumerSecret": "cs_e9068cc31ddb2ffa0511a44b5c386973122078de"
  },
  "Theme": "myListing",
  "MainColor": {
    "tabbarTint": "#00B2BC",
    "tabbarCol

[2019-09-09 02:07] arjunchopra35 commented on #945
GoDaddy shared Linux hosting

[2019-09-09 05:48] arjunchopra35 commented on #945
{
  "Website": {
    "url": "https://goodlooks.app",
    "consumerKey": "ck_6243129a4cee04396f0c68d3619254dced80243d",
    "consumerSecret": "cs_864236b32f7883892d970e7c2aaa8b8de1d033cd"
  },
  "Theme": "mylisting",
  "MainColor": {
    "tabbarTint": "#00B2BC",
    "tabbarColor": "#D5D8DE",
    "mainColorTheme": "#00B2BC",
    "tabbar": "#fff"
  }
}

[2019-09-09 05:50] arjunchopra35 commented on #945
same issue as -
https://github.com/inspireui/support/issues/945#issuecomment-522445211

[2019-09-09 07:13] shaaanishaan commented on #1017
Dear @minhcasi  & @thangvo9x I am still waiting for your reply for solution of above mention issues. Please try to solve this matter. Advance Thanks

[2019-09-09 15:27] MER24 opened #1035 "[FLUXSTORE] - How to hide price ?"
Hi, I bought the application called FluxStore, but only members need to be able to see the product prices on my site. My site serves as B2B. How can we hide product prices in ?

Item Purchase Code:
79f4448e-bb4d-41f9-a641-cc2822c5843d

[2019-09-09 17:51] 7oda187 commented on #986
Dear @minhtruong315 Any update please !!!

[2019-09-10 04:10] anandnathtiwari commented on #1024
Any update ?

[2019-09-10 10:27] lineacoin-project commented on #1014
Hello any update for this ?

[2019-09-10 13:21] Ink9 opened #1036 "[BuzzApp] - CeBuilder Crashes"
When i try to add a new elements section to the cebuilder it crashes.
The cebuilder app turns white blank.

And i have attach a screenshot of the terminal once the cebuilder crash.
<img width="903" alt="Screen Shot 2019-09-10 at 1 26 27 PM" src="https://user-images.githubusercontent.com/2674430/64617035-97d00d00-d3d5-11e9-84f3-2b0b248d584c.png">

[2019-09-10 16:05] nhblock opened #1037 "[EvaStore] - collection containers not loading all products"
1. My issue
The homecontainer horizontal layout works great now and shows all the products in the  collections. However, when you press "Show all", only 2 or 3 of the products in that collection are displayed.

Reactotron traces it to some kind of pagination issue with the ListItem or VerticalList component. Is there a way to turn off the need for pagination and just display all the items on load?

[2019-09-10 20:15] luisalexhg commented on #1030
When will be the next release?, I too have the same issue. Pls fix it

[2019-09-10 23:29] luisalexhg opened #1038 "[FluxStore] - At Finish the payment don't redirect to App success , only web view success"
1. I have a problem, when I finish the payment, not taking me to the success page of the app, only shows the web view after success.

2. https://user-images.githubusercontent.com/50071744/64404942-314c9700-d043-11e9-8a6f-c27a3858f1be.gif

3. https://bit.ly/2kD0aSl

[2019-09-11 00:30] itzmeeugene commented on #1029
@thangvo9x @minhcasi i need an answer asap

[2019-09-11 01:11] itzmeeugene commented on #1029
Question: The HomeCategories, can i only use pure categories ID or i can use custom categories ID because i've tried using custom category id and it doesn't work.

[2019-09-11 04:03] cakebread opened #1039 "FluxStore-woo 1.4.3 fails to build"
1. My issue - Can't run FluxStore with fresh install of flutter. Can run default flutter app.

flutter run
Because every version of flutter_test from sdk depends on path 1.6.4 and fstore depends on path 1.6.2, flutter_test from sdk is forbidden.
So, because fstore depends on flutter_test any from sdk, version solving failed.
Running "flutter pub get" in source...
pub get failed (1)

2. Screenshots

[2019-09-11 04:25] cakebread commented on #1039
If I change pubspec.yaml to:

   path:  1.6.4

I get this error:

flutter run
Launching lib/main.dart on iPhone Xʀ in debug mode...

Compiler message:
../../flutter/.pub-cache/hosted/pub.dartlang.org/flutter_widgets-0.1.5/lib/src/visibility_detector/src/visibility_detector_layer.dart:277:18: Error: This expression has type 'void' and can't be used.
    return super.addToScene(builder, layerOffset)

[2019-09-11 06:34] harry503 opened #1040 "[mstore-pro] - Review are not being displayed under Review Tab"
1. My issue
Review are not displayed using the latest build 3.9.5 and also the previous one 3.9.4b. The API for the review itself is good. I think there is a bug in the FlatList with dataSource and renderRow. Which should be changed to data and renderItem.

2. Screenshot
<img width="380" alt="Screen Shot 2019-09-11 at 13 33 33" src="https://user-images.githubusercontent.com/35995317/64673592-c7941

[2019-09-11 06:40] minhcasi commented on #1035
Hi, you can edit the product_card_view to hide the price or add a custom feature to check the visibility base on user login https://tppr.me/NJSsp - thank you!

[2019-09-11 06:40] #1035 closed

[2019-09-11 06:41] minhcasi commented on #1038
confirm this is the bug that will be fixed in next 1.4.5 - thank you!

[2019-09-11 06:45] luisalexhg commented on #1038
We are in version 1.4.3, did you mean for version 1.4.4? When will it be?

[2019-09-11 06:46] minhcasi commented on #1039
Hi, we will update new patching 1.4.5 to fix these issues on today - thank you!

[2019-09-11 07:02] minhcasi commented on #1036
Hi, could you help to share the purchased screenshot, thank you!

[2019-09-11 07:02] minhcasi commented on #1040
Thank you for your feedback, we will have a check and update

[2019-09-11 08:59] thangvo9x commented on #1029
Hi. The WhatsApp icon will be clicked when running on a real device.
The app can't get Custom Taxonomies. You must customize it.
And the price. You must add it at Config/yourtheme.js to get it. Thanks

[2019-09-11 09:00] thangvo9x commented on #949
This is a bug. We will have an update in the next version next month. Thanks

[2019-09-11 09:00] #949 closed

[2019-09-11 09:04] thangvo9x commented on #1017
Could you share your AppConfig.json for checking?
The problem second. You must change categoryId in your Theme at Config/Yourtheme and finding this block
HomeCategories and change it same is id on your website.

[2019-09-11 09:12] itzmeeugene commented on #1029
@thangvo9x thanks for the response but I'm a newbie to programming.

Can you show me a sample of what I need to add for the price to show

Also how do I customize (App\Theme\myListing\Container\PostNewListing) to show new sections.

[2019-09-11 09:16] thangvo9x commented on #992
Could you give me an account for testing the login function?

[2019-09-11 09:16] thangvo9x commented on #945
Could you share the account for login to your admin dashboard? Thanks

[2019-09-11 09:24] edzofcit commented on #992
Sure, use this temporary credentials.

username: tony
pass: tony

On Wed, Sep 11, 2019 at 5:16 PM Tony Vo <notifications@github.com> wrote:

--
Thanks,

Eddie F. Ybañez

[2019-09-11 09:30] Ink9 commented on #1036
<img width="860" alt="purchase" src="https://user-images.githubusercontent.com/2674430/64685533-146af600-d47f-11e9-8b77-2c9252504864.png">

[2019-09-11 09:40] thangvo9x commented on #992
Checked. Try to do on your app again about login functional.

[2019-09-11 09:41] thangvo9x commented on #1029
Hi. Go to Config/MyListing. add more block like this image
https://prnt.sc/p4nbqc
And Customize to get Custom Taxonomies. This is out of scope from supporting. Hope you see.
Thanks.

[2019-09-11 09:53] edzofcit commented on #992
It's now working. may we know whats the problem?

On Wed, Sep 11, 2019 at 5:40 PM Tony Vo <notifications@github.com> wrote:

--
Thanks,

Eddie F. Ybañez

[2019-09-11 09:55] thangvo9x commented on #992
Is it works? Ah huh. The problem just forgot to enable API in the Settings tab.

[2019-09-11 10:00] #992 closed

[2019-09-11 10:02] edzofcit commented on #992
Oh sorry, thanks. :)

On Wed, Sep 11, 2019 at 6:00 PM Tony Vo <notifications@github.com> wrote:

--
Thanks,

Eddie F. Ybañez

[2019-09-11 10:12] edzofcit commented on #992
Do you mean in the JSON Settings config? Specifically mstore?

On Wed, Sep 11, 2019 at 6:01 PM Eddie Ybañez <edzofcit@gmail.com> wrote:

--
Thanks,

Eddie F. Ybañez

[2019-09-11 10:15] ItisAhsan commented on #1013
![Screenshot_2019-09-11 mstore-checkout – Halal Meats](https://user-images.githubusercontent.com/12572962/64689025-fa450e00-d4a6-11e9-80b4-c30dbbc94d66.png)
this is what I got.. I still can't see what's wrong

[2019-09-11 10:16] ItisAhsan commented on #1013
this was the error in console
![image](https://user-images.githubusercontent.com/12572962/64689084-147eec00-d4a7-11e9-9496-74874228bf56.png)

[2019-09-11 10:18] anshbot opened #1041 "FluxStore Woocommerce App Issue"
I am facing multiple issues

1. Add to cart leads to blank page when we click on "Add to cart " single product page.
https://imgur.com/Q1v6qiG
2. Login Stuck at animation when a registered user tries to login via Facebook Account Kit.
https://imgur.com/pPNJUdD
3. How to add webview in payment option. I have CCAvenue payment gateway
 integrated on my website.

[2019-09-11 10:44] minhcasi commented on #971
@samik9 - is it possible to connect your site via FTP for debugging ?

[2019-09-11 10:44] #1010 closed

[2019-09-11 10:52] minhcasi commented on #1013
Hi could you try to run the wp_enqueue_scripts to remove the touch-keyboard-navigation.js out from the mstore-checkout page, this script causes the broken on this feature

[2019-09-11 10:57] minhcasi commented on #1020
@alaaeallam - could you provide the purchase screenshot from https://codecanyon.net/downloads

and send us your config file so that we could help for checking

[2019-09-11 10:57] minhcasi commented on #1024
Hi, it will be available in 1-2 weeks - thank you!

[2019-09-11 11:03] minhcasi commented on #1027
@pabkub  - pls help to take the info from our product site - https://inspireui.com/products/ - thank you!

[2019-09-11 11:03] #1027 closed

[2019-09-11 11:03] #1032 closed

[2019-09-11 11:04] #1034 closed

[2019-09-11 11:04] minhcasi commented on #1039
please download the latest 1.4.4 for fixing new Flutter 1.9

[2019-09-11 11:04] #1039 closed

[2019-09-11 11:07] minhcasi commented on #1041
@anshbot - could you share the config files from the common folder - thank you!

[2019-09-11 11:19] minhcasi commented on #1020
sorry i got your conversation from - https://app.intercom.io/a/apps/xro9xnfd/inbox/inbox/2664005/conversations/23296830565

@concuacon - please help for checking

[2019-09-11 11:28] danasugu opened #1042 "[my-product] - Fluxstore WooCommerce - Flutter E-commerce Full App"
Hi!
I run into this error:
Running "flutter pub get" in source...                              1.1s
E:\flutter\FluxStore-woo 1.4.4\source: pub did not update .packages file (pubspec.yaml timestamp: 2019-09-11 15:49:00.000; .packages timestamp: 2019-09-11 14:27:15.000).
Process finished with exit code 1

[2019-09-11 11:54] alaaeallam commented on #1020
[Config.zip](https://github.com/inspireui/support/files/3600609/Config.zip)

HYG

[2019-09-11 12:11] edzofcit commented on #882
Hi, this doesnt work for me. Need help :(

[2019-09-11 12:17] edzofcit commented on #882
Hi guys, tried this but still not working, can we possibly ask for help?

[2019-09-11 12:22] edzofcit opened #1043 "ListApp Google Map API Android Error"
---------

1. My issue

Google maps API Error
Experienced the same problem from the closed issue but can't possibly fix with the suggested solution.

https://github.com/inspireui/support/issues/882

Saw another group but can't find where my AndroidManifest.xml is located.
https://github.com/react-native-community/react-native-maps/issues/2752

Would appreciate any help for this.

P.S. BAsically, e

[2019-09-11 12:35] Zeeshan0201 opened #1044 "[Fluxstore] - getNonce, 404 while try to create new user via Email"
---------

1. My issue

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-09-11 13:40] dxpsite commented on #1043
example for app.json:
` "android": {
      "package": "com.shardik.somelalalal",
      "versionCode": 8,
      "googleServicesFile": "./release/google-services.json",
      "config": {
        "googleMaps": {
          "apiKey": "AIza*****************************rjBVwT4"
        }
      }
    },`

[2019-09-11 14:45] harry503 opened #1045 "[mstore-pro] - ITMS-90809: Deprecated API Usage UIWebView"
1. ITMS-90809: Deprecated API Usage
I receive this error when preparing to upload to App Store. Can you make sure that App can be submit to AppStore and not having this problem again?

Dear Developer,
We identified one or more issues with a recent delivery for your app, “mstore” 3.9.5 (1). Your delivery was successful, but you may wish to correct the following issues in your next delivery:
ITMS-90

[2019-09-11 18:06] leghost opened #1046 "[MSstore] - chechout"
---------

1. My issue

1) When i whant to confirm the order , the confirm order button just show "Loading" and nothing happen.
i tryed the 2 check out solutions present here
https://docs.inspireui.com/mstore/questions/#404-error-page-when-process-the-payment-
but it still do the same thing.

2) the review take time to be submited and to prompt a message. And after the admin has approved the revie

[2019-09-11 19:15] MER24 commented on #1035
Sorry, my coding skills are weak . Can you share code so that the user doesn't see prices without logging in. (I can pay for extra support)

[2019-09-11 20:45] sfoulad opened #1047 "[Fluxstore] - version 1.4.4 issues"
Hi,

I just installed latest version and noticed the below:

I'm using woocoommerce latest version

1- woocoommerce tax not showing in the app , order review page ?

2- shipping it’s not taking from woocoommerce

3- webview payment gateway showing error

4- my orders history not working

5- the feature of most login to see products not working in latest version

6- on Android , product page , imag

[2019-09-11 21:47] arjunchopra35 commented on #945
Username - mojojojo
password - mojojojo123

[2019-09-11 21:57] itzmeeugene commented on #1029
hello, added the price key but it does not show below the title like in demo app. see screenshots

https://www.dropbox.com/s/lomdo3tf8mkpnf1/Screenshot_20190911-214215_Expo.jpg?dl=0

https://www.dropbox.com/s/8p6wxakyznobmq2/2019-09-11_214739.jpg?dl=0

https://www.dropbox.com/s/i96sqryvgjmxp4l/2019-09-11_215150.jpg?dl=0

[2019-09-12 02:07] tjain90 commented on #1032
[common.zip](https://github.com/inspireui/support/files/3603359/common.zip)
Hi,

Please find attached.

[2019-09-12 02:44] thangvo9x commented on #1029
You must have Scrolled to Table section.

[2019-09-12 03:07] thangvo9x commented on #945
Checked on your config. The app still works normally.

[2019-09-12 03:08] thangvo9x commented on #945
<img width="451" alt="Screen Shot 2019-09-12 at 10 07 26 AM" src="https://user-images.githubusercontent.com/23457178/64751064-30d16600-d545-11e9-8a29-d092008de477.png">
<img width="451" alt="Screen Shot 2019-09-12 at 10 07 31 AM" src="https://user-images.githubusercontent.com/23457178/64751065-30d16600-d545-11e9-80fd-f42781b7c565.png">

[2019-09-12 05:15] MarcHe124 opened #1048 "[fluxstore - pro] - Paypal and Stripe pay the opened webview show URL not found on the server"
1. My issue

We try to use paypal and stripe pay from app (we already get them working on website changcheng.ca for same server), then the opened webview redirects to some url that cannot be found on the server. Is the payment feature not done yet on opencart? or is the url from a new version of mstore api extension or sth?

The redirected URL: http://changcheng.ca/mstore-checkout/?order=eyJwYXltZ

[2019-09-12 06:10] #1042 closed

[2019-09-12 06:37] Saadbadi commented on #945
So where is the error ?? i can't see ( Pay with cash upon delivery ) also if i am using config of @arjunchopra35

![IMG_8714](https://user-images.githubusercontent.com/17745490/64759654-7b9caf00-d540-11e9-8687-0b92a2a553af.PNG)

and i have another question please
why in your screenshot the first stage is called ( My cart ) and in my side the first stage is called ( Booking ) is there any different

[2019-09-12 07:36] ItisAhsan commented on #1013
no... it's not because of that.. it's because of the error from v3.js ... that is one of the stripe's script.. the touch-keyboard-navigation.js error's just showed when I disabled the activated theme to check if the issue was caused by the theme.. see this console for result after the theme was activated
![image](https://user-images.githubusercontent.com/12572962/64763700-0047f700-d55a-11e9-96e6-6

[2019-09-12 08:50] harry503 opened #1049 "[mstore-pro] - Facebook Account Kit is Deprecated"
1. Facebook Account Kit is Deprecated
No longer can you Login by SMS. Please remove or change method

2. Screenshots
![Screen Shot 2019-09-12 at 15 49 03](https://user-images.githubusercontent.com/35995317/64769152-fe3f6180-d574-11e9-8e4c-59944a9730a6.png)

[2019-09-12 13:15] mikebanson opened #1051 "[my-product] - mstore opencart"
After installation most products show out of stock. i was asked to send the config file.
[Config.zip](https://github.com/inspireui/support/files/3605622/Config.zip)

[2019-09-12 15:03] Blubagoo opened #1052 "#764 #852"
Hey Guys, even after updating to the latest version of Beonews I am still unable to complete a build. We were successfully able to complete the IOS build and get it published but now its time for android and i desperately need the android version. I am unsure why this product is being sold if its unable to be built in android. That's false advertising and this needs to be fixed asap.

Please let m

[2019-09-12 16:03] stefanue opened #1053 "[MStore Pro] - Stripe Issues"
1. My issue

Can't use stripe gateway as presented here:
Payment demo: [Video Link](https://www.youtube.com/watch?v=6hNz43oTyUA)
[Docs reference](https://docs.inspireui.com/mstore/getting-started/)

instead of a that flow, app is opening a webview (that is generating your cart is empty)

2. Screenshots

<img width="437" alt="Screen Shot 2019-09-12 at 6 00 48 PM" src="https://user-images.githubuser

[2019-09-12 19:03] MohammedXAbdo opened #1054 "[Mstore Pro] - I can't setup the app this is error code blew"
when i use Cebuilder  i get Expo with red mark but i was install it before
so i skipped this massage and continue to customisation the app and click Run setup in my mac i get this massage blew
Last login: Thu Sep 12 20:44:48 on ttys000
Mohammed-Abdo-MacBook-Air:~ MohammedAbdo$ /Users/MohammedAbdo/Desktop/scripts/start_expo.sh ; exit;
rm: package-lock.json: No such file or directory
rm: yarn-error.

[2019-09-12 22:15] myothura opened #1055 "[Mstore-Pro 3.9.5] - Android App not working"
Hello , Sir

I would like to inform you. Your Last update: 09/09/2019  reactive native android is not running in react-native run-android ( or ) Via Android Studio. Please kindly fix for us.

Reactive native Error

https://i.ibb.co/jk7JF9k/Screen-Shot-2019-09-13-at-4-42-00-AM.png

Android studio error

https://i.ibb.co/4J1k3KQ/Screen-Shot-2019-09-13-at-4-42-50-AM.png

If you not clear i will uploa

[2019-09-13 05:36] alimajee opened #1056 "[my-product] - ListApp"
---------

1. My issue : I don’t want user to add listing from app . There is + sign at the bottom (middle) of the app. How I can disable that

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-09-13 07:48] concuacon commented on #1055
@myothura please check your path android sdk
![Screen-Shot-2019-09-13-at-4-42-00-AM](https://user-images.githubusercontent.com/11958061/64845836-5a69ba80-d635-11e9-95ff-2397f86a0905.png)
and run:
rm -rf node_modules/ && yarn && cd  android/ && ./gradlew clean && cd ../ && react-native run-android

[2019-09-13 08:17] concuacon commented on #1054
Please downgrade node version and npm version:
node: v10.15.3
npm: 6.9.0

[2019-09-13 09:09] minhtruong315 commented on #1041
about sms login, pls check this https://pub.dev/packages/flutter_account_kit#-readme-tab-
payment webview https://github.com/inspireui/support/issues/941#issuecomment-522298815

[2019-09-13 09:09] #1041 closed

[2019-09-13 09:11] minhtruong315 commented on #1044
@Zeeshan0201 did you install mstore checkout plugin? https://docs.inspireui.com/fluxstore/woocommerce-setup/

[2019-09-13 09:13] minhtruong315 commented on #1048
@MarcHe124 pls send me config.dart and connfig.json file via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1048

[2019-09-13 09:13] Zeeshan0201 commented on #1044
@minhtruong315 can we have any docs available for how to setup sign up/ log in to customization in Fluxstore?

[2019-09-13 09:14] minhtruong315 commented on #1051
@mikebanson can you send me AppConfig.json file?

[2019-09-13 09:15] #1045 closed

[2019-09-13 09:16] minhcasi commented on #1053
@stefanue the native stripe payment is removed from v3.0 due to some limitation we change it to Webview payment for more security and more flexible work with multi-payment gateway.

To fix the empty 404 payment please follow this guide - https://docs.inspireui.com/mstore/questions/#404-error-page-when-process-the-payment-

You can also use native stripe payment by install this library - https://gi

[2019-09-13 09:22] stefanue commented on #1053
Hello @minhcasi thanks for your quick reply. Is there a way you can share v3.0. zip with me, so i can wire up the native checkout?

Currently there is a` index_stripe.js` under `src/containers/cart`, but it's calling two components `<StripePanel />`  and `<PaypalPanel />` that don't exist in the project.

[2019-09-13 09:51] AlaaKriedy opened #1057 "[fluxstore] - shipping method problem - I CAN EDITE"
Hello ,
when I edited my shipping method in WooCommerce , didn't have any change in my app ,
please how can I changed by zone ID for shipping method

[2019-09-13 10:13] Zeeshan0201 commented on #1044
@minhtruong315 yes I installed  mstore checkout plugin, still getting  getNonce, 404

[2019-09-13 12:00] Zeeshan0201 commented on #1044
@minhtruong315
not able to find **JSON API**: allows to active the API config for MStoreUser to support registration features. plugin and it's  when I use [JSON API User](https://wordpress.org/plugins/json-api-user/) getting **"status":"error","error":"Unknown controller 'mstore_user'** in nonce response..

![Screenshot from 2019-09-13 17-25-23](https://user-images.githubusercontent.com/45591301/6

[2019-09-13 12:05] mikebanson commented on #1051
[AppConfig.zip](https://github.com/inspireui/support/files/3609934/AppConfig.zip)

[2019-09-13 12:39] minhcasi commented on #1053
Hi, could you share your email here

[2019-09-13 12:39] stefanue commented on #1053
@minhcasi of course, its `stefanue@gmail.com`

[2019-09-13 12:53] minhcasi commented on #1056
Hi, you can remove these lines from the navigation/index.js file - https://tppr.me/ti6FE

[2019-09-13 12:53] #1056 closed

[2019-09-13 17:37] AmjadKhan2k18 opened #1058 "[fluxstore] - Json-API plug in isn't available after 7 Auguest"
---------

1. My issue
I am integrating flutter Fluxstore project with wordpress woocomrece project but JSON-API is suggested in documentation isn't available anymore
https://wordpress.org/plugins/json-api/advanced/

is here any other similar plugin for it ?
![Screenshot 2019-09-13 at 10 34 44 PM](https://user-images.githubusercontent.com/44894621/64882677-0da6d380-d677-11e9-9c7f-d7cd799154f2.png)

[2019-09-13 18:12] Gmlogy opened #1059 "[Mstore-pro] - ListAllscreen page show the Variable from AppConfig.json instead of the Value of variable"
---------
Mstore:
65ae6467-f067-450f-aa9d-6528a5ba0736

1. My issue
Hi, when i click " Show All" button it's redirect to a page that showing all products. the issue is in the top of screen i see the variable instead of the value.
for example i have a category named منتجات at Languages.js ( ProductFeatures: "منتجات", ) in Home screen i see the name that i set in Languages file but when i click to g

[2019-09-13 18:48] #1058 closed

[2019-09-13 20:52] AmjadKhan2k18 opened #1060 "[fluxstore] - mStoreUser isn't available in Json API setting"
1. My issue
 I am integrating wordpress woo with fluxture 1.4.3 when i followed all steps in documentation but when i get into enable enable the MStoreUser i couldn't find it in setting JSON-API settings you can see screenshot
2. Screenshots
![Screenshot 2019-09-14 at 12 13 23 AM](https://user-images.githubusercontent.com/44894621/64894044-253f8580-d692-11e9-8b73-c36762dd260e.png)

3. My screensho

[2019-09-13 22:11] itzmeeugene commented on #1029
Thank you sir, but see attached screenshot after updating my app with the files you sent.

1. The Price does not show on the Home or Category Pages like in Demo

**screenshot**: https://www.dropbox.com/s/m0yz0wbmt4ivfyr/Screenshot_20190913-215953_Expo.jpg?dl=0

2. The price shows on the listing details page but i want it to show like this (**GHS 19,000**) with a comma.
3. Also after updating with

[2019-09-14 02:36] minhtruong315 commented on #1038
![Simulator Screen Shot - iPhone X - 2019-09-14 at 09 35 33](https://user-images.githubusercontent.com/10402500/64902542-07464500-d6d3-11e9-9da2-a68e329aaa05.png)
I can not checkout. pls send me about available address to checkout

[2019-09-14 02:37] minhtruong315 commented on #1044
@Zeeshan0201 send me your website and admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1044

[2019-09-14 02:49] minhtruong315 commented on #1051
@mikebanson i checked your data, all products return "stock_status":"Out Of Stock",
you need to change stock status in opencart admin site.
<img width="1148" alt="Screen Shot 2019-09-14 at 09 48 03" src="https://user-images.githubusercontent.com/10402500/64902626-ea127600-d6d4-11e9-85b8-cf8a2a02bd7c.png">

[2019-09-14 05:08] edzofcit commented on #1043
Yes, configured it via app.json

  "android": {
    "package": "com.listapp.name",
    "versionCode": 6,
    "googleServicesFile": "./release/google-services.json",

      "config": { "googleMaps": { "apiKey": "AIzaSyDUWVmYEhmkIPGUO7JE4UWj97*******" } }
    }
}

[2019-09-14 08:35] minhcasi commented on #1060
@AmjadKhan2k18 - could you take screenshot of the purchased screenshot from - https://codecanyon.net/downloads and make sure using the latest 1.4.4 - thank you!

[2019-09-14 08:38] minhcasi commented on #1059
Hi, this could be a bug from the navigation, we will have a check and let you know - thank you!

@concuacon

[2019-09-14 08:40] minhcasi commented on #1057
@AlaaKriedy - the current release only support for first zone id, it's not supported for multi-zone so far - you can customize to support multi-zone or complex condition to show the shipping - thank you!

[2019-09-14 09:41] AmjadKhan2k18 commented on #1060
Thanks for response i asked client to send me screenshot and i am using 1.4.3 which he sent me

[2019-09-14 09:42] alaaeallam commented on #1020
Any news?

[2019-09-14 10:12] emmyprofessional opened #1061 "please help"
I bought fluxestore pro and I have no any experience about this product. I need technical support to help me create the application and upload it to app store and google play for $.

[2019-09-14 11:49] AmjadKhan2k18 commented on #1060
i asked him screenshot of purchase but he send me license file is it enough ?

![Screenshot 2019-09-14 at 4 45 53 PM](https://user-images.githubusercontent.com/44894621/64907713-8ce7e600-d70f-11e9-8e71-e87efcb9d9f2.png)

[2019-09-14 16:23] luisalexhg commented on #1038
Country: Peru
State: El Callao
City: La Perla
Address: Cahuide 2271

El El vie, 13 de set. de 2019 a las 21:37, minhtruong315 <
notifications@github.com> escribió:

--

Saludos.

*Luis Herrera,* Agencia Digital Gocreativa Sac.

[2019-09-14 16:54] sfoulad commented on #1047
For which point you need screen shots

[2019-09-14 18:24] RajParab opened #1062 "[mstore-multivendor] - TypeError"
---------

1.

2. Screenshots
![image](https://user-images.githubusercontent.com/47249678/64912269-6f843d80-d74a-11e9-981d-9c9b84ee50b6.png)

3.
![image](https://user-images.githubusercontent.com/47249678/64912288-a9554400-d74a-11e9-80cb-662e96650af6.png)

3.
[Config.zip](https://github.com/inspireui/support/files/3613026/Config.zip)

[2019-09-15 00:56] luisalexhg commented on #1057
Do you plan to solve this in a later version?, I have the same Issue, always show all shipping methods, I only have activated two, and on the app show three..

[2019-09-15 05:11] anshbot opened #1063 "[FluxStore] - Login Register/ Checkout Issue"
---------

My issue
1. Configure Facebook Account Kit for App

Signup Form on website -
![website register](https://user-images.githubusercontent.com/12613051/64916850-a129f280-d7a4-11e9-8f20-8ab37b8bc64a.png)

Login Form on website -
![website login](https://user-images.githubusercontent.com/12613051/64916853-bf8fee00-d7a4-11e9-8e82-aaba6baa0a70.png)

Signup Form -  Name, Email and Phone Number V

[2019-09-15 07:03] danasugu opened #1064 "[my-product] - FluxNews"
Hi!
I am not getting the posts listed.
![screenshot](https://user-images.githubusercontent.com/12096815/64917932-71c4b700-d79f-11e9-8c48-14933f68a075.png)
![screenshot (1)](https://user-images.githubusercontent.com/12096815/64917933-71c4b700-d79f-11e9-9d7c-74a2c1f34fb4.png)
![Screenshot_1568530447](https://user-images.githubusercontent.com/12096815/64917979-2068f780-d7a0-11e9-87c3-61fadcdf2ad7.png

[2019-09-15 07:33] danasugu commented on #1064
Item Purchase Code:
516cdeb7-289e-4bb2-8b7b-113ee65484c7

[2019-09-15 09:45] AmjadKhan2k18 commented on #1060
Hello Sir i got screenshot from client

![ff](https://user-images.githubusercontent.com/44894621/64919673-00006380-d7c7-11e9-9adb-894923933e1b.jpg)

[2019-09-15 11:12] jssdevindia commented on #1061
Visit https://jssdev.wordpress.com/

[2019-09-15 12:04] sunil1509 opened #1065 "FluxStore"
Hi All,
I am not getting remaining category. I have more than 2 categories but I am getting only two.
I added all three plugins and passed correct URL, CK and CS.
Please Help!!!
![Capture1](https://user-images.githubusercontent.com/29796497/64921273-deab7180-d7de-11e9-8d7e-50fafd92bd34.JPG)

[2019-09-15 12:15] emmyprofessional commented on #1061
Hello JSS ,
Thanks for your reply
Can you help me in this app
https://codecanyon.net/item/fluxstore-the-universal-woocommerce-magento-opencart-mobile-app-by-flutter-framework/24020929
??

[2019-09-15 12:22] jssdevindia commented on #1061
Yes please visit https://jssdev.wordpress.com and click on live chat for project quote.

[2019-09-15 13:06] MohammedXAbdo commented on #1054
not all category appeared what is wrong

[2019-09-15 15:43] AlaaKriedy opened #1066 "[Fluxstore] - I have this message when I signup by facebook account or by sms"
I have this message when I signup by facebook account or by sms

1- by facebook account :
![63961457-e90d0200-caa1-11e9-938e-736ca122cfdf](https://user-images.githubusercontent.com/53983179/64923930-ae1c0580-d7e7-11e9-93a9-3689a8503631.jpg)

2- by SMS
![Screenshot_20190915-182919](https://user-images.githubusercontent.com/53983179/64924009-96914c80-d7e8-11e9-88ee-7ecb4baf8cb4.png)

I changed faceb

[2019-09-15 16:50] AmjadKhan2k18 commented on #1060
i just got latest version from client and now this issue is solved by uploading plugins that come with project Thanks

[2019-09-15 16:50] #1060 closed

[2019-09-15 17:16] Gmlogy commented on #1059
Hello ?

[2019-09-15 23:47] MamdouhRElNakeeb commented on #1014
add this condition at "/ProductDetailsContainer/AnotherAttributes.js" in render function

![Screen Shot 2019-09-16 at 1 46 37 AM](https://user-images.githubusercontent.com/16556982/64929238-f6f1af80-d823-11e9-881e-c778a6179acb.png)

[2019-09-16 01:50] #1044 closed

[2019-09-16 01:50] #1030 closed

[2019-09-16 01:50] #1048 closed

[2019-09-16 02:01] MarcHe124 commented on #1048
@minhtruong315 hi, has it gotten resolved?

[2019-09-16 02:08] minhtruong315 commented on #1048
You haven't sent me config file yet

[2019-09-16 02:12] MarcHe124 commented on #1048
I sent to you from arthurma124@gmail.com to truong@inspireui.com, please double check about two days ago.

[2019-09-16 02:12] minhtruong315 commented on #1038
![Simulator Screen Shot - iPhone X - 2019-09-16 at 09 12 17](https://user-images.githubusercontent.com/10402500/64931326-1c051300-d862-11e9-83eb-eef7dd0871b9.png)
it show this

[2019-09-16 02:42] myothura opened #1067 "[Mstore Pro 3.9.5 ] - itune connect ITMS-90809: Deprecated API Usage"
Hello ,  The ios app is not accept because of this error . Do you have any idea to fix it ?
Dear Developer,

We identified one or more issues with a recent delivery for your app, "High Cultured" 1.0 (1). Your delivery was successful, but you may wish to correct the following issues in your next delivery:

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIW

[2019-09-16 03:25] minhtruong315 commented on #1048
@MarcHe124 can you send me admin account to login to your website?

[2019-09-16 03:31] minhtruong315 commented on #1048
@MarcHe124 Did you do this? https://github.com/inspireui/support/issues/941#issuecomment-522298815

[2019-09-16 03:36] concuacon commented on #1054
@MohammedXAbdo  can you show me your config (AppConfig.js & Config.js)

[2019-09-16 04:14] MarcHe124 commented on #1048
I will try it now. I saw first solution mentioned a plugin mstore-checkout. Is it another plugin for opencart?

[2019-09-16 04:18] #1061 closed

[2019-09-16 04:20] minhcasi commented on #1063
@anshbot could I know what you mean on this ticket as there is no explanation about the issues, the screenshot also different from the app.

Please also provide the purchase screenshot on our product, you can get it from https://codecanyon.net/downloads

[2019-09-16 04:21] minhcasi commented on #1065
Hi, thank you for your contact

1. please provide the purchased screenshot from https://codecanyon.net/downloads
2. And sharing your config file so that we could help for checking (from the common/config.json and config.dart)

[2019-09-16 04:24] minhcasi commented on #1066
pls try to add the keyhash from your facebook developer - https://tppr.me/6cFAe

[2019-09-16 04:39] luisalexhg commented on #1038
Events

- 0:10 - (OK) coupon code inserted correctly, 10% discount applied.
- 0:30 - (OK) successful login
- 0:55 -  (WARNING)
     Web Checkout - https://bit.ly/2kLLkcg

[2019-09-16 04:59] luisalexhg commented on #1038
Good night, that error does not appear to me, I show you a video of the application installed on my mobile.

I would like you to consider ERRORS urgently, since they are essential for my client to place the app in production, I will greatly appreciate it

Recorded video of the entire purchase process in the app: https://bit.ly/2kMtmGC

**All Events of the video:**
0:10 - (OK) coupon code inserted

[2019-09-16 05:09] minhtruong315 commented on #1048
No. it is for woo commerce

[2019-09-16 05:11] minhcasi commented on #1067
There are some UIWebview are using from these library - FBSDKCoreKit, FirebaseAuth, GoogleMaps, Bolts that cause the warning, but this warning will not impact to your delivery and Appstore still approve it. We will keep an eye to update on these libary when it is release new version - thank you!

[2019-09-16 05:11] #1067 closed

[2019-09-16 05:12] minhcasi commented on #1064
@danasugu could you help to share the config files from the project - thank you!

[2019-09-16 05:13] minhcasi commented on #1062
noted with checking, thank you!

[2019-09-16 05:17] MarcHe124 commented on #1048
we are using opencart3 man, so what solution do you suggest?

[2019-09-16 06:33] minhtruong315 commented on #1048
we already developed payment webview for opencart. it's available next release

[2019-09-16 07:02] danasugu commented on #1064
Hi!
Thanks!
Download link [https://wetransfer.com/downloads/607881f3b41991c08f0074464f06d7b520190916070107/b7b824](url)

[2019-09-16 07:26] concuacon commented on #1020
you config categoryId is wrong, how can get the products show up the home page.The correct id must look like this "R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="

[2019-09-16 07:41] #1051 closed

[2019-09-16 08:01] concuacon commented on #1037
Hello @nhblock can you sent to me your source via wetransfer.com ?
my email tuan@inspireui.com

[2019-09-16 08:24] minhtruong315 commented on #1038
@luisalexhg can you print all url in lib/screens/checkout/payment_webview.dart
[code]

[2019-09-16 08:27] MohammedXAbdo commented on #1054
[Archive.zip](https://github.com/inspireui/support/files/3615265/Archive.zip)

[2019-09-16 09:55] alaaeallam commented on #1020
Hi,

this what i got from graphiql app
please find the attached
<img width="1197" alt="Screen Shot 2019-09-16 at 11 53 01 AM" src="https://user-images.githubusercontent.com/10725570/64949142-d6077980-d878-11e9-9695-c07d20f795b5.png">

[2019-09-16 10:44] concuacon commented on #1040
hi @harry503 you download this file to fix this issue. Thanks

[ReviewTab.js.zip](https://github.com/inspireui/support/files/3615849/ReviewTab.js.zip)

No problem, now it only warning, i'll check all package use UIWebView in project and update it next version

[2019-09-16 10:44] #1040 closed

[2019-09-16 10:50] concuacon commented on #1059
@Gmlogy can you compress your folder common and send to me via tuan@inspireui.com? i'll check it.

[2019-09-16 10:51] alaaeallam commented on #1020
[Config.js.zip](https://github.com/inspireui/support/files/3615887/Config.js.zip)
please check after using the graphql client

[2019-09-16 10:54] #1055 closed

[2019-09-16 11:48] concuacon commented on #1054
@MohammedXAbdo  in the AppConfig.json  file you have a wrong categoryid  so u can not show the product in home page. please go to the admin page of your website get correct categoryid

[2019-09-16 12:11] Gmlogy commented on #1059
@concuacon i did it, thanks

[2019-09-16 12:14] concuacon commented on #1020
@alaaeallam  this work

[2019-09-16 12:39] mhar92 opened #1068 "[listapp] - Create tag or listing type listing"
---------

1. My issue
- From this app I manage to show only categories id that I want, but instead showing all the list in that category can you help me to modified it to show all the tags in the category and after user click the tag then all the list in the tag will show up. I use template MyListing
2. Screenshots
![image](https://user-images.githubusercontent.com/32009087/64958194-1be83000-d8c1

[2019-09-16 13:40] dxpsite commented on #184
go to App/Navigation/index.js and comment that block:
  **postNewListing: {
      screen: postNewListingStack,
      navigationOptions: {
        header: null,
        tabBarIcon: ({ tintColor }) => (
          <TabBarIcon
            iconStatic={Images.PlusIcon}
            cssView={styles.plusIconView}
            css={styles.plusIcon}
            tintColor={Color.tabbarTint}
          />

[2019-09-16 13:41] itzmeeugene commented on #1029
Hello @thangvo9x please I need a response

[2019-09-16 14:05] MohammedXAbdo commented on #1054
ok thank you

[2019-09-16 14:21] alaaeallam commented on #1020
yes but still have the same issue that when i'm changing the layout, (from grid mode to list mode for example ) many products don't show up.

[2019-09-16 15:46] harry503 opened #1069 "[mstore-pro] - Category Top and SideMenu not implementing paging"
1. Paging not yet implemented in Top and SideMenu Category
Both the new layout (SideMenu and Top menu) only display 20 results (1st api call), and not implementing paging to display all products.

Please fix so it will display all products when user scroll to the end

2. Screenshots
<img width="415" alt="Screen Shot 2019-09-16 at 22 45 04" src="https://user-images.githubusercontent.com/35995317/64

[2019-09-16 15:48] harry503 opened #1070 "[mstore-pro] - Order note does not handle dark theme"
1. My issue
Fonts on order note are black when the dark theme is selected

2. Screenshots
<img width="420" alt="Screen Shot 2019-09-16 at 22 42 53" src="https://user-images.githubusercontent.com/35995317/64972787-15af7f00-d8d4-11e9-9d15-172bff39c511.png">

[2019-09-16 15:50] harry503 commented on #1040
Confirm it fixes it. Thank you. But please also fix the font styling. It
does not match with the product description both color, size and font
family,

On Mon, Sep 16, 2019 at 5:44 PM concuacon <notifications@github.com> wrote:

[2019-09-16 16:18] luisalexhg commented on #1038
Here is:

screenshot. https://bit.ly/2lQdseD

flutter: **https://farmacia.gocreativa.com/mstore-checkout/?order=eyJwYXltZW50X21ldGhvZCI6ImZ1bGxjdWxxaSIsInBheW1lbnRfbWV0aG9kX3RpdGxlIjoiVGFyamV0YSBkZSBjcsOpZGl0byBvIGTDqWJpdG8iLCJzZXRfcGFpZCI6ZmFsc2UsImJpbGxpbmciOnsiZmlyc3RfbmFtZSI6Ikx1aXMiLCJsYXN0X25hbWUiOiJIZXJyZXJhIiwiYWRkcmVzc18xIjoiQ2FodWlkZSAyMjcxIiwiYWRkcmVzc18yIjoiIiwiY2l0eSI6IkxhIFBlcmxhIiwi

[2019-09-16 17:09] luisalexhg commented on #1038
I already solved this error by changing the URL just like on my website
1:50 - (FIXED) the order was completed correctly but the confirmation screen is still the web view and not the app and there is no way out of it.
- Web checkout URL - https://bit.ly/2lTnBXX
- App checkout URL - https://bit.ly/2lRKYRA

The problem with the coupon and the shipping method would be missing, please help with that.

[2019-09-16 18:37] AlaaKriedy commented on #1066
I'm Added but I have same Problem

[2019-09-16 22:54] #1038 closed

[2019-09-16 23:00] minhtruong315 commented on #986
1- App rating not working. "attached scrennshot"
app rating only work when the app published to appstore and google play.

3- Maps not showing even after input my API key. "attached scrennshot"
update kGoogleAPIKey in common/config.dart

6- Shipping and Payment methods showing errors. "attached scrennshot"
pls EnableShipping in common/config.dart

[2019-09-16 23:01] minhtruong315 commented on #1036
@Ink9 we will fix this issue, thanks

[2019-09-16 23:08] minhtruong315 commented on #1014
@lineacoin-project pls reply email

[2019-09-16 23:25] 7oda187 commented on #986
Dear The maps API is updated still not working
Shipping is enabled still not showing.

Please need your support to fix these issues,

am unable to use the app all this time.

[2019-09-17 00:00] luisalexhg opened #1071 "[FluxStore] - The selected shipping method is not processed, and the coupon discount does not apply to the order"
- Product purchased: https://bit.ly/2lPLMGB
- ERROR: The shipping methods shown are not the same as the web.

- Recorded video of the entire purchase process in the app: https://bit.ly/2kMtmGC
**All Events of the video:**
0:10 - (OK) coupon code inserted correctly, 10% discount applied.
0:30 - (OK) successful login
0:55 - (ERROR) The shipping methods shown are not the same as the web, detail of my

[2019-09-17 00:49] #1017 closed

[2019-09-17 00:49] #945 closed

[2019-09-17 00:55] mhar92 commented on #1068
One more question. I cannot login, I already setup the .htaccess file and when login the error below is shown :
![image](https://user-images.githubusercontent.com/32009087/65002933-b0d24400-d928-11e9-8bc1-f3272a05220e.png)
But when I try using wrong password it seem the connection know the password is wrong you can see image below.
![image](https://user-images.githubusercontent.com/32009087/650029

[2019-09-17 02:38] minhcasi commented on #1069
@harry503 - could you verify your purchased product by taking the screenshot from https://codecanyon.net/downloads ?

[2019-09-17 02:38] minhcasi commented on #1070
@harry503 - could you verify your purchased product by taking the screenshot from https://codecanyon.net/downloads ?

[2019-09-17 02:41] minhcasi commented on #1071
@luisalexhg - could you share the config file from your site so that we could investigate the shipping problem on your site?

We notice that there is not good rating from our product - https://codecanyon.net/ratings/3039922 - the team is working to release the new version to upgrade native payment on 4.0, could you help to update our rating as it could impact to our business? The team here is work

[2019-09-17 03:15] mhar92 commented on #1068
I already solve this by changing userinfo.user.id to userinfo.id. Please advise my first question.

[2019-09-17 03:26] harry503 commented on #1070
Purchase Code 7c399f31-c465-4f76-ac62-7fa0f04fd615

[image: Screen Shot 2019-09-17 at 10.25.32.png]

On Tue, Sep 17, 2019 at 9:38 AM Minh Pham <notifications@github.com> wrote:

[2019-09-17 03:27] harry503 commented on #1069
Purchase Code 7c399f31-c465-4f76-ac62-7fa0f04fd615

[image: Screen Shot 2019-09-17 at 10.25.32.png]

On Tue, Sep 17, 2019 at 9:38 AM Minh Pham <notifications@github.com> wrote:

[2019-09-17 03:27] harry503 commented on #1070
![Screen Shot 2019-09-17 at 10 25 32](https://user-images.githubusercontent.com/35995317/65009097-baae7400-d935-11e9-9c9a-7c0c614003db.png)

[2019-09-17 03:27] harry503 commented on #1069
![Screen Shot 2019-09-17 at 10 25 32](https://user-images.githubusercontent.com/35995317/65009114-ca2dbd00-d935-11e9-8bee-20c56f25cb29.png)

[2019-09-17 04:17] minhcasi commented on #1070
@harry503  - thank you!

@concuacon - please help for checking this issue

[2019-09-17 05:14] luisalexhg commented on #1071
HERE MY CONFIG FILES

**config.dart**
`import 'package:font_awesome_flutter/font_awesome_flutter.dart';
import 'package:fstore/common/constants.dart';

/// Server config
const serverConfig = {
  "type": "woo",
  "url": "https://farmacia.gocreativa.com",
  "consumerKey": "ck_ac99fe5f231b8cd83d86906fb521568b4dd3483d",
  "consumerSecret": "cs_1e92837a1e6b495e17d384d488e003f1975297a6",
  "blog": "http

[2019-09-17 05:16] sunil1509 commented on #1065
Mr. minhcasi please check your mail I shared mentioned requirements

[2019-09-17 05:57] stefanue commented on #1053
Hi @minhcasi, I didn't get anything on my email

[2019-09-17 06:15] ZamanGoraya commented on #425
sir ..! when i clicked on sub caregories then there are sume errors ... please can you help me...?

[2019-09-17 07:00] concuacon commented on #1059
@Gmlogy i fixed it and sent to your mail

[2019-09-17 07:00] #1059 closed

[2019-09-17 07:42] dxpsite opened #1072 "[ListApp] - Show distances to places in List View"
---------

1. My issue
Good day, I would like to get information about the distance to the objects in the list, see screenshots. Thank!
2. Screenshots
![Screenshot_1](https://user-images.githubusercontent.com/1510284/65021256-66a48f00-d937-11e9-8cb2-2572827d2c11.jpg)
![Screenshot_2](https://user-images.githubusercontent.com/1510284/65021260-699f7f80-d937-11e9-85cd-831cd4abfb56.jpg)

3. My screensh

[2019-09-17 08:48] #1054 closed

[2019-09-17 09:44] concuacon commented on #1070
hi @harry503 you download folder to hot fix, follow path: src/containers/
[OrderDetail.zip](https://github.com/inspireui/support/files/3620468/OrderDetail.zip)

[2019-09-17 09:44] #1070 closed

[2019-09-17 10:16] concuacon commented on #1069
Hi @harry503  please attach your file config (AppConfig.js & Config.js)

[2019-09-17 10:20] concuacon commented on #1046
Hi @leghost this hot fix, download and copy to folder Detail, follow path: src/containers/Detail/
[ReviewTab.js.zip](https://github.com/inspireui/support/files/3620681/ReviewTab.js.zip)

[2019-09-17 10:22] harry503 commented on #1069
Do you think because "paging" flag is not set in the AppConfig / config.js?
and you are saying that by default if it's set paging, then it should do
paging?

I was using the default fresh config from the latest one and it's not
paging. I can take a look the config again, but please also make paging can
be used if we choose to use Top / SideMenu. If we use the column then it's
working fine (it will

[2019-09-17 10:39] arjunchopra35 commented on #945
@thangvo9x  Can you share your app's code at acarjunchopra35@gmail.com

[2019-09-17 10:40] leghost commented on #1046
@concuacon ok thanks

[2019-09-17 10:40] #971 closed

[2019-09-17 10:41] leghost commented on #1046
@minhcasi hi. no update since  days? please , i can't solve the checkout issue.

[2019-09-17 10:43] minhcasi commented on #1057
@minhtruong315  - shipping issue

[2019-09-17 10:46] Gmlogy commented on #1059
@concuacon Thank you for your time, but the issue still there nothing was changed!!

[2019-09-17 11:10] magedgamaleldin commented on #1044
@minhtruong315  would you please share your solution, I'm facing the same issue.

[2019-09-17 11:13] Zeeshan0201 commented on #1044
@magedgamaleldin did you install mstore checkout plugin?

[2019-09-17 11:14] Zeeshan0201 commented on #1044
I already solved this issue..

[2019-09-17 11:14] magedgamaleldin commented on #1044
Yes

[2019-09-17 11:14] Zeeshan0201 commented on #1044
and can guide you step by step @magedgamaleldin

[2019-09-17 11:15] magedgamaleldin commented on #1044
Great Thanks much :)

[2019-09-17 11:15] Zeeshan0201 commented on #1044
@magedgamaleldin  are you facing this error?
 **"status":"error","error":"Unknown controller 'mstore_user' in nonce response..**

[2019-09-17 11:16] magedgamaleldin commented on #1044
yes

[2019-09-17 11:20] magedgamaleldin commented on #1044
getNonce, 404 while try to create new user

[2019-09-17 11:22] Zeeshan0201 commented on #1044
@magedgamaleldin wait  I am sending all details in 5 minutes..

[2019-09-17 11:23] magedgamaleldin commented on #1044
Thanks much Zeeshan :)

[2019-09-17 11:26] Zeeshan0201 commented on #1044
@magedgamaleldin whenever you are using  this API for nonce

just replace  **controller=mstore_user** with **controller=user.** and make sure you are suing these latest plugins...
![Screenshot from 2019-09-17 16-55-55](https://user-images.githubusercontent.com/45591301/65037784-09770080-d96c-11e9-80b8-812dd82783fb.png)

[2019-09-17 11:27] magedgamaleldin commented on #1044
user Or User ?

[2019-09-17 11:28] Zeeshan0201 commented on #1044
![Screenshot from 2019-09-17 16-57-16](https://user-images.githubusercontent.com/45591301/65037858-37f4db80-d96c-11e9-8739-c079dcc44bb2.png)
@magedgamaleldin And kindly active User in setings>Json API

[2019-09-17 11:29] Zeeshan0201 commented on #1044
@magedgamaleldin user like this:-

[2019-09-17 11:40] Zeeshan0201 commented on #1044
@magedgamaleldin everything fine or getting any trouble?

[2019-09-17 11:41] magedgamaleldin commented on #1044
Frankly, I just tried the same but facing the same issue, I will clean the code and deploy once again,

[2019-09-17 11:41] Zeeshan0201 commented on #1044
@magedgamaleldin please send the snap of error...

[2019-09-17 11:47] magedgamaleldin commented on #1044
Exception: [error getNonce, 404] same everything

[2019-09-17 11:54] Zeeshan0201 commented on #1044
[code]
check everything once, it's working fine in all of my 5 projects @magedgamaleldin

[2019-09-17 14:50] Gmlogy opened #1073 "[Mstore-pro] - ListAllscreen page show the Variable from AppConfig.json instead of the Value of variable"
---------
Mstore:
65ae6467-f067-450f-aa9d-6528a5ba0736

My issue
Hi, when i click " Show All" button it's redirect to a page that showing all products. the issue is in the top of screen i see the variable instead of the value.
for example i have a category named منتجات at Languages.js ( ProductFeatures: "منتجات", ) in Home screen i see the name that i set in Languages file but when i click to go t

[2019-09-17 18:07] AmjadKhan2k18 opened #1074 "[Fluxstore] - Category Error"
1. My issue
Hello Sir,

`I/flutter ( 7132): Error: type '_InternalLinkedHashMap<String, dynamic>' is not a subtype of type 'Iterable<dynamic>'`

I have sent email to support team & i got reply 2 days ago from Mr minh pham all he said.

Hi, did you change the Settings > Permalinks. from the wordpress admin ? - https://docs.inspireui.com/fluxstore/woocommerce-setup/

I replied but he didn't response

[2019-09-17 18:25] AmjadKhan2k18 commented on #1074
i succesffuly print catogories list and when i tried 1 api to in browser i got this error

`{
"code": "woocommerce_rest_authentication_error",
"message": "Invalid signature - provided signature does not match.",
"data": {
"status": 401
}
}`

here is api
`http://web.net/wp-json/wc/v2/products/categories?exclude=311&oauth_consumer_key=ck&oauth_nonce=cxldxeoprr&oauth_signature_method=HMAC-SHA1&oauth_

[2019-09-17 20:20] saleebm opened #1075 "[mstore-pro] - Multiple commands produce ... copy command for fonts"
1. My issue

Probably just the new Build System. I have xcode-beta
note: Using new build system
note: Planning build
note: Using build description from disk
Build system information
error: Multiple commands produce '/Users/minasaleeb/sites/mstore-pro/ios/build/mstore/Build/Products/Debug-iphonesimulator/mstore.app/Zocial.ttf':
1) Target 'mstore' (project 'mstore') has copy command from '/Users/min

[2019-09-17 20:22] santihabib opened #1076 "[MMV] - Product image and price is not inserted"
Hello! I have several problems, but I start with the most serious ones. When I upload a product from the app, only the title and content are uploaded. But the price and the main image is not inserted.
The image is uploaded to the server, but it is not placed as a featured image.
In addition to all this, I cannot upload reviews or see existing ones.
I add purchase screenshot and config.

[AppConfig

[2019-09-17 20:22] Blubagoo commented on #1052
hi, could you provide and check the following info so that we could investigate your issues:

the screenshot issue
https://oneopinion.me/wp-content/uploads/2019/09/android-build-error.png

the detail log error when building the apk
[code]

there are some known problem on android when changing the package name, please make sure you read this document - This has been done

[2019-09-17 20:44] myothura opened #1077 "[Mstore-Pro] - Google Play Store SHA1 Error"
Hello Sir how to fix this error please let me know

https://ibb.co/Hrnm4gV

[2019-09-17 23:01] #1077 closed

[2019-09-18 03:40] minhcasi commented on #1063
@anshbot - could i check if you have enable the mstore-checkout plugin as this is used for integrate with the app, pls check detail config - https://docs.inspireui.com/mstore/wordpress-setting/

The screenshot TODO is not related to the issues, that are some notes for other features.

Thanks

[2019-09-18 04:13] danasugu commented on #1064
@minhtruong315 Would you please check the attached files? What is the problem?

[2019-09-18 06:46] minhcasi commented on #1069
Thank you, we have noted this feature for next improvement

[2019-09-18 07:01] minhcasi commented on #1052
@Blubagoo - could you compress the source and get back to support@inspireui.com so that we could check for this build issue - thanks

[2019-09-18 10:32] DrChrispoper opened #1078 "[Fluxstore 1.4.4] - Magento Products not displaying"
1. My issue
I have just started using Fluxstore 1.4.4 with Magento.
The Categories are loading fine and I successfully logged into my customer account.
But the products are not showing when I select a Category.

2. Screenshots

Categories | Category | Products
------------ | ------------- | -------------
![Simulator Screen Shot - iPhone 11 Pro Max - 2019-09-18 at 11 28 48](https://user-images.gith

[2019-09-18 11:12] #984 closed

[2019-09-18 15:27] Blubagoo commented on #1052
I have started wetransfer with you guys so you should receive it soon.

[2019-09-18 16:09] DrChrispoper commented on #1078
This is the response from the api call:
[code]

[2019-09-18 16:48] DrChrispoper commented on #1078
It's all good. I managed to fix it clearing the Magento cache.

But before I close can you change your docs for the config of Magento?
1. You mention you need to change config.json to add the server settings when it should be config.dart
2. Remind people to clear the cache on Magento after
`php bin/magento setup:upgrade`
with:
`php bin/magento cache:clean`
`php bin/magento cache:flush`

Thanks.

[2019-09-18 18:46] mikebanson opened #1079 "[mstore-opencart]"
user can't login from our domain,
no endpoint for facebook
description still displays the html content
some products from categories doesnt display.
setting shipping address throws warnings
getting shipping methods throws internal server error
any other process which leads to creating an order
products doesnt display on the front screen

[2019-09-18 18:56] DrChrispoper opened #1080 "[Fluxstore 1.4.4] - Null description"
I have products that don't have any descriptions on Magento.
When trying to display them there are errors shown in the screen and in the console:

`'package:flutter_widget_from_html_core/src/core_html_widget.dart': Failed assertion: line 59 pos 16: 'html != null': is not true.`

I have edited this file on line 28:
lib/screens/detail/product_description.dart

from

[code]

to

[code]
So that the er

[2019-09-18 19:48] nhblock commented on #1037
Sent, thanks Tuan.

[2019-09-19 01:08] minhtruong315 commented on #1074
@AmjadKhan2k18 pls try it in postman, like this
<img width="830" alt="Screen Shot 2019-09-19 at 08 07 32" src="https://user-images.githubusercontent.com/10402500/65202470-962cd600-dab4-11e9-91f0-e7f981f14a5f.png">

[2019-09-19 01:08] minhtruong315 commented on #1071
@luisalexhg I will fix this issue soon. thanks

[2019-09-19 01:15] minhtruong315 commented on #1057
@luisalexhg you can try to edit function getShippingMethods in lib/services/woo_commerce.dart
[code]
you can change to your zone_id

[2019-09-19 01:17] minhtruong315 commented on #1078
@DrChrispoper i will update our document. thanks

[2019-09-19 01:22] #1078 closed

[2019-09-19 01:27] minhtruong315 commented on #1080
@DrChrispoper can you print product.description and send me logs, i think the description is wrong format

[2019-09-19 01:34] audiojaminc opened #1081 "Fluxstore Pro - Host of Issues"
Hello,
We recently purchased this product and followed your documentation but your documentation is lacking and missing a lot of instruction. For example, we need help with the following:

1.  How do we change the app name/title and the main app download icon?
2. How do we change the app loading gif?
3. Our app is connected to our WordPress site just fine but the category page is white/blank. It i

[2019-09-19 01:37] 9mtm opened #1082 "[MStore Pro] - Multiple languages"
Hallo,

I have trouble activating multiple languages,
1. My issue

[code]

2. Screenshots

https://prnt.sc/p80czj

https://prnt.sc/p80fth

https://prnt.sc/p80dca

https://prnt.sc/p892qy

3. My screenshot of the purchase :

 https://prnt.sc/p8042y

https://expo.io/@orzdi/orzdi

[2019-09-19 03:40] minhcasi commented on #1079
- could you share the purchased screenshot

- please don't share the whole source code here

[2019-09-19 03:43] minhcasi commented on #1082
Hi, the switcher language setting only available from the mstore-pro folder, please try to run it with react-native-cli on this folder - thanks

[2019-09-19 03:59] minhcasi commented on #1081
Hi, could you share the config file and also verify your purchase screenshot from https://codecanyon.net/downloads

We will update your questions from this document - https://docs.inspireui.com/fluxstore/customization/ and update in 1-2 days, thank you!

[2019-09-19 04:02] concuacon commented on #1073
@Gmlogy
In file Languages.js add to object ar: {
......,
featureProducts: "منتجات مميزة",
.....
}

[2019-09-19 04:10] minhcasi commented on #1063
pls send the account to our email support@inspireui.com - thank you!

[2019-09-19 05:05] zziltong commented on #999
I think "onEndReached={!horizontal && this.nextPosts}” isn’t work.

/** @format */

import React, { PureComponent } from 'react'
import PropTypes from 'prop-types'
import { FlatList, Text, Animated, TouchableOpacity, View } from 'react-native'
import { Constants, Languages, Images } from '@common'
import { fetchPostsByTag } from '@redux/actions'
import { connect } from 'react-redux'
import Icon fr

[2019-09-19 05:10] luisalexhg commented on #1057
Hi @minhtruong315
I tried but I got this error: https://bit.ly/2mkuzVW
My Code: https://bit.ly/2mpfcM4
My zone id: https://bit.ly/2koI8Dc

[2019-09-19 05:45] danasugu commented on #1064
@minhcasi Hi! Thanks for trying to solve my problem bur your attempts are futile.
@dttrung26 Hi! Could you check the files attached? Where is the problem?

[2019-09-19 06:23] sunil1509 opened #1083 "Exception: Unknown controller 'mtore_user'"
1. My issue :-     Exception: Unknown controller 'mtore_user'

2. Item Purchase Code:

      2c5b5f76-878f-443d-9eae-2db8a713a27c

3. Screenshot:-
![Capture_1123](https://user-images.githubusercontent.com/29796497/65218349-eb2c1480-dad3-11e9-9c99-09568356a70b.jpg)

Please help!

[2019-09-19 07:13] sunil1509 commented on #1065
Please help me in above mentioned issue.

[2019-09-19 08:38] thangvo9x commented on #1072
With this case. Please provide me more detail about your website. login at admin dashboard such as cPanel Host for checking. Thanks

[2019-09-19 08:40] thangvo9x commented on #1068
Ah huh. I see your problem. But this is out of scope from our supporting. Hope you see.

[2019-09-19 08:43] thangvo9x commented on #1029
Hi you could edit in Theme/myListing/data/Post.js and find this block
https://prnt.sc/p84fee
and change it.
Thanks

[2019-09-19 08:49] mhar92 commented on #1068
What do you mean out of scope? Now I get this error whenever I click map icon below.
Please advise.
![Screenshot_20190919-164418_Expo 1](https://user-images.githubusercontent.com/32009087/65228593-54744d80-dafd-11e9-899b-139abc2794e0.jpg)

[2019-09-19 09:23] dxpsite commented on #1072
Hi, i sent on your email all info with subj  "[ListApp] - Show distances to places in List View #1072"

[2019-09-19 09:37] mikebanson commented on #1079
![WhatsApp Image 2019-09-19 at 09 27 47](https://user-images.githubusercontent.com/39365525/65232563-e6119a00-dac0-11e9-9796-026dba08ede1.jpeg)
![WhatsApp Image 2019-09-19 at 09 35 03(1)](https://user-images.githubusercontent.com/39365525/65232570-e90c8a80-dac0-11e9-90b3-a891f524fef7.jpeg)
![WhatsApp Image 2019-09-19 at 09 25 08](https://user-images.githubusercontent.com/39365525/65232652-06415900

[2019-09-19 09:37] mikebanson commented on #1079
users cannot login either by the email and pass or by facebook

[2019-09-19 09:40] concuacon commented on #1046
@leghost you can try run: rm -rf node_modules/ && yarn && cd ios/ && rm -rf Pods/ && rm -rf Podfile.lock && cd ../ && react-native run-ios

[2019-09-19 09:41] minhcasi commented on #1064
Hi, sorry for the late response as my guy was off in a few days

Please extract and override the lib/models to fix the issue - https://www.dropbox.com/s/6q34i7ht671249m/blog_news.dart.zip?dl=0

Also, please help to update your rating on our product, thank you!

[2019-09-19 09:51] minhcasi commented on #1052
Thank you, I got the package and forward to my team for checking, we will keep an update - very best!

[2019-09-19 09:53] danasugu commented on #1064
Thanks, it works now! I updated the rating too. Maybe you could release Version: 1.0.2

[2019-09-19 09:57] minhcasi commented on #1064
Yes sure, we have new 1.1 coming with more powerful features, Admob, new layouts...

Thank you for your updating the rating!

[2019-09-19 09:57] #1064 closed

[2019-09-19 10:01] minhcasi commented on #1063
We got it and checking. We will keep an update - thanks

@minhtruong315

[2019-09-19 10:16] minhcasi commented on #1053
Hi, i've sent the link to your email :)

[2019-09-19 10:16] #1053 closed

[2019-09-19 10:34] minhcasi commented on #1068
@mhar92  - could you zip your current source and send to support@inspireui.com - we will assign other guy support for this issue - thank you!

@concuacon - please help for assist

[2019-09-19 10:50] #1083 closed

[2019-09-19 11:40] audiojaminc commented on #1081
See screenshot:
![image](https://user-images.githubusercontent.com/55519204/65241009-8ca16f00-dab0-11e9-953b-b2c372696082.png)

Also, when I go to shipping and click on Google maps. The maps do not sure.

I even downloaded your Fluxstore app from the app store and it gives the same error. No map and on checkout it says "Checkout couldn't load because ERR_ClearText_not_Permitted". Even on your samp

[2019-09-19 12:10] 9mtm commented on #1082
Hallo ! :)
I try it but I get this error!

warn Package api-ecommerce has been ignored because it contains invalid configuration. Reason: Cannot find module 'api-ecommerce/package.json'

https://prnt.sc/p87lka

thanks 👍

[2019-09-19 12:15] itzmeeugene commented on #1029
Thank you.

What about question 1 and 3, you didn't answer?

[2019-09-19 13:42] santihabib commented on #1076
hi! will someone answer? I need help! They can't take so long!

[2019-09-19 14:56] audiojaminc commented on #1081
config.dart:

import 'package:font_awesome_flutter/font_awesome_flutter.dart';
import 'package:fstore/common/constants.dart';

/// Server config
const serverConfig = {
"type": "woo",
  "url": "http://truckingoutfitters.com",
  "blog": "http://truckingoutfitters.com",
  "consumerKey": "ck_067e4802cbd3f81bf5b8dfcdaabe422b008783d7",
  "consumerSecret": "cs_abd36cbf03f57520a2eed7f3f9fec076b4663953",

[2019-09-19 16:54] noviogroup opened #1084 "[listpro] how do i add menu data to the listing the page?"

[2019-09-19 17:12] Blubagoo commented on #1052
Ok thanks a bunch! I really need to get the android launched!

[2019-09-19 17:23] MohammedXAbdo opened #1085 "[MStore Pro] - Can't Archive app in Xcode"
PhaseScriptExecution Bundle\ React\ Native\ code\ and\ images /Users/MohammedAbdo/Library/Developer/Xcode/DerivedData/mstore-eekjeizskytwevajqwjoutxjnjpl/Build/Intermediates.noindex/ArchiveIntermediates/mstore/IntermediateBuildFilesPath/mstore.build/Release-iphoneos/mstore.build/Script-00DD1BFF1BD5951E006B06BC.sh (in target: mstore)
    cd /Users/MohammedAbdo/Desktop/mstore-3.9.5/mstore-pro/ios

[2019-09-19 17:36] audiojaminc commented on #1081
When we test the app and we go to the signup page and click back, the app crashes. Why is the app so buggy and does not work and crashes all the time? We paid $79 for this but the product is not even ready. What is going on here?

[2019-09-19 17:42] audiojaminc commented on #1081
When we test the app and try to register it shows that it's loading then throws and error message: "_Exception (Exception: The username or password is incorrect.)" Why is this app not working? Why are you selling it then?

[2019-09-19 19:03] lineacoin-project commented on #1014
That worked thank you

[2019-09-19 21:43] attare026 opened #1086 "Fluxstore - installing"
Running "flutter pub get" in source...
Because every version of flutter_test from sdk depends on path 1.6.4 and fstore depends on path 1.6.2, flutter_test from sdk is forbidden.

So, because fstore depends on flutter_test any from sdk, version solving failed.
pub get failed (1)

[2019-09-20 00:17] harry503 opened #1087 "[mstore-pro] - Developer Console.log() is not printing anything in console"
1. My issue
I can not see any of the console.log('test') being printed out in the console tab. When I use warn('test') then it will print out just fine. What's wrong with console.log() ? We need to debug when implementing custom logic.

I tries with another app / creating a new react-native app and it's fine / the console.log() is working for another project but not mstore-pro.

Is there any setti

[2019-09-20 00:23] minhcasi commented on #1081
@audiojaminc  - it could cause the data or API issue when integrate with your website, as we can see there are a lot of data on your site is missing - http://truckingoutfitters.com/

We are in middle to update the pre-config site to help to install ready from the backend side and will share on the download package.

Keep in mind that if it does not work on your site, we can process the refund to s

[2019-09-20 00:29] minhcasi commented on #1085
Could you share the purchased screenshot from https://codecanyon.net/downloads - thank you!

[2019-09-20 00:29] minhcasi commented on #1086
Could you share the purchased screenshot from https://codecanyon.net/downloads - thank you!

[2019-09-20 00:29] #1014 closed

[2019-09-20 00:30] #1084 closed

[2019-09-20 01:07] minhcasi commented on #1076
@thangvo9x  - any update ?

[2019-09-20 01:14] santihabib commented on #1076
I do not understand.  It's not working for me and I need help.

[2019-09-20 01:19] mhar92 commented on #1068
I already send using email hariz92utm@gmail.com
Please take a look. Thanks for your support.

[2019-09-20 01:58] thangvo9x commented on #1076
Could you share your admin dashboard for checking? Thanks

[2019-09-20 02:08] minhcasi commented on #1071
@luisalexhg - this fix will be updated on 1.5

We also update the comment on your feedback, please have a check and let us know - https://codecanyon.net/ratings/3039922

[2019-09-20 02:29] thangvo9x commented on #1072
which email? Please send email thang@inspireui.com help me.

[2019-09-20 02:31] thangvo9x commented on #1043
the api Key in your android app in AndroidManifest
follow steps
https://medium.com/@samil.mehdiyev/integrating-google-maps-into-react-native-app-on-android-40c984c0e4f2

[2019-09-20 03:37] thangvo9x commented on #1062
Please share your domain. Its mean the AppConfig.js file. Thanks

[2019-09-20 05:20] dxpsite commented on #1072
from dxpsite@gmail.com, i sent yesterday

[2019-09-20 07:48] #1037 closed

[2019-09-20 08:59] #1073 closed

[2019-09-20 09:29] santihabib commented on #1076
I sent It to you by email

[2019-09-20 09:56] audiojaminc commented on #1081
What data specifically are you referring to that is missing? Please specify and explain because the support so far has been poor. The site is not to be used by the regular public. The site is strictly created to connect to this app. We followed you instructions on your documentation but it's NOT WORKING. It is throwing a host of errors. Please give instructions how to fix the following:

1. How do

[2019-09-20 10:04] audiojaminc opened #1088 "Flux Store Pro - Push Notification"
Your instructions in the documentation is incomplete and missing information. How do we enable Push Notification? Your documentation gives the code but it does not explain where the put the code, what file to put the code etc.

So long just to get one app to work and still we can't launch our app. Very poorly designed app and documentation. Incomplete app. How are you allowed to sell this via Code

[2019-09-20 10:06] audiojaminc commented on #1088
Your instruction says **"Check out the example directory for a sample app using Firebase Cloud Messaging**." but there is no such thing.

[2019-09-20 11:09] DrChrispoper commented on #1080
The product description is null when there is no description:

<img width="281" alt="Screenshot 2019-09-20 at 12 05 50" src="https://user-images.githubusercontent.com/1864825/65322541-0dd72f80-db9f-11e9-8b64-2f70577d5d6f.png">

When I have a description it has a String with html which is the correct format I believe.

<img width="301" alt="Screenshot 2019-09-20 at 12 08 11" src="https://user-image

[2019-09-20 11:16] minhcasi commented on #1013
@ItisAhsan - it seems the error is caused by a conflict wordpress plugin on your site, if you would like to refer to the native payment from mstore 3.3 we could share so that you can customize your own component

[2019-09-20 11:18] minhcasi commented on #1065
Hi @sunil1509 - could i know your email please, as i could not see your name from by inbox - sorry for this inconvenience.

Also, share your config files attache with the email so that we could help for investigating - thank you!

[2019-09-20 11:20] minhcasi commented on #1066
HI, this could cause by recent notice from Facebook that they will not support for new Account kit app - https://developers.facebook.com/docs/accountkit/

We've noted as an improvement to replace this feature soon, thank you!

[2019-09-20 11:22] minhcasi commented on #1079
@mikebanson - could you attach your config file so that we could help for further checking, thank you!

[2019-09-20 11:33] concuacon commented on #1052
Hello @Blubagoo I have checked your source, please check the your package name on the platform android, namely 3 files MainActivity.java, MainApplication.java and SplashActivity.java  have not been replaced by your package name, then you will be able to get the android launched.

[2019-09-20 11:37] ItisAhsan commented on #1013
yes.. please

[2019-09-20 11:40] sunil1509 commented on #1065
Hi,
Mr. minhcasi please check your mail I shared mentioned requirements.
My email id:- **sunilkumar63930@gmail.com** and I attached **config file** even **item purchased code**.

[2019-09-20 11:43] minhcasi commented on #1081
@audiojaminc

1. you can use this guide - https://www.woolha.com/tutorials/flutter-change-app-launcher-icon-name-android-ios

2. replace the file from kSplashScreen (file common/constant.dart)

3.4.5.10.11-  i'm sure there is a missing config from the document, please double check - https://docs.inspireui.com/fluxstore/woocommerce-setup/

6. this could fix by this solution - https://docs.inspireui

[2019-09-20 11:45] mikebanson commented on #1079
[AppConfig.zip](https://github.com/inspireui/support/files/3635706/AppConfig.zip)
[Config.zip](https://github.com/inspireui/support/files/3635707/Config.zip)

i attached the last time, nothing was done.

[2019-09-20 11:46] minhcasi commented on #1082
hi, you can try to run: yarn remove api-ecommerce
The install it again by: yarn install  api-ecommerce

Also, when run with the mstore-pro please try to install react-native-cli by using: npm install react-naitve-cli -g

ref more from: https://facebook.github.io/react-native/docs/getting-started.html

[2019-09-20 11:47] minhcasi commented on #1079
@minhtruong315 - is checking

[2019-09-20 11:49] minhcasi commented on #1065
Thank you, verified ok

@minhtruong315  - pls check this config
[common-1.zip](https://github.com/inspireui/support/files/3635726/common-1.zip)

[2019-09-20 11:51] sunil1509 commented on #1065
Ok sir I will check it
Thanks sir

On Fri, 20 Sep, 2019, 5:19 PM Minh Pham, <notifications@github.com> wrote:

[2019-09-20 12:17] dinhduccuong opened #1089 "[beonews] - Can't login / register"
---------
1. My issue
- beonews pro: can not login / register
website: chamsocsausinh.info
app code beonews
2. Screenshots

3. My screenshot of the purchase product or my comment:
KEY: Item Purchase Code:
b5e58b5d-1e67-4699-aece-71b9be34b5ac
3. Config files (optional)

[2019-09-20 12:28] minhcasi commented on #1065
@sunil1509 - sorry, i mean forward this config for the team to check it, they will reply you when it's ready - thanks

[2019-09-20 12:49] DrChrispoper opened #1090 "[Fluxstore 1.4.4] - Magento Payment support"
1. My issue
Hi, I have started using fluxstore with magento 2 but have a question.
What payment methods, if any are supported?

You have mentioned at this point
https://github.com/inspireui/support/issues/914#issuecomment-521970132

That Paypal and Stripe are not supported but is are any payment methods supported?

Thanks

[2019-09-20 12:56] audiojaminc commented on #1081
We added our Google Service json file like in your instructions / documentation and now we are getting more errors.

FAILURE: Build failed with an exception.
* What went wrong:
Execution failed for task ':app:processDebugGoogleServices'.

Your instructions is incomplete and missing information. It does not give instructions on how to fix this.

[2019-09-20 13:47] Blubagoo commented on #1052
I was in the bin folder but not the src folder. That was my mistake but after changing the right set of files and file structure. I am still receiving the same build error

https://oneopinion.me/wp-content/uploads/2019/09/error.png

What environment are you using to build the apk? I am using android studio. Does the Keystore have to be built with shell? can I just use the android studio built-in K

[2019-09-20 13:50] alaaeallam commented on #1020
if there any news ????

[2019-09-20 14:33] audiojaminc commented on #1088
Your instructions / documentations says:
Dart/Flutter Integration
From your Dart code, you need to import the plugin and instantiate it:
import 'package:firebase_messaging/firebase_messaging.dart';
final FirebaseMessaging _firebaseMessaging = FirebaseMessaging();

**What Dart code? What file does this go to? Your instructions are incomplete.**

It also says:
Next, you should probably request permi

[2019-09-20 15:08] audiojaminc commented on #1081
1. The link your provide does not show instructions for VS Code

2. This is not the loading gif. This is Flare. The loading gif is the icon that shows when a screen is loading or a search is loading. It shows a loading gif icon. **How can that icon be changed?**

3. We followed your instructions but it's still not working. Take a look at the URL (http://truckingoutfitters.com/api/get_nonce/?contro

[2019-09-20 15:22] audiojaminc commented on #1081
13. When we sign into the app it throws an error "Exception has occurred.
PlatformException (PlatformException(ERROR_INVALID_EMAIL, The email address is badly formatted., null))"

14. The app displays error: E/FirebaseInstanceId( 5662): Token retrieval failed: AUTHENTICATION_FAILED

[2019-09-20 15:32] MohammedXAbdo commented on #1085
I had sent it before here
https://github.com/inspireui/support/issues/1054

[2019-09-20 17:42] clickdigitalinteractive opened #1091 "[fluxstore pro] - build error, Undefined symbol"
My issue
Getting the following build errors in flutter build ios and xcode 10.3:

Undefined symbol: _UISceneWillEnterForegroundNotification
Undefined symbol: ___isPlatformVersionAtLeast

My screenshot of the purchase product or my comment:
http://tinyurl.com/y6sbcgk8

[2019-09-20 18:32] mikebanson commented on #1079
no response?

[2019-09-20 19:57] santihabib commented on #1076
some help?

[2019-09-20 21:30] audiojaminc commented on #1081
15. When I test the app and go to checkout it takes me to login even though GuestCheckout is enabled and when I click back I get the error "Exception has occurred.
NoSuchMethodError (NoSuchMethodError: The getter 'name' was called on null.
Receiver: null
Tried calling: name)" on cart.dart. Please fix.

[2019-09-20 21:43] audiojaminc commented on #1081
16. We tried a user that we create ourselves and it exists but we get the following error message when we signed in:
"Exception has occurred.
PlatformException (PlatformException(ERROR_USER_NOT_FOUND, There is no user record corresponding to this identifier. The user may have been deleted., null))"

Please fix

[2019-09-21 03:34] sunil1509 commented on #1065
ok thank you sir

[2019-09-21 07:15] sunil1509 commented on #1065
Hi,
Mr. minhcasi can you help me ?
Why I am getting null response while  login or registration?
and while registration exception coming **unknow controller 'mstore_user'**

[2019-09-21 08:05] amit81 opened #1092 "[Flux News] -"
[common.zip](https://github.com/inspireui/support/files/3638458/common.zip)

Hi,

I have purchased fluxnews, But i am getting an error with our Wordpress blog site when we add your default URL its working perfectly. Can you please tell me do i have to add any plugin in our Wordpress ?

We are not getting data in app home page. In the category, we are getting listing but when we refresh it will sho

[2019-09-21 10:03] mpapado3 opened #1093 "[ListApp] Login - Register | Events | Reviews"
1. My issue

The documentation on how to setup and which files we need to edit is not clear.
While we try to setapp the application I have stepped on below issues:

a. On the WordPress site we don't want to use WooCommerce, but do we have to install it just to use the REST API?
b. I have entered on app.json our facebook APP ID, but I try to use the facebook login on the application it shows the Be

[2019-09-21 10:45] audiojaminc commented on #1081
17. We fixed the shipping options on WooCommerce but on the app it still shows all three with the WooCommerce "developer" description. The customer do not need to see the store owner / developer description. For example "Lets you charge a fixed rate" The customers do not need to see this.

[2019-09-21 11:01] audiojaminc commented on #1081
18. When a pop up displays it shows a yellow block saying "RenderFlex overflowed by 8.0 pixels" How do fix this?

[2019-09-21 11:02] audiojaminc commented on #1081
19. Clicking on Rate this app will crash the app and it does not work. How to fix this? Your instructions does not explain how to set this up. Your documentation is incomplete.

[2019-09-21 11:03] sunil1509 commented on #1086
go to pubspec.yaml file and change path
your path 1.6.2 but its required 1.6.4

[2019-09-21 15:12] audiojaminc commented on #1081
20. When user clicks on chat (Whatsapp icon) it breaks apart the number and says Whatsapp account do not exist. Why not keep the correct phone number format? The wrong format sends the phone number likes this +3 01-101-1010 when it's supposed to be like this 301-101-1010.

Why so many issues with this product? Why did you release it to the public if it's incomplete? Should I report this product to

[2019-09-21 15:33] MohammedXAbdo commented on #1054
[MStore Pro] - Can't Archive app in Xcode #1085

PhaseScriptExecution Bundle\ React\ Native\ code\ and\ images /Users/MohammedAbdo/Library/Developer/Xcode/DerivedData/mstore-eekjeizskytwevajqwjoutxjnjpl/Build/Intermediates.noindex/ArchiveIntermediates/mstore/IntermediateBuildFilesPath/mstore.build/Release-iphoneos/mstore.build/Script-00DD1BFF1BD5951E006B06BC.sh (in target: mstore)
cd /Users/Mohamm

[2019-09-21 16:25] jvarillas opened #1094 "mstore pro: CustomPage as About Us and Contact Us Supports Your Section News and news that you don't see this section."
I have an error in the mstore application with the following scenario: I navigate to the menu Contact us or About us then I navigate to the News section I return to navigate to Contact us and again to News, it is this moment where the latter does not redirect me to the indicated section they remain stuck showing the customPage mentioned above, what can I do to resolve this error?
Additionally I ha

[2019-09-21 16:31] minhcasi commented on #1081
Thanks for the detailed feedback, we will preview on your issues and get back later.

It seems some issues cause by your data from the website incomplete, we will update the free pre-config file and sharing it soon, we have some User release his app on the store without any problem, example: https://apps.apple.com/in/app/epic-store/id1409489241

If you could not use our product, just simple proces

[2019-09-21 21:43] eduardn1 commented on #1071
Hi there, i know it has nothing to do with the topic, but i find **not so good** the thing that everybody copies & paste their API KEYS and SECRET KEY, CLIENT KEY and CLIENT ID here in public.

Why are you not using the ticksy support forum from envato, a lil bit more private? it will have auto check for the users that buyed your product,  no need for screenshots etc ...

P.S: i'm a possible clien

[2019-09-21 22:05] eduardn1 opened #1095 "[FluxStore Pro] - Request Feature for Reset password link"
1. My issue : When you click **Reset password** on your demo App it redirects to the wordpress page ( web view )

Should be more like a popup in the App instead ?

2. Screenshots : https://prnt.sc/p98ezm

3. My screenshot of the purchase product or my comment: i'm not yet a client, i'm waiting for your response, but i want to support the good development of this.

if you want you can close this, b

[2019-09-22 01:12] khiemhuynh95 opened #1096 "[mstore-expo] - TYPE ERROR: Undefined is not an object..."
---------

1. My issue
Hi, mình gặp lỗi này trên ipad air 2. Trên samsung tablet và iphone thì ko sao. Link hình:
2. Screenshots
https://ibb.co/pd8YbFg

[2019-09-22 01:16] khiemhuynh95 opened #1097 "[mstore-expo] - Search page keeps moving up and down after hitting enter"
---------

1. My issue
Hi, trong search page, khi mình search 1 keyword, hit done trên bàn phím 1 lần thì nó hiển thị ra nhưng nó nhảy lên xuống liên tục. Phải hit enter lần nữa mới đứng yên lại
2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-09-22 01:17] khiemhuynh95 opened #1098 "[mstore-expo] - Webview on ios not loading"
---------

1. My issue
Webview trên ios ko load dc link sau khi click button BuyNow (nhưng Android thì dc)
2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-09-22 03:42] minhcasi commented on #1095
Thank you for your suggestion, we will improve this UX on next release, maybe find the way to upgrade it smoother - thank you!

[2019-09-22 03:46] minhcasi commented on #1088
Duplicate of #1081

[2019-09-22 03:49] minhcasi commented on #1089
Thank you for your feedback, we will update the pre-config with the ready set up and share you the detail so that you can refer to the config - thank you!

[2019-09-22 03:51] minhcasi commented on #1090
These new payment gateways will be supported on next 1.5: Paypal, razorpay vs tap - thank you!

[2019-09-22 03:52] minhcasi commented on #1091
Hi, could i know if you pass this guide for the basic Set up on your machine - https://flutter.dev/docs/get-started/test-drive ? Thank you!

[2019-09-22 04:00] minhcasi commented on #1092
hi, you can download and active from resource/Wordpress-extension (from the download package) - thank you!

[2019-09-22 04:05] minhcasi commented on #1098
Issue 2 - https://github.com/inspireui/support/issues/1097
Issue 3 - https://github.com/inspireui/support/issues/1096

[2019-09-22 04:05] minhcasi commented on #1097
Duplicate of #1098

[2019-09-22 04:05] #1097 closed

[2019-09-22 04:05] minhcasi commented on #1096
Duplicate of #1098

[2019-09-22 04:05] #1096 closed

[2019-09-22 05:08] khiemhuynh95 commented on #1096
Update: This error now happens on any devices

[2019-09-22 10:54] The-Egyptian-Developers opened #1099 "[FluxStore Pro] - Currently, CeBuilder hasn’t supported this project yet"
I just buy FluxStore now & I get This message appears when I setup up

    Currently, CeBuilder hasn’t supported this project yet
Thank you

[2019-09-22 12:41] audiojaminc commented on #1081
I have Android not apple. Also, when is later? I sent my respond a few days ago and you still did not fix. We need this fix immedialte because you sold us a broken bug infested app. When can we expect this to be fixed? Please do not say later.

[2019-09-22 12:41] audiojaminc commented on #1081
Your instructions / documentations says:
Dart/Flutter Integration
From your Dart code, you need to import the plugin and instantiate it:
import 'package:firebase_messaging/firebase_messaging.dart';
final FirebaseMessaging _firebaseMessaging = FirebaseMessaging();

What Dart code? What file does this go to? Your instructions are incomplete.

It also says:
Next, you should probably request permissio

[2019-09-22 12:44] audiojaminc commented on #1081
21. See screenshot. The First Name is John and the Last Name is Doe. Now look at your incomplete buggy app. It has the name JohnDoe. It is supposed to be John Doe (Space in between). Please fix asap. Also **"Setting"** is supposed to be **"Settings"**. This is unprofessional. Please fix ASAP.

![Screenshot_20190922-081637](https://user-images.githubusercontent.com/55519204/65387387-e609d800-dd14-1

[2019-09-22 15:04] MohammedXAbdo commented on #1085
![64813092-dcf46a80-d5a0-11e9-840a-03c3f2eed964](https://user-images.githubusercontent.com/24995995/65389930-06f51c00-dd5b-11e9-955c-80d2e1af9d89.png)
![Uploading 64813103-e1b91e80-d5a0-11e9-9651-45e4c7b2a004.png…]()

[2019-09-23 02:12] minhcasi commented on #1099
Hi, the CeBuilder has not yet supported for FluxStore, but we are in middle to develop new amazing FluxBuilder for our Flutter's product, it will be released on next couple of week, we will notify when it is ready - thank you!

[2019-09-23 02:12] #1099 closed

[2019-09-23 02:15] minhcasi commented on #1076
@santihabib - we have just found out the problem caused by subfolder domain /web (that cause the wrong API request), could you try to map the website to subdomain?

Example: http://web.bazarios.com

[2019-09-23 02:17] minhcasi commented on #1072
@dxpsite - could you help to resend the info to support@inspireui.com?

Sorry for this inconvenience as ThangVo has just left out team. Thank you!

[2019-09-23 02:20] minhtruong315 commented on #1080
@DrChrispoper Can you send me config.dart and config.json file via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1080

[2019-09-23 02:22] #1074 closed

[2019-09-23 03:09] minhtruong315 commented on #1079
@mikebanson Did you install mstore api?
https://docs.inspireui.com/mstore-opencart/customization/

[2019-09-23 03:13] minhtruong315 commented on #1063
@anshbot can you send me config.dart and config.json file via email: truong@innspireui.com
with subject: https://github.com/inspireui/support/issues/1063

[2019-09-23 03:18] mhar92 commented on #1068
Any update on this?

[2019-09-23 03:29] minhtruong315 commented on #1057
@luisalexhg can you send me info to login to admin website via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1057

[2019-09-23 05:32] dxpsite commented on #1072
Ok, sent you by mail

[2019-09-23 06:10] 7oda187 commented on #986
Dear please can i have you support here.

[2019-09-23 06:43] concuacon commented on #1068
@mhar92 i'm checking this issue,

[2019-09-23 07:06] ZamanGoraya commented on #399
i have a problem in mstore ... when user do login in my app  loged him as a vender... how can i solve the problem..?

[2019-09-23 07:15] minhtruong315 commented on #1063
@anshbot you need to check SMS login by real devices, it's not support simulator

[2019-09-23 07:18] minhtruong315 commented on #1063
send me a video? i check our source code, it's working well.

[2019-09-23 07:20] minhtruong315 commented on #1063
about payment webview, pls do by this comment: https://github.com/inspireui/support/issues/941#issuecomment-522298815

[2019-09-23 07:21] minhtruong315 commented on #1063
what did you change code? only change in config.dart and config.json right?

[2019-09-23 07:23] minhtruong315 commented on #986
@7oda187 you need to edit google api key  in AndroidManifest.xml

[2019-09-23 07:24] minhtruong315 commented on #1063
truong@inspireui.com

[2019-09-23 09:30] mrwonderful2 opened #1100 "[Fluxstore Pro] - i built the app but it’s not loading catgories or chechout with error format exception : unexpected character at character 1"
1. My issue

i built the app but it’s not loading catgories or chechout with error format exception : unexpected character at character 1

2. Screenshots

https://ibb.co/YWKDw1X
https://ibb.co/MByVfBH

[2019-09-23 11:11] #1046 closed

[2019-09-23 11:37] concuacon commented on #1075
Hi @saleebm you try to run: rm -rf node_modules/ && yarn && cd ios/ && rm -rf Pods/ && rm -rf Podfile.lock && pod install && cd ../

[2019-09-23 12:05] leghost commented on #1046
@concuacon  please this works on windows os?

[2019-09-23 12:18] leghost commented on #1046
i'm working on Windows Os and the "rm" is not recognised

[2019-09-23 12:30] minhcasi commented on #1081
Just update that we are updating a new pre-config Wordpress site to share with you the config to prevent missing issues above, we will share on tomorrow - thank you!

[2019-09-23 13:04] minhcasi commented on #1100
Could you share the config file so that we could try to reproduce the issues?

[2019-09-23 13:05] saleebm commented on #1075
Hi @concuacon, yes I did that first but it still erred. Removing the Copy commands as I stated above was the only way I found to resolve this error during build.

I also tried to do react-native upgrade —legacy

[2019-09-23 13:23] leghost commented on #1046
It's ok i solved the issue. I created the api with only read property then the App war unable to write any data on checkout. thanks

[2019-09-23 13:29] amit81 commented on #1092
Hi

As per your guideline, we already have done active plugins. The issue is not short out. So please guide us ...

Thanks...

[2019-09-23 13:38] 9mtm commented on #1082
i was try but i get that

https://prnt.sc/p9u74u

thank you :)

[2019-09-23 13:46] audiojaminc commented on #1081
We fixed the issue with the checkout. Your documentation is wrong and did not explain this. So instead of blaming your customers you should look into it and address the issue. For future references you need to add this to your documentation, that the store URL prefix must be https:// which means it must have an SSL certificate. Without this the page will not load and it displays an error. Tell you

[2019-09-23 13:50] mikebanson commented on #1079
yes i did install it

[2019-09-23 14:34] ToledoNicola commented on #1091
yes but remain

`
Launching lib/main.dart on iPhone Xʀ in debug mode...
Xcode build done.                                           29,9s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **
Xcode's output:
↳
    Undefined symbols for architecture x86_64:
      "_UISceneWillEnterForegroundNotification", referenced from:
          +[ICMBridge load] in Intercom(ICMBridge.o

[2019-09-23 14:44] dinhduccuong commented on #1089
Hi, any updates. Thanks.

[2019-09-23 15:04] mrwonderful2 commented on #1100
catgories works fine it was language issue

checkout now working
i used Quick Checkout

https://www.opencart.com/index.php?route=marketplace/extension/info&extension_id=7382

also i want to make arabic language is default

and use a custom payment getway

here is my config  i still test it

import 'package:font_awesome_flutter/font_awesome_flutter.dart';
import 'package:fstore/common/constants.dar

[2019-09-23 15:35] MoradAbdelgaber commented on #1074
@AmjadKhan2k18  How did you fix this problem ?

[2019-09-23 16:21] clickdigitalinteractive commented on #1091
Yes I have done that demo, I can get the myapp / runner to build/run on my device no problem, both through terminal with flutter and xcode. When I try fluxstore (without even doing any changes so it's not anything I've done to the code), I get errors. I get the same as the person above...

      "_UISceneWillEnterForegroundNotification", referenced from:
          +[ICMBridge load] in Intercom(ICM

[2019-09-23 16:25] clickdigitalinteractive commented on #1091
The intercom SDK needs to be updated, it is using an old SDK.

[2019-09-23 16:48] alaaeallam commented on #1020
please support

[2019-09-23 18:00] MohammedXAbdo opened #1101 "[MStore Pro] - after publish in google play and app store"
I uploaded my app to app store and google play
Here are the mistakes
In Apple
Icons never appear
And in Google
When you change the language to Arabic application is closed and does not work again
Is there a solution to these problems?
![64813103-e1b91e80-d5a0-11e9-9651-45e4c7b2a004](https://user-images.githubusercontent.com/24995995/65450175-cf5ea080-de3c-11e9-9e32-73da04ed4b7a.png)
![64813092-dcf

[2019-09-23 18:02] audiojaminc commented on #1081
24. We added the product category ID to the app but why is it displaying ALL of the products that are in Draft Mode? Draft products do not show on the front end of a WordPress website, so how is your app showing the Draft products? It is supposed to show only Publish products.

This app product is filled with bugs and unfinished. How are you allowed to sell this on CodeCanyon? Please fix.

[2019-09-23 18:28] luisalexhg commented on #1057
I already sent you access to the website settings. thanks

[2019-09-23 18:31] audiojaminc commented on #1081
25. How to display only Categories that contain products? There is no need to display blank empty categories. What's the sense in that?

**Please fix this broken product if possible.**

[2019-09-23 22:31] jvarillas opened #1102 "[mstore pro] - The news section is not displayed when you first navigate to the Contact Us section."
1.- My Problem:
The news section is not shown when you first navigated to the Contact Us or About Us section. Attached in an image when we click on the news section and the Contact Us section appears. It should be noted that this happens when you browse news-Contact Us-news this is the scenario.
![page1](https://user-images.githubusercontent.com/55630741/65467648-8fd98980-de27-11e9-90ea-58a08a2bef

[2019-09-24 00:28] minhcasi commented on #1101
Could you help to your the app on google so that we could help for checking

[2019-09-24 00:30] minhcasi commented on #1102
note for investigating - thank you!
@concuacon

[2019-09-24 00:31] minhcasi commented on #1094
Duplicate of #1102

[2019-09-24 00:32] minhcasi commented on #1093
Hi, could you help to share your config files with the screenshot issues so that we investigate?

[2019-09-24 01:01] minhcasi commented on #1085
@MohammedXAbdo - sorry for the late response

Could you try to run this script and then archive the app again:
<code>
react-native bundle --entry-file='index.js' --bundle-output='./ios/main.jsbundle' --dev=false --platform='ios' --assets-dest='./ios'
</code>

[2019-09-24 01:51] mhar92 commented on #1068
Hi can you tell me which file you made changes?
Thanks.

[2019-09-24 02:46] clickdigitalinteractive opened #1103 "[mflux pro] - symbols showing wrong in blogs"
1. My issue
The & symbol is not showing correctly in the blog title.

[2019-09-24 03:14] concuacon commented on #1087
hi @harry503 In the constants.js file did you use useReactotron = false?

[2019-09-24 03:28] concuacon commented on #1020
Hi @alaaeallam can u attach screenshot?? In my code it work.

[2019-09-24 03:50] harry503 commented on #1087
No, reactotron is set to True. and it's working fine in Reactotron. For now, if i have to debug, I have to use reactotron by using "warn()" function.

It's just the console.log that's not working. And I expect the console.log to be working in React Native Debugger (attached previously)

const Constants = {
  RTL: false, // default to set redux. Only use first time
  useReactotron: true,

[2019-09-24 04:32] concuacon commented on #1087
if you want to use React Native Debugger, you must set useReactotron: false,

[2019-09-24 05:01] anwark opened #1104 "after buying ListPro more than 4 month app not working"
List Pro is not able to connect with live website please help ASAP

[2019-09-24 05:39] ZamanGoraya commented on #479
i do login in my app but it always run as vender ... how i can run it as customer...?

[2019-09-24 05:40] ZamanGoraya commented on #479
i do login in my app but it always run as vender ... how i can run it as customer...?

even i loged in with customer id...

[2019-09-24 06:51] concuacon commented on #1087
@harry503 if use want log with Reactotron, u can use Reactotron.log('conetnt');

[2019-09-24 06:54] harry503 commented on #1087
Ok. you can mark it as closed. Thank you

On Tue, Sep 24, 2019 at 1:51 PM concuacon <notifications@github.com> wrote:

[2019-09-24 07:07] #1087 closed

[2019-09-24 07:14] concuacon commented on #1068
Hi @mhar92 i change file in path: componets/CarouselListing/index.js

[2019-09-24 07:39] #1094 closed

[2019-09-24 07:57] concuacon commented on #1102
Hi @jvarillas

- I would like to send you the attached src.zip file, extract and copy to replace your src folder (remember to change the configuration in AppConfig.json) I will update it to the next version.

[src.zip](https://github.com/inspireui/support/files/3645861/src.zip)

- Issue #1094 "How can I configure the steps at the beginning of the app, to be able to change the background image and

[2019-09-24 07:57] #1102 closed

[2019-09-24 07:58] ZamanGoraya commented on #399
[mstore multi vender]i have problem in login ... the app is login me only as wonder... even i try with user i'd...

[2019-09-24 07:58] concuacon commented on #1098
@khiemhuynh95 bạn có thể gửi cho mình xem hình chụp màn hình của vấn đề không?

[2019-09-24 07:59] ZamanGoraya commented on #399
[mstore multi vendor]i have problem in login ... the app is login me only as wonder... even i try with user i'd...

[2019-09-24 08:12] concuacon commented on #1052
Hi @Blubagoo I use commandline to create keystore and build apk.
Please check again to see if the files to change the package name have been changed? and try to follow these steps to make sure the project launch on Android:
**cd android/ && ./gradlew clean && cd .../ && react-native run-android --variant=release**
If everything works well, then try to release again, or if the problem continues ple

[2019-09-24 08:28] minhcasi commented on #1081
Appreciated for your all detail feedbacks:

13-14. We will have a check

15. Fixed on 1.5

16. Could not reproduce

17. Fixed on 1.5

18.  Could you share the screenshot which is the screen?

19. Will update document - in the meantime pls use this guide - https://pub.dev/packages/rate_my_app

20. Will update - Whatapp issues - @dttrung26

- The SSL is not required as it is still working with our t

[2019-09-24 08:30] minhcasi commented on #1104
Hi could you share your purchase screenshot and provide detail issues so that we could help for support? thank you!

[2019-09-24 08:30] #1104 closed

[2019-09-24 08:31] minhcasi commented on #1103
Could you share the detailed screenshot purchased code - https://codecanyon.net/downloads

And the issue screenshot so that we could help for checking ?

[2019-09-24 09:16] minhcasi commented on #1100
Hi, the Quick Checkout is not ready support from the app, we are going to update new 1.5 to support some native payment - thank you!

Btw, pls try to change to virtual host instead of 'localhost', that causes the Rest API could not be reached

[2019-09-24 09:46] #1088 closed

[2019-09-24 10:16] minhcasi commented on #1071
fixed 1.5

[2019-09-24 10:35] concuacon commented on #1075
Hi @saleebm  you try run: rm -rf ~/Library/Developer/Xcode/DerivedData to clear folder DerivedData/ and rebuild
I would like to ask you more, are you using xcode 11? maybe this is the reason if trying to mount the above methods fails, you should downgrade the xcode version to 10.x (recommend 10.2.1)

[2019-09-24 10:44] Hamzanisar opened #1105 "Undefined is not an object (evaluating 'DangerZone.Localization')"
Purchase Code:
 2650646b-3b3d-49b0-a603-ee7dfce3a510
---------

1. My issue
I'm getting error of localization after product update into sdk35 as i searched about it do some changes but still getting error

[code]
I'm also getting error of Application main has not been registered

[2019-09-24 10:50] concuacon commented on #1068
You can use image as same we do or you use react-native-vector-icons to add new icon. If not show please check your path to image..

[2019-09-24 11:16] MohammedXAbdo commented on #1101
https://play.google.com/store/apps/details?id=com.mpa.ar5assouq
this is my app on google and, what about the app in the app store

[2019-09-24 11:17] #1090 closed

[2019-09-24 11:19] minhcasi commented on #1024
please update 1.5 for new payment gateway support - thank you!

[2019-09-24 11:19] #1024 closed

[2019-09-24 11:21] minhcasi commented on #1013
hi, please share the email and note this ticket to support@inspireui.com - we will share it privately - thank you!

[2019-09-24 11:21] #1013 closed

[2019-09-24 11:21] #1043 closed

[2019-09-24 11:21] #1062 closed

[2019-09-24 11:23] minhcasi commented on #1082
oh sorry, it's my mistyping, the correctly one: "npm install react-native-cli -g"

[2019-09-24 11:24] minhcasi commented on #1086
@attare026  Try to update the latest 1.5 with new library update as well, thank you!

[2019-09-24 11:24] #1086 closed

[2019-09-24 11:25] minhcasi commented on #1089
@dinhduccuong - pls check this link - https://github.com/inspireui/mstore

<blockquote><div><strong><a href="https://github.com/inspireui/mstore">Server Error · GitHub</a></strong></div></blockquote>

[2019-09-24 11:27] minhcasi commented on #1091
@clickdigitalinteractive @ToledoNicola - as the Intercom Chat library is not stable, we decide to remove it from v1.5

Please also try to update the latest Xcode 11 and iOS 13 and restart the build again

[2019-09-24 11:27] #1091 closed

[2019-09-24 11:28] minhcasi commented on #1092
@amit81 - we are going to update new 1.1 and will keep you an update.

Do you mind to share your config file so that we could have a quick test!

[2019-09-24 11:30] minhcasi commented on #1016
@myothura - sorry for late response, could you try to remove the mstore-checkout and install this new library will fix the issues - https://wordpress.org/plugins/mstore-api/ - thank you!

[2019-09-24 11:30] #1016 closed

[2019-09-24 13:03] khiemhuynh95 commented on #1098
Nó ko load ra page web trên ios. Nhưng Android thì chạy bt.
![IMG_2046](https://user-images.githubusercontent.com/15665845/65513854-b1775700-dea1-11e9-8ef7-d4a444f3dd7f.jpg)

[2019-09-24 13:27] minhtruong315 commented on #1079
@mikebanson can you share me admin account via email: truong@inspireui.com

[2019-09-24 14:21] clickdigitalinteractive commented on #1103
I've sent my screenshot in previous messages, I am reporting a bug, not a bug to just me but in the code, if you create a blog and have & in the title the & shows as &#038. Creating and uploading a screenshot (2 screenshots - 1 for purchase - I've done already and 1 for the clear bug) is a pain when it is a clear bug.

[2019-09-24 14:56] minhtruong315 commented on #1080
@DrChrispoper I sent you solution in email. pls check

[2019-09-24 14:56] #1080 closed

[2019-09-24 15:06] minhtruong315 commented on #1057
@luisalexhg we will fix this. it's available in next release

[2019-09-24 15:06] #1057 closed

[2019-09-24 15:09] amit81 commented on #1092
[common.zip](https://github.com/inspireui/support/files/3647881/common.zip)

Hi,

As per your requirement config file, please find attachment before also I send to you ... please short out the issue

Thanks,

[2019-09-24 15:12] minhtruong315 commented on #1079
@mikebanson pls try again. i installed mstore plugin in your website

[2019-09-24 15:15] 9mtm commented on #1082
thank you  👍 and now  get that

what i i should write to run the app?

yarn start or expo start

https://prnt.sc/padarq

I did not change the application information to now this is the basic application with api  inspireui

but still, I can't run the app on Mstore Pro

thank you

[2019-09-24 15:23] minhtruong315 commented on #1063
@anshbot pls zip source code and send me via email. I can not open your rar file

[2019-09-24 15:37] #1047 closed

[2019-09-24 19:25] Blubagoo commented on #1052
Ok i will try tomorrow when i am back at work. Please do not close this case until i have told you it works or that i am unresponsive to a question.

[2019-09-24 21:11] 7oda187 commented on #986
Dears,

I have completed a month asking for your help to resolve my app issue, until today even after trying with the new version. am unable to use your application properly.

Map not showing shipping option not showing.
Please need your support to fix these issues.

[2019-09-25 01:51] minhcasi commented on #1081
@audiojaminc  - we create this pre-config site for WooCommerce to help config the website more easily, please check it out - https://github.com/inspireui/mstore

[2019-09-25 01:52] minhcasi commented on #1103
Could you try the latest fluxstore 1.5, I believe it was fix :)

[2019-09-25 01:53] minhcasi commented on #1105
We are checking solution to upgrade the latest Expo to fix this issue, we notify when it is ready - thank you!

[2019-09-25 03:38] sunil1509 commented on #1065
@minhcasi Sir I didn't get any update please check it and let me know when it will be ready ?

[2019-09-25 03:45] minhcasi commented on #1065
@sunil1509 - pls update latest 1.5 as we have fix some bug relate to this category issues as well

Also replace the mstore-checkout with this plugin - https://wordpress.org/plugins/mstore-api/

[2019-09-25 04:06] anandnathtiwari opened #1106 "Fluxstore Pro- 1.5"
Dear Support Team,

I have Issue in checkout button. Please see the attached file. Also I want to know the change diffrence in 1.4.4 and 1.5

Thanks
anand nath tiwari
![checkout-button-error](https://user-images.githubusercontent.com/17059651/65568538-e229c000-df77-11e9-9e3c-7307c118f5fd.jpg)

[2019-09-25 04:33] vbmsoftin opened #1107 "need help regarding flux store pro for opencart"
--- sir I what can I use In callback url for razorpay

my website address - swebmart.com

thank you

[2019-09-25 04:51] michaelpark716 opened #1108 "[BuzzApp1.3.1] - Error Regarding Media Ace"
I get the below error when trying to load a post

Invariant Violation: Invariant Violation: [4083,"RCTImageView",1,{"width":340,"height":"<<NaN>>","overflow":"hidden","resizeMode":"contain","shouldNotifyLoadEvents":false,"src":[{"uri":"https://creators.mypetlife.co.kr/wp-content/plugins/media-ace/includes/lazy-load/images/blank.png"}],"defaultSrc":null,"loadingIndicatorSrc":null}] is not usable as

[2019-09-25 04:59] sunil1509 commented on #1065
@minhcasi
Hi,
I replaced mstore-checkout with latest plugin as per you mentioned but still I am getting error.

When I uploading Mstore API plugin then it is asking to update.

Note:-

1) **Before update Mstore API plugin version 1.1.5** and in this version **I am not getting some latest options like get_points, get_currentUsers_info** but **after update Mstore API plugin changed into version 1.2.

[2019-09-25 05:53] Hamzanisar commented on #1105
what do you mean so i have to wait because my work is stop i need to deploy this application urgently

[2019-09-25 06:20] mhar92 commented on #1068
Yes I create my new icon and the path is correct.
On the Common\Image.js i create path :     iconEmail: require('@images/detail/icon-email.png'),
On Container\PostDetail\ListingDetail.js i create <Image style={styles.imageIcon} source={Images.icons.iconEmail} />

but when I replace with other icon it show my icon will become blank.
You can refer from previous file that I send through email.

[2019-09-25 07:40] mrwonderful2 commented on #1100
i already fixed the host and catgories

but checkout not working after update to 1.5

https://ibb.co/TMj95b4
https://ibb.co/DRvRrh7

also product option not working

some products imge not working

search not good

[2019-09-25 08:05] elgoharyibrahim opened #1109 "[Fluxstore] I have problem Execution failed for task ':app:compileFlutterBuildDebugArm64'. with flutter run"
---------

1. My issue

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-09-25 09:32] minhtruong315 commented on #1063
@anshbot Facebook account kit will not support in next time. https://developers.facebook.com/docs/accountkit/
So we added firebase phone authentication instead of. it will be available in version 1.5

[2019-09-25 09:32] #1063 closed

[2019-09-25 09:33] minhtruong315 commented on #1107
@vbmsoftin can you record screen?

[2019-09-25 09:35] minhtruong315 commented on #1100
@mrwonderful2 can you zip source code and send it via my email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1100

[2019-09-25 09:37] minhtruong315 commented on #986
@7oda187 did you enable shipping in config.dart? Did you change google api key in config.dart and AndroidManifest.xml?

[2019-09-25 09:37] #1036 closed

[2019-09-25 09:54] vbmsoftin commented on #1107
Sir i just want to know callback url for razorpay payment gateway

Thank you

[2019-09-25 10:38] vbmsoftin commented on #1107
And sir search is also not working

[2019-09-25 13:57] dxpsite opened #1110 "[ListApp] - createStackNavigator deprecated"
1. My issue
Cannot debug via Expo (35.0.0)
2. Screenshots
![Screenshot_1](https://user-images.githubusercontent.com/1510284/65607590-78c8a200-dfb5-11e9-86d8-f4893f53c7fd.jpg)

3. My screenshot of the purchase product or my comment:

3. Config files (optional) package.json:
{
  "name": "Myapp",
  "version": "v0.8.1",
  "description": "Myapp",
  "author": "Shardik",
  "private": true,
  "main": "nod

[2019-09-25 16:26] audiojaminc commented on #1081
Hello,
We apologize for this sense of urgency but we need to get this launched as soon as possible. Thank you for your ongoing support and responses to our inquiries.

We entered the config to our app but there is still a lot of issue.

1. How do we update to 1.5 without losing our files and updates?

2. How do we change the app loading gif? (The loading gif is the icon that shows when a screen is

[2019-09-25 19:29] mikebanson commented on #1079
hello, i just tried same issue nothing has changed

[2019-09-25 23:35] minhtruong315 commented on #1107
you don't need to change callback url

[2019-09-26 01:16] minhcasi commented on #1106
@anandnathtiwari - could you share the config file so that we could reproduce this issue ?- thank you!

[2019-09-26 01:17] minhcasi commented on #1108
@michaelpark716  could you provide the following info:
1. Purchase code or screenshot to verify your purchase
2. The config files from common folder, we could use this config to reproduce the issues

Very best!

[2019-09-26 01:18] minhcasi commented on #1109
@elgoharyibrahim  - could you able to run the example project successful - https://flutter.dev/docs/get-started/test-drive  ?

[2019-09-26 01:20] minhcasi commented on #1110
Mark as upgrade feature for next release to compatible with latest Expo 0.35 and navigation.

(please note that current release is not supported expo 0.35 yet, you can keep the default package.json at the moment)

[2019-09-26 01:33] michaelpark716 commented on #1108
I've emailed you. Thank you.

[2019-09-26 03:36] #1075 closed

[2019-09-26 04:56] Chizinski opened #1111 "[Fluxstore Pro] Error while running"
Configure project :app
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
WARNING: API 'variant.getMergeAssets()' is obsolete and has been replaced with 'variant.getMergeAssetsProvider

[2019-09-26 05:17] anandnathtiwari commented on #1106
Config is same as in your example folder. I just copy opencart config files and paste in common folder

[2019-09-26 06:57] RajParab opened #1112 "[mstore multivendor] - Fix some customizations"
The script is working pretty fine

But I need to make the following changes
I have very low experience with coding so I just need your guidance in solving the following issues

1)	Don't have forget password option (Add one in the login form)
2)	New user prompt to sign up page, with option to skip
3)	Top logo not centered,make it to center
4)	Not able to chat with vendor, the chat icon on the produ

[2019-09-26 07:01] RajParab commented on #1112
Purchase screenshot

![Capture](https://user-images.githubusercontent.com/47249678/65665467-39539180-e059-11e9-9395-54f96912c25a.PNG)

[Config.zip](https://github.com/inspireui/support/files/3656361/Config.zip)

[2019-09-26 08:07] Ink9 commented on #1036
Why is this thread close? The Problem is not fixed !

[2019-09-26 08:09] ZamanGoraya commented on #105
can anyone help me ... to give the mstore checkout plugin witch work as mstoreuser api correctly
...?

[2019-09-26 08:35] mrwonderful2 commented on #1100
done sir
can you please add hyperpay payment method gate2play alternative name
hyperpay.com

i will attach you the plugin and sdk

[2019-09-26 08:42] WorkflowAutomation opened #1113 "[my-product] -"
We are unable to connect our shopify and evastore using expo.

Asked to share config file. Please find below attachment for that. We are looking forward to your reply.
[config.txt](https://github.com/inspireui/support/files/3656809/config.txt)

[2019-09-26 08:43] WorkflowAutomation opened #1114 "[Evastore-product] -"
---------

1. My issue

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-09-26 08:43] #1114 closed

[2019-09-26 09:07] minhtruong315 commented on #1100
@mrwonderful2 i can not access your website. http://192.168.100.119/tomoul2

[2019-09-26 09:10] minhcasi commented on #1082
for the mstore-pro run:
<code>
yarn start --reset-cache
react-native run-io
or: react-native run-android
</code>

[2019-09-26 09:11] minhcasi commented on #1092
noted and checking, thank you!

[2019-09-26 09:32] DrChrispoper opened #1115 "[Fluxstore 1.5] - Magento Products & Prices not showing"
1. My issue

This was not an issue in 1.4.4
When watching at the list of products, the prices are shown as 0.00
I've noticed the issue comes from magento.dart in lib/services
The function
`  Future<List<Product>> fetchProductsByCategory(      {categoryId, page, minPrice, maxPrice, lang, orderBy, order}) async {`

You have added this line in 1.5

`endPoint += "&searchCriteria[filter_groups][0][filt

[2019-09-26 09:48] minhcasi commented on #1036
@Ink9 - could you help to download the latest Cebuilder 0.36 will be fixed the issue - https://github.com/inspireui/cebuilder/releases - thank you!

[2019-09-26 10:05] mrwonderful2 commented on #1100
it's a localhost sir am sorry
i uploaded your api to my store now
please change  to :
https://tomoul.com

[2019-09-26 10:06] #1113 closed

[2019-09-26 10:19] WorkflowAutomation opened #1116 "[Evastore] -"
1. My issue
I tried to connect our shopify to evastore using expo, it's throwing below error. I have raised comment in evastore comments section. They asked me confi.js file. I have attached below. Please solve our issue ASAP.

2. Screenshots
![WhatsApp Image 2019-09-24 at 10 47 50](https://user-images.githubusercontent.com/46641395/65680244-34e8a200-e074-11e9-8ffc-75ee8b506ecb.jpeg)

3. My screen

[2019-09-26 10:20] DrChrispoper opened #1117 "[Fluxstore 1.5] - Magento Cart: Two way sync issue"
1. My issue
I am using Fluxstore 1.5 with Magento.
I have seen an issue (or missing feature?).
If I have a cart with items on my account on Magento they are not shown on Fluxstore.
If I add items to my cart in Fluxstore they will be added to Magento cart when I start the checkout.
If I remove my items from the Fluxstore cart they will not be removed in Magento.
If I checkout on Fluxtore I will pay

[2019-09-26 11:52] betterend opened #1118 "[my-product] - Fluxstore"
Hi,

Kindly I'm trying to connect the app but there is an API wrning. That I'm not able get the source of it. I have attached the pictures.
[My store](https://drive.google.com/file/d/1AtQBzD0J2tff-ntxeqfogSOUQBmhQM-r/view?usp=drivesdk)

[Fluxstore](https://drive.google.com/file/d/1AoRKCUW_Ch9Uu7ZUAaoisS2DkL1Dnndu/view?usp=drivesdk)

[2019-09-26 12:48] santihabib commented on #1076
please help me!!

[2019-09-26 12:55] minhcasi commented on #1076
Sorry for late response, I will have a check again and let you know on tomorrow - thank  you!

[2019-09-26 13:01] santihabib commented on #1076
ok! Please!

[2019-09-26 13:06] minhtruong315 commented on #1079
@mikebanson our plugin only support opencart version 3.0 now. can you try to upgrade your website to 3.0

[2019-09-26 13:51] Blubagoo commented on #1052
[code]

[2019-09-26 13:58] Blubagoo commented on #1052
How much for you guys to take what i have and publish it?

[2019-09-26 14:02] vbmsoftin commented on #1107
Sir but when user paid for the order then there balance git deducted and app again start asking for payment.

Please mail me your email i wull send you video

[2019-09-26 15:19] minhtruong315 commented on #1100
@mrwonderful2 you need to enable shipping in config.dart file to fix checkout
"EnableShipping": true,

[2019-09-26 16:18] sanket1203 opened #1119 "[my-product] - mstore-expo"
My firm bought mstore-expo from codecanyan and we tried to install it fist time and encountered with the following error.

Before we execute  npm start we tried to install npm as below and face following issue.

I also going to copy issue url in codecanyan under biggley's account.

 localhost-$ npm install
(base) localhost-$ cd mstore-expo/
(base) localhost-$ ls -lrt
total 1232
drwxr-xr-x@   2 san

[2019-09-26 16:35] Gmlogy opened #1120 "[Mstore-pro] - how to show all categories in CategoriesScreens"
Mstore:
65ae6467-f067-450f-aa9d-6528a5ba0736

 My issue

Hello team,
i have more than 14 categories, but in CategoriesScreens i see only 12 categories
how can i show all the 14 categories ?
thank you

[2019-09-26 17:21] MohammedXAbdo commented on #1085
-bash: react-native: command not found

[2019-09-26 17:26] mikebanson commented on #1079
but one the envato page it says it supports 2.3.0.x. that is why i bought it. otherwise then i have to request a refund

[2019-09-26 20:54] dxpsite commented on #1110
Окау, i revert back expo-cli with all dependencies, but..
![Screenshot_1](https://user-images.githubusercontent.com/1510284/65724340-d42f8880-e0b8-11e9-9a09-8e321c9d3b20.png)
![Screenshot_2](https://user-images.githubusercontent.com/1510284/65724346-d72a7900-e0b8-11e9-8690-9ba52fd1f97c.png)
What i should do?

[2019-09-26 23:04] 9mtm commented on #1082
i get that when i run : react-native run-ios and react-native run-android

MacBook-Pro:mstore-pro mohameedalarade$ react-native run-ios
-bash: react-native: **command not found**
MacBook-Pro:mstore-pro mohameedalarade$ react-native run-android
-bash: react-native: **command not found**

[2019-09-27 00:45] minhcasi commented on #1112
Thank you for your feedback, I've marked as the feature request and send to the team for investigating - thank you!

[2019-09-27 00:50] minhcasi commented on #1118
Hi, it's fixed - the fluxstore.inspireui.com

Please try to replace the previous mstore-checkout by install this new plugin - https://wordpress.org/plugins/mstore-api/

[2019-09-27 00:50] #1118 closed

[2019-09-27 03:53] mhar92 commented on #1068
any update? Are you currently look on this issue?

[2019-09-27 06:39] betterend commented on #1118
Hi I have replaced the previous plugin and i'm getting this error

Fatal error: Cannot redeclare registerJsonApiController() (previously declared in /home/flawlfc0/public_html/wp-content/plugins/mstore-api/mstore-api.php:103) in /home/flawlfc0/public_html/wp-content/plugins/mstore-checkout-1.1.7/mstore-checkout.php on line 109

[2019-09-27 08:03] concuacon commented on #1052
@Blubagoo you can see the price here: https://inspireui.com/services/

[2019-09-27 08:10] amit81 commented on #1092
hi,

Any Update?

[2019-09-27 09:35] concuacon commented on #1120
@Gmlogy can you compress common folder into zip file send me?

[2019-09-27 10:34] minhcasi commented on #1092
@amit81 - we will release the new v1.1 and testing your issue on Monday - thank you!

[2019-09-27 10:53] Gmlogy commented on #1120
@concuacon
[common.zip](https://github.com/inspireui/support/files/3662371/common.zip)

[2019-09-27 10:54] minhcasi commented on #1119
Hi, could you try to install yarn install of npm (https://yarnpkg.com/lang/en/)

Thank you!

[2019-09-27 11:16] Huysophanna opened #1121 "[Fluxstore-1.5.0] - Need full support for Coupon Function (Woocommerce)"
### 1. My issue
-> I have a very **big issue with Coupon** and I hope you can update the full functionality of the Woocommerce Coupon in the next update! I tried to set the **coupon minimum spend and maximum spend**, also other restriction in Woocommerce but all of them doesn't work! As I dive into the "coupon.dart" code (screenshot), I can see **you have implemented only the coupon code and the c

[2019-09-27 11:33] Hamzanisar opened #1122 "[Mstore-multivendor] - I'm facing lots of issues"
Mstore -  Multivendor
dc9807a7-3d89-402d-84fe-6cb908d87f5b

I'm facing lots of issue
there is no documentation to setup mstore multivendor react-native cli, there is only documentation to setup mstore through expo

Issue 1:
settings page is not working
Setting page giving error TypeError: y.languages.t is not a function

Issue 2:
There is no information to disable facebook button, chat setting and

[2019-09-27 11:45] minhcasi commented on #1063
@anshbot  - the v1.5.1 will be released the SMS login which is available on next couple of hours.

Please try to use this version, if it still not work with your site we can process the refund - thanks

[2019-09-27 12:00] concuacon commented on #1119
@sanket1203
You try to install npm version 6.9.0, yarn 1.13.0 and node v10.15.3

[2019-09-27 12:34] concuacon commented on #1101
@MohammedXAbdo
"Icons never appear" => i checked this work,
"When you change the language to Arabic application is closed and does not work again" => can you compress your source send me via westranfer (mail tuan@inspireuicom)

[2019-09-27 13:05] minhcasi commented on #1121
Noted as a feature request, we will investigate this issue - thank you!

[2019-09-27 14:41] audiojaminc commented on #1081
18. Our app does not run any more. When we try to run it we get the following error on **woo_commerce.dart**
throw e; (line 50)

Exception has occurred.
FormatException (FormatException: Unexpected character (at character 1)
<br />
^
)

[2019-09-27 15:11] Huysophanna opened #1123 "[Fluxstore-1.5.1] - Bug with Search Function"
**1. My issue**
-> Bug with search function when typing words with **SPACE** in search box. For example "**long shirt**" (with a space in between).
Please release a fix as it is also an important features with a bug!

**2. Screenshots**
<img width="1359" alt="Screen Shot 2019-09-27 at 9 57 10 PM" src="https://user-images.githubusercontent.com/17026862/65780172-5ed4be00-e173-11e9-98b5-3d682c5aab85.

[2019-09-27 15:16] DrChrispoper commented on #1115
To add to this, there is also an issue in fetching products in the same file:
The function
`  @override
  Future<List<Product>> fetchProductsLayout({config, lang}) async {`

You added this line in 1.5

`endPoint += "&searchCriteria[filter_groups][0][filters][1][field]=type_id&searchCriteria[filter_groups][0][filters][1][value]=configurable&searchCriteria[filter_groups][0][filters][1][condition_typ

[2019-09-27 16:15] mihaelp opened #1124 "JSON format for products and categories MStore"
Hello!
Please tell me the JSON format for displaying products / categories. I do not need to associate the application with WP.
I would be grateful if someone tells me in which place in the code the application interacts with the categories and products from WP.
Thank you!

[2019-09-27 16:19] khiemhuynh95 commented on #1098
Adding: How to open amazon app after click a link in webview. The default just works for ios

[2019-09-27 16:36] anandnathtiwari commented on #1106
Are you realy work on opencart ? same issue in v 1.5.1 as in v1.5 in opencart . Nothing change, only copy your example opencart config files from example folder to common folder.

Thanks

[2019-09-27 17:11] audiojaminc commented on #1081
19. Our app does not run any more. When we try to run it we get the following error on woo_commerce.dart
throw e; (line 342)

Forget about it. We will just manually do the customization that we did on 1.4 on 1.5 again. It's fine.

Please fix error:
Exception has occurred.
FormatException (FormatException: Unexpected character (at character 1)
<br />
^
)

[2019-09-27 17:19] DrChrispoper commented on #1123
A possibility is to use

`var encodedName = Uri.encodeFull(name);`

To encode the spaces for URI uses.

[2019-09-27 17:28] itzmeeugene commented on #1029
Its been over a week still no answer what kind of support is this @minhcasi @thangvo9x

[2019-09-27 17:36] audiojaminc commented on #1081
20. When we try to run our app now it says this. Why so many errors with this app? Everytime there is more problems. Why is this filled with so many bugs? Can you fix it all first and then release the product? See errors:

<br />
<b>Warning</b>:  array_merge(): Argument #2 is not an array in <b>/home1/h6d7q4w2/public_html/domains/xxxxx.com/wp-includes/rest-api.php</b> on line <b>82</b><br />
<br /

[2019-09-27 17:48] audiojaminc commented on #1081
21. More errors. Take a look. We installed your new Mstore API: See errors:
https://truckingoutfitters.com/wp-json/wc/v3

[2019-09-27 17:48] DrChrispoper opened #1125 "[Fluxstore 1.5] - Search with Magento issues"
Flowing https://github.com/inspireui/support/issues/1123 I decided to test the search function, and have seen a few issues.
I am using Fluxstore 1.5 with Magento.

Issue 1. An exception is thrown if no results come back from the search.
In lib/services/magento.dart
`Future<List<Product>> searchProducts({name, page}) async {`
If I do a search and no products are found, the body of the response is "

[2019-09-27 17:49] Huysophanna commented on #1123
Still doesn't work! Besides the mistake with encode url, the **error is with the for-each-loop** in response.

[2019-09-27 17:57] audiojaminc commented on #1081
22. The category page is still displaying blank categories. You said you will update on version 1.5. We updated to version 1.5 and guess what? Still blank categories. Why lie to your customers?

[2019-09-27 17:59] audiojaminc commented on #1081
23. When we test the app and applied the coupon code. It says "**Congratulations! Coupon code applied successfully _10.0%_** it should be **_10%_**. No one says **_10.0%._** Very unprofessional.

**Please show us how to fix.**

[2019-09-27 18:20] audiojaminc commented on #1081
24. When we sign in on the test app. The user does exist and it signs us in just fine but as soon as you sign in the app crashes and says:

PlatformException (PlatformException(ERROR_USER_NOT_FOUND, There is no user record corresponding to this identifier. The user may have been deleted., null))

But we checked and the user was not deleted. The user exists.

**Please help!**

[2019-09-27 18:24] audiojaminc commented on #1081
12. When a pop up displays it shows a yellow block saying "RenderFlex overflowed by 8.0 pixels". For example "Rate the app" pop up. How do fix this? See screenshot:

![image](https://user-images.githubusercontent.com/55519204/65792721-59a34f00-e132-11e9-9821-a553c67c9bf4.png)

**What is this error? _Please fix._**

[2019-09-27 18:26] audiojaminc commented on #1081
25. When the user enters the wrong password, the app crashes:
throw err; on line 415 (woo_commerce.dard)
Exception has occurred.
_Exception (Exception: The username or password is incorrect.)

Please fix. So many issues so far it's exhausting. Please respond to our ticket

[2019-09-28 02:16] vpeace opened #1126 "[my-product] - Fluxstore pro"
---------

1. My issue
It's taking a long time for building the .apk file from flutter build apk command and I'm not able to get a release build. All I am able to get is a debug build which has a size of 64 MB.
Please Look into this. The release folder is not getting created. Also if possible please provide me with a solution for updating the builds.. since I made the changes in the previous build

[2019-09-28 05:06] minhcasi commented on #1081
21 - did you guys update mstore-api to latest version from https://wordpress.org/plugins/mstore-api/ ?

22+24+25- try to use our pre-config site to well-testing these issues - https://github.com/inspireui/mstore

23 - will fix

12- we use this lib to render the rating - https://pub.dev/packages/rate_my_app - you can use other lib to fix this issue.

**If you are feeling not happy with the product,

[2019-09-28 06:11] RajParab commented on #1112
By when should I be expecting a reply from your side

[2019-09-28 07:15] PremiumPromotion opened #1127 "[Mstore Pro] - CE Builder not working"
Hello,
We purchased MStore PRo and followed all steps, created also the secret keys in Woocommerce and asssigned them in CeBuilder 0.36. However the customize screen is not working, it's loading indefinetely and also the site is not communicating with the app, so that we cannot create the app nor in Android, nor in IOS.
I think it may be an API communication problem. Could you verify please?
Websi

[2019-09-28 10:08] vbmsoftin opened #1128 "FluxStore Pro Latest 1.5.1 update issue"
hi sir,

razor pay payment gateway is not working well, when I am paying through it it didn't place any order and deduct the balance...

please help me

[2019-09-28 10:09] Halkaramov2019 commented on #482
I have same problem too, any solution?

[2019-09-28 11:57] sunil1509 commented on #1065
@minhcasi Mr.Minhcasi please update something about my issue I am still facing problem.

[2019-09-28 12:16] minhcasi commented on #1123
@Huysophanna - thank you for reporting, we will investigate this feature as a high priority and keep an update - very best!

[2019-09-28 12:18] minhcasi commented on #1122
@Hamzanisar - thank you for reporting, we will keep updating the document for the cli version, it's will be similar to the guide from https://facebook.github.io/react-native/docs/getting-started.html - please help to have a look to this guide in the meantime - very best!

[2019-09-28 12:20] minhcasi commented on #1124
Hi @mihaelp could you help to take the screenshot of the download page from https://codecanyon.net/downloads to verify your purchased - thanks

[2019-09-28 12:20] minhcasi commented on #1125
@DrChrispoper  - thank you for the detail reporting, we will investigate and get back you soon

[2019-09-28 12:22] minhcasi commented on #1126
Hi, please check the #7 guide by using patch file could be help - https://medium.com/@inspireui/announcing-fluxstore-1-5-950e0165cab8

Please check this detailed guide about apk generator - https://flutter.dev/docs/deployment/android

[2019-09-28 12:23] minhcasi commented on #1127
@PremiumPromotion could you try to use the 0.35 or 0.36 release from https://github.com/inspireui/cebuilder/releases

[2019-09-28 12:26] mpapado3 commented on #1093
I have figured almost everything, only (e) is still not possible

[2019-09-28 12:29] vbmsoftin commented on #1128
Sir i need your support, please come on TeamViewer and help me.

Thank you

[2019-09-28 12:58] anasabdaldaem opened #1129 "woocomerce fluxstore take so much time to loading products"
I am editing fluxstore and configuring it with my woocomerce website but it take so much time to loading products is that a problem with the app or not and how to slove it
my woocomerce website is ahpar.net

[2019-09-28 13:04] PremiumPromotion commented on #1127
Hello,

Yes, i tried 0.35 version first, then 0.36 but same problem.

Ionut Marcu - Founder Premium Promotion

Google Ads Certified Partner

Digital Marketer

Mobile: +40722.799.100

On Sat, Sep 28, 2019 at 3:23 PM +0300, "Minh Pham" <notifications@github.com> wrote:

@PremiumPromotion could you try to use the 0.35 or 0.36 release from https://github.com/inspireui/cebuilder/releases

—
You are rec

[2019-09-28 13:23] louissaad24 opened #1130 "[Fluxstore] - Requesting features"
----Forcing the user to update the app
- Why this feature is important? Because if someone published the app and then discovered a bug in the app that can make the user experience bad, or a bug that let the user to take advantage of it ( for example coupons doesnt have restrictions in the app even if you put restrictions in woocommerce, so the user wont update the app and keep taking advantage of

[2019-09-28 13:34] MohammedXAbdo commented on #1101
ok

[2019-09-28 13:38] MohammedXAbdo commented on #1101
I sent it

[2019-09-28 14:17] MohammedXAbdo commented on #1101
https://we.tl/t-rBPWcjaxZs

[2019-09-28 14:27] mihaelp commented on #1124
![20190928_192510](https://user-images.githubusercontent.com/22062898/65817912-0b6f7800-e226-11e9-9a55-21a9101a8b52.jpg)

[2019-09-28 20:18] luisalexhg opened #1131 "[Fluxstore] - I can't register users in the App"
1. When I register a new in the app , I get error (I have SSL on my website):

2.
![Captura de Pantalla 2019-09-28 a la(s) 13 57 29](https://user-images.githubusercontent.com/28818275/65822014-182ea480-e203-11e9-9cce-6e255a5e59bc.png)
![Captura de Pantalla 2019-09-28 a la(s) 13 57 39](https://user-images.githubusercontent.com/28818275/65822015-1a90fe80-e203-11e9-93e1-5cdbe8feeea9.png)

3. My produ

[2019-09-28 23:50] santihabib commented on #1076
any update? please help!!!

[2019-09-29 01:12] minhcasi commented on #1128
we will continue support until remove bad rating, thanks

[2019-09-29 01:12] #1128 closed

[2019-09-29 01:23] minhcasi commented on #1076
@concuacon - pls update

[2019-09-29 01:31] minhcasi commented on #1130
Thank you for the great features request, we will review and keep an update

[2019-09-29 01:33] minhcasi commented on #1131
@luisalexhg - could you try to use this latest mstore api - https://wordpress.org/plugins/mstore-api/ - thank you!

[2019-09-29 01:35] minhcasi commented on #1129
@anasabdaldaem - could you help to take a screenshot of your purchase code and share your confilg file so that we could have a check

[2019-09-29 01:42] montadr9898 opened #1132 "Why does it show me the sin in the picture?"
Why does it show me the sin in the picture?

[2019-09-29 01:46] minhcasi commented on #1101
@MohammedXAbdo - don't share public the source here, sent via email - thanks

[2019-09-29 01:49] minhcasi commented on #1132
what's do you mean ?

[2019-09-29 01:49] #1132 closed

[2019-09-29 08:21] attare026 opened #1133 "[fluxstore] - checkout and my account page error"
1. My issue
I think I could properly configure can anyone help me how to fix this error.
when I press my account and check out then I will face like this error.

2. Screenshots
![Screenshot_2019-09-29-14-13-11-591_com inspireui fluxstore](https://user-images.githubusercontent.com/34741721/65829101-76bb5780-e2c3-11e9-8fc7-a1940e241bd1.jpg)

3. My screenshot of the purchased product or my comment:
<

[2019-09-29 09:03] mrwonderful2 commented on #1100
i don't use any shipping method
also i enabled it and i got the same error

if igonerd and swipe right

especially with the payment

On Thu, Sep 26, 2019 at 6:19 PM minhtruong315 <notifications@github.com>
wrote:

[2019-09-29 09:05] mrwonderful2 commented on #1100
Remember to login before checkout.

also i need geust checkout please
it's so important to me
also hyperpay payment method

i cannot use this app without all of this .

[2019-09-29 09:39] elgoharyibrahim commented on #1109
I can run example project successfully,
but in this project  when run  the error ':app:compileFlutterBuildDebugArm64

[2019-09-29 11:35] mpapado3 commented on #1093
I have crossed on different issues.

The WP site has reviews on a listing that are not visible on the mobile app.
![mobile](https://user-images.githubusercontent.com/17457738/65831823-1843a880-e2c6-11e9-831b-53ed03523798.png)
![WP](https://user-images.githubusercontent.com/17457738/65831825-18dc3f00-e2c6-11e9-8d46-87c3065c1124.png)

You can check the WP at www.cretapp.gr
And the mobile app at exp:

[2019-09-29 13:07] MohammedXAbdo commented on #1101
ok I was sent it

[2019-09-29 14:25] audiojaminc commented on #1081
What do you mean with rate my app? I will report to CodeCanyon to see if they can fix because the one you use is not working and crashing the app.

[2019-09-29 14:33] kamleshgorasiya opened #1134 "Fluxstore - I could not compile or run for Android, Still I have not tried for iOS but Android has many deprecation and old library that needs to be update"
I have purchased Fluxstore from https://codecanyon.net/item/fluxstore-the-universal-woocommerce-magento-opencart-mobile-app-by-flutter-framework/24020929---------
I am your 132 order

1. My issue : I could not even compile the project successfully. here is the log.

Launching lib\main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle

[2019-09-29 15:54] Ink9 commented on #1036
I have download the latest version, and it's still on working.

[2019-09-29 16:22] sanket1203 commented on #1119
I tried with Yarn Install, still facing the same errors.

Traceback (most recent call last):
  File "./gyp-mac-tool", line 611, in <module>
    sys.exit(main(sys.argv[1:]))
  File "./gyp-mac-tool", line 30, in main
    exit_code = executor.Dispatch(args)
  File "./gyp-mac-tool", line 45, in Dispatch
    return getattr(self, method)(*args[1:])
  File "./gyp-mac-tool", line 248, in ExecFilterLibtool

[2019-09-29 18:39] Faisal4025 opened #1135 "[EvaStore] - Products appear duplicate"
1. My issue: Is with products, appears duplicated in app, for each collect  just first 4 or 5 products is okay, after that the products start appears duplicates

2. Screenshots
[https://imgur.com/Ej9Nuvd](url)
[https://imgur.com/hdvfGeP](url)
3. My screenshot of the purchase product or my comment:
[https://imgur.com/WabPByo](url)
Item Purchase Code:
dcc62bd9-48e5-44dd-998a-0f34dacf835a

[2019-09-29 21:47] santihabib commented on #1076
@minhcasi  an @concuacon please give me priority and help me

[2019-09-29 22:40] montadr9898 commented on #1132
I bought a package but it doesn't work... Do I have to carry WordPress theme in order to make the package I have done all the settings but I did not find in the explanation of the composition how to put the shape of the wordpress template

[2019-09-30 00:23] anasabdaldaem commented on #1129
that is my config file
import 'package:font_awesome_flutter/font_awesome_flutter.dart';
import 'package:fstore/common/constants.dart';

/// Server config
const serverConfig = {
  "type": "woo",
  "url": "http://www.ahpar.net",
  "consumerKey": "ck_e3d3e9ef13753cccc020428248a3b5c4db3",
  "consumerSecret": "cs_bf5528d8971da74ac5e1e65d6f96d52f41b",
  "blog": "http://www.ahpar.net",
  "forgetPassword"

[2019-09-30 00:31] anasabdaldaem commented on #1129
i find another problem with loading the image of products that not have image
app well get the placeholder image from store the medium size of image url is generated in wrong format it must be like that :
http://www.ahpar.net/wp-content/uploads/woocommerce-placeholder-300x300.png
but the app generate it like that:
http://www.ahpar.net/wp-content/uploads/woocommerce-placeholder-300x300-medium.png
t

[2019-09-30 01:24] mhar92 commented on #1068
still no update?

[2019-09-30 01:27] minhcasi commented on #1068
@mhar92 - sorry for the late response, we will update you on today - thank you!

@concuacon

[2019-09-30 01:42] minhcasi commented on #1133
@attare026 - could you help to zip the whole source or the config file to support@inspireui.com - we will help for checking?

Are you using the latest 1.5.1?

[2019-09-30 01:43] minhcasi commented on #1134
@kamleshgorasiya could i check if you could run the example "Test Drive" successful - https://flutter.dev/docs/get-started/test-drive ?

[2019-09-30 03:24] vpeace commented on #1126
Hi, I've installed the wordpress theme of mstore from here https://github.com/inspireui/mstore
However every link starts with mstore.local, which isn't the link where I have installed this> please could you help me out here

[2019-09-30 03:36] concuacon commented on #1116
@WorkflowAutomation the config file you submitted is the same as our original config and it works, please re-attach your shopify config file(file AppConfig.json & Config.js).

[2019-09-30 05:29] WorkflowAutomation commented on #1116
PFB attachments.

On Mon, Sep 30, 2019, 09:06 concuacon <notifications@github.com> wrote:

[2019-09-30 05:52] concuacon commented on #1120
Hi @Gmlogy i added your config, and in the category screen it shows all 14 categories.
![Simulator Screen Shot - iPhone X - 2019-09-30 at 11 10 03](https://user-images.githubusercontent.com/11958061/65849065-02d88800-e373-11e9-899a-434e34564cb3.png)
![Simulator Screen Shot - iPhone X - 2019-09-30 at 11 10 20](https://user-images.githubusercontent.com/11958061/65849067-02d88800-e373-11e9-9fd8-4fecc

[2019-09-30 05:53] Hamzanisar commented on #1122
what about other issues

[2019-09-30 07:06] dttrung26 commented on #1092
Dear @amit81 ,

after checking your problem, we have figured out the issue is in onLoadMore function. To be specific, your Wordpress API will return an error message if we request an unavailable page. For example, if we request for posts by category on page 1, that works perfectly but when it comes to page 2, it will raise an error (as attached below picture) instead of returning an empty array fo

[2019-09-30 08:23] ZamanGoraya commented on #135
why npm detach and yarn detach is not running ...? it always show error

can you help me...?]

[2019-09-30 08:25] elgoharyibrahim opened #1136 "i run test drive successful but I have problem Execution failed for task ':app:compileFlutterBuildDebugArm64' when I run this project"
---------

1. My issue

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)
-

[2019-09-30 09:09] WorkflowAutomation commented on #1116
Please solve our issue ASAP. We just set up with Eva store code and Shopify access token and all in appconfig.json. I have attached appconfig.json file in the mail. Error is throwing like the above image. A quick reply is appreciated.

[2019-09-30 09:19] micduffy commented on #97
I am also experiencing this error - I dont know why it was closed without resolution

[2019-09-30 12:20] Hamzanisar opened #1137 "[Mstore - Multivendort] - error Connot connect to the server while post product"
Mstore - Multivendor
dc9807a7-3d89-402d-84fe-6cb908d87f5b

wrong number of segments

MY .HTACCESS

[code]

Now giving error Connot connect to the server

[2019-09-30 12:25] Hamzanisar commented on #1137
[code]

also try this

[2019-09-30 13:04] Xtraterestrial opened #1138 "[ListApp] - Paging not working & Map search results not selectable"
---------
Hi team, I have previously opened a ticket here :  <a href="https://github.com/inspireui/support/issues/728">#728</a>  I hope that is good enough for proof of purchase.

1. My issue :

Paging: All screens that show listings have paging problems.
The categories from the home screen only load 2 listings if selected.
The categories from the category screen load 10 listings that get cut off

[2019-09-30 13:42] audiojaminc commented on #1081
@audiojaminc - it could cause the data or API issue when integrate with
your website, as we can see there are a lot of data on your site is missing
- https://truckingoutfitters.com/

*huh? What data is missing? Please explain. We copied directly from your
instructions. We already have our products and categories so we can't use
your pre-config site. What date is missing? Please let us know so we c

[2019-09-30 13:45] audiojaminc commented on #1081
@audiojaminc - it could cause the data or API issue when integrate with your website, as we can see there are a lot of data on your site is missing - https://truckingoutfitters.com/

**huh? What data is missing? Please explain. We copied directly from your instructions. We already have our products and categories so we can't use your pre-config site. What date is missing? Please let us know so we

[2019-09-30 14:12] anasabdaldaem commented on #1129
Item Purchase Code:
7d34bbf8-07dd-4bcb-8eb0-e0b1c897a180

[2019-09-30 16:43] luisalexhg commented on #1131
I'm using it...

![Captura de Pantalla 2019-09-30 a la(s) 11 42 42](https://user-images.githubusercontent.com/28818275/65898591-898f6400-e377-11e9-8b12-24642198baf7.png)

![Captura de Pantalla 2019-09-30 a la(s) 11 43 22](https://user-images.githubusercontent.com/28818275/65898589-872d0a00-e377-11e9-87f2-6e6d7e59f857.png)

[2019-09-30 17:20] cptiwari20 opened #1139 "[ce-builder] - Beonews theme is not detecting."
1. My issue
Unable to select the library
2. Screenshots
![image](https://user-images.githubusercontent.com/33618258/65900816-7959a200-e3d4-11e9-8b6d-cbd68358fa22.png)
3. My screenshot of the purchase product or my comment:

Item Title:
BeoNews Pro - React Native mobile app for Wordpress

Item URL:
https://codecanyon.net/item/beonews-react-native-mobile-app-for-wordpress/19186520

Item ID:
19186520

[2019-09-30 18:30] outlawcode opened #1140 "[beonews] - Blank page after showing flashscreen iOS."
---------

1. My issue
I have successfully built the app with xcode but when running simulator, after flashscreen, it showing the blank page.

2. Screenshots
https://i.postimg.cc/yN0w43Jf/Screen-Shot-2019-10-01-at-1-29-16-AM.png

3. My screenshot of the purchase product or my comment:
https://i.postimg.cc/xCw50tWM/Screen-Shot-2019-10-01-at-1-30-25-AM.png

3. Config files (optional)

[2019-09-30 23:16] sergiosegovia opened #1141 "[BEONEWS] - Build Error V.3.0.4"
**1. My issue**

I recently bought your Beonews React Native template v3.0.4,  i just download the files, enter to the root folder of "pro version" and do "yarn" and then react-native run-ios as your documentation advice but i receive build error. I was tried anything that you advice in this support forum but it doesn't work.

**YARN Output**
`yarn install v1.17.3
info No lockfile found.
[1/4] 🔍

[2019-10-01 00:36] minhcasi commented on #1136
@elgoharyibrahim  - please help to provide following info:
1. your purchased code.
2. The detail screenshot of the issue

Also make sure you pass this guidline to setup the Flutter app - https://flutter.dev/docs/get-started/test-drive

[2019-10-01 00:37] minhcasi commented on #1081
we are stopping support on this ticket

[2019-10-01 00:37] #1081 closed

[2019-10-01 04:17] luisalexhg commented on #1131
Any other solution?

[2019-10-01 04:34] minhcasi commented on #1131
@luisalexhg - we are checking and will let you know, it could be a bug

@minhtruong315

[2019-10-01 04:43] minhtruong315 commented on #1134
@kamleshgorasiya can you add my skype: minhtruong315. i will help you check via teamviewer

[2019-10-01 04:44] minhtruong315 commented on #1131
@luisalexhg can you add my skype: minhtruong315. i will help you check via teamviewer

[2019-10-01 04:49] luisalexhg commented on #1131
Thank you, I sent you a request

[2019-10-01 04:56] kamleshgorasiya commented on #1134
Yes, Sure

On Tue, Oct 1, 2019 at 10:13 AM minhtruong315 <notifications@github.com>
wrote:

[2019-10-01 05:02] kamleshgorasiya commented on #1134
Which one is yours?

![image](https://user-images.githubusercontent.com/6419099/65935433-b5bdea00-e436-11e9-8430-30a6ac531254.png)

[2019-10-01 05:58] spss20 opened #1142 "[my-product] -"
---------

1. My issue: When I click on add to cart button , it redirects me to website product page rather then adding that particular product in cart. Also login for my woocommerce in app is not working, intead it is working on my website, but in app it says please check your id or password again. Whats happening?

2. Screenshots

3. My screenshot of the purchase product or my comment:![Screensh

[2019-10-01 06:23] ameeronline opened #1143 "EvaStore Shopify App error"
Hello,
I need help with Eva Store Application.
I purchased a Licence from Envato for Development Purpose. I did setup test store on Shopify and when i got to checkout screen it shows me an error.

Checkout System Disabled: Merchant trial expired.

https://imgur.com/OSB235f

The error is same for your Play Store App demo and even if i changed AppConfig.json file according my shopify Store app crede

[2019-10-01 06:34] minhcasi commented on #986
@7oda187 - as there is no response, we assume you have resolve the ticket, please create the new one if you still have the issue, thank you!

[2019-10-01 06:34] #986 closed

[2019-10-01 06:38] T-venom opened #1144 "[my-product] -"
---------

1. My issue
There are some missing plugins, and I need a detailed step by step installation, please

2. Screenshots
![Screenshot (1)_LI](https://user-images.githubusercontent.com/55971558/65939559-9323d500-e426-11e9-9117-0763f1662c08.jpg)

3. My screenshot of the purchase product or my comment:
![Screenshot (2)](https://user-images.githubusercontent.com/55971558/65939577-9dde6a00-e426-1

[2019-10-01 07:53] anshbot opened #1145 "[Fluxstore WooCommerce - Flutter E-commerce Full App] - Firebase/Mstore plugin/Checkout"
---------

1. My issue
a). replace mstore-checkout by the plugin MStore API
Once i do that categories and products stop loading in the app. MStore API Plugin doesn't have any kind of setting. Please provide proper documentation.
b). How to configure firebase ?
c). checkout webview configuration
3. My screenshot of the purchase product or my comment:
![purchase screenshot](https://user-images.githu

[2019-10-01 08:34] immortal-kid opened #1146 "[Fluxstore] login and register error, Overflowed error"
Hello, I purchased and run the app as it is and it worked, i connected my woocommerce store and run, i got few errors.
(Comment Screenshot---> http://prntscr.com/pd991u)

1. I tried to register and i get this error, i tried to login with an existing account, i it showed me this error (Username and password is correct, still i get that error) Screenshot—> http://prntscr.com/pd81t8

2. i get this ov

[2019-10-01 08:37] kamleshgorasiya opened #1147 "FluxStore - I am getting OpenGL issue in some android devices and in some device it working"
1. My issue
I am facing Opel GL issue, I don't know why It not working
2. Screenshots
![image](https://user-images.githubusercontent.com/6419099/65946912-cb420c80-e454-11e9-97af-59866996d105.png)

![image](https://user-images.githubusercontent.com/6419099/65946852-ac437a80-e454-11e9-9671-78f864856b99.png)

[2019-10-01 08:43] minhcasi commented on #1143
Hi, this is not a bug, you can contact Shopify Admin to renews your Merchant and Testing account - thanks

[2019-10-01 08:43] #1143 closed

[2019-10-01 09:15] kailashkansara opened #1148 "fluxstore[my-product] -"
---------

1. My issue fluxstore opencart integration order success  i get order id is 0

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-10-01 10:03] abdallahsaad200 opened #1149 "[flux-store] -loading too slow"
hello recently we have purchased flux store and it working perfectly but there is one issue it loads slowly so it takes alot of time  to show the catagory section

down bellow is some screenshots
![Screenshot_20191001-125820](https://user-images.githubusercontent.com/41394626/65953031-c62c8f80-e44b-11e9-83c0-6dde1b36558c.png)

proof of purchasing
![proof](https://user-images.githubusercontent.com/

[2019-10-01 10:20] minhtruong315 commented on #1147
@kamleshgorasiya which devices you can't run app?

[2019-10-01 10:22] minhtruong315 commented on #1146
@immortal-kid did you install mstore api plugin in website?

[2019-10-01 10:24] minhtruong315 commented on #1145
@anshbot can you record screen to show me your issues?

[2019-10-01 10:25] minhtruong315 commented on #1142
@spss20 did you install mstore api plugin in your website?

[2019-10-01 10:27] minhtruong315 commented on #1134
@kamleshgorasiya the first

[2019-10-01 10:29] minhtruong315 commented on #1131
i dont see. pls ping me

[2019-10-01 10:32] minhtruong315 commented on #1125
@DrChrispoper can you send me config.dart and config.json via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1125

[2019-10-01 10:34] kamleshgorasiya commented on #1147
I am facing an issue with Nokia 2.1 OS version Android P

[2019-10-01 10:35] minhtruong315 commented on #1123
@Huysophanna can you send me config.dart and config.json file via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1123

[2019-10-01 10:38] minhtruong315 commented on #1117
@DrChrispoper if you add items in Fluxstore, it only save in local. so you will see it in Magento when you add items to cart or remove items.

[2019-10-01 10:40] minhtruong315 commented on #1115
@DrChrispoper can you send me config.json and config.dart file via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1115

[2019-10-01 10:40] DrChrispoper commented on #1125
Thanks. I've just sent it.

[2019-10-01 10:41] minhtruong315 commented on #1111
@Chizinski can you run command: flutter doctor and show me results

[2019-10-01 10:42] minhtruong315 commented on #1107
truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1107

[2019-10-01 10:43] minhtruong315 commented on #1106
@anandnathtiwari you can try to login first then checkout

[2019-10-01 10:43] edmi14 opened #1150 "[mstore expo] - error to register"
![Screenshot_20191001-063525](https://user-images.githubusercontent.com/28486719/65955419-1852be00-e416-11e9-8a7b-3b58daff96b0.png)
When you hit the button sing up The app returns to the splash screen and reopens the app but does not register

[2019-10-01 10:45] minhtruong315 commented on #1100
@mrwonderful2 Guest check isn't available now, we will note that and will add them in the future

[2019-10-01 10:45] Huysophanna commented on #1123
Done! By the way, I didn't change any config yet! It's a bug right from the start, even in your demo app in Appstore! You can try searching "long shirt" or something.

[2019-10-01 10:45] #1079 closed

[2019-10-01 11:39] immortal-kid commented on #1146
yes i have installed

[2019-10-01 11:48] DrChrispoper commented on #1117
For a logged-in user.
The problem is that if you checkout on Fluxstore, you will be charged for items you can't see are in the Magento cart.

They are initially only stored in local.
But when you start to checkout, they are added to the Magento cart.

Would it be possible to fetch the Magento cart items if the user is logged-in?

[2019-10-01 11:49] DrChrispoper commented on #1115
I have sent them for https://github.com/inspireui/support/issues/1125

[2019-10-01 11:51] minhcasi commented on #1149
@abdallahsaad200 - could i confirm it is using latest 1.5.1? The loading speed will also depend on your Website Rest API that take a long time to return the Category API

[2019-10-01 11:52] minhcasi commented on #1148
please post more detail info: purchased product, screenshot issue... - thank you!

[2019-10-01 11:52] #1148 closed

[2019-10-01 11:54] minhcasi commented on #1137
Hi @Hamzanisar

could you share the proof of purchase product from - https://codecanyon.net/downloads ?

Also share your config file so that we could help for checking

[2019-10-01 11:55] minhcasi commented on #1138
@Xtraterestrial  - thank you for the detail, we will have a check and keep an update

[2019-10-01 11:59] Hamzanisar commented on #1137
Hi @minhcasi  Check following screenshot i have also commented in codecanyon
https://ibb.co/N31sdNb

Now Please reply me urgent application is live on appstore
and please tell me about us contant us page why its not working terms and conidtion too
[code]

[2019-10-01 12:06] mrwonderful2 commented on #1100
sir guest checkout aveliabe with the demo

the app is use less to me
and i pay money for nothing till the future maybe good

so please help me i need to finish this project

[2019-10-01 12:13] minhcasi commented on #1129
Support via email

Fixed by update latest Mstore API - https://wordpress.org/plugins/mstore-api/

[2019-10-01 12:13] #1129 closed

[2019-10-01 12:17] #1072 closed

[2019-10-01 12:18] minhcasi commented on #1082
Hi, please try to install by:
npm install react-native-cli -g

Ref: https://facebook.github.io/react-native/docs/getting-started.html

[2019-10-01 12:19] minhcasi commented on #1085
Hi, please try to install by:
npm install react-native-cli -g

Ref: https://facebook.github.io/react-native/docs/getting-started.html

[2019-10-01 12:20] minhcasi commented on #1085
@MohammedXAbdo - pls have a check and let us know, if it still not success we could support via Teamviewer - thank you!

[2019-10-01 12:21] #1089 closed

[2019-10-01 12:21] #1103 closed

[2019-10-01 12:24] minhcasi commented on #1109
@elgoharyibrahim  - pls make sure to use latest v1.5.1 from https://codecanyon.net/downloads to fix the issue - thank you!

[2019-10-01 12:26] minhcasi commented on #1126
@vpeace  - this video will help - https://www.youtube.com/watch?v=CEyfZmzBMTw&t=1493s - we share the detail how to change to store.local - thank you!

[2019-10-01 12:26] #1126 closed

[2019-10-01 12:28] minhcasi commented on #1127
@PremiumPromotion - sorry for the issues, we just figure out the issue and will update Cebuilder in 1-2 days.

In the meantime please help to run it manually by using this guide - https://facebook.github.io/react-native/docs/getting-started.html - thank you!

[2019-10-01 12:31] #934 closed

[2019-10-01 12:32] minhcasi commented on #1066
Updated new SMS Firebase login v1.5.1

[2019-10-01 12:32] #1066 closed

[2019-10-01 12:34] minhcasi commented on #1136
Duplicate of #1109

[2019-10-01 12:34] #1136 closed

[2019-10-01 12:36] minhcasi commented on #1149
There is know issue regarding to mstore - api, please update https://wordpress.org/plugins/mstore-api/ to latest version

[2019-10-01 12:37] abdallahsaad200 opened #1151 "[fluxstore - homepage customization"
hello the page is not changing  the banner images

proof pic
![proof](https://user-images.githubusercontent.com/41394626/65962381-3a256280-e461-11e9-933d-c622558ace2b.JPG)

config file
[common.zip](https://github.com/inspireui/support/files/3676187/common.zip)

[2019-10-01 12:38] #1020 closed

[2019-10-01 12:38] #1052 closed

[2019-10-01 12:43] minhcasi commented on #1105
@Hamzanisar - confirm that this issue have fixed from latest Mstore.

Sorry, we may misunderstand your idea as the ticket does not mention about the Product name

[2019-10-01 12:44] minhcasi commented on #1110
pls try to install the product via: yarn install

As the Cebuilder have some issue with PowerShell on Window.

[2019-10-01 12:46] #1120 closed

[2019-10-01 12:47] minhcasi commented on #1135
Note for investigation, @Faisal4025  - could you share your config file here so that we could do some debugging - thank you!

[2019-10-01 12:48] minhcasi commented on #1139
@cptiwari20  - note with checking, we will update you in 1-2 days - thank you!

[2019-10-01 12:49] minhcasi commented on #1140
@outlawcode - could you share the config file so that we could help for checking?

[2019-10-01 12:50] minhcasi commented on #1141
@sergiosegovia  - thank you for the video, we will have a check and will let you know

[2019-10-01 12:50] Hamzanisar commented on #1105
@minhcasi  I'm using latest version currently purchased

[2019-10-01 12:55] minhcasi commented on #1124
@mihaelp - please check it from the Redux folder - https://tppr.me/VN76S

And from this api - https://github.com/inspireui/api-ecommerce - thanks

[2019-10-01 12:55] #1124 closed

[2019-10-01 12:59] minhcasi commented on #1125
Duplicate of #1115

[2019-10-01 12:59] #1125 closed

[2019-10-01 13:00] minhcasi commented on #1117
@DrChrispoper pls try to create 1 ticket for your all issues instead of creating multi one, that will help us focus on your issues

Duplicate of #1115

[2019-10-01 13:00] #1117 closed

[2019-10-01 13:14] outlawcode commented on #1140
https://pastebin.com/CJrWz6Wk - App.js

https://pastebin.com/eQNif44W - AppConfig.json

[2019-10-01 13:47] Chizinski commented on #1092
Any solution for this yet?

[2019-10-01 14:35] PremiumPromotion commented on #1127
Hello,

Ok, thank you, we'll wait for the Cebuilder update.

Thank you.

Best Regards,

Ionut Marcu - Founder Premium Promotion

Google Ads Certified Partner

Digital Marketer

Mobile: +40722.799.100

On Tue, Oct 1, 2019 at 3:28 PM +0300, "Minh Pham" <notifications@github.com> wrote:

@PremiumPromotion - sorry for the issues, we just figure out the issue and will update Cebuilder in 1-2 days.

In

[2019-10-01 14:41] audiojaminc opened #1152 "Support Denied - FluxStore Pro"
Why did you close our ticket without resolving any of our issues or concerns? The product is broken and filled with bugs. You are being highly unprofessional by ignoring our requests and denying us support.

We are simply trying to help the product work for us, your current customer and new prospective customers. If these issues are taken care of and addressed, it will make for a better and functi

[2019-10-01 23:23] minhtruong315 commented on #1131
@luisalexhg pls delete MStore checkout plugin and install Mstore api

[2019-10-02 00:16] santihabib commented on #1076
Heeeeeelp!!

[2019-10-02 02:17] minhtruong315 commented on #1150
@edmi14 can you take me screenshot purchase code in codecany?

[2019-10-02 02:23] minhtruong315 commented on #1146
can you send me admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1146

[2019-10-02 02:24] minhtruong315 commented on #1134
duplicate: https://github.com/inspireui/support/issues/1147

[2019-10-02 02:24] #1134 closed

[2019-10-02 02:28] minhtruong315 commented on #1115
@DrChrispoper i dont see any email. pls send again

[2019-10-02 02:30] minhtruong315 commented on #1106
@anandnathtiwari pls replace cart.dark in screens/cart.dart
[cart.dart.zip](https://github.com/inspireui/support/files/3679204/cart.dart.zip)

[2019-10-02 02:30] #1106 closed

[2019-10-02 02:31] minhtruong315 commented on #1100
demo is woo commerce, it's not opencart

[2019-10-02 02:31] #1100 closed

[2019-10-02 02:33] minhtruong315 commented on #1133
@attare026 can you send me config.dart and config.json file via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1133

[2019-10-02 02:36] #1092 closed

[2019-10-02 04:16] mhar92 commented on #1068
still waiting...

[2019-10-02 06:35] immortal-kid commented on #1146
sent u a mail

[2019-10-02 06:44] minhtruong315 commented on #1146
i dont see. what is your email?

[2019-10-02 06:45] minhtruong315 commented on #1145
@anshbot send me info to login to admin site via email: truong@inspireui.com

[2019-10-02 06:46] ZamanGoraya opened #1153 "[Mstore multi vendor] when i enable the push notification there was a error message "can't get data from server"..."
---------

1. My issue

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-10-02 06:46] ZamanGoraya opened #1154 "[Mstore multi vendor] when i enable the push notification there was a error message "can't get data from server"... kindly help me to solve this..."
---------

1. My issue

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-10-02 06:48] immortal-kid commented on #1146
i replied to the email which i already received from you, anirudh.5bs@gmail.com

[2019-10-02 07:00] minhtruong315 commented on #1145
@anshbot pls check app again, i just enable Rest Api in admin site.

[2019-10-02 07:01] minhtruong315 commented on #1145
Payment webview

First solution:
First, we need to create a page and name it "mstore-checkout" and remember don't set any parent page for it, then set page template to"page custom template
You need to install the MStore api plugin at the first place.
Below is the screenshot for how to setting:

<img width="853" alt="63221562-22519200-c1c5-11e9-8c30-a0c8c16aecfa" src="https://user-images.githubuser

[2019-10-02 07:11] obadaKraishan opened #1155 "[Fluxstore] - Top categories icons didn't translate to arabic, and new warning shown"
Hello,

In my app when i switch between the languages the top category icons text didn't change even if i change the screen and get back to it, and also new waning is shown:

![WhatsApp Image 2019-09-30 at 6 04 56 PM](https://user-images.githubusercontent.com/28910488/66024502-b8831280-e4fc-11e9-8968-62629e1cd27e.jpeg)

Warning: “setCurrentScreen cannot be called with the same class and name”

[2019-10-02 07:11] minhtruong315 commented on #1146
i dont see any email with subject #1146

[2019-10-02 07:21] immortal-kid commented on #1146
see now

[2019-10-02 07:50] DrChrispoper commented on #1115
I've sent it again. Could I suggest setting up a Slack for your support?

[2019-10-02 08:04] codingastronaut opened #1156 "Cannot book this product (listapp) (my Listing) (WC Bookings)"
ive tried every possible option, ive enabled booking from the code, I've enabled the rest for wc bookings API from WordPress.
the app still shows "cant Book This Product"
please what are the individual steps i need to take to enable full booking with wc vendors and listapp in my listing theme
![Screenshot from 2019-10-02 09 03 08](https://user-images.githubusercontent.com/17095995/66027773-8620e78

[2019-10-02 08:30] #1149 closed

[2019-10-02 08:31] minhcasi commented on #1151
Hi, could you share your whole screenshot include the username, as we could not verify your purchase? Thank you!

[2019-10-02 08:33] minhcasi commented on #1153
Hi, could you share your purchased screenshot from https://codecanyon.net/downloads - thanks

[2019-10-02 08:33] minhcasi commented on #1154
Duplicate of #1153

[2019-10-02 08:33] #1154 closed

[2019-10-02 08:34] minhcasi commented on #1155
@obadaKraishan - could you share your config file from common folder - thanks

[2019-10-02 08:36] minhcasi commented on #1156
@codingastronaut - could you help to check this guide - https://docs.inspireui.com/listapp/customization/#11-how-to-enable-the-booking-feature - thank you!

[2019-10-02 08:44] obadaKraishan commented on #1155
Sure..

[config.json.zip](https://github.com/inspireui/support/files/3680205/config.json.zip)

[2019-10-02 09:11] minhtruong315 commented on #1155
@obadaKraishan pls send config.dart file

[2019-10-02 09:16] obadaKraishan commented on #1155
Yes i used WPML in my website and all categories are translated and asynchronous.

[2019-10-02 09:18] abusamraa2006 commented on #1135
/** @format */

import Constants from "./Constants";
import Icons from "./Icons";

export default {
  /**
   * Step 1: change to your website shopify graphqlUrl, and storeAccessToken
   * https://help.shopify.com/en/api/custom-storefronts/storefront-api/getting-started
   * Moved AppConfig.json
   */

  // to config custompage
  Wordpress: {
    url: "http://mstore.io",
  },

  /**
     Step 2: Se

[2019-10-02 09:20] Faisal4025 commented on #1135
/** @format */

import Constants from "./Constants";
import Icons from "./Icons";

export default {
  /**
   * Step 1: change to your website shopify graphqlUrl, and storeAccessToken
   * https://help.shopify.com/en/api/custom-storefronts/storefront-api/getting-started
   * Moved AppConfig.json
   */

  // to config custompage
  Wordpress: {
    url: "http://mstore.io",
  },

  /**
     Step 2: Se

[2019-10-02 09:26] minhtruong315 commented on #1155
can you send me config.dart file

[2019-10-02 09:27] minhtruong315 commented on #1115
@DrChrispoper I checked your website. You dont set price for product configurable in admin. pls update price for those products

[2019-10-02 09:31] #1146 closed

[2019-10-02 09:32] #1131 closed

[2019-10-02 09:32] #1115 closed

[2019-10-02 09:39] minhtruong315 commented on #1065
@sunil1509 i check your config. i see it show many categories, what is wrong?
![Simulator Screen Shot - iPhone 11 Pro - 2019-10-02 at 16 39 02](https://user-images.githubusercontent.com/10402500/66034307-35c97a00-e533-11e9-92b9-721573a221cd.png)

[2019-10-02 09:44] obadaKraishan commented on #1155
Sure..

[config.dart.zip](https://github.com/inspireui/support/files/3680482/config.dart.zip)

[2019-10-02 10:07] DrChrispoper commented on #1115
@minhtruong315 There were no issues before you added:

`endPoint += "&searchCriteria[filter_groups][0][filters][2][field]=type_id&searchCriteria[filter_groups][0][filters][2][value]=configurable&searchCriteria[filter_groups][0][filters][2][condition_type]=eq";`

Not all my products are configurable but none of the prices are showing when I look at the product list of a category.

[2019-10-02 10:59] DrChrispoper commented on #1115
Also you closed my other tickets because for some reason you don't use tickets per issue but per person.

So here are the rest of my issues:

Flowing #1123 I decided to test the search function, and have seen a few issues.
I am using Fluxstore 1.5 with Magento.

Issue 1. An exception is thrown if no results come back from the search.
In lib/services/magento.dart
Future<List<Product>> searchProduct

[2019-10-02 11:54] amit81 commented on #1092
Hi,

As per your suggestion Wordpress version.

we  already check everything and everything  is updated so no issue from our side so please guide to us

Thanks

Amit

[2019-10-02 14:29] MohammedXAbdo commented on #1101
Have you fixed the problem

[2019-10-02 15:21] obadaKraishan commented on #1155
Please any update?

[2019-10-02 16:44] RaptorHck commented on #1068
me too..  I have any issue in component news

[2019-10-02 17:26] spss20 commented on #1142
@minhtruong315 YES SIR, I HAVE INSTALLED PERFECTLY ON MY WOOCOMMERCE

[2019-10-02 20:27] edmi14 commented on #1150
![Screenshot_2019-10-02 Downloads CodeCanyon](https://user-images.githubusercontent.com/28486719/66079147-8049f700-e531-11e9-935d-2026e7640072.png)

[2019-10-02 22:13] obadaKraishan commented on #1155
any update!

[2019-10-03 00:39] minhtruong315 commented on #1155
you can change locale value in models/app.dart
String locale = "ar";

[2019-10-03 01:34] minhtruong315 commented on #1150
send info to login to admin site, AppConfig.json and config.js via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1150

[2019-10-03 01:37] minhtruong315 commented on #1142
@spss20 can you send me info to login admin site, config.dart and config.json file via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1142

[2019-10-03 01:48] minhcasi commented on #1147
@kamleshgorasiya - this is not a bug from the app, please try to use other Android simulators as the Nokida 2.1 simulator could be an issues - thank you!

Our suggestion the Simulator OS from SamSung or Pixel

[2019-10-03 01:48] #1147 closed

[2019-10-03 02:55] codingastronaut commented on #1156
thank you, but it still shows "Cannot Book this product" please tell me the step by step to enable booking on my theme and on list app (my theme is "Listable") i have both wc bookings and job manager, please tell me step by step, its very important

[2019-10-03 04:28] ZamanGoraya commented on #1153
i am an employee and my boss bought it...

[2019-10-03 04:29] ZamanGoraya commented on #1153
![Mstore multi vendor](https://user-images.githubusercontent.com/52818458/66099415-41af4d80-e5c0-11e9-8cbc-5c6d2ca7f236.PNG)