[2019-10-03 05:29] minhtruong315 commented on #1155
![Simulator Screen Shot - iPhone 11 Pro - 2019-10-03 at 12 27 08](https://user-images.githubusercontent.com/10402500/66101543-6cf26680-e5d9-11e9-8569-7b3af5751661.png)

[config.json.zip](https://github.com/inspireui/support/files/3684575/config.json.zip)

[2019-10-03 05:29] #1155 closed

[2019-10-03 05:32] #1133 closed

[2019-10-03 05:54] Hamzanisar commented on #1137
@minhcasi  i'm waiting for your response

[2019-10-03 06:25] luisalexhg commented on #1071
Hello, the payment calculation of the shipping methods and the coupon discount at the end of the order continue to fail... I'm using the version 1.5.1.

Woocommerce URL: dermalink.pe
if u need, your user is admin: itminhtruong91@gmail.com

New Recorded video of the entire purchase process in the app: https://www.dermalink.pe/app/video-error-shipping.MP4

0:14 - (OK) coupon code inserted correctly,

[2019-10-03 06:35] ZamanGoraya commented on #1137
A.O.A. @Hamzanisar  have you solved the notification problem...?

[2019-10-03 06:36] ZamanGoraya commented on #1137
if you solved then kindly help me to solve...

[2019-10-03 06:44] ZamanGoraya commented on #1153
sir @minhcasi ...!  I am waiting for your reply ...

[2019-10-03 07:06] ZamanGoraya opened #1157 "[mstore multi vender]i have problem in login ... the app is login me only as wonder... even i try with user i'd..."
![Mstore multi vendor](https://user-images.githubusercontent.com/52818458/66105973-35ce8600-e5d6-11e9-864a-afa39e0b3993.PNG)

[2019-10-03 07:06] ZamanGoraya commented on #1157
i am an employee and my boss bought it...

[2019-10-03 07:10] ZamanGoraya commented on #1153
![tricells chat](https://user-images.githubusercontent.com/52818458/66106215-c73df800-e5d6-11e9-825e-225f778b9c73.PNG)

[2019-10-03 07:11] ZamanGoraya commented on #1157
![tricells chat](https://user-images.githubusercontent.com/52818458/66106267-dfae1280-e5d6-11e9-9d54-26c255f2d621.PNG)

[2019-10-03 08:00] Hamzanisar commented on #1137
i have send him now config.js but he is not responding

[2019-10-03 08:06] ZamanGoraya opened #1158 "[Mstore multi vendor] - How to enable chat..."
---------

1. how to enable chat in [Mstore multi vendor]
![Mstore multi vendor](https://user-images.githubusercontent.com/52818458/66109681-a4afdd00-e5de-11e9-8aa3-9d648ed5094c.PNG)

[2019-10-03 08:44] kazhuyo opened #1159 "[Fluxstore Pro - Flutter E-commerce Full App] - Fresh download, can't run in IOS but no problem with Android"
1. My issue :
Fresh download, unzip and trying to run first time using vscode and xcode. but this first time build took more than 3 hours, and still nothing change.

I'm test into Android, everything work without problem.

2. Screenshots
<img width="1440" alt="Screen Shot 2019-10-03 at 3 28 20 PM" src="https://user-images.githubusercontent.com/1844792/66112126-776e2980-e5f4-11e9-8373-c68c51a4e4c2.

[2019-10-03 09:52] ZamanGoraya commented on #1137
i also have install to the plugin which they told by following the instruction... but i have also the same error... unfortunately i cannot receive any solution from the team...

[2019-10-03 09:54] ZamanGoraya commented on #1137
if you find any solution kindly tell me... zaman.goraya646@gmail.com

[2019-10-03 10:30] storchaktitos commented on #1099
same situation with BeoNews.

Currently, CeBuilder hasn’t supported this project yet

when will be ready FluxBuilder ?

[2019-10-03 11:09] ItisAhsan opened #1160 "[Mstore] - Coupons not working"
1. My issue :
Coupon is not working correctly. It displays on user end but it doesn't show discount at the admin panel. Please check and help it's urgent.

2. Screenshots
![Screenshot (6)](https://user-images.githubusercontent.com/12572962/66121970-f44ed280-e5f7-11e9-8579-4d3097bfcbd1.png)
![Screenshot_1570099325](https://user-images.githubusercontent.com/12572962/66121998-06c90c00-e5f8-11e9-990b-

[2019-10-03 11:09] ItisAhsan commented on #1160
![image](https://user-images.githubusercontent.com/12572962/66122064-3710aa80-e5f8-11e9-8673-e82e15367fe6.png)
proof of purchase

[2019-10-03 11:11] mrwonderful2 commented on #1100
any news

[2019-10-03 11:57] immortal-kid opened #1161 "[fluxstore] - splashscreen and other overflow issue"
1. I changed the splash screen flr line to png file line, but every time when I open the app this blue screen interrupts first and then shows splashscreen. (sent a video to the mail)

2. After logged in I clicked on rate me button, I got this overflowed error again. http://prntscr.com/pebfe1 and those buttons were not working and not visible properly

3. How to change the default preloading symbol

[2019-10-03 11:59] immortal-kid commented on #1161
(Email with attachments sent with subject #1161 along with my purchase code)

[2019-10-03 12:03] minhcasi commented on #1157
Duplicate of #1153

[2019-10-03 12:03] #1157 closed

[2019-10-03 12:04] minhcasi commented on #1158
pls check this guide - https://docs.inspireui.com/mstore-mv/firebase/

Duplicate of #1153

[2019-10-03 12:04] #1158 closed

[2019-10-03 12:05] minhcasi commented on #1153
@ZamanGoraya - what is the pushnotification service you are using ?

[2019-10-03 12:49] minhcasi commented on #1137
@Hamzanisar @ZamanGoraya - sorry for the late response, I will check with the team and get back you on within 24h - thank you!

[2019-10-03 12:51] minhcasi commented on #1137
#1153

[2019-10-03 12:54] tazar003 commented on #1052
Hi @minhcasi this case shouldn't have been closed. @concuacon requested we attach the log file if it didn't work and we did. We also asked for a price quote to get it published, that doesn't mean it was closed. Please reopen and @concuacon can you review the log file and help us determine what is happening?

[2019-10-03 14:45] DrChrispoper commented on #1115
I've fixed the cart not deleting past items properly if you are interested @minhtruong315 you know where to find me.

[2019-10-03 14:53] Therocky20 opened #1162 "[my-product] - fluxstore woocommerce"
---------

1. My issue
HI i have problem with displaying products.  Error: FormatException: Unexpected character (at character 1): <br />
2. Screenshots
i can give you my purchase code. i prefer skype  or teamviwer support. my email is ilascum@ymail.com
3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-10-03 14:59] immortal-kid opened #1163 "[fluxstore] - shipping zones issue"
1. I have added zones in woocommerce shipping settings. i have limited my store to certain pincodes. Only users in those pincodes can place orders.  I have also set flat rates for some pincodes among them. but fluxstore is showing all options by default globally and its not even taking our zones not even showing our flat rates.

2. After setting up the zones, i'm getting some error in checkout scr

[2019-10-03 15:05] immortal-kid commented on #1163
sent u mail with all details and screenshot with subject #1163

[2019-10-03 15:24] ZamanGoraya commented on #1137
thanks you @minhcasi

[2019-10-03 15:26] abderrahimcloudme opened #1164 "[MStore] Wordpress setting"
![image](https://user-images.githubusercontent.com/51796320/66141070-0a11c700-e5fb-11e9-94f6-79ce094e994d.png)

When I try to register, I get this error.
I didn’t find MstoreUser in the wordpress setting.

![image](https://user-images.githubusercontent.com/51796320/66140716-80fa9000-e5fa-11e9-9610-bb013609065b.png)

[2019-10-03 15:32] ZamanGoraya commented on #1153
i am using onesignal id ... with woocommerce "OneSignal Push Notifications" but when user enable the push notification then the app show the message "can't get data from server"... how can i solve this problem...?

[2019-10-03 15:56] ZamanGoraya commented on #1157
this is an other problem dear...!

[2019-10-03 15:57] ZamanGoraya commented on #1158
will it work for android and ios both...?

[2019-10-03 16:03] ZamanGoraya commented on #1158
will it work for android and ios both...?

[2019-10-03 17:35] Blubagoo opened #1165 "Beonews Pro #1052"
Hey Guys, I finally was able to manage getting a build out of the android version. I am running into an error  on upload to google play store.

[code]

[2019-10-03 17:45] Blubagoo commented on #1165
This is from your comment section on codecanyon

[code]

[2019-10-03 23:39] #1065 closed

[2019-10-03 23:40] #1107 closed

[2019-10-03 23:40] #1111 closed

[2019-10-03 23:40] #1145 closed

[2019-10-03 23:44] codingastronaut commented on #1156
hello @minhcasi i havent heard back, please give me the steps after setting booking as true, it still showing "cant book this product"

[2019-10-04 01:33] kazhuyo commented on #1159
So I've found the problem, fluxstore running without error with ios 13, but stuck in xcode build with ios 12.

my question is, why ios 12 compatibility remove in fluxstore v1.5.1?

[2019-10-04 03:36] minhtruong315 commented on #1145
we only wait 2 days, if dont have any reply, i will close the ticket

[2019-10-04 03:38] hungnguyen9276 opened #1166 "[ListApp] - Does not display chat option"
Hi,
I configed firebase by followed this https://docs.inspireui.com/listapp/firebase/. I logined however I see no chat option when I enter a listing. how can I fix it?

[2019-10-04 03:58] minhtruong315 commented on #1145
@anshbot i commented about payment webview. but you dont response it work or not.

[2019-10-04 04:19] concuacon commented on #1141
@sergiosegovia you try:

- Please download  saved FBSDK to the Documents/ (https://drive.google.com/file/d/1sj-KQRzeSrpnvfhafgPTQgUhgO5eJhDn/view?usp=sharing)

- Run: "rm -rf node_modules/ && yarn cache clean && yarn && cd ios/ &&  rm -rf build/ && cd ../ && react-native run-ios"

[2019-10-04 04:23] kazhuyo opened #1167 "[Fluxstore] - Failed register with email"
1. My issue
I'm trying to register with email, but get this error

2. Screenshots
<img width="1440" alt="Screen Shot 2019-10-04 at 11 19 16 AM" src="https://user-images.githubusercontent.com/1844792/66180972-2b28f500-e699-11e9-8d15-c1c536cd297a.png">

3. My screenshot of the purchase product or my comment:
<img width="1212" alt="Screen Shot 2019-10-03 at 3 39 09 PM" src="https://user-images.github

[2019-10-04 04:33] minhtruong315 commented on #1167
@kazhuyo can you change createUser function in services/woo_commerce.dart
[code]

[2019-10-04 04:35] kazhuyo commented on #1159
Testing in IOS 12.2 - 13.0 everything work fine. So this is fluxstore code problem doesnt support with IOS 11.x - 12.1, but my suggestion the developer should considering with old version phone, at least give a "Compatible with IOS xxx to xxx"  in new release.

[2019-10-04 04:35] #1159 closed

[2019-10-04 04:41] kazhuyo commented on #1167
@minhtruong315 thank you, problem solved 👍

[2019-10-04 04:42] minhtruong315 commented on #1167
@kazhuyo can you give us 5* in codecanyon

[2019-10-04 04:52] kazhuyo commented on #1167
another problem after register, logout and trying to login again, it throw error like this :
<img width="1440" alt="Screen Shot 2019-10-04 at 11 44 42 AM" src="https://user-images.githubusercontent.com/1844792/66182028-662d2780-e69d-11e9-87cf-cf6dd65aef6b.png">

[2019-10-04 04:56] minhtruong315 commented on #1167
@kazhuyo Can you try to enable Email/Password in firebase?
<img width="1262" alt="Screen Shot 2019-10-04 at 11 55 53 AM" src="https://user-images.githubusercontent.com/10402500/66182143-01be9800-e69e-11e9-8a24-0fb0cf0e3843.png">

[2019-10-04 04:59] anshbot opened #1168 "[Fluxstore Woocommerce] - Ongoing issue"
1. My issue
Categories not loading
Firebase configuration
WP-admin details are already provided in previous emails

https://github.com/inspireui/support/issues/1145

[2019-10-04 05:07] kazhuyo commented on #1167
@minhtruong315 I didn't use firebase yet, still default file "GoogleService-Info.plist", I didn't touch that file or replace it.

[2019-10-04 05:07] minhtruong315 commented on #1161
1. I will check it
2 The rate function only work on google play, you can test it in debug mode
3. you can change kLoadingWidget in common/constants.dart
4. 5. You can update code in widgets/home/index.dart

[2019-10-04 05:09] minhtruong315 commented on #1167
I will check it again

[2019-10-04 05:30] concuacon commented on #1144
@T-venom Please you try steps install to environment to run project:

- Install chocolatey: https://chocolatey.org/install

- Install Nodejs: https://nodejs.org/en/download/

- Install Yarn: https://yarnpkg.com/lang/en/docs/install/#windows-stable

- Install React Native: https://facebook.github.io/react-native/docs/getting-started

[2019-10-04 05:31] Hamzanisar commented on #1137
thank you @minhcasi its my humble request to you even language, and setting pages its not working in your app i have already this issue in another question

[2019-10-04 05:50] T-venom commented on #1144
And I added the plug-ins on WordPress and I can't get the JSON. API and I
most of the plugins have issues.

On Fri, 04 Oct 2019, 07:30 concuacon, <notifications@github.com> wrote:

[2019-10-04 07:44] outlawcode commented on #1140
Hello! 3 days passed!

[2019-10-04 07:52] amit81 opened #1169 "[Flux News] - Oops; flutter has exited unexpectedly."
---------

1. My issue

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

Launching lib\main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is

[2019-10-04 07:57] matrixaldy opened #1170 "[FluxStore] - How to set Default Country?"
i want to set the default selected country in Shipping method. can help me?

[2019-10-04 08:05] concuacon commented on #1140
Hi @outlawcode Please download FBSDK save to path Documents/
https://drive.google.com/file/d/1sj-KQRzeSrpnvfhafgPTQgUhgO5eJhDn/view?usp=sharing
and try steps:
rm -rf node_modules/ && yarn cache clean && yarn && cd ios/ && rm -rf build/ && cd ../ && react-native run-ios
![Simulator Screen Shot - iPhone X - 2019-10-04 at 15 02 49](https://user-images.githubusercontent.com/11958061/66191367-5e2eb100-

[2019-10-04 08:19] minhtruong315 commented on #1150
we have spent a half day but could not figure out the issue on this website as could be some conflict plugin or cache issues, please try to using this pre-config site from this link - https://github.com/inspireui/mstore

[2019-10-04 08:40] outlawcode commented on #1140
Still same.

Can you teamviewer to help me?

[2019-10-04 08:55] minhcasi commented on #1160
@ItisAhsan  - please try update the mstore-api to latest 1.3.3 to fix this issue - https://wordpress.org/plugins/mstore-api/ - thank you!

[2019-10-04 08:59] concuacon commented on #1140
yes, sent me your teamviewer id & pass

[2019-10-04 09:03] outlawcode commented on #1140
1 120 776 053

7c4qt8

[2019-10-04 09:05] Therocky20 commented on #1162
![themeforestfluxstore](https://user-images.githubusercontent.com/54363592/66195350-b81e7f00-e696-11e9-8c4b-63536065e4d5.jpg)
here is my license. Please add me on skype , add info@resmedia.it on skype

[2019-10-04 09:28] minhcasi commented on #1169
@amit81 - could you try to remove the android/.gradle folder ?

[2019-10-04 09:30] minhcasi commented on #1170
pls provide the detail info: your purchase code, screenshot issue.. and open ticket again - thanks

[2019-10-04 09:30] #1170 closed

[2019-10-04 09:32] minhcasi commented on #1166
pls provide the detail info: your purchase code, screenshot issue.. and open ticket again - thanks

[2019-10-04 09:32] #1166 closed

[2019-10-04 09:34] minhcasi commented on #1164
Could i confirm you are using latest api from - https://wordpress.org/plugins/mstore-api/

[2019-10-04 09:35] minhcasi commented on #1163
@immortal-kid - the multi-shipping zone is not available on the current version, we have marked as Feature Request for further investigating - thanks

[2019-10-04 09:36] minhcasi commented on #1162
@Therocky20 - could you attach your config file here so that we could check the issue first - thanks

[2019-10-04 09:40] Therocky20 commented on #1162
[common.zip](https://github.com/inspireui/support/files/3689914/common.zip)

Here it is

[2019-10-04 09:41] Therocky20 commented on #1162
Error: FormatException: Unexpected character (at character 1)
I/flutter ( 5784): <br />
I/flutter ( 5784): ^

this is the error i can't see the products i have setted the id of the categories but no products is shown. when i go into one of the category i get that error

[2019-10-04 09:43] concuacon commented on #1140
Please check our documents: https://docs.inspireui.com/beonews/delivery/

[2019-10-04 09:46] #1109 closed

[2019-10-04 09:46] #1151 closed

[2019-10-04 09:48] #1085 closed

[2019-10-04 09:48] #1082 closed

[2019-10-04 09:52] concuacon commented on #1144
have you active JSON API?

[2019-10-04 09:54] amit81 commented on #1169
i try to remove it but still is same

[2019-10-04 10:02] minhcasi commented on #1098
@khiemhuynh95 - we have tested this issue and it's not a bug, there are some limitations from the React native webview that sometimes it is not working correctly on Android (sometimes due to the website that could not load the Javascript) - we will upgrade to open the whole page as Linking to use the external browser.

[2019-10-04 10:02] #1098 closed

[2019-10-04 10:03] minhcasi commented on #1119
@sanket1203  try to reinstall node js 10.x will be fixed the issue - you are using 0.12 - https://nodejs.org - thanks

[2019-10-04 10:08] immortal-kid commented on #1161
4,5. I saw the documentation, it is never mentioned on adding products based on product it. Also sliders are linked to categories. I asked how to link it to particular product? You told to edit in widgets/home/index.dart i dont understand where to edit exactly? What to add?

[2019-10-04 10:08] minhcasi commented on #1101
Yes, we will update new version for this fixing - thanks

[2019-10-04 10:10] immortal-kid commented on #1163
Ok, but I've limited my store to some pincodes only, but app is accepting any random pincodes and letting place order. Atleast you could look at this.

Also I've set flat rate 30₹ but app is not even showing this while showing total.

[2019-10-04 10:37] immortal-kid commented on #1163
Untill this get fixed i can't launch my app. Because I've set flatrate based on pincodes, if that's not working in the app it will be very difficult for us. So is there any way to make checkout page webview with user logged in only?

[2019-10-04 10:54] hungnguyen9276 commented on #1166
Here is my purchase code: 2c21e8c4-d8cc-4226-aeba-68cd81289fe6
<img width="306" alt="Screen Shot 2019-10-04 at 17 53 07" src="https://user-images.githubusercontent.com/25025251/66202428-eec4bb80-e6cf-11e9-8383-9417b325e730.png">

[2019-10-04 10:59] hungnguyen9276 opened #1171 "[List App] - Does not display chat option and booking not working"
Hi,
I configed firebase by followed this https://docs.inspireui.com/listapp/firebase/. I logined however I see no chat option when I enter a listing. How can I fix it?
My purchase code: 2c21e8c4-d8cc-4226-aeba-68cd81289fe6
<img width="306" alt="Screen Shot 2019-10-04 at 17 53 07" src="https://user-images.githubusercontent.com/25025251/66202707-9fcb5600-e6d0-11e9-8703-f54e199f0d73.png">

[2019-10-04 11:08] immortal-kid commented on #1163
when are u giving the next update fixing shipping zones?

[2019-10-04 11:17] mihaelp commented on #1124
Hello!
There was a problem, a solution that I can find even on the forum.
Error: Unknown controller 'mstore_user'
Please tell me what to do?

[image: screenshotAtUploadCC_1570187575716.png]

вт, 1 окт. 2019 г. в 17:55, Minh Pham <notifications@github.com>:

[2019-10-04 11:21] amit81 opened #1172 "[Flux News] -"
Hi,

I have purchased fluxnews, But i am getting an error with our Wordpress blog site when we add your default URL its working perfectly.

but when i add my URL issue is below

We are not getting data in app home page. In the category, we are getting listing but when we refresh it will show error: type’_internalLinkedHashMap<sting. dynamic>’ is not a subject of type ‘iterable’
As per your guideli

[2019-10-04 11:32] minhcasi commented on #1137
@Hamzanisar could you share the appconfig.json as well? We could not debug the issue without this file - thanks

Please share your app on stores so that we could make the test

[2019-10-04 11:48] minhcasi commented on #1172
@amit81 - could you help to share your config file, the common/config.json and config.dart - thank you!

If you installing on local, ref to this video guide: https://www.youtube.com/watch?v=CEyfZmzBMTw&t=1492s

[2019-10-04 11:49] minhcasi commented on #1169
Duplicate of #1172

[2019-10-04 11:49] #1169 closed

[2019-10-04 11:50] minhcasi commented on #1169
it seems you have fixed from 1172, could you share your solution ?

[2019-10-04 11:53] amit81 commented on #1172
[config.zip](https://github.com/inspireui/support/files/3690383/config.zip)
 Hi,

As per your requirement, please find attachment config file

Thanks for quick support

[2019-10-04 11:54] ZamanGoraya commented on #1153
?

[2019-10-04 12:06] minhcasi commented on #1153
@ZamanGoraya - are you using the cli version from the download package to active the push notify, as the expo will not support, please check this guide for the detail config - https://documentation.onesignal.com/docs/react-native-sdk-setup

[2019-10-04 12:17] ZamanGoraya commented on #1153
will it work for both andriod and ios...?

[2019-10-04 12:24] ZamanGoraya commented on #1153
i have done this all...

[2019-10-04 12:24] ZamanGoraya commented on #1153
iss it require ssl certificate...?

[2019-10-04 12:51] ZamanGoraya commented on #1153
kindly do not close this ... before i get the solution...

when i get the solution i will close it with "thank you" comment...

[2019-10-04 12:52] ZamanGoraya commented on #1153
https://github.com/inspireui/support/issues/1153#issuecomment-538374979

[2019-10-04 12:56] ZamanGoraya commented on #1157
this is an other problem dear...

[2019-10-04 13:00] concuacon commented on #1076
Hello @santihabib i checked this work
[AppConfig.txt](https://github.com/inspireui/support/files/3690629/AppConfig.txt)

![Simulator Screen Shot - iPhone X - 2019-10-04 at 19 56 47](https://user-images.githubusercontent.com/11958061/66209309-47508480-e6e1-11e9-8e89-a2c9ccce1f2d.png)
![Simulator Screen Shot - iPhone X - 2019-10-04 at 19 56 58](https://user-images.githubusercontent.com/11958061/6620

[2019-10-04 13:04] spss20 opened #1173 "[Fluxstore] App Size extending 61 Mb"
Sir, I checked your demo app for fluxstore which was only of 20 Mb. But when i am building my own fluxstore app. Its size is 61 Mb. Also it is not smooth like your demo app and loads data from server slowly

[2019-10-04 13:42] santihabib commented on #1076
hi @concuacon !
[AppConfig.txt](https://github.com/inspireui/support/files/3690785/AppConfig.txt)

 17 days ago I answered few words and they didn't help me with my problem! change to subdomain as requested so the config also changed! I attach the current config. Also the problem is not that it does not start! The problem is that when loading a new product, it is loaded without image and without p

[2019-10-04 16:37] edmi14 commented on #1150
I have that warning when I upload the app to apple store

Dear Developer,

We identified one or more issues with a recent delivery for your app,
"Tuttis Pizza" 3.6.0 (1). Your delivery was successful, but you may wish to
correct the following issues in your next delivery:

*ITMS-90809: Deprecated API Usage* - Apple will stop accepting submissions
of apps that use UIWebView APIs . See
https://devel

[2019-10-04 16:46] MohammedXAbdo commented on #1101
when you will send to me my source with fixing

[2019-10-04 17:43] amit81 opened #1174 "[BeoNews ] - task :react-native-admob:compiledebugjavawithjavac failed"
---------

1. My issue task :react-native-admob:compiledebugjavawithjavac failed

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

info Starting JS server...
info Building and installing the app on the device

[2019-10-05 00:48] harry503 opened #1175 "[mstore-pro] - No Loading Indicator during Search + ViewAll to Category Page"
I'm using the latest version 3.9.5

1. Search in progress with no indicator
Please add loading indicator during search, it's missing from the recent version. I knew that it was exist before. This would help user to understand that a process is being performed.

2. Send user to Category Page with Filter and Sort from Homepage by clicking View All
You have several screen to display products. The one

[2019-10-05 04:53] minhcasi commented on #1174
noted for investigating

[2019-10-05 05:11] Hamzanisar commented on #1137
App Appconfig.json

[code]
From this following link you can download my app
https://exp-shell-app-assets.s3.us-west-1.amazonaws.com/android/%40hamzanisar/Frimzo-creativedesk-ac7b01dc1eac4580a3ff931762028384-signed.apk

[2019-10-05 06:10] storchaktitos opened #1176 "[BeoNews ] - Currently, CeBuilder hasn’t supported this project yet"
BeoNews  - Currently, CeBuilder hasn’t supported this project yet. how to fix it?

[2019-10-05 08:45] RajParab commented on #1112
Didn't get any response here?

[2019-10-05 08:59] govindh163 opened #1177 "[FluxStore] - Universal"
Hey Just I need The answer,
Can I Add my own googleservices.Json file to the Code,and get my User details On my FireBase Account.

Thanks In advance.

[2019-10-05 11:19] ItisAhsan commented on #1160
nope updating the plugin didn't help. I have sent you the credentials...

[2019-10-05 12:33] Senior-Gamal opened #1178 "fluxstore some issu"
---------

 My issue

we are facing some problems :
- we need to set usa is the default country in shipping or sms country
- sms verication code there is an error when typing .
- we need to select city from a drop down as like the website and the cost of shipping .
- welcome page is not showing.
- we need to remove rating app section .
- we need to remove smartChat section .
- when user sign up ha

[2019-10-05 13:28] minhtruong315 commented on #1150
@edmi14 it's only warning, You try to submit. I think it will be passed by apple

[2019-10-05 13:28] #1150 closed

[2019-10-05 13:29] #1142 closed

[2019-10-05 14:29] 007asom opened #1179 "[MStore Pro]- Category name not showing"
Hello
as your request to open ticket here.

1. My issue
Category name not showing under category circle in home page.
2. Screenshots
https://ibb.co/5LfBjRk
3. My screenshot of the purchase product or my comment:
https://ibb.co/kcS3vh7
3. Config files (optional)
[code]

[2019-10-05 14:54] obadaKraishan opened #1180 "[FluxStore] - Build an app bundle error"
Hello,

when i try to building the app for release it show me this error, i made key.jks and i locate the app directory but it show me same error.

_* What went wrong:
Execution failed for task ':app:packageReleaseBundle'.

  jarsigner error: java.lang.RuntimeException: keystore load: /Users/Obada_kr/key.jks (No such file or directory)

[2019-10-05 16:26] Faisal4025 commented on #1135
why there is no replay?????

[2019-10-05 16:42] Senior-Gamal commented on #1057
any update about this problem and if you active more shipping method

[2019-10-06 01:21] harry503 opened #1181 "[mstore-pro] - Android: Category Title from ViewAll Not Translating"
1. Category Screen by clicing View All from Homepage not translating for Android
Please change {label} to {title} in src/components/AnimatedHeader/index.js line 35 which used the {label} not yet translated to {title}. This issue only affects Android only with the if condition for Android.

Purchase Code: 7c399f31-c465-4f76-ac62-7fa0f04fd615

[2019-10-06 01:52] hungnguyen9276 commented on #1171
One more thing, booking option not work. When I click on booking icon the message display "You can't book this product".
<img width="305" alt="Screen Shot 2019-10-06 at 08 51 52" src="https://user-images.githubusercontent.com/25025251/66263038-93e9ac00-e816-11e9-833a-39e6aaa22f49.png">

[2019-10-06 04:45] codingastronaut commented on #1156
hello @minhcasi please get back to me, this is not goot servoce at all, please help me solve this problem, i can give you access to my site if you want PLEASE

[2019-10-06 04:47] codingastronaut commented on #1171
I also have the booking error, @hungnguyen9276 @minhcasi will tell you to enable "booking = true" but that dosent help at all, they should give a guide for people that have wc bookings and job manager.
please give us steps to follow

[2019-10-06 05:13] anwark opened #1182 "[my-product] - ListPro - Listing Directory React Native template"
---------

1. My issue
I cant see the update  on the app that I did on the website
2. Screenshots
![jbizList](https://user-images.githubusercontent.com/109449/66264604-fac29180-e825-11e9-9e71-599d98cbe30c.png)
![AppScreen](https://user-images.githubusercontent.com/109449/66264605-fac29180-e825-11e9-8e52-c34985499222.png)
![nodataInApp](https://user-images.githubusercontent.com/109449/66264606-fac2

[2019-10-06 09:37] spss20 opened #1183 "[my-product] -"
Sir, I checked your demo app for fluxstore which was only of 20 Mb. But when i am building my own fluxstore app. Its size is 61 Mb. Also it is not smooth like your demo app and loads data from server slowly
---------

[2019-10-06 10:20] minhcasi commented on #1116
@concuacon

[2019-10-06 10:21] santihabib commented on #1076
19 Days!  What should I do to help me?

[2019-10-06 10:29] minhcasi commented on #1076
@santihabib - confirm - there is an issue with the Create product that missing the Feature image, we have noted for fixing on new release - thank you!

[2019-10-06 10:34] minhcasi commented on #1173
Hi, could you share your production app so that we could make and test and give some feedback - thanks

[2019-10-06 11:00] minhcasi commented on #1175
@harry503 - noted for investigating - thank you!

[2019-10-06 11:01] minhcasi commented on #1176
@storchaktitos - could i know which version that you are using for testing.

Please also share your purchased screenshot on https://codecanyon.net/downloads - thank you!

[2019-10-06 11:02] minhcasi commented on #1177
Yes, you can use your own google service file - we have noted on this guide - https://docs.inspireui.com/fluxstore/push-notification/

[2019-10-06 11:02] #1177 closed

[2019-10-06 11:14] santihabib commented on #1076
And the same goes for the price!  when will they update?

[2019-10-06 11:17] minhcasi commented on #1179
@007asom - could you share the whole config files so that we could check with debugging ?

[2019-10-06 11:19] minhcasi commented on #1180
Hi, you can change the key path from android.key.properties file -

example: storeFile=/Users/Obada_kr/key.jks

[2019-10-06 11:19] #1180 closed

[2019-10-06 11:21] minhcasi commented on #1181
@harry503 - kindly post with the same ticket with your all issues

Duplicate of #1175

[2019-10-06 11:21] #1181 closed

[2019-10-06 11:23] minhcasi commented on #1182
@anwark  sorry for the inconvenience - could you give us the comment on https://codecanyon.net/item/listpro-listing-directory-react-native-template/22645013 as we could not verify your username on our system purchase

[2019-10-06 11:24] minhcasi commented on #1183
Duplicate of #1173

[2019-10-06 11:24] #1183 closed

[2019-10-06 11:30] obadaKraishan commented on #1180
yeah i did this but still the same!, why you close the issue !!!!!

[2019-10-06 12:52] hungnguyen9276 commented on #1171
@codingastronaut Enable "booking = true" does not solve the problem. It still get an error.

[2019-10-06 13:47] 007asom commented on #1179
[code]

[2019-10-06 14:36] EffectiveOG opened #1184 "[Fluxstore] - Product not syncing correctly"
---------

1. My issue
1. Variable product appear to be unavalaible on the app while its not in website
2. Product description doesnt respect selected language on the app
3. Some product doesnt  show thumbnails but when you click on a product the image is downloaded
4. smart chat whatsapp scheme doesnt send the user to whatsapp
5. multicurrency should work as it doesnt make sens to make an app mul

[2019-10-06 15:36] outlawcode commented on #1140
So I need a paid Apple Developer Account $99?

[2019-10-06 20:15] Senior-Gamal commented on #1178
any replay about this ????

[2019-10-06 21:53] codingastronaut commented on #1156
Hello @minhcasi @luyx2412 @vumanhsn97 could you please let me know if my question is going to be answered? and the steps to follow please

[2019-10-06 21:55] codingastronaut commented on #1171
@hungnguyen9276 @minhcasi this problem is also there for me as well, ive been trying to get an answer from them for the past 5 days and they have all gone silent

[2019-10-06 23:37] harry503 commented on #1181
FYI, this is not the same issue as #1175. This is the fix in the code that I did and I thought I share with you Category title not translating in Android.

[2019-10-06 23:51] minhtruong315 commented on #1161
Fluxstore only support show products base on category, not productID, if you want to show products base on productID, you must code more features it.

[2019-10-07 00:08] minhtruong315 commented on #1168
I can't login to admin site by the account you sent me. pls check again

[2019-10-07 00:11] minhtruong315 commented on #1178
@Senior-Gamal can you send me config.dart, config.json file and account to login to admin site via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1178

[2019-10-07 00:58] minhcasi commented on #1180
@obadaKraishan - could you help to take the screenshot to verify your purchased - https://codecanyon.net/downloads

We will close the ticket if you could not prove as our customer.

[2019-10-07 01:13] minhtruong315 commented on #1162
@Therocky20 can you try to turn off the warning in php.ini or disable debug mode in wp-config.php.

<img width="986" alt="Screen Shot 2019-10-07 at 8 12 00 AM" src="https://user-images.githubusercontent.com/10402500/66279212-46367780-e8da-11e9-8515-c267982d888c.png">

[2019-10-07 01:21] Senior-Gamal commented on #1178
the mail has been sent

[2019-10-07 03:17] kazhuyo opened #1185 "[Fluxstore] - Some Error List"
Found a bug :

- When trying to view order history using "Cash On Delivery" everything work without error. But when trying to view order history using "Payment Gateway" i got this error.

<img width="1440" alt="Screen Shot 2019-10-07 at 10 05 25 AM" src="https://user-images.githubusercontent.com/1844792/66282720-a9c8a100-e8ea-11e9-840d-24d54bf35895.png">

but when testing with postman, all data co

[2019-10-07 04:00] minhtruong315 commented on #1167
https://www.youtube.com/watch?v=3NLP-1KX_Vk

[2019-10-07 04:01] minhtruong315 commented on #1168
https://www.youtube.com/watch?v=3NLP-1KX_Vk
firebase configuration

[2019-10-07 04:57] govindh163 commented on #1177
Can I use the Same "Package name" as Provided in androidManifest.xml as in your FIle?

[2019-10-07 05:17] Therocky20 commented on #1162
Sure i do it

[2019-10-07 05:30] kazhuyo commented on #1178
@Senior-Gamal

for shipping country you have to configure your woocommerce in shipping menu.
for sms country you have to open and edit **lib/screens/login_sms/index.dart** and change the code from line 168 with this :

                      InternationalPhoneInput(
                          onPhoneNumberChange: onPhoneNumberChange,
                          // initialPhoneNumber: "",

[2019-10-07 06:39] obadaKraishan commented on #1180
sure..

![Screen Shot 2019-10-07 at 9 35 09 AM](https://user-images.githubusercontent.com/28910488/66289611-d62dee80-e8e5-11e9-89bb-b7573128c123.png)

[2019-10-07 06:41] WorkflowAutomation commented on #1116
Sorry, I didn't get your point.  What is the meaning of @concuacon? please solve our issue ASAP. We have an urgent requirement with your product.

[2019-10-07 07:14] #1110 closed

[2019-10-07 07:19] minhcasi commented on #1185
@kazhuyo - could you provide your purchased screenshot from https://codecanyon.net/downloads

[2019-10-07 07:20] minhcasi commented on #1184
@EffectiveOG - could you share your purchase screenshot from https://codecanyon.net/downloads - thanks

[2019-10-07 07:22] #1141 closed

[2019-10-07 07:29] Hamzanisar commented on #1137
hello @minhcasi  please i'm waiting for your response

[2019-10-07 07:29] Therocky20 commented on #1162
I have disabled it but the problem persist

[2019-10-07 07:29] Hamzanisar commented on #1137
when multi vendor submit product i got this error

[2019-10-07 07:36] spss20 opened #1186 "[FluxStore] - RazorPay Payment Gateway Integration in App Not Working"
---------

1. My issue:  Sir razorpay payment gateway in your app is not working, in congif.dart , i have entered razorpay key, also it ask for callback_url in razorpay configurations in config.dart file, i entered random url for callbackurl. When i complete purchase through razorpay, the problem is it redirects to callback url in webview rather then opening native screen saying thanks for your or

[2019-10-07 07:36] Therocky20 commented on #1162
If you want we can connect with teamviwer and let check you also the wp site but i have disabled it in the wp-config

[2019-10-07 07:43] spss20 commented on #1173
https://drive.google.com/file/d/1TYGoYkcBspnyPQf9B8O0VXsXf99OLYBK/view?usp=sharing

I uploade the zip file on google drive because size was too big. Please check it

[2019-10-07 07:52] minhtruong315 commented on #1186
@spss20 can you send me admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1186
i wanna check your website

[2019-10-07 08:00] minhcasi commented on #1173
got the file

[2019-10-07 08:06] kazhuyo commented on #1185
@minhcasi you can in my previous issue #1159

[2019-10-07 08:26] immortal-kid commented on #1161
and what about splash screen issue? did u look at it?

[2019-10-07 10:35] mahmoudjameel opened #1187 "[MStore Multi Vendor] -"
we bought Mstore multi vender this week
and we notice that the version of the app that we got did not support multi vender as it suppose
attached is image from the app that we got that (don`t include register as vender in register screen)
notice that Mstore multiple vendors App in App store include register as vender in register screen.
we think that we got the source Code of MStore pro instead of

[2019-10-07 10:43] minhcasi commented on #1185
got it, thank you - could you share your config file so that we could try to reproduce the issue

[2019-10-07 13:33] MilosMosovsky opened #1188 "[BeoNews Pro] - Can't build fresh project in XCode"
1. My issue

I have download latest Beonews package `3.0.4` extracted the contents, navigated to the contents of `beonews-expo` ran `yarn` and then opened project inside the XCode, project is not able to be run, same happens with `react-native run-ios`. `expo start` works fine, but same when I do `expo eject` (I need to enable onesignal) it fails on the GoogleSDK error.

My environment
[code]

XCo

[2019-10-07 13:38] rodrigofoca opened #1189 "[ListApp] - Webview fix"
---------

1. My issue

Webview wasn't rendering any url, so I figured out WebView was cut from React Native core. That means the way to fix everything was to install react-native-webview from the community and then change all the imports of WebView to from react-native-webview.

You need to do this on your code and upload to code canyon.

Best regards

Rodrigo

[2019-10-07 14:09] minhtruong315 commented on #1162
add my skype: minhtruong315

[2019-10-07 15:03] #1162 closed

[2019-10-07 16:24] abderrahimcloudme commented on #1164
Hi,
Yes i used the latest version, I uninstall all the plugin from wordpress
and i import them from this exemple (https://github.com/inspireui/mstore/) and
it works.
but now i get this error:

{"status":"error","error":"SSL is not enabled. Either use _https_ or
provide 'insecure' var as insecure=cool to confirm you want to use
http protocol."}

even if i'am using ssl.

Thanks a lot.

Le ven. 4 oct

[2019-10-07 22:43] MoradAbdelgaber commented on #1178
-- phone login , code input error , when enter a digit pointer should move to the next input as expected
    , but it is still at the same input.
    hint => we are using arabic language _ rtl language _ .
-- shipping address problem , we just need one country and when user select city choose from our defined cities
    as in woocommerce site.
-- app not showing the actual data about shipping cost

[2019-10-07 23:11] EffectiveOG commented on #1184
Viny EMANE NDOLO
p:+24105662424  m: +24107616161a:Akanda, Gabone:nd.emaneviny@gmail.com<mailto:nd.emaneviny@gmail.com>
[http://cdn2.hubspot.net/hubfs/184235/dev_images/signature_app/linkedin_sig.png]<https://www.linkedin.com/in/viny-ndolo-emane/>
________________________________
From: Minh Pham <notifications@github.com>
Sent: Monday, October 7, 2019 9:20 AM
To: inspireui/support <support@noreply.

[2019-10-07 23:23] codingastronaut commented on #1171
@hungnguyen9276 @minhcasi i finally fixed it, please add to your documentations, you have to purchase the wc bookings and job manager plugins, then create a bookable product and then lint that bookable product to the listing you created. but now i have a different issue, the app crashes when i try to fill the customer information forms to complete booking

[2019-10-08 00:15] minhtruong315 commented on #1178
I sent you email

[2019-10-08 00:42] minhtruong315 commented on #1184
@EffectiveOG
please send me config.json and admin account via email: truong@inspireui.com

1. Variable product appear to be unavalaible on the app while its not in website
can you send me product name?

smart chat whatsapp scheme doesnt send the user to whatsapp
you must check whatsapp by device

[2019-10-08 00:58] minhcasi commented on #1187
@mahmoudjameel  - thank you for your feedbacks, could you help to share your purchased screenshot from - https://codecanyon.net/downloads ?

[2019-10-08 01:49] minhcasi commented on #1189
thank you for your feedback, we will investigate and update patching for this issue - very best!

[2019-10-08 01:57] anastely commented on #800
Any update ?

[2019-10-08 02:48] hungnguyen9276 commented on #1171
@codingastronaut Could you give me link of that plugins? Thanks!

[2019-10-08 02:56] kazhuyo commented on #1185
@minhcasi here's the config file.
[config.zip](https://github.com/inspireui/support/files/3700465/config.zip)

[2019-10-08 04:12] Senior-Gamal commented on #1178
thanks minhtruong315 and i sent replay

[2019-10-08 05:41] ZamanGoraya opened #1190 "[Mstore multi vendor] - can you please help me … how to start “CLI version ” on vscode in windows…?"
1. [Mstore multi vendor] - can you please help me … how to start “CLI version ” on vscode in windows…?

![CLI issue](https://user-images.githubusercontent.com/52818458/66370173-a865aa00-e9b8-11e9-87aa-f1b31e432a31.PNG)

[2019-10-08 05:49] storchaktitos commented on #1176
Good afternoon. I download CeBuilder 0.37.006.10.2019, 16:31, "Minh Pham" <notifications@github.com>:@storchaktitos - could i know which version that you are using for testing.
Please also share your purchased screenshot on https://codecanyon.net/downloads - thank you!

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-10-08 06:04] storchaktitos commented on #1176
today I downloaded a new version BeoNews.3.0.4 now all good. Thank You

[2019-10-08 06:04] #1176 closed

[2019-10-08 07:14] anwark commented on #1182
Just make a comment on codeden - https://www.screencast.com/t/1hwaD126esdW

[2019-10-08 07:24] Xtraterestrial commented on #1138
Hi Team, Can you give me progress update?

[2019-10-08 08:10] hungnguyen9276 opened #1191 "[ListApp] - Can not create new listing"
---------

1. My issue
I can not create new listing. After I submit I got a message "Sorry, you are not allowed to create post as this user"
2. Screenshots
<img width="295" alt="Screen Shot 2019-10-08 at 15 07 49" src="https://user-images.githubusercontent.com/25025251/66378509-c1cd1d00-e9dd-11e9-889e-45415345a15e.png">

3. My screenshot of the purchase product or my comment:
My purchase code : 2c

[2019-10-08 10:27] concuacon commented on #1179
@007asom please send me your email, i send to you a new fix.

[2019-10-08 10:47] Hamzanisar commented on #1137
@minhcasi

actually as i checked json-api and mstore-api-master not compatible with each other so i installed older version of json-api

Follow the instruction did the same setting

[code]

But now getting error
error wrong number of segment while posting product

[2019-10-08 11:22] minhcasi commented on #1188
@MilosMosovsky  - could you try to edit the package.json and upgrade the react-native-admob library to v2.0.0-beta.6 ?

[2019-10-08 11:32] minhcasi commented on #1137
noted, i will ask the team to check this issue

[2019-10-08 11:36] minhcasi commented on #1182
Thank you, it's verified, we will double-check the issue and will let you know - very best!

[2019-10-08 11:37] immortal-kid commented on #1161
ANY UPDATE ON SPLASH SCREEN ISSUE? DID U CHECK THE MAIL?

[2019-10-08 11:42] minhcasi commented on #1161
@immortal-kid - confirm blue splash screen is a bug - we will fix on next release - thanks

[2019-10-08 11:45] minhcasi commented on #1190
Hi, first please setup you basic lib (yarn, node...) base on this guide - https://facebook.github.io/react-native/docs/getting-started.html and try to run the example project (for cli version)

From the cli version folder, you can try with this script: yarn install && yarn start

It's possible to run via XCode after that

[2019-10-08 11:57] 007asom commented on #1179
007asom@gmail.com

[2019-10-08 11:59] immortal-kid commented on #1161
Thanks for the response, i have not yet uploaded my app on playstore yet, shipping option issue and splashscreen bug is stopping me. can u please release the update soon. ?

[2019-10-08 12:13] concuacon commented on #1175
@harry503

- "Search in progress with no indicator

Please add loading indicator during search, it's missing from the recent version. I knew that it was exist before. This would help user to understand that a process is being performed." => i fixed, i'll update next version.

- "Send user to Category Page with Filter and Sort from Homepage by clicking View All
You have several screens to display p

[2019-10-08 12:13] #1175 closed

[2019-10-08 12:23] concuacon commented on #1179
@007asom I sent to your mail via https://wetransfer.com/ please check and feedback me.

[2019-10-08 12:32] spss20 commented on #1186
i have sent on mail from krishna.pratap1997@gmail.com . Please check

[2019-10-08 12:37] concuacon commented on #1140
@outlawcode Yes, you need apple developer account

[2019-10-08 12:37] outlawcode commented on #1140
So, how to exclude the push notification?

[2019-10-08 12:40] MilosMosovsky commented on #1188
Fresh project, updated `package.json`, installed with `yarn` and same error :(

<img width="1167" alt="Screenshot 2019-10-08 at 14 39 17" src="https://user-images.githubusercontent.com/324488/66396179-76b10b00-e9d9-11e9-80b3-13c249df1ddc.png">
<img width="831" alt="Screenshot 2019-10-08 at 14 39 25" src="https://user-images.githubusercontent.com/324488/66396180-7749a180-e9d9-11e9-9740-aef4360d29b3

[2019-10-08 12:43] concuacon commented on #1139
@cptiwari20 Your device needs an environment to run the project, follow link https://facebook.github.io/react-native/docs/getting-started
You can manually install by following these steps:

- npm install && react-native run-ios(ios device) or react-native run-android (android device)

[2019-10-08 12:46] #627 closed

[2019-10-08 12:53] minhcasi commented on #1173
#1186

[2019-10-08 13:03] concuacon commented on #1174
Hi @amit81 use "react-native-admob": "^2.0.0-beta.5", and run by steps:
rm -rf node_modules/ && yarn && cd android && ./gradlew clean && cd ../ (if you use yarn install)
rm -rf node_modules/ && npm install && cd android && ./gradlew clean && cd ../ (if you npm install)

[2019-10-08 13:09] 007asom commented on #1179
so, I need to copy the config file only?

[2019-10-08 13:39] ahmadyousefdev opened #1192 "[CeStore] - Not asking for permissions NOTIFICATIONS"
1. The cestore app never asks for permission for the notification NOTIFICATIONS,
in this file `src/Router.js` it never asks for the function `Permissions.askAsync(Permissions.NOTIFICATIONS)` on IOS , I guess it's because the expo version is old ? , I tried upgrading `expo-permissions` but with no luck ..
2. I faced another problem a while a go, t**he expo version of this app is not supported anymo

[2019-10-08 14:26] sfoulad commented on #1171
@codingastronaut

I have same issue Any fixes for :

the app crashes when i try to fill the customer information forms to complete booking

[2019-10-08 14:35] sfoulad opened #1193 "[Listapp] - call and direction not working"
Dear support,
I have few issues :

1- call button when I click it it's not showing the number , it's just open the dail pad

2- direction in list page showing my location not shop location

3- when I fill the form in booking the app crashes ?

[2019-10-08 15:12] ahmadyousefdev commented on #1192
https://github.com/expo/expo/issues/1354#issuecomment-521992636

[2019-10-08 15:18] codingastronaut commented on #1171
@hungnguyen9276 , it's for sale at https://woocommerce.com/products/woocommerce-bookings/ for $250, I'm willing to sell to you for less, email me (johnmichaeldavis1992@gmail.com) i can also give you the job manager plugin.
As for the error, I can't really help there, @minhcasi would have to help with that, but i think it has to do with the payment integration, just follow the documentation and mak

[2019-10-08 15:36] ahmadyousefdev commented on #1192
Never mind for the notification, it turned out that

iOS and Android simulators cannot receive push notifications. To test them out you will need to use a real-life device. Additionally, when calling Permissions.askAsync on the simulator, it will resolve immediately with "undetermined" as the status, regardless of whether you choose to allow or not.

but still, the app needs an upgrade ....

[2019-10-08 16:05] simdanonline opened #1194 "Images are not showing"
No picture is showing.
The products are showing.
But I get error, can't get data from server

[2019-10-08 17:47] audiojaminc opened #1195 "[Flux Store Pro] - Not Working on iOS either"
Hello,
We tried to switch to MAC and run the app but whenever we run it via the iPhone Simulator it gives the following message and breaks the app on file **lib/widgets/payment/paypal/index.dart line 63**:

Exception has occurred.
FlutterError (Scaffold.of() called with a context that does not contain a Scaffold.
No Scaffold ancestor could be found starting from the context that was passed to Scaf

[2019-10-08 20:25] mahmoudjameel commented on #1187
this is what you want .؟
![Uploading 72388762_419285978729990_3821108218566803456_n.png…]()

[2019-10-08 20:34] mahmoudjameel commented on #1187
this is what you want ..?

![72388762_419285978729990_3821108218566803456_n](https://user-images.githubusercontent.com/26668860/66431086-011e5c80-ea24-11e9-9ec8-7110f70cbb39.png)

[2019-10-09 00:07] Senior-Gamal commented on #1178
error in setting.dart

Too many positional arguments: 0 expected, but 1 found.
Try removing the extra positional arguments, or specifying the name for named arguments.

                             NotificationPermissions.requestNotificationPermissions(
                                      const NotificationSettingsIos(
                                          sound: true, badge: true, alert: tr

[2019-10-09 01:15] #1168 closed

[2019-10-09 03:49] concuacon commented on #1140
@outlawcode you can follow docs of onesignal: https://documentation.onesignal.com/docs/react-native-sdk-setup

[2019-10-09 03:51] concuacon commented on #1165
@Blubagoo you can follow this link to fix that issue https://stackoverflow.com/a/57660992/5295046

[2019-10-09 03:54] minhcasi commented on #1195
stop support

[2019-10-09 03:54] #1195 closed

[2019-10-09 03:54] concuacon commented on #1179
you only need to download the source and change the AppConfig.json file similar to your config

[2019-10-09 03:55] #1144 closed

[2019-10-09 03:59] #1119 closed

[2019-10-09 04:03] concuacon commented on #1188
@MilosMosovsky you can follow this link https://stackoverflow.com/questions/29485189/module-googlemobileads-not-found-in-ios

[2019-10-09 04:17] dttrung26 commented on #1172
Hi @amit81 ,
would you mind sending us the admin account information of your site via support@inspireui.com. We would like to take a look at your site.
Nice day,
Trung.

[2019-10-09 04:48] spss20 commented on #1186
????

[2019-10-09 06:03] kazhuyo commented on #1185
any update with this error ? @minhcasi

[2019-10-09 06:17] outlawcode commented on #1140
Can you please guide me?
Or tell me which file need to delete or something?
Sorry i'm not a coder

[2019-10-09 07:21] minhtruong315 commented on #1178
[settings.dart.zip](https://github.com/inspireui/support/files/3706049/settings.dart.zip)
try this file

[2019-10-09 07:28] minhtruong315 commented on #1186
<img width="1094" alt="Screen Shot 2019-10-09 at 2 26 51 PM" src="https://user-images.githubusercontent.com/10402500/66460364-f655dd00-eaa0-11e9-93df-7597d1d9c79e.png">
I checked your config. it show the other in admin. pls check again

[2019-10-09 07:47] Hamzanisar commented on #1137
@minhcasi  please try to understand my application is live and its very critical man

[2019-10-09 07:47] Hamzanisar commented on #1137
i  have been commenting from last 2 week

[2019-10-09 07:55] spss20 commented on #1186
Sir, i dont know what are you talking about, if you mean to say that i have different url and woocommerce keys in config, for that i have double checked and i conclude that i have exact correct configurations, url is proteinadda.in, woocommerce key, secret is also correct??

[2019-10-09 08:04] minhtruong315 commented on #1185
@kazhuyo pls replace lib/models/order.dart to fix the error order
[order.dart.zip](https://github.com/inspireui/support/files/3706201/order.dart.zip)

[2019-10-09 08:15] kazhuyo commented on #1185
thank you, it fixed now 👍

[2019-10-09 08:15] #1185 closed

[2019-10-09 08:33] minhcasi commented on #1185
@kazhuyo - please give us some feedback/rating to this page https://codecanyon.net/downloads if the product is helpful for your business, we are working hard to update more awesome and powerful features on next coming version release. Let us know if you have any feedbacks. Thank you very much! 😊

[2019-10-09 08:47] kazhuyo commented on #1185
@minhcasi I'm already do that before 💯

[2019-10-09 09:18] minhcasi commented on #1185
@kazhuyo - thank you, i love you ❤️

[2019-10-09 09:35] mhar92 commented on #1068
its been 2 week but still no answer from my last question.

[2019-10-09 09:39] minhtruong315 commented on #1184
@EffectiveOG i received config.json file. But i haven't received admin account.
Please send me admin account to check your site

Variable product appear to be unavalaible on the app while its not in website
can you send me product name?

[2019-10-09 09:41] minhtruong315 commented on #1186
Also once the payment is successfull in razorpay, transaction is successfull but i didn't recive order in my woocommerce panel.

can you record screen for this issues?

[2019-10-09 09:42] #1167 closed

[2019-10-09 09:49] anshbot opened #1196 "[Fluxstore WooCommerce]- Phone Number Input and Firebase SHA-1 Issue"
Hi,

Purchase proof
![purchase screenshot](https://user-images.githubusercontent.com/12613051/66469928-64e96980-eaa6-11e9-8024-7275bad69b3d.png)

1. I just want Indian Phone Numbers Input (+91). How to do that?

2.  SMS Loggin error .
![sms login sha error](https://user-images.githubusercontent.com/12613051/66470888-13da7500-eaa8-11e9-980b-e2bc849ad645.jpg)

[2019-10-09 09:49] spss20 commented on #1186
wait, sending

[2019-10-09 09:58] spss20 commented on #1186
so here is a video clip showing video while i am placing order in your app.
https://drive.google.com/file/d/1d3-WkXPFhDWW1kXGpY7vDPUH1whqot_B/view?usp=sharing

here is the orders panel in woocommerce.
![Screenshot (99)](https://user-images.githubusercontent.com/29224720/66471536-18ebf400-eaa9-11e9-9ccc-3a5f5f780cb8.png)

when i placed order on razorpay , i clicked on Successfull to make the order

[2019-10-09 10:24] souriahost opened #1197 "[Mstore PRO] - I have some crashes"
---------

1. I have some crashes when i click buy now button , change language switcher and when i add to cart from wish list

2. (1) buy now button crash
![xostore crashes-1](https://user-images.githubusercontent.com/17759695/66471512-17fc9780-ea94-11e9-90e5-c3e7d3a5e323.png)
![xostore crashes-2](https://user-images.githubusercontent.com/17759695/66471541-264ab380-ea94-11e9-94ff-4231209f1291.png

[2019-10-09 10:34] EffectiveOG commented on #1184
On 9 Oct 2019, at 11:06, Viny Ndolo Emane <emaneviny@outlook.com> wrote:

﻿You can just reset password with you your email. It has the admin profile.

This one of variable product

[cid:580BD4CF-F791-4FA7-A80E-EDCA64F025A1-L0-001]

On 9 Oct 2019, at 10:39, minhtruong315 <notifications@github.com> wrote:

﻿

@EffectiveOG<https://github.com/EffectiveOG> i received config.json file. But i haven't rec

[2019-10-09 11:07] ZamanGoraya commented on #1153
Hy... i have try in react native cli also ... but it is not working for my android...

[2019-10-09 11:07] ZamanGoraya commented on #1153
kindly help me to solve this problem...

[2019-10-09 11:12] ZamanGoraya commented on #1137
A.O.A. @Hamzanisar  i have problem with mstore-user plugin ... i have install mstore checkout plugin but i cannot found this in json api... can you help me...?

[2019-10-09 11:31] amit81 commented on #1174
Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

info Starting JS server...
info Building and installing the app on the device (cd android && gradlew.bat app:installDebug)...

:react-native-webview:reactNativeAndroidRoot C:\Users\Amit Sanghvi\Documents\Beo News\BeoNews.3.0.4\beonews-pro\node_modules\react-na

[2019-10-09 11:42] Chizinski commented on #1162
Kindly Update the solution here

[2019-10-09 11:42] minhcasi commented on #1194
- could you explain what the product you have purchased https://codecanyon.net/downloads
- and the screenshot detail issues + confilg file if possible

[2019-10-09 11:45] ZamanGoraya commented on #1190
Thanks bro...! i have done this... but i moved on cli version from expo because of push notification problem... unfortunately i still in the same problem of push notification...

https://github.com/inspireui/support/issues/1153

[2019-10-09 11:47] #1194 closed

[2019-10-09 11:48] minhcasi commented on #1193
@sfoulad - pls help to provide your screenshot of purchased from https://codecanyon.net/downloads - thank you!

[2019-10-09 11:48] #1193 closed

[2019-10-09 11:51] minhcasi commented on #1192
@ahmadyousefdev  - thank you

We will update new version that compatible with latest expo 0.35

[2019-10-09 11:53] minhcasi commented on #1196
@anshbot - could you help to check this guide - https://www.youtube.com/watch?v=3NLP-1KX_Vk&t=118s

[2019-10-09 11:55] minhcasi commented on #1191
@hungnguyen9276 - could you check if this plugin working on your site - https://wordpress.org/plugins/jwt-authentication-for-wp-rest-api/

[2019-10-09 11:56] ZamanGoraya opened #1198 "[MStore Multi Vendor] - I have problem with mstore-user plugin ... i have install mstore checkout plugin but i cannot found this in json api... can anyone help me...?"
![Mstore checkout auther](https://user-images.githubusercontent.com/52818458/66479210-800fa580-eab5-11e9-9a42-ab52f265f0de.PNG)

Problem :
![Json API](https://user-images.githubusercontent.com/52818458/66479274-a2092800-eab5-11e9-9aac-7c25c537be87.PNG)

![Mstore checkout](https://user-images.githubusercontent.com/52818458/66479276-a2092800-eab5-11e9-8264-8c21d5ce9f4c.PNG)

[2019-10-09 11:59] minhcasi commented on #1171
@codingastronaut  - thank you for sharing, we will update document for this feature

[2019-10-09 12:00] minhcasi commented on #1156
@codingastronaut - sorry for some delay as we have a problem with the resource for listapp to fix the problem, we will resolve this resource issue soon - thank you for your patient

[2019-10-09 12:01] minhcasi commented on #1156
Duplicate of #1156

[2019-10-09 12:01] #1156 closed

[2019-10-09 12:06] minhcasi commented on #1198
@ZamanGoraya - please open the wordpress plugin and rename json-api-master to json-api will fix the issue

[2019-10-09 12:22] minhcasi commented on #1116
Thank you, we will investigate and let you know

[2019-10-09 12:57] hungnguyen9276 commented on #1191
@minhcasi I installed it and it works on my website

[2019-10-09 12:59] hungnguyen9276 commented on #1171
@minhcasi how about chat option? How can I see it?

[2019-10-09 13:01] obadaKraishan opened #1199 "[FluxStore] - Magento 2 Integration ID is not specified or is invalid."
Hi,

When i tried to make new integration to setup Magento API for my application it show me this error.

![Screen Shot 2019-10-09 at 3 51 21 PM](https://user-images.githubusercontent.com/28910488/66483347-8bf76980-eaad-11e9-8cb1-a2ade2d199c8.png)

I went to System -> Extensions -> Integration, then i added (Add New Integration) with the name and password also from API i have selected (All), then

[2019-10-09 13:03] obadaKraishan commented on #1199
Also i have purchased the product.

![Screen Shot 2019-10-09 at 4 02 38 PM](https://user-images.githubusercontent.com/28910488/66483712-4be4b680-eaae-11e9-805a-93edccaeaa70.png)

[2019-10-09 13:12] audiojaminc opened #1200 "[Flux Store Pro] - iOS App Not Working"
Hello,
We tried to switch to MAC and run the app but whenever we run it via the iPhone Simulator it gives the following message and breaks the app on file lib/widgets/payment/paypal/index.dart line 63:

Exception has occurred.
FlutterError (Scaffold.of() called with a context that does not contain a Scaffold.
No Scaffold ancestor could be found starting from the context that was passed to Scaffold

[2019-10-09 13:38] MohammedXAbdo commented on #1101
not answer 😢😢😢

[2019-10-09 13:59] ZamanGoraya commented on #1198
but i have already json-
![json api plugin](https://user-images.githubusercontent.com/52818458/66488128-e18c4000-eac6-11e9-8894-1c8fa9ec924f.PNG)
api... no need to change from json-api-master to json-api

[2019-10-09 14:06] ZamanGoraya commented on #1153
kindly tell me how to solve this problem...?

[2019-10-09 16:10] 007asom commented on #1179
thank you for your help. it is working now, but it is showing name I don't know from where comes, like "jeans , Jackets". my website something different.
thank you

[2019-10-09 16:54] Senior-Gamal commented on #1178
the error is not fixed
![setting error](https://user-images.githubusercontent.com/27568540/66502741-2f547880-eac6-11e9-8b47-60642623c1d2.jpg)

[2019-10-09 18:16] MilosMosovsky commented on #1188
@concuacon As mentioned in the OP I followed almost all articles over 2 days on the stackoverflow, I even tried to switch to cocoapads but as I am not that experienced iOS developer it's impossible for me to fix it. According to other comments from past weeks on the codecanyon the project which is shipped is clearly broken. Can you try to reproduce the issue on a fresh copy of Beo ?

Alternative s

[2019-10-09 18:26] 25thammar opened #1201 "[my-product] -"
---------

1. My issue

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-10-09 18:47] 25thammar opened #1202 "FluxStore"
---------

1. My issue
www.Gamingsrebel.com is the website where the WordPress and woo-commerce is setup. I cloned your repository and did exactly what the docs said  but when I paste the consumer key and secret also change the URL to www.gamingsrebel.com console gives an error
flutter: Error: type '_InternalLinkedHashMap<String, dynamic>' is not a subtype of type 'Iterable<dynamic>'
This only hap

[2019-10-09 18:51] #1201 closed

[2019-10-09 19:37] raiedahmed opened #1203 "[fluxstore] -"
Launching lib\main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...

Compiler message:
lib/screens/settings.dart:190:85: Error: Too many positional arguments: 0 allowed, but 1 found.
Try removing the extra positional arguments.
                              NotificationPermissions.requestNotificationPermissio

[2019-10-09 21:35] maahiraanka opened #1204 "[Beonews Pro ]"
Hi , I am getting this error , I am using Mac

error Failed to build iOS project. We ran “xcodebuild” command but it exited with error code 65. To debug build logs further, consider building your app with Xcode.app, by opening beonews.xcodeproj

BUILD FAILED **
The following commands produced analyzer issues: Analyze /Users/maahir/Downloads/BeoNews.3.0.4/beonews-pro/node_modules/react-native/React

[2019-10-10 00:40] minhcasi commented on #1199
@obadaKraishan - would you mind to take the screenshot include your username on the top-right of the screen? Thank you !

[2019-10-10 03:12] hungnguyen9276 commented on #1171
@codingastronaut "then create a bookable product and then lint that bookable product to the listing you created" I created bookable product however I don't know how to lint that bookable product to the listing. Could you please show me?

[2019-10-10 05:22] Senior-Gamal commented on #1178
and in app closed the notification is not arrival
and No notification sound

[2019-10-10 05:29] Hamzanisar commented on #1137
@ZamanGoraya i installed there old plugin json api give me email so i can email you old once json api plugin

[2019-10-10 06:02] Hamzanisar commented on #1191
@hungnguyen9276  i was facing this issue so on i try hard to fix it now i'm getting error wrong number of segment while posting product

[2019-10-10 06:44] concuacon commented on #1204
@maahiraanka you try to check your package.json the same image and run by steps:
rm -rf node_modules/ && yarn cache clean && yarn && react-native run-ios
<img width="306" alt="Screen Shot 2019-10-10 at 1 41 49 PM" src="https://user-images.githubusercontent.com/11958061/66544951-c4597f00-eb63-11e9-80e3-76a8460b55aa.png">

[2019-10-10 07:22] minhcasi commented on #1200
can not reproduce on this bug, the ios work as normal

[2019-10-10 07:22] #1200 closed

[2019-10-10 07:23] minhcasi commented on #1081
https://docs.google.com/spreadsheets/d/1phymCZhP8sMmcKCa7CTdbffRC_DHItGhz_te2HqpB58/edit?usp=sharing

Update status on this link

[2019-10-10 08:05] concuacon commented on #1179
@007asom can you attach a screenshot?

[2019-10-10 09:20] obadaKraishan commented on #1199
enough?!

![FAS](https://user-images.githubusercontent.com/28910488/66556112-55c2f400-eb58-11e9-9bd4-d942dec8d638.png)

[2019-10-10 09:22] minhcasi commented on #1199
Yes, veried - thank you!

I've assigned to the team for checking, @minhtruong315

[2019-10-10 09:26] minhtruong315 commented on #1186
@spss20 add my skype: minhtruong315. i will help you debug via teamviewer

[2019-10-10 09:34] ZamanGoraya commented on #1198
can you tell me the solution of this problem...?

[2019-10-10 09:49] ZamanGoraya commented on #1137
ok thanks bro...!

[2019-10-10 10:01] minhtruong315 commented on #1196
can you add my email: minhtruong315@gmail.com to your firebase? i will check your config

[2019-10-10 10:04] obadaKraishan commented on #1199
i don't use skype by whats'app is it okay? +962797701646

[2019-10-10 10:07] minhtruong315 commented on #1203
@raiedahmed can you send me your source code? pls upload to google drive and share private my email: minhtruong315@gmail.com

[2019-10-10 10:12] minhtruong315 commented on #1196
I dont see any invitation. pls take me screenshot

[2019-10-10 10:13] minhcasi commented on #1172
@amit81

sent the patching to your email

Screenshot:
- https://tppr.me/cOnu
- https://tppr.me/QH4Ia
- https://tppr.me/mHA3O (you can change the category image from this file https://tppr.me/eCybA)
- https://tppr.me/mD2DA

The root cause of previous issues is wrong category mapping.

[2019-10-10 10:13] #1172 closed

[2019-10-10 10:14] ZamanGoraya commented on #1137
thanks bro...! now i can see mstoreuser in json api...

[2019-10-10 10:17] minhtruong315 commented on #1196
can you send me firebase link?

[2019-10-10 10:18] ZamanGoraya commented on #1198
@minhcasi thanks for reply... now i have solved this problem...

[2019-10-10 10:20] ZamanGoraya commented on #1190
@minhcasi please tell me how can i resolve push notification in my android cli version...

[2019-10-10 10:22] govindh163 opened #1205 "[FluxStore-Universal] -"
Issues On Firebase SMS auth:
                                  Changed Package name And Integrated Firebase ,enabled sms signin!!
                                   The SMSCode was received and then the code was typed then Pressing the  Verify Button "keeps on loading Forever" It is not going to the HomePage or the "Nextpage",
                                  Of,Course the Mobile number Entered i

[2019-10-10 10:26] PremiumPromotion commented on #1127
Hello,

Unfortunately, Ce Builder blocks after saving values in customize section.

I tried with Expo but you may see in the attach that the app is loading, but categories and products not, it says no route.

I tried with e-piesecamioane.ro and also on another site, but same problem.

I think it is something related to Api.

It is working with e-piesecamioane.ro/wp-json/wc/v1 but not with v2 and i

[2019-10-10 10:28] minhtruong315 commented on #1196
did you change package name in source code?

[2019-10-10 10:29] minhtruong315 commented on #1196
share me teamviewer

[2019-10-10 10:53] minhcasi commented on #1081
@V85512290000  - try to update latest WP plugin - https://wordpress.org/plugins/mstore-api/

[2019-10-10 11:03] minhcasi commented on #1137
@Hamzanisar - could you check from the server-side to see if the `mod_headers` are enabled from php plugin?

If the mod header is not enable then the config from htaccess will not work, ref  - https://serverfault.com/questions/214054/how-to-install-mod-headers

[2019-10-10 11:45] minhcasi commented on #1198
@ZamanGoraya - thank you, we're glad that help 👍

[2019-10-10 11:45] #1198 closed

[2019-10-10 11:47] minhcasi commented on #1190
@ZamanGoraya - could you follow this guide - https://github.com/geektimecoil/react-native-onesignal and re-install on the cli version? There are some extra config for the onesignal to make it work

[2019-10-10 11:49] minhcasi commented on #1187
@mahmoudjameel  - sorry for late responded,  the Multivendor version will be support for the Vendor, the Mstore Pro is only used for one Vendor - thank you!

[2019-10-10 11:59] minhcasi commented on #1153
Duplicate of #1190

[2019-10-10 11:59] #1153 closed

[2019-10-10 12:00] minhcasi commented on #1190
Btw, could you send the video screenshot to explain more about the issues pls ?

[2019-10-10 12:09] minhcasi commented on #1191
@Hamzanisar - the segment issue could relate to https://docs.inspireui.com/listapp/troubleshooting/#wrong-segments--message-when-post-new-listing

@hungnguyen9276 - could you share your config file here

[2019-10-10 12:46] obadaKraishan commented on #1199
Do you have any updates? now after you work it shown the exceptions!

![Screen Shot 2019-10-10 at 3 46 28 PM](https://user-images.githubusercontent.com/28910488/66569904-2a023700-eb75-11e9-8b7a-871af3602a29.png)

[2019-10-10 13:21] audiojaminc commented on #1200
Would you like screenshots? It does not work. We followed your instructions. The Android runs but it has bugs and issues via WooCommerce.

The iOS does not run. Everytime we test it and try to checkout via PayPal it throws that error.

Please fix.

Thank you.

[2019-10-10 13:26] audiojaminc opened #1206 "[Flux Store Pro] - iOS PayPal Issue"
Hello,
We tried to switch to MAC and run the app but whenever we run it via the iPhone Simulator it gives the following message and breaks the app on file lib/widgets/payment/paypal/index.dart line 63:

Exception has occurred.
FlutterError (Scaffold.of() called with a context that does not contain a Scaffold.
No Scaffold ancestor could be found starting from the context that was passed to Scaffold

[2019-10-10 13:27] audiojaminc commented on #1206
Would you like screenshots? It does not work. We followed your instructions. The Android runs but it has bugs and issues via WooCommerce.

The iOS does not run. Everytime we test it and try to checkout via PayPal it throws that error.

Please fix.

Thank you.

[2019-10-10 13:46] Therocky20 commented on #1162
Hi just download and replace this plugin https://github.com/inspireui/mstore-checkout

[2019-10-10 13:47] amit81 opened #1207 "[Flux News ] - Desplay front page as my Website Home Page"
---------

1. My issue:  Display front page as my Website Home Page

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

Dear InspireUI Team

I want to display App Home page as my Website Home page not to display as a category  type

please guide current display and my website Display is the latest post. I want to the same display looking  mobile ap

[2019-10-10 15:01] minhtruong315 commented on #1184
Add my skype: minhtruong315. i will help you check via teamviewer

[2019-10-10 15:02] minhtruong315 commented on #1199
i only create an integration. but it throw those errors

[2019-10-10 18:02] concuacon commented on #1197
@souriahost I checked and fix it, can you send me your email? I will send you a new source.

[2019-10-10 18:02] ZamanGoraya commented on #1137
@Hamzanisar bro i am facing a problem ...I login in the app as a customer but it show me add product button aslo of vendor screen... can you tell me the solution of this problem...?

[2019-10-10 18:19] ZamanGoraya commented on #1198
@minhcasi i have solved this problem you are right it was the problem of json-api... thank you for help...

[2019-10-10 18:25] ZamanGoraya commented on #1190
they do not support the video file... but it is simple... when i enable the push notification then app show me the msg "can't get data from server"...

[2019-10-10 18:28] ZamanGoraya opened #1208 "[Mstore Multi Vendor] - I am facing a problem …I login in the app as a customer but it show me the screen same as vendor screen… can anyone tell me the solution of this problem…?"
[Mstore Multi Vendor] - I am facing a problem …I login in the app as a customer but it show me the screen same as vendor screen… can anyone tell me the solution of this problem…?

![customer screen](https://user-images.githubusercontent.com/52818458/66596025-91d87200-ebb5-11e9-85e2-535abf7da244.PNG)

[2019-10-10 18:40] aariasp opened #1209 "[List App] - ceBuilder error"
---------

1. My issue
I have some problem when cebuilder run on expo simulator doesn't run anything just display an error or blank screen.
2. Screenshots
![Image of CeBuilder setup](https://glowit.app/setup.png)
![Image of CeBuilder setup2](https://glowit.app/setup2.png)
![Image of CeBuilder customization](https://glowit.app/customization.png)
![Image of Error Screen](https://glowit.app/error.png

[2019-10-10 20:39] Senior-Gamal commented on #1178
issue in coupon a problem with coupon The coupon is recognized but when the invoice appears, the discount is not applied in the application or website But in website works well

I added you in skype

[2019-10-10 22:48] almazamangaliev opened #1210 "[FluxStore] - how to enable chat?"
---------

1. My issue
I connected firebase to my app, but when i use smartchat its show me error
"NoSuchMethodError: The getter 'email' was called on null."
2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-10-10 22:51] almazamangaliev opened #1211 "[FluxStore] - dont loading product images"
---------

1. My issue

After connecting woocomerce to app i get products but images not loading?

[2019-10-11 00:35] minhcasi commented on #1206
@audiojaminc - we double-check the ios issues and could not reproduce the issues as you report, please try to update the version to the latest and follow this video - https://www.youtube.com/watch?v=Q8Q3ywiiV9g&t=204s

Thank you!

[2019-10-11 00:43] minhcasi commented on #1205
@govindh163 - could you check this video guide - https://www.youtube.com/watch?v=3NLP-1KX_Vk&list=PLcF-HiQy-jOJAD8btGgr_CHcUmYyN8GgY&index=9&t=122s

[2019-10-11 00:47] minhcasi commented on #1210
@almazamangaliev - from the app - you can try to logout the app and login again .

Please check this guide for the detail - https://docs.inspireui.com/fluxstore/smartchat/

Also, pls share your purchase screenshot on next time - https://codecanyon.net/downloads

[2019-10-11 00:47] #1210 closed

[2019-10-11 00:48] minhcasi commented on #1211
Pls double check this guide - https://docs.inspireui.com/fluxstore/woocommerce-setup/

And share the purchase screenshot from - https://codecanyon.net/downloads

(We will reopen ticket after verified purchased) - thank you!

[2019-10-11 00:48] #1211 closed

[2019-10-11 01:20] minhcasi commented on #1206
@audiojaminc  - is it possible to record your video screenshot issues and resend the config files?
We will check and let you know

[2019-10-11 01:22] minhcasi commented on #1208
@ZamanGoraya - could you help to attache the config files here? Thank you!

[2019-10-11 02:05] minhcasi commented on #1207
@amit81  - try to remove the categoryid - https://tppr.me/LHfdN

It will display all the recent content as default

[2019-10-11 02:16] #1178 closed

[2019-10-11 02:23] Senior-Gamal opened #1212 "fluxstore - issue copoun"
---------

1. My issue
issue in coupon a problem with coupon The coupon is recognized but when the invoice appears, the discount is not applied in the application or website But in website works well

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)
import 'package:font_awesome_flutter/font_awesome_flutter.dart';
import 'package:fstore/common/cons

[2019-10-11 02:44] minhtruong315 commented on #1202
@25thammar
can you try this config
[code]

[2019-10-11 02:48] minhtruong315 commented on #1196
@anshbot add my skype: minhtruong315 i'll help you check via teamviewer

[2019-10-11 03:15] Senior-Gamal commented on #1212
the video https://drive.google.com/file/d/1h9H125Z8Toe-TZx2DfzKB5MVslQX-kYu/view

[2019-10-11 03:26] minhcasi commented on #1212
@Senior-Gamal - could you share the screenshot of your purchased code from https://codecanyon.net/downloads ?

[2019-10-11 03:45] kazhuyo commented on #1071
@minhcasi I have same problem too, coupon code didn't change the value of the payment in fluxstore, but in the website without accessing mstore-api-template everything works, it's the problem in checkout page from mstore-api-template.php.

[2019-10-11 04:28] ZamanGoraya commented on #1208
yes of course @minhcasi ...!

/** @format */

import Images from "./Images";
import Constants from "./Constants";
import Icons from "./Icons";

export default {
  /**
   Step 1: Moved AppConfig.json
   */

  /**
   Step 2: Setting Product Images
   - ProductSize: The default config for ProductSize is disable due to some problem config for most of users.
   If you have success config it from the Wo

[2019-10-11 04:49] WorkflowAutomation commented on #1116
We are looking forward to your reply.

On Wed, Oct 9, 2019, 17:52 Minh Pham <notifications@github.com> wrote:

[2019-10-11 04:56] Senior-Gamal commented on #1212
![a0](https://user-images.githubusercontent.com/27568540/66625373-4e512880-ebf4-11e9-9b30-c4a19f7d028d.jpeg)

[2019-10-11 05:35] govindh163 commented on #1205
@minhcasi -Yes I had gone thorough But no solution!

[2019-10-11 05:37] ZamanGoraya commented on #1137
@Hamzanisar bro...! i have done this...https://github.com/inspireui/support/issues/1137#issuecomment-540703172

[2019-10-11 05:39] kazhuyo opened #1213 "[Fluxstore] - Woocommerce Checkout Template"
1. My issue
When checkout using payment gateway, mstore-api-template.php didn't write Country Name from Address Select in shipping address, only write isocode country name.

How to fix country name in mstore-api-templates.php?

2. Screenshots
here's the error we get after click the button "Place My Order" button.

<img width="277" alt="Screen Shot 2019-10-11 at 12 26 29 PM" src="https://user-image

[2019-10-11 05:54] ZamanGoraya commented on #1208
@minhcasi ... i have done this problem of customer screen but in vendor screen when i submit the product the it show me "can not connect to the server"... i have set jwt plugin but still there is problem...

[2019-10-11 05:56] paulica40 commented on #1188
try those steps above, to remove AdMobs, and got a lot more errors like:
ld: warning: directory not found for option '-F~/Documents/FacebookSDK'
Undefined symbols for architecture x86_64:
  "_JSClassCreate", referenced from:
      facebook::jsc::JSCRuntime::createObject(std::__1::shared_ptr<facebook::jsi::HostObject>)::$_0::operator()() const in libReact.a(JSCRuntime.o)
      facebook::jsc::JSCRun

[2019-10-11 05:57] Senior-Gamal commented on #1212
and in app closed the notification is not arrival
and No notification sound

[2019-10-11 06:08] Hamzanisar commented on #1137
i don't know how to do this i issue the ticket to my hosting provider
lets see

[2019-10-11 06:08] Hamzanisar commented on #1137
because i checked apache handlers where i didn't find but let me echo phpinfo and see if its enable

[2019-10-11 06:27] Hamzanisar commented on #1137
goto settings and check language is working setting page is working fine or not?

[2019-10-11 07:21] spss20 commented on #1186
added, accept my req

[2019-10-11 07:30] MilosMosovsky commented on #1188
@paulica40 Hey, you need to download https://developers.facebook.com/docs/ios/ and put it to `Documents/FacebookSDK` folder (I had same error as you ....)

[2019-10-11 07:32] minhtruong315 commented on #1196
@anshbot did you add sha1 to firebase?

[2019-10-11 07:56] minhtruong315 commented on #1213
You can edit shipping_address.dart in screens/checkout
line 300
[code]

line 421

[code]

[2019-10-11 08:03] kazhuyo commented on #1213
Sorry, late reply, yep, i have change like that, thank you... 👍

[2019-10-11 08:05] souriahost commented on #1197
souriahost@gmail.com this is my email thanks

[2019-10-11 08:10] kazhuyo commented on #1213
another error when coupon applied :

<img width="277" alt="Screen Shot 2019-10-11 at 3 09 52 PM" src="https://user-images.githubusercontent.com/1844792/66635365-4667a780-ec39-11e9-9b32-904d99d8758a.png">

[2019-10-11 08:47] minhtruong315 commented on #1186
@spss20 can you check on other devices? we'll fix this. it's available in next version

[2019-10-11 09:44] paulica40 commented on #1188
did that @MilosMosovsky  thank you, but no luck:) still the same error, i had already FacebookSDK in Documents folder. is it working for you. Also i have remove Google sdk,because i dont really need Admob.

how did you make it work?

[2019-10-11 10:42] PremiumPromotion opened #1214 "API not working"
Hello,
Unfortunately, Ce Builder blocks after saving values in customize section.
I tried with Expo but you may see in the attach that the app is loading, but categories and products not, it says no route.
I tried with e-piesecamioane.ro and also on another site, but same problem.
I think it is something related to Api.

It is working with e-piesecamioane.ro/wp-json/wc/v1 but not with v2 and if i

[2019-10-11 11:52] ZamanGoraya opened #1215 "[Mstore Multi Vendor] - facebook login problem..."
given url is not allowed by the application configuration one or more of the given urls in not allowed by the apps settings. to use this url you must add a native platform in your apps settings

![fb login](https://user-images.githubusercontent.com/52818458/66649830-913ceb80-ec48-11e9-9427-450f454841b1.PNG)

![Screenshot_1570794837](https://user-images.githubusercontent.com/52818458/66649538-df9db

[2019-10-11 12:37] minhcasi commented on #1137
one the mod-headers is enable then you can fix the segment issue - thanks

[2019-10-11 13:18] obadaKraishan commented on #1199
is there any solve to this issue?

[2019-10-11 13:49] rodrigoalves1901 opened #1216 "api does not work"
Good morning, I can't get the api to work. My products do not go up to the app. Generate me the following error.

I/flutter (16738): Error: type '_InternalLinkedHashMap<String, dynamic>' is not a subtype of type 'Iterable<dynamic>'

![image](https://user-images.githubusercontent.com/43248152/66656647-67fe6a00-ec0c-11e9-8124-600cd1ab9c13.png)

[2019-10-11 16:14] #1206 closed

[2019-10-11 17:39] alaaeallam opened #1217 "[EVaStore] - Layout-Related Products"
Hi ,
I've three issues:

1- the related products not working
2- when i'm changing the layout , many products dont show up.
3- products are repeating only for the collection that having more than one page in shopify store.

please find the attached video for more clarification
[EvaStore.mp4.zip](https://github.com/inspireui/support/files/3718900/EvaStore.mp4.zip)

[2019-10-11 17:42] Suhaibaj opened #1218 "I have a problem when Open CeBuilder"
Hi

I have a problem when Open CeBuilder

look to screenshot

![Screen Shot 2019-10-11 at 8 24 31 PM](https://user-images.githubusercontent.com/53709547/66672723-9b221700-ec67-11e9-8c14-8d03c894a9e5.png)

help me please ,
Thanks .

[2019-10-11 18:35] underscore15 opened #1219 "[Fluxstore Pro] - Latest version from codecanyon removed"
1. Need the download for version 1.5.1

2. Screenshots
![Screen Shot 2019-10-11 at 9 34 05 PM](https://user-images.githubusercontent.com/56452467/66675859-e4299980-ec6e-11e9-8f76-3d6c637421d5.png)

[2019-10-12 02:45] minhcasi commented on #1219
@underscore15 - it's hidden by Envato for the quality review, I hope they will enable it again after the review in a few days - thank you!

[2019-10-12 02:45] #1219 closed

[2019-10-12 02:48] minhcasi commented on #1218
@Suhaibaj  - from the Setting pls enable this option - https://tppr.me/VlHC3

You can select Allow app downloaded from "Appstore and identified developers" or AnyWhere

[2019-10-12 02:49] minhcasi commented on #1217
@alaaeallam - thank you for the video, we will double the issue and let you know

[2019-10-12 02:50] minhcasi commented on #1216
@rodrigoalves1901 - could you share your config file here, it seems there is any issue when connecting with the website via Rest API

[2019-10-12 02:53] minhcasi commented on #1215
@ZamanGoraya - Could you check the facebook developer setting?  https://docs.expo.io/versions/latest/sdk/facebook/ - The bundle ID should be matched with your app setting

[2019-10-12 02:57] minhcasi commented on #1208
#1137
@ZamanGoraya - it could releated the server config the not enable the  mod-headers - could you help double-check the server config?

[2019-10-12 02:58] #1207 closed

[2019-10-12 03:01] minhcasi commented on #1205
@govindh163 - please check the config from https://pub.dev/packages/place_picker

It could be missing step of download the google-services or something else, also try to run the app on the device to see if it work, sometime it is not displayed on your simulator due to the Google Play Service on Simulator could not enable.

[2019-10-12 03:28] minhcasi commented on #1217
@alaaeallam - could you help to share your config file as well - thanks

[2019-10-12 05:05] minhcasi commented on #1202
stop support as infringe to the license - https://tppr.me/Yu8sc

[2019-10-12 05:05] #1202 closed

[2019-10-12 05:05] minhcasi commented on #1202
stop support as infringe to the license - https://tppr.me/Yu8sc

[2019-10-12 05:08] kumarrahul-rkv opened #1220 "[Fluxstore Pro - Flutter E-commerce Full App] - Authentication Issue"
---------

1. My issue
When I am trying to log in, It is saying:

`warning: FormatException: Unexpected character (at character 1)
<br />
^`

Consequently, I am not able to login

2. Screenshots

![login](https://user-images.githubusercontent.com/19572222/66695188-09a0bc80-ecdc-11e9-8d5c-ce0724d7e4f6.png)

3. My screenshot of the purchased product or my comment:

![image](https://user-images.githu

[2019-10-12 07:16] govindh163 commented on #1205
https://user-images.githubusercontent.com/52994786/66696878-86886200-eced-11e9-8cba-d8831bcab9c2.png

I think PlacePicker Works Fine!!,
Let us See!!

Gratefully Thanks for Taking your Time to solve @minhcasi

[2019-10-12 08:59] souriahost commented on #1197
please i am not recieved any new source

[2019-10-12 10:59] alaaeallam commented on #1217
[Config.js.zip](https://github.com/inspireui/support/files/3720552/Config.js.zip)

HYG

[2019-10-12 16:19] pixelops opened #1221 "[Fluxstore] - Request to add multi vendor support and vendor name search and catalogue page."
Please add multivendor support for woocomerce, search by vendor name, vendor catalogue page with categories, vendor in filters.

[2019-10-12 17:21] underscore15 commented on #1219
In that case I need the latest version to download, envato still are hiding it.
Can you send it by email or shared link ?

[2019-10-12 17:21] underscore15 commented on #1219
In that case I need the latest version to download, envato still are hiding it.
Can you send it by email or shared link ?

[2019-10-13 00:14] rodrigoalves1901 commented on #1216
import 'package:font_awesome_flutter/font_awesome_flutter.dart';
import 'package:fstore/common/constants.dart';

/// Server config
const serverConfig = {
  "type": "woo",
  "url": "http://lojacellteste.tk",
  "consumerKey": "ck_708e848eb7c9721dbb1c16bc77747b45cc0f646c",
  "consumerSecret": "cs_7990f6c228ec7f038d4a71b0af56f61d7617836a",
  "blog": "http://lojacellteste.tk",
  "forgetPassword": "http

[2019-10-13 00:18] rodrigoalves1901 commented on #1216
[config.txt](https://github.com/inspireui/support/files/3721286/config.txt)

[2019-10-13 02:47] minhtruong315 commented on #1184
no response

[2019-10-13 02:47] #1184 closed

[2019-10-13 02:47] minhtruong315 commented on #1196
no response

[2019-10-13 02:47] #1196 closed

[2019-10-13 02:48] minhtruong315 commented on #1203
no response

[2019-10-13 02:48] #1203 closed

[2019-10-13 02:50] minhtruong315 commented on #1199
you can try to renew your website? I think your website has problem, so it can't add integration

[2019-10-13 03:03] minhtruong315 commented on #1216
@rodrigoalves1901 can you send me config.json file and record me screenshot? it's easy for us to find the issue

[2019-10-13 04:35] minhcasi commented on #1221
Yes sure, we will release new product support for Fluxstore MV soon this month - thank you!

[2019-10-13 04:36] minhcasi commented on #1220
@kumarrahul-rkv  is it possible to share your website admin login to support@inspireui.com - we will help for checking.
The new version will be available to download soon - thanks

[2019-10-13 07:36] EffectiveOG commented on #1184
Okay for today, i will call you on Skype.

Best,
On 13 Oct 2019, at 03:47, minhtruong315 <notifications@github.com> wrote:

﻿

no response

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/inspireui/support/issues/1184?email_source=notifications&email_token=AH6BDKNRZ7QML26JJ7UZTJLQOKD4PA5CNFSM4I54HLZKYY3PNVWWK3TUL52HS4DFVREXG43

[2019-10-13 07:50] maahiraanka commented on #1204
I am having issue with GoogleMobileAds in IOS and there are a lot of people have the same issue, how to solve this issue , tried everything , i can't able to get it work .

cleared the cache , and did everything you mention up , and also went thru google and did every solution possible, what  is wrong with this.

[2019-10-13 10:31] kazhuyo opened #1222 "[Fluxstore Pro] - Item Removed In Codecanyon & related questions ?"
Why in codecanyon item has been removed ?

<img width="797" alt="Screen Shot 2019-10-13 at 5 29 44 PM" src="https://user-images.githubusercontent.com/1844792/66714296-443f4d80-eddf-11e9-87e0-28c05dcbfd8f.png">

[2019-10-13 10:38] kazhuyo commented on #1220
@kumarrahul-rkv fluxstore v1.5.1 don't support special character as password, refer this issue #1185
to solve this problem replace line 411 with this code below and don't forget to update mstore-api plugins in wordpress too :

[code]

let us know if it's working, thank you...

[2019-10-13 11:53] minhtruong315 commented on #1161
we are publish updates. it will fix your issues. pls wait next update

[2019-10-13 11:53] #1161 closed

[2019-10-13 11:53] #1173 closed

[2019-10-13 11:54] minhtruong315 commented on #1220
@kumarrahul-rkv pls update mstore-api plugin. then try again

[2019-10-13 11:55] minhtruong315 commented on #1216
@rodrigoalves1901 please update mstore-api to fix this issue

[2019-10-13 13:56] ZamanGoraya commented on #1190
@minhcasi have you understand my problem...?

[2019-10-13 14:05] panuponj opened #1223 "[Mstore Pro] Nothing Happen after click sign up"
[Mstore Pro] Nothing Happen after click sign up

[2019-10-13 14:15] spss20 commented on #1173
sir why closed, the issue is not resolved yet, you havent given me any
resoultion, no proper resolution given...

On Sun, 13 Oct, 2019, 5:23 PM minhtruong315, <notifications@github.com>
wrote:

[2019-10-13 20:44] luisalexhg commented on #1212
Bro I reported the same error 27 days ago, please fix it...
https://github.com/inspireui/support/issues/1071

[2019-10-13 21:57] lancerynearson opened #1224 "MStore - Shipping"
Is there anyway at all to have the shipping be more then just a few flat rate options? Can what products are in the cart or the shipping address have any variation on the shipping price?

Thanks

[2019-10-14 00:02] minhtruong315 commented on #1212
Yes. we're checking this issue. thanks

[2019-10-14 00:03] minhtruong315 commented on #1212
[order.dart.zip](https://github.com/inspireui/support/files/3722639/order.dart.zip)
can you try to replace order.dart in lib/models?

[2019-10-14 00:19] Senior-Gamal commented on #1212
error in file order.dart
![eee](https://user-images.githubusercontent.com/27568540/66724660-fd764580-ee28-11e9-8788-715bdf311bb7.jpg)

[2019-10-14 00:21] minhtruong315 commented on #1212
[order.dart.zip](https://github.com/inspireui/support/files/3722649/order.dart.zip)
try again

[2019-10-14 03:45] minhcasi commented on #1222
Hi @kazhuyo - it is hidden for a few days for the review from Envato, hope it will back soon.

In the meantime, you can submit this form to download the version from gitlab - https://minh59.typeform.com/to/SspgE0

[2019-10-14 04:55] ZamanGoraya commented on #1208
@minhcasi what is mod-headers...? i have no idea about that...

[2019-10-14 05:11] kazhuyo commented on #1222
@minhcasi Submit Done, thank you 🙏

[2019-10-14 07:13] spss20 commented on #1186
Why the issue is closed without a solution, without a resolution

[2019-10-14 07:27] ZamanGoraya commented on #1215
@minhcasi thank you...! now i have solve my facebook login problem with your help...

[2019-10-14 07:28] #1215 closed

[2019-10-14 07:32] ZamanGoraya commented on #1208
@minhcasi can you help me to resolve my status code 200 to 201...?

i think the problem is in status code...

[2019-10-14 08:01] bawanehcoder opened #1225 "mstore expo confirm order , banner and rtl"
1. My issue
- after building the application i cannot confirm the order. pressing the confirm button does nothing.

- RTL on the application doesnt work

- banner images 2 columns doesnt work

2. Screenshots

![WhatsApp Image 2019-10-14 at 10 58 35 AM (2)](https://user-images.githubusercontent.com/56534904/66736370-a779c000-ee71-11e9-92c5-a134ae8ec979.jpeg)
![WhatsApp Image 2019-10-14 at 10 58 35

[2019-10-14 08:05] souriahost commented on #1197
any updates , 4 days ago you are gonna to send me files no files  get

[2019-10-14 09:23] WorkflowAutomation commented on #1116
It's been too long still, no one solved our solution.

[2019-10-14 10:15] ZamanGoraya commented on #1190
@minhcasi  i have follow these all notifications but ... the problem is still there...

[2019-10-14 10:18] ZamanGoraya commented on #1190
@minhcasi  i have follow all these guides but the problem is still there...

[2019-10-14 11:29] souriahost commented on #1197
hello , any updates ?

[2019-10-14 13:16] MohammedXAbdo commented on #1101
hello there

[2019-10-14 17:09] rodrigoalves1901 commented on #1216
Good afternoon, follow the print.
![image](https://user-images.githubusercontent.com/43248152/66769713-caad6b00-ee83-11e9-8eea-e55e4b83f44e.png)

[2019-10-14 17:50] Ca3aH138 opened #1226 "[fluxstore] - checkout customize"
Hello!
I need help with customizing checkout screen in Fluxstore app.
There's too much fields, but I need only next:
firstName, City, Adress, phone number.
It's because i'm selling products only in Russia, in my region.
If i will delete extra fields, i'll get error while checkout - invalid billing, shipping parameter.
I added to usual text fields - initialValue fields, but country is not text fiel

[2019-10-14 18:23] luisalexhg commented on #1212
still not working
- 10% disccount applied
![Uploading Captura de Pantalla 2019-10-14 a la(s) 13.14.20.png…]()

- Disccount not applied.
![Captura de Pantalla 2019-10-14 a la(s) 13 14 45](https://user-images.githubusercontent.com/28818275/66773911-c8e4a700-ee85-11e9-9469-c0fa4d6e24e2.png)

[2019-10-14 18:24] luisalexhg commented on #1212
still not working

10% disccount applied
![Captura de Pantalla 2019-10-14 a la(s) 13 14 20](https://user-images.githubusercontent.com/28818275/66773945-e580df00-ee85-11e9-9328-dfa74695b006.png)

Disccount not applied.
![Captura de Pantalla 2019-10-14 a la(s) 13 14 45](https://user-images.githubusercontent.com/28818275/66773949-e87bcf80-ee85-11e9-9048-afcf31d89794.png)

[2019-10-14 22:08] Senior-Gamal commented on #1212
Disccount not applied.

[2019-10-14 22:31] minhtruong315 commented on #1212
We fixed coupon. it'll be available in next release

[2019-10-14 22:31] #1212 closed

[2019-10-14 22:33] minhtruong315 commented on #1216
pls send me file config.dart file, config.json file and record video issues

[2019-10-14 22:50] minhtruong315 commented on #1213
@kazhuyo we fixed coupon. it will be available in next release. thanks

[2019-10-14 22:50] #1213 closed

[2019-10-14 22:50] minhtruong315 commented on #1199
no response

[2019-10-14 22:50] #1199 closed

[2019-10-14 22:52] minhtruong315 commented on #1071
I fixed shipping and coupon. i will be available in next release. thanks

[2019-10-14 23:15] luisalexhg commented on #1212
when will it be available?

[2019-10-15 02:41] Senior-Gamal commented on #1212
There are many problems that need to be solved with the next release

[2019-10-15 04:49] ZamanGoraya commented on #1190
@luyx2412 @vumanhsn97 @minhcasi  Can any body help me...?

[2019-10-15 04:50] ZamanGoraya commented on #1208
@luyx2412 @vumanhsn97 @minhcasi Can any body help me...?

[2019-10-15 05:32] sfoulad opened #1227 "[List App] - Call issue"
Hi,
on iOS when i click call i get the attached error

how can i fix it ?

Item Purchase Code: 53f5da40-3fee-42cf-bbe1-2f5fae1b6ead

![WhatsApp Image 2019-10-15 at 07 18 01](https://user-images.githubusercontent.com/53208725/66802732-1fa1bd80-ef26-11e9-9569-250a674c5696.jpeg)

[2019-10-15 07:20] ZamanGoraya opened #1228 "[Mstore Multi Vendor] how to enable chat...?"
![Mstore chat problem](https://user-images.githubusercontent.com/52818458/66809135-30fac200-ef46-11e9-982a-42a9363baedc.PNG)

[2019-10-15 07:42] kandohi opened #1229 "Fluxstore - magento"
I'm using on Magento 2.2.5,

when i click on category, the product doesn't show and error with no product found

The payment method of cod and bank transfer are not showing

Guest Checkout is not working

Orders History is not showing.
kindly check

[2019-10-15 07:42] kandohi commented on #1229
using fluxpro ecommerce

[2019-10-15 08:27] govindh163 commented on #1205
Self Solved -- mismatching of API key Now the MAps works Good!

[2019-10-15 08:45] #1139 closed

[2019-10-15 09:04] #1218 closed

[2019-10-15 09:07] minhcasi commented on #1179
As there is no reponse we will close the ticket, kindly reopen it if you still have an issue - thank you!

[2019-10-15 09:07] #1179 closed

[2019-10-15 09:08] minhcasi commented on #1165
As there is no response we will close the ticket, kindly reopen it if you still have an issue - thank you!

[2019-10-15 09:08] #1165 closed

[2019-10-15 09:12] minhcasi commented on #1229
@kandohi - could you show your purchase screenshot from https://codecanyon.net/downloads - pls take the screenshot that include your username - thank you!

[2019-10-15 09:25] obadaKraishan opened #1230 "[FluxStore] - Product not shown"
I'm using on Magento 2.3.0,

when i click on category, the product doesn't show and it's only shown the No Product

[2019-10-15 09:26] obadaKraishan commented on #1230
![sw](https://user-images.githubusercontent.com/28910488/66819061-f80f1d00-ef46-11e9-8796-bf2caa65c3f6.jpg)

[2019-10-15 09:28] Pars1vaLl opened #1231 "[Fluxstore] - How to add left menu & Sms sign-up"
Hi team,

Kindly ask you to answer to my questions:

 1. Please describe in more details adding of 'Left Menu Side'. https://docs.inspireui.com/fluxstore/home-layout/

2. When user signs up - the list of all countries appears. I would like to remove all countries beside Russia in that list.

Here is my purchase code: https://user-images.githubusercontent.com/45024483/63820143-9af0e500-c961-11e9-80

[2019-10-15 09:51] concuacon commented on #1197
@souriahost sorry for late, I sent to your email, pls check and feedback to me.

[2019-10-15 09:58] concuacon commented on #1223
@panuponj please check your plugin installed, Check to see if the Mstore API plugin is available? and remember to activate the JSON API plugin
https://wordpress.org/plugins/mstore-api/#reviews

[2019-10-15 10:21] concuacon commented on #1214
@PremiumPromotion can you attach your config and screenshot??

[2019-10-15 10:40] 007asom opened #1232 "[MStore Pro] - FAILURE: Build failed with an exception"
Hello
there is an issue with building apk file. I'm working in the file you send it to me here
https://github.com/inspireui/support/issues/1179
The steps I did from here:
https://facebook.github.io/react-native/docs/0.60/signed-apk-android

FAILURE: Build failed with an exception.

* Where:
Script '/Users/xxx/Downloads/mstore-expo/node_modules/@react-native-community/cli-platform-android/native_mo

[2019-10-15 10:45] concuacon commented on #1209
@aariasp You can change the default system language on Settings -> General -> Language & Region to fix issue

[2019-10-15 10:59] concuacon commented on #1204
@maahiraanka can you send your source to tuan@inspireui.com via wetransfer.com

[2019-10-15 11:09] concuacon commented on #1174
@amit81 you can follow this link, it helps you fix this issue.
https://github.com/facebook/react-native/issues/25483#issuecomment-508446776

[2019-10-15 11:09] concuacon commented on #1188
@MilosMosovsky it works?
@paulica40 you can try to check again docs of react-native-fbsdk: https://developers.facebook.com/docs/ios/getting-started/

[2019-10-15 12:51] minhcasi commented on #1160
fixed on 3.9.6 - we will release soon

[2019-10-15 12:52] minhcasi commented on #1164
fixed on 3.9.6 - we will release soon in 1-2 days - thank you!

[2019-10-15 12:54] minhcasi commented on #1224
Hi, the current release only supports for the first zone with multi shipping options, but we are working new feature to support multi zone+shipping (this is quite complex features) - thank you!

[2019-10-15 12:54] #1224 closed

[2019-10-15 12:55] minhcasi commented on #1225
Hi, could you help to check this solution - https://docs.inspireui.com/mstore/questions/#404-error-page-when-process-the-payment- - thank you!

[2019-10-15 13:01] minhcasi commented on #1208
same root cause with #1228

[2019-10-15 13:02] minhcasi commented on #1208
you can share your hosting info to support@inspireui.com - we will help for checking

[2019-10-15 13:06] lancerynearson commented on #1224
I can imagine, I have been working on this app for a month, it’s so, so amazing. It’s the best this on code canyon. But I’m at a lose as I waited to the end to do shipping never in a million year thinking it would be so limited, based on how powerful the rest of it is. I have a Nov 1st release date setup, there’s even a lunch party. What should I do? I’m assuming what your working on is a way off?

[2019-10-15 17:44] obadaKraishan commented on #1230
![Screen Shot 2019-10-15 at 8 43 59 PM](https://user-images.githubusercontent.com/28910488/66855789-92de1a80-ef8c-11e9-8740-a7c5bad0deb6.png)

[2019-10-15 18:23] alaaeallam commented on #1217
Hello,

any news

[2019-10-15 19:00] luisalexhg commented on #1071
brother, the coupon and the chosen shipping method only works with the COD payment, with the woocommerce payment the coupon does not apply, and in the shipping method, it does not matter which shipping method you choose, always use the first one... still not working for those of us who use webview from WooCommerce, please fix it.

Just with this solution a complete application could be launched to

[2019-10-15 19:01] luisalexhg commented on #1212
The coupon and the chosen shipping method only works with the COD payment, with the webview payment the coupon does not apply, and in the shipping method, it does not matter which shipping method you choose, always use the first one... still not working for those of us who use webview payment, please fix it.

[2019-10-15 20:12] Senior-Gamal opened #1233 "fluxstore - error in new Version: 1.5.5"
---------

 My issue

1 -error in file chat_screen.dart
2 - and in app closed the notification is not arrival
and No notification sound

2. Screenshots
![error](https://user-images.githubusercontent.com/27568540/66866061-d2126880-ef98-11e9-9b1b-3b6f64c30f1d.jpg)

3. My screenshot of the purchase product or my comment:
https://user-images.githubusercontent.com/27568540/66625373-4e512880-ebf4-11e9-9

[2019-10-15 20:31] spss20 commented on #1186
plz solve my razorpay integration issue in app

[2019-10-15 23:54] minhtruong315 commented on #1220
no response

[2019-10-15 23:54] #1220 closed

[2019-10-16 02:39] Ca3aH138 commented on #1226
Please help me
How to hide extra fields or delete them without error on checkout?

[2019-10-16 02:40] thangvo9x commented on #1227
Hi bro. Could you share your AppConfig for checking? Thanks

[2019-10-16 02:51] #1160 closed

[2019-10-16 02:52] minhtruong315 commented on #1071
can you send me video issue?

[2019-10-16 03:27] concuacon commented on #1217
@alaaeallam  sorry for the delay, can you send me your AppConfig.json file?

[2019-10-16 03:53] Ca3aH138 commented on #1226
It's was so hard, but i did this.
I have deleted all extra fields from shipping_address.dart
and then deleted all connected fields from
payment.dart model, address.dart model, payment.dart screen, paypal & razor & tap payment index.dart files and it's worked!
I couldn't beelive when it's builded with any errors and when i can to make an order with my customized checkhout form... So much emotins...

[2019-10-16 03:53] #1226 closed

[2019-10-16 04:15] immortal-kid opened #1234 "[fluxstore] - build failed"
1. my purchase http://prntscr.com/pjvdg2

2. i downloaded new version 1.5.5 and i found this error while running.
error: http://prntscr.com/pjvcvm

How can i fix this?

[2019-10-16 05:52] luisalexhg commented on #1071
Sure, here are all details:
URL video: https://bit.ly/2pqNccg
I noticed that the shipping methods and coupon discounts only work correctly with the COD payment method, but not with those of the web view.

**Process with COD Payment method**
0:10 - (OK) I use coupon of 50% discount.
0:15 - (OK) shows all shipping methods with their prices from my Shipping Zone, here I choose FREE SHIPPING.
0:22 - (

[2019-10-16 06:23] minhcasi commented on #1230
@obadaKraishan - could i confirm it is the Fluxstore latest version 1.5.5 ?

[2019-10-16 06:26] minhcasi commented on #1230
can you show the confile file as well?

[2019-10-16 06:27] obadaKraishan commented on #1230
Yes

![Screen Shot 2019-10-16 at 9 26 41 AM](https://user-images.githubusercontent.com/28910488/66893596-192f4680-eff7-11e9-9d2e-3b8d908540d3.png)

[2019-10-16 06:28] obadaKraishan commented on #1230
[config.json.zip](https://github.com/inspireui/support/files/3732715/config.json.zip)

[config.dart.zip](https://github.com/inspireui/support/files/3732716/config.dart.zip)

[2019-10-16 06:39] minhcasi commented on #1231
@Pars1vaLl  - we will update the document to clarify more detail your 2 questions and keep update on this ticket - thank you!

[2019-10-16 06:42] minhcasi commented on #1228
@ZamanGoraya  - the chat is only displayed when matching with this condition - https://tppr.me/M7f4S - from the detail component - thanks

[2019-10-16 06:43] minhcasi commented on #1230
noted for checking, we will get back shortly - thanks!

[2019-10-16 07:32] minhcasi commented on #1233
@Senior-Gamal  - pls help to remove the chat folder or download latest 1.5.5b

"deprecated the Firebase Chat due to cloud_firestore slow running build issue #349, #37582"

[2019-10-16 07:54] obadaKraishan commented on #1230
Thank you i am waiting

[2019-10-16 08:24] concuacon commented on #1135
@Faisal4025 i fixed that issue, can you attach your mail? i send to you new source.

[2019-10-16 08:30] ZamanGoraya opened #1235 "[Mstore Multi Vendor] - kindly help me how to generate apk in windows using mstoremv-cli…?"
![apk cli](https://user-images.githubusercontent.com/52818458/66902029-5d334300-f019-11e9-9aa6-fc0b5b2db6cc.PNG)

hy…! kindly help me how to generate apk in windows using mstoremv-cli…?

[2019-10-16 08:34] ZamanGoraya commented on #1137
@Hamzanisar A.O.A.
Can you help me how to generate apk in windows using cli version...?

[2019-10-16 08:41] minhtruong315 commented on #1230
![Simulator Screen Shot - iPhone X - 2019-10-16 at 15 40 55](https://user-images.githubusercontent.com/10402500/66902746-60cfc580-f02b-11e9-9758-ca2ab0e5980a.png)
I checked your config.it still show data. can you record video issue?

[2019-10-16 08:45] obadaKraishan commented on #1230
sorry i have shared other project files

[config.dart.zip](https://github.com/inspireui/support/files/3733306/config.dart.zip)
[config.json.zip](https://github.com/inspireui/support/files/3733307/config.json.zip)

[2019-10-16 08:45] obadaKraishan commented on #1230
check these for magento project

[2019-10-16 08:58] Pars1vaLl commented on #1231
Hi @minhcasi , could you please tell me how much time it will take? Approximately.
Or it would be better if you share with me the information here.

Thanks in advance=)

[2019-10-16 09:03] minhtruong315 commented on #1230
@obadaKraishan Replace these functions in services/magento.dart
[code]
Add replace kAdvanceConfig in config.dart
[code]

[2019-10-16 09:08] minhtruong315 commented on #1071
@luisalexhg are you using payment webview?

[2019-10-16 09:09] obadaKraishan commented on #1230
i will check and let you know, thank you!

[2019-10-16 09:16] alaaeallam commented on #1217
[AppConfig.json.zip](https://github.com/inspireui/support/files/3733435/AppConfig.json.zip)

HYG

[2019-10-16 09:18] obadaKraishan commented on #1230
Perfect thannk you !

[2019-10-16 09:18] #1230 closed

[2019-10-16 09:42] kandohi commented on #1229
![image](https://user-images.githubusercontent.com/56577488/66907698-30842900-f023-11e9-8d3e-ed874955fc22.png)

[2019-10-16 10:05] Therocky20 opened #1236 "[my-product] - fluxstore woocommerce"
---------

1. My issue - Problems with wire transfer and paypal apis rest. It doens't work on LIVE mode only on SANDBOX

2. Screenshots

![Screenshot_1571216551](https://user-images.githubusercontent.com/54363592/66909458-17707d80-f00d-11e9-9703-a1eecd703930.png) here is paypal infinite loading
![Screenshot_1571220247](https://user-images.githubusercontent.com/54363592/66909479-20614f00-f00d-11e9-

[2019-10-16 10:06] concuacon commented on #1217
@alaaeallam I fixed it, I'll update next version, if you want update now, you can send me your email.

[2019-10-16 10:07] alaaeallam commented on #1217
alaaeallam@gmail.com

[2019-10-16 10:07] alaaeallam commented on #1217
thank you

[2019-10-16 10:13] concuacon commented on #1217
@alaaeallam please check mail, I sent it to you via wetransfer.

[2019-10-16 10:13] minhtruong315 commented on #1236
<img width="338" alt="Screen Shot 2019-10-16 at 5 12 43 PM" src="https://user-images.githubusercontent.com/10402500/66910188-49e3a000-f038-11e9-8c1c-64368e15a3cb.png">
pls update production to true if you wanna use live

[2019-10-16 10:15] maahiraanka commented on #1204
Done please check

On Tue, Oct 15, 2019 at 9:59 PM concuacon <notifications@github.com> wrote:

[2019-10-16 10:15] alaaeallam commented on #1217
@concuacon  received , thanks for your support.
will check and keep you posted.

[2019-10-16 10:25] alaaeallam commented on #1217
@concuacon  its working fine thanks

[2019-10-16 10:41] concuacon commented on #1217
Hi, we're glad that it help, please give us some feedback/rating to this page https://codecanyon.net/downloads if the product is helpful for your business, we are working hard to update more awesome and powerful features on next coming version release. Let us know if you have any feedback. Thank you very much! :blush:

[2019-10-16 10:41] #1217 closed

[2019-10-16 10:46] concuacon commented on #1127
@PremiumPromotion you can add my skype: pvtuan1707, I'll connect remotely to your desktop to check for you.

[2019-10-16 10:51] concuacon commented on #1204
@maahiraanka okay, I'll check and feedback to you soon

[2019-10-16 10:58] concuacon commented on #1140
@outlawcode You can read their docs more carefully, it's easy to understand and also includes illustrations: https://documentation.onesignal.com/docs/react-native-sdk-setup
or you can watch this playlist video: https://www.youtube.com/watch?v=a6IbOomdRjI&list=PLhPm0UV2CvUAVBR74-AbUzYcEfAHNOajX

[2019-10-16 10:58] #1140 closed

[2019-10-16 11:55] 007asom commented on #1232
Hi
I fix the first issue. now there is a new one.

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:bundleReleaseJsAndAssets'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

Deprecated Gradle features

[2019-10-16 12:32] luisalexhg commented on #1071
Yes, COD too are fron Woo payment, look my site checkout dermalink.pe

[2019-10-16 12:37] Therocky20 commented on #1236
ok thank you. Please check also wire transfer problem

[2019-10-16 12:51] Faisal4025 commented on #1135
thanks, this is my email
brandspioneer@gmail.com

[2019-10-16 13:27] minhcasi commented on #1235
Hi, could we know what is your installing issues so far?

[2019-10-16 14:27] obadaKraishan opened #1237 "[FluxStore] - Translation not working in Magento!"
Hi,

In my APP even if i change the locate language to Arabic and i have added Arabic store view and i have translate all the products but still in the app it shown the english for magento

![Screen Shot 2019-10-16 at 5 22 36 PM](https://user-images.githubusercontent.com/28910488/66928435-09852180-f03a-11e9-95f8-d59682a44acc.png)

![Screen Shot 2019-10-16 at 5 22 53 PM](https://user-images.githubu

[2019-10-16 14:45] souriahost commented on #1197
@concuacon hello mr l received your new source and generated apk from same your source and i had same crashes

[2019-10-16 16:27] #1234 closed

[2019-10-16 16:39] VikashMLRS opened #1238 "Theme Installation Issues."
Try to integrate Theme from following path - eStore-1.3.0\Source\mobile-evastore-theme>expo start
But i get error message :
Invalid regular expression: /(.*\\__fixtures__\\.*|node_modules[\\\]react[\\\]dist[\\\].*|website\\node_modules\\.*|heapCapture\\bundle\.js|.*\\__tests__\\.*)$/: Unterminated character class

Metro Bundler process exited with code 1
![image](https://user-images.githubusercont

[2019-10-16 16:42] immortal-kid opened #1239 "[fluxstore] - pincode issue"
my purchase http://prntscr.com/pjvdg2

**1**.i have added these http://prntscr.com/pk677m pincodes in shipping zone because we only ship to those places, but in app it is taking any random pincodes and letting place order
Error: http://prntscr.com/pk6970.

**2.** Pincode is limited to 6 digit right? but pincode field is taking any random numbers more than 6 digits http://prntscr.com/pk69qc.

**3.*

[2019-10-16 17:16] ZamanGoraya commented on #1235
when in send command exp build:android it gives error on build ios.

[2019-10-16 17:28] concuacon commented on #1197
@souriahost Can i remote to your desktop to see the problem?

[2019-10-16 20:01] ZamanGoraya commented on #1235
![cli apk error](https://user-images.githubusercontent.com/52818458/66954315-9c917c00-f079-11e9-8181-a2858d6cb12e.PNG)

[2019-10-16 22:23] aariasp commented on #1209
There’s no settings menú...

Enviado desde mi iPhone

[2019-10-17 00:03] minhtruong315 commented on #1236
do your website work with wire transfer?

[2019-10-17 00:04] minhtruong315 commented on #1216
no response

[2019-10-17 00:04] #1216 closed

[2019-10-17 00:07] minhtruong315 commented on #1071
I can't make an order in your website. is your website working well?

[2019-10-17 00:47] minhtruong315 commented on #1186
https://www.dropbox.com/s/jssaubfwaj4cfki/Untitled.mov?dl=0
i see it's working well?

[2019-10-17 01:08] minhcasi commented on #1239
Thank you for your great feedback, we will investigate a solution to fix on next release, it makes sense to focus for the multi shipping options and allow to config as default country.

Could you share the config files so that we could a have check as well ?

[2019-10-17 01:10] minhcasi commented on #1238
@VikashMLRS - could you share proof of purchased by take the screenshot from - https://codecanyon.net/downloads - thank you!

[2019-10-17 01:12] minhcasi commented on #1237
noted for investigating - thanks

[2019-10-17 01:13] minhcasi commented on #1229
@kandohi - thank you for the update, could help to share your configs files so that we could check the integration on your website? Thanks

[2019-10-17 01:26] immortal-kid commented on #1239
until then can u tell me how to add dropdown in pincode field for 7 pincodes?

https://api.flutter.dev/flutter/material/DropdownButton-class.html i saw this link but i couldn't do it. plzzzz

[2019-10-17 01:58] immortal-kid commented on #1239
for config file, check the mail with subject #1239 fluxstore

[2019-10-17 02:10] minhtruong315 commented on #1237
The current feature does not support multi language for the Magento yet, due to the limit of Rest API, we will upgrade on later release - thank you!

[2019-10-17 02:15] harry503 opened #1240 "[mstore-pro] - How to setup onesignal push notification?"
1. The instruction in https://docs.inspireui.com/mstore/push-notification/ does not match with the file in 3.9.5

- For IOS, I cannot find anything in AppDelegate.m for self.oneSignal = [[RCTOneSignal alloc] initWithLaunchOptions:launchOptions appId:@ YOUR-APP-ID]

- For Android, I cannot find anything in android/app/build.grade for manifestPlaceholders = [onesignal_app id: "APP_ID ", onesignal_go

[2019-10-17 02:19] minhtruong315 commented on #1229
@kandohi can you check this solution to fix no product
https://github.com/inspireui/support/issues/1230#issuecomment-542603165

The payment method of cod and bank transfer are not showing
Guest Checkout is not working
Orders History is not showing.
Guest checkout is only available for woo commerce. if you're using magento, you should disable that function
You must login before checkout

[2019-10-17 03:41] binhetc opened #1241 "[Mstore pro] - Cannot build in Xcode 11"
Hello,
I tried to build with Xcode 11 but I get that issue:
no such file or directory: '/Users/meocon/Downloads/mstore-3.9.5/mstore-pro/node_modules/react-native/ReactCommon/jsinspector/InspectorInterfaces.cpp'
![Ảnh chụp Màn hình 2019-10-17 lúc 10 36 57](https://user-images.githubusercontent.com/13253563/66976037-a0012380-f0ca-11e9-92af-89e5606463e2.png)

[2019-10-17 03:55] minhcasi commented on #1240
@harry503 - the folder ios and android will be available from the mstore-pro

The mstore-expo is support to build with Expo framework - thank you!

[2019-10-17 04:00] harry503 commented on #1240
We are using the Pro version v 3.9.5

But as i mentioned that the current code does not match with the documentation. Line of code that was mentioned in IOS and Android was not found in the android / ios folder.

So, I only set it up in Config.js.

Is it because the setup is changed and you guys made it easier just by putting the app id of the onesingnal in the config file and not need to set any

[2019-10-17 04:11] luisalexhg commented on #1071
Yes, all good, I just placed an order..

[2019-10-17 04:14] concuacon commented on #1135
@Faisal4025 i sent to your mail via wetransfer, please check and feedback to me.

[2019-10-17 04:27] concuacon commented on #1232
@007asom
Hello, you try run: cd android/ && ./gradlew clean && cd ../ && react-native run-android
Can you follow link:
https://github.com/react-native-community/async-storage/issues/49
https://stackoverflow.com/a/52068632/5295046

[2019-10-17 04:37] concuacon commented on #1241
@binhetc
Hello, you can try to follow by step:

1. In Xcode clean build **Command+Shift+K** and close Xcode.

2. Open terminal cd to project and run: rm -rf node_modules/ && yarn && cd ios/ && rm -rf Pods/ && rm -rf Podfile.lock && pod install && cd ../

3. Open Xcode:

- File -> Project/Workspace settings

- Build System: dropdown -> change to Legacy Build system

- Run app.

[2019-10-17 05:58] obadaKraishan commented on #1237
ohh okay that's the issue, Thank you

[2019-10-17 05:58] #1237 closed

[2019-10-17 05:59] Riyashanke opened #1242 "[Mstore pro] - IN Mstore EXPO Payment Gateway not working & CeBuilder cannot run Mstore Pro setup for iOS, Android"
---------

1. Sir facing issues in Payment gateways. Only COD works fine remaining payment gateway like Razorpay, PayPal not working just keep on loading and loading. kindly guide me ASAP sir. We are on the edge of launching the app.

2. Screenshots
![screenshot of loading](https://user-images.githubusercontent.com/56667597/66981283-df327300-f0d0-11e9-956c-8c06ad4701cf.PNG)
Config.js Screenshot
![

[2019-10-17 06:19] VikashMLRS commented on #1238
![image](https://user-images.githubusercontent.com/52529480/66982625-2f5f0480-f0d4-11e9-8466-5966c5e08515.png)

[2019-10-17 06:42] Riyashanke commented on #261
Am also facing the same issues for Mstore Pro. How to solve this kindly guide me

[2019-10-17 06:57] immortal-kid commented on #1161
splashscreen bug not fixed in 1.5.5c

[2019-10-17 07:13] Ca3aH138 opened #1243 "[fluxstore] Cyrillic fonts not correctly showing on home screen"
In the app - all connected fonts working fine, russian symbols showing correctly. On home screen product names showing correctly too. But widget heading on home page showing as broken symbols.
I'm connected my config.json file on hosting by config.dart file in app:
![5da7675523692698528549](https://user-images.githubusercontent.com/10209815/66985753-1fd8bf00-f0c6-11e9-94a9-bb2c1ca73b9e.jpeg)
Using

[2019-10-17 07:35] Ca3aH138 commented on #1243
I'm also tried to write font style for widgets/horizontal/horizontal_list_items.dart and searched for any place, where it can be written - but unsuccessfully

[2019-10-17 07:52] souriahost commented on #1197
@concuacon yes you can but problem there was in mobile ? can you remote to my phone  ?

[2019-10-17 08:26] ZamanGoraya commented on #1228
but when i do login the chat button is watchable but not clickable... this was my problem... can you help me...?

[2019-10-17 08:42] souriahost commented on #1197
[WhatsApp Video 2019-10-17 at 11.23.59.mp4.zip](https://github.com/inspireui/support/files/3738224/WhatsApp.Video.2019-10-17.at.11.23.59.mp4.zip)
@concuacon you can see problems in this video

[2019-10-17 09:33] 007asom commented on #1232
thank you very much it works now when I used the "react-native run-android". The APK file not working well, it is crashed.

[2019-10-17 10:26] concuacon commented on #1232
@007asom Please open the android studio and run the app then show me the log in Android Studio.

[2019-10-17 10:27] concuacon commented on #1197
You can add my skype: pvtuan1707

[2019-10-17 11:09] Riyashanke commented on #1242
CeBuilder cannot run Mstore Pro setup for iOS, Android it shows.
“cebuilder.sh” can’t be opened because Sandbox is not allowed to open documents in Terminal.

[2019-10-17 12:11] binhetc commented on #1241
It works for me, thank you concuacon!

[2019-10-17 12:51] Therocky20 commented on #1236
yes of course its all enabled and configured

[2019-10-17 13:23] souriahost commented on #1197
@concuacon i added you my mohammed faisal

[2019-10-17 13:23] souriahost commented on #1197
@concuacon i added you my is mohammed faisal

[2019-10-17 18:36] concuacon commented on #1241
Hi, we're glad that it help, please give us some feedback/rating to this page https://codecanyon.net/downloads if the product is helpful for your business, we are working hard to update more awesome and powerful features on next coming version release. Let us know if you have any feedback. Thank you very much! :blush:

[2019-10-17 18:36] #1241 closed

[2019-10-17 19:05] luisalexhg commented on #1071
Could you place the order from the web?

[2019-10-18 01:09] minhcasi commented on #1205
Thank you!

[2019-10-18 01:09] #1205 closed

[2019-10-18 01:10] minhcasi commented on #1205
@govindh163 - please help to us for the review from https://codecanyon.net/downloads - appreciated for your help - very best!

[2019-10-18 01:18] minhcasi commented on #1240
@harry503 - i will double-check with the technical team and will get back with you soon

@concuacon - pls suggestion

[2019-10-18 01:23] minhcasi commented on #1225
@bawanehcoder - pls try to update latest 3.9.6 to fix these issues - thank you!

[2019-10-18 01:23] #1225 closed

[2019-10-18 01:23] minhcasi commented on #1223
Also try to update the latest 3.9.6 to fix this issues, make sure to replace the mstore-checkout with latest mstore-api - https://wordpress.org/plugins/mstore-api/

[2019-10-18 01:23] #1223 closed

[2019-10-18 01:25] minhcasi commented on #1164
updated 3.9.6 - pls update the latest plugin https://wordpress.org/plugins/mstore-api/  and enable the option from the Setting / Json API - https://docs.inspireui.com/mstore/wordpress-setting/#enable-the-rest-api-controller-1

- thanks

[2019-10-18 01:25] #1164 closed

[2019-10-18 01:28] minhcasi commented on #919
@alho00ot - pls update latest 3.9.6 for the fixing - also replace the mstore-checkout with mstore-api - https://wordpress.org/plugins/mstore-api/

Let us know your checking and reopen the ticket if you still have an issues - thank you!

[2019-10-18 01:28] #919 closed

[2019-10-18 04:53] ZamanGoraya commented on #1235
@minhcasi ...?

[2019-10-18 05:09] concuacon commented on #1204
@maahiraanka please check your mailbox, i sent to you via wetransfer

[2019-10-18 05:50] ZamanGoraya commented on #1235
PS F:\native\Bazar3\New\mstore-multi-vendor-v1.3.1\mstore-mv-cli> cd android
PS F:\native\Bazar3\New\mstore-multi-vendor-v1.3.1\mstore-mv-cli\android> ./gradlew bundleRelease

Installing unimodules:
 unimodules-core@1.0.0 from F:\native\Bazar3\New\mstore-multi-vendor-v1.3.1\mstore-mv-cli\node_modules\@unimodules\core
 unimodules-react-native-adapter@1.0.2 from F:\native\Bazar3\New\mstore-multi-ven

[2019-10-18 05:55] ZamanGoraya commented on #1235
i have used an other method "Publishing to Google Play Store" by Generating an upload key and the error was which i upload...

[2019-10-18 06:25] #1188 closed

[2019-10-18 07:01] immortal-kid opened #1244 "[fluxstore] - splashscreen bug and some queries"
Sent u a mail with the subject [immorta kid bugs] along with purchase key, screen recording and screenshots and config details for support@inspireui.com, please check it and reply me.

[2019-10-18 07:16] concuacon commented on #1209
@aariasp are you sure?
<img width="435" alt="Screen Shot 2019-10-18 at 2 15 29 PM" src="https://user-images.githubusercontent.com/11958061/67073700-db2a5200-f1b1-11e9-885e-99b85f206cb8.png">

[2019-10-18 07:21] thangvo9x commented on #1029
Hi. The custom taxonomies can not be get from the WordPress website.

[2019-10-18 07:24] thangvo9x commented on #1068
Hi. I'm a new supporter. Please brief your question. Could you share the AppConfig file ?

[2019-10-18 07:28] Therocky20 opened #1245 "[my-product] - Fluxstore Woocommerce version 1.5.5"
---------

1. My issue -  I have problems when i try to run in debug mode the app.
for the product license i have already some tickets opened i will let see the license in phase of support.

2. Screenshots - here is the screenshoot
![android](https://user-images.githubusercontent.com/54363592/67074506-912d7600-f189-11e9-8e57-aa4d0b5874e0.jpg)

[2019-10-18 07:29] thangvo9x commented on #1182
Hi. I can't see your AppConfig file. Please share and brief more your issue. such as Do you have change the category Id on your website

[2019-10-18 07:34] Ca3aH138 commented on #1243
I'm also checked name on english - working fine too, but on russian with any font - broken symbols. Please help me, I need to complete this project for customer...

[2019-10-18 07:42] immortal-kid commented on #1245
i updated kotlin, after that i ran flutter clean, it fixed

[2019-10-18 07:51] anwark commented on #1182
Where I can find - AppConfig ?
No, i have not change the category Id on your website please tell me how i can ?

[2019-10-18 07:53] anwark commented on #1182
Where I can find - AppConfig ?
No, i have not change the category Id on your website please tell me how i can ?

[2019-10-18 08:16] spss20 commented on #1186
Sir, why are you telling lie, you also knew that it was working on emulator, yeah i accept that, but its not working in real device, You debugged also that day and saw the problem yourself.

[2019-10-18 08:25] wedanbusiness opened #1246 "[MStore Magento] - Version Issue"
1. My issue:
Right now I have installed expo 3.3.0. When running this, I get error saying SDK version must at least 33.0.0. Upon checking the package.json and app.json, version is only 32. How can I solve this issue?

2. Screenshots
[https://ibb.co/7bWTYNX](url)

3. My screenshot of the purchase product or my comment:
https://ibb.co/vPhL2rP

[2019-10-18 09:14] thangvo9x commented on #1191
Hi. Please share your AppConfig file for checking?

[2019-10-18 09:15] minhcasi commented on #1186
@spss20  - I'm testing on my iphone X and samsung S9, it's working well, what's your device?

Could you able run the Test Drive example on your device as well ?

[2019-10-18 09:17] mpapado3 commented on #1093
I can send you later the AppConfig that I will have access on my PC.
But what I have noticed is that the reviews made from the mobile app are set on comments on WP and the reviews made on Listing application are set as reviews on the theme.

[2019-10-18 10:06] Therocky20 commented on #1245
i solved alone

[2019-10-18 10:15] Therocky20 opened #1247 "[my-product] - Fluxstore woocommerce 1.5.5 Shipping problems"
---------

1. My issue - I have problem with shipping.

2. Screenshots
![Screenshot_1571393681](https://user-images.githubusercontent.com/54363592/67086429-0193c180-f1a1-11e9-81a2-ac8795263ad8.png)

3. My screenshot of the purchase product or my comment: i will give purchase code

[2019-10-18 10:19] #1245 closed

[2019-10-18 11:38] minhcasi commented on #1243
@Ca3aH138  - pls edit the font name from common/styles.dart - https://tppr.me/QR7It - We display the header as the Roboto so that not work with Russian as your screenshot.

[2019-10-18 11:56] spss20 commented on #1186
could you connect to me on teamviewer , i'll show you the problem. I am using Xiaomi Redmi Y2

[2019-10-18 12:06] minhcasi commented on #1186
There are some known crash issues on Redmi on Flutter could be similar to your issues:
- https://github.com/flutter/flutter/issues/36822
- https://github.com/flutter/flutter/issues/31603
- https://github.com/flutter/flutter/issues/18351

We also do some testing on other devices Samsung and Pixel, they works fine

[2019-10-18 12:07] hungnguyen9276 commented on #1191
Here is Appconfig.js
<img width="641" alt="Screen Shot 2019-10-18 at 19 06 07" src="https://user-images.githubusercontent.com/25025251/67092814-6b7c8d00-f1da-11e9-95c6-c575e5df2472.png">

[2019-10-18 12:08] spss20 commented on #1186
wait, let me check

[2019-10-18 12:13] spss20 commented on #1186
I have tested on Xiaomi , Oppo, Vivo, Samsung, Sony devices. Same problem occuring. Please solve it. Connect with me on teamviewer and fix it.

[2019-10-18 12:19] #1242 closed

[2019-10-18 12:33] Riyashanke opened #1248 "[MStore Pro] - “cebuilder.sh” can’t be opened"
---------

1. Sir for PRO version it's showing “cebuilder.sh” can’t be opened because Sandbox is not allowed to open documents in Terminal. So I couldn't test the pro version. Kindly Guide Me Sir That will be very helpful.

2. <img width="400" alt="cebuilder sh" src="https://user-images.githubusercontent.com/56667597/67094078-a5e12c80-f1d0-11e9-80d9-2a66956a8a51.png">

3.
<img width="741" alt="pur

[2019-10-18 12:57] thangvo9x commented on #1182
in Common folder. AppConfig.js file.

[2019-10-18 13:00] thangvo9x commented on #1093
Hi bro, I can't understand you mean. could you brief more detail?

[2019-10-18 13:45] thangvo9x commented on #1191
<img width="500" alt="Screen Shot 2019-10-18 at 8 44 55 PM" src="https://user-images.githubusercontent.com/23457178/67099415-23fcfd80-f1e8-11e9-8e3a-90d0c635d908.png">
The error comes from your server. Please check.

[2019-10-18 13:49] Riyashanke opened #1249 "[Mstore Pro] - Issues in Version: 3.9.6"
---------

1. Sir I tried with your latest version 3.9.6 with the new Mstore API. Good News is all in Mstore Expo version Payment Gateway is now working but there are still some bugs in that like after order completion in the My Order Page if we check our order it shows Shipping Address as blank like ,,,,,,,, this. And if the payment is failed it shows Pending in Status but there is no option to m

[2019-10-18 13:55] hungnguyen9276 commented on #1191
Can you tell me what is error and how to fix it?

[2019-10-18 14:32] thangvo9x commented on #1191
Hi bro. Check the role of the user to upload files? only admin/editor role. Thanks

[2019-10-18 14:39] hungnguyen9276 commented on #1191
I get this error when used admin user to create new list

[2019-10-18 14:46] simdanonline opened #1250 "I'm using CEBuilder latest version. And I choose the folder mstore-mv expo"
I'm using CEBuilder latest version. And I choose the folder mstore-mv expo.
 It shows the Rest API is not working correctly !

Mstore Multi vendor

![mstore-issue](https://user-images.githubusercontent.com/53178201/67104143-5abe1e00-f1be-11e9-85d3-d040ba2ed2f0.png)

[2019-10-18 14:55] simdanonline opened #1251 "[my-product] -"
---------

1. My issue    npm install, after I download from codecanyon, I unzip file, open cmd.exe in the mstore-mv expo folder......it gives error.
npm ERR! code EPERM npm ERR! syscall unlink npm ERR! path C:\Users\wendzreeofficial\Desktop\mstore-mv original\mstore-multi-vendor-v1.3.1\mstore-mv-expo\node_modules\.staging\react-native-72b7d8d7\RNTester\RNTesterIntegrationTests\ReferenceImages\RNT

[2019-10-18 15:05] Ca3aH138 commented on #1243
I tried 4 fonts - unsuccesfully. But then I changed config.json path from hosted to local (lib/common/config.json) - and it's works. So, I will change my hosting-provider. Thanks you for help, my app is ready to publish.

[2019-10-18 15:05] #1243 closed

[2019-10-18 17:42] jimnystore opened #1252 "Problem fluxstore opencart"
Hi, I have several problems with fluxstore,

1) I try to find something in the app's search engine and it tells me (we found 0 products)

2) The products does not show the main image, it always shows the second image.

3) I try to start section and it shows the following error
Warning: FormatException: Unexpectd character (at character 1) <! DOCTYPE HTML PUBLIC "- // IETF // DTD HTML 2.0 // EN">

[2019-10-18 20:54] lukasprelovsky opened #1253 "[MStore MV] - How to enable wp-json /v1/stores API"
Hi,

1. I need call api http://mstore.io/wp-json/mstore/v1/stores

(/v1/stores) for api listing vendor stores (url for live web https://barfer.sk/wp-json/mstore/v1/stores )

2.  In demo url not working API stores

3. Purcharse code - 9c050d9d-7583-47a4-a550-2785b43cf91d

Please help me. Thx

[2019-10-19 00:58] sodhanii commented on #1090
Is PayPal supported now?

[2019-10-19 01:23] erknertn opened #1254 "Onesignal does not work !"
Although we describe everything as we do, notifications do not come. does not recognize the device. We're not getting any signal. Tested on iOS and android. It was build.

[2019-10-19 02:03] Senior-Gamal commented on #1247
add the zone shipping id in config.dart ( "ZoneIdShipping": 1 )

[2019-10-19 02:07] #1233 closed

[2019-10-19 02:35] minhcasi commented on #1244
got the email, we will have a  check and let you know

[2019-10-19 02:35] #1244 closed

[2019-10-19 02:36] minhcasi commented on #1246
@wedanbusiness  - we will have a check and let you know - thanks

[2019-10-19 02:38] minhcasi commented on #1248
@concuacon  - pls help for checking this issue - thanks

[2019-10-19 02:39] minhcasi commented on #1249
@Riyashanke - thank you for the detail, we will investigate and let you know

[2019-10-19 02:40] minhcasi commented on #1250
@simdanonline - we will double check the issue and let you know, thank you!

[2019-10-19 02:41] minhcasi commented on #1250
@simdanonline - could you attache the config files from common folder (common/appconfig.json and config.js) here ?

[2019-10-19 02:42] minhcasi commented on #1251
@simdanonline - pls try to reinstall nodejs - https://nodejs.org and yarn - https://yarnpkg.com

Then try with this script: yarn install

Let us know your checking

[2019-10-19 02:44] minhcasi commented on #1252
@jimnystore - could you help to share the screenshot of your purchase from - https://codecanyon.net/downloads (include your username+product)

Then share use your config file for checking, pls also make sure you have installed all require plugin - https://docs.inspireui.com/fluxstore/woocommerce-setup/

[2019-10-19 02:46] minhcasi commented on #1253
@lukasprelovsky - pls try to update this WP plugin to latest - https://wordpress.org/plugins/mstore-api/ one

[2019-10-19 02:47] minhcasi commented on #1254
@erknertn - could you help to take screenshot purchased code from - https://codecanyon.net/downloads

Also let us know what the product that have this issue?

[2019-10-19 02:50] minhcasi commented on #1243
Thank you, I'm glad that you have resolved the issues, please share your product on the store when it is approved, I will ask the team to give some great rating for your app ;)

[2019-10-19 02:55] minhcasi commented on #1186
pls send your final zip project source to support@inspireui.com - I will forward to the team for checking, remote via TV and take a lot of time - thanks

[2019-10-19 03:41] minhtruong315 commented on #1236
pls record screenshot and send me config.dart file

[2019-10-19 04:53] thangvo9x commented on #1191
Could you share your admin account for login to the dashboard? Thanks, such as I also check your hosting.

[2019-10-19 04:56] thangvo9x commented on #1138
Hi bro. Are you there? Have you been the latest version of the app?
@@

[2019-10-19 05:20] simdanonline commented on #1251
Yarn install is successful.
But expo build:android says ---->
Publishing to channel 'default'...
Building iOS bundle
connect ECONNREFUSED 127.0.0.1:19001
Set EXPO_DEBUG=true in your env to view the stack trace.

[2019-10-19 05:21] simdanonline commented on #1251
I already configure my details.
Did just yarn install.
And then enter expo build:android

[2019-10-19 05:25] simdanonline commented on #1251
appconfig,json
config.js
package.json

All in this folder

https://drive.google.com/drive/folders/1PTfZrfYw7EMIHFtWPc4HSgTwRSfRUFV_?usp=sharing

[2019-10-19 05:32] Xtraterestrial commented on #1138
@thangvo9x No, i have not got any update.
I checked code canyon just now also and there is nothing new.

Please send me the update directly so I can rebuild and test to see if things are working as needed

[2019-10-19 06:00] simdanonline commented on #1250
https://drive.google.com/drive/folders/1PTfZrfYw7EMIHFtWPc4HSgTwRSfRUFV_?usp=sharing

The files are here

[2019-10-19 06:05] anwark commented on #1182
[AppConfig.zip](https://github.com/inspireui/support/files/3746262/AppConfig.zip)
Please find file

[2019-10-19 06:10] simdanonline commented on #1250
CEBuilder right now is saying 'Currently, CEbuilder hasn't supported this project yet.'

[2019-10-19 06:11] lukasprelovsky commented on #1253
I have this version mstore api..

[2019-10-19 06:35] thangvo9x commented on #1182
Could u share more detail as which location Id and share more your Classic.js file ? Thanks

[2019-10-19 06:58] anwark commented on #1182
[Classic.zip](https://github.com/inspireui/support/files/3746295/Classic.zip)
Website live on - https://jhalawar.biz/

[2019-10-19 07:11] WorkflowAutomation commented on #1116
I fixed this issue. no problem.

[2019-10-19 07:11] #1116 closed

[2019-10-19 07:19] WorkflowAutomation opened #1255 "[Evastore] - Login page issue"
1. My issue
 I have connected everything in Evstore with Shopify. Now I would like to place an order, here it is asking me to log in. I have logged in with our frontend store credentials but it is not accepting those, displaying as not registered. Then I have tried to register on that page again I tried to log in, there also it is showing the same message. So please help us what are the credential

[2019-10-19 07:47] erknertn commented on #1254
Hi,
Mstore multivendor
Item Purchase Code: 014a35ed-08f8-42b1-bb3c-b746ee7f202a

[2019-10-19 08:18] immortal-kid opened #1256 "[fluxstore] - Registration and sms login"
my purchase http://prntscr.com/pjvdg2

1. when i after completing registration, it will take to login screen when i enter username and password and login, i get welcome message in snackbar but it will stay in login page only. when i close the app and open again, the it will show settings and all. please fix this

2. when user login with sms, in wp user panel it is showing mstore.io http://prntscr.

[2019-10-19 09:00] mpapado3 commented on #1093
Hi Tio,

the appconfig is below:
[code]

The problem is that the mobile app reviews are actually comments and do not show on WP and the reviews left on WP are not visible on the mobile app.

[2019-10-19 10:32] DrChrispoper commented on #1090
Yes it is since 1.5

[2019-10-19 12:16] hungnguyen9276 commented on #1191
Yes, I can share admin account to you. What is you email?

[2019-10-19 13:40] greatlakesmade opened #1257 "MStore Multi Vendor - Vendor list error, Product Images not showing, Categories error"
[Config files for support.zip](https://github.com/inspireui/support/files/3746719/Config.files.for.support.zip)
1. a. I am unable to get the vendors to show up. I am using WCFM Marketplace plugin with Rehub theme. How do I get the list of vendors to appear?
    b. Product images do not show up through REST API. Title, Price, Description appears, but no images. UPDATE: Title, price, description are

[2019-10-19 13:44] greatlakesmade commented on #1257
![My puchase](https://user-images.githubusercontent.com/49296200/67146061-0fa31a00-f255-11e9-9005-c53ea5e57e78.JPG)
Here is my purchase verification

[2019-10-19 14:03] greatlakesmade commented on #1257
![app_view](https://user-images.githubusercontent.com/49296200/67146288-9bb64100-f257-11e9-92a1-4150f1a1ab06.JPG)
![app_view_2](https://user-images.githubusercontent.com/49296200/67146289-9bb64100-f257-11e9-8e96-f5f38760f144.JPG)
![app_view_after_clicking_on_search_bar_to_find_products](https://user-images.githubusercontent.com/49296200/67146290-9bb64100-f257-11e9-9896-aa91a138bd3b.JPG)
![app_view

[2019-10-19 14:05] greatlakesmade commented on #1257
![app_view_vendor_list_does_not_appear](https://user-images.githubusercontent.com/49296200/67146322-f18ae900-f257-11e9-84f0-f40aec79945f.JPG)

[2019-10-19 14:13] greatlakesmade commented on #1257
![htaccess_file](https://user-images.githubusercontent.com/49296200/67146439-1764bd80-f259-11e9-863e-633e94728bde.JPG)
![JWT_Key](https://user-images.githubusercontent.com/49296200/67146440-1764bd80-f259-11e9-9396-74fd833556fc.JPG)
Wp-config and htaccess file setup

[2019-10-19 14:28] thangvo9x commented on #1191
thangvo5969@gmail.com , please

[2019-10-19 14:34] greatlakesmade commented on #1257
News/Blog section is working properly:
![app_view_news_is_working](https://user-images.githubusercontent.com/49296200/67146732-edf96100-f25b-11e9-8f1a-deabee1c49ba.JPG)

[2019-10-19 21:16] greatlakesmade commented on #1257
I just installed "WooCommerce Multivendor Marketplace – REST API" plugin:

https://wordpress.org/plugins/wcfm-marketplace-rest-api/

WCFM Rest API documentation:
https://wclovers.github.io/wcfm-rest-api/#introduction

The result is still the same even with this plugin installed, but maybe this will help resolve the issue?

[2019-10-20 01:46] spss20 commented on #1186
see sir, i have debugged index.dart in razorpay and noticed the url's being called in emulator and real device. Following are urls called in emulator :
https://api.razorpay.com/v1/payments/create/checkout
https://api.razorpay.com/v1/gateway/mocksharp/payment?key_id=rzp_test_y0hkKEPneaFJ0e
https://api.razorpay.com/v1/payments/pay_DVXN9EyB7zTYj3/callback/0fb4e065cf8b9f658acc5af8551acb7dc68d96a5/rzp_

[2019-10-20 04:07] MohsenHaydari opened #1258 "[MStore Pro] - show all attributes in variation block"
---------

1. My issue

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

hi

in product show all attributes and i need to show just variables,

[2019-10-20 07:17] thangvo9x commented on #1182
HI. Could you share your account to admin dashboard?

[2019-10-20 07:49] thangvo9x commented on #1093
Hi. Could you send me the account to login admin dashboard?

[2019-10-20 07:58] #1029 closed

[2019-10-20 08:59] anwark commented on #1182
User - jhalawar.biz@gmail.com
Passe - jhalawar!@#$

[2019-10-20 09:36] pustakmandi-developer opened #1259 "Unable to resolve Dependencies"
Hello Team,

I have purchased your Full Ecommerce product and trying to build the app.

Test Driver is pass and Flutter Doctor shows no issues. But when I am clicking on get dependencies, I am getting following Error. Please help in this asap.

"C:\Program Files\Dart\dart-sdk\bin\pub.bat" get
Resolving dependencies...
The method 'contains' was called on null.
Receiver: null
Tried calling: contains

[2019-10-20 09:53] TheRealPlug commented on #1221
Is MV support coming in October or November??

[2019-10-20 13:39] thangvo9x commented on #1191
Fixed on your website. The error from the server, old plugins.
[](url)
<img width="1165" alt="Screen Shot 2019-10-20 at 8 38 13 PM" src="https://user-images.githubusercontent.com/23457178/67160302-abc64180-f379-11e9-81e9-0999643a6337.png">

[2019-10-20 13:45] #1189 closed

[2019-10-20 13:56] thangvo9x commented on #1182
Hi bro. Try again, data was fetched.

[2019-10-20 14:06] hungnguyen9276 commented on #1191
Thanks! Can you tell me which is old plugins and how to fix if got a same error?

[2019-10-20 14:14] hungnguyen9276 commented on #1171
@thangvo9x Could you help me for chat option?

[2019-10-20 14:56] jimnystore commented on #1252
purchase
![compra](https://user-images.githubusercontent.com/56736981/67161394-6b8ea100-f330-11e9-82e7-dbbfe9386e41.png)

installed plugin opencart
![mstore modulo](https://user-images.githubusercontent.com/56736981/67161405-91b44100-f330-11e9-82aa-0cf19c1c6148.png)

[2019-10-20 16:55] ZamanGoraya commented on #1235
@minhcasi  can you help me...?

[2019-10-20 17:44] PRQAE opened #1260 "Fluxstore account page"
Hello, when I login in login page I see this problem failed assertion: boolean expression must not be null http://prntscr.com/pkzunv

and this is my config file
import 'package:font_awesome_flutter/font_awesome_flutter.dart';
import 'package:fstore/common/constants.dart';

/// Server config
const serverConfig = {
  "type": "woo",
  "url": "https://prq.ae",
  "consumerKey": "ck_5d3xxxxxxx4a4e427d25

[2019-10-21 01:33] minhtruong315 commented on #1236
no response

[2019-10-21 01:33] #1236 closed

[2019-10-21 01:35] minhtruong315 commented on #1246
@wedanbusiness we will upgrade expo

[2019-10-21 01:36] minhtruong315 commented on #1247
@Therocky20 send me config.dart, config.json and admin info via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1247

[2019-10-21 01:37] minhtruong315 commented on #1252
@jimnystore can you send me config.dart, config.json and admin info via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1252

[2019-10-21 01:45] wedanbusiness commented on #1246
Thank you. When can you provide the upgraded version? And how can we pull this?

[2019-10-21 02:05] kazhuyo commented on #1259
@pustakmandi-developer have you tried run this below ?

`flutter clean`
and
`flutter packages get`

[2019-10-21 02:10] minhcasi commented on #1255
could you help to share the configfiles from common folder (appconfig.json  and the config.js) - thank you!

[2019-10-21 02:12] minhcasi commented on #1256
@immortal-kid - noted with investigating - thank you!

[2019-10-21 02:14] minhcasi commented on #1258
@MohsenHaydari - could you help to take the screenshot of purchased code from - https://codecanyon.net/downloads

Also, could you explain more about the issue as it not clear enough? Any screenshot issues should be help

[2019-10-21 02:15] minhcasi commented on #1260
noted with investigating - thank you!

[2019-10-21 02:42] kazhuyo commented on #1256
@immortal-kid for your question number 2.
you should change that "@mstore.io" in your woocommerce site in directory :
`wp-content/plugins/mstore-api/controllers/MstoreUser.php`

in line 422 change this line :
`                $user_email = $result["phone"]["number"] . "@mstore.io";
`
to
`                $user_email = $result["phone"]["number"] . "@yourdomain.com";
`

and line 485
`            $use

[2019-10-21 04:04] immortal-kid commented on #1256
if i make changes in plugin php files, i lose it when i update the plugin, instead u could gv an update making setting it to default domain name for everyone.

[2019-10-21 04:08] Therocky20 commented on #1236
Sorry for late response it was weekend for us. in 3 Hours i send you all you asked

[2019-10-21 04:18] kazhuyo commented on #1256
@immortal-kid yep, it makes sense, it's a requested feature @minhcasi

- Add ability to configure default domain in fluxstore.

[2019-10-21 04:29] minhcasi commented on #1256
updated ticket as 'feature request' to upgrade the mstore-api - thank you!

[2019-10-21 05:38] Riyashanke commented on #1248
Sir Kindly help me I couldn't test Mstore Pro version because of this Error. Awaiting for your reply.

[2019-10-21 05:52] WorkflowAutomation commented on #1255
Yeah, Sure.
Appconfig.js-
  "Shopify": {
    "url": "https://weavesmart-com.myshopify.com",
    "graphqlUrl": "https://weavesmart-com.myshopify.com/api/graphql",
    "storeAccessToken": "xxxxxxxxxxxxxxxxxx",
    "shopId": "7433215"
  }
}

config.js-
/** @format */

import Constants from "./Constants";
import Icons from "./Icons";

export default {
  /**
   * Step 1: change to your website shopify

[2019-10-21 06:26] immortal-kid commented on #1259
even i had this issue, i ran flutter clean and packages get, didn't fixed, Later i updated kotlin and then ran flutter clean and flutter packages get, it fixed the issue

[2019-10-21 06:27] immortal-kid commented on #1256
any updates on #1244 no response received

[2019-10-21 06:34] #1174 closed

[2019-10-21 07:00] govindh163 commented on #1252
Having the Same Issue Here Too!!

[2019-10-21 07:13] WorkflowAutomation opened #1261 "[Evastore] - side menu categories"
1. My issue
Categories in the side menu showing many Shopify collections (Approx. 250). We would like to remove all. We would like to put some selected collections there. For this where we have to modify. Please help with this issue.

2. Screenshots
![cat](https://user-images.githubusercontent.com/46641395/67183986-4d907180-f400-11e9-973d-d5761e83524a.jpeg)

[2019-10-21 08:56] spss20 commented on #1186
????????

[2019-10-21 10:02] spss20 commented on #1186
https://drive.google.com/file/d/1xkITJqeax_cvimQKe5XFkJyucbQH2M0W/view?usp=sharing

LINK TO MY PROJECT

[2019-10-21 10:43] minhcasi commented on #1186
we will investigate and let you know - thanks

[2019-10-21 11:34] concuacon commented on #1251
@simdanonline thank you for the detail, we will investigate and let you know

[2019-10-21 13:00] Dhavalkatrodiya opened #1262 "[fluxstore] - Product is unavailable error on Single product page"
1. My issue

hi, i am getting this. https://snipboard.io/i3tF51.jpg it says product is unavailable.
this is digital product .https://snipboard.io/mIKTV2.jpg , product is published & working fine on website

3. My screenshot of the purchase product or my comment:
https://snipboard.io/6EgT7k.jpg

3. Config files (optional)
    config. json
    https://codeshare.io/angB8V

    config.dart
    https:/

[2019-10-21 13:12] thangvo9x commented on #1191
I have helped you fix it yet.

[2019-10-21 13:12] #1191 closed

[2019-10-21 15:06] minhtruong315 commented on #1186
@spss20 What is the android version you're using?

[2019-10-21 15:08] spss20 commented on #1186
android P

[2019-10-21 15:12] minhtruong315 commented on #1186
Can you try to add this: ```android:usesCleartextTraffic="true"``` to application in AndroidManifest.xml

[2019-10-21 15:12] minhtruong315 commented on #1186
<img width="385" alt="Screen Shot 2019-10-21 at 10 11 02 PM" src="https://user-images.githubusercontent.com/10402500/67218004-d97dba00-f44f-11e9-822f-9afa471f69a5.png">

[2019-10-21 15:13] spss20 commented on #1186
wait, can you ping me on skype?

[2019-10-21 15:45] spss20 commented on #1186
i tried by adding it, still no luck....same thing happening

[2019-10-21 16:17] engmms opened #1263 "[fluxStore] - I face problem with User login by e-mail"
---------

**1. My issue ::** problem with User login by e-mail

**2. Screenshots ::**
![Ali1](https://user-images.githubusercontent.com/14043175/67222881-87786c80-f42e-11e9-8de3-9f0cab0b4da7.jpeg)

**3. My screenshot of the purchase product or my comment:**
https://prnt.sc/pmbw6p

**4. Config files (optional)**
`
import 'package:font_awesome_flutter/font_awesome_flutter.dart';
import 'package:fst

[2019-10-21 20:34] jimnystore commented on #1252
@govindh163 If I test the configuration with https the same error

[2019-10-21 20:35] jimnystore commented on #1252
@minhtruong315 Hello, mail was sent with the requested data, I await a response. Thank you

[2019-10-21 21:44] Xtraterestrial commented on #1138
@thangvo9x did you release a new version?

[2019-10-22 01:43] minhtruong315 commented on #1186
is it working on simulator but not working on devices?

[2019-10-22 01:57] minhtruong315 commented on #1071
@luisalexhg send me your source code via email: truong@inspireui.com

[2019-10-22 03:15] spss20 commented on #1186
i have two simulators, one is "Nexus 5x api 28" , second one is "Pixel 2 Api 28". Both have Android 9.0 installed but it is working in nexus emulator, but gives same problem in Pixel 2 . I dont know why but those two urls which i mentioned that i debugges are not called in Pixel 2 as well as real devices on which i have tested. Please connect to team viewer, I will show you

[2019-10-22 03:37] binhetc opened #1264 "[Mstore - Pro] - Archive failed"
Hello,
I added some new image icons for category_icons, I can build it but when I tried to Archive it, I got that issue:
![image](https://user-images.githubusercontent.com/13253563/67257805-d7e7dc80-f4b7-11e9-8582-0a795595f62c.png)

Could you please help?

[2019-10-22 05:24] Dhavalkatrodiya opened #1265 "[fluxstore] - Remove Description, Reviews, Additional info, Ratings & Quantity field from Single product page"
1. My issue
hi, iwant to Remove Description, Reviews, Additional info, Ratings & Quantity field ui from Single product page, how to do that?

2. Screenshots
https://snipboard.io/zyILPY.jpg

3. My screenshot of the purchase product or my comment:
https://snipboard.io/6EgT7k.jpg

3. Config files (optional)
  config. json
  https://codeshare.io/angB8V

  config.dart
  https://codeshare.io/amgBdb

[2019-10-22 06:33] spss20 commented on #1186
?????its been 15 days and still no resolution give

[2019-10-22 06:53] minhcasi commented on #1186
@spss20 - we could not find out the root cause for these issues on Android, this could be the Flutter library not compatible with some libraries that using from the pub file.

If you could not use the product so far, we could process the refund for you, thanks

[2019-10-22 06:56] minhcasi commented on #1265
@Dhavalkatrodiya - try to use the Inspector from Android Studio and remove the widget that you would not display on the app, more ref: https://docs.inspireui.com/fluxstore/useful-tip/#how-to-change-the-ui-quickly

[2019-10-22 06:56] #1265 closed

[2019-10-22 06:59] minhcasi commented on #1261
@WorkflowAutomation - it could customize from containers/DrawerContainer/DrawerMultiChild.js - thanks

[2019-10-22 06:59] #1261 closed

[2019-10-22 07:06] minhcasi commented on #1255
@WorkflowAutomation - could you share the storeAccessToken to support@inspireui.com - as we could not reproduce the issue on our demo site

[2019-10-22 07:10] minhcasi commented on #1262
@Dhavalkatrodiya - thank you for the detail, we will investigate and let you know

[2019-10-22 07:12] Hamzanisar opened #1266 "while purchasing product there is no option of size"
My screenshot of the purchase product or my comment:
![image](https://user-images.githubusercontent.com/14270508/67264480-9d387100-f4c4-11e9-9ef5-4db7f1ddd1f4.png)

There is no any option for user to select size while purchasing product please help me my application is live in applestore and android store
![image](https://user-images.githubusercontent.com/14270508/67264654-2a7bc580-f4c5-11e9-8a6c-

[2019-10-22 07:35] minhtruong315 commented on #1252
I checked your website, but i dont know why your website dont work with my extension,

[2019-10-22 07:49] minhtruong315 commented on #1247
@Senior-Gamal I see your website has 2 zone id for shipping: 2 and 3. Try to change ZoneIdShipping to 2 or 3

[2019-10-22 09:11] shaaanishaan opened #1267 "[ ListApp - Listing Directory mobile app by React Native (Expo version) ] - App crashing when try to open any Listing & Unable to Register New User & Login existing Website Register User."
---------

1. My issue:       **1. Application crashing (restart) when try to open any Listing
                         2. Unable to Register New User & Login existing Website Register User.
                         3. Need to APK version of Android & IOS.**

2. Screenshots:              1. Physical Device Video Recording ( Crashing Issue)
                                     2.1: Sign Up:    Sign

[2019-10-22 10:09] Therocky20 commented on #1247
Can you provide me the config file with that edit? At that time i don't know how to write it properly and our developers are too busy. Please attach the config file that i passed you

[2019-10-22 11:25] ajeets1978 opened #1268 "Too Many Issues"
1. Categories Listing Issue Some Red Screen with Error Apppearing

![Category Error](https://user-images.githubusercontent.com/4997895/67281248-b8ce6680-f51a-11e9-9a5e-1a0cd7e9de54.PNG)

== Console Log ===
I/flutter ( 1431): Receiver: null
I/flutter ( 1431): Tried calling: [](0)
I/flutter ( 1431):
I/flutter ( 1431): User-created ancestor of the error-causing widget was:
I/flutter ( 1431):   Row
I/

[2019-10-22 11:26] ajeets1978 opened #1269 "Logo Issue"
Even After replacing the logo.png in the asset file, still I see only Fluxstore logos.

[2019-10-22 11:29] ajeets1978 opened #1270 "Animated Splashscreen Issue"
Changed the Splashcreen.flr but still I am seein the fluxstore screen only.

[2019-10-22 11:31] ajeets1978 opened #1271 "Category Issues Drawer Menu - Fluxstore"
Why does it shows the category under category

Attached is the screen shot.
![CategoryMenuIssue](https://user-images.githubusercontent.com/4997895/67281681-b6204100-f51b-11e9-8e13-a91ad2316191.PNG)

[2019-10-22 11:40] minhcasi commented on #1101
@MohammedXAbdo - sorry we forgot to notify that this issue is fixed on our latest release 3.9.6 - thank you!

[2019-10-22 11:40] #1101 closed

[2019-10-22 11:42] #1187 closed

[2019-10-22 11:43] #1208 closed

[2019-10-22 11:45] minhcasi commented on #1253
@lukasprelovsky - could you share your config file (common/appconfig.json and config.js) we will help for checking - thanks

[2019-10-22 11:47] minhcasi commented on #1254
Hi @erknertn  - the onesignal is only support for the cli (from the download package you can get this folder) - you can try to re-install this library to cli version - https://github.com/geektimecoil/react-native-onesignal - thanks

[2019-10-22 11:52] minhcasi commented on #1270
Duplicate of #1271

Kindly notes:
- Create one ticket for your all issue with detail screenshot
- Share your config file (common/config.json and config.js) so we can reproduce issues.
- Also, make sure to check the document first - https://docs.inspireui.com/fluxstore

[2019-10-22 11:52] #1270 closed

[2019-10-22 11:53] minhcasi commented on #1269
Duplicate of #1271

Kindly notes:
- Create one ticket for your all issue with detail screenshot
- Share your config file (common/config.json and config.js) so we can reproduce issues.
- Also, make sure to check the document first - https://docs.inspireui.com/fluxstore

[2019-10-22 11:53] #1269 closed

[2019-10-22 11:53] minhcasi commented on #1268
Duplicate of #1271

Kindly notes:
- Create one ticket for your all issue with detail screenshot
- Share your config file (common/config.json and config.js) so we can reproduce issues.
- Also, make sure to check the document first - https://docs.inspireui.com/fluxstore

[2019-10-22 11:53] #1268 closed

[2019-10-22 11:55] minhcasi commented on #1266
@Hamzanisar - you can try to customize by yourself as this feature is not available from the current version - thank you!

[2019-10-22 11:59] minhcasi commented on #1271
could you share the config files (common/config.json and config.js) so we can reproduce issues

[2019-10-22 12:27] Hamzanisar commented on #1266
@minhcasi   man its a big issue how i can develop and customize i'm not react-native developer please tell me when you guys uploading new version or i need to purchase new version again or its just update because i faced many issue in current version like language module is not working

[2019-10-22 12:27] Hamzanisar commented on #1266
@minhcasi  please provide me source who can do it for know on for me

[2019-10-22 14:57] omojahed opened #1272 "[BeoNews] - undefined is not an object (evaluating 'data._embedded['wp:featuredmedia'][0]')"
---------

1. My issue

The application crashes when opening a category posts list in the Category screen (not in the home screen). Can you help ASAP please ?

I'm using the last Expo package, included in the Pro version.

2. Screenshots

![Screenshot_20191022-160211_Expo](https://user-images.githubusercontent.com/7328295/67299238-ae957380-f4ec-11e9-994d-2c801385f686.jpg)
![Screenshot_20191022-154

[2019-10-22 15:22] lukasprelovsky commented on #1253
Hi

keys is censored.
here is appconfig.json
[code]

and config.js

`
/** @format */

import Images from "./Images";
import Constants from "./Constants";
import Icons from "./Icons";

export default {
  /**
   Step 1: Moved AppConfig.json
   */

  /**
   Step 2: Setting Product Images
   - ProductSize: The default config for ProductSize is disable due to some problem config for most of users.
   I

[2019-10-22 15:41] natebeast opened #1273 "[FluxNews] - Error: Too many positional arguments on trying to build"
Hello, I am getting this error when I am trying to build the app in the iOS simulator on Android Code Studio

Launching lib/main.dart on iPhone 11 Pro Max in debug mode...

Compiler message:
lib/screens/settings.dart:189:70: Error: Too many positional arguments: 0 allowed, but 1 found.
Try removing the extra positional arguments.
                                      .requestNotificationPermission

[2019-10-22 15:48] omojahed commented on #1272
Did install WordPress (obsolete) plugins in my developement web site, but not in my test web site. So Forget about my problem, it's my mistake. Thanks !

[2019-10-22 15:48] #1272 closed

[2019-10-22 18:44] luisalexhg commented on #1071
I sent you the config.dart and config.json files

[2019-10-22 18:44] Arman20022010 opened #1274 "fluxerrors"
Hi
Please can you help me I see these error when I am clicking to show product

Receiver: null
Tried calling: length

[2019-10-22 20:20] Arman20022010 commented on #1274
And also Pay on delivery is not working how to fix ? )

[2019-10-22 21:10] rodrigoalves1901 opened #1275 "[Fluxstore] - payment method with insurance"
I would like to know how do I add the payment method with secure payment in the app? On the site works more in the application does not accept.

https://pagseguro.uol.com.br/#rmcl

![image](https://user-images.githubusercontent.com/43248152/67333599-d38ae600-f4ee-11e9-9465-9013a379cda0.png)

[2019-10-23 03:24] binhetc commented on #1264
Hello,
I can archive now, but woocommerce products cannot be loaded to app, I already installed all required plugins, could you help me to fix it?
Thank you!

[2019-10-23 07:34] spss20 commented on #1186
ok refund my amount then

[2019-10-23 08:23] minhcasi commented on #1274
Hi @Arman20022010  - could you share the screenshot of your purchased code from https://codecanyon.net/downloads - thanks

[2019-10-23 08:40] Therocky20 commented on #1247
Hi please answer me i need the config files with that zone shipping added. I tried to add myself but with no success.

[2019-10-23 10:23] n1gmatech opened #1276 "Fluxstore errors before release"
Hello dears,
I've some pre release errors, kindly need your help.
Purchase - <img width="810" alt="Снимок экрана 2019-10-23 в 12 59 38" src="https://user-images.githubusercontent.com/54979352/67382078-9463a000-f595-11e9-87b4-fc64c44eda80.png">

1. I removed some fields from "screens/checkout/shipping_address.dart", cause we don't use them, as Last name, Country, State and Zip. There are disappear

[2019-10-23 10:40] concuacon commented on #1248
Hello, @Riyashanke I have just released a new version of ceBuilder [0.38.0](https://github.com/inspireui/cebuilder/releases/tag/0.38.0) please delete the old CeBuilder and install the new version.
**Before running ceBuilder please turn off all open terminal**

[2019-10-23 10:40] #1248 closed

[2019-10-23 10:42] concuacon commented on #1214
Hello, @PremiumPromotion I have just released a new version of ceBuilder [0.38.0](https://github.com/inspireui/cebuilder/releases/tag/0.38.0) please delete the old CeBuilder and install the new version.
Please update api-ecommerce to 0.0.33 to fix this issue => "It is working with e-piesecamioane.ro/wp-json/wc/v1 but not with v2 and if i put 'products' after it generates error."

[2019-10-23 10:42] #1214 closed

[2019-10-23 10:43] #1209 closed

[2019-10-23 10:44] concuacon commented on #1127
Hello, @PremiumPromotion I have just released a new version of ceBuilder [0.38.0](https://github.com/inspireui/cebuilder/releases/tag/0.38.0) please delete the old CeBuilder and install the new version.

[2019-10-23 10:44] #1127 closed

[2019-10-23 10:46] concuacon commented on #1250
Hello, @simdanonline I have just released a new version of ceBuilder [0.38.0](https://github.com/inspireui/cebuilder/releases/tag/0.38.0) please delete the old CeBuilder and install the new version.
It shows the Rest API is not working correctly! => Please change WooCommerce config in file Appconfig.json with your WooCommerce config to fix

[2019-10-23 10:46] #1250 closed

[2019-10-23 11:06] concuacon commented on #1249
Hello, @Riyashanke

- **Payment completion and order status with no shipping address**
try run: rm -rf node_modules/ && yarn && cd ios && rm -rf Pods/ && rm -rf Podfile.lock && pod install && cd && react-native run-ios

- **CeBuilder**

I have just released a new version of ceBuilder [0.38.0](https://github.com/inspireui/cebuilder/releases/tag/0.38.0) please delete the old CeBuilder and install th

[2019-10-23 11:10] concuacon commented on #1264
@binhetc can you attach a screenshot for me?

[2019-10-23 11:24] #1204 closed

[2019-10-23 11:43] #1182 closed

[2019-10-23 11:44] #1068 closed

[2019-10-23 11:44] #1093 closed

[2019-10-23 11:44] #1227 closed

[2019-10-23 11:46] #1137 closed

[2019-10-23 11:47] #1254 closed

[2019-10-23 11:50] #1108 closed

[2019-10-23 11:52] #1197 closed

[2019-10-23 11:52] #1232 closed

[2019-10-23 11:58] minhcasi commented on #1235
@ZamanGoraya  - pls help to check this guide - https://docs.expo.io/versions/latest/sdk/google/#deploying-to-a-standalone-app-on-android - thanks

[2019-10-23 11:58] #1235 closed

[2019-10-23 12:00] minhcasi commented on #1273
@natebeast - could you help to share your purchase screenshot from - https://codecanyon.net/downloads - thank you!

[2019-10-23 12:02] minhcasi commented on #1186
you can submit on this link - https://help.market.envato.com/hc/en-us/articles/202821460-Can-I-Get-A-Refund- - thanks

[2019-10-23 12:02] #1186 closed

[2019-10-23 12:05] minhcasi commented on #1247
- screenshot common/config.dart - https://tppr.me/MIbGZ
- the zone id should match with the id when you edit the shipping zone from woocommerce site

[2019-10-23 12:07] minhcasi commented on #1260
@PRQAE - the consumerKey seems is not correct that we could not connect to your site for checking the API, could you resend it ?

[2019-10-23 12:09] minhcasi commented on #1263
Duplicate of #1260

[2019-10-23 12:09] #1263 closed

[2019-10-23 12:10] minhcasi commented on #1275
Hi, it will work same as on your website, pls check this guide for detail config - https://docs.inspireui.com/fluxstore/multi-payment/

[2019-10-23 12:11] minhcasi commented on #1276
@n1gmatech  - could you attache your detail config files (from common folder).

[2019-10-23 12:28] Riyashanke commented on #1249
Hi, @concuacon what about the coupon **code and review options** and **failed Payment Order and no option for Repayment in order status.**

**Payment completion and order status with no shipping address** in expo version not on the pro version

[2019-10-23 12:53] anwark commented on #1182
Can you please tell me what changes you made on server ??

[2019-10-23 13:28] Therocky20 commented on #1247
Hi i can't see the image, please check the link

[2019-10-23 15:29] elgoharyibrahim opened #1277 "[fluxstore] when run this app i have this problem and i test drive is successful"
Oops; flutter has exited unexpectedly.
Crash report written to C:\Users\e.ibrahim\Downloads\codecanyon-md7fkeml-fluxstore-the-universal-woocommerce-magento-opencart-mobile-app-by-flutter-framework\FluxStore 1.5.5\source\flutter_03.log;
Execution failed for task ':app:compileFlutterBuildDebugX86'.

[2019-10-23 17:23] PRQAE commented on #1260
ck_5d3e6e4de16014a4e427d25f508a9f32c8d5fce8
cs_fb1ba8df2a8d3090d7c4374d0108765ea5086d27

[2019-10-24 05:42] binhetc commented on #1264
I fixed by upgrade woocommerce to v3 version and change my site to https protocol, thanks for your help!

[2019-10-24 07:07] binhetc commented on #1264
Could you let me know, how to list all main categories on the left menu and CategoriesLayout?
Thank you

[2019-10-24 08:30] n1gmatech commented on #1276
Hello,
Files are attached.

On Wed, Oct 23, 2019 at 3:12 PM Minh Pham <notifications@github.com> wrote:

[2019-10-24 08:49] govindh163 opened #1278 "[my-product] - FluxStore Universal"
Can I Add the "CC Avenue" Payment Gateway?
It Was Added in the Website,
And it is Displaying In Payments  Methods Perfectly In App,Then what to do to Integrate it,
If Yes Please Guide Some Starter Tips to Make it Happen!!

[2019-10-24 09:03] binhetc commented on #1264
also could you remove UIWebView, I got this email from Apple:
ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs . See https://developer.apple.com/documentation/uikit/uiwebview for more information.

[2019-10-24 09:19] anwark commented on #1182
there is no image in App - https://expo.io/@jhalawar/listpro

[2019-10-24 10:21] concuacon commented on #1249
@Riyashanke i'll check and feedback to you soon.

[2019-10-24 10:34] Dhavalkatrodiya commented on #1262
any update?

[2019-10-24 11:00] immortal-kid opened #1279 "[fluxstore] - language, login and signup error"
my purchase http://prntscr.com/pjvdg2

1. get this error https://prntscr.com/pnhw51 both in login and registration page whenever i try to login or register. sms login is working fine, it is also working fine for 1.5 version but showing that error in 1.5.5c. i have sent a mail along with config details and login details with subject [immortal kid bugs]

2. whenever i switch the language, close the

[2019-10-24 12:51] minhcasi commented on #1267
@shaaanishaan  - could you double-check the JWT config from this guide - https://docs.inspireui.com/listapp/getting-started/

[2019-10-24 12:51] minhcasi commented on #1277
@elgoharyibrahim - could you show us your purchased screenshot from - https://codecanyon.net/downloads - thanks

[2019-10-24 12:52] minhcasi commented on #1278
Hi @govindh163 - pls help to check this guide - https://docs.inspireui.com/fluxstore/multi-payment/

[2019-10-24 12:52] #1278 closed

[2019-10-24 12:54] minhcasi commented on #1253
@lukasprelovsky - could you help to resend the consumerKey as we could check with current one - thanks

[2019-10-24 12:54] Therocky20 commented on #1247
Hi i saw finally the screenshot. Now how can i add both zones? i need both. It's not casual that i have 2 zones, they are all operatives

[2019-10-24 13:02] lukasprelovsky commented on #1253
Hi ok i send consumerKey to emails support and your profile mail.

thx

[2019-10-24 13:38] shaaanishaan commented on #1267
Dear @minhcasi Dear I have check all the guide as per your linked documentation & here is proof with screen shoot
1. Configuration successful screenshot
![Screenshot_2019-10-24 https ayshway com](https://user-images.githubusercontent.com/54396807/67490197-48475700-f68c-11e9-9b76-9a059efb96fa.png)

2. Enable the Rest Api controller screenshot
![Screenshot_2019-10-24 JSON API Settings ‹ Ayshway — Wo

[2019-10-24 13:38] rmsoftengine opened #1280 "[Mstore Expo] - Add custom Attributes in Checkout Page"
Hello,
I have purchased the product from envato. I am having difficulties with the following things.
1. I have additional custom fields in my woo commerce (text, radio button, time picker) how can I amend those in the checkout page. Currently its not working.

2. Having difficulties with login and registration with the latest updates

Could someone please help me in priority basis as I am really s

[2019-10-24 23:53] ItisAhsan opened #1281 "[Mstore-Pro] can't build"
I'm getting this error
i was getting different error tried fixing through this
https://github.com/phonegap/phonegap-plugin-push/issues/2193
apparently pods are not installing correctly and the reason is this
![Screenshot 2019-10-25 04 53 04](https://user-images.githubusercontent.com/12572962/67533440-5f656380-f6e3-11e9-8bae-e815834b920b.png)

![Screenshot 2019-10-25 04 48 56](https://user-images.g

[2019-10-24 23:54] ItisAhsan commented on #1281
proof of purchase
https://www.dropbox.com/s/yakll52tu9umon5/Screenshot%202019-10-25%2004.54.24.png?dl=0

[2019-10-25 02:04] #1252 closed

[2019-10-25 03:25] jorgencnc opened #1282 "[my-product] -"
Purchased the product.

Fluxstore WooCommerce - Flutter E-commerce Full AppRegular LicensePurchase code: a93641cb-9717-496d-9932-4288b80428ed | Fluxstore WooCommerce - Flutter E-commerce Full App | Regular License | Purchase code: a93641cb-9717-496d-9932-4288b80428ed |  
-- | -- | -- | -- | --
Fluxstore WooCommerce - Flutter E-commerce Full App
Regular License
Purchase code: a93641cb-9717-496d-993

[2019-10-25 04:26] harry503 commented on #1240
@concuacon Any update?

[2019-10-25 06:55] binhetc commented on #1264
Thank you concuacon, I got some issue below, could you please give me some advice?
1. I have 8 categories on the Home page, but only one display category name under icon, 7 are blank.
2. On the left menu of the home page, it can load only three of 8 main categories with some sub categories, it cannot load all sub categories too.
Could you please help?
Thank you!

[2019-10-25 09:45] immortal-kid commented on #1279
if i add ur config details(the default one) login and registration working properly, but not working in my site config details and also other site config details.

[2019-10-25 12:11] minhcasi commented on #1280
Hi Rashed,

To customize the checkout field  you need to customize the checkout form from the payment as well - pls refer to this file locate from the mstore-api - https://github.com/inspireui/mstore-api/blob/master/templates/mstore-api-template.php

Could you share what is your issues with the login so that we could help

Thank you!

[2019-10-25 12:13] minhcasi commented on #1282
Hi, please help to check this document - http://docs.inspireui.com/fluxstore and this official guide from Google - https://flutter.dev/docs/get-started/install

[2019-10-25 12:55] minhcasi commented on #1281
@ItisAhsan - could you try with this script from the ios folder

pod repo update
pod install

Then open Xcode to run the project again

[2019-10-25 13:59] Riyashanke commented on #1249
Hi @concuacon Accountkit is not supported by Facebook, So couldn't setup accountkit account (ID) what to do any other options. Kindly guide me

[2019-10-25 15:10] bakpaorabbit opened #1283 "[FluxNews] -"
---------

1. My issue : Cannot run fluxnews, all flutter is clear an can test drive. use flutter . use flutter 1.9.1+HotFix.4. This error similiar when run FluxStore 1.5.5, and fix in 1.5.5c.

2. Screenshots : https://prnt.sc/pn55hp

3. My screenshot of the purchase product or my comment : https://prnt.sc/po3gph

3. Config files (optional) : original files from fluxnews 1.1.0

[2019-10-25 16:21] underscore15 opened #1284 "[Fluxstore] - Order History on New version"
---------

1. My issue: Order History Screen
Error :

════════ (2) Exception caught by widgets library ═══════════════════════════════════════════════════
The getter 'length' was called on null.
Receiver: null
Tried calling: length

2. Screenshots
![Screen Shot 2019-10-25 at 7 17 33 PM](https://user-images.githubusercontent.com/56452467/67587244-23221980-f75c-11e9-9811-c0db8ecbfb5c.png)

3. My scr

[2019-10-25 16:54] Arman20022010 commented on #1274
<img width="1680" alt="Screen Shot 2019-10-25 at 8 52 43 PM" src="https://user-images.githubusercontent.com/36129818/67589502-9e3dfc80-f769-11e9-8fec-8b05af551279.png">
here it is

[2019-10-25 17:00] Arman20022010 commented on #1274
now can you help me ?)

[2019-10-25 18:18] PRQAE commented on #1260
"consumerKey": "ck_e966a130e932b951acb9dc20944f7929e92ad90b",
  "consumerSecret": "cs_3985c4ee73f5c7991f20285f27fec8a3e992bf47",

[2019-10-26 04:01] greatlakesmade commented on #1257
It's been a week. Following up for any sort of support.

[2019-10-26 10:39] anwark opened #1285 "[my-product] - ListPro - Listing Directory React Native template"
---------

1. My issue
The application doesn't load Images from the website
2. Screenshots
![Screenshot_20191026-150051](https://user-images.githubusercontent.com/109449/67618267-b4e86000-f80a-11e9-842a-41b77e356465.png)
![Screenshot_20191026-150109](https://user-images.githubusercontent.com/109449/67618268-b4e86000-f80a-11e9-97c2-761916ed5a60.png)
![Screenshot_20191026-150136](https://user-images

[2019-10-26 10:56] mhdag1 opened #1286 "[Mstore Pro] RTL changing back after restarting application"
Hello,

I have successfully compiled the application. I have an issue related to RTL.

I have set the application to default to Arabic/RTL on the first run, and that is working correctly. When I switch to the English language, the layout is switching to LTR.

However, when I close the application and launch it again, it is keeping the language in English, but switching the layout to RTL again (so

[2019-10-26 11:06] minhcasi commented on #1284
@underscore15  - could you help to provde the config file with the user login account testing to reproduce this issue on your site ?

[2019-10-26 11:08] minhcasi commented on #1286
Hi, we will investigate this issue and let you know - thank you for reporting

@concuacon - pls help to check

[2019-10-26 11:17] minhcasi commented on #1285
Related ticket #1182

[2019-10-26 12:12] minhcasi commented on #1283
@bakpaorabbit - I've forwarded to the technical team for checking on the window OS, in the meantime could you try with this solution to clean up the flutter cache:
	flutter clean
	flutter upgrade
	flutter pub get

[2019-10-26 12:52] rodrigoalves1901 opened #1287 "[Fluxstore] - Shipping Method Error"
![image](https://user-images.githubusercontent.com/43248152/67619749-6d8fae80-f7cd-11e9-85d3-a093b9322c17.png)

Good morning, I have a problem in the shipping calculation. It does not always calculate comes as rate 0 and on the site it calculates normal. I am using the post office plugin how to solve this problem?

![image](https://user-images.githubusercontent.com/43248152/67619769-c4958380-f7cd-

[2019-10-26 16:00] underscore15 commented on #1284
Sure will send you an email with config file and user login account to test it

[2019-10-26 16:39] underscore15 opened #1288 "[Fluxstore] - Issues With 1.5.6"
---------

1. Three issues:
1. When closing the add to cart screen app returns to splashscreen and freezes (Attaching screenshots)

![Screen Shot 2019-10-26 at 7 37 29 PM](https://user-images.githubusercontent.com/56452467/67622937-19fe7e80-f828-11e9-8891-84769ea1eac7.png)
![Screen Shot 2019-10-26 at 7 36 56 PM](https://user-images.githubusercontent.com/56452467/67622938-1e2a9c00-f828-11e9-914c-63

[2019-10-27 00:52] luisalexhg commented on #1071
Bro any notice?, the problem continue, please fix the coupon and shipping for webview payments u.u

[2019-10-27 04:42] shaaanishaan commented on #1267
Dear, really disappointed by support side, I have solve the above error after regular 20 hour to consult from internet.
Now I am facing following issue

[stderr] FAILURE: Build failed with an exception.
[stderr] * What went wrong:
[stderr] Execution failed for task ':app:processReleaseGoogleServices'.
[stderr] > No matching client found for package name 'com.ayshway.ayshwayapp'

![Screenshot_2019-

[2019-10-27 08:13] minhtruong315 commented on #1238
@VikashMLRS can you send me all source code via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1238

[2019-10-27 08:27] minhtruong315 commented on #1262
@Dhavalkatrodiya send me config.json, config.dart file and admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1262

[2019-10-27 08:30] minhtruong315 commented on #1276
@n1gmatech can you send me config.json, config.dart file and admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1276

[2019-10-27 09:15] minhtruong315 commented on #1246
@wedanbusiness I upgraded expo to version 0.35. It's available on next some days

[2019-10-27 09:15] #1246 closed

[2019-10-27 09:28] minhtruong315 commented on #1247
@Therocky20
- You need to edit ZoneIdShipping in config.dart like this "ZoneIdShipping": [2, 3],
- Then update getShippingMethods in services/woo_commerce.dart
[code]

[2019-10-27 09:28] #1247 closed

[2019-10-27 09:52] minhtruong315 commented on #1192
@ahmadyousefdev I upgraded expo to version 0.35. It'll be available in some days

[2019-10-27 09:52] #1192 closed

[2019-10-27 09:55] minhtruong315 commented on #1284
@underscore15 send me config.dart, config.json file and admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1284

[2019-10-27 10:06] kandohi commented on #1229
where i can share the config files?

[2019-10-27 10:10] kandohi opened #1289 "[Fluxstore] - magento issue"
https://github.com/inspireui/support/issues/1229

this issue where i can send my config files?

[2019-10-27 10:59] bakpaorabbit commented on #1283
hi, still not work.
i have a question, i download in envato, i get version 1.1.0, but it write latest update is version 1.1.2.

[2019-10-27 12:00] underscore15 commented on #1288
To summarize the issues with this build:

1. When closing the add to cart screen app returns to splash screen and freezes (Attaching screenshots)
2. shipping options not showing up

3. Users registering are not registered as users on WP only in application.

4. How to make ZIP not required ?

[2019-10-27 13:24] elgoharyibrahim commented on #1277
![pay](https://user-images.githubusercontent.com/37834021/67635288-cfcfd880-f8cd-11e9-9f6b-5d3692970a5e.PNG)
this is my purchased screenshot

[2019-10-27 14:30] Arman20022010 commented on #1274
And please can you tell me how to setup stripe and from where to get RedirectUrl ?

[2019-10-27 20:46] x028 opened #1290 "[MStore Pro] - Issue in run expo start"
My issue is I get this error after run expo start commend in http://localhost

`
SyntaxError: D:\sidra store\codecanyon-CpL4VNpF-beostore-complete-react-native-template-for-ecommerce\mstore-3.9.6\mstore-expo\src\components\LeftMenu\MenuOverlay.js: Support for the experimental syntax 'decorators-legacy' isn't currently enabled (12:1):

  10 |
  11 |

     | ^
  13 | class MenuOverlay extends PureCo

[2019-10-27 21:51] Senior-Gamal opened #1291 "fluxstore - app store"
---------
My issue

Dear Developer,

 We identified one or more issues with a recent delivery for your app,
"My app" 2.0.0 (0.0.2). Please correct the following issues, then upload
again.

 ITMS-90338: NON-PUBLIC API USAGE - The app references non-public
symbols in Frameworks/Flutter.framework/Flutter: _ptrace. If method
names in your source code match the private Apple APIs listed above,
altering

[2019-10-28 00:06] maahiraanka commented on #1204
Hello Inspireui/Support

The source you sent what is it ( Pro Version or Lite Version) .

Thanks

On Wed, Oct 23, 2019 at 10:24 PM concuacon <notifications@github.com> wrote:

[2019-10-28 01:33] minhtruong315 commented on #1260
@PRQAE can you send me account that you're log in?

[2019-10-28 01:53] minhtruong315 commented on #1282
no response

[2019-10-28 01:53] #1282 closed

[2019-10-28 01:54] minhtruong315 commented on #1279
Send me config.dart file and admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1279

[2019-10-28 01:55] minhtruong315 commented on #1271
no response

[2019-10-28 01:55] #1271 closed

[2019-10-28 02:00] minhtruong315 commented on #1071
send me all source code via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1071

[2019-10-28 03:09] dttrung26 commented on #1283
Hi @bakpaorabbit ,

could you please share your screenshots after running those lines "flutter doctor
" and "flutter --version", also the source code of yours.

Happy coding!

[2019-10-28 03:51] immortal-kid commented on #1279
sent u a mail, kindly look into it.

and when do we get 1.5.6 update?

[2019-10-28 04:03] concuacon commented on #1249
I think there will be no solution, because as mentioned in the fb document
<img width="804" alt="Screen Shot 2019-10-28 at 9 59 42 AM" src="https://user-images.githubusercontent.com/11958061/67650348-3b1db700-f96f-11e9-8fa9-bb396c66e2c6.png">

[2019-10-28 04:10] wedanbusiness commented on #1246
Hello @minhtruong315, may we know when and how can we get the upgraded version before closing this issue?

[2019-10-28 04:12] luisalexhg commented on #1071
I sent you again pls confirm

[2019-10-28 07:24] ZamanGoraya commented on #1228
@thangvo9x can you help me...? how can i solve this problem...?

[2019-10-28 07:48] concuacon commented on #1240
@harry503 please check new documents of Onesignaln and use last version of Mstore Pro
https://documentation.onesignal.com/docs/react-native-sdk-setup

[2019-10-28 08:37] Therocky20 opened #1292 "[Fluxstore-Woocommerce] - Blog problems"
---------

1. My issue : I have problems with blog. It doen't load properly. You can access the blog in the left panel. i used the layout 6. with your blog is all fine, but when i put my website i can't see the posts. I have already setup a blog page in wordpress.

2- Screenshot of purchase: i have already some ticketes opened i will give you code in phase of support if you want.

3. Config files

[2019-10-28 09:03] nizarklai opened #1293 "MStore Pro - Complete React Native template for e-commerce"
my question is i want to change the app to booking item for car rental
so user can see car with price a day after that hi will book from calendar then hi will checkoout

[2019-10-28 09:31] Senior-Gamal opened #1294 "fluxstore - version 1.5.6"
---------
My issue

1 - in screenshot
2 - how to manage and edit the new Changes
  -  support Custom Page URL, Tag/Feature Products and Banner Items
  - add an option to limit Country when checkout
  -Add Billing and Shipping address auto from website

Screenshots
![1 5](https://user-images.githubusercontent.com/27568540/67667205-fcd7c600-f975-11e9-8829-885e74233f0d.jpg)

My screenshot of the purc

[2019-10-28 09:35] elgoharyibrahim commented on #1277
@minhcasi can you help me

[2019-10-28 09:45] minhcasi commented on #1287
@rodrigoalves1901 - could you help to share the config file from common folder so that we could help for checking, thank you!

[2019-10-28 09:47] minhcasi commented on #1290
@x028 - could you help to share the proof of purchase product from - by taking the screenshot on https://codecanyon.net/downloads - thanks

[2019-10-28 09:49] minhcasi commented on #1293
Hi @nizarklai - the booking feature is not available for the Mstore Pro app, it needs some customization to support for this feature - thank you!

[2019-10-28 09:49] #1293 closed

[2019-10-28 09:51] minhcasi commented on #1289
Hi, please share to truong@inspireui.com - also note the ticket issue from the email - thanks

[2019-10-28 09:52] nizarklai commented on #1293
as i can see in your ather app there is booking https://codecanyon.net/item/listapp-listing-directory-mobile-app-by-react-native/21456447?s_rank=13
so i want to integrate this booking for the item in checkout that is all sir

[2019-10-28 10:03] nizarklai opened #1295 "MSSTOE"
CAN I INTEGRATE THIS BOOKING IN THIS APP  https://codecanyon.net/item/listapp-listing-directory-mobile-app-by-react-native/21456447?s_rank=13
TO MSTORE FOR MY ITEM

[2019-10-28 10:13] bakpaorabbit commented on #1283
this is "flutter doctor" & "flutter --version" screenshot : https://prnt.sc/pp305m

how to download version 1.1.2 ? the lastest update on envato written 1.1.2, but what i can download is version 1.1.0
1.1.2 screenshot : https://prnt.sc/pp31j7
1.1.0 download screenshot : https://prnt.sc/pp31ul

thank you so much

[2019-10-28 10:54] #1258 closed

[2019-10-28 10:56] minhcasi commented on #1267
@shaaanishaan - you can login to the Firebase and redownload the google service file to fix the issue (the bundle id on firebase should match with com.ayshway.ayshwayapp) - thanks

[2019-10-28 10:56] #1273 closed

[2019-10-28 10:57] minhcasi commented on #1274
@Arman20022010 - could you help to download the latest version 1.5.6 to fix the issue - thanks

[2019-10-28 10:57] #1275 closed

[2019-10-28 10:58] minhcasi commented on #1277
@elgoharyibrahim - could you help to check with latest 1.5.6, we have fixed some build issue on this release - thank you!

[2019-10-28 11:32] x028 commented on #1290
yea of course

![proof](https://user-images.githubusercontent.com/45524078/67675280-cf981180-f98f-11e9-9d82-d0391951a327.PNG)

[2019-10-28 12:23] Xtraterestrial commented on #1138
I am still waiting to hear from you

[2019-10-28 12:29] PRQAE commented on #1260
PRQ
Prq@007700

[2019-10-28 12:44] rodrigoalves1901 commented on #1287
Good morning, follow below the requested files.

https://transfernow.net/14cwx8b1bbc2

[2019-10-28 13:53] shaaanishaan commented on #1267
@minhcasi Really thanks, I am trying now but there some issue to connect the app. Be there. I will come back.

[2019-10-28 15:26] immortal-kid commented on #1279
then i get this https://prntscr.com/pnhw51 error in app

console in android studio shows this http://prntscr.com/pp84ns

[2019-10-28 16:19] immortal-kid commented on #1279
it is working fine in 1.5.5 and it is showing error in 1.5.5c, still showing error in 1.5.6
so its problem with the code itself, please look into it

[2019-10-28 16:39] underscore15 commented on #1288
Same issues with the new release on Codecanyon

[2019-10-28 16:43] underscore15 commented on #1284
Email Sent with details

[2019-10-28 18:41] immortal-kid commented on #1279
i apologize, i had selected Default customer location to giolocate and it was causing randaom string at the end of url which was causing problem for login and register, i changed it to No location by default, now its working fine.

[2019-10-28 18:41] #1279 closed

[2019-10-28 21:37] arshaukat commented on #4
Hi, can you confirm how can I use Shopify App to send push notification on your app? Thanks.
--

[2019-10-29 02:23] minhtruong315 commented on #1262
no response

[2019-10-29 02:23] #1262 closed

[2019-10-29 03:15] minhtruong315 commented on #1238
no response

[2019-10-29 03:15] #1238 closed

[2019-10-29 04:09] PRQAE commented on #1260
![Screenshot_20191029-070920_FMWhatsApp 2](https://user-images.githubusercontent.com/28864448/67737099-141cbf00-fa1b-11e9-9899-9eea5d0cb5bc.jpg)
I have new error in 1.5.6

[2019-10-29 04:28] immortal-kid opened #1296 "[Feature request fluxstore] - otp before confirming order"
(a) 1.5.6 version fixed all my previous errors. i just wanted to suggest a feature, similar to sms login in login screen, you could integrate the same in checkout page before placing order, so that only genuine customers will place orders, some random scammers will stay away.  after proceeding review page and before payment page, u could add this otp feature, only those who pass the otp can contin

[2019-10-29 04:28] #1256 closed

[2019-10-29 04:29] #1239 closed

[2019-10-29 04:29] #1163 closed

[2019-10-29 06:11] underscore15 commented on #1288
Hello ? Any updates?

[2019-10-29 06:16] Maksish opened #1297 "[Fluxstore pro] - Deep link issue in ubuntu and registration issue through email and facebook"
Registration issue through email and facebook
![Screenshot_20191029-002327 (1)](https://user-images.githubusercontent.com/31925489/67742306-b51e7080-fa41-11e9-8d73-26292596ae01.jpg)
![Screenshot_20191029-001826 (1)](https://user-images.githubusercontent.com/31925489/67742308-b780ca80-fa41-11e9-8615-a1d98f1d4deb.jpg)

deeplink issue
![Screenshot from 2019-10-29 11-43-41](https://user-images.githubu

[2019-10-29 06:50] Riyashanke commented on #1249
Hi @concuacon,  its little urgent. So kindly help me in solving the issues in Review & Coupon Code, Payment Failure options in Pro and Expo methods. And after testing with Physical Device with iOS (iPhone XR) once we choose FB login it shows open FB App and after completing it redirects to our Shopping (Mstore) App but not Logging In.  But it works when we try to login with our app. Kindly solve t

[2019-10-29 06:56] ZamanGoraya commented on #1228
hello...?

[2019-10-29 06:59] ZamanGoraya commented on #1228
@minhcasi @thangvo9x @luyx2412 @vumanhsn97  The chat icon is not click able how can i solve this problem...?

[2019-10-29 07:10] minhcasi commented on #1294
@Senior-Gamal  - the latest 1.5.6 does not use this widget, could you help to double-check https://tppr.me/icMd9

[2019-10-29 07:14] minhcasi commented on #1296
Thank for your suggestion - noted as feature request

b/ it's compatible with https://woocommerce.com/products/woocommerce-points-and-rewards/ - this is missing part from the document as well

[2019-10-29 07:15] minhcasi commented on #1297
@Maksish - could you help to share your config file as well ?

[2019-10-29 07:21] Maksish commented on #1297
i have mailed u with askmkshaw@gmail.com and maksishshaw100@gmail.com

[2019-10-29 07:44] shaaanishaan commented on #1267
Dear, @minhcasi @thangvo9x @luyx2412
 Please check the issue
 1. After adding Firebase SDK Setup: npm install—save firebae Here is final result: + firebase@7.2.2 added 2269 packages from 686 contributors, removed 1162 packages, updated 39 packages, moved 50 packages and audited 45606 packages in 431.263s found 14 vulnerabilities (12 low, 2 high) run `npm audit fix` to fix them, or `npm audit` for

[2019-10-29 08:35] Therocky20 commented on #1236
Hi please solve me the wire transfer. I send you config files.

[common.zip](https://github.com/inspireui/support/files/3782400/common.zip)

[2019-10-29 10:52] kandohi commented on #1289
emailed

[2019-10-29 12:01] juniortimeline opened #1298 "[MStore Pro] - Error"
1. Error while using 3.9.6

2. http://prntscr.com/ppload

3. https://codecanyon.net/comments/23068140

[2019-10-29 14:11] minhtruong315 commented on #1260
@PRQAE you can disable cache home layout in config.dart
"isCaching": false

[2019-10-29 14:21] minhtruong315 commented on #1260
@PRQAE I can't reproduce your issue. It's working well
[Untitled.mov.zip](https://github.com/inspireui/support/files/3783968/Untitled.mov.zip)

[2019-10-29 15:09] lukasprelovsky commented on #1253
Hi, please did you find any information? thanks for the reply

[2019-10-29 15:16] minhtruong315 commented on #1276
@n1gmatech
1. Woo commerce api require those fields when checkout, You can't remove them.
2. Please check again
3. Replace createUser function in services/woo_commerce.dart like this
[code]
5. Change this in line 495 screens/cart.dart
[code]

[2019-10-29 19:27] immortal-kid opened #1299 "[fluxstore 1.5.6] - product list in vertical list view"
i found one app that showed products in vertical list like this https://prntscr.com/ppt06a is it possible to do it in fluxstore? currently grid view and some other views support, but not this type. this looks simple and neat.
https://prntscr.com/ppt06a

my purchase http://prntscr.com/pjvdg2

[2019-10-30 00:36] siyashamsudeen opened #1300 "[Fluxstore 1.5.6] - Changes to config.json file not reflecting & Splash Page Animation Not Working"
---------

1. My issue

a.  After copying my desired theme file to config.json - it is still loading the old theme.
i made changes to the color at config.json as well as styles file . still no changes is happening with the app theme.

i wanted to remove the blogs part which i tried to remove from the config file but whatever change i make there are no reflection for that on the app.  Im afraid if

[2019-10-30 02:06] minhtruong315 commented on #1256
@immortal-kid Please update mstore-api version to 1.4.6 to change domain name for login sms

[2019-10-30 02:32] minhtruong315 commented on #1284
@underscore15 I checked your website, it's working well. Please try this config.dart
[config.dart.zip](https://github.com/inspireui/support/files/3786657/config.dart.zip)
![Simulator Screen Shot - iPhone X - 2019-10-30 at 09 29 43](https://user-images.githubusercontent.com/10402500/67824151-2caed700-faf8-11e9-9bb4-ccb7550d4d6c.png)