[2019-08-02 10:52] mohmmadmoatz commented on #862
and i have another problem

  @override
  Future<List<ProductVariation>> getProductVariations(Product product) {
    // TODO: implement getProductVariations
    return null;
  }

this function return null ???

[2019-08-02 12:01] #854 closed

[2019-08-02 13:04] minhcasi commented on #865
Hi, could you help to download & install the node 10.x from this link - https://nodejs.org - then try to restart the installing again ?

[2019-08-02 13:06] minhcasi commented on #864
Hi, the BuzzApp is the react native framework it is not the Wordpress template, pls see detail about this framework - https://facebook.github.io/react-native/docs/getting-started.html

Or see the installing of the buzzapp from - https://docs.inspireui.com/buzzapp

[2019-08-02 13:51] macbethm opened #867 "[Listpro] - show paid listing and related posts"
1. How to show related posts/listing?
2. How to display paid listings on homepage
3. How to add locations on homepage

[2019-08-02 15:06] mryous commented on #865
now, The Rest API is not working correctly !

[2019-08-02 18:01] MarcHe124 opened #868 "[fluxstore - pro] - support categories and products multilanguage"
1. My issue
I like the product. It is nice and clean.

I just find the categories and products do not support multi-language for now. Do you have any suggestion on that? currently what I can think of is adding a language parameter in opencart.dart for all related api requests.

3. My screenshot of the purchase product or my comment:
Same question I put on codeyan:
<img width="788" alt="WX20190802-

[2019-08-02 18:12] abdalrhmanattia opened #869 "mstore"
---------

1. My issue
when i tray to run app muddle in android studio i get this errors
* What went wrong:
Execution failed for task ':react-native-facebook-account-kit:compileDebugJavaWithJavac'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

i used latest version of app version of app

[2019-08-02 18:23] mikysetiawan opened #870 "[MSTORE MultiVendor] - Can't Upload Product"
---------

1. I get error when uploading product via apps, so after I install the JWT and follow the tutorial from here https://docs.inspireui.com/mstore-mv/getting-started/ to setting the jwt, like edit my .htaccess and edit my wp-config.php. I try to build it on emulator and it show error “Can not Connect to Server” and I already try build it on android and it give different error “This site is

[2019-08-02 23:01] minhtruong315 commented on #862
product variations haven't supported in opencart yet. We will update it later.

[2019-08-02 23:04] mohmmadmoatz commented on #862
@minhtruong315
I solved the first problem of category
By edit the Mstore category controller

[2019-08-03 02:42] KIRANNAIR1 commented on #864
Pls provide engineer . I am ready to Pay.

I struggling since 1 week .

On Fri, Aug 2, 2019, 18:36 Minh Pham <notifications@github.com> wrote:

[2019-08-03 03:08] KIRANNAIR1 commented on #864
1) Once we Change the Url, the App will fetch data from my URL Right ?
Since the URL is Blank  have no POst, Image, etc.... the APP will also
become blank.
In that case From where we should create  the post, & articles so that it
display on APP.

On Sat, Aug 3, 2019 at 8:12 AM Kate N <kirannair17@gmail.com> wrote:

[2019-08-03 04:29] ahmedot commented on #857
I have done this, but also problem stay.

[2019-08-03 06:46] itspathanofficial opened #871 "[CeBuilder] - not able to build android"
---------

1. My issue
react native not building app, so much errors showing

log:
Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

warn Package api-ecommerce has been ignored because it contains invalid configuration. Reason: Cannot find module 'api-ecommerce\package.json'
Require stack:
- C:\Users\itsme\Desktop\CodeCanyon\codecanyon-BE7KUczS-beostore-complete-react-n

[2019-08-03 06:59] thangvo9x commented on #866
First, check your content is valid
Second. Share your screen video for checking faster.

[2019-08-03 07:00] thangvo9x commented on #833
hi bro.
<img width="1187" alt="Screen Shot 2019-08-03 at 1 59 52 PM" src="https://user-images.githubusercontent.com/23457178/62408700-fb0c9980-b5f6-11e9-96ff-971031a17b06.png">
The error was displayed on your website.
See attach image.

[2019-08-03 07:03] thangvo9x commented on #867
Thanks for your questions. Noted for checking in the next versions.

[2019-08-03 07:03] #867 closed

[2019-08-03 07:05] thangvo9x commented on #870
You must have add those code to the .htaccess file, too.
Refer here
https://wordpress.org/plugins/jwt-authentication-for-wp-rest-api/
Thanks

[2019-08-03 07:07] macbethm commented on #743
Hi Oxsuid

Can you please help i cant view images on related posts, it seems ur familiar with this code

[2019-08-03 07:16] mikysetiawan commented on #870
Add this?

RewriteEngine on
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]

But I already do that

[2019-08-03 08:37] axedigital commented on #833
Firstly, I do not understand the error, you want me to do what? The marketplace works well on the website.
I am not a web developer like you

[2019-08-03 09:36] ItisAhsan commented on #802
the issue still haven't been solved. please check email and please respond urgently

[2019-08-03 09:54] serwadda opened #872 "[ListApp]: "Can not find server" message when adding listing"
Hello,
A user can successfully sign up, however they failed to add their listings thereafter. The add listing process fails at the last stage (Submit stage) with a message :"Can not find Server". Please see files and screenshot below.
[MyListing.txt](https://github.com/inspireui/support/files/3463643/MyListing.txt)
![Screenshot_20190803-104841](https://user-images.githubusercontent.com/5629648/624

[2019-08-04 00:43] thangvo9x commented on #870
you must have add below code out of the block
`SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1`
or add this code for uploading Media When createing a new Post
`<IfModule mod_headers.c>
​    Header set Access-Control-Allow-Origin "*"
</IfModule>`

[2019-08-04 00:44] #669 closed

[2019-08-04 02:05] zziltong opened #873 "[BeoNews] Android Issue"
---------

1. My issue

Non-normal shutdown in google play console

2. Screenshots

![KakaoTalk_Photo_2019-08-04-11-05-00](https://user-images.githubusercontent.com/48820418/62418599-c0166e80-b6a7-11e9-9ee5-154588e28310.png)
![KakaoTalk_Photo_2019-08-04-11-05-06](https://user-images.githubusercontent.com/48820418/62418600-c0af0500-b6a7-11e9-88cf-8556d7237451.png)

3. My screenshot of the purchase

[2019-08-04 02:07] reconshield commented on #866
content is valid.i just replace post js file and its working fine..thanks

[2019-08-04 02:07] #866 closed

[2019-08-04 04:29] reconshield opened #874 "[Listapp] error in android"
I get this error when click listing in android devices.. attach listing error and sentry report

![8B4ADA57-252D-436D-9AAA-772F8568CBBD](https://user-images.githubusercontent.com/25501496/62419464-75025880-b6b3-11e9-9a7f-96477c48f6c3.jpeg)
![Uploading CBEDF86C-7F68-43BB-8DF9-B111394925FC.jpeg…]()

[2019-08-04 04:30] #874 closed

[2019-08-04 04:32] reconshield opened #875 "[Listapp] error in android when click listing"
I get this error when click listing in android devices.. attach listing error and sentry report.

if need update AndroidManifest.xml .. i found so many AndroidManifest.xml in my source. can tell me which file and what to add?

![84665F87-6C18-4876-AB10-BA6A3EAE689F](https://user-images.githubusercontent.com/25501496/62419485-dcb8a380-b6b3-11e9-99bb-a0780134638d.jpeg)

![20EC3945-C6F3-4B05-AAD9-22E

[2019-08-04 06:58] minhcasi commented on #869
Hi, please check following solution as this the cache issue:

- Download/extract the refresh and latest package of mstore
- Go to the project folder, mstore-pro and run this script
[code]

Let us know your checking, thank youi!

@vumanhsn97

[2019-08-04 07:06] minhcasi commented on #871
Hi, could you open the mstore-pro\android\local.properties and change to your own android skd path, this could be the root cause on your pc - thanks

[2019-08-04 07:35] mryous commented on #865
its working now, but when tap the setting button this happen
![image](https://user-images.githubusercontent.com/28628432/62420982-835d6e00-b6cd-11e9-9271-94e84a64ef82.png)

[2019-08-04 08:49] mryous commented on #865
how can i disable the setting menu?

[2019-08-04 11:18] theAlinux commented on #845
config file => #515

but just "local enable: true" doesn't work from me so i return to it "true", now get data from wordpress, why did happen it i don't know,

i found a few bugs,
1- login as normal return the success message but don't auth.
2- as social login return success message but not get user info

![unnamed](https://user-images.githubusercontent.com/10341948/62422886-4b046280-b6c2-11e9-940

[2019-08-04 14:17] itspathanofficial commented on #871
i am not able to find any 'local.properties' file in the location you said.
screenshot attached.

![Untitled](https://user-images.githubusercontent.com/34849884/62424746-f3490580-b687-11e9-9084-30e2415f0402.png)

[2019-08-04 21:49] ihsanberahim opened #876 "[FluxStore Pro] - Can't import splashscreen.flr2d into the flare2d online platform"
Can't import splashscreen.flr2d into the flare2d online platform. So, how to modify it or you guys already share in the docs but i missed it?

My mission, just to change the text and the logo in the flare splashscreen.

[2019-08-05 01:50] #875 closed

[2019-08-05 01:56] thangvo9x commented on #872
Hi. Could you share the AppConfig.json file for checking?

[2019-08-05 02:13] minhcasi commented on #833
@axedigital - it seems there is an issue of the Rest API from this plugin https://ms.wordpress.org/plugins/wcfm-marketplace-rest-api/ - it could cause by some missing config from the website, as this is from the website problem we could not check from our side.

You can ask your developer to check, the correct return JSON will look like this example: http://wclovers.mstore.io/wp-json/wcfmmp/v1/sto

[2019-08-05 02:19] minhcasi commented on #876
Hi, use this option for the export - https://tppr.me/AKYOr

The flr2d will not work as it is content the project source

Thanks

[2019-08-05 02:19] #876 closed

[2019-08-05 02:59] smilechaitu commented on #761
updated and it solved many issues however google shows app crashing for following devices
1) Pixel 3
2) Pixel 2
for android version 8.1 and 9.

Issue: value@-1 and under this issue it shows following report

FATAL EXCEPTION: mqt_native_modules
Process: touch.grocerydude.in, PID: 12514
com.facebook.react.common.JavascriptException: Can't find variable: variation, stack:
<unknown>@1587:1439
forEach@

[2019-08-05 03:20] ihsanberahim commented on #876
that is export function i know. but i ask how to modify the file `splashscreen.flr2d` you guys provided in the zip file?

[2019-08-05 03:47] minhcasi commented on #871
Hi, you can create a new file and add the sdk.dir as this screenshot - https://tppr.me/lNzom

Check this solution for detail - https://stackoverflow.com/questions/32634352/react-native-android-build-failed-sdk-location-not-found

[2019-08-05 04:05] 0xsuid commented on #856
@minhcasi @thangvo9x

Why you guys make theme available to public when it's buggy???

Moreover you guys are not interested in fixing those bugs, it's been more than 3 days and no reply.

[2019-08-05 04:15] ahmedot commented on #857
my problem not solved!

[2019-08-05 05:03] reshiDeveloper commented on #870
Where  .htaccess file is located? In react native project?

[2019-08-05 05:16] serwadda commented on #872
Please find attached for your action:

[AppConfig.txt](https://github.com/inspireui/support/files/3466049/AppConfig.txt)

[2019-08-05 05:17] mikysetiawan commented on #870
I already add that to htaccess but still not working, any advice?

![image](https://user-images.githubusercontent.com/26665849/62440547-df320080-b77a-11e9-801b-5b0962a8559e.png)

[2019-08-05 05:21] serwadda commented on #872
Please find attached for your action
../Swithin Serwadda

On Mon, 5 Aug 2019 at 04:56, Tony Vo <notifications@github.com> wrote:

[2019-08-05 05:35] minhcasi commented on #876
Hi, try to create the Blank File on https://www.2dimensions.com and drag the .flr2d file into the Dashboard

[2019-08-05 05:41] itspathanofficial commented on #871
i have created that 'local.properties' file in mstore-pro folder according to the Stackoverflow but
why this warning still occurs everytime i am trying to build app in PowerShell:

"warn Package api-ecommerce has been ignored because it contains invalid configuration. Reason: Cannot find module 'api-ecommerce\package.json"

![Untitled](https://user-images.githubusercontent.com/34849884/62438534-b5

[2019-08-05 06:53] shafirmubarak opened #877 "[Fluxstore Pro] - Just purchased, Issue while debugging through Visual studio code"
---------

1. My issue

I have just purchased the Fluxstore Pro app and I am unable to compile/ debug using visual studio code.  Please find the detailed log below - Kindly assist.

`Launching lib\main.dart on Android SDK built for x86 in debug mode...
* Error running Gradle:
ProcessException: Process "D:\Android\flutter_projects\codecanyon-ir0L3SjS-fluxstore-the-universal-woocommerce-magento-open

[2019-08-05 09:16] reshiDeveloper commented on #861
I wait your answers.
Help me please

2 avq 2019, C. tarixində 08:09 tarixində Rashid Mammadli <
mammadli864@gmail.com> yazdı:

[2019-08-05 09:20] axedigital commented on #833
hi bro,
I just installed the plugin https://ms.wordpress.org/plugins/wcfm-marketplace-rest-api/
I do not know if there are any configurations to do. Stp can you look for me? it's just what I need for my app to be OK. it's been 3 weeks that I galley on it.
I am webmaster I master wordpress I made the site myself and I have no developer.
Here are the accesses of the site

URL: https://www.princessof

[2019-08-05 09:45] thangvo9x commented on #870
`
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]
</IfModule>
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
<IfModule mod_headers.c>
   Header set Acc

[2019-08-05 10:20] #802 closed

[2019-08-05 11:36] v3creatives commented on #782
Hi Thang,

Any update, Have also sent you updated login and config details.

[2019-08-05 12:06] ihsanberahim commented on #876
It works! I tried before wrong way drag. Thanks for your guidance. Thanks.

[2019-08-05 12:09] peter2411 opened #878 "fluxstore-woocommerce"
1. My issue
while sign up via Email
NoSuchMethodError: Class ‘User’ has no instance method .
" This problem exists even in your app on playstore ! "

2. Screenshots

https://prnt.sc/oojmtz
https://prnt.sc/oojmn6

3. My screenshot of the purchase product or my comment:

https://prnt.sc/oojztq

[2019-08-05 14:05] Girg-Z commented on #851
Hi @minhcasi i have the same problem, how did you fix it?

[2019-08-05 15:14] mmubeennisar opened #879 "[Listapp] -"
---------

1. My issue
Image not uploading from app.
It shows 403 error that
code:rest_cannot_create
message:Sorry, you are not allowed to create posts as this user.
I have done all the settings as they are mentioned in the doc
2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-08-05 16:14] shweta-bavishi opened #880 "Mstore Homepage "BannerImage" layout not showing two images in a row"
I want to display two images on a row in home page of my app. I have done the following configuration changes in AppConfig.json, and yet unable to see the expected result

![Screen Shot 2019-08-05 at 9 41 15 PM](https://user-images.githubusercontent.com/12051018/62478917-efbd9780-b7c9-11e9-9a44-ce7b60b55e73.png)

And here is how my homepage looks:

![Screen Shot 2019-08-05 at 9 37 59 PM](https://u

[2019-08-05 16:30] shweta-bavishi opened #881 "Mstore- Search Not Working"
While searching the product in the app, it auto-corrects, and moreover the screen is not displaying the result properly. Screen is continuously re-rendering itself. No configuration changes were done for search screen

![MstoreSearch](https://user-images.githubusercontent.com/12051018/62479886-1a105480-b7cc-11e9-9ba7-a16722d7a274.gif)

[2019-08-05 21:25] ramyragab1 commented on #858
@minhcasi  mate can you help me :)

[2019-08-05 23:53] reconshield opened #882 "[Listapp] error after publish in google play store"
I face this issue after publish in google play store. Working fine in expo but once i publish and download and run in real device i get this error. No issue in previous version. Pls advice. Other than that app working great.

![6C6BE8D8-67E4-4D5E-B315-EE31DC174892](https://user-images.githubusercontent.com/25501496/62501886-4ef9c700-b81f-11e9-81cd-51948e9a57b5.jpeg)

[2019-08-06 01:17] minhcasi commented on #873
Hi, could you share your config files so that we could help for checking this issue, it seems the issues related to the data - thank you!

[2019-08-06 01:18] minhcasi commented on #881
noted with checking, could you help to share your config files as well? Thanks

[2019-08-06 01:40] minhcasi commented on #858
Hi, please try with this file - https://tppr.me/XaCg

[2019-08-06 02:16] thangvo9x commented on #879
The problem went from config JWT Plugin on your website.
Refer here to uploading media
https://docs.inspireui.com/listapp/getting-started/#jwt-authentication
Thanks

[2019-08-06 02:16] thangvo9x commented on #879
The problem went from config JWT Plugin on your website.
Refer here to uploading media
https://docs.inspireui.com/listapp/getting-started/#jwt-authentication
Thanks

[2019-08-06 02:16] thangvo9x commented on #882
Refer here
https://github.com/react-native-community/react-native-maps/issues/2752
Thanks

[2019-08-06 02:27] minhtruong315 commented on #877
Hi @shafirmubarak Please follow by these link

https://flutter.dev/docs/get-started/install/windows
https://flutter.dev/docs/get-started/editor?tab=vscode

[2019-08-06 02:30] minhtruong315 commented on #864
Hi @KIRANNAIR1
You need to add more posts in admin panel of wordpress website.

[2019-08-06 02:30] #864 closed

[2019-08-06 02:31] thangvo9x commented on #872
Hi. I checked on your config.
some notes for you
1. theme is myListing, NOT mylisting
2. Re-install with this plugin
[json-api.zip](https://github.com/inspireui/support/files/3470106/json-api.zip)
Thanks

[2019-08-06 02:33] minhtruong315 commented on #861
Hi @reshiDeveloper Please read the document to know how to setup mstore magento app.
https://docs.inspireui.com/mstore-magento/customization/

[2019-08-06 02:33] #861 closed

[2019-08-06 02:38] #842 closed

[2019-08-06 02:58] thangvo9x commented on #782
Hi. Please enable those plugins for display list vendors on your app.
The MMV is working as.
Those plugins have only provided to REST API for the app.

[2019-08-06 03:04] #877 closed

[2019-08-06 03:08] minhtruong315 commented on #865
Hi @mryous You can edit in "src/navigation/index.js" to disable setting menu

[2019-08-06 03:08] #865 closed

[2019-08-06 03:10] dougcodes opened #883 "MSTORE PRO - Latest version - cannot compile"
Cannot compile latest version mstore

Version: 3.9.3

Steps:

cd into project
yarn
cd ios
rm Podfile.lock
rm -Rf Pods
rm -Rf build
pod install

-- Error --

Generating Pods project
Integrating client project
Sending stats
Pod installation complete! There are 34 dependencies from the Podfile and 39 total pods installed.

[!] use_native_modules! skipped the react-native dependency 'react-native-admo

[2019-08-06 03:34] minhtruong315 commented on #859
Fixed

[2019-08-06 03:40] jakks-team commented on #859
It still isn't fixed for me.
Still experiencing this issue.

[2019-08-06 05:22] reconshield commented on #882
@thangvo9x   i tried add this in my androidmanifest file ..but error same.
~ /android/src/main

<manifest package="org.unimodules.interfaces.permissions">

<application>

   <meta-data
     android:name="com.google.android.geo.API_KEY"
     android:value="AIzaSyDMhWJ9CHCysd9-ycY7_kbY4WpYtLMnHbk"/>
</application>

</manifest>

am i correct? pls guide me on this issue.. only 1 problem..then my app c

[2019-08-06 05:36] KIRANNAIR1 commented on #864
I Created Category & Post in Wordpress Dashboard, it reflects in APP on
Category Page & Flipboard Page.

How Do i populate Home Page TABS : "FOR YOU" & "TRENDING".

The Home Page Fetch Data from Post Or Category Or Page  Or Menu ?

CeBuilder is not working on My PC , So What is Alternate to CeBuilder.
Do i need to Change the Category ID in Source Code , If yes Then where

On Tue, Aug 6, 2019 at 8:

[2019-08-06 05:56] mmubeennisar commented on #879
I have already done that and tried that.

# BEGIN WordPress

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]
</IfModule>

# END WordPress

[2019-08-06 07:10] mmubeennisar commented on #879
![Screenshot 2019-08-06 at 12 09 42 PM](https://user-images.githubusercontent.com/28184542/62518486-1cfa5c00-b843-11e9-9991-8c51a41104be.png)
Attached the htaccess
Same issue

[2019-08-06 08:26] minhtruong315 commented on #862
Hi @mohmmadmoatz I updated category, it will be available in next update

[2019-08-06 08:26] #862 closed

[2019-08-06 08:52] zziltong commented on #873
May I share my config files by e-mail?

[2019-08-06 08:53] minhtruong315 commented on #878
I fixed. It will be available in next release. Thanks

[2019-08-06 08:53] #878 closed

[2019-08-06 09:07] IamSMTS opened #884 "Expo SDK"
Hi

Download File from ThemeForest : MStore Multi Vendor - Complete React Native template for WooCommerce
Item Purchase Code:
f976cc44-0258-4b5e-aff5-059f956d7749

..........
![WhatsApp Image 2019-08-06 at 13 34 59](https://user-images.githubusercontent.com/52594287/62526770-28ec1b00-b84f-11e9-82ed-489df6845188.jpeg)

To test the app without any interference, I wanted to test it, which showed the

[2019-08-06 09:26] serwadda commented on #872
Sorted...thanks

[2019-08-06 09:26] #872 closed

[2019-08-06 09:34] yosefasad opened #885 "[Mstore Pro] 3.9.3 - IOS error when changing the language"
Fresh installation of MStore  3.9.3

in IOS ...when I change the language in the App ... I got the error as attachment below ..

<img width="380" alt="Screen Shot 1440-12-03 at 11 08 22 PM" src="https://user-images.githubusercontent.com/23431061/62528807-20dbad80-b846-11e9-9224-2012a75e1e46.png">

when I run this command
cd ios/ && rm -rf build/ && rm -rf Pods/ && rm -rf Podfile.lock && pod instal

[2019-08-06 10:30] thangvo9x commented on #879
adding this block & still not wokring. Sharing your AppConfig file for checking.
`SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>`

[2019-08-06 10:52] mmubeennisar commented on #879
![Screenshot 2019-08-06 at 3 49 57 PM](https://user-images.githubusercontent.com/28184542/62534151-e7b13680-b861-11e9-967e-489f4ff90816.png)
<img width="1164" alt="Screenshot 2019-08-06 at 3 48 57 PM" src="https://user-images.githubusercontent.com/28184542/62534152-e7b13680-b861-11e9-8ad9-4dd31e020602.png">
<img width="867" alt="Screenshot 2019-08-06 at 3 48 48 PM" src="https://user-images.githubu

[2019-08-06 11:08] reshiDeveloper commented on #861
How can I install mstore plugin?

6 avq 2019, Ç.A. tarixində 06:34 tarixində minhtruong315 <
notifications@github.com> yazdı:

[2019-08-06 11:10] reshiDeveloper commented on #871
How can I install mstore plugin?

[2019-08-06 11:11] reshiDeveloper commented on #870
How can I install mstore plugin?

[2019-08-06 11:11] reshiDeveloper commented on #839
How can I install mstore plugin?

[2019-08-06 11:12] reshiDeveloper commented on #823
How can I install mstore plugin?

[2019-08-06 12:15] v3creatives commented on #782
Hi,

I enabled the plugin and still have the following problems

1. I am unable to see a list of Vendors when, I click Categories.
2. No reviews are showing when you click review on a product.
3. When you click on the Vendor Tab on a product the App crashes
4. When you search for an item the App crashes

5. 'WCFM' & 'WC vendors' do not work together as mentioned before and shown in the image below

[2019-08-06 12:21] reshiDeveloper commented on #861
I have installed CeBuilder. But When I setup step 1 It is shown below error:

The Rest API is not working correctly !
How can I solve this problem

[2019-08-06 12:22] reshiDeveloper opened #886 "[MStore Magento] Cebuilder step1 setup"
I have installed CeBuilder. But When I setup step 1 It is shown below error:

The Rest API is not working correctly !
How can I solve this problem?

I think that my access token isnt correct
this is token:  oibwhn2t9bx88pp7ivvb07td8nxvnr5y
url:  http://magento-demo.mstore.io

[2019-08-06 13:50] ramyragab1 commented on #858
thanks mate
this comment help me
but i need
color in list one and another color in list tow
all list news show to color
first background news in gray color
second background in white color
see
https://www.dropbox.com/s/zjrlrhec1s9rlv2/WhatsApp%20Image%202019-07-31%20at%2010.38.22%20PM.jpeg?dl=0

and i want to change time days ago  to data
see this img
https://tppr.me/TySq0

[2019-08-06 14:54] minhcasi commented on #847
@ataiwo473 - please help to share your email here so that we could send the patching for your site - thank you!

@concuacon

[2019-08-06 15:07] ataiwo473 commented on #847
ataiwo473@gmail.com

[2019-08-06 15:27] minhcasi commented on #859
@jakks-team  - please note it is fixed and ongoing to package for the release, we will update the link on this ticket - thank you!

[2019-08-07 02:11] thangvo9x commented on #870
Hi. update with this file
[htaccess-file.txt](https://github.com/inspireui/support/files/3474902/htaccess-file.txt)
Thanks

[2019-08-07 02:21] thangvo9x commented on #879
Hi bro. The use need Editor/Admin role to create a new post.

[2019-08-07 02:27] minhcasi commented on #868
fixed on release 1.4 - thank you!

[2019-08-07 02:27] jakks-team commented on #859
So, this is going to be fixed on CeBuilder 0.36.0?
Because I can only see CeBuilder 0.35.0 available for download.

If this is going to be on 0.36.0, I'll wait for it to be available for download, and close the ticket later.

Thanks.

[2019-08-07 02:47] MarcHe124 commented on #868
Thanks! can I know when roughly v1.4 will release?

[2019-08-07 03:50] itspathanofficial commented on #871
here you can see the plugin and same api key's last digits

Plugin:
![plugin](https://user-images.githubusercontent.com/34849884/62593486-81c1bf00-b8f4-11e9-9625-26e46725def4.png)

API Keys:

![api keys](https://user-images.githubusercontent.com/34849884/62593495-8d14ea80-b8f4-11e9-88c7-c650b01a57be.png)

[2019-08-07 04:14] 0xsuid commented on #856
Hello @minhcasi @thangvo9x,

Tell me if you guys are interested in resolving this bug, it is more than 7 days.

[2019-08-07 04:17] 0xsuid opened #887 "[Listpro app] - DONT BUY IT, BUGGY APPLICATION AND CODE"
Listpro app is full of bug and even in their application there are several flows.

I've created two tickets #856 and #743, they will send you reply every 3 days and they didn't provided any reply on #856 which was created a *week* ago.

So I would like to recommend anyone to not buy anything from this company.

[2019-08-07 04:38] BhawinGothadiya commented on #849
That issue we have solved.

Now, We are facing another issue.

I can't generate an iOS app. I have used the latest version of code.

![image](https://user-images.githubusercontent.com/4207794/62595221-29da8680-b8fb-11e9-9886-8adde0856419.png)

[2019-08-07 05:03] itspathanofficial commented on #871
you can see here:
https://docs.inspireui.com/mstore/wordpress-setting/

[2019-08-07 05:23] #856 closed

[2019-08-07 05:24] #743 closed

[2019-08-07 05:35] minhcasi commented on #886
Hi @reshiDeveloper  - could you help to take a screenshot of your purchase product - thank you!

[2019-08-07 05:37] minhcasi commented on #885
Hi, could you remove the node_module and zip the package, then sent to our email support@inspireui.com via https://wetransfer.com - we will help for checking this issue - thanks

[2019-08-07 05:38] minhcasi commented on #884
Hi could you try to open the project folder an run with this script first:
yarn install && yarn start

[2019-08-07 05:39] minhcasi commented on #883
Thank you for the detail, we've noted and sent to the team for checking, thank you!

[2019-08-07 05:40] minhcasi commented on #880
Hi, could you use the example #2 from the example folder, it will look like this - https://docs.inspireui.com/mstore/home-theme/ - then replace your own image - thank you!

[2019-08-07 06:24] minhcasi commented on #849
Hi, you can try to check this option - https://tppr.me/4dD6C

[2019-08-07 07:48] reshiDeveloper opened #888 "CeBuilder source code"
How can I get source code of CeBuilder ?
Is there any link or anything?

[2019-08-07 07:48] #886 closed

[2019-08-07 07:50] mmubeennisar commented on #879
Thanks, that helped :)

[2019-08-07 07:50] #879 closed

[2019-08-07 09:38] yosefasad commented on #885
I already sent  node_module in  zip package to your email support@inspireui.com via https://wetransfer.com ...

Thank you in advance ...

[2019-08-07 10:44] minhcasi commented on #868
Hi, we will release on this week - thank you!

[2019-08-07 10:52] theAlinux commented on #845
@thangvo9x ???

[2019-08-07 10:58] minhcasi commented on #845
As your per requests

1. This could be changed from the common/appconfig.json file
2. This could custom the navigation/index.js to reorder the tab navigation
3. This option could be enabled from the config.js file to support the booking, but the current Listing is not integrated with the WooCommerce so this feature will not work completely
4. Could you check if the new listing appears from the web

[2019-08-07 11:32] minhcasi commented on #888
Hi, sorry the Cebuilder is not the open-source so that we could not share - thank you!

[2019-08-07 11:32] #888 closed

[2019-08-07 11:34] minhcasi commented on #761
Thank you, note for double-check on Pixel 3 & Pixel 2

[2019-08-07 11:34] #804 closed

[2019-08-07 11:36] minhcasi commented on #823
@reshiDeveloper - please download it from - https://github.com/inspireui/mstore-checkout

@keerthipativinaykumar - please also try to install manually base on recent guide on https://docs.inspireui.com/listapp/getting-started/

[2019-08-07 11:38] minhcasi commented on #837
Hi, sorry for the late response

Please help to provide your purchased screenshot from - https://codecanyon.net/downloads

And also share the screenshot of your issue

Thank you!

[2019-08-07 11:38] #838 closed

[2019-08-07 11:38] reshiDeveloper opened #889 "Buy Cebuilder source code"

[2019-08-07 11:39] minhcasi commented on #839
Hi @reshiDeveloper - there is a link from the download - https://docs.inspireui.com/mstore/wordpress-setting/ - thanks

[2019-08-07 11:39] #839 closed

[2019-08-07 11:39] #844 closed

[2019-08-07 11:39] #850 closed

[2019-08-07 11:40] reshiDeveloper commented on #889
Hi. Where can I get CeBuilder source code with money? I know It is not open-source

[2019-08-07 11:40] #889 closed

[2019-08-07 11:41] reshiDeveloper opened #890 "Buy CeBuilder source code"
Hi. Where can I get CeBuilder source code with money? I know It is not open-source

[2019-08-07 11:41] minhcasi commented on #852
Hi, please try to wrap the description with the Tools.getDescription to remove the html charactor

[2019-08-07 11:42] minhcasi commented on #857
Hi, could i check if you have activated this setting as well - https://tppr.me/qdYog ?

[2019-08-07 11:43] minhcasi commented on #858
Hi, you can custom the index.js which is located on the same folder "List", you can also create new style for this kind of layout

[2019-08-07 11:45] minhcasi commented on #871
Please click the link mstore-checkout link from https://docs.inspireui.com/mstore/wordpress-setting/ and upload the zip plugin to your wordpress plugins

and active mstore-checkout from setting menu - https://tppr.me/EzEm7

[2019-08-07 11:45] ramyragab1 commented on #858
@minhcasi  thanks
can you help me :)

[2019-08-07 11:45] minhcasi commented on #873
Yes sure, please sent to support@inspireui.com - also note with this ticket support - thank you!

[2019-08-07 11:45] ramyragab1 commented on #858
and i want to change time days ago to data
see this img
https://tppr.me/TySq0

[2019-08-07 12:16] minhcasi commented on #847
HI @ataiwo473 - sorry for missing your idea here, we have fixed the issue by upgrade the api-commerce library.

Please help to change the package.json: api-ecommerce: 0.0.30

This will fix the issue, make sure your delete the node_module and install again, let us know your checking - thank you!

[2019-08-07 12:21] theAlinux commented on #845
I want to link headers to wordpress

[2019-08-07 12:29] concuacon commented on #847
@ataiwo473
i fixed it, send u the patching of common folder
<img width="1327" alt="Screen Shot 2019-08-07 at 7 22 48 PM" src="https://user-images.githubusercontent.com/11958061/62622635-02120f80-b949-11e9-99bc-a76a015608a4.png">
<img width="293" alt="Screen Shot 2019-08-07 at 7 23 17 PM" src="https://user-images.githubusercontent.com/11958061/62622628-ff171f00-b948-11e9-9977-c7641c184210.png">
[co

[2019-08-07 12:29] #847 closed

[2019-08-07 13:36] BhawinGothadiya commented on #849
Everything is fine now, only orders are not going through.

Please check out below detail for more details on the issue. Also, it is not allowing to debug it, due to some the console issue.

Let me know if you need anything.

**First Scenario =>**
 1.MStore original code (mstore-pro)
2. After project setup, App is working with
 {
 "url": "https://mstore.io",
 "consumerKey": "ck_b7594bc4391db4b56c6

[2019-08-07 15:47] shweta-bavishi commented on #881
Purchase Code: 31da4b2b-7899-4e0c-b4fe-82e73801c9d2

[Config.pdf](https://github.com/inspireui/support/files/3477841/Config.pdf)

[2019-08-07 16:43] theAlinux opened #891 "[ListPro] - Custom Facebook login"
settings => #515

i change to "logInID" in my-theme.js and "facebookAppId" in app.json, facebook settings this valid url
![Ekran Alıntısı](https://user-images.githubusercontent.com/10341948/62640698-d2640700-b94a-11e9-85cb-30495c7746a8.PNG)

but get this error

`Given URL is not allowed by the Application configuration: One or more of the given URLs is not allowed by the App's settings. To use thi

[2019-08-07 17:30] theAlinux commented on #891
@thangvo9x

[2019-08-07 19:17] bobozd opened #892 "[Listapp] - Not listed all"
My issue is on homepage I click on one specific category (ID) and in next window in display only one listing item and in that category there is more listings for sure on wordpress site. Also on homescreen if I slide to right it displays it corectly there is 4 or more listings but when I click on category title (TOP ARCHVIZ COMAPNIES) it shows only one.

Video:
https://drive.google.com/file/d/1To4T

[2019-08-07 19:55] jakkumarket opened #893 "FluxStore Woocommerce"
Hello,

I am having a lot of trouble setting up Woocommerce with FluxStore. I've followed all of the instructions, however the lib folder does not populate everything which causes issues. I've tried manually adding the files, but then none of the imports can be found. Is there an easy fix to this?

[2019-08-08 00:40] ataiwo473 commented on #847
where do i modify that file?

[2019-08-08 01:03] minhcasi commented on #868
Hi @MarcHe124 - sorry we though this issue from woocommerce (already fix on 1.4) but just realize your issue from the Opencart one.

We may release the support for Opencart on next 1.5 as this is big feature for Opencart while they do not support multi-language from the API, is there any language plugin/extension that you suggest?

[2019-08-08 01:09] MarcHe124 commented on #868
ah ok.  The language plugin you mean for API? I haven't looked at it yet.

If it is not in near future, we may directly modify that api extension to support multi-language for our app.

thanks

[2019-08-08 01:18] ataiwo473 commented on #847
where do i modify that file?. i added the file u just sent and there was no
changes and i cant even find the "api-ecommerce": "^0.0.30", in any of the
files

On Wed, Aug 7, 2019 at 8:29 AM concuacon <notifications@github.com> wrote:

[2019-08-08 02:09] thangvo9x commented on #882
hi man. Share the AppConfig file again, is that okay?

[2019-08-08 02:31] reconshield commented on #882
app working fine when running using expo simulator.. only issue when publish in google play or use apk file direct install to android device and run it..cant open listing and maps.thanks for your support

this my map api key : AIzaSyDMhWJ9CHCysd9-ycY7_kbY4WpYtLMnHbk

[AppConfig.txt](https://github.com/inspireui/support/files/3479560/AppConfig.txt)

[2019-08-08 02:33] thangvo9x commented on #891
Do you have put in the firebase? You need to put in it.

[2019-08-08 02:39] thangvo9x commented on #892
Hi. You must have provided me the AppConfig to know about your domain.

[2019-08-08 04:13] thangvo9x commented on #782
Hi.
1. I enabled list vendor on your website.
2. The review will not be displayed if it hasn't yet
3. fix crash when clicking on VendorTab on a product.
4. Fixed.
5. Disabled the plugin WCFM.
+ REPLACE this file at components/VendorInfo/
[index.txt](https://github.com/inspireui/support/files/3479785/index.txt)
+ REPLACE this file at components/ExpandComponent to fix crash tab search
[index.txt](ht

[2019-08-08 04:23] concuacon commented on #881
heloo @shweta-bavishi we are going to update the new 3.9.4 to fix this issue - please help to download and let us know your checking - thank you!

[2019-08-08 07:42] theAlinux commented on #891
i created firebase account, i created facebook app in firebase but i not found config settings, why i do it? is there something like tutorial?

[2019-08-08 12:58] joelycineas opened #894 "Publishing to channel ‘default’... Error: Problem validating asset fields in app.json. See https://docs.expo.io/ • Field: icon – cannot access file at ’./assets/icons/app.png’. • Field: splash.image – cannot access file at ’./assets/splash.png’. Couldn’t publish because errors were found. (See logs above.) Please fix the errors and try again."
---------

1. My issue

I am getting this error when i click on Build IOS On CE Builder Can You Please Check It Out

Publishing to channel ‘default’... Error: Problem validating asset fields in app.json. See https://docs.expo.io/ • Field: icon – cannot access file at ’./assets/icons/app.png’. • Field: splash.image – cannot access file at ’./assets/splash.png’. Couldn’t publish because errors were

[2019-08-08 13:33] theAlinux commented on #891
added redirect url, fixed

[2019-08-08 13:33] #891 closed

[2019-08-08 13:35] theAlinux commented on #894
check this image file, is it exists => ./assets/icons/app.png and ./assets/splash.png

[2019-08-08 13:44] abdalrhmanattia opened #895 "[my-product] - mstore-expo"
---------

1. My issue

cannot  new register user from app  but facebook register work
i used last version of app working on expo version android

2. Screenshots

![Untitled-2 png3](https://user-images.githubusercontent.com/49997361/62711168-da7a8000-b9f8-11e9-8ba7-776ce6861cd1.png)

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-08-08 14:09] abdalrhmanattia opened #896 "[my-product] - mstore-expo"
---------

1. My issue
confirm order not work when I press the confirm order button the text appear on the button is changed to loading but again confirm order appear and order does not place
i used last version of app mstore-expo
2. Screenshots

![Untitled Project44571e autosave](https://user-images.githubusercontent.com/49997361/62709958-b87ffe00-b9f6-11e9-8cc1-fac46ef9d636.gif)

3. My screensho

[2019-08-08 14:32] mmubeennisar opened #897 "[Listapp] - setting category for post & making comment to be off by default"
---------

1. My issue
I want to make set category for post & make commenting off by defauly
2. Screenshots
<img width="1002" alt="Screenshot 2019-08-08 at 7 30 29 PM" src="https://user-images.githubusercontent.com/28184542/62711870-3ce07a00-ba13-11e9-9bca-5751e4bcc435.png">

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-08-08 15:52] joelycineas commented on #894
Thank you so much for the reply, but They do exist and I still constantly get errors.

[2019-08-08 16:12] shafirmubarak opened #898 "[Fluxstore Pro] - Please address my issues"
---------

1. My issue

I am facing the following issues -
  1) While trying to register am getting the below error, screenshot attached. I see that another user has reported the same issue and you have mentioned it will be fixed in the next release. However we are going live soon, so any temporary fix (like suggesting me to edit the issue part of the code) you provide will be much appreciated  -

[2019-08-08 17:47] bobozd commented on #892
here it is
[AppConfig.json.zip](https://github.com/inspireui/support/files/3483031/AppConfig.json.zip)

[2019-08-09 02:07] thangvo9x commented on #894
Hi. Check app.png and splash.png is valid. If it still is showing, the problem could the image is not valid.

[2019-08-09 02:11] thangvo9x commented on #897
Hi. This is out of scope support but you must customize the plugin JSON-API. It will be affected on your website. Thanks.

[2019-08-09 02:13] #870 closed

[2019-08-09 02:13] #884 closed

[2019-08-09 02:43] thangvo9x commented on #882
I checked on your AppConfig file. It works normally. Thanks
Check your apiKey is right or valid?
![IMG_2650](https://user-images.githubusercontent.com/23457178/62750361-17428780-ba8a-11e9-87dd-1625f923eb99.JPG)

[2019-08-09 05:47] reshiDeveloper opened #899 "Buy CeBuilder source code"
I want to pay source code of CeBuilder?
 Help me please

[2019-08-09 10:40] yosefasad commented on #885
any update?

[2019-08-09 11:27] Suhaibaj opened #900 "ListPro and ListApp"
Hi team ,
i have a question ,
if i buy listapp or listpro
you will give me source code ?

thanks ,

[2019-08-09 12:49] minhcasi commented on #895
Hi, please double-check the list requite active plugin from this guide - https://docs.inspireui.com/mstore/wordpress-setting/ - also some extra config from wordpress - thank you!

[2019-08-09 12:55] minhcasi commented on #896
Hi, it seems the issue caused by modifying the Delivery Address that not enough require info to create the Order. Could you try to install this debug tools - https://github.com/infinitered/reactotron/blob/master/docs/installing.md - and see the detail log after tap the Order button ?

[2019-08-09 12:57] minhcasi commented on #890
Hi, thank you for your question, but we do not sell this product at the moment :)

[2019-08-09 12:57] #890 closed

[2019-08-09 12:58] minhcasi commented on #899
Hi, sorry we do not sell this product - thank you!

[2019-08-09 12:58] #899 closed

[2019-08-09 13:00] minhcasi commented on #893
Hi, could you help to provide some info below:

1. You screenshot purchase to verify the product from - https://codecanyon.net/downloads

2. Please send us the screenshot of the issue when you run the app from Android Studio.

3. Could you able to run this example from Flutter - https://flutter.dev/docs/get-started/test-drive ?

[2019-08-09 13:02] minhcasi commented on #898
Hi, thank you for reporting, we have fixed this issue, it will be updated new version on this weekend - thank you!

[2019-08-09 13:03] minhcasi commented on #900
Yes, you will get the full source code, made by React native framework - thank you!

[2019-08-09 13:03] #900 closed

[2019-08-09 13:07] minhcasi commented on #894
@joelycineas - noted, could you try to share your image so that we could have a check or zip your whole project and share to our email support@inspireui.com - thank you!

[2019-08-09 19:37] theAlinux opened #901 "[ListPro] - uncaught error api key not found"
//AppConfig
"url": "http://bestrestaurants.directory",
    "consumerKey": "ck_2b041d0b13d3ae4d883c******************",
    "consumerSecret": "cs_8dd2033fdbc3fbf58f27*******************"

//index.js
 Google: {
    mapApi: 'AIzaSyDQIbsz2wF*****************',
    searchCountry: 'gb',

ListPro version: 1.3.5

it has not AndroidManifest.xml file or i don't found

![Ekran Alıntısı](https://user-images.g

[2019-08-09 20:40] Pars1vaLl opened #902 "[Fluxstore Pro] - Pre Sale questions"
Hi team,

Fluxstore Pro looks great! We have some pre-sale questions, kindly ask you answer to them:

1. Can the price be related to size? F.e. there is a Shirt with 'S' size and it costs 10$. So when I choose 'XL' price changes to 15$. Is it possible to achieve this in without custom work?

2. What is your recommendations for hosting? Is it fine if we use Shared-hosting on Ubuntu? Does this App n

[2019-08-09 21:08] theAlinux opened #903 "[ListPro] - Close Modal?"
Why does not close the login modal/window when a successful message returns?

[2019-08-09 21:24] Suhaibaj commented on #900
Is it compatible with this template?
https://themeforest.net/item/food-guide-restaurant-food-and-drinks-directory-listing-wordpress-theme/17090002
And if you link it to a site based on this template
Will certain problems appear?

thanks,

[2019-08-10 01:53] KA7640 commented on #861
Where is the plugin located?

[2019-08-10 02:29] #782 closed

[2019-08-10 04:46] reconshield commented on #882
Yes.. its valid.. i tried use your default key.. but its same.. can i share my full code with u?

[2019-08-10 07:50] sgkalyans opened #904 "[BeoNews Pro - React Native mobile app for Wordpress] - Unable to load my site into the app"
---------

1. My issue
Unable to load my site into the app. Please see the attached screenshot.

Is there any updated documentation for the app ? I don't see any guide on explaining about the configuration of the app to change the layout, list of categories, etc.,

2. Screenshots
![image](https://user-images.githubusercontent.com/2780305/62819313-ff502e00-bb85-11e9-8cba-3ef6e4789224.png)

3. My sc

[2019-08-10 10:44] axedigital commented on #833
Is that kind of nastiness? I bought your script and I only had problems. You are not even fooled to answer me already a week ago. reply to my fucking ticket

[2019-08-10 11:15] shafirmubarak commented on #898
Thanks, Could you confirm if both of the issues highlighted above will be fixed in this weekend's release?

[2019-08-10 11:29] bobozd commented on #892
please solve the problem urgently

[2019-08-10 14:21] minhcasi commented on #902
Hi, thank you for your questions

1. it's good news that this dynamic product variant is already supported on latest release 1.3 and some new bugfix on latest 1.4, this feature is the first available for Woocommerce, then we will update for Magento and Opencart later

2. we use 5usd/month on the Digital ocean for the demo and it still works very fast, so there is not required for the hosting, but

[2019-08-10 14:21] #902 closed

[2019-08-10 14:22] minhcasi commented on #904
Hi, could you help to check some require plugins for the app - https://docs.inspireui.com/beonews/wordpress-setting/ - thank you!

[2019-08-10 14:24] minhcasi commented on #885
Fixed 3.9.4 - we will update this release on early next week - thank you!

[2019-08-10 14:28] minhcasi commented on #858
Hi, there is some example on this guide - https://github.com/DSchau/react-native-timeago- we use this lib to generate the time ago

There is new better lib that you can replace it -  https://github.com/catamphetamine/react-time-ago

[2019-08-10 14:30] minhcasi commented on #849
Hi, pls check this solution as it could be related - https://docs.inspireui.com/mstore/questions/#404-error-page-when-process-the-payment- - than you!

[2019-08-10 14:32] yosefasad commented on #885
Thank you for your support

[2019-08-10 14:54] serwadda opened #905 "[ListApp] Adding Listing does not show relevant fields"
Hello,
When adding listings I don't get the relevant options to select like Category and Region..I am able only to do the following: Select Listing type, Input Listing title, Add single listing image and Input listing detail.
I am not able to select the Categories and Regions.
 Please help

[2019-08-10 15:18] sackmotion commented on #871
Looks that latest version is https://github.com/inspireui/mstore-checkout 1.1.6 instead of https://github.com/inspireui/mstore/tree/master/plugins/mstore-checkout 1.1.5 , please can you confirm and correct in docs ?

btw Great job !
Thanks!

[2019-08-10 15:51] sgkalyans commented on #904
I already have the required plugins.

Please note the following:
json-api - This plugin was closed on August 7, 2019 and is no longer available for download.

[2019-08-10 16:26] sgkalyans commented on #904
And simple question, how to change the "BeoFoods" to my app name ? I'm reading codes and website but no information on this.

[2019-08-10 18:52] RaptorHck commented on #882
I have a same error..  just now a trying with a new key..

[2019-08-10 19:47] Suhaibaj opened #906 "ListApp & ListPro"
Hi Team ,
i have a qustion about listApp and ListPro
Is it compatible with this template?
https://themeforest.net/item/food-guide-restaurant-food-and-drinks-directory-listing-wordpress-theme/17090002
And if you link it to a site based on this template
Will certain problems appear?

thanks,

[2019-08-10 19:48] Suhaibaj opened #907 "ListApp & ListPro"
Hi Team

i have a qustion about ListApp and ListPro

Is it compatible with this template?
https://themeforest.net/item/food-guide-restaurant-food-and-drinks-directory-listing-wordpress-theme/17090002
And if you link it to a site based on this template
Will certain problems appear?

thanks,

[2019-08-10 22:32] RaptorHck commented on #882
Persists a issue

![IMG_3293](https://user-images.githubusercontent.com/7127855/62827444-9c19c800-bb94-11e9-8b50-03c156e8e2c2.JPG)

[2019-08-11 09:35] leghost commented on #896
i’m facing an issue. i’m getting error when trying to set up the app with Android studio.

“org.gradle.execution.MultipleBuildFailures: Build completed with 1 failures. at org.gradle.initialization.DefaultGradleLauncher$ExecuteTasks.run(DefaultGradleLauncher.java:386) at org.gradle.internal.operations.DefaultBuildOperationExecutor$RunnableBuildOperationWorker.execute(DefaultBuildOperationExecutor.

[2019-08-11 16:58] codingastronaut commented on #882
i also have this issue, please help!

[2019-08-11 21:42] sackmotion commented on #896
leghost , your issues looks related to :
https://github.com/underscopeio/react-native-facebook-account-kit/issues/195

is with 3.9.2 or below ? Upgrade to 3.9.3 , it's fixed there.

Good luck !

[2019-08-12 01:48] minhcasi commented on #906
Hi, it's not compatible with this template, but we will investigate the solution in next coming flutter project, if you are interested, we will keep an updated status - thank you!

[2019-08-12 01:48] #906 closed

[2019-08-12 01:48] minhcasi commented on #907
Duplicate of #906

[2019-08-12 01:48] #907 closed

[2019-08-12 02:11] #897 closed

[2019-08-12 02:12] thangvo9x commented on #903
Could you share the Appconfig for checking?

[2019-08-12 02:13] thangvo9x commented on #901
Hi. Where did was the error from, please describe more detail?

[2019-08-12 02:13] thangvo9x commented on #905
Could you share the AppConfig file for checking?

[2019-08-12 02:20] minhcasi commented on #833
@axedigital - just clarify that you have messed up your site and the Rest API support for this API does not work, check this link - https://www.princessofsamarkand.com/wp-json/wcfmmp/v1/store-vendors

The correct return json api will be liked this one - http://wclovers.mstore.io/wp-json/wcfmmp/v1/store-vendors

Try to check from your side as the 'master wordpress', If you could not use the app we

[2019-08-12 02:41] serwadda commented on #905
Please find attached for your action

Thanks

Le lun. 12 août 2019 à 05:13, Tony Vo <notifications@github.com> a écrit :

[2019-08-12 03:24] thangvo9x commented on #892
Hi bro. You could try to replace this file at Components/HorizonList/
[styles.txt](https://github.com/inspireui/support/files/3490964/styles.txt)
Remember change from .txt tag -> .js tag because the github isn't uploading from .js tag. Hope you see. Thanks

[2019-08-12 03:58] Pankti16 opened #908 "[Mstore Multistore Vendor] Fresh Install"
1. Hello,
I am getting this error when I click on the category
CeBuilder version: 0.35.0
Multistore Vendor version: 1.3.1

2.
![photo6188211364686833829](https://user-images.githubusercontent.com/28388925/62845045-0d679100-bce3-11e9-9100-2387e3bfd8ac.jpg)

3. purchase code: 002e8ddf-504e-4d29-970c-04716acb1734

3.
[Config.zip](https://github.com/inspireui/support/files/3491001/Config.zip)

[2019-08-12 04:19] concuacon commented on #883
Hello @dougcodes  could you del the node_module and zip the package, then sent to our email tuan@inspireui.com via https://wetransfer.com - i will help for checking this issue - thanks

[2019-08-12 04:20] concuacon commented on #883
Hello @dougcodes  could you del the node_module and zip the source code, then sent to our email tuan@inspireui.com via https://wetransfer.com - i will help for checking this issue - thanks

[2019-08-12 06:49] concuacon commented on #873
Hello @zziltong  could you del the node_module and zip the source code, then sent to our email tuan@inspireui.com via https://wetransfer.com - i will help for checking this issue - thanks

[2019-08-12 07:04] thangvo9x commented on #908
Try to replace this file at containers/Category/
[index.txt](https://github.com/inspireui/support/files/3491269/index.txt)
 Because the github isn't allowed upload .js file. you should change to .js tag

[2019-08-12 08:20] Pankti16 commented on #908
Hello,
Thanks for your reply
it is giving me Unable to resolve "./ProductRow" from "src\containers\Categories\index.js" error.

[2019-08-12 08:43] bobozd commented on #892
Thanks it works.

ANOTHER BUG:
Text in front of top hero image dissapear when you scroll to the top of the
home screem, and it pops up when you scroll down.
Please fix disappear when you are on th top of the screen.

VIDEO:
https://drive.google.com/file/d/1-1w_vw_ZivwjX4Fy3UHVzpL0LN_d_9tw/view?usp=sharing

On Mon, Aug 12, 2019 at 5:24 AM Tony Vo <notifications@github.com> wrote:

[2019-08-12 09:58] Pankti16 commented on #908
Thanks for your reply
it is giving me Unable to resolve "./ProductRow" from
"src\containers\Categories\index.js" error.

[2019-08-12 11:04] ramyragab1 commented on #858
thanks
but this  lib not allow to show date in format dd/mm/yyy

[2019-08-12 12:21] abdalrhmanattia commented on #896
i think app still need developer skill can i apply refund plz

[2019-08-12 12:22] abdalrhmanattia commented on #895
i cheek every think an start every think for beginning put the same problem is still
i think app still need developer skill can i apply refund plz

[2019-08-12 12:33] minhcasi commented on #895
Hi, you can process on this link - https://shrtm.nu/XwHU - thanks

[2019-08-12 12:33] #895 closed

[2019-08-12 12:33] #896 closed

[2019-08-12 12:38] minhcasi commented on #761
Fixed on latest 3.9.4 - https://tppr.me/NktCI - thank you!

[2019-08-12 12:38] #761 closed

[2019-08-12 12:38] #823 closed

[2019-08-12 12:39] #837 closed

[2019-08-12 12:39] #849 closed

[2019-08-12 12:39] #852 closed

[2019-08-12 12:39] #857 closed

[2019-08-12 12:42] minhcasi commented on #858
Hi, just use the moment for format if you don't like to use the ago library, pls check https://momentjs.com/docs/#/displaying/format/

[2019-08-12 12:42] #858 closed

[2019-08-12 12:43] axedigital commented on #833
First of all I have the impression that you do not understand me well. I apologize for my English as I said I am French. Am using google tanslate to speak with you
I am not an expert wordpress, I will tell you I am a little wordpress.
Please, can you look at the error so that it returns the right values? I have no idea what it is.

The accesses of my site are
URL: https://www.princessofsamarkand.c

[2019-08-12 12:44] minhcasi commented on #871
Yes, thank you, this 1.1.6 is the latest version - https://github.com/inspireui/mstore-checkout - we will update new document shortly :)

[2019-08-12 12:44] #871 closed

[2019-08-12 12:45] #880 closed

[2019-08-12 12:45] minhcasi commented on #881
Release 3.9.4 for this fixing, please try to download again - thank you!

[2019-08-12 12:45] #881 closed

[2019-08-12 12:46] minhcasi commented on #883
Hi, pls update to latest 3.9.4 to fix this issue - let us know you checking

Just try these script from the download:
[code]

 thank you!

[2019-08-12 12:46] #883 closed

[2019-08-12 12:48] #893 closed

[2019-08-12 12:48] minhcasi commented on #898
Hi, confirmed this is fixing, and we are uploading for delivery, it will be available on tomorrow - thank you !

[2019-08-12 12:50] Suhaibaj commented on #906
What templates are compatible with it ?

[2019-08-12 13:03] yosefasad commented on #885
Download today  Mstore 3.9.4

the issue still exist ...not solved yet .......

I removed node_module and  send zip package of 3.9.4 to your email support@inspireui.com via https://wetransfer.com from my email under the name of
"[Mstore Pro] 3.9.3 - IOS error when changing the language #885"

[2019-08-12 13:04] minhcasi commented on #904
Hi, pls help to check this guide to change the app name - https://docs.inspireui.com/beonews/delivery/ -thank you!

[2019-08-12 13:09] #869 closed

[2019-08-12 13:29] minhcasi commented on #885
Hi, could you help to download again the mstore-3.9.4b.zip version as it is fixed this build issue

You can also fix by add new config to Podfile
[code]

And replace in package.json
[code]

[2019-08-12 13:32] theAlinux commented on #903
//AppConfig

{
  "Website": {
    "url": "http://bestrestaurants.directory",
    "consumerKey": "ck_2b041d0b13d3ae4d883c83dfb7*************",
    "consumerSecret": "cs_8dd2033fdbc3fbf58f27780a3**************"
  },
  "Theme": "restaurant",
  "MainColor": {
    "tabbarTint": "rgb(27, 229, 141)",
    "tabbarColor": "#D5D8DE",

    "mainColorTheme": "rgb(27, 229, 141)",
    "tabbar": "#FFF"
  }
}

[2019-08-12 13:36] AlaaKriedy opened #909 "[fluxstore] - Oops; flutter has exited unexpectedly."
I have this message when I run app

Oops; flutter has exited unexpectedly.
Crash report written to F:\programer\codecanyon-WG8lwxQX-fluxstore-the-universal-woocommerce-magento-opencart-mobile-app-by-flutter-framework\FluxStore 1.3.5\source\flutter_12.log;
please let us know at https://github.com/flutter/flutter/issues.

FAILURE: Build failed with an exception.

* Where:
Script 'F:\flutter\flutter\

[2019-08-12 14:13] kbroscbe123 opened #910 "[Listapp] - Generated apk through expo build command Crashes"
Hi,

1. Categories names are not displaying in home, when we use "category links" in app home
2. App crashes, while we click on individual listing (Generated apk)
please advise on the above issues

[AppConfig.json.zip](https://github.com/inspireui/support/files/3492851/AppConfig.json.zip)
[Config.zip](https://github.com/inspireui/support/files/3492853/Config.zip)
below is the link for my comment
h

[2019-08-12 14:19] theAlinux commented on #901
get this error after than i clicked Map icon, but only real device, not error emulator

[2019-08-12 20:45] theAlinux commented on #901
//app.json

"android": {
      "package": "com.best.restaurants.uk.gb",
      "versionCode": 6,
      "googleServicesFile": "./release/google-services.json",

       //added this line for error fixes and fixed
      "config": { "googleMaps": { "apiKey": "AIzaSyCHLHnlbp**********************" } }
    }

[2019-08-12 20:45] #901 closed

[2019-08-12 20:53] theAlinux commented on #846
//app.json

[code]

[2019-08-12 21:46] theAlinux commented on #903
i am bored, do it please, i send login information to your email with app file
be dynamic with the same local settings, error-free, I've been dealing with it for a long time now

[2019-08-13 00:50] jakkumarket commented on #909
Having the same issue here for the most part

[2019-08-13 02:07] thangvo9x commented on #908
Hi bro. You missed. path must have Category in containers folder. NOT Categories.

[2019-08-13 02:09] minhcasi commented on #909
@AlaaKriedy @jakkumarket could I check if you are using the window 10?

[2019-08-13 02:13] AlaaKriedy commented on #909
@minhcasi  , yes , I'm using windows 10

[2019-08-13 02:20] jakkumarket commented on #909
Yes I'm using Windows 10 as well

-------- Original message --------
From: Minh Pham <notifications@github.com>
Date: 8/12/19 9:09 PM (GMT-06:00)
To: inspireui/support <support@noreply.github.com>
Cc: jakkumarket <mcklub@outlook.com>, Mention <mention@noreply.github.com>
Subject: Re: [inspireui/support] [fluxstore] - Oops; flutter has exited unexpectedly. (#909)

@AlaaKriedy<https://github.com/Ala

[2019-08-13 02:21] thangvo9x commented on #892
Hi. Replace this file at container/Home/Header/
change  from .txt to
[index.txt](https://github.com/inspireui/support/files/3495034/index.txt)
 .js tag
Thanks

[2019-08-13 03:47] Pankti16 commented on #908
Yeah, Sorry.
My bad. It fixed the issue.

Thanks

[2019-08-13 03:48] Pankti16 commented on #908
Yeah, Sorry.
My bad. It fixed the issue.

Thanks

[2019-08-13 03:48] #908 closed

[2019-08-13 04:01] reconshield commented on #882
try this solution..its works.. add this code in your app.json file

"android": {
      "package": "com.listapp.name",
      "versionCode": 6,
      "googleServicesFile": "./release/google-services.json",

       **//added this line for error fixes and fixed**
      "config": { "googleMaps": { "apiKey": "AIzaSyCHLHnlbp**********************" } }
    }

[2019-08-13 04:03] #882 closed

[2019-08-13 07:25] arjunchopra35 opened #911 "[List-App] - this.props/fetchPayments is not a function and Listing not being displayed on Android"
1. My issue
I have two major issues.
1) I get the error this.props.fetchPayments is not a function when booking a service. The first screen works fine but after selecting date and time and clicking on next, I get this error

![Screen Shot 2019-08-13 at 3 17 52 AM](https://user-images.githubusercontent.com/19815604/62922321-1acf5a80-bd79-11e9-961a-a37fa66a3eb6.png)

2) The listing I have created is

[2019-08-13 08:09] yosefasad commented on #885
it works now ...thank you very much

[2019-08-13 12:55] amit81 commented on #863
lottie-react-native:compileDebugJavaWithJavac FAILED

[2019-08-13 12:56] amit81 opened #912 "[my-product] - beonews-pro"
---------

1. My issue : lottie-react-native:compileDebugJavaWithJavac FAILED

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-08-13 13:12] minhcasi commented on #845
Hi, pls check the example #3 to display the news layout - https://docs.inspireui.com/listpro/theme/

[2019-08-13 15:59] theAlinux commented on #845
@minhcasi
okay but now all of textarea are remove after than i change the textareas in listapp manager settings, why?

[2019-08-13 16:03] urphilita opened #913 "[Fluxstore] Cambio el enlace de la imagen y no se visualiza en Horizontal Home Page"
Realizando cambios en el archivo config.json tratando de establecer nuevas imágenes no se despliega nada en la app. Por favor solicito su gentil apoyo
![Screenshotinspireui fluxstore](https://user-images.githubusercontent.com/25040516/62957103-22672180-bdc2-11e9-8c6a-43c82cef4473.jpg)
![Captura de pantalla de 2019-08-13 12-02-27](https://user-images.githubusercontent.com/25040516/62957201-4fb3cf80

[2019-08-14 01:48] minhcasi commented on #885
you're welcome, thank you!

[2019-08-14 01:48] #885 closed

[2019-08-14 01:51] #873 closed

[2019-08-14 01:51] minhcasi commented on #898
Hi, please help to download the latest 1.4.0 for fixing the issue - thank you!

[2019-08-14 01:51] #898 closed

[2019-08-14 01:52] minhcasi commented on #909
Hi, could you help to try with latest version 1.4.0

[2019-08-14 02:05] jakkumarket commented on #909
@minhcasi How do we even update without overwriting everything?

[2019-08-14 03:43] benyang2015 opened #914 "[fluxtstore Pro] - support stripe and paypal pro payment"
1. I already buy the app source,how to support stripe payment and paypal pro payment? I'm use magento2.3.x

2. how to public the new version support stripe and paypal  if not support these payment now on version1.4

3. my online website sue stripe payment and paypal pro payment,now the app also need these payment

[2019-08-14 07:10] reconshield opened #915 "[Listapp] - Categories loading time in home page"
i succefully publish my app in google play. thanks to @minhcasi @thangvo9x.

but want ask some questions before let public use it..

1) after user download app from google play store..apps loading is good. my app 27mb.
    after splash screen, all the categories display in home page. categories name not display..its take sometime or we have to close app and open back , then can see all categories

[2019-08-14 08:30] leghost opened #916 "can not set up the app"
i can't set up the app. i get error message when i run yarn install or npm . i'm using the 3.9.4 version.

![image](https://user-images.githubusercontent.com/47028114/63006116-248eb600-be7e-11e9-91c2-f670d960e2de.png)

yarn install v1.17.3
info No lockfile found.
[1/4] Resolving packages...
warning expo > fbemitter > fbjs > core-js@1.2.7: core-js@<2.6.8 is no longer maintained. Please, upgrade to

[2019-08-14 09:34] 007asom opened #917 "BUILD FAILED Mstore pro"
Hello
I'm trying to build a new app

BUILD FAILED in 9m 6s

    at checkExecSyncError (child_process.js:621:11)
    at execFileSync (child_process.js:639:15)
    at runOnAllDevices (\mstore-3.9.4b\mstore-pro\node_modules\@react-native-community\cli-platform-android\build\commands\runAndroid\runOnAllDevices.js:74:39)
    at buildAndRun (\mstore-3.9.4b\mstore-pro\node_modules\@react-native-community

[2019-08-14 10:31] axedigital commented on #833
It's OK for the plugin
https://www.princessofsamarkand.com/wp-json/wcfmmp/v1/store-vendors

[2019-08-14 10:33] #845 closed

[2019-08-14 10:33] #903 closed

[2019-08-14 10:41] theAlinux opened #918 "[ListPro] - Get Locations from Wordpress on HomePage"
i think, usable components these
[code]

but i want to get locations from wordpress site?

i created this but doesn't be

[code]

[2019-08-14 11:07] theAlinux commented on #915
i not get all of categories from wordpress site
but
set "local enable: true" on Restaurant.js (your theme.js)
 there is
[code]
in "horizontalLayout"

this link to HomeCategories in common/config/index.js
there are "category: categoryId", the categoryId change to listing category in url "tag_ID: number" from wordpress site

i hope you will understand

[2019-08-14 11:11] reconshield commented on #915
I get all categories .. no problem.. i mean when launch app its not display categories name .. check listapp documetation image also same.. when we close app and open again.. its ok..

[2019-08-14 11:26] axedigital commented on #833
I contacted the support of WCFM and they solved the problem with the plugin as you can see on:
https://www.princessofsamarkand.com/wp-json/wcfmmp/v1/store-vendors

Please, I have a problem: Vendors are still not displayed in the app. See the screenshot.
and on the other hand, there is an error when I click on the tab "vendor" from a product.

[2019-08-14 11:48] theAlinux commented on #915
how do you get all of categories?

[2019-08-14 11:50] reconshield commented on #915
Yes.. i get all no problem.. but issue is
1st time app load.. cant see.. have to close and open back.. its not good when i publish app to public.. they will think its blank... its api load slow something

[2019-08-14 11:54] theAlinux commented on #915
also for system optimize, i can write "expo optimize" to console in project directory

[2019-08-14 12:32] axedigital commented on #833
Please one last thing too. Translation does not work in my application

[2019-08-14 13:40] masonPy3 commented on #711
@minhcasi  Hi, I have the same problem, tried to reinstall both..

[2019-08-14 13:42] reconshield commented on #711
MasonPy3 .. try latest version.. 1.7.3

[2019-08-14 13:43] masonPy3 commented on #711
@reconshield I'm on 1.7.3, it fixed your problem? I got it from 1.7.3

[2019-08-14 13:45] reconshield commented on #711
Yes.. try remove cache ..

[2019-08-14 13:48] masonPy3 commented on #711
@reconshield how? tried to run yarn start -c
I also re-install the expo app
Thanks

[2019-08-14 13:50] reconshield commented on #711
Did u remove node modules?

[2019-08-14 14:05] masonPy3 commented on #711
@reconshield yes

[2019-08-14 15:17] v3creatives commented on #782
Hi Thang,

Thanks for the files, they helped stopped the app from crashing when you searched on tried to view the Vendors tab.

1. Still can not see Vendors when you select Vendors from the categories screen.

2. When you select Vendor on products page, no Vendor details are shown (store name or address), when hit details the app crashes.

3. No reviews are shown on app, can this not be fixed? Rev

[2019-08-14 15:17] alho00ot opened #919 "[Mstore-Pro] two Bugs"
---------

1. My issue
There are two bugs, I need your help to fix it. First one the app crashed when you try to swap the first picture in the opposite direction of BannerSlier layout for more than three times. The second issue, I have 14 products under bannerImage, when Click for the first time all product appears but if you back to the home page and click again on that banner it will show just 1

[2019-08-14 15:21] v3creatives opened #920 "[M Store MV] - Vendors Not Showing + Many issues #782"
---------

Can the previous ticket be re-opened please and my recent comment looked at please.
https://github.com/inspireui/support/issues/782#event-2547932360

[2019-08-14 15:50] masonPy3 commented on #711
fixed. was version mismatch in app.js
Thanks

[2019-08-14 17:47] Isodie opened #921 "[Fluxstore] - Product Images not loading and errors on Product page"
1. My issue - Images are not loading and there are errors on product page.

2. Screenshots -
<img width="1440" alt="Screenshot 2019-08-14 at 11 09 28 PM" src="https://user-images.githubusercontent.com/14618403/63042911-b7643a80-bee8-11e9-8c31-ad2621c51759.png">
<img width="1440" alt="Screenshot 2019-08-14 at 11 09 06 PM" src="https://user-images.githubusercontent.com/14618403/63042912-b7fcd100-bee

[2019-08-14 17:58] leghost opened #922 "[mstore-pro] Node JS 10.x"
---------

1. My issue
I can't set up the app. Error when running yarn install
2. Screenshots
![image](https://user-images.githubusercontent.com/47028114/63043815-3ba8c480-becd-11e9-86d1-81027ccce139.png)
![image](https://user-images.githubusercontent.com/47028114/63043826-42cfd280-becd-11e9-99c5-f9dd98fd574f.png)
![image](https://user-images.githubusercontent.com/47028114/63043869-5a0ec000-becd-1

[2019-08-14 20:09] peter2411 opened #923 "fluxstore-woocommerce v 1.4b error"
1. My issue

i just downloaded the latest version 1.4 and run it without any edits!
i got this error when i try to login in the app with any login method , i can't see the user setting

2. Screenshots

https://prnt.sc/osqxgd
https://prnt.sc/osqy25

3. My screenshot of the purchase product or my comment:

https://prnt.sc/osqzpb

[2019-08-14 22:03] theAlinux opened #924 "[ListPro] - Some Requests (Listing on Map - Post Listing - Close Login Modal)"
//AppConfig
[code]
//Restaurant.js

[code]

//index.js

[code]

1- How i do default coordinates on map actually android map? And select listing but not focus on map?

![1](https://user-images.githubusercontent.com/10341948/63059092-2c3e7100-bef7-11e9-95ad-ccf1ef52ae1d.PNG)

2- not close after than return to success message

![2](https://user-images.githubusercontent.com/10341948/63059144-48daa900-

[2019-08-15 01:12] arjunchopra35 commented on #911
I would really appreciate some help here! It's been two days. Please let me know what files do you need from me to look into the issues!

[2019-08-15 01:31] #915 closed

[2019-08-15 01:32] reconshield opened #925 "[Listapp] - Categories Name loading time in homepage"
i succefully publish my app in google play. thanks to @minhcasi @thangvo9x.

but want ask some questions before let public use it..

after user download app from google play store..apps loading is good. my app 27mb.
after splash screen, all the categories display in home page. categories name not display..its take sometime or we have to close app and open back , then can see all categories name. i

[2019-08-15 01:43] jakkumarket opened #926 "[FluxStore-Woocommerce] Lib files not populating"
---------

1. My issue

Whenever I start a new flutter project, it seems as though all of the files do not populate, specifically the lib folder.

2. Screenshots
https://imgur.com/nHtGq40

3. My screenshot of the purchase product or my comment:
https://imgur.com/JImeNuH
3. Config files (optional)

[2019-08-15 06:59] thangvo9x commented on #918
Huh. I see your problem. But get around locations has only access at MapScreen page. You can't use it on the HomePage Screen. Thanks.

[2019-08-15 07:00] thangvo9x commented on #911
Hi. Could you share the AppConfig file for checking?
Thanks.

[2019-08-15 07:32] arjunchopra35 commented on #911
{
  "Website": {
    "url": "http://localhost:8888/goodlooks",
    "consumerKey": "ck_8b0523cd72cfd64346bd348abbf5bcd9c0f4826b",
    "consumerSecret": "cs_974dbe2c792946b7a7a4f4f63c3b051fdb61e8f1"
  },
  "Theme": "listable",
  "MainColor": {
    "tabbarTint": "#00B2BC",
    "tabbarColor": "#D5D8DE",
    "mainColorTheme": "#00B2BC",
    "tabbar": "#fff"
  }
}

[2019-08-15 07:33] arjunchopra35 commented on #911
<img width="1351" alt="Screen Shot 2019-08-15 at 3 32 59 AM" src="https://user-images.githubusercontent.com/19815604/63079822-69adf900-bf0d-11e9-90c4-6e4a67413348.png">
Do you need me to make it live on a server?

[2019-08-15 07:42] #918 closed

[2019-08-15 07:44] thangvo9x commented on #925
maybe the problem is coming from your network. the network is slowly.

[2019-08-15 08:06] reconshield commented on #925
If my network got issue then your documentation image also show same.. only image show.. not categories list.. your network and mine slow.. which network is better? Pls advice

https://docs.inspireui.com/static/61a06bc0948e7c7f199af0310385852e/22e61/theme1.png

[2019-08-15 09:49] minhcasi commented on #919
Hi, could you share your configs file as well? It's ok if you are using the default one - thank you!

[2019-08-15 09:52] minhcasi commented on #922
@concuacon - pls help for suggestion

[2019-08-15 11:20] sefayildirim opened #927 "The following error for member login"
(index):1 Access to XMLHttpRequest at ‘http://mydomain.com/wp-json/jwt-auth/v1/token' from origin ‘http://localhost:8081' has been blocked by CORS policy: Response to preflight request doesn’t pass access control check: It does not have HTTP ok status.

screenshot:  http://app.carsi1461.com/api/img/Ads%C4%B1z.png

[2019-08-15 11:57] kbroscbe123 commented on #910
hello, I have been waiting for the past 2 days, no reply yet

[2019-08-15 12:13] bobozd commented on #892
hello,

now when I click on second footer icon on the bottom (location icons - search on map) application restarted and I got this screen in simulator.
![Screen Shot 2019-08-15 at 14 11 02](https://user-images.githubusercontent.com/28021993/63093771-b83bb180-bf66-11e9-83cd-01852193ca39.png)
Previously I have unwanted 29EUR text that I removed following this thread:
https://github.com/inspireui/sup

[2019-08-15 12:14] theAlinux commented on #927
check this => https://docs.inspireui.com/listapp/getting-started/#jwt-authentication

[2019-08-15 12:50] EffectiveOG opened #928 "[Fluxstore] - Not rendering Image with .jpeg extension"
---------

1. My issue

The app is not rendering image with .jpeg extension meanwhile those with .jpg works fine
2. Screenshots
![Capture d’écran (12)](https://user-images.githubusercontent.com/33296809/63095544-6d6c6a80-bf63-11e9-8577-48f26056d0e4.png)
3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-08-15 13:03] mooidev opened #929 "mstore pro"
---------

1. My issue

Firstly, great work guys. This app is very cool! Please see my questions below:

1.1 I'm currently using the Payment Gateway PayFast (www.payfast.co.za). It seems to connect however when I go to complete the purchase, it loads the website instead of connecting to the payment gateway?

1.2 On the Sign Up page. Can I add an additional custom field? I would like to include an

[2019-08-15 13:13] yazanhadid opened #930 "Mstore mv the products do not appear"
Halo ;  i do everythin on CeBuilder , every thin is work normal , just the produtcts do not appear  in the app ,  i  also can see all Category on  CeBuilder  .
this is my website www.ornina-moda.de
![1](https://user-images.githubusercontent.com/50557319/63096798-21272780-bf6f-11e9-9624-920d2b388977.jpg)
![2](https://user-images.githubusercontent.com/50557319/63096799-21272780-bf6f-11e9-987a-c33ca8

[2019-08-15 13:56] shweta-bavishi commented on #880
I have used the same configurations. I have already attached my json object on the above image, which follows up the same format. Please let me know if any thing else needs to be added

[2019-08-15 14:29] theAlinux commented on #924
2- FIXED

//Container/SignIn/index.js

[code]

[2019-08-15 17:24] Isodie commented on #928
HI
I am having same issue.

[2019-08-15 18:54] kuttim opened #931 "[Evastore] -"
1. My issue - On documentation for evastore, it says the common path for graphql api is domain.com/api/graphql however I'm getting error 404, I've followed all your steps on your documentation.

2. Screenshots

3. Config files (optional)
[code]

[2019-08-15 20:41] kuttim commented on #931
Fixed.

[2019-08-15 20:41] #931 closed

[2019-08-15 21:47] cybdom commented on #205
I have the same issue, Invalid authentication cookie HELP

[2019-08-15 21:50] samik9 opened #932 "Fluxstore Pro - Flutter E-commerce Full App"
Hello team, good day!
[config.txt](https://github.com/inspireui/support/files/3507309/config.txt)

1. Please fix the two lines of name of category, it should align center: https://d.pr/i/9V4lAj , also will be great that from JSON text size from category can be adjusted.

2. how can I regenerate images cause plugin is not working? https://d.pr/i/fzrrtpose the ticket if you could not prove as our cu

[2019-08-15 22:46] wladmyralmeida opened #933 "[FluxStore] - add another payment option and change Full App to Portuguese"
How can I add the payment option for my PagSeguro region?
And change from dollar to Real throughout the app

[2019-08-16 02:30] thangvo9x commented on #911
Yup. I can't check on this your localhost.

[2019-08-16 04:02] concuacon commented on #922
Hello @leghost you can downgrade node, npm & yarn version
the same
<img width="586" alt="Screen Shot 2019-08-16 at 10 55 43 AM" src="https://user-images.githubusercontent.com/11958061/63142682-f0013280-c014-11e9-9462-32c151c69eee.png">

[2019-08-16 04:43] thangvo9x commented on #892
Hi bro. Please keep to your video screenshot for that problem to check. Thanks

[2019-08-16 04:46] thangvo9x commented on #925
You could be using this plugin.
http://mylisting.inspireui.com/wp-admin/options-general.php?page=webp_express_settings_page
I tried some listing on our website and they were loaded very fast.

[2019-08-16 04:48] thangvo9x commented on #924
Hi. Do you have got the latest version? The submit button maybe from config on JWT Authentication plugin. Try to check it.
Share full AppConfig for checking.

[2019-08-16 04:49] thangvo9x commented on #905
Ah huh? For adding them. You must have to customize it. Thanks

[2019-08-16 07:08] reconshield commented on #925
this one image optimazer plugin.. webp express plugin..
im facing issue on API call categories list in app.. images load fast in my app..no issue..

[2019-08-16 07:09] arjunchopra35 commented on #911
I will make it live within 24 hours, reciprocate the issues and get back to you.

[2019-08-16 07:13] thangvo9x commented on #833
Try to replace the content of this file.
[AppConfig.txt](https://github.com/inspireui/support/files/3508438/AppConfig.txt)

[2019-08-16 07:25] theAlinux commented on #924
@thangvo9x

yes, i have version 1.3.5

[code]

[2019-08-16 08:04] #927 closed

[2019-08-16 08:43] serwadda commented on #905
I am completely new with React and React Native, but I can dig right in if you can offer some clues on the customization. I.e. a walkthrough on what to customize and where. Thanks

[2019-08-16 09:29] sefayildirim commented on #927
Much obliged!

[2019-08-16 10:17] minhcasi commented on #917
Hi, could you try to check this document to see if you can run the Example project on this guide - https://facebook.github.io/react-native/docs/getting-started.html

Also, provide us a full screenshot of the issue - thank you!

[2019-08-16 10:23] kbroscbe123 commented on #910
hello, I am not getting any reply from your end

[2019-08-16 10:23] #894 closed

[2019-08-16 10:25] thangvo9x commented on #905
You can go to containers folder at Theme/youtheme/PostNewListing/index.js
You can add more fields or do anything in the case.

[2019-08-16 10:27] thangvo9x commented on #920
Uhuh? Could you tell me about your problem?
Do the vendors still not display?

[2019-08-16 10:28] thangvo9x commented on #930
Hi bro. Could you share full AppConfig.json file for checking?

[2019-08-16 10:28] thangvo9x commented on #930
Hi bro. Could you share full AppConfig.json file for checking?

[2019-08-16 10:46] minhcasi commented on #910
Hi @kbroscbe123 sorry for the late response, @thangvo9x  is checking the issue will get back you shortly - thank you!

[2019-08-16 10:47] minhcasi commented on #912
Hi, could you help to take the screenshot of your purchased product, also send us the whole screenshot of this issue, thank you!

[2019-08-16 10:50] minhcasi commented on #929
Hi @mooidev  - thank you for your reporting.

1. The payment feature will load to process via WebView component, it's load the mstore-checkout  web form to support multi-payment, if you can see the webview same as when you process via Webview then it is run correctly.

2. Yes you can add a new custom field and save to the wordpress database, require some customization

Thank you!

[2019-08-16 10:53] minhcasi commented on #914
Hi, could you help to share the config file so that we could check the integration for this payment, we could update this feature in next release, current v1.4 is not supported for Paypal and Stripe on Magento - thank you!

[2019-08-16 10:53] minhcasi commented on #916
Hi, could you try to re-install the nodejs 10.x - https://nodejs.org - thank you!

[2019-08-16 10:58] kbroscbe123 commented on #910
okay, thanks. looking forward

[2019-08-16 11:04] minhcasi commented on #913
Hi, it's working with our testing - https://tppr.me/znytp

[2019-08-16 11:11] serwadda commented on #905
Thanks Tony..let me see what to do.

[2019-08-16 11:12] v3creatives commented on #920
No Vendors do not display.

Can we re-open  this ticket please (https://github.com/inspireui/support/issues/782#event-2547932360) and continue on their?

[2019-08-16 11:19] mooidev commented on #929
Thank You. Do you some documentation on how to add the custom field?

Brad Corden
brad@mooidev.com
+27842888001

On 16 Aug 2019, 12:50 +0200, Minh Pham <notifications@github.com>, wrote:

[2019-08-16 12:09] ihsanberahim opened #934 "[Fluxstore Pro] - Please avoid upload these local development files"
This is a basic request. I don't want these file included in the provided zip:

1. `android/.gradle`
2. `ios/.symlinks`

![image](https://user-images.githubusercontent.com/1956846/63166633-970bbb80-c061-11e9-9626-c79537f4f767.png)

This mess me everytime i update my project or i just lazy to clean them myself again and again. Thanks ;)

[2019-08-16 12:18] thangvo9x commented on #910
Could you screenshot for that problem help me?
Thanks

[2019-08-16 12:26] kbroscbe123 commented on #910
I am sending the apk link. issue is only with generated apk and it works well with expo client
https://mega.nz/#!hZN0kAJR!kOThxmR5oTdlqIjSA85cw9HcEBkSzkCm6apxJu6vz2E

[2019-08-16 12:36] ihsanberahim commented on #934
`ios/Flutter/Generated.xcconfig`

![image](https://user-images.githubusercontent.com/1956846/63167983-72194780-c065-11e9-95d7-694b4e764a48.png)

[2019-08-16 12:53] kbroscbe123 commented on #910
below is the video describing the issues, it would be helpful for you
https://mega.nz/#!5I9C1KgY!IpXXANGYmLPPY9l45kN44TEDdqQeRZ7CVdvmEiuT-WY

[2019-08-16 21:14] theAlinux commented on #924
1- FIXED (Default Coordinats)

//for Zoom, path --> Config/index.js

[code]

//for default coordinats, path --> Redux/reducers/map.js

[code]

but listing boxes still has not focus (only for android)???

[2019-08-16 21:31] sackmotion commented on #922
I had some problems building 3.9.2 with same kind of problems and was related to node version , once i downgrade to latest stable everything was smooth. Tested with 3.9.4b too

FYI running Mac OS High Sierra ( not windows , however try to get latest stable of node ).
node -v
v10.16.0
npm -v
6.9.0
yarn -v
1.17.3

https://nodejs.org/en/download/ , install Latest LTS Version: 10.16.3 (includes npm 6.

[2019-08-16 22:05] yazanhadid commented on #930
hallo , i have contact with your college ((inspireui.intercom-mail.com)) schould i continue with or with your college ?
thanl you

[2019-08-17 01:44] minhcasi commented on #922
Thank for your sharing @sackmotion - there is a known issue on Nodejs 12.x, it's working fine on node 10.x

[2019-08-17 01:47] minhcasi commented on #934
@ihsanberahim - thank you very much for your feedback, I will update with the team to remove these files on future releases

[2019-08-17 06:30] leghost commented on #922
Thanks it's ok for me now.

[2019-08-17 06:31] leghost commented on #922
I just downgraded my componnents an it run fine now.

[2019-08-17 07:26] Pars1vaLl opened #935 "[Fluxstore] Jsop-api plugin issue"
Hi,

It is impossible to download Json-Api plugin for Fluxstore. Is there any workaround?

Thanks

[2019-08-17 08:29] kbroscbe123 commented on #910
hi, any chance to solve the issue. Thanks

[2019-08-17 08:42] theAlinux commented on #935
i don't know what is mean for Fluxstore but plugins link => https://docs.inspireui.com/listpro/getting-started/#basic-plugins

[2019-08-17 10:40] minhtruong315 commented on #933
You need to config on admin panel.

You can edit currency kAdvanceConfig in lib/common/config.dart

[2019-08-17 11:25] minhtruong315 commented on #928
We fixed. it will be available in next release

[2019-08-17 11:25] #928 closed

[2019-08-17 11:28] minhtruong315 commented on #923
Hi @peter2411. we fixed this issue. it will be available in next release. Thanks

[2019-08-17 11:28] #923 closed

[2019-08-17 11:34] EffectiveOG opened #936 "[Fluxstore] - Problem with product details and categ section"
t (example: https://tppr.me/DJA8L)

---------

1. My issue
Image detail showing some weird errors and categorie section
2. Screenshots

![Screenshot_1566038715](https://user-images.githubusercontent.com/33296809/63211129-1e514180-c0eb-11e9-9593-e30a6b249a49.png)

![Screenshot_1566038684](https://user-images.githubusercontent.com/33296809/63211131-1ee9d800-c0eb-11e9-8408-d5c4cdd2a8e5.png)

3. My sc

[2019-08-17 11:39] #868 closed

[2019-08-17 11:41] minhcasi commented on #926
Hi, you just need to open the project folder from the download package, instead of creating new Flutter project - thanks

[2019-08-17 11:57] #926 closed

[2019-08-17 12:55] Pars1vaLl commented on #935
Json Api from this Documentation: https://docs.inspireui.com/fluxstore/getting-started/
and this plugin: https://wordpress.org/plugins/json-api/#description

[2019-08-17 12:55] myothura opened #937 "MStore Pro - circleCategory"
Hello, I would like to know how to map with circleCategory and how to change circleCategory icon. If you have the time please kindly explain me thanks.

This one is my - item buy date 2019-08-16 08:40:13 UTC

this one is last Purchase Code - afd17110d52c

[2019-08-17 12:57] myothura commented on #937
i mean map wordpress category  with circleCategory and how to change circleCategory icon

[2019-08-17 13:41] mohamedibrahim89 opened #938 "[mstore pro] - start with banner slider not by date and logo"
1. My issue
need homepage for app start with banner and slider and need to deactive the logo and date in home
2. Screenshots
![InkedScreenshot_20190817-141834_Shopidom_LI](https://user-images.githubusercontent.com/35544603/63212482-6bdaa800-c105-11e9-8a5d-10a79c9a60b1.jpg)

[2019-08-17 13:51] minhtruong315 commented on #921
Hi @Isodie We fixed. it will be available in next release.thanks

[2019-08-17 13:51] #921 closed

[2019-08-17 14:22] theAlinux commented on #935
yup

[2019-08-17 15:07] minhtruong315 commented on #932
Hi @samik9
1. fixed
2. I can't see the screenshot
3. I checked your config. But i can't reproduce this issue. Can you record video?
4. fixed
5. You can use postman to get payment method list.
http://bugambillia.com/wp-json/wc/v2/payment_gateways
 This api need Oauth 1.0. So you need to set Consumer Key and Consumer Secret
6. it is image. you can change image url in config.json

[2019-08-17 16:32] theAlinux opened #939 "[ListPro] - Hide My Bookings Column on Profile Page"
config => #924

set "Booking: false" but doesn't hide my bookings column on login profile page?

[2019-08-17 18:09] peter2411 commented on #923
unfortunately i can't wait until the next release , i don't have a lot of
blog posts the error will Very visible !
at least send the fix for me or tell me how to turn off the sliding feature
i have some experience with coding

On Sat, Aug 17, 2019 at 1:28 PM minhtruong315 <notifications@github.com>
wrote:

[2019-08-17 20:53] theAlinux commented on #939
FIXED

//Navigation/index.js

do comment line

[code]

[2019-08-17 21:06] sackmotion commented on #916
This can be closed , it's solved in #922 .

Thank you !

[2019-08-17 22:51] minhtruong315 commented on #923
You can update initState function in lib/screens/settings.dart like this
<img width="641" alt="Screen Shot 2019-08-18 at 05 50 54" src="https://user-images.githubusercontent.com/10402500/63218067-45a41f00-c17c-11e9-83e0-1e3d496b8c6a.png">

[2019-08-17 23:07] samik9 opened #940 "Fluxstore Pro"
- [ ]When "EnableShipping": false, this happens, the  user can see shipping when click go back
 vide: https://d.pr/v/NJf8pt

---------

[2019-08-17 23:36] samik9 commented on #932
2. how can I regenerate images cause plugin is not working? Screenshot Fixed 👉 https://d.pr/i/fzrrtp

3.  This is the video you requested https://d.pr/v/X2BcLx   👉 also products does not load on homescreen neither

@minhcasi @minhtruong315

[2019-08-18 01:37] #932 closed

[2019-08-18 02:13] samik9 opened #941 "[FLuxstore PRO] Payment Gateway issue"
Hello guys, I been struggling a lot with the payment gateways, I got the ID`s from wp-json/wc/v2/payment_gateways  but when I try to pay with **epayco** and **payulatam** the web view takes me to and 404 page,

Video: https://d.pr/v/UqutmO
Config File: https://d.pr/f/3728tq

[2019-08-18 07:23] minhcasi commented on #916
Duplicate of #922

[2019-08-18 07:23] #916 closed

[2019-08-18 07:23] #922 closed

[2019-08-18 07:29] minhcasi commented on #935
@Pars1vaLl - please download it from this link - https://github.com/PI-Media/json-api - the author will publish it again on Wordpress Plugins.

Or use the one from the download package - https://tppr.me/NEbZj

[2019-08-18 07:29] #935 closed

[2019-08-18 07:30] minhcasi commented on #936
Noted with checking, could you share the config files so that we could help for checking?

[2019-08-18 07:33] minhcasi commented on #941
### First solution:

First, we need to create a page and name it "mstore-checkout" and remember don't set any parent page for it, then set page template to"page custom template
You need to install the mstore-checkout plugin at the first place.
Below is the screenshot for how to setting:

<img width="853" alt="assets_-LH63EuJG5iAEZIHCZ4d_-LH7kQXRhLdIHIgQy0NW_-LH7lTU197vsEPTKSJWh_Screen Shot 2018-07

[2019-08-18 08:28] samik9 commented on #941
Hi @minhcasi I followed the **first solution** as you mentioned, everything works fine, but when the webview loads shows checkout web and after some seconds, it goes white, nothing happens, only white screen please check video https://d.pr/v/Wcx25A

<img width="1055" alt="Captura de Pantalla 2019-08-18 a la(s) 3 27 45 a  m" src="https://user-images.githubusercontent.com/50071744/63222076-2ef3cd00-

[2019-08-18 08:46] samik9 opened #942 "Fluxstore Pro"
1. **Favorites does not save after logout.**
If I save a favorite I **log out** and **log in**, then the favorites are gone.

2. **After Sign up, it ask name again when checking out.**
If i sign up using email, I will need to fill name, last name, and email, so far all good, but when I am going to make a purchase something, on checkout, the data for email, and names are not filled, it should fill

[2019-08-18 09:32] Pars1vaLl opened #943 "[Fluxstore] - MstoreUser is missing"
Hi guys,

I have asked to share URL to download JSON-api: https://github.com/inspireui/support/issues/935

You shared URL and I have download from Github, however there is no 'MstoreUser' in plugin settings as shown in your docs. Here is screenshot: http://prntscr.com/ou5e36

Thanks

[2019-08-18 09:45] Isodie opened #944 "[Fluxstore] - Pinterest layout not working on Product list page"
1. My issue - Pinterest layout not working on Product list page

2. Screenshots -

**I have set ProductListLayout to pinterest in config.json**
<img width="626" alt="Screenshot 2019-08-18 at 3 00 06 PM" src="https://user-images.githubusercontent.com/14618403/63222780-cb01f080-c1c9-11e9-8d0b-5bc3f8e916bd.png">

**"Women > Bags" Category  on home page with pinterest layout working.**
<img width="382

[2019-08-18 11:22] yazanhadid commented on #930
hallo , can you please give me an Email to send the File

[2019-08-18 20:17] Saadbadi opened #945 "[ListApp] - Error this.props.fetchPayments is not a function"
Hi
    I get the error this.props.fetchPayments is not a function when booking from App.
when i select service and select start time + End time and Click Next the error appear
Note : The error appear IOS Real Device + IOS Simulater
Thanks

1- ScreenShot of Error

3. My screenshot of  my comment:

3. Config files

![Simulator Screen Shot - iPhone XR - 2019-08-18 at 16 54 34](https://user-images.git

[2019-08-18 23:30] ghanchi2000 opened #946 "Fluxstore issues and feature requests"
1) we have over 1000 categories, in categories page it show blank category
(please check email for config file)
2) Also we want to change app name, package name and version how to change ?
3) We only ship to Pakistan, we want to remove zip code field, state field and auto select Pakistan as only selection
4) after click sign in with email in login page, there is no animation which lead to click mu

[2019-08-19 00:23] ghanchi2000 commented on #946
change package name

C:\fluxstore\android\app\src\main\AndroidManifest.xml
C:\fluxstore\android\app\src\debug\AndroidManifest.xml
C:\fluxstore\android\app\src\profile\AndroidManifest.xml
C:\fluxstore\android\app\src\main\java\com\inspireui\fluxstore\MainActivity.java
C:\fluxstore\android\app\build.gradle
C:\fluxstore\android\app\google-services.json
C:\fluxstore\build\app\intermediates\merged_mani

[2019-08-19 01:47] minhcasi commented on #943
Hi, pls confirm that this link we will work - https://github.com/inspireui/mstore-checkout

https://tppr.me/XTceS

[2019-08-19 02:15] #833 closed

[2019-08-19 02:15] thangvo9x commented on #930
support@inspireui.com

[2019-08-19 02:21] yazanhadid commented on #930
ok  i sent the files

[2019-08-19 02:49] jakkumarket opened #947 "[FluxStore] - I/flutter (17760): Another exception was thrown: NoSuchMethodError: The getter 'isEmpty' was called on null."
---------

1. My issue
Trying to view products, and I receive `I/flutter (17760): Another exception was thrown: NoSuchMethodError: The getter 'isEmpty' was called on null.` No pictures or anything show when trying to view products or the shop page in general.
2. Screenshots
No screenshot, but you may know it as the red screen with yellow text.
3. My screenshot of the purchase product or my comment

[2019-08-19 03:05] thangvo9x commented on #945
hi bro. Try to replace this file at Theme/myListing/Container/Cart/Payment/
[index.txt](https://github.com/inspireui/support/files/3514043/index.txt)
Change from .txt -> .js tag
Thanks

[2019-08-19 03:17] #905 closed

[2019-08-19 03:23] thangvo9x commented on #925
Try to replace this file at Container/Home/Horizontal.js with below file
[Horizontal.txt](https://github.com/inspireui/support/files/3514072/Horizontal.txt)
Remember that change from .txt -> .js tag
Thanks

[2019-08-19 03:59] thangvo9x commented on #924
Hi bro. Try to replace this file at App/Redux/reducers/map.js
[map.txt](https://github.com/inspireui/support/files/3514127/map.txt)
Change from .txt -> .js tag
Thanks

[2019-08-19 04:06] thangvo9x commented on #930
I got your website. But the AppConfig which was sent by the original version. More clearly, you can send us an account from your backend dashboard for checking. This purpose will get the consumer key from WooCommerce for getting those products.

[2019-08-19 04:23] yazanhadid commented on #930
hallo , do you mean you need  an account from my wordpress Dashboard ?
this is an account
user ; mstore
pass : x$7p)5cBoX6ZJnlCg4Lc2VtZ
url : https://www.ornina-moda.de/ <https://www.ornina-moda.de/wp-admin/>
rasha

than you

‫في الاثنين، 19 أغسطس 2019 في 6:06 ص تمت كتابة ما يلي بواسطة ‪Tony Vo‬‏ <‪
notifications@github.com‬‏>:‬

[2019-08-19 04:48] reconshield commented on #925
@thangvo9x  just tried..its same.. :(

[2019-08-19 07:19] Saadbadi commented on #945
Hi bro.
thank you so much for your reply !
the problem solved but now when i fill the required Delivery info. and click next the payment method not appear (See the screenshot please)
![IMG_8505](https://user-images.githubusercontent.com/17745490/63246098-89755200-c26a-11e9-9b9e-df595aa0de5c.PNG)

and if i click on Confirm Order button this error message appear .

Thanks

[2019-08-19 07:23] kbroscbe123 commented on #910
Hi there, looking forward for the fix

[2019-08-19 07:37] theAlinux commented on #924
@thangvo9x

Solution for 3?

[2019-08-19 08:53] amit81 commented on #912
Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

info Starting JS server...
info Building and installing the app on the device (cd android && gradlew.bat app:installDebug)...
Starting a Gradle Daemon, 1 busy and 1 incompatible and 1 stopped Daemons could not be reused, use --status for details

:react-native-webview:reactNativeAndroidRoot C:\Users\Amit Sanghvi\Document

[2019-08-19 08:54] amit81 commented on #912
**Task :react-native-admob:compileDebugJavaWithJavac FAILED**
![Screenshot (93)](https://user-images.githubusercontent.com/11808338/63252221-0ca79f80-c28d-11e9-8d57-6c8086b41445.png)

[2019-08-19 08:56] amit81 commented on #912
**Task :react-native-admob:compileDebugJavaWithJavac FAILED**
![Screenshot (94)](https://user-images.githubusercontent.com/11808338/63252361-4d071d80-c28d-11e9-84f8-a4a54dbc5322.png)

[2019-08-19 09:02] amit81 commented on #912
**Task :react-native-admob:compileDebugJavaWithJavac FAILED**
![beenewspur](https://user-images.githubusercontent.com/11808338/63252811-2dbcc000-c28e-11e9-9501-9eaf9eac1cce.JPG)

[2019-08-19 10:35] thangvo9x commented on #945
Could you share full AppConfig.json help me?

[2019-08-19 10:37] thangvo9x commented on #930
Yup. I can't access to your link admin.
There's some issue on the plugin yours WPML.

[2019-08-19 10:38] Saadbadi commented on #945
This is my AppConfig.json
[AppConfig.txt](https://github.com/inspireui/support/files/3515409/AppConfig.txt)

[2019-08-19 10:39] yazanhadid commented on #930
www.ornina-moda.de/rasha
This is the Admin Homepage

 Tony Vo <notifications@github.com>:

[2019-08-19 10:40] #892 closed

[2019-08-19 11:51] minhcasi commented on #946
@ghanchi2000 - could you help to share your config.dart so that we could help for checking the categories issue - thank you!

[2019-08-19 11:57] minhcasi commented on #947
Could you try to replace this tools.dart to the common folder to see it can be fixed - https://www.dropbox.com/s/e3r5400k5aoize2/tools.dart?dl=0

Also, make sure you have set up this setting - https://docs.inspireui.com/fluxstore/woocommerce-setup/#setup-the-renerate-image-plugin

[2019-08-19 11:58] minhcasi commented on #944
Note for upgrading this feature on next 1.5 - thanks

[2019-08-19 11:59] minhcasi commented on #942
Noted with checking, thank you!

[2019-08-19 12:00] minhcasi commented on #940
Duplicate of #942

@samik9  - pls help to post your all issues for one ticket that help the team to focus on your issue

[2019-08-19 12:00] #940 closed

[2019-08-19 12:00] minhcasi commented on #942
[ ]When "EnableShipping": false, this happens, the user can see shipping when click go back
vide: https://d.pr/v/NJf8pt

[2019-08-19 12:00] minhcasi commented on #942
#940

[ ]When "EnableShipping": false, this happens, the user can see shipping when click go back
vide: https://d.pr/v/NJf8pt

[2019-08-19 12:26] jakkumarket commented on #947
Getting closer. Images still aren't showing, and when I click on the product, it says

`I/flutter (24937): Another exception was thrown: NoSuchMethodError: The getter 'length' was called on null.`

[2019-08-19 12:35] theAlinux commented on #924
@thangvo9x

maybe last, please

i submit but not submit, stay this screen

![63059281-aa027c80-bef7-11e9-9a1b-5205ca81921e](https://user-images.githubusercontent.com/10341948/63265739-f6064600-c296-11e9-9c7b-03b9140c2b9d.png)

[2019-08-19 12:45] Pars1vaLl commented on #943
Hi,
I have downloaded plugin from this URL, however 'MStoreUser' is not visible. I have also changed the theme - it doesn`t help. What else can cause such issue?

Hope you help me as soon as possible. Thanks=)

[2019-08-19 14:18] axedigital commented on #833
Please I replaced it did not work. Same mistake on the vendors.

[2019-08-19 15:51] hifny opened #948 "[M Store MV] - multilanguage issue"
multilanguage not working i`m tring to switch language between 2 language but it did not change any thing only first language working and the scond one not working

[2019-08-19 17:56] RaptorHck opened #949 "[ListPro] - Component News"
---------

1. My issue

I can't load the news component correctly,

When I configure the 'news' component in horizontalLayout it loads correctly but in VerticalLayout when pressing to see the information loaded in the listing component it loads the news information, when I should load information from the listing that was registered in the wordpress.

How can I correctly load this component withou

[2019-08-19 17:58] EhapAlazerk11 opened #950 "[FluxStore-woocommerce] - issue with connection with my web"
hello,
i am trying to connect fluxStore app with my website (WooCommerce) i follow the doc in the link
https://docs.inspireui.com/fluxstore/woocommerce-setup , but in doc setup they say change the
server section in config.json but i do not find this part in the file,  but i find in config.dart section
serverConfig the content must change with my custom web and consumerKey and consumerSecret when c

[2019-08-19 21:39] sackmotion commented on #938
@mohamedibrahim89 you can deactivate changing the code in file :

src/components/HorizonList/index.js , remove the complete View is a way.

[code]

Hope that helps !

[2019-08-19 22:34] MartinCastellon opened #951 "Compatiblity with other Wordpress Plugins"
Hi. I use a plugin that provides one of the main functionalities to the project, which is to accumulate points for each purchase, and use them later to buy more products. The name of the plugin is MyCred. Is this template compatible with other wordpress plugins such as MyCred?

[2019-08-20 07:39] davekedar opened #952 "[EvaStore] - Problem in Setup"
I have recently purchased and can't get setup done as per the instruction
f4a36d6d-6f68-46fd-98c3-234853b0affc

I have read the document and this the code snippet
[code]

Please help is there any thing else i have to change? and what is shopid?

[2019-08-20 07:41] samik9 commented on #941
I test it on the website directly and useing this Mstore checkout, only loads a white screen

[2019-08-20 08:05] kbroscbe123 commented on #910
I fixed the crash by adding google map api key to app.json.

[2019-08-20 09:36] ghanchi2000 commented on #946
Please resolve category blank issue as soon as possible as i have to publish app in stores

[2019-08-20 09:45] thangvo9x commented on #924
Ah the map isn't working when creating post.

[2019-08-20 09:46] #911 closed

[2019-08-20 10:07] theAlinux commented on #924
@thangvo9x

ok, it is possible, marker leave with hand as manual?

also solution for 2? asap please

[2019-08-20 10:41] minhcasi commented on #951
Hi, we are going to integrate with the WooCommerce Point & Reward https://woocommerce.com/products/woocommerce-points-and-rewards/ - on next version release of the Fluxstore Pro.

Other plugins will be consider like the Sumu, yith points and rewards

How do you think about this integration? Is the MyCred better than other one ? - Thank  you!

[2019-08-20 10:50] minhcasi commented on #952
Hi, looks like the graphURL is not correctly, please try with: https://proj-jules-james.myshopify.com/api/graphql

We will remove the shopId as it is using for the demo stuff.

Thank you!

Document Ref: https://docs.inspireui.com/evastore/getting-started/

[2019-08-20 11:21] kevlict opened #953 "[Beonews] - Error Message. Please help."
I encounter this error message after integration

![unnamed](https://user-images.githubusercontent.com/54314498/63343061-abacc400-c37f-11e9-8683-b77162a8354c.jpg)

How can I Fix this?

Thanks!

[2019-08-20 11:45] humazed commented on #935
@minhcasi I can't find the sources file in the downloaded zip file, I bought the WooCommerce only version

[2019-08-20 12:01] minhcasi commented on #935
@humazed  - sorry our mistake when pack the woocommerce version, please help to download the Wordpress plugins on this link - https://www.dropbox.com/sh/6728oflugglr03p/AAD3q-jCxI_33PMjytNZ4zeSa?dl=0

[2019-08-20 12:19] humazed commented on #935
@minhcasi thanks, also note this also fixes #943 when using the plugin from dropbox

[2019-08-20 12:19] Pars1vaLl commented on #943
@minhcasi I have downloaded plugin from [URL](https://github.com/inspireui/support/issues/935#issuecomment-522981967). It is fine now. Thanks

[2019-08-20 12:21] Gmlogy opened #954 "[M-store pro] - Shipping methods and Coupons doesn't function same as Woocomerce"
Mstore:
65ae6467-f067-450f-aa9d-6528a5ba0736
---------

1. My issue
My website has 2 Shipping methods, Flat rate and free shipping. my Woocommerce settings is flat rate for item(s) lower than 200$ and free for item(s) higher than 200$, it's works perfectly on website but when i do the same operation using the App the Woocommerce rules doesn't function same as the website, i don't know why but i kn

[2019-08-20 13:18] MartinCastellon commented on #951
What I like about MyCred is that it is open source and free. For a startup is a good option to start. Nevertheless, woocommerce points and rewards seems to be more reliable and has more configuration options that seem fun to play around with. WooPoints is required a premium price once, but gives you everything out of the box. Without needing to buy "add-ons" for this specific functionality.

I wou

[2019-08-20 15:05] alaaeallam opened #955 "[EvaStore] - Menu side"
---------

1. My issue
when I'm
![IOS](https://user-images.githubusercontent.com/10725570/63359192-9d08e180-c36c-11e9-982b-2ff973da0708.jpeg)
![Andriod](https://user-images.githubusercontent.com/10725570/63359200-a09c6880-c36c-11e9-8c23-73a8e6bfce5e.jpeg)
![Andriod](https://user-images.githubusercontent.com/10725570/63359215-a85c0d00-c36c-11e9-824e-0f3df7cfe02f.jpeg)

 changing the background colo

[2019-08-20 17:42] dxpsite opened #956 "[ListApp] - Cannot init app via CEBuilder"
[code]

[2019-08-20 21:01] samik9 opened #957 "FLUXSTORE PRO"
**This is a request:**

Slider should move automatically and time must be set from json file

[2019-08-20 21:16] samik9 commented on #957
**Request 2**

- Support for gifs for banners on homescreen

- support for autoplay videos on product page

[2019-08-20 21:18] samik9 commented on #941
@minhcasi can you please help me out? Is there any solution in progress for other payment methods en general?  I been trying to make this work for days, thank you for your time

[2019-08-20 21:56] alho00ot commented on #919
plese find configs file
https://www.dropbox.com/s/d8aany4fkofdrho/AppConfig.json?dl=0

[2019-08-21 00:27] minhcasi commented on #941
Hi @samik9  - please help to try the second solution above, the template should be loaded from "plugins/mstore-checkout/templates/mstore-checkout-template.php", so it could be copied manually to your active theme - this is the form when handling the payment via Webview. Let me know your checking, thank you!

[2019-08-21 00:30] minhcasi commented on #957
Thank you for your suggestion, we will investigate and update on next 1.5 release

[2019-08-21 00:31] samik9 commented on #941
@minhcasi  thank you for your answer, I followed the second solution, but the only thing i got is this screen video: https://d.pr/v/o5LvIl

Instead of load the webview checkout page, shows and empty cart page, can you please check my wp settings?

[2019-08-21 00:35] minhcasi commented on #941
I got the issue, let us have a check and let you know

[2019-08-21 00:38] minhcasi commented on #919
Thank you, we will have a check and let you know

@concuacon

[2019-08-21 00:47] minhcasi commented on #935
Thank you @humazed - we are working on the Fluxstore product to upgrade it having more powerful features, please help to give some feedback/rating from the download page to encourage the team https://codecanyon.net/downloads - appreciated for your help 👍

[2019-08-21 00:48] minhcasi commented on #943
Thank you @Pars1vaLl - we are working on the Fluxstore product to upgrade it has more powerful features, please help to give some feedback/rating from the download page to encourage the team https://codecanyon.net/downloads - appreciated for your help 👍

[2019-08-21 00:48] #943 closed

[2019-08-21 00:49] minhcasi commented on #956
Hi, could you help to share your purchased product screenshot, thank you!

[2019-08-21 01:21] samik9 commented on #957
**Request 3**

On icons for category will be nice an option to use this tipo of colorfull icons, at the moment is not posible cause color is overwriten by json config.  For example an option that says,
 "original color": true,

At the moment is there any solution i can use? @minhcasi

![conjunto-iconos-cosmeticos_1284-13267](https://user-images.githubusercontent.com/50071744/63394932-99cf1f00-c387

[2019-08-21 01:23] minhtruong315 commented on #947
Hi @jakkumarket can you send me config.json and config.dart via email: truong@inspireui.com. I will help you check

[2019-08-21 01:26] jakkumarket commented on #947
@minhtruong315 sent!

[2019-08-21 01:29] #933 closed

[2019-08-21 02:01] thangvo9x commented on #924
Yup. We're updating it in the next version. sorry for this inconvenience.

[2019-08-21 02:04] thangvo9x commented on #939
Go to Container/User/index
find this block "Languages.myListings"
comment that block.
Thanks

[2019-08-21 02:12] minhtruong315 commented on #950
@EhapAlazerk11 I can not access your website: http://ksaprint.com/new

[2019-08-21 02:20] EhapAlazerk11 commented on #950
this issue solved but the data in list get text data and images don't show in home page must click to open details to show image in the document they said enable Reganerate thempuable for image different size I made this but the issue still don't work.

[2019-08-21 02:27] thangvo9x commented on #910
Thanks very much. Appreciate it.

[2019-08-21 02:27] #910 closed

[2019-08-21 03:03] minhtruong315 commented on #936
@EffectiveOG pls send me config.dart and config.json via email: truong@inspireui.com

[2019-08-21 03:42] minhtruong315 commented on #950
But i can not access your website, how to check your issues?

[2019-08-21 04:29] minhtruong315 commented on #944
Hi @Isodie I updated. it will be available in next release

[2019-08-21 04:29] #944 closed

[2019-08-21 04:39] minhtruong315 commented on #941
Hi @samik9 How to checkout in website? payment gateway must work in website the first.

[2019-08-21 04:43] samik9 commented on #941
@minhcasi yes, is because im using default template, i will use the other now

[2019-08-21 04:47] samik9 commented on #941
@minhtruong315 check again

[2019-08-21 04:59] samik9 commented on #941
can i send you an email with my ftp and admin login for wp?

[2019-08-21 06:12] davekedar commented on #952
still it is not working, can I get any help of installing graphql?

[2019-08-21 06:37] theAlinux commented on #924
@thagvo9x

When release next version?

[2019-08-21 07:33] minhtruong315 commented on #941
<img width="1358" alt="Screen Shot 2019-08-21 at 14 33 11" src="https://user-images.githubusercontent.com/10402500/63411859-a6538600-c420-11e9-9452-88b3b6692324.png">
I don't see any products

[2019-08-21 07:35] samik9 commented on #941
The path for the shop page is https://gzo.io/buganbillia/tienda/ @minhtruong315

[2019-08-21 07:37] outlawcode opened #958 "[BeoNews Pro] - Blank page when click "+" button on Customization"
---------

1. My issue

Blank page when click "+" button on Customization on CeBuilder

2. Screenshots

3. My screenshot of the purchase product or my comment:

https://i.postimg.cc/pX8SpfGM/Screenshot-2019-08-21-at-2-37-18-PM.jpg

3. Config files (optional)

[2019-08-21 07:45] minhtruong315 commented on #941
Can you send me account to login to admin panel via email truong@inspireui.com

[2019-08-21 07:51] minhtruong315 commented on #947
Hi @jakkumarket I fixed this issue. you can replace lib/models/product.dart by this file
https://www.dropbox.com/s/fdwxtx7qyk5hjox/product.dart?dl=0

[2019-08-21 07:51] #947 closed

[2019-08-21 07:51] samik9 commented on #941
@minhtruong315 sent!

[2019-08-21 08:08] minhtruong315 commented on #941
@samik9 pls check app again. it is working well

[2019-08-21 08:08] #941 closed

[2019-08-21 08:11] EhapAlazerk11 commented on #950
This data to admin panel :
http://Ksaprints.com/new/wp-admin
User name : new
Password : newprints++1

On Wed, Aug 21, 2019, 05:42 minhtruong315 <notifications@github.com> wrote:

[2019-08-21 08:15] EhapAlazerk11 commented on #950
@inspireui/support I send mail to this account with data you need to access to admin panel

[2019-08-21 08:40] samik9 commented on #941
Hi @minhtruong315

I noticed that you closed the ticked but now the only screen a got in checkout is: Invalid authentication cookie. Please try to login again. Video:  https://d.pr/v/tSBttS
This happens when **"GuestCheckout": true**, on cofing.dart

Now when **"GuestCheckout": false**, everything works well but when I click on **ePayco** to make the purchase, it takes me to the webview **BUT** it

[2019-08-21 09:02] minhtruong315 commented on #942
@samik9 I fixed 1 and 2. it will be available in next release.

[2019-08-21 09:02] #942 closed

[2019-08-21 10:01] minhtruong315 commented on #950
@EhapAlazerk11 Pls use this config
http://ksaprint.com/new
ck_850b1110c3cf129b1198a6d887b5db81a6537e22
cs_1d4c63c04d4871624bca98130bed6682ac002e2c

[2019-08-21 10:07] minhtruong315 commented on #950
@EhapAlazerk11 Your website can not generate thumbnail correctly. So you need to ignore showing image with thumbnail.
You can edit formatImage function in lib/common/tools.dart
[code]

[2019-08-21 10:07] #950 closed

[2019-08-21 10:15] minhtruong315 commented on #946
@ghanchi2000
1. There is no category that has parent is 0, so you only can show these category types: sideMenu, column, subCategories.
3. You can edit in lib/screens/checkout/shipping_address.dart
10. Check this link https://developers.facebook.com/docs/facebook-login

[2019-08-21 10:21] nmclibya opened #959 "[MStore Magento] - cebuilder issue"
---------

1. My issue

hi
when i tray to setup 1 i get error message The Rest API is not working correctly !
and when i go to customization i got other error MSG "the consumer isn't authorized to access %resources"
I still in the beginning , so the configuration file still the same.

2. Screenshots

![Capture](https://user-images.githubusercontent.com/54356166/63424003-c7f74200-c40d-11e9-8ecd-951

[2019-08-21 12:16] theAlinux commented on #939
did you mean "Languages.myBookings"

yes i'm right, fixed

[2019-08-21 12:16] #939 closed

[2019-08-21 12:19] hachikaru opened #960 "[LISTAPP -"
Since January i bought the listapp i have been trying since to set it up i have tried both manual and cebuilder guide still not getting any result please i need help urgently
THIS IS MY PURCHASE CODE : 45c7c7ac-5a00-40a2-af23-8111ef3e5d28

[2019-08-21 12:49] jakkumarket commented on #947
Hi, product pages now show `NoSuchMethodError: The method 'toUpperCase' was called on null. Receiver: null Tried calling: toUpperCase()`

[2019-08-21 12:49] jakkumarket commented on #947
@minhtruong315

[2019-08-21 13:19] preetindersodhi commented on #880
I'm also having this issue. What is the solution?

[2019-08-21 13:32] preetindersodhi commented on #880
What should be the size of the image? The URLs in "2-Banner Image.json" no longer work.

Here's the code:
 {
  "imageBanner": "URL-here",
  "column": 2,
  "height": 100,
  "layout": "bannerImage",
  "category": 38
},
    {
  "imageBanner": "URL-here",
  "column": 2,
  "height": 100,
  "layout": "bannerImage",
  "category": 38
},

Tried using different values of height. and removing the value as we

[2019-08-21 13:33] preetindersodhi opened #961 "Image Banner - 2 columns - not showing in one row"
What should be the size of the image? The URLs in "2-Banner Image.json" no longer work.

Here's the code:
{
"imageBanner": "URL-here",
"column": 2,
"height": 100,
"layout": "bannerImage",
"category": 38
},
{
"imageBanner": "URL-here",
"column": 2,
"height": 100,
"layout": "bannerImage",
"category": 38
},

Tried using different values of height. and removing the value as well. Still doesn't work.

[2019-08-21 13:42] EhapAlazerk11 commented on #950
the change is work thanks but in category the background image do not show if it change from the app or from the api request
![20190821_154130_rmscr 1](https://user-images.githubusercontent.com/44509298/63437119-3ea23880-c42a-11e9-935c-285ceaeb0c8d.jpg)

[2019-08-21 14:15] theAlinux commented on #960
what is the problem?

[2019-08-21 14:16] theAlinux commented on #960
can you share the screenshots?

[2019-08-21 16:43] kuttim opened #962 "[Evastore] -"
1. My issue - Not being able showcase the products successfully, using latest LTS of node.

2. Screenshots https://i.imgur.com/1FYFNbx.jpg

3. My screenshot of the purchase product or my comment: https://codecanyon.net/comments/22674914

3. Config files (optional) Not much of configuration to show off, this is indentical that you have on codecanyon.

[2019-08-21 17:06] peter2411 opened #963 "[FluxStore-woocommerce] still no update !"
1. My issue

it’s wednesday , and still no update ! i got your message via email 3 days ago “we have fixed the issue and will update the patching on Monday – very best!”

2. My screenshot of the purchase product or my comment:
https://prnt.sc/ovplww

[2019-08-21 20:44] amas2000 opened #964 "Error: Not found: 'dart:ui'"
I'm trying to run the app in AVD but I got this error. Please help me.

"C:\Program Files\Dart\dart-sdk\bin\dart.exe" --enable-asserts --enable-vm-service:64670 "C:\Users\amas2\Desktop\Projects\R&D\FluxStore\FluxStore 1.4.1\source\lib\main.dart"
Observatory listening on http://127.0.0.1:64670/b2L9Qplmv0A=/

lib/main.dart: Warning: Interpreting this as package URI, 'package:fstore/main.dart'.
file:

[2019-08-21 21:03] kuttim commented on #964
Not collaborator to this project but try [this](https://stackoverflow.com/questions/52483773/dartui1-error-not-found-dartui-flutter-dart)

[2019-08-22 00:45] #914 closed

[2019-08-22 00:45] minhcasi commented on #961
@concuacon

[2019-08-22 00:47] minhcasi commented on #964
@amas2000 pls try to reinstall the Flutter by using this guide - https://flutter.dev/docs/get-started/install

Also, make sure you pass the "Test Drive" guideline

Thanks

[2019-08-22 00:49] minhcasi commented on #962
Hi, please try to re-install the node 10.x instead - https://nodejs.org

Pls also share your config file so that we could help to check

[2019-08-22 01:19] minhtruong315 commented on #950
@EhapAlazerk11 did you upload image for category in website?

[2019-08-22 01:20] minhtruong315 commented on #947
@jakkumarket can you take me screenshot?

[2019-08-22 01:41] tjain90 opened #965 "Fluxstore pro - products not visible in category page"
On category product page it shows no product while on filter it has all the categories with no of products on right side.

I have provided access code from Magento 2.3 admin panel as mentioned in document.

[2019-08-22 01:51] jakkumarket commented on #947
@minhtruong315 https://imgur.com/lP7w5fK

[2019-08-22 01:57] minhcasi commented on #963
Hi Peter, please download the latest 1.4.2 today, sorry for some delay as we skip the 1.4.1 to upgrade more bug fixed

Thank you for your patient.

[2019-08-22 02:30] yazanhadid commented on #930
?

[2019-08-22 03:00] minhtruong315 commented on #946
6. Updated

[2019-08-22 03:37] minhcasi commented on #965
Hi, could you help to share your config file so that we could help for checking - thank you!

[2019-08-22 05:09] minhtruong315 commented on #946
4. Updated

[2019-08-22 05:09] #946 closed

[2019-08-22 05:10] kuttim commented on #962
The latest LTS is  10.x
There's no config to share, this is the default config that came with the project upon purchase.

[2019-08-22 05:10] minhtruong315 commented on #959
Hi @nmclibya Did you install Mstore extensions?

[2019-08-22 05:14] minhtruong315 commented on #953
hi @kevlict send me your screenshot of the purchase product

[2019-08-22 05:16] kevlict commented on #953
Hello

Please see here:

Kevin

「minhtruong315 <notifications@github.com>」在 2019年8月22日 週四，下午1:14 寫道：

[2019-08-22 05:19] minhtruong315 commented on #953
Dont see anything

[2019-08-22 05:19] kevlict commented on #953
「minhtruong315 <notifications@github.com>」在 2019年8月22日 週四，下午1:14 寫道：

[2019-08-22 05:21] minhtruong315 commented on #953
<img width="657" alt="Screen Shot 2019-08-22 at 12 20 49" src="https://user-images.githubusercontent.com/10402500/63487939-4d92f480-c4d7-11e9-9f70-0a62b9be462c.png">

[2019-08-22 05:21] kevlict commented on #953
Please find the attached.

Thanks
Kevin

On Thu, 22 Aug 2019 at 13:19, minhtruong315 <notifications@github.com>
wrote:

[2019-08-22 05:32] kuttim commented on #962
Seems like using v10.16.2 fixed it.

[2019-08-22 05:35] #962 closed

[2019-08-22 06:51] minhcasi commented on #963
v1.4.2 is available to updated

Please note there is a new v1.5 supper powerful feature is coming along - thank you!

[2019-08-22 06:51] #963 closed

[2019-08-22 07:23] minhcasi commented on #952
Hi, could you help to double-check this guide - https://help.shopify.com/en/api/storefront-api/getting-started

[2019-08-22 08:32] ghanchi2000 opened #966 "C:\fluxstore: pub did not update .packages file (pubspec.yaml file has a newer timestamp)"
After clicking get packages error is new version

C:\fluxstore: pub did not update .packages file (pubspec.yaml file has a newer timestamp)

https://prnt.sc/ovz3re

[2019-08-22 08:33] anandnathtiwari opened #967 "Issue in Fluxpro 1.4.2"
Please see the error detail and suggest
this issue raise when I compile fluxpro 1.4.2 in android studio

Launching lib\main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is deprecated, use reg

[2019-08-22 09:01] ghanchi2000 commented on #946
There is no category that has parent is 0, so you only can show these category types: sideMenu, column, subCategories.

can you please explain what is parent 0 ?
We have over 1000 categories and 4 level of sub categories

[2019-08-22 09:13] ghanchi2000 commented on #966
close ticket issue resolved
androi sdk path issue

[2019-08-22 09:56] nmclibya commented on #959
hi @minhtruong315  where i can fine the extensions? link to download pleas

[2019-08-22 10:53] minhtruong315 commented on #959
Hi @nmclibya https://www.dropbox.com/s/mrsdxwnqfgmpzbu/Mstore-magento.zip?dl=0
1. Rename Mstore-magento to Mstore folder.
2. Copy Mstore plugin folder to app/code folder
3. Run this command in website directory: php bin/magento setup:upgrade

[2019-08-22 11:05] alisa140 opened #968 "[EvaStore] Horizontal layout empty!"
I’m trying to changed the homepage to Horizontal layout but not yet able to achieve this. I have followed the documentation and I’m able to retrieve my CollectionIDs from GraphiQL. However, when I run the app, homepage comes empty with no products at all. Could you please help with this problem.

[Config.js.zip](https://github.com/inspireui/support/files/3529764/Config.js.zip)
![Simulator Screen S

[2019-08-22 11:05] #966 closed

[2019-08-22 11:09] #904 closed

[2019-08-22 11:10] minhcasi commented on #909
Hi, there is also new 1.4.2 - please keep the update

There is not the good way so far, the usual method overrides the latest package with your modify code, and config - thank you!

[2019-08-22 11:10] #909 closed

[2019-08-22 11:12] minhcasi commented on #912
@amit81 - could you help to run the project manually with this script, from the project folder run:

yarn install && yarn start --reset-cache
react-native run-ios
// or react-native run-android

Please try the virtual host instead of using localhost/wordpress ( as the api could fail return on this case, thank you)

[2019-08-22 11:12] #913 closed

[2019-08-22 11:16] minhcasi commented on #929
Hi, sorry for the late response on this ticket - we don't have documentation for this feature, but you can find "custom api wordpress"- there is a lot of guides.

The normal method is to add a new field to the return API, then it will easy to populate to the app.

Allow me to close this ticket and help to open the new one if you have any further issue - thank you 😊

[2019-08-22 11:16] #929 closed

[2019-08-22 11:17] minhcasi commented on #951
Thank you, confirm that the WooCommerce Point Reward will be available on next 1.5 - thank you!

[2019-08-22 11:17] #951 closed

[2019-08-22 11:18] minhcasi commented on #954
Could you help to share your config file for further investigating?

@concuacon

[2019-08-22 11:19] minhcasi commented on #961
@preetindersodhi - could you help to share the real config file from your side ? Thanks

[2019-08-22 11:33] ghanchi2000 opened #969 "Fluxstore error"
Running "flutter pub get" in source...                              2.4s
Launching lib\main.dart on moto g 7 power in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
re

[2019-08-22 11:56] kuttim commented on #952
@davekedar @minhcasi The graphql path needs to be /api/graphql so for you, the full path should be:
    `"graphqlUrl": "https://proj-jules-james.myshopify.com/api/graphql",`
I had a digging in the docs too, the specific url that I've mentioned earlier returns 404 but it works, that's what I'm using as well.
You can get your shop id when you go to ```https://proj-jules-james.myshopify.com/admin/sho

[2019-08-22 12:39] minhtruong315 commented on #967
@anandnathtiwari Did you follow by these step?
https://flutter.dev/docs/get-started/install/windows

[2019-08-22 13:22] hachikaru commented on #960
OK I WILL SEND THE SCREENSHOOTS ASAP. THANKS FO YOUR QUICK RESPONSE

On Wed, Aug 21, 2019 at 3:16 PM theAlinux <notifications@github.com> wrote:

[2019-08-22 19:04] Gmlogy commented on #954
if you mean the config.js file in Common folder, here is it :
https://www.mediafire.com/file/r8dwohu9t3q6i55/Config.js/file

[2019-08-22 19:34] ghanchi2000 commented on #946
category types: sideMenu, column, subCategories.
In above 3 categories only few categories are loading, not all categories are loading
 i need to load only top category and then sub category
please see my previous app category menu how its loading
https://play.google.com/store/apps/details?id=com.shopperspk.webit

[2019-08-22 23:05] amas2000 commented on #964
Hi,

Thank you both Kuttim and Minhcasi. Now, it works. It looks like the Flutter SDK path wasn't correct for some reasons.

However, I got a new issue related to Gradle! See below message. Is that related to my system or it is a common problem?

**Finished with error: ProcessException: Process "C:\Users\amas2\Desktop\Projects\R&D\FluxStore\FluxStore 1.4.1\source\android\gradlew.bat" exited abnorm

[2019-08-23 00:34] samik9 opened #970 "Fluxstore pro 1.4.2"
Got this error when going to checkout page, video here https://d.pr/v/FSsFPl

![Screenshot_1566520347](https://user-images.githubusercontent.com/50071744/63558701-95d00800-c513-11e9-8909-8001663512c5.png)

[2019-08-23 01:18] minhcasi commented on #968
@concuacon

[2019-08-23 01:42] minhtruong315 commented on #936
Hi @EffectiveOG did you install wpml plugin in your website?

[2019-08-23 01:48] minhtruong315 commented on #969
@ghanchi2000 can you send me config.json and config.dart via email truong@inspireui.com

[2019-08-23 01:52] minhtruong315 commented on #970
@samik9 can you send me your source code via email truong@inspireui.com

[2019-08-23 02:32] samik9 opened #971 "Fluxstore Pro epayco and payulatam support"
Good day team, I noticed that you closed the ticket #941  but the issue is not really fixed.
CONFIG FILE: https://d.pr/f/FgmEq4

 On payment gateway When **“GuestCheckout”: false**, everything works well **BUT** when I click on ePayco to make the purchase, it takes me to the webview BUT it autoselect “cash on delivery” Video: https://d.pr/v/umUbIP

Now when **“GuestCheckout”: true**, on cofing.dar

[2019-08-23 02:55] minhtruong315 commented on #971
@samik9 Can you checkout in your website?

[2019-08-23 03:05] samik9 commented on #971
@minhtruong315 yeah, please check this video, on web, all works **perfect** with epayco and payulatam video: https://d.pr/v/V77ar9

https://gzo.io/buganbillia/tienda/

[2019-08-23 03:26] minhtruong315 commented on #953
@kevlict pls send me video record

[2019-08-23 03:30] minhtruong315 commented on #971
@samik9 can you try to increase LimitRequestLine? then restart apache
https://stackoverflow.com/questions/2586339/how-to-increase-apache-2-uri-length-limit/32644323

[2019-08-23 03:36] minhtruong315 commented on #958
@outlawcode can you send me your source code via email truong@inspireui.com

[2019-08-23 03:37] minhcasi commented on #937
@myothura - sorry for late response, the Wordpress Circle category is not ready to support from current MStore release, we have noted as further improvement - thank you!

[2019-08-23 03:38] outlawcode commented on #958
I haven't change anything yet. Its default source downloaded from codecanyon.

Thank you!

[2019-08-23 03:51] samik9 commented on #970
@minhtruong315 email sent!

Also same happen in other tabs in the app , check the gif bellow

![ezgif-3-10dcfdcb240d](https://user-images.githubusercontent.com/50071744/63565636-54e5ec80-c52f-11e9-8515-490c5960da93.gif)

[2019-08-23 04:11] minhtruong315 commented on #955
@alaaeallam the menu side background based on primary color. if you want to change menu background, you need to change primary in common/Color.js. Then you must uninstall app, then install again. primary color only work when you open app the first

[2019-08-23 04:11] #955 closed

[2019-08-23 05:00] samik9 commented on #971
The support on my hosting told me that they have gone ahead and increased it accordingly and restarted Apache.

[2019-08-23 05:02] preetindersodhi commented on #961
[AppConfig.zip](https://github.com/inspireui/support/files/3532863/AppConfig.zip)

[2019-08-23 05:05] anandnathtiwari commented on #967
Yes,
previous version work. but 1.4.2 not.

[2019-08-23 05:07] preetindersodhi commented on #961
APK: https://bit.ly/2Z5PrTo

[2019-08-23 06:53] Isodie opened #972 "[Fluxstore woocommerce] - (1.4.2) Errors , scrolling Jump, attributes related bug"
Hi
I have listed 3 issues

1- **Having bugs on various pages.**
<img width="400" alt="Screenshot 2019-08-23 at 11 53 28 AM" src="https://user-images.githubusercontent.com/14618403/63572447-864ad080-c5a0-11e9-929d-5531ce74d631.png">
<img width="400" alt="Screenshot 2019-08-23 at 11 53 39 AM" src="https://user-images.githubusercontent.com/14618403/63572448-86e36700-c5a0-11e9-8095-661cbbb6049e.png">

[2019-08-23 07:09] arjunchopra35 commented on #945
I am facing the exact same issues! Thank you for the solutions

[2019-08-23 07:09] davekedar commented on #952
I have done those changes

[code]

this is the final version of my `appconfig.json`

but still I can't see products, it is loading products from demo site, not even layout change works

[2019-08-23 07:14] kuttim commented on #952
@davekedar Can you show me your constants.js file? It is located under src/common

[2019-08-23 07:17] EffectiveOG commented on #936
Hello yes by following the recommanded instructions on fluxstore documentation

Envoyé de mon iPhone

Le 23 août 2019 à 02:42, minhtruong315 <notifications@github.com<mailto:notifications@github.com>> a écrit :

Hi @EffectiveOG<https://github.com/EffectiveOG> did you install wpml plugin in your website?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2019-08-23 07:25] davekedar commented on #952
[code]

[2019-08-23 07:25] kuttim commented on #952
Change ```isDefaultStore``` from ```false``` to ```true``` and it should fix it.

[2019-08-23 07:28] davekedar commented on #952
something happened after that, it goes black, means something is progressing, I am happy :)

[2019-08-23 07:28] kuttim commented on #952
Keep us updated. 👍

[2019-08-23 07:29] davekedar commented on #952
there is nothing at all in the document, and there are few places where it has written to integrate few things from wordpress, I don't know why

[2019-08-23 07:30] kuttim commented on #952
The wordpress is for the custom links at your left sidebar, like the one that has title "About us"

[2019-08-23 07:31] davekedar commented on #952
how to fetch categories? or collection and how to set the front page?

[2019-08-23 07:33] kuttim commented on #952
It automatically fetches the products from your shopify.
You can create new collections on your shopify admin panel and it will reflect on your application as well.
What do you mean by front page? Elaborate.
Also you use discord?

[2019-08-23 07:34] davekedar commented on #952
you mean this?

https://discordapp.com/

[2019-08-23 07:34] kuttim commented on #952
@davekedar Yeah, so we don't clog up the comments.

[2019-08-23 07:35] davekedar commented on #952
how can i add u in discord?

[2019-08-23 07:37] kuttim commented on #952
![image](https://user-images.githubusercontent.com/41844956/63575078-dec6a180-c591-11e9-83ea-d5d18419ad48.png)
![image](https://user-images.githubusercontent.com/41844956/63575090-e8e8a000-c591-11e9-8964-8070ebe8ca91.png)
And once you click on it, it wants the username to add
Write: Mikk#6882

[2019-08-23 07:52] minhtruong315 commented on #936
@EffectiveOG can you add my skype: minhtruong315. I will help you check via teamviewer

[2019-08-23 07:53] minhtruong315 commented on #967
@anandnathtiwari can you add my skype: minhtruong315. i will help you check it via teamviewer

[2019-08-23 08:16] minhtruong315 commented on #970
https://www.dropbox.com/s/jssaubfwaj4cfki/Untitled.mov?dl=0
I checked your source code. it is working well. I can not reproduce your issues

[2019-08-23 08:19] minhtruong315 commented on #970
@samik9 can you remove simulator cache then test again?

[2019-08-23 08:26] x028 opened #973 "[ListApp] - Error in the Home page and listing page"
**Hello
Hope you have a good day
I have some errors
first one when I use The Seventh home page it shows me like this image**

![photo_2019-08-23_09-02-44](https://user-images.githubusercontent.com/45524078/63577592-62cf5800-c597-11e9-9513-64e0dfcfa16f.jpg)
**note I already add an image in Featured Image in WordPress post
and if I use any other home page it works fine!

the second problem in listin

[2019-08-23 08:40] samik9 commented on #970
I cleared chache, also tried with iOS simulator and got same isssue, this is actually very new in this version 1.4.2 cause all previews versions dont have this problem
![ezgif-3-42c4ff59417e](https://user-images.githubusercontent.com/50071744/63579130-8b376200-c557-11e9-8084-0040a584b791.gif)

[2019-08-23 08:51] x028 commented on #973
below the config file

[AppConfig.txt](https://github.com/inspireui/support/files/3533633/AppConfig.txt)

[2019-08-23 09:30] antontrantien opened #974 "[my-product] - Xin giúp cài đặt Yarn và Expo"
Xin giúp cài đặt **Yarn** và **Expo**
Tôi đã làm theo hướng dẫn và cài đặt nhưng kết quả ko cài được.
 **Yarn**
https://yarnpkg.com/lang/en/docs/install/#mac-stable
đã làm theo
**Expo**
https://docs.expo.io/versions/latest/introduction/installation/
<img width="1436" alt="Expo" src="https://user-images.githubusercontent.com/54436202/63582405-36c9cc00-c5c3-11e9-9498-9874b862aad5.png">
<img width="1

[2019-08-23 09:41] minhtruong315 commented on #970
@samik9 add my skype: minhtruong315. i will help you check via teamviewer

[2019-08-23 09:52] samik9 commented on #970
@minhtruong315  your skype username does not show on skype, mine is : evilnoise@icloud.com

[2019-08-23 10:25] anandnathtiwari commented on #967
I added your skype id. please help me.

[2019-08-23 10:36] minhtruong315 commented on #970
done

[2019-08-23 10:36] #970 closed

[2019-08-23 10:38] minhtruong315 commented on #967
@anandnathtiwari i dont see. pls send me your skype

[2019-08-23 10:38] anandnathtiwari commented on #967
anand.nath.tiwari

[2019-08-23 10:39] minhtruong315 commented on #967
<img width="467" alt="Screen Shot 2019-08-23 at 17 39 18" src="https://user-images.githubusercontent.com/10402500/63586971-f707e200-c5cc-11e9-82bd-46a37eb4e1f7.png">

[2019-08-23 10:40] anandnathtiwari commented on #967
first one from top

[2019-08-23 10:41] minhtruong315 commented on #967
added

[2019-08-23 10:51] preetindersodhi commented on #961
Please respond.

[2019-08-23 11:35] betterend opened #975 "Error loading the app"
Hi,

Kindly i have connected the Fluxstore and set woocomm key in config.da
![fluxstore](https://user-images.githubusercontent.com/34990153/63589995-a0de7300-c5bb-11e9-9a33-5830b756169f.jpg)
rt. i'm getting the attached error,

how can i fix it

[2019-08-23 14:53] peter2411 commented on #972
me too . same error

[2019-08-23 15:20] peter2411 commented on #970
i have the same problem
my purchase code :
8dbbf678-9549-4386-8a4e-91e526e40b3e

[2019-08-23 16:51] tjain90 commented on #965
Here it is :
`import 'package:fstore/common/constants.dart';
import 'package:font_awesome_flutter/font_awesome_flutter.dart';

const serverConfig = {
  "type": "magento",
  "url": "https://www.indidecor.com",
  "accessToken": "ebXXXXXXXXXXXXXX9"
};

const CategoriesListLayout = kCategoriesLayout.card;

const Payments = {
  "paypal": "assets/icons/payment/paypal.png",
  "stripe": "assets/icons/paym

[2019-08-23 17:42] tjain90 commented on #965
New Version is throwing woocommerce error even in Magento Config. So i am using order version. I have attached snapshot showing category is visible but no product on page.
![Screenshot_20190823-230411](https://user-images.githubusercontent.com/6376301/63612242-6dbbd400-c5fb-11e9-8536-ec04b1060a66.png)
![Screenshot_20190823-230419](https://user-images.githubusercontent.com/6376301/63612243-6e546a80

[2019-08-23 20:03] samik9 commented on #970
@peter2411 Bro please don’t share your purchase code in  a public page.

Regards

[2019-08-23 20:35] peter2411 commented on #970
@samik9
Well bro I have modified my comment , Have you got solve for the problem ?

[2019-08-24 04:36] preetindersodhi commented on #961
Kindly respond, I'm waiting to launch the app, as soon as this issue is resolved.

[2019-08-24 05:40] Pars1vaLl opened #976 "[my-product] -"
Hi,

I can`t start my IOS project. Getting errors all the time trying to run the App. Here are the screens.
![1](https://user-images.githubusercontent.com/45024483/63633079-9a9fd380-c65b-11e9-91dd-27eeb7814045.jpg)
![2](https://user-images.githubusercontent.com/45024483/63633088-b60ade80-c65b-11e9-8a8c-ebfd91041251.png)

Hope you will help as soon as possible. Thanks

[2019-08-24 07:25] kevlict commented on #953
Sure

Video
https://vimeo.com/355686086

Kevin
「minhtruong315
<notifications@github.com>」在 2019年8月23日 週五，上午11:26 寫道：

[2019-08-24 09:51] bobozd opened #977 "[LISTAPP] - Listing Type ID"
Hello,

As we already have in Listapp to include only specific Listings-Categories ID, to be visible inside Listapp, I waould like to be able also to display only specific LISTING TYPE from MyListing wordpress? Is is possible anyhow with ID's ?

Screen attached!
![listing_type](https://user-images.githubusercontent.com/28021993/63635689-82cd4d00-c665-11e9-85fe-2a9bb0a4be22.png)

[2019-08-24 12:52] minhtruong315 commented on #969
@ghanchi2000 we will release next version next week. You can update it

[2019-08-24 12:53] minhtruong315 commented on #967
@anandnathtiwari we will release next version next week. You can update it

[2019-08-24 12:53] minhtruong315 commented on #972
@Isodie we will release next version next week. You can update it

[2019-08-24 13:15] anandnathtiwari commented on #967
Ok

[2019-08-24 14:55] kailash1805a opened #978 "TypeError: Cannot read property 'get' of undefined"
---------

1. My issue
I am getting this issue when i am calling get product api.
Please help me i am block from last 4 days.

TypeError: Cannot read property 'get' of undefined
    at _callee$ (WooWorker.js:37)
    at tryCatch (runtime.js:45)
    at Generator.invoke [as _invoke] (runtime.js:271)
    at Generator.prototype.<computed> [as next] (runtime.js:97)
    at tryCatch (runtime.js:45)
    at

[2019-08-25 01:10] arjunchopra35 commented on #945
Any update guys?

[2019-08-25 02:14] peter2411 opened #979 "fluxstore-woocommerce v 1.4.2 issue"
1. My issue

i was expected that 1.4.2 version will fix my only issue "blog sliding error" , so i deleted the last versions , and i surprised by the issues of this version ,
from the begining of purchase your product i was only need a version without issues to use it and i waited alot of updates with
alot of time and still no real solve or real updated without issues !,

**all i need now is the la

[2019-08-25 02:32] Deepjyoti120 opened #980 "[FlusStore ] - Can not login using Phone no"
---------

1. My issue

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-08-25 07:53] Saadbadi commented on #945
No update .
There is no solution and i am waiting from six days ago  !!!

[2019-08-25 08:01] arjunchopra35 commented on #945
The way I see it I think the code is not able to fetch any payment options at all. It could be either something with the REST API plugin on the website or something in the code!

[2019-08-25 08:12] arjunchopra35 commented on #945
@thangvo9x My proof of purchase and old thread https://github.com/inspireui/support/issues/911

[2019-08-25 09:45] reconshield commented on #925
any update?

[2019-08-25 13:26] itsmefurzy opened #981 "[MStore] - Change country and states into select"
I want to change country text from ID into country name Indonesian and then the states must select, now it is free text. I want to look like Website
---------

1. My issue
I want to change country text from ID into country name Indonesian and then the states must select, now it is free text. I want to look like Website

2. My screenshot of the purchase product or my comment:
http://prntscr.com/ox9

[2019-08-25 14:26] #959 closed

[2019-08-25 14:26] #967 closed

[2019-08-25 14:27] minhtruong315 commented on #975
@betterend pls send me config.json and config.dart file via email: truong@inspireui.com

[2019-08-26 02:29] preetindersodhi commented on #961
@minhcasi @concuacon  Please help. This is a basic feature in your app, I'm using the same code you provided, it should be working.

[2019-08-26 02:32] concuacon commented on #974
@antontrantien, bạn gửi mình skype của bạn, trao đổi qua đó nhanh hơn.

[2019-08-26 02:46] #972 closed

[2019-08-26 02:52] #969 closed

[2019-08-26 10:14] thangvo9x commented on #924
We'll have a notice for everyone. Thanks for your question. Hope you see.

[2019-08-26 10:14] #924 closed

[2019-08-26 10:18] thangvo9x commented on #925
Hi. I tried many many many times. Can't see your problem. The problem has only two directions
1. Mapping is valid in Config/index.js  with those categories id on your website.
2. Check url when fetch from listing categories at WPAPI.js in Services folder
in this block is correct.
<img width="352" alt="Screen Shot 2019-08-26 at 5 17 26 PM" src="https://user-images.githubusercontent.com/23457178/636

[2019-08-26 10:53] iYared opened #982 "[my-product] -"
I want to add coupon code and Item size in cestore what should i do

[2019-08-26 12:42] leghost opened #983 "Mstore pro"
---------

I. My issue 1 pro version
Problem to set up Mstore pro Android Version using Angroid studio

1. Screenshots
![image](https://user-images.githubusercontent.com/47028114/63691352-3d4c8380-c80f-11e9-881a-db001cb89211.png)

2. My screenshot of the purchase product or my comment:
![image](https://user-images.githubusercontent.com/47028114/63691461-8997c380-c80f-11e9-8147-a3be5e80d1c4.png)

I

[2019-08-26 13:09] morehere commented on #961
I am also having same issue.
@preetindersodhi Did you get solution?

[2019-08-26 13:19] minhcasi commented on #976
Hi, could you help to check following solution:
1. try with Android Studio, and run the ios project from this tools.

2. try to run "flutter doctor" to check if there is any error

3. Make sure you run the Test Drive guideline successful - https://flutter.dev/docs/get-started/test-drive

[2019-08-26 13:22] minhcasi commented on #978
Hi, could you share the config files (comon/appconfig.json and config.js file), it seems there is an issue with your Wordpress setting?

[2019-08-26 13:25] minhcasi commented on #980
Hi, could you help to provide the screenshot purchased code, clarify more detail issue so that we could help? Thank you!

[2019-08-26 13:38] kevlict commented on #953
@minhtruong315 how can i fix this?

[2019-08-26 13:45] minhcasi commented on #981
Hi, it's possible to change the billing address base on your country state, it's required some reactjs knowledge to customize these features - thank you!

[2019-08-26 14:26] minhcasi commented on #965
@minhtruong315

[2019-08-26 14:51] minhcasi commented on #958
@minhtruong315 - it could be the issue from CeBuilder

@outlawcode - pls try to run the project manually via the script "yarn install && yarn start" from the project folder

[2019-08-26 14:52] Gmlogy commented on #954
hello ??

[2019-08-26 15:34] mcdavri opened #984 "[mstore pro] -"
hello good day, i have a couple of issues i want to resolve and would like your assistance; 1) the categories section that lists a category of products i noticed the products list details overlaps don’t know how to resolve that or even change the layout 2) the shipping section i want to set a default shipping in the event the user does not select a shipping method because i noticed on the app a us

[2019-08-26 15:54] mcdavri commented on #983
bruh for your first issue you can make sure your java sdk is installed and the path is to it is bashrc file then run npm install in your mstore pro folder, then open up the directory in a terminal and run npm start  and on a new tab in the terminal run react-native run-android p.s: make sure yhu have a good internet and an emulator up already first preferably genymotion

[2019-08-26 17:27] yngwieduane opened #985 "Hi, There's bug on my app."
---------

1. My issue
I have this issue showing on my app, and also when im changing the images on the category its not working. please help.

2. Screenshots
![image](https://user-images.githubusercontent.com/18515128/63709356-c089cb80-c847-11e9-9481-3d5269a6f6bd.png)

3. My screenshot of the purchase product or my comment:
![image](https://user-images.githubusercontent.com/18515128/63709562-37bf

[2019-08-26 20:43] #956 closed

[2019-08-26 20:44] dxpsite commented on #956
Its solved. Simply install windows GIT

[2019-08-27 01:20] minhcasi commented on #979
update via email - thanks

[2019-08-27 01:20] #979 closed

[2019-08-27 01:29] thangvo9x commented on #977
Now. The App doesn't have this function. Thanks for the question. We noted for the next release version.

[2019-08-27 01:29] #977 closed

[2019-08-27 01:42] minhcasi commented on #965
@tjain90 - could you help to send the accessToken to our private email support@inspireui.com - we could not check the issue without the keys - thank you!

[2019-08-27 02:35] thangvo9x commented on #945
Try to replace the below file at Theme/myListing/Container/Cart/Payment/
P/s: remember the change from .txt -> .js tag
and change theme in your AppConfig frrom "mylisting" -> "myListing"

[2019-08-27 02:38] thangvo9x commented on #948
Could you share the AppConfig for diagnosing?

[2019-08-27 03:33] thangvo9x commented on #973
1. Check you Renegrate Thumbnail plugin from your admin.
2. Try to replace these below file at Container/Detail/
Remember change from .txt tag -> .js tag
[ListingDetail.txt](https://github.com/inspireui/support/files/3544145/ListingDetail.txt)
[styles.txt](https://github.com/inspireui/support/files/3544146/styles.txt)
3. Work normally.
4 such as 5 (because I can't see the fourth). The App doesn't

[2019-08-27 03:35] thangvo9x commented on #949
Hi bro. You must have share the AppConfig.json file for checking

[2019-08-27 03:53] thangvo9x commented on #930
<img width="449" alt="Screen Shot 2019-08-27 at 10 52 08 AM" src="https://user-images.githubusercontent.com/23457178/63739788-c075e400-c8b8-11e9-889e-cb13a6b81c05.png">
What is our problem? You do make it mapping with correct category id. The App will get data from your site.
Thanks

[2019-08-27 05:18] 7oda187 opened #986 "[Fluxstore Pro] - Need support to integrate with Opencart 3.0.2.0"
1. My issue
I need support configuring Fluxstore Pro with my Opencart store as am unable to configure it at all. even when i tried to replace opencart config.dart and config.json files.
Flutter installed correctly.

c:\src\flutter>flutter doctor -v
[√] Flutter (Channel stable, v1.7.8+hotfix.4, on Microsoft Windows [Version 10.0.18362.295], locale en-US)
    • Flutter version 1.7.8+hotfix.4 at C:\s

[2019-08-27 06:58] preetindersodhi commented on #961
No help from app authors so far. Disappointed.

[2019-08-27 08:50] Saadbadi commented on #945
@thangvo9x @arjunchopra35  The same issue i can't choose payment method (No method display )
and i am already change that file in (Theme/myListing/Container/Cart/Payment/)

[2019-08-27 09:07] leghost commented on #983
i ran a react native projet with this config , so i'm not sure that the problem comes from java sdk

[2019-08-27 09:15] davekedar commented on #952
this is still not working, where can i get the help? you don't have proper documentation for the same as well @minhcasi

[2019-08-27 09:47] concuacon commented on #961
Hello @preetindersodhi, sorry for the late reply,
I fixed it and send you 2 file fixed to your app working
in path: **src/components/HorizonLayout/BannerImage.js**
[BannerImage.js.zip](https://github.com/inspireui/support/files/3545370/BannerImage.js.zip)
in path: **src/components/HorizonList/styles.js**
[styles.js.zip](https://github.com/inspireui/support/files/3545375/styles.js.zip)

[2019-08-27 09:48] concuacon commented on #961
we will update it at later version.

[2019-08-27 10:02] concuacon commented on #938
Thanks @sackmotion,
@mohamedibrahim89, have u fix it yet? You can follow @sackmotion suggest or remove line **ListHeaderComponent**
path: **src/components/HorizonList/index.js**
<img width="664" alt="Screen Shot 2019-08-27 at 4 56 45 PM" src="https://user-images.githubusercontent.com/11958061/63761732-db158080-c8eb-11e9-9c63-e8cc1e0e4fd9.png">
or edit line HideHomeLogo: false -> HideHomeLogo: true

[2019-08-27 10:13] aeliusventure opened #987 "[BeoNews] - lots of Crashed and Admob not display"
---------

1. My issue
-Open the screens and scroll down and crashed.
-Open Screen and tap on relative screen and crashed
- Some time open the application then crashed

2. Screenshots
Unable capture crashed, I can share whole code if you need.
3. My screenshot of the purchase product or my comment:
![bug](https://user-images.githubusercontent.com/30139674/63762958-65a4b280-c8e1-11e9-971f-ff5babf26

[2019-08-27 10:28] #974 closed

[2019-08-27 10:30] #938 closed

[2019-08-27 10:32] preetindersodhi commented on #961
thanks a lot. :)

[2019-08-27 10:32] #961 closed

[2019-08-27 10:33] minhtruong315 commented on #965
@tjain90 can you send me config.json and config.dart file via email truong@inspireui.com

[2019-08-27 10:34] Jimmy430 commented on #952
@kuttim hi, i also have problem to setup my store, after i changed the field "isDefaultStore" to true, there is nothing show in my landing page, how could i fix this?

[2019-08-27 10:36] kuttim commented on #952
Are you using Discord or Slack?
Mikk
#6882

[2019-08-27 11:02] anwark opened #988 "[my-product] - LIstPro"
![ListPro-0](https://user-images.githubusercontent.com/109449/63765975-d2bb4680-c8e7-11e9-9c33-589329e88e0f.png)
![listPro-1](https://user-images.githubusercontent.com/109449/63765978-d2bb4680-c8e7-11e9-8b74-770509ed307b.png)
![ListPro-2](https://user-images.githubusercontent.com/109449/63765980-d353dd00-c8e7-11e9-8560-ba644c2e0b72.png)
![ListPro-3](https://user-images.githubusercontent.com/109449

[2019-08-27 11:08] anwark commented on #988
Config Files
https://drive.google.com/file/d/1Gtr7F-YkDda-xxWAdrWtPFghG546G12W/view?usp=sharing

[2019-08-27 12:17] preetindersodhi commented on #961
Check the landscape mode as well before you release the next version.

[2019-08-27 12:37] Pars1vaLl opened #989 "[Fluxstore 1.4.2] - Can`t run Fluxstore on Android Emulator"
Hi team,

I am struggling with launching Fluxstore on Android emulator. I tested emulator with default Flutter App - it works perfectly. However it doesn`t run when I try to launch Fluxstore. Here is the screen:
![Error](https://user-images.githubusercontent.com/45024483/63771793-43b32c00-c8f1-11e9-8ea4-751c65978d12.png)

Please help to solve this issue. Thanks)

[2019-08-27 12:58] outlawcode commented on #958
Still can not make it working from begin.
https://i.postimg.cc/CLw6rC1f/Screenshot-2019-08-27-at-7-57-04-PM.jpg
Please check asap.
Not able to running till bought it.

Vui lòng trợ giúp người Việt các bạn nhé. Không thể dùng được từ khi mua tới giờ.
Tôi muốn dùng công cụ Cebuilder vì có quảng cáo "không cần dùng tới code".

Xin cảm ơn!

[2019-08-27 13:52] anatoliasystem opened #990 "[beonews] - apple store crash"
Hello,

The application working properly with the simulator. working properly with the phone on the same wifi network. But, When you download application apple store, the application is opening waiting and closing.

Apple Store Application Link: https://apps.apple.com/tr/app/%C3%A7ar%C5%9F%C4%B1-1461/id1474621167?l=tr

Could you help?

[2019-08-27 14:50] x028 commented on #973
1- I'm already checked that and checked again and the problem still!

2- ok fix thanks

3- no it's not working normally checked in two pc and the same problem. it works normally in the English language and when I change the language of the app to Arabic the problem show!

4 and 5 so important how can you retrieve all the other section and for this two-section you can't?

**thanks for your response

[2019-08-27 14:53] kevlict opened #991 "[Beonews] - TypeError"
Hello, I encounter the problem when I start the app. The splash screen showed correctly.
I have install the BETTER REST API to my wordpress.
My blog is http://app.simplytastehk.com/app, you may test it with your app.

Screenshot:

![unnamed](https://user-images.githubusercontent.com/54314498/63782115-783cdd00-c91d-11e9-88fc-6765d22e2f97.jpg)

Thanks!

[2019-08-27 16:33] danasugu commented on #482
Hi! I have the same issue: Exception: Unknown controller 'mstore_user'.

[2019-08-27 17:27] tjain90 commented on #965
Email Sent. Kindly review.

On Tue, Aug 27, 2019 at 4:03 PM minhtruong315 <notifications@github.com>
wrote:

[2019-08-27 19:35] 7oda187 commented on #986
Team,

Please need your support here. the app not working at all even the main file without modifying anything i'm getting these error's.

[2019-08-28 00:53] minhcasi commented on #989
Hi, could you help to take your screenshot purchased?

[2019-08-28 01:05] minhcasi commented on #987
ok, please share your whole code to support@inspireui.com - pls note that we will not fix the code that already customizes the features as it is out of support scope.

Kindly changes your rating on our product for getting further support, it's not goodwill honestly.

[2019-08-28 01:05] #987 closed

[2019-08-28 01:09] minhcasi commented on #988
@minhtruong315 - this could be caused by the Cebuilder issue

[2019-08-28 01:11] minhcasi commented on #990
Could you help to share your purchased screenshot from https://codecanyon.net/downloads?  thank you!

[2019-08-28 01:12] minhcasi commented on #991
Please install this plugin will be fixed the issue - https://wordpress.org/plugins/better-rest-api-featured-images/

[2019-08-28 01:16] minhtruong315 commented on #986
@7oda187 pls add this to config.dart
[code]

[2019-08-28 01:22] Jimmy430 commented on #952
hi @kuttim , have sent you invite from discord just now, my user ID is jimmy90321#2396

[2019-08-28 01:42] anwark commented on #988
how it could be fixed? i try with "expo start" app open in emulator but can't connect with site Jhalawar.biz and also not build .apk

[2019-08-28 02:01] Pars1vaLl commented on #989
Here it is. Hope you will help as soon as possible.
![Screenshot_2](https://user-images.githubusercontent.com/45024483/63820143-9af0e500-c961-11e9-8005-114a7ac9e36b.png)

[2019-08-28 02:03] 7oda187 commented on #986
Dear I have add the code and managed to run the app, but still there is issues showing as below.
in account tab - search tab - product page - login page - Categories not showing.

![account_tab_Screenshot_1566957419](https://user-images.githubusercontent.com/6127275/63820160-e222aa00-c950-11e9-80d5-583cb9c958e1.png)
![Category_tab_Screenshot_1566957481](https://user-images.githubusercontent.com/61

[2019-08-28 02:25] thangvo9x commented on #973
4 & 5 The App doesn't support to get this two-section now. I will get in the next version. Thanks

[2019-08-28 02:43] thangvo9x commented on #949
Hi. Only using one of them. NOT both at the same time.

[2019-08-28 02:56] concuacon commented on #954
Hello @Gmlogy i'm checking this issue, can you attach more to me file AppConfig.json?

[2019-08-28 03:43] edzofcit commented on #184
Error when Logging in via Listapp app.

Error Display - undefined is not an object(evaluating 'v.user.id')

[2019-08-28 03:52] edzofcit opened #992 "ListApp"
---------

1. Cannot Login via the App. IT displays toast message - undefined is not an object(evaluating 'v.user.id')

2. Screenshots
![69162726_2476028059110163_8101021589769814016_n](https://user-images.githubusercontent.com/4536279/63824464-d2738780-c989-11e9-880c-7b839446efe2.jpg)

3. My screenshot of the purchase product or my comment:
![purchase](https://user-images.githubusercontent.com/45

[2019-08-28 04:04] minhtruong315 commented on #965
@tjain90 you haven't installed mstore plugin yet. Please install it.
- Copy Mstore plugin folder to app/code folder
- Run this command in website directory: php bin/magento setup:upgrade

[2019-08-28 04:12] minhtruong315 commented on #986
@7oda187 in pubspec.yaml please change provider version
```provider: ^3.0.0+1 to provider: 3.0.0+1```

[2019-08-28 04:21] minhtruong315 commented on #989
@Pars1vaLl You can open pubspec.yaml file, then click Packages get to update dependency
<img width="1033" alt="Screen Shot 2019-08-28 at 11 19 47" src="https://user-images.githubusercontent.com/10402500/63825693-ed43fd00-c985-11e9-9dec-bf37f3f10c3d.png">

[2019-08-28 04:23] minhtruong315 commented on #982
Hi @iYared There are more update for these functions. You need to make api to support. In mobile you need to add UI for those and implement api for them.
We added these functions to blacklogs, will update it in the future.
Thanks

[2019-08-28 04:33] #960 closed

[2019-08-28 07:28] anatoliasystem commented on #990
![app](https://user-images.githubusercontent.com/54587122/63834687-8cfd8d00-c97e-11e9-85ee-ed1f7b358715.jpg)

[2019-08-28 08:47] matrixaldy opened #993 "[FluxStore] - Application stops when loading too many images"
my application has stopped when i request many images at the same time. can help me?

[2019-08-28 10:31] mo7ammedgaber opened #994 "FluxStore-woo 1.4.2 -I/flutter (11227): Failed assertion: line 136 pos 14: '!listenable.hasListeners'"
i am download the template and build it and i have this error
can u help me ??

D/mali_winsys(11227): EGLint new_window_surface(egl_winsys_display *, void *, EGLSurface, EGLConfig, egl_winsys_surface **, EGLBoolean) returns 0x3000
D/mali_winsys(11227): EGLint new_window_surface(egl_winsys_display *, void *, EGLSurface, EGLConfig, egl_winsys_surface **, EGLBoolean) returns 0x3000
E/BpSurfaceCompose

[2019-08-28 10:31] asparcilius commented on #986
Hi I also have this issue, if i change the provider ^3.0.0+1 to provider: 3.0.0+1 the categories don't appear and "invalid agrument(s)" message appears. I've attached an image with my order from codecanyon thanks.
`
![licenta](https://user-images.githubusercontent.com/54617093/63848249-2dac7680-c998-11e9-9306-c0a13c53c254.JPG)
`

[2019-08-28 11:00] cisinindore opened #995 "i am unable to setup the theme, could you please suggest the process"
i am unable to setup the theme, could you please suggest the process...
I had tried in different way, could you please explain step by step.

[2019-08-28 11:26] minhcasi commented on #986
Also, try the latest version 1.4.3 will fix the issue - thank you!

[2019-08-28 11:33] minhcasi commented on #994
Hi, confirmed this is fixed on v1.4.3 - thank you!

[2019-08-28 12:56] kevlict commented on #991
hello.

Thank you.

However, I have installed this plugin but the problem still exists. Please kindly advise.

[2019-08-28 13:03] kevlict commented on #991
hello.

Thank you.

However, I have installed this plugin but the problem still exists. Please kindly advise.

[2019-08-28 13:59] ghanchi2000 opened #996 "[Fluxstore] - Category page issue"
In todays new release 1.4.3 still we see the category issue
Category page is blank
Please fix issue we are waiting
We need to publish app as soon as possible

We have sent you api keys in email

[2019-08-28 14:23] Gmlogy commented on #954
[AppConfig.zip](https://github.com/inspireui/support/files/3551358/AppConfig.zip)
here is it, thanks

[2019-08-28 14:34] mo7ammedgaber commented on #994
when i click build i have this error
C:\Users\ZaG\Desktop\FluxStore-woo 1.4.3\source: pub did not update .packages file (pubspec.yaml file has a newer timestamp)

[2019-08-28 14:37] mo7ammedgaber commented on #994
now i download new version
C:\Users\ZaG\Desktop\FluxStore-woo 1.4.3\source>flutter run
Running "flutter pub get" in source...                              ٢٫٩s
C:\Users\ZaG\Desktop\FluxStore-woo 1.4.3\source: pub did not update .packages file (pubspec.yaml file has a newer timestamp)

[2019-08-28 19:21] 7oda187 commented on #986
Dear Minhcasi,

Thank you for the update unfortunately app still have some bugs attached screenshot.
in some products showing error in description and under review column - in sidebar menu categories not showing in checking out for quantity and in checkout.

![Screenshot_1567019419](https://user-images.githubusercontent.com/6127275/63885954-1e521b00-c9e2-11e9-9e9d-6f086ea8d789.png)
![Screenshot_15

[2019-08-28 23:25] Pars1vaLl opened #997 "[Fluxstore] - help to update the app"
Hi guys,

We have configured Fluxstore 1.4.2 and doesn`t want to configure 1.4.3 from zero. Could you please send changed files us OR let us know which files were changed in 1.4.3 version, so we could just replace that files with new ones and save some time. Here is purchase code: https://user-images.githubusercontent.com/45024483/63820143-9af0e500-c961-11e9-8005-114a7ac9e36b.png

Thank you=)

[2019-08-29 00:10] minhcasi commented on #993
Hi, could you share your config file and the screenshot of your purchased product, thank you!

[2019-08-29 00:25] #982 closed

[2019-08-29 00:26] minhtruong315 commented on #994
https://www.youtube.com/watch?v=g-u6JPB36jg&list=PLcF-HiQy-jOJAD8btGgr_CHcUmYyN8GgY&index=3&t=0s

[2019-08-29 00:43] #975 closed

[2019-08-29 00:44] minhtruong315 commented on #986
@7oda187 send me config.json and config.dart via email: truong@inspireui.com. Notify me when you sent

[2019-08-29 00:53] minhcasi commented on #997
Hi, please use this patch file to check the diff - https://www.dropbox.com/s/uuiha2th3kgwgk5/1.4.3.patch?dl=0

[2019-08-29 00:53] #997 closed

[2019-08-29 00:54] minhcasi commented on #995
- could you share your license screenshot of the product of you have purchased?
- Also, share us the detail issue so that we could help

Thank you!

[2019-08-29 01:12] minhtruong315 commented on #996
@ghanchi2000 I dont see any email. which category layout are u using?

[2019-08-29 01:50] 7oda187 commented on #986
Dear @minhtruong315 Email has been sent to you with config files attached.

[2019-08-29 02:21] mo7ammedgaber commented on #994
thanks

can u help me at this case
[image: image.png]

?

‫في الخميس، 29 أغسطس 2019 في 2:26 ص تمت كتابة ما يلي بواسطة
‪minhtruong315‬‏ <‪notifications@github.com‬‏>:‬

[2019-08-29 03:33] peter2411 opened #998 "Fluxstore WooCommerce Version: 1.4.3 , facebook login Error"
1. My issue
Version: 1.4.3 , Error when try to login via facebook

2. Screenshots
https://prnt.sc/oyxuw7

3. My screenshot of the purchase product or my comment:
https://prnt.sc/oyxvn7

[2019-08-29 03:36] minhcasi commented on #988
@minhtruong315  - https://app.intercom.io/a/apps/xro9xnfd/inbox/inbox/2664005/conversations/23250012119

[2019-08-29 04:42] minhtruong315 commented on #994
@mo7ammedgaber i dont see image. pls send again

[2019-08-29 04:43] minhtruong315 commented on #988
@anwark what is your skype account? I will help you check it via teamviewer

[2019-08-29 04:50] zziltong opened #999 "[BeoNews] - onesignal doesn't redirect to post"
Product: Beonews pro

Your Purchased Code: 9f64a72f-f65c-4ecb-89ab-c109e7863821

When OneSignal push notification to mobile app, the app redirect to home page instead redirect to post.

I added this code in functions.php but onesignal doesn't redirect to post.

function onesignal_send_notification_filter($fields, $new_status, $old_status, $post)
{
    $fields['isAndroid'] = true;
    $fields['isIo

[2019-08-29 04:56] anwark commented on #988
Thank you for your reply

my skype is - khan_anwar

On Thu, 29 Aug 2019 at 10:13, minhtruong315 <notifications@github.com>
wrote:

--
Kind Regards
Anwar Khan
Project Manager
Voice <+919214438986> / Whatsapp
<https://api.whatsapp.com/send?phone=919214438986> : +919214438986

[2019-08-29 06:20] #925 closed

[2019-08-29 06:35] mohamedibrahim89 opened #1000 "[Mstore pro] - slider name in home erro"
1. My issue
First issue
every time i try to add label name from cbuilder to slider in home app show without slider name
Second issue
Can u tell me how to setup mobile app notification in one singal in expo version not in pro version

2. Screenshots
![20190829_083232](https://user-images.githubusercontent.com/35544603/63915950-90a11a80-ca37-11e9-9cd6-487758e32f18.jpg)

[2019-08-29 06:43] Pars1vaLl opened #1001 "[Fluxstore] - instruction of using patch"
Hi,

Could you please describe me how to use patch file you have shared with me in this topic: https://github.com/inspireui/support/issues/997

Thanks

[2019-08-29 07:06] cisinindore commented on #995
I am getting below error:
![Screenshot from 2019-08-29 12-35-25](https://user-images.githubusercontent.com/14923648/63918065-94de2f80-ca59-11e9-9397-2f64b9ab682a.png)

[2019-08-29 07:13] thangvo9x commented on #992
Hi. Please share your AppConfig for checking? Thanks

[2019-08-29 08:05] mo7ammedgaber commented on #994
This error

On Thu, Aug 29, 2019, 6:42 AM minhtruong315 <notifications@github.com>
wrote:

[2019-08-29 08:31] samik9 opened #1002 "Fluxstore 1.4.3"
1. Auto slider does not work with  **"design": "swiper",** only work with _"**default**"_
2. There are some missing translations, the Order Placed and the loading text, I double check it
<img width="483" alt="iPhone Xʀ — 12 4 2019-08-29 03-24-27" src="https://user-images.githubusercontent.com/50071744/63923833-d72d4f80-ca0c-11e9-9e29-e3fd5a2cf10a.png">

![iPhone Xʀ — 12 4 2019-08-29 03-21-36](http

[2019-08-29 08:53] concuacon commented on #954
Hello @Gmlogy please give me your email, i'll send to you source fixed.
Thank you,

[2019-08-29 09:06] Gmlogy commented on #954
cherkamal4@gmail.com

On Thu, 29 Aug 2019 09:53 concuacon, <notifications@github.com> wrote:

[2019-08-29 12:57] concuacon commented on #983
Hello @mcdavri,
You can try the following steps:
For first issue:

- remove node_modules/ folder, reinstall package: run yarn or npm install

- cd android/ && ./gradlew clean && cd ../

- open Android Studio refactor app to AndroidX and open comand line run react-native run-android.
Second issue:

- Remove node_modules/ and reinstall

- Run app again.

[2019-08-29 12:58] concuacon commented on #968
Hello @alisa140 we will have a check and let you know

[2019-08-29 14:13] yngwieduane commented on #985
Hello?? please response to my concern please.

[2019-08-29 14:25] jakkumarket opened #1003 "[Fluxstore 1.4.3] - Products Unavailable"
---------

1. My issue
When selecting a product image, such as color or size, the add to cart button says "Unavailable" instead of "Add to Cart".
2. Screenshots
Can provide if description is not enough
3. My screenshot of the purchase product or my comment:
https://imgur.com/JImeNuH
3. Config files (optional)

[2019-08-29 14:30] anatoliasystem commented on #990
You did not answer?

[2019-08-29 15:25] tjain90 commented on #965
Hi,

I have installed mstore plugin as well but still no product is shown.

Also there was no additional setting tab in my Magento admin panel?

On Wed 28 Aug, 2019, 9:34 AM minhtruong315, <notifications@github.com>
wrote:

[2019-08-29 15:52] Pars1vaLl opened #1004 "[Flutter] - questions about"
Hi,

My purchase code: https://user-images.githubusercontent.com/45024483/63820143-9af0e500-c961-11e9-8005-114a7ac9e36b.png
I have few questions and hope to your fast respond.

1. I need to set only one language in the App and replace "Languages" button.
![22](https://user-images.githubusercontent.com/45024483/63956596-2c667100-caa0-11e9-939a-1ff9532e760f.jpg)

2. How can I integrate Visa and Mast

[2019-08-29 16:23] outlawcode commented on #958
Hey?

[2019-08-29 17:18] yngwieduane opened #1005 "[Fluxstore 1.4.3] - Issues on customizing the template"
---------

1. My issue
 when I'm changing the config file, in the app is not loading, it only loads the template images and its category id. I want to change this. also the login is not working we cant use this function.

2. Screenshots

![WhatsApp Image 2019-08-29 at 9 11 54 PM (1)](https://user-images.githubusercontent.com/18515128/63961395-c7ac1600-caa1-11e9-913c-1e17ff5be147.jpeg) . This is fo

[2019-08-30 00:18] v3creatives commented on #920
1. Vendors tab on categories page only shows 10 Vendors, we have many more.

2. When you select Vendor on products page, no Vendor details are shown (store name or address), when hit details the app crashes.

![63033123-0db48780-beaf-11e9-8171-5e6fd45df25d](https://user-images.githubusercontent.com/52754640/63984584-de636480-cac3-11e9-906b-d1c982bcdb42.jpg)
![63033124-0e4d1e00-beaf-11e9-9f0f-95539

[2019-08-30 01:43] minhtruong315 commented on #994
<img width="749" alt="Screen Shot 2019-08-30 at 08 42 45" src="https://user-images.githubusercontent.com/10402500/63987378-286b3b00-cb02-11e9-93ae-a87a3179859c.png">
I dont see image

[2019-08-30 01:43] #989 closed

[2019-08-30 01:47] minhtruong315 commented on #953
@kevlict Did you install these plugin?
https://docs.inspireui.com/beonews/wordpress-setting/

[2019-08-30 01:47] #936 closed

[2019-08-30 02:24] minhcasi commented on #990
We could not download your app on our country (US or VN store) so that could not have a check.

Could you try to install the Sentry to check the root cause of crashing on production app? https://sentry.io/welcome/

[2019-08-30 02:25] minhcasi commented on #985
HI, please try to download the latest 1.4.3 that released on yesterday will be fixed this issue, thank you!

[2019-08-30 02:36] minhcasi commented on #1003
Could you attach the config file and the screenshot of the current issue so that we could help ?

[2019-08-30 02:39] minhtruong315 commented on #998
@peter2411 can you send me your source code via email: truong@inspireui.com?

[2019-08-30 02:41] minhcasi commented on #1001
Hi, you can search 'git apply' on google

The script will similar to:

git apply --check /path/your-file.patch

[2019-08-30 02:41] #1001 closed

[2019-08-30 02:44] minhcasi commented on #1004
1. you can remove this menu from the setting screen - https://tppr.me/dZxWY

2. We have not tested on visa and mastercard, but it will work the same on your woocommerce site

3. Open the common/config.json file and remove the category config

Thank you!

[2019-08-30 02:44] #1004 closed

[2019-08-30 02:44] minhtruong315 commented on #1002
@samik9 send me config.json and config.dart file?

[2019-08-30 02:46] minhtruong315 commented on #1005
@yngwieduane send me config.json and config.dart file via email: truong@inspireui.com

[2019-08-30 02:46] minhcasi commented on #1000
Hi, the name of this label should be the key from common/languages.js file - https://tppr.me/NtJrT

example: featureProducts will not display exactly "featureProducts" it will display "Feature Products"

(By this way it will support the multi languages features when you switch to other language)

The onesignal is not supported for the Expo version yet, you can follow this request feature from - ht

[2019-08-30 02:46] #1000 closed

[2019-08-30 02:47] samik9 commented on #1002
Hi, please check the files here https://d.pr/f/Z6Uhta

[2019-08-30 02:49] jakkumarket commented on #1003
![2019-08-29 (2)](https://user-images.githubusercontent.com/50064497/63989682-db0db000-caa6-11e9-90aa-4b7c305d7a43.png)
[config.zip](https://github.com/inspireui/support/files/3558039/config.zip)
@minhcasi

[2019-08-30 02:55] minhcasi commented on #999
Hi, it is working fine with our testing, please make sure this function is effect from the Wordpress site, you can try to debug the app from the mobile site to print the post ID from when getting the notification - https://tppr.me/FYQ1k

For related document guide: https://documentation.onesignal.com/docs/web-push-wordpress-faq#section-onesignal_send_notification-filter

[2019-08-30 02:59] vumanhsn97 commented on #1003
![image](https://user-images.githubusercontent.com/39208623/63990011-9452a100-cb0c-11e9-99d3-b47c7a186f28.png)
Did you setup variant in your product?
@jakkumarket

[2019-08-30 03:00] jakkumarket commented on #1003
@vumanhsn97 yes there are variants set up

[2019-08-30 03:49] alisa140 commented on #968
Thanks. Looking forward for your response.

[2019-08-30 06:51] Gmlogy commented on #954
@concuacon Thank you so much, but still not working!

- in the app users can bypass the woocommerce rules just by choosing the other option for example :
someone buying items for 100$ in website he will be charging for delivery fees but in app he can choose manually the free delivery service(in website the system choose the action and apply delivery fees if a user buy something under 200$ / in app

[2019-08-30 06:51] dxpsite commented on #992
It same trouble via Facebook;
http://prntscr.com/ozh4k4
How solve it?

[2019-08-30 07:32] concuacon commented on #968
Hi @alisa140 i found solution, please download and copy this file follow path.
path: src/containers/HomeContainer/index.js
[index.js.zip](https://github.com/inspireui/support/files/3558733/index.js.zip)

[2019-08-30 07:46] yngwieduane commented on #1005
@minhtruong315  I sent it to your email.

[2019-08-30 07:57] concuacon commented on #968
Hi @alisa140 i found solution, please download and copy this file follow path.
path: src/containers/HomeContainer/index.js
[Uploading index.js.zip…]()

[2019-08-30 07:57] minhtruong315 commented on #965
@tjain90 can you resend config file? I dont see it in my inbox

[2019-08-30 08:00] concuacon commented on #954
@Gmlogy i understood i would check it again.

[2019-08-30 08:28] minhtruong315 commented on #986
@7oda187 Bad state no element
The product description is wrong html format. You need to update description in admin panel

[code]

[2019-08-30 08:40] cisinindore commented on #995
We are using Ubuntu machine... Will it be work ?

[2019-08-30 08:52] minhtruong315 commented on #986
@7oda187 NoSuchMethodError
Pls edit function fetchProductsByCategory file services/opencart.dart
[code]

[2019-08-30 09:00] minhtruong315 commented on #986
@7oda187 empty category
you can edit file models/category.dart
[code]

[2019-08-30 09:01] minhtruong315 commented on #986
@7oda187 I can not reproduce error quantity and cart

[2019-08-30 09:01] yngwieduane commented on #1005
Do you also have a documentation for customization of the homepage? Like if we are going to add 2 or more sliders?

[2019-08-30 09:02] minhtruong315 commented on #1005
@yngwieduane you can check this document: https://docs.inspireui.com/fluxstore/customization/

[2019-08-30 09:42] matrixaldy opened #1006 "[FluxStore] - Login Problem"
error when i login, can help me?

![Screen Shot 2019-08-30 at 4 39 10 PM](https://user-images.githubusercontent.com/22363606/64010936-e0b9d300-cb44-11e9-8fd7-a319f7ebaaf2.png)

[2019-08-30 12:24] mo7ammedgaber commented on #994
Okay
I am ask u about sign up with sms i received code with whatsapp like
Use 430485 as your login code for FluxStore. (Account Kit by Facebook)

How change fluxstore with my store name?
And activeing login with Facebook
Thanks

On Fri, Aug 30, 2019, 3:43 AM minhtruong315 <notifications@github.com>
wrote:

[2019-08-30 12:53] alubrandxy opened #1007 "Payment integration"
How can i integrate another payment gateway to cestore please?

[2019-08-30 13:34] tjain90 commented on #965
As asked earlier,

I have sent email with config files to truong@inspireui.com and
support@inspireui.com. can you please your email  so that I can send it to
you as well.

On Fri 30 Aug, 2019, 1:27 PM minhtruong315, <notifications@github.com>
wrote:

[2019-08-30 15:45] Pars1vaLl opened #1008 "[Fluxstore] - Issue with bottom menu"
Hi team,

I am facing issue with bottom menu. When I click to 'Categories','Search' or 'Profile' buttons it shows this error:
![1](https://user-images.githubusercontent.com/45024483/64033942-01932000-cb67-11e9-89a7-6292b52fd0f9.png)

Here is my purchase code: https://user-images.githubusercontent.com/45024483/63820143-9af0e500-c961-11e9-8005-114a7ac9e36b.png

Thank you)

[2019-08-30 18:07] mohamedibrahim89 opened #1009 "[Mstore expo] - login crached app"
1. My issue
Everytime i try to login from app
App restart and cant login in
I think its from my host but i dont know what exactly the problem can u help me

2. Screenshots

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/35544603/64042246-c6dab900-cb61-11e9-9b36-1d943005c02d.gif)

[2019-08-30 19:51] #1009 closed

[2019-08-31 00:45] kevlict commented on #953
Yes, all of them.

Kevin

「minhtruong315 <notifications@github.com>」在 2019年8月30日 週五，上午9:47 寫道：

[2019-08-31 01:00] Pars1vaLl commented on #1008
It was dependencies issue. Just updated the package.

[2019-08-31 01:00] #1008 closed

[2019-08-31 01:08] Pars1vaLl opened #1010 "[Fluxstore] - Registration and Maps question"
Hi,

I would like apply some changes in the App:

a. How can I remove Google Maps?
b. I would prefer to remove some lines from 'Registration Form'. Here they are:

         1. Last name
         2. Country
         3. State
         4. City
         5. Street name
         6. Zipcode
c. How can I enable logining by phone like in demo?

Thanks

[2019-08-31 03:45] anandnathtiwari opened #1011 "Fluxstore Pro-1.4.3"
---------

1. My issue

I have couple of issue in version 1.4.3. Please guide me. I am using Opencart 3.0.3.2
(1) Payment methods not show. in website I use CCAvenue as payment Gateway
(2) in Product list some product not show image
(3) in Recent product list—products repeated itself many times and products image size is not equal.

Thanks Anand Nath tiwari

2
[config.zip](https://github.com/inspi

[2019-08-31 05:56] paulica40 opened #1012 "[my-product] - BeoNews Pro"
1. My issue
I am getting this error

2. Screenshots
https://user-images.githubusercontent.com/54144509/64059838-7e0c1a00-cbcc-11e9-975b-9d6057cbafdf.png

3. My screenshot of the purchase product or my comment:
https://user-images.githubusercontent.com/54144509/64059862-e0fdb100-cbcc-11e9-83ff-8de2aeafd207.png

3. Config files (optional)

[2019-08-31 05:57] paulica40 commented on #1012
what config files do you need?

[2019-08-31 11:16] tjain90 commented on #965
Hi Team,

Any update on this ? I am sending again in case you have missed that.

Sent from Mail for Windows 10

From: Tarun jain
Sent: 30 August 2019 19:04
To: inspireui/support
Subject: Re: [inspireui/support] Fluxstore pro - products not visible incategory page (#965)

As asked earlier,

I have sent email with config files to truong@inspireui.com and support@inspireui.com. can you please your em

[2019-08-31 11:24] tjain90 commented on #965
[common.zip](https://github.com/inspireui/support/files/3562379/common.zip)
Config Attached.

[2019-08-31 12:29] edzofcit commented on #992
Please see link for appconfig

https://www.dropbox.com/s/ce2hip27lpktier/AppConfig.json?dl=0

[2019-08-31 15:07] yngwieduane commented on #1005
how about some configuration in firebase and firestore??

[2019-08-31 15:41] ItisAhsan opened #1013 "[MSTORE -PRO] Checkout page not working"
---------

1. My issue :
I have enabled stripe checkout.. and I have created a a page for mstore-checkout with the custom template.. it display's the form but keeps refreshing.. Tried to debug from the browser there was this error in console

Error: We could not retrieve data from the specified Element.
              Please make sure the Element you are attempting to use is still mounted.

2. Scre

[2019-08-31 15:43] ItisAhsan commented on #1013
Proof of Purchase
![image](https://user-images.githubusercontent.com/12572962/64066156-f8ba5100-cc2f-11e9-9257-4403d6c111cb.png)

[2019-08-31 16:30] alisa140 commented on #968
thanks. This file fixed the problem and now I can see the horizontal layout. the new problem now is: the products comes empty although Category IDs are correct. The display all product button work. I'm attaching relevant screenshots:
https://ibb.co/FDWKHhq
https://ibb.co/30Gd9Hs
https://ibb.co/ZW5Xymd

[2019-08-31 16:32] anwark commented on #988
Thank you for your reply

my skype is - khan_anwar
I am Waiting for your replay

On Thu, 29 Aug 2019 at 10:13, minhtruong315 <notifications@github.com>
wrote:

--
Kind Regards
Anwar Khan
Project Manager
Voice <+919214438986> / Whatsapp
<https://api.whatsapp.com/send?phone=919214438986> : +919214438986

[2019-08-31 21:49] 7oda187 commented on #986
Dear I tried to place your fix but i got this log and screenshot.

`Launching lib\main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollecti

[2019-09-01 04:35] minhcasi commented on #1007
Please refer to our existing stripe and PayPal to make the similar for your payment, you can check the API from the payment gateway and connect when processing the payment, every gateway will have different integration method - thank you!

[2019-09-01 04:35] #1007 closed

[2019-09-01 04:37] minhcasi commented on #1010
Hi, could I know which the product that you are mention about?

Also, please provide us your purchased screenshot - thanks

[2019-09-01 04:38] minhcasi commented on #1011
Hi Anand, thank you for your feedback, could we know your purchased screenshot?

[2019-09-01 04:39] minhcasi commented on #1012
Hi @paulica40 - the config that locates from the common folder, file appconfig.json and config.js - thank  you!

[2019-09-01 04:40] minhcasi commented on #1013
Thank you @ItisAhsan - could you attach your config files here, we need to debug for investigating on this issue - thank you!

[2019-09-01 05:50] anandnathtiwari commented on #1011
![images Missing in recent collection](https://user-images.githubusercontent.com/17059651/64072343-7c188880-ccaa-11e9-9074-3c24b8105f0e.jpg)
![Images repeated and not alignment](https://user-images.githubusercontent.com/17059651/64072344-7c188880-ccaa-11e9-9334-20df25945267.jpg)
![payment Issue](https://user-images.githubusercontent.com/17059651/64072345-7cb11f00-ccaa-11e9-8a12-32316d69a159.jpg)

[2019-09-01 05:56] anandnathtiwari commented on #1011
![website checkout page](https://user-images.githubusercontent.com/17059651/64072410-56d84a00-ccab-11e9-9ad0-8c4118667fc0.jpg)

[2019-09-01 05:57] anandnathtiwari commented on #1011
In website Payment method show, but in app it gives error. Also Taxes are not show in App.

Thanks
Anand Nath Tiwari

[2019-09-01 07:07] paulica40 commented on #1012
Here are the config files

[config.pdf](https://github.com/inspireui/support/files/3563194/config.pdf)
[appconfig.pdf](https://github.com/inspireui/support/files/3563195/appconfig.pdf)

[2019-09-01 07:10] paulica40 commented on #1012
i can scroll the posts in every category, but when i try to view an older post like 15th or 20th, i got the error of scrolltoindex out of range.

[2019-09-01 09:13] #912 closed

[2019-09-01 09:14] #952 closed

[2019-09-01 09:16] minhcasi commented on #964
Hi @amas2000 - could you follow by these link to check this issue?

https://flutter.dev/docs/get-started/install/windows
https://flutter.dev/docs/get-started/editor?tab=vscode

[2019-09-01 09:17] minhcasi commented on #965
Thank you @tjain90 - we will have a check and let you know

@minhtruong315

[2019-09-01 09:19] #976 closed

[2019-09-01 09:19] #978 closed

[2019-09-01 09:19] #980 closed

[2019-09-01 09:19] #981 closed

[2019-09-01 09:19] #985 closed

[2019-09-01 09:20] #990 closed

[2019-09-01 09:21] minhcasi commented on #991
@kevlict could you attache your config file from common/appconfig.json and config.json - we will have a check and let you know.

Also, take the screenshot of purchasing on this product to verify your purchased - thank you!

[2019-09-01 09:21] #993 closed

[2019-09-01 09:23] minhcasi commented on #995
sent via email

[2019-09-01 09:23] #995 closed

[2019-09-01 09:23] #999 closed

[2019-09-01 09:26] #948 closed

[2019-09-01 10:57] Pars1vaLl commented on #1010
Hi,

It is Fluxstore App.

Here is my Purchase Code: https://user-images.githubusercontent.com/45024483/63820143-9af0e500-c961-11e9-8005-114a7ac9e36b.png

Thanks

[2019-09-01 16:24] lineacoin-project opened #1014 "EvaStore - Varible issues"
Hello,

My store currently has some items with variants and other products without, when the products with variants show on the app its fine, but when the products without variants it shows Default Title can this be blank if there is no variant applied to the product?

Kind Regards

[2019-09-01 17:01] alaaeallam opened #1015 "[EvaStore] - add another language"
Hi,

How can i add another language?(Arabic)
i know that i've to edit the common/Languages.js file
but how, if there any tutorials / guidelines ?

[2019-09-02 05:21] anandnathtiwari commented on #1011
Any update on my issue ?

[2019-09-02 07:32] ItisAhsan commented on #1013
I have emailed the config files at support@inspireui.com

[2019-09-02 08:36] morehere commented on #404
I too want this feature please update it in next update.

[2019-09-02 09:47] myothura opened #1016 "MStore Pro 3.9.4b Facebook Login Error"
I recorded with ios emulator. When i try to login with FB it doesn't advance to next screen. so do you have any idea to fix this one. I also try with your original codecanyo file. But this one is also not working. I already mailed your team. Your team do not respond in 10 day. Please kindly tell me how to fix it?

https://youtu.be/DEcKTmfvLUE

[2019-09-02 12:30] minhcasi commented on #1011
@anandnathtiwari - sorry for the late response as we are one Labor holiday, the team will back on tomorrow for checking your issue - thanks

@minhtruong315

[2019-09-02 12:35] minhcasi commented on #1013
Noted for checking, thank you!

[2019-09-02 13:18] icarofdez commented on #1006
Same problem here

[2019-09-02 13:40] dxpsite commented on #992
![Screenshot_2](https://user-images.githubusercontent.com/1510284/64118462-66858a80-cda0-11e9-9847-f27489643e5b.jpg)

my conf file is absolutely working, but..

[2019-09-02 14:23] outlawcode commented on #958
????

[2019-09-02 17:13] edzofcit commented on #992
Please see appconfig here..

[2019-09-02 19:37] arjunchopra35 commented on #945
Any update @thangvo9x  It's been quite a while!

[2019-09-02 19:40] dxpsite commented on #992
yep, i saw my problem. fuckin nginx(((

[2019-09-03 00:32] 7oda187 commented on #986
Dear @minhtruong315 i have managed to run the application finally,
and here is some pages and options not working.

1- App rating not working. "attached scrennshot"
2- Some products not showing properly. "attached scrennshot"
3- Maps not showing even after input my API key. "attached scrennshot"
4- Quantity Still not showing properly, "attached scrennshot"
5- Saved address not showing. "attached s

[2019-09-03 01:43] minhtruong315 commented on #1006
@matrixaldy can you send me config.dart and config.json file via email: truong@inspireui.com.
with title: https://github.com/inspireui/support/issues/1006

[2019-09-03 02:40] minhtruong315 commented on #958
Hi @outlawcode we will fix cebuilder, then send you update soon. thanks

[2019-09-03 03:08] minhtruong315 commented on #1012
@paulica40 can you send me which post has error? i checked your config, i see it is working well

[2019-09-03 04:55] minhtruong315 commented on #1005
@yngwieduane did you change facebook id?

[2019-09-03 04:57] minhtruong315 commented on #1002
@samik9 we fixed issue loading. If you want to change language for Order Placed, you can edit file screens/checkout/success.dart

[2019-09-03 05:00] minhtruong315 commented on #1011
@anandnathtiwari I can not login to check the payment method. it require account must be approved before login.

[2019-09-03 05:01] #996 closed

[2019-09-03 05:07] minhtruong315 commented on #994
@mo7ammedgaber https://pub.dev/packages/flutter_facebook_login
pls follow by this document to config facebook login

[2019-09-03 05:07] #998 closed

[2019-09-03 05:10] #958 closed

[2019-09-03 05:12] minhtruong315 commented on #953
@kevlict can you send me AppConfig.json and config.js file via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/953

[2019-09-03 05:12] #859 closed

[2019-09-03 05:19] minhtruong315 commented on #1011
@anandnathtiwari
(2) in Product list some product not show image
(3) in Recent product list—products repeated itself many times and products image size is not equal.
I checked your site, it don't response images list. you can check products api on your website source code. it's in file
catalog/controller/extension/mstore/product.php

[2019-09-03 05:21] #994 closed

[2019-09-03 05:32] anandnathtiwari commented on #1011
please login  email:  api@test.com and pass 123456

Thanks

[2019-09-03 05:32] samik9 commented on #971
Hi guys, any update on this?

[2019-09-03 05:36] anandnathtiwari commented on #1011
I also approved all your customers

[2019-09-03 05:40] samik9 commented on #1002
Thank you @minhtruong315 . What about point # 3:
**If order failed or pending the screen is the same that succesfull order placed**

[2019-09-03 05:57] shaaanishaan opened #1017 "[ListApp] UNABLE TO SIGNUP & LOGIN"
Problem Details:
- Signup: Dear I wana signup with new email address but app unable to register NEW USER. After enter NEW User data just show working on but after some seconds it stop and can't show any message.
- Login: As I take data from Website: I just try to login with existing register user on website to login in APP but show following message: "No route was found matching URL and request me

[2019-09-03 07:04] minhcasi commented on #971
Hi, sorry for the late response, we have double the issues on our site and could not find out the issue, we suspect it could cause by the data issue on your site.

Could you try to debug from the website - /mstore-checkout/templates/mstore-checkout-template.php - try to debug this order value after getting the URL from the app side -  https://tppr.me/MVYw2 ?

[2019-09-03 07:24] minhtruong315 commented on #988
https://docs.inspireui.com/listapp
pls check this document. if you have any issues with running project. let me know

[2019-09-03 08:01] minhcasi commented on #1015
Hi, the current app is not supported by switching the languages, you could only change the language.js to support another language - thank you!

[2019-09-03 08:01] #1015 closed

[2019-09-03 08:03] minhcasi commented on #1016
Thank you for reporting, we could double-check this issue and will update on this ticket

[2019-09-03 08:05] minhcasi commented on #1017
HI, this issue is caused by missing config for the mstore-check, please check this guide https://docs.inspireui.com/mstore/wordpress-setting/

[2019-09-03 08:05] minhcasi commented on #1014
Hi, could you provide the purchased screenshot and also sharing the screenshot of the issue, thank you!

[2019-09-03 08:48] arjunchopra35 commented on #945
@thangvo9x  I figured out that the issue was due to the site being hosted at a shared server and some of the shared servers do not allow us to make the changes required for jwt authentication in the .htaccess file, thus the payment options API endpoint was returning a 403 error. " Authorization header malformed. ". I have not tried it at a private server yet but I hope hosting it on a private serv

[2019-09-03 08:52] minhcasi commented on #954
@Gmlogy - as this is advance login for each store, we suggest to custom the feature's base on your business, we marked as the 'enhancement' feature for further upgrading, thank you!

[2019-09-03 08:53] minhcasi commented on #957
Support on latest release - thank you!

[2019-09-03 08:53] #957 closed

[2019-09-03 08:53] #964 closed

[2019-09-03 08:55] #983 closed

[2019-09-03 08:57] #937 closed

[2019-09-03 08:57] #991 closed

[2019-09-03 09:01] ItisAhsan commented on #1013
Hi there.. any update regarding the issue?

[2019-09-03 09:12] Gmlogy commented on #954
@minhcasi -I didn't understand well? before purchasing Mstore i saw in product features "Woocommerce full integration" for me this is not a full integration, i can't just publish an App that not function as my website. at least can i know whichthe responsible files that i will change the code within?

[2019-09-03 09:27] minhcasi commented on #1010
a. you can use the Flutter inspect to quickly locate the map widget and remove it, to know how to use the inspector ref to - https://www.youtube.com/watch?v=JIcmJNT9DNI

b. We suggest not to remove these fields as it is required for the WooCommerce API to complete the billing address, otherwise, you need to hard code these fields, again use the inspector to know to locate code for removing.

c. pl

[2019-09-03 09:30] minhcasi commented on #1013
@ItisAhsan

It seems the issue related to the website config.

Could you try to debug from the website - /mstore-checkout/templates/mstore-checkout-template.php - try to debug this order value after getting the URL from the app side - https://tppr.me/MVYw2 ?

[2019-09-03 09:38] shaaanishaan commented on #1017
My dear minhcasi, This case related to ListApp not MStore. I already mentioned details above. Here is more details Mr. Minhcasi, I already have website & I just connect it with ListApp with MyListing theme. As after attachment successful with Website, I am unable to Login and Signup.  Please help in line. Regards

[2019-09-03 11:17] kailashkansara opened #1018 "fluxstore with opencart setup products images are not showing in console it showing The following StateError was thrown resolving an image codec"
---------

1. My issue

2. Screenshots

3. My screenshot of the purchase product or my comment:

3. Config files (optional)

[2019-09-03 11:32] #930 closed

[2019-09-03 11:32] #973 closed

[2019-09-03 11:34] x028 commented on #973
what about the no. 1, 2 and 3 ?

[2019-09-03 11:43] ghanchi2000 opened #1019 "[fluxstore] - Category page issue"
This is the 3rd ticket i am opening but my issue is not resolving

We have 1000+ categories and in category page we see blank category

Please connect with us in teamviewer and resolve the issue

Here is email preview, config file keys is in email
https://prnt.sc/p16l4l

[2019-09-03 11:47] minhtruong315 commented on #1011
@anandnathtiwari to fix payment method, you need to update EnableShipping:true in config.dart.
edit fromOpencartJson contructor in models/shipping_method.dart
[code]

[2019-09-03 11:51] minhtruong315 commented on #1002
@samik9 if  order failed it will show error. if order pending, the screen is the same successful

[2019-09-03 16:42] lineacoin-project commented on #1014
please see attached
![Capture](https://user-images.githubusercontent.com/6841669/64192230-1840bc00-ce72-11e9-979d-82e412bb4a2f.PNG)
![issue](https://user-images.githubusercontent.com/6841669/64192241-21ca2400-ce72-11e9-82e9-f8a092098ddd.jpg)

[2019-09-03 18:26] yngwieduane commented on #1005
where can we change that?

[2019-09-03 19:51] alaaeallam opened #1020 "[EvaStore] - Quick Add to cart"
how to show add to cart icon in the product items like adding the product to wishlist ?

[2019-09-03 19:52] alaaeallam opened #1021 "[Eva Store] - background color"
How to change background to grey ?

[2019-09-03 19:53] alaaeallam opened #1022 "[EvaStore] - Styling"
How to style the product items in the product page?