[2018-11-09 06:55] minhcasi opened #1 "FAQ"
The example report for the issue

**Required Info (please complete the following information):**
 - Product: Mstore v3.5.0
 - Your Purchased Code: 3929-3929-3929-3929 (or the screenshot of your purchased)

**Describe the bug**
This is an example of the bug for Mstore

**Screenshots**
![icon](https://user-images.githubusercontent.com/1459805/48247722-faa7ef00-e426-11e8-9324-6fd0fa5c7e88.jpg)

**Add

[2018-11-09 07:35] reconshield opened #2 "Listapp 1.5.1 Not stable and crash"
Product: Listapp
 Purchase code: 23ee6c94-1eb8-4ffd-842f-7600d97f41d0

**Describe the bug**
1) in  ios when choose date for booking, app crash..i attached screenshot

2) Fb login not working in ios and android

3) Listing in Map view cant scroll .

4) Logout button not working in ios and android

5) Bottom Menu icons, back button not appear in ios simulator. but i cant see when upload app to expo.

[2018-11-09 14:45] minhcasi commented on #2
Fixed on v1.5.2

[2018-11-09 14:45] #2 closed

[2018-11-10 01:47] reconshield opened #3 "Listapp 1.5.2 bugs"
**Required Info (please complete the following information):**
 - Product: Listapp ( 1.5.2 )
 - Purchase code: 23ee6c94-1eb8-4ffd-842f-7600d97f41d0

**Describe the bug**
ios bugs
---------
i just run default 1.5.2 source file.but i`m facing some bugs.i have notice this in my previous bugs report and its still not solve.
1) Facebook login button not working ( cant even click button ). this from sid

[2018-11-10 03:47] thangvo9x commented on #3
API key is invalid is your api key invalid. Please check in your Config file.

[2018-11-10 03:49] reconshield commented on #3
api key for wordpress?

[2018-11-10 03:55] reconshield commented on #3
ok..let me set firebase key again

[2018-11-10 03:58] reconshield commented on #3
[Config.js.zip](https://github.com/inspireui/support/files/2568088/Config.js.zip)

this my new config... i have add correct firebase keys..but same error

[2018-11-11 04:12] luyx2412 opened #4 "Old data when changed config.js file"
**Required Info (please complete the following information):**
 - Product: Evastore

**Describe the bug**
- Changed Config.js file, but still old data

**Resolve the issue*
Now we are using redux-persist to cache store redux. When you changed in Config.js file, we have 2 options to fix this issue.
- Uninstall and reinstall app again to apply new data
- Using blacklist redux-persist https://github.

[2018-11-11 04:13] #4 closed

[2018-11-11 08:39] arshaukat commented on #4
You mean delete node_module folder and run npm install again?

[2018-11-11 08:50] daligou opened #5 "MSTOR$$Bug on Android"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2018-11-12 02:00] minhtruong315 commented on #5
Hi @daligou ,
Please run this command to open dev menu: adb shell input keyevent 82
Then click Dev Settings -> Debug server host & port for device. Input your ip address and default port is 8081
![6iceg](https://user-images.githubusercontent.com/10402500/48322285-5c4f9f80-e659-11e8-95e0-044404eccb8e.jpg)

[2018-11-12 03:50] luyx2412 commented on #4
No arshaukat, I mean you need uninstall your app in simulator or emulator, after that install again your app which help remove redux persist store. Thanks

[2018-11-12 07:08] arshaukat commented on #4
I did not run react-native run-android.  I just did “expo start” so there
is nothing to uninstall.

On Mon, 12 Nov 2018 at 03:50, luyx2412 <notifications@github.com> wrote:

--
Abdulrehman Shaukat

Notice and Disclaimer:

This communication is only for the use of the addressee. It may contain
information which is confidential and exempt from disclosure. If you are
not the intended recipient you mu

[2018-11-12 07:09] luyx2412 commented on #4
So you need uninstall expo, after that run `expo start` again.
Thanks

[2018-11-12 09:11] arshaukat commented on #4
Ok. Will give it a go.

In the video I asked few more questions. Did you get a chance to review?

On Mon, 12 Nov 2018 at 07:09, luyx2412 <notifications@github.com> wrote:

--
Abdulrehman Shaukat

Notice and Disclaimer:

This communication is only for the use of the addressee. It may contain
information which is confidential and exempt from disclosure. If you are
not the intended recipient you must

[2018-11-12 09:14] arshaukat opened #6 "Different results in Mobile vs emulator"
The left hand menu and collections page (bottom menu 2nd button) showing updated collections in mobile but on emulator still shows the template collections.

Also on mobile when clicked on some collections it shows error with red screen.

[2018-11-12 09:22] daligou commented on #5
ok Thanks @minhtruong315

2 - when i build release app on android 8.0.0 a crash and close, please @minhtruong315 @minhcasi @luyx2412 @thangvo9x

[2018-11-12 13:29] #6 closed

[2018-11-12 13:52] arshaukat commented on #6
Will upload screenshots as well.

But did you saw the other questions in video?

On Mon, 12 Nov 2018 at 13:26, luyx2412 <notifications@github.com> wrote:

--
Abdulrehman Shaukat

Notice and Disclaimer:

This communication is only for the use of the addressee. It may contain
information which is confidential and exempt from disclosure. If you are
not the intended recipient you must not read, copy,

[2018-11-12 14:12] luyx2412 commented on #4
Hi we saw your question in the video. We added backlog and will review the issue. Thanks

[2018-11-12 14:16] daligou commented on #6
Release app.... signed app

On Mon, Nov 12, 2018, 13:52 Abdulrehman Shaukat <notifications@github.com
wrote:

[2018-11-12 14:55] daligou commented on #6
Sorry did not have. Can you elaborate. Thank you.
I just wanted to see if 'appication with a default configuration was
working. i just did yarn setup and yarn start.
but after build release apk, app crash on launch.

Le lun. 12 nov. 2018 à 14:23, Abdulrehman Shaukat <notifications@github.com>
a écrit :

[2018-11-12 15:11] arshaukat commented on #6
I mean to say there are many outstanding questions.

[2018-11-12 20:45] hammadhassan opened #7 "Facebook Login Issue in Pro & Expo version 3.6.2"
I am unable to login to facebook in default config & with my customize config.

Page does refresh after login but not display profile icon in bottom.

Can you please help to fix this issue.

My app is pending due to this issue.

[2018-11-12 20:49] hammadhassan opened #8 "Thumbnail Issue in Pro Version 3.6.2"
My thumbnails are not displaying in pro version but working fine in expo version.

In ProductSize object. when i change Boolean to true following error occurs in pro version. Screenshot is attached.

ProductSize: {
    enable: false / true,
}

![image](https://user-images.githubusercontent.com/5791268/48374218-fbba7400-e6e5-11e8-8c6d-cf6c6fcfd4e1.png)

Please check & advice.

[2018-11-13 00:43] minhcasi commented on #8
Hi, could you attach the config.js file - thank you!

[2018-11-13 00:46] minhcasi commented on #7
Hi, could you attach you config.js file, we are closed this ticket to support your same ticket on https://github.com/inspireui/support/issues/8

Please provide more information:
- Your purchased code

[2018-11-13 00:46] #7 closed

[2018-11-13 07:31] reconshield commented on #3
any update on this issue?

[2018-11-13 20:39] hammadhassan commented on #8
Here is the code.
[ Purchase Code
f20afe4a-778e-4089-bcb2-7ec1bb4ed49b
]
Both config files are attached expo & pro versions.

Please check both issues & if you want facebook login to create app on developers console to check login please let me know.

I have already created an app on developer account & code is in config file.

I also have one more issue.

I configure my app & website according to

[2018-11-14 04:00] Pars1vaLl opened #9 "Installation Issues"
**Mandatory Info (please complete the following information):**
 - Product:  ListApp
 - Purchased Code: 85059e37-2ddd-478d-899b-6db006280782

**Describe the issues**
Hi!
Can`t run "yarn install" /"npm install" in console. I try to do it from ListApp directory. (First screen)
Expo cli can`t run an emulator in custom project, however I did everything as in docs. Or,maybe, there is some changes? If y

[2018-11-14 06:18] hammadhassan commented on #9
First install yarn & nodejs.

Then run `npm install -g react-native-cli`

[2018-11-14 07:50] hammadhassan commented on #7
Here is the code.
[ Purchase Code
f20afe4a-778e-4089-bcb2-7ec1bb4ed49b
]
Both config files are attached expo & pro versions.

Please check both issues & if you want facebook login to create app on developers console to check login please let me know.

I have already created an app on developer account & code is in config file.

I also have one more issue.

I configure my app & website according to

[2018-11-14 08:46] arshaukat commented on #4
Thx. Still waiting for responses to all the questions raised in my video.

On Wed, 14 Nov 2018 at 08:26, luyx2412 <notifications@github.com> wrote:

--
Abdulrehman Shaukat

Notice and Disclaimer:

This communication is only for the use of the addressee. It may contain
information which is confidential and exempt from disclosure. If you are
not the intended recipient you must not read, copy, distri

[2018-11-14 08:55] luyx2412 commented on #4
Yes, we are reviewing and fixing some issues. After that we will make the video install to easier install and customize. Thanks

[2018-11-14 10:09] arshaukat commented on #4
Ok thanks. When will you get back to me. Some rough estimate?

On Wed, 14 Nov 2018 at 08:55, luyx2412 <notifications@github.com> wrote:

--
Abdulrehman Shaukat

Notice and Disclaimer:

This communication is only for the use of the addressee. It may contain
information which is confidential and exempt from disclosure. If you are
not the intended recipient you must not read, copy, distribute or
diss

[2018-11-14 15:36] anosmx opened #10 "Build Failed!! 3.6.3"
Hi,

I’ve downloaded the new version 3.6.3 and when i build it I get an error.
[Image](https://discuss.spotui.com/uploads/default/optimized/1X/b7d3c15fe99a2f9e26b130d623cc3016f8695fe2_1_1380x982.jpeg)

[2018-11-14 21:10] team2s opened #11 "BUILD FAILED"
Hello,
Beonews pro
When I execute the command "react-native run-android" the error in attached file displayed. Knowing that I have set up Android development environment and the emulator is running. As well as the AwesomeProject app for environment test is starts properly (attached file)
<img width="307" alt="capture d ecran 2018-11-14 a 22 01 55" src="https://user-images.githubusercontent.com/450

[2018-11-15 02:18] luyx2412 commented on #10
Hi anosmx, Please follow the step to fix the issue related XCode 10

1. In your project `cd node_modules/react-native/third-party/glog-0.3.4`
2. Run script `../../scripts/ios-configure-glog.sh`

Thanks

[2018-11-15 02:18] #10 closed

[2018-11-15 02:20] luyx2412 commented on #11
Hi team2s, Please provide follow the template report to easier and investigate the issue. https://github.com/inspireui/support/issues/1
Thanks

[2018-11-15 04:40] samber91 opened #12 "change images on homescreen"
How can i change these images please ? there is no mention in the doc and i'm new to expo thanks

images attached
![8b0efe59-10d3-45a6-9516-983237e76fe3](https://user-images.githubusercontent.com/42559522/48530658-9e99fc00-e866-11e8-8615-8426d1823f4a.jpg)
![1628d7b6-a868-490c-8bbb-238bcd3c4848](https://user-images.githubusercontent.com/42559522/48530660-a2c61980-e866-11e8-9963-7d835d3e5ed8.jpg)

[2018-11-15 04:52] BartCheng opened #13 "visitor can not signup in my app(base on wordpress)"
I was following the guide of document,
can catch article list in my site,
but visitor can not signup in app.

[2018-11-15 06:46] luyx2412 commented on #13
Hi BartCheng, Please follow the template issue to investigate the issue easier. https://github.com/inspireui/support/issues/1
Thanks

[2018-11-15 06:46] #13 closed

[2018-11-15 09:05] team2s commented on #11
Hello, When I can found this report ?

[2018-11-15 09:08] luyx2412 commented on #11
HI team2s, Please describe specific follow [this template](https://github.com/inspireui/support/issues/1) Thanks

[2018-11-15 11:50] YazanArafat opened #14 "RTL Support - Configuration not taking effect"
- Product: MStore Multi Vendor
 - Purchased Code: 91cb0275-e8ea-492d-adf5-29565cba1474

Hello,

I'm trying to configure the app to support RTL and display a language by changing the DefaultCountry in config.js file, however, there is no effect taken when running the app. I've noticed the comment you wrote in the code -seen below- but didn't understand what does it mean or what do we need to do exa

[2018-11-15 14:50] reconshield opened #15 "Listapp 1.5.3 bugs"
Product : Listapp
Purchase code: 23ee6c94-1eb8-4ffd-842f-7600d97f41d0

i just test Listapp 1.5.3 update. i have clear cache using yarn and reset data in simulator.
found same bugs.
1) Cant login fb from Side Menu link
2) Cant login using Email from side Menu link
3) Can login from User Menu page, but logout button from side menu can't click
    - show error message and login success message (check

[2018-11-15 19:33] hammadhassan commented on #8
Hey!

Thanks for your new update 3.6.3.

It fixed 2 of my issues. Facebook Login & Thumbnail issue.

But i still have 2 issues.

1) Unable to ship to Netherlands

I did configure my app & website according to Netherlands but when is try to test order using stripe they shows we are not shipping to Netherlands?

Screenshot is attached. It displayed text in dutch that we are not ship to Netherlands.

[2018-11-15 20:04] namtrik opened #16 "ListApp 1.5.3 run simulator error."
- Product: ListApp
 - My Purchased Code: ccded53c-5f90-41ff-8c6a-fac4faae1017

Hello, after running "expo start" and wanting to run in the android simulator this error appears.

<img width="992" alt="captura de pantalla 2018-11-15 a la s 2 56 24 p m" src="https://user-images.githubusercontent.com/44480034/48578484-bcf40c00-e8e7-11e8-8c86-de31d37c833f.png">

Thanks

[2018-11-15 20:44] absmugz commented on #3
Yet another error....ListApp 1.5.3/Source/node_modules/expo/build/effects/BlurView.ios.js: Cannot read property 'filename' of undefined

[2018-11-15 20:47] absmugz opened #17 "BlurView.ios.js: Cannot read property 'filename' of undefined"
![screenshot 2018-11-15 at 22 30 46](https://user-images.githubusercontent.com/2528692/48580620-60651100-e928-11e8-834f-586475a52a9a.png)
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise descrip

[2018-11-16 00:45] minhcasi opened #18 "Test Bug"
**Required Info (please complete the following information):**
 - Product:
 - Your Purchased Code:
Get from https://codecanyon.net/downloads, we may not reply if you are not our customer.

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other detail logs about the

[2018-11-16 00:47] #18 closed

[2018-11-16 00:57] minhcasi commented on #12
Hi, it's using the feature product image, you can map the Horizontal item to any category or tag ID to display these products - thank you!

[2018-11-16 00:57] #12 closed

[2018-11-16 01:30] minhcasi commented on #17
Can you try this solution:
- Remove the node_module and Run script: yarn cache clean && yarn install
- Remove the Expo client app on the simulator & run script: expo start

Please explain more detail the ticket on next time instead of show the image that help we understand more on your issue

Thanks

[2018-11-16 01:30] #17 closed

[2018-11-16 04:29] samber91 commented on #12
Can show me remotely please ? I can’t not do it . I tried but i don’t see
what we are talking about. Only 5 mins . Please . I’m launching the app
monday

On Thu, Nov 15, 2018 at 7:57 PM minhcasi <notifications@github.com> wrote:

[2018-11-16 07:03] minhcasi commented on #15
noted for checking - thank you!

[2018-11-16 14:05] ZamsiteZambia opened #19 "Problems with ListApp 1.5.2"
ListApp
d9ed43ef-7eb4-42be-b1ee-713b1c84b9f6

I tried to run ListApp1.5.2 on PC using yarn, CLI and js node but am having a 'npm install' issue whenever I try 'expo start'. However it keeps on showing dependency issues.

![yarn install error](https://user-images.githubusercontent.com/45100245/48625958-4cb5bb00-e9b9-11e8-9b15-c8bbf2ed864c.png)
![yarn install error 2](https://user-images.githubuserc

[2018-11-16 14:17] ZamsiteZambia commented on #9
Parsival0,

Have you tried the commands from the 'source' directory?

[2018-11-16 14:45] Parsival0 commented on #9
Hi.
Yes, I`have tried, but have the same issue.  ![Issues](/images/logo.png)
Format: ![Screen](https://ru.files.fm/u/d3477bzz)
-------------------------------------------------------------------

[2018-11-16 14:47] Parsival0 commented on #9
Here are yarn logs:

Arguments:
  C:\Program Files\nodejs\node.exe C:\Program Files\Yarn\bin\yarn.js init

PATH:
  C:\Python27\;C:\Python27\Scripts;C:\ProgramData\Boxstarter;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\ProgramData\chocolatey\bin;C:\Program Files\Yarn\bin\;C:\Program Files\nodejs\;C:\Users\Dragornborn\AppData\Local\Yarn\bin;

[2018-11-16 14:53] Parsival0 commented on #9
My logs. @luyx2412 and InsipreUi team, please help me to solve this problem.
[yarn-error.log](https://github.com/inspireui/support/files/2589695/yarn-error.log)

[2018-11-16 18:38] anosmx commented on #10
Hi,

Thanks for replying, but I don't know how to perform these steps.
1. I should go to this directory `cd node_modules/react-native/third-party/glog-0.3.4` and then what?
2. What is the terminal command to run this file? I've tried `run ../../scripts/ios-configure-glog.sh` but it didn't work!!

Thanks!

[2018-11-17 02:34] reconshield opened #20 "Booking Need Help"
Product : Listapp
Purchase code: 23ee6c94-1eb8-4ffd-842f-7600d97f41d0

i cant seee package name /price in booking page. some of my listing cant do booking..its there any video/tutorial how to configure booking from wp backend?

[2018-11-17 13:41] anosmx opened #21 "Build Failed 3.6.3"
Hi anosmx, Please follow the step to fix the issue related XCode 10.

1. In your project `cd node_modules/react-native/third-party/glog-0.3.4`
2. Run script `../../scripts/ios-configure-glog.sh`

Thanks

_Originally posted by @luyx2412 in https://github.com/inspireui/support/issues/10#issuecomment-438891588_

[2018-11-17 13:43] anosmx commented on #21
Hi,

Regarding my previous issue, I don't know how to perform these steps.

1. I should go to this directory cd node_modules/react-native/third-party/glog-0.3.4 and then what?
2. What is the terminal command to run this file? I've tried run ../../scripts/ios-configure-glog.sh but it didn't work!!

Thanks!

[2018-11-17 13:53] hammadhassan opened #22 "CFBundleIdentifier", Does Not Exist""
- Product: [MStore]
 - Purchase Code: f20afe4a-778e-4089-bcb2-7ec1bb4ed49b
Unable to run app on MAC.

Following error keep coming after i set schema using docs.mstore.io troubleshooting page.
**Error**
[`Failed to install the requested application
The bundle identifier of the application could not be determined.
Ensure that the application's Info.plist contains a value for CFBundleIdentifier.
Prin

[2018-11-17 13:56] anosmx commented on #22
Hi,

Here is how to fix it. [Link](https://docs.mstore.io/faq-and-troubleshooting#fix-cfbundleidentifier-does-not-exist)

[2018-11-18 04:19] #22 closed

[2018-11-18 04:20] luyx2412 commented on #21
Hi can you take me the screenshot?

[2018-11-18 04:25] luyx2412 commented on #14
Hi @YazanArafat Let me check and reply u soon. Thanks for your waiting.

[2018-11-18 04:26] luyx2412 commented on #8
Hi @hammadhassan Let me check and reply you soon. Thanks for your waiting.

[2018-11-18 06:58] hammadhassan commented on #22
I did use steps showing in the page. But i still got same error every time.

Could you please give any other solution?

[2018-11-18 11:48] absmugz opened #23 "[ListApp] - update compatible header for Android device"
**Required Info (please complete the following information):**
 - Product:
 - Your Purchased Code:
Get from https://codecanyon.net/downloads, we may not reply if you are not our customer.

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other detail logs about the

[2018-11-18 13:38] alaradi2006 opened #24 "i dont know how to start"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)
a9c6782d-8c5d-4811-8c4a-2ccc9d6be005
**Describe the issues**
A clear and concise description of what the bug is.
i download xde expo plus all software
i dont know how to get things start

[2018-11-19 01:19] reconshield commented on #24
i think you should refer to documentation.dont skip any installation steps

[2018-11-19 01:35] minhcasi commented on #23
Did you update the expo-cli to latest version and also the Expo client from simulator ?

Try this script:
npm install expo-cli -g

And remove the Expo Client from Expo, Delete node_modules folder and reinstall again

Let us know your checking, thanks!

[2018-11-19 02:33] thangvo9x commented on #20
Hi reconshield, Please send the image for more clearly.

[2018-11-19 02:36] reconshield commented on #20
i cant see package name and most of my listing not allowed to do booking..need assistant

![simulator screen shot - iphone x - 2018-11-19 at 10 34 09](https://user-images.githubusercontent.com/25501496/48683153-b36bec00-ebe6-11e8-9df0-16d116605d24.png)
![simulator screen shot - iphone x - 2018-11-19 at 10 34 56](https://user-images.githubusercontent.com/25501496/48683171-c383cb80-ebe6-11e8-8ef6-b0

[2018-11-19 02:51] minhcasi commented on #21
Hi, could you try to unzip and override this folder https://www.dropbox.com/s/ghlmwttzbf4mkkg/third-party.zip?dl=0  to this path node_modules/react-native/

This cause by your third-party cache from react native

Thanks

[2018-11-19 02:52] luyx2412 commented on #14
Hi @YazanArafat
1. Now this version **MStore Multi Vendor** do not support Setting in sidemenu which only apply with pro version.
2. With the note in line 29 --> For example: `name: "featureProducts"` you will see this field `featureProducts` in Language.js file and change value to apply show on your app. this is a field name to support multi language.
3. If you want to change language or RTL. Ple

[2018-11-19 02:52] #14 closed

[2018-11-19 02:56] thangvo9x commented on #20
Hi. I checked your site. This issue is appeared because your site isn't config correctly.
I push field "products" on your site. That price is only appear when your listing was connected to product same it.
see this image on your site.
<img width="375" alt="image" src="https://user-images.githubusercontent.com/23457178/48683778-4e61c780-ebe1-11e8-88e5-ff7e5030126f.png">

Thanks .

[2018-11-19 02:57] thangvo9x commented on #19
Hi . Follow above image, I recognized, your pc seem, yarn isn't installed correctly.
Please try install yarn again with the message " successfully" and try it again.
Thanks for your choice from our product. Goodluck !

[2018-11-19 02:58] reconshield commented on #20
"That price is only appear when your listing was connected to product same
it."

where i can assign price for listing?

On Mon, Nov 19, 2018 at 10:56 AM thangvo9x <notifications@github.com> wrote:

--

  If you have any enquiries, please do not hesitate to contact us. Thank
You!

   Best Regards,

Customer Service, Reconshield Network

Website: reconshield.com <https://www.reconshield.com>  |  Hel

[2018-11-19 03:00] thangvo9x commented on #16
Hi . You run it on the android simulator ? remove node_modules folder and run yarn again. seem your app is missing some libraries -> this error is appeared .

[2018-11-19 03:05] minhcasi commented on #8
@hammadhassan do you have any idea why copy our branding website Logo, it's clearly that illegal

https://gyazo.com/7dd1e1800b5962a810fb9785a9491656

[2018-11-19 03:05] #8 closed

[2018-11-19 05:50] hammadhassan commented on #8
okay. I will remove it. Website is in testing mode. you don't have to worry. I will remove it & give screen shot to you.

Could you please help me to fix Country & stripe payment page layout issue.

[2018-11-19 07:29] reconshield commented on #24
yes..using mac or win? send me ur skype

[2018-11-19 11:05] kiamoz opened #25 "console log issue"
Dear support , in mstore pro ver

![screen shot 2018-11-19 at 2 32 23 pm](https://user-images.githubusercontent.com/10494372/48703226-5123e300-ec08-11e8-95be-d1133cc76c87.png)
![screen shot 2018-11-19 at 2 32 35 pm](https://user-images.githubusercontent.com/10494372/48703228-51bc7980-ec08-11e8-97cb-dc7337382f77.png)

nothing chnage to see log in chorome !

[2018-11-19 19:36] anosmx commented on #21
Hi,

Still did not work!! Here is a screen shot. [Pic](https://discuss.spotui.com/uploads/default/original/1X/4ccca29b08c426921aaac0d9383464d9963bfde4.jpeg)

[2018-11-20 01:58] minhcasi commented on #24
@alaradi2006 could you take the whole screenshot please

[2018-11-20 02:02] minhcasi commented on #16
@namtrik please try to reinstall the git and set the PATH on window, this something related to yarn issue could not download the git URL
https://github.com/yarnpkg/yarn/issues/3102
https://github.com/yarnpkg/yarn/issues/2083

[2018-11-20 02:36] luyx2412 commented on #21
Hi this solution applied with me. So please follow this article https://github.com/facebook/react-native/issues/19529#issuecomment-428838520 to fix the issue. Thanks

[2018-11-20 02:36] #21 closed

[2018-11-20 03:56] luyx2412 commented on #25
Hi @kiamoz Please check in Constants.js file change field `useReactotron: true` to open Reactotron.
 Thanks

[2018-11-20 04:47] kiamoz commented on #25
Dear support I just want to disable useReactotron , I just use console.log az normally

[2018-11-20 04:52] kiamoz commented on #25
and after set false the useReactotron I got this  error
<img width="656" alt="screen shot 2018-11-20 at 8 21 52 am" src="https://user-images.githubusercontent.com/10494372/48752220-6139d200-ec9d-11e8-8130-5b6df79312da.png">

[2018-11-20 06:01] ZamsiteZambia commented on #19
Hi thangvo9x

I have installed yarn with 'success', but when the project opens in Expo CLI, I get a error from 'BlurView'...
![blurview error](https://user-images.githubusercontent.com/45100245/48754478-6fd2ba00-ec9a-11e8-8159-23bde66ef720.png)

Regards

[2018-11-20 06:14] hammadhassan opened #26 "[Mstore] Installation & Build Issue on Mac [mstore pro version 3.6.3]"
**Mandatory Info (please complete the following information):**
**Product: [MStore]
Purchase Code: f20afe4a-778e-4089-bcb2-7ec1bb4ed49b**

**Describe the issues**
**Unable to run app on MAC.**

**Additional context**
I did used the solution give in following link.
https://docs.mstore.io/faq-and-troubleshooting#fix-cfbundleidentifier-does-not-exist

mstore build is still failed but when is used 2nd

[2018-11-20 07:01] luyx2412 commented on #25
Hi @kiamoz Please uninstall app on your simulator device and install again. I just test which working normal. And please follow the document https://facebook.github.io/react-native/docs/debugging#chrome-developer-tools. If debugger-ui do not open. Open manual with url http://localhost:8081/debugger-ui/ .Thanks

[2018-11-20 07:01] #25 closed

[2018-11-20 07:03] luyx2412 commented on #26
HI @hammadhassan Can you send me the screenshot about the issue. Because we tested and working normal. Thanks

[2018-11-20 07:06] luyx2412 commented on #4
HI @arshaukat i updated new version Evastore, please download new version to fix some issues. With your video i fixed some problem. But if you want to customize specific anything. Please create new issue to easier handle and resolve. Thanks

[2018-11-20 07:16] kiamoz commented on #25
nothing changed ! I clear all content and setting in simulator , it's still connect to Reacttotron !
see the screen shot
![screen shot 2018-11-20 at 10 43 49 am](https://user-images.githubusercontent.com/10494372/48757249-57ba6500-ecb1-11e8-9197-923e4584a1e8.png)

[2018-11-20 07:39] kiamoz commented on #25
yes thank you
256 077 121
5248

[2018-11-20 09:07] hammadhassan commented on #26
Here are the screen shots.

Build Error
![build 2](https://user-images.githubusercontent.com/5791268/48762775-952ceb80-eccd-11e8-9123-004c3a4036d4.jpg)

Terminal error
![error](https://user-images.githubusercontent.com/5791268/48762793-9f4eea00-eccd-11e8-9b95-fab826462c83.jpg)

[2018-11-20 09:10] luyx2412 commented on #26
HI @hammadhassan Please alway using XCode to build your app which help resolving the  issue `CFBundleIdentifier `. And i saw your XCode appear issue about Admob, Please check again make sure install and link the library. Thanks

[2018-11-20 09:31] luyx2412 commented on #26
Yes, please change scheme and build mstore.

[2018-11-20 09:34] luyx2412 commented on #4
Hi now we do not support one signal. If you want to use one signal, please eject with expokit https://docs.expo.io/versions/latest/expokit/expokit#before-you-read-this-guide. After that install react-native-onesignal. Thanks

[2018-11-20 09:45] arshaukat commented on #4
But you have notifications section in profile part? What is that for?

On Tue, 20 Nov 2018 at 09:34, luyx2412 <notifications@github.com> wrote:

--
Abdulrehman Shaukat

Notice and Disclaimer:

This communication is only for the use of the addressee. It may contain
information which is confidential and exempt from disclosure. If you are
not the intended recipient you must not read, copy, distribute

[2018-11-20 09:47] luyx2412 commented on #4
Hi This is planned update with next version notification, and with new version we removed this section. Now you can using the notification with Shopify app.

[2018-11-20 10:15] arshaukat commented on #4
How we can use with shopify app?

On Tue, 20 Nov 2018 at 09:47, luyx2412 <notifications@github.com> wrote:

--
Abdulrehman Shaukat

Notice and Disclaimer:

This communication is only for the use of the addressee. It may contain
information which is confidential and exempt from disclosure. If you are
not the intended recipient you must not read, copy, distribute or
disseminate this communication or

[2018-11-20 10:17] luyx2412 commented on #4
https://itunes.apple.com/us/app/shopify/id371294472?mt=8 This is app look like manage admin.

[2018-11-20 10:50] arshaukat commented on #4
I have this already. But how can we use this to send push notification on
your app?

On Tue, 20 Nov 2018 at 10:17, luyx2412 <notifications@github.com> wrote:

--
Abdulrehman Shaukat

Notice and Disclaimer:

This communication is only for the use of the addressee. It may contain
information which is confidential and exempt from disclosure. If you are
not the intended recipient you must not read, co

[2018-11-20 11:41] minhcasi commented on #9
Hi @Pars1vaLl we have just found out this cause by the yarn issue on window OS which could not download the git URL, please try to reinstall the git and set the PATH environment then it will be fixed, please have a look to this issues:

https://github.com/yarnpkg/yarn/issues/3102
https://github.com/zeit/now-cli/issues/1661

Please reopen if you still could not fix the issue - thank you!

[2018-11-20 11:41] #9 closed

[2018-11-20 11:42] minhcasi commented on #16
Please reopen if you still could not fix the issue - thank you!

[2018-11-20 11:42] #16 closed

[2018-11-20 11:43] minhcasi commented on #19
Hi @ZamsiteZambia please try to select LAN to see if can be fixed, and make sure you have already run the Android Simulator before click to run the Android emulator

Please reopen if you still could not fix the issue - thank you!

[2018-11-20 11:43] #19 closed

[2018-11-20 11:44] minhcasi commented on #23
Please reopen if you still could not fix the issue - thank you!

[2018-11-20 11:44] minhcasi commented on #24
Please reopen if you still could not fix the issue - thank you!

[2018-11-20 11:44] #24 closed

[2018-11-20 13:01] alaradi2006 commented on #24
yes stilll have the problem will send you screenshot

________________________________
From: minhcasi <notifications@github.com>
Sent: Tuesday, November 20, 2018 2:44 PM
To: inspireui/support
Cc: alaradi2006; Mention
Subject: Re: [inspireui/support] i dont know how to start (#24)

Please reopen if you still could not fix the issue - thank you!

—
You are receiving this because you were mentioned.

[2018-11-20 13:31] hammadhassan commented on #26
I have changes schema but still build is failed.

![image](https://user-images.githubusercontent.com/5791268/48776723-65440f00-ecf2-11e8-8ea8-29efa78d7d0b.png)

[2018-11-20 13:33] alaradi2006 commented on #24
![1](https://user-images.githubusercontent.com/45144621/48776854-01b1e580-ece2-11e8-939c-6d47aaf99df7.jpg)

[2018-11-20 13:33] alaradi2006 commented on #24
i just opened expo then opened mstore folder

[2018-11-20 13:39] hammadhassan commented on #26
Got following error again & again.

![image](https://user-images.githubusercontent.com/5791268/48777145-a12ba400-ecf3-11e8-89a3-bc086ecf1bb1.png)

[2018-11-20 14:42] absmugz commented on #23
Can you please push all content down by about 20pixels for new devices or more maybe 30 pixels? just tested the new ListPro – really cool only feature lacking is support for new devices…this is also an issue on ListPro
![87645_1-1](https://user-images.githubusercontent.com/2528692/48780697-2eb2c800-ece3-11e8-990a-c8ecdac0e90a.jpg)
![87645_1-2](https://user-images.githubusercontent.com/2528692/4878

[2018-11-20 21:06] alaradi2006 opened #27 "follow up how to the steps not clear"
first expo init
then project name
then
template blank

_Originally posted by @alaradi2006 in https://github.com/inspireui/support/issues/24#issuecomment-439731711_

[2018-11-20 21:06] alaradi2006 commented on #27
![1](https://user-images.githubusercontent.com/45144621/48802818-5a54a300-ed21-11e8-9380-dc703c85e307.jpg)

[2018-11-21 01:35] minhcasi commented on #11
Hi syslab, we have got your comment and it's ok without the purchase code.

Please following this step to run the script:
1- Open the source folder (where content the package.json), and run the script:
yarn install
yarn start --reset-cache
react-native link

2. Open the Android simulator, then run this script:
react-native run-android

Let us know the checking and share the who screenshot if you s

[2018-11-21 01:39] minhcasi commented on #27
Hi, as the Expo new version suggest to use the Expo cli and not support for Expo XDE, please help to use following script:
npm install expo -g

From the source folder, run:
yarn install
expo start

Then it will open the simulator to run similar with the current Expo XDE, let us know your checking - thank you!

[2018-11-21 03:34] minhcasi commented on #23
Noted for improving on next milestone = 3.6.4

[2018-11-21 06:56] reconshield commented on #20
have to create new field? can i have screenshot for setup?

[2018-11-21 07:05] reconshield commented on #20
ok..thanks//got it

[2018-11-21 07:06] #20 closed

[2018-11-21 09:30] team2s commented on #11
Hello,
You take a lot of time to answer!
After the execution of the first command as you specified I have the error :

<img width="564" alt="capture d ecran 2018-11-21 a 10 26 41" src="https://user-images.githubusercontent.com/45049770/48831970-599b2b80-ed78-11e8-880d-b2a85050366c.png">

[2018-11-21 18:56] alaradi2006 commented on #27
can you send me video as how i will run the  script
i will but the codes in cmd command for windows 10
yarn install
expo start

[2018-11-21 21:31] Pars1vaLl opened #28 "[ListApp] - Installation issue (2)"
**Mandatory Info (please complete the following information):**
 - Product: ListApp
 - Your Purchased Code: 85059e37-2ddd-478d-899b-6db006280782

**Describe the issues**
https://github.com/inspireui/support/issues/9 - my first issue. Git reinstall and setting PATH environment didn`t help... Here is screens of what it says now.

**Screenshots**
[screenshot_2](https://user-images.githubusercontent.c

[2018-11-22 00:45] agriffyn opened #29 "Set Up"
**Mandatory Info (please complete the following information):**
 - Product: [MStore Multi Vendor IOS]
 - Your Purchased Code: [446143c0-53ec-41bd-a1c9-29f30bcbe3fd]
(we may not reply if you are not our customer)

**Describe the issues**
I am having an issue setting up the app, I understand the wordpress etc but the first part about nodejs, yarn etc I do not understand. So I have xcode with its sim

[2018-11-22 02:19] minhcasi commented on #11
Hi, could we help to remote your pc via teamviewer today if don't mine ? @luyx2412

[2018-11-22 02:19] #11 closed

[2018-11-22 04:14] alaradi2006 commented on #27
its installed in my pc

________________________________
From: thangvo9x <notifications@github.com>
Sent: Thursday, November 22, 2018 5:28 AM
To: inspireui/support
Cc: alaradi2006; Mention
Subject: Re: [inspireui/support] follow up how to the steps not clear (#27)

Hi. You must have install Git from https://git-scm.com/
and install Java & SET ENVIRONMENT PATH to run
Thanks

—
You are receiving thi

[2018-11-22 04:19] thuongqbd opened #30 "MStore expo build failed 3.6.3 (Cannot read property 'bindings' of null)"
**Required Info (please complete the following information):**
 - Product: MStore expo version
 - Your Purchased Code: 8c968f48-4055-46b9-8c1e-c2b33115826f

**Describe the bug**
Cannot read property 'bindings' of null

**Screenshots**
On Iphone 6s
![ios](https://user-images.githubusercontent.com/8328413/48881411-e9f47180-ee47-11e8-8ed8-fac517507bd1.jpg)
On Android
![android](https://user-images.gi

[2018-11-22 04:35] thangvo9x commented on #29
Hi.  First, You must install nodejs, https://nodejs.org/en/
then install yarn (https://yarnpkg.com/en/docs/install#mac-stable)
install expo-cli with run this cmd " yarn global add expo-cli"
open your project and run "yarn install"  then "expo start"

[2018-11-22 05:39] reconshield opened #31 "[ListApp] - Booking Function"
ListApp - Listing Directory mobile app by React Native
Purchase code: 23ee6c94-1eb8-4ffd-842f-7600d97f41d0

i have notice Listapp 1.5 release with add booking via app.but i cant see link for it? only booking
new updates not add documentation about this.please advice

[2018-11-22 06:12] hammadhassan commented on #26
Got following error again & again.

![Uploading image.png…]()

[2018-11-22 07:42] hammadhassan opened #32 "Unable to ship to desire Country"
Product: [MStore]
Purchase Code: f20afe4a-778e-4089-bcb2-7ec1bb4ed49b

I did configure my app & website according to Netherlands but when is try to test order using stripe they shows we are not shipping to Netherlands?

Screenshot is attached. It displayed text in dutch that we are not ship to Netherlands.

I can i fix this issue. please help.

![image](https://user-images.githubusercontent.com/57

[2018-11-22 08:11] team2s commented on #11
Can you fix the problem here?

[2018-11-22 08:41] alaradi2006 commented on #27
i have already both in my pc

[2018-11-22 08:50] thangvo9x commented on #27
Hi, Send an email to thang@beostore.io for helping.

[2018-11-22 08:51] alaradi2006 commented on #27
ok

[2018-11-22 10:11] EffectiveOG commented on #17
same issue for me (i bought via envato yesterday my account effectiveog ) , https://www.useloom.com/share/06224e6612b843d6b2b793d43db959a0

[2018-11-22 11:47] SalamMohammed opened #33 "[Mstore] Mstore home page blank"
Hello
I installed Mstore pro using expo. everything works fine by following the instruction that you posted. but there is a problem in the home page for the of the app.
the picture does't show at all only in the home page. I made sure of the Better feature image installed. I update enable: false and then true but still the same.
it shows the category id is 21 or 18 so what is the connection betwee

[2018-11-22 15:05] minhcasi commented on #30
Looks like the issue with babel, could you try this script https://gyazo.com/0c021edf17f011ad99ae79017ef25e3e to see if the .babelrc file is exist on the folder ?

[2018-11-22 15:07] minhcasi commented on #33
Could you share your config.js file so that we could help for checking

[2018-11-22 18:01] cirorispoli opened #34 "ListApp 1.5.3 Cannot read property 'filename' of undefined"
**Required Info (please complete the following information):**
 - Product: ListApp 1.5.3
 - Your Purchased Code: 506986c3-23fb-473a-87c8-90f9f5eaa77e
Get from https://codecanyon.net/downloads, we may not reply if you are not our customer.

**Describe the bug**
Hi, I downloaded the file and I have performed the following step:
1) execute yarn to install dependencies
2) execute expo start to start t

[2018-11-23 00:48] reconshield commented on #31
thangvo9x any update on this?

[2018-11-23 01:29] thuongqbd commented on #30
I use Windows and the .babelrc file is exist.
![screenshot_2](https://user-images.githubusercontent.com/8328413/48925734-b540f280-eef9-11e8-98cb-ee5f5990c362.png)

[2018-11-23 03:01] thangvo9x commented on #34
Hi. First, Thanks for your choice to us.
Try remove node_modules folder, and run yarn again .
Thanks

[2018-11-23 03:47] #27 closed

[2018-11-23 03:48] minhcasi commented on #28
@thangvo9x could you zip the node_modules and share to see if it can help, looks like it is an issue with the git download - thanks

[2018-11-23 03:50] minhcasi commented on #31
The Add booking will appear when you log in as the Vendor account, go the the Profile page to click to the Edit floating button, we may consider to improve to show it at the tab navigation for easier looking - thanks

[2018-11-23 03:57] thangvo9x commented on #28
@Pars1vaLl You can download node_modules folder here then put into your project.
https://we.tl/b-vd29aHzfHj
Thanks

[2018-11-23 04:05] Pars1vaLl commented on #28
Ok.I will try and respond soon.Thanks:)

[2018-11-23 06:12] thuongqbd commented on #30
Hi, still did not work.

[2018-11-23 06:18] hammadhassan commented on #32
Okay. I will check & let you know.

[2018-11-23 08:22] kiamoz opened #35 "[MStore] - issue one exporting andorid"
MStroe 3.4 last ver
![screen shot 2018-11-23 at 11 50 07 am](https://user-images.githubusercontent.com/10494372/48933666-66ee1c80-ef16-11e8-996d-95b9682291ff.png)

[2018-11-23 09:36] cirorispoli commented on #34
Hi, i try but nothing.
When i use yarn i see this warning:

<img width="620" alt="schermata 2018-11-23 alle 10 34 11" src="https://user-images.githubusercontent.com/24633097/48936561-90ee1180-ef0b-11e8-9316-d571d2f4ddae.png">

[2018-11-23 12:14] SalamMohammed commented on #33
Do you want me to send it here ?

[2018-11-23 12:18] SalamMohammed commented on #33
/** @format */

import Images from "./Images";
import Constants from "./Constants";
import Icons from "./Icons";

export default {
  /**
     Step 1: change to your website URL and the wooCommerce API consumeKey
     */
  WooCommerce: {
    url: "http://first-lady.store",
    consumerKey: "ck_874001271a2ce6c1f00ddd0f3c830e7bf092638d",
    consumerSecret: "cs_b8a18dbdafe588c0860cb103ea070f840ab40c7

[2018-11-23 14:51] thunderclap1030 opened #36 "[BeoNews] Can not install app into device"
**Mandatory Info**
 - Product: beonews
 - My Purchased Code: 0c1af8d4-fed0-4095-89b1-f257ad0e1edd

**Describe the issues**

Can not install app into android device. When i type bellow command in root folder beonews-pro

It will show error :

Make sure you have an Android emulator running or a device connected and have
set up your Android development environment:

 I use gennymotion simulator and w

[2018-11-23 20:08] Pars1vaLl commented on #28
@minhcasi @thangvo9x  Hi guys.
I unziped Node_modules. Now npm error dissapeared,but I still can`t run Android simulator with Genymotion. I am attaching screenshots, so hope you will answer as soon as possible.

[android adb](https://user-images.githubusercontent.com/45024483/48959118-32fe1000-ef85-11e8-99b3-681e31058f9d.png)  - That how Expo Cli reacts to "Android Simulator Start"
[Cmd](https://u

[2018-11-24 06:29] minhcasi commented on #33
Hi, we are checking the issue and will get back soon - thank you

[2018-11-24 06:45] luyx2412 commented on #30
HI @thuongqbd Can you try the comment to fix this issue https://stackoverflow.com/a/52926369/6622971. Your issue is babel do not compile with new React native version.
Thanks

[2018-11-24 06:47] luyx2412 commented on #33
Hi @SalamMohammed Can you try clean your project https://gist.github.com/jarretmoses/c2e4786fd342b3444f3bc6beff32098d and uninstall your app on simulator. After that install again.
P/S: your issue is cache default config redux-persist.
Thanks

[2018-11-24 10:38] leotseng159 opened #37 "[EvaStore] - Error on Load shipping"
EvaStore - Shopify mobile store by React Native and GraphQL
 - 5b34e5b9-c0cf-4d52-9fae-1ff1168746f2

**Describe the bug**
When i trying to checkout the order its get error. TypeError: undefined is not an object (evaluating ‘shippingRates[0]’)

**Screenshots**
https://www.dropbox.com/s/9bky3wrx14rt7a2/IMG_2573.PNG?dl=0

Thank you!

[2018-11-24 11:03] minhcasi commented on #29
@agriffyn let us know if you still have the problem then reopen the ticket - thank you!

[2018-11-24 11:03] #29 closed

[2018-11-24 11:19] thunderclap1030 commented on #36
I provide some further proof of this error via bellow image attach :

<img width="1223" alt="screen shot 2018-11-24 at 6 16 40 pm" src="https://user-images.githubusercontent.com/11660702/48967573-39d46380-f015-11e8-98de-406af8319a1b.png">

[2018-11-24 11:34] minhcasi commented on #35
Could you try to use this build.grade - https://www.dropbox.com/s/v3d3xzjoemybc2i/build.gradle?dl=0

File: android/build.gradle

[2018-11-24 12:12] minhcasi opened #38 "[MStore Pro] FAQ - Common Issue with Solution"
...android/app/src/main/java/com/inspireui/mstore/MainApplication.java:55: error: constructor FBSDKPackage in class FBSDKPackage cannot be applied to given types;
            new FBSDKPackage(),
            ^
  required: CallbackManager
  found: no arguments
----------------------------

Root cause: When you run react-native link many time it could add more the Facebook config to the MainApplicati

[2018-11-24 12:16] minhcasi commented on #38
Fix "CFBundleIdentifier", Does Not Exist" ?
Root cause: missing React library or facebookSDK

Step 1: run: yarn setup (only for Mac OS, on window you should run yarn install)

Step 2: Open beostore.xcworkspace select Product/Schema/Edit Schema, then click + button to find React and add it to top of the list, make sure the Parallelize Build is uncheck and the React should be on top
<img width="802"

[2018-11-24 12:16] minhcasi commented on #38
node_modules/react-native/React/../third-party/glog-0.3.4/src/base/mutex.h:105:10: fatal error: 'config.h' file not found ?
Root cause: incomparable XCode 9.3 and latest React Native framework +0.45

Solution:

Go to Project > node_modules > react_native

Remove third-party folder

Add which is given in below link: https://github.com/inspireui/third-party​

Reference: https://github.com/facebook/r

[2018-11-24 12:17] minhcasi commented on #38
404 error page when processing the payment?
First solution:

First, we need to create a page and name it "mstore-checkout" and remember don't set any parent page for it, then set page template to"page custom template

You need to install the mstore-checkout plugin in the first place.

Below is the screenshot for how to set:
<img width="853" alt="assets 2f-lh63eujg5iaezihcz4d 2f-lh7kqxrhldihigqy0nw

[2018-11-24 14:39] pramji commented on #34
hello show same screen
![simulator screen shot - iphone xr - 2018-11-24 at 17 07 19](https://user-images.githubusercontent.com/5820554/48969456-cf6cf480-f00f-11e8-9758-6b3dc6a03176.png)

[2018-11-24 14:59] imdeepakkashyap opened #39 "[MStore MV] - I need installation Support"
Hello Guys i have purchased your application and as requested and agreed i need your assistance in setting up my project , i m someone with no exploser to react native as pre sale i have asked and you guys agreed to help me setting up react native and help me do the setup i m asking it frm you..

https://codecanyon.net/item/mstore-multi-vendor-complete-react-native-template-for-ecommerce/22278924

[2018-11-24 20:58] SalamMohammed commented on #33
Sorry I didn't answer you because I was so busy.
so you mean I enter this code in the CMD?
plus I bought two other of your apps ( eva store and mstore for shopify)
The mstore for shopify shows me error when I checked there were no config
file at all in it directory I delete the folder and re-download it again
the same issue.
and the eva store I entered all the details for my website but when I ope

[2018-11-25 00:02] thangvo9x commented on #34
hi. send email for your issue to email thang@beostore.io
Thanks.

[2018-11-25 01:22] saifmuhtar opened #40 "[MStore] - How to Update?"
Hi,
I just published an MStore app and noticed that there's an update for it.
Please let me know how to update the published app?

[2018-11-25 01:32] minhcasi commented on #34
@thangvo9x can you show your solution here to help another one - thanks

[2018-11-25 01:41] minhcasi commented on #28
Hi, could you try to create the folder from document or temp (the folder where have full access right), and try to run the Example project to see if can run as normal:
https://docs.expo.io/versions/v31.0.0/introduction/installation

I suspect you have an issue with the Android simulator config

Thank you!

[2018-11-25 02:57] minhcasi commented on #36
Hi, could you help to check this build.grade to see if can fix the issue - https://gist.github.com/minhcasi/755ae197e7068be289f5e8ea58e910b3

Thank you!

[2018-11-25 08:19] reconshield opened #41 "[ListApp] bugs on v1.5.3b"
bugs when click listing and post...

kindly provide vendor demo account which works to post listing via app. i have send user to vendor role but still can't post listing.booking got bugs too..but no reply from support team
![simulator screen shot - iphone x - 2018-11-25 at 16 17 39](https://user-images.githubusercontent.com/25501496/48977065-e6721c00-f0cd-11e8-933b-c148c53022cd.png)

[2018-11-25 16:33] winwinmedia opened #42 "[CeNews] The post cannot show in home page"
**Mandatory Info (please complete the following information):**
 - Product: CeNews - Multipurpose Wordpress React Native app
 - Your Purchased Code: [2f5e1fce-8b3b-4485-8382-894874ac2f2a]

**Describe the issues**
I've tried to install and set the settings, but it doesn’t work.I just need your help to check the settings in my WP site. I can upload app to app store by myslef.
my test site: https://d

[2018-11-26 03:31] luyx2412 commented on #37
Hi @leotseng159 Can you provide the Config.js file?
Thanks

[2018-11-26 03:33] luyx2412 commented on #40
Hi @saifmuhtar You can try this library https://github.com/redbooth/react-native-auto-updater to auto check update when run app. Thanks

[2018-11-26 03:35] #40 closed

[2018-11-26 03:52] saifmuhtar commented on #40
Thank you for you support.

[2018-11-26 06:58] thuongqbd commented on #30
Sorry, I am late.
After do that I get new error.

D:\ReactNative\test-mstore\mstore-expo-3.6.3\node_modules\react-native-maps\index.js: Cannot find module 'babel-preset-react-native' from 'D:\ReactNative\test-mstore\mstore-expo-3.6.3'
- If you want to resolve "react-native", use "module:react-native"

[2018-11-26 08:07] Ankit420 opened #43 "Mstore multivendor app"
Sir
Some problems have in my app.
1: product will show but image not showing
2: in chat box no options to return
3: product order automatically completed.
I means when user place new order. Then it will show your order was completed. Not showing processing.

[2018-11-26 08:08] minhcasi commented on #39
Hi, first - could you help to install your environment for the app, please make sure you can run the Example simulator base on this guide - https://docs.expo.io/versions/v31.0.0/introduction/installation - thank you!

[2018-11-26 10:12] luyx2412 commented on #30
Hi @thuongqbd please install the library `yarn add babel-preset-react-native`. Thanks

[2018-11-26 10:14] luyx2412 commented on #33
Hi @SalamMohammed Let me check your Config.js file with Mstore. Can you provide me the Config.js file Evastore and should be create another issue. Thanks

[2018-11-26 10:16] luyx2412 commented on #26
Hi @hammadhassan Can you provide me your Config.js file and your package.json file. Thanks

[2018-11-26 11:15] alexisttt commented on #36
Hello.
I have the same problem. I did try to install program in two different program and i got error. I did updated android/build.grade but i still have the same issue. In one computer i have a virual device from android studio. On the other an android device is connected. Waiting your help thanks

[2018-11-26 15:33] thuongqbd commented on #30
After add babel-preset-react-native , I get previous error
Cannot read property 'bindings' of null

[2018-11-26 17:11] leotseng159 commented on #37
Hello @luyx2412 !

Sure. Here is.
https://www.dropbox.com/s/vzu2bjrxmew3h4t/Config.js?dl=0

Thanks

[2018-11-26 17:14] leotseng159 opened #44 "[EvaStore] - Error on loading Wish List"
EvaStore - Shopify mobile store by React Native and GraphQL

5b34e5b9-c0cf-4d52-9fae-1ff1168746f2
Describe the bug

When i trying to load the wish list its get error. TypeError: undefined is not an object (evaluating ‘product.id’)

Screenshots
https://www.dropbox.com/s/a3op5wevc8vvkwq/IMG_2581.PNG?dl=0

Thank you!

[2018-11-26 17:24] leotseng159 opened #45 "[EvaStore] - Installing Issues & Solutions"
EvaStore - Shopify mobile store by React Native and GraphQL

5b34e5b9-c0cf-4d52-9fae-1ff1168746f2

Describe the bug

1. How to change the date language in the home page.

2. How to set the default language.

3. How to change category background image.

4. It's shows title and default title box in the product page. How to remove this?

Screenshots
1.
https://www.dropbox.com/s/6wsg9hyuca0qa5a/IMG_25

[2018-11-26 17:27] Jeison12 opened #46 "[ListApp] - How to debug the app?"
Product: ListApp
My Purchased Code: ccded53c-5f90-41ff-8c6a-fac4faae1017
How to debug the app?

[2018-11-26 18:11] smEunus commented on #30
the problem with the .babelrc file.
It looks like .babelrc file of **mstore-expo** is backdated.

[code]

replace your .babelrc file with above code and the package
**npm i metro-react-native-babel-preset --save-dev**

[2018-11-26 18:33] Pars1vaLl commented on #28
Hi, downloaded ListApp last update, created new folder and start it with admin permissions - and it works now! Looks like everything is fine.
Thanks;)

[2018-11-26 18:34] #28 closed

[2018-11-26 20:57] Pars1vaLl opened #47 "[ListApp] ListApp manager plugin issue"
**Required Info (please complete the following information):**
 - Product: ListApp
 - Your Purchased Code: 85059e37-2ddd-478d-899b-6db006280782

**Describe the bug**
ListApp plugin is not working. I cant install it with WP,so I did it manually,but it deactivated automaticly. It says "Plugin listapp-manager-master/listapp-manager.php was deactivated.Cant find plugins file"

**Screenshots**
If appli

[2018-11-27 02:19] thuongqbd commented on #30
thanks @smEunus, my problem resolved

[2018-11-27 02:20] minhcasi commented on #46
Please use this document - https://inspireui.github.io/listapp/docs/development#debug-the-app

[2018-11-27 02:20] #46 closed

[2018-11-27 02:54] luyx2412 commented on #44
Fixed with next version. Closed

[2018-11-27 02:54] #44 closed

[2018-11-27 03:01] luyx2412 commented on #37
Fixed with next version. Closed

[2018-11-27 03:29] thangvo9x commented on #47
Hi. Try remove & re-install the plugin again
let me know if it works. Thanks

[2018-11-27 03:30] thangvo9x commented on #41
Hi. Try update full info to that vendor. or give me an user with role admin for accessing to your website

[2018-11-27 03:31] thangvo9x commented on #31
Hi. I sent an email to you for requirement an user with role admin to check.
Thanks

[2018-11-27 03:31] reconshield commented on #41
My wp

Login url : indiansbiz.com/fox
Username: pugalbiz
Password: Moch1123

I cant see booking list in app too

On Tue, 27 Nov 2018 at 11:30 AM, thangvo9x <notifications@github.com> wrote:

--

  If you have any enquiries, please do not hesitate to contact us. Thank
You!

   Best Regards,

Customer Service, Reconshield Network

Website: reconshield.com <https://www.reconshield.com>  |  Helpdesk:

[2018-11-27 03:47] reconshield commented on #31
Email: sales@indiansbiz.com
Pass: Moch1123

On Tue, 27 Nov 2018 at 11:31 AM, thangvo9x <notifications@github.com> wrote:

--

  If you have any enquiries, please do not hesitate to contact us. Thank
You!

   Best Regards,

Customer Service, Reconshield Network

Website: reconshield.com <https://www.reconshield.com>  |  Helpdesk:
sales@reconshield.com
<https://www.facebook.com/reconshield> <https:/

[2018-11-27 04:05] minhcasi commented on #31
not a bug as you guys has changed the source that cause the issue - https://gyazo.com/53fb52fbf53c0e02d8faa62bda8b1684

[2018-11-27 04:05] #31 closed

[2018-11-27 04:06] minhcasi commented on #41
not a bug as you guys has changed the source that cause the issue - https://gyazo.com/53fb52fbf53c0e02d8faa62bda8b1684 Try to use the fresh our download package without modify - thanks

[2018-11-27 04:06] #41 closed

[2018-11-27 04:07] minhcasi commented on #41
Btw, my team help to fixed you modify one, it can booking now - check this https://gyazo.com/4d088e55f296c77f45ebc932f1abf938

[2018-11-27 04:08] reconshield commented on #31
This is because i cant login . Api load too slow..

On Tue, 27 Nov 2018 at 12:05 PM, minhcasi <notifications@github.com> wrote:

--

  If you have any enquiries, please do not hesitate to contact us. Thank
You!

   Best Regards,

Customer Service, Reconshield Network

Website: reconshield.com <https://www.reconshield.com>  |  Helpdesk:
sales@reconshield.com
<https://www.facebook.com/reconshield> <

[2018-11-27 04:10] Nippler opened #48 "[ListPro] WPML or Loco Translate compatible?"
Hi,
I'd like to know if your ListPro theme is compatible with WPML or Loco Translate or not.
Thank you,

[2018-11-27 04:15] reconshield commented on #41
So.. the booking works.. after user click booking.. choose date time.. then
payment.. and can post listing?

On Tue, 27 Nov 2018 at 12:08 PM, minhcasi <notifications@github.com> wrote:

--

  If you have any enquiries, please do not hesitate to contact us. Thank
You!

   Best Regards,

Customer Service, Reconshield Network

Website: reconshield.com <https://www.reconshield.com>  |  Helpdesk:
sales

[2018-11-27 04:52] Ankit420 commented on #43
How to find purchase code.

On Mon 26 Nov, 2018, 1:56 PM minhcasi, <notifications@github.com> wrote:

[2018-11-27 06:58] thangvo9x commented on #48
It could be integrate with WPML.
Thanks

[2018-11-27 11:01] thunderclap1030 commented on #36
@minhcasi I have fixed by move jcenter() located in end block.

....
jcenter() <---
}
and

...
repositories {
...
jcenter() <---
}
}

What's wrong ?

[2018-11-27 12:18] alexisttt opened #49 "[Beonews Pro] Could not install the app on the device, startup failed"
[Beonews Pro]
Purchased Code: [3f684ec6-0043-4a19-b150-764a9f735121]

Hi. I have been trying to setup Beonews Pro. I followed the guide and done everything according to it. After i do run command react-native run-android. I got an error. Screenshot of error is bellow. Waiting for your help thanks

**Screenshots**
![screenshot from 2018-11-26 14-10-51](https://user-images.githubusercontent.com/4535

[2018-11-27 14:31] OnlyDan opened #50 "[MStore] Android Issue " Can't get data from server ""
**Required Info (please complete the following information):**
 - Product: Mstore
]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
 - You told me to post Here

**Describe the bug**
Android Issue " Can't get data from server " but runs perfectly fine on iOS?
Ive installed all plugins, as you can read above, it runs fine on iOS but on android "Can't get data from server"

**Scre

[2018-11-27 15:30] minhcasi commented on #50
Hi, could you share the whole screenshot please, it looks like your Android simulator could not get the website URL, please make sure the setting is LAN, instead of location

[2018-11-27 15:36] OnlyDan commented on #50
@minhcasi

https://serving.photos.photobox.com/2840174251db324c8a1234982268fabdf5a659d10ca4a63fff7125a348c99f000d488857.jpg
-
setting where is LAN instead of location?

Thanks

[2018-11-27 16:41] alexisttt commented on #49
Yes. It is Ubuntu 16.04.5 LTS 64-bit

[2018-11-27 16:59] joaotcoimbra opened #51 "[ListApp] - crash"
Hello,

I've bouhgt the ListApp native template, but I'm facing some problems implementing it with my MyListing wordpress theme. I've managed to install everything according to your instructions and the app is working. However, when I enter in any listing or in the map section, the app crashes and restarts again. Do you know what this might be?

[2018-11-27 17:24] alaradi2006 opened #52 "registration not work as vendor"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.
i build the apk with expo
sign up process work well but signing up as customer or as vendor its the same will

[2018-11-27 17:25] alaradi2006 opened #53 "how to change home layout color"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.
theres 4 color but there sno description how to change the color for main menu
**Screenshots**
If applicable,

[2018-11-27 17:26] alaradi2006 opened #54 "how to setup firebase chat"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.
theres no guide for all this things
how i will setpu firebase for mstore app
**Screenshots**
If applicable, a

[2018-11-27 17:28] alaradi2006 opened #55 "how to connect the mobile categories to web categories"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)
a9c6782d-8c5d-4811-8c4a-2ccc9d6be005 mstore multivendor
**Describe the issues**
A clear and concise description of what the bug is.
how to connect mobile categories to web categories
**S

[2018-11-27 17:30] alaradi2006 opened #56 "i cant confirm order"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)
a9c6782d-8c5d-4811-8c4a-2ccc9d6be005 mstore multivendor
**Describe the issues**
A clear and concise description of what the bug is.
after adding prodcut to cart in last step to confirm o

[2018-11-27 17:32] alaradi2006 opened #57 "bug in chat"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)
a9c6782d-8c5d-4811-8c4a-2ccc9d6be005 mstore multivendor
**Describe the bug**
A clear and concise description of what the bug is.
if open i chat i cant go back to menu or to the app
i have

[2018-11-27 18:01] alaradi2006 opened #58 "i changed the currency but product currency not changed"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.
currency switcher not working
i change the currency switcher from usd to another currency but product price not c

[2018-11-27 18:21] #56 closed

[2018-11-28 00:42] minhcasi commented on #51
Hi, thank you for your feedback, could you provide some information for further investigation:
- Your purchased code of the Listapp product:
- Your testing OS, device:
- Upload the config.js which point to your website setting.
- If possible please provide more screenshot from the log of the terminal when the app is crashed

Please reopen the ticket when you provide enough above info.
Thank you!

[2018-11-28 00:42] #51 closed

[2018-11-28 00:55] minhcasi commented on #58
try to clean the simulator cache will fixed the issue - thanks

[2018-11-28 00:55] #58 closed

[2018-11-28 00:56] minhcasi commented on #57
Can you provide the screenshot of "as the back option in upper parts all disappear"

[2018-11-28 00:56] #57 closed

[2018-11-28 00:59] minhcasi commented on #54
you can refer to this document - https://docs.expo.io/versions/latest/guides/using-firebase#__next

[2018-11-28 00:59] #54 closed

[2018-11-28 01:00] minhcasi commented on #53
You can customize the common/color.js file - thanks

[2018-11-28 01:00] #53 closed

[2018-11-28 01:02] minhcasi commented on #52
The Vendor dashboard is not supported from the app at the current version

[2018-11-28 01:02] #52 closed

[2018-11-28 01:04] minhcasi commented on #55
Hi there, please note some info below:
- The categories are fetched automatically, but at the Homepage, you need to config the Horizontal config from the common/config.js file
- Please create 1 ticket for your all issues that help to team focus on your issues, instead of creating many tickets at the same time.
- Any "How to", "customization" questions may not get the response as it related to the

[2018-11-28 01:04] #55 closed

[2018-11-28 01:05] minhcasi commented on #43
Hi, you can get it from https://codecanyon.net/downloads

[2018-11-28 02:31] luyx2412 commented on #49
Hi @alexisttt Can you open Android studio to run your project which help fixing some issue import library. Thanks

[2018-11-28 03:57] Jeison12 opened #59 "[ListApp] app does not connect with reactotron"
Product: ListApp
My Purchased Code: ccded53c-5f90-41ff-8c6a-fac4faae1017

app does not connect with reactotron

![captura de pantalla de 2018-11-27 22-55-17](https://user-images.githubusercontent.com/26725495/49128052-ce4df880-f297-11e8-8f3e-9bde7307b87b.png)

[2018-11-28 06:15] alaradi2006 commented on #57
see
i cant go back to app
if i press my phone button app will close

________________________________
From: minhcasi <notifications@github.com>
Sent: Wednesday, November 28, 2018 3:56 AM
To: inspireui/support
Cc: alaradi2006; Author
Subject: Re: [inspireui/support] bug in chat (#57)

Can you provide the screenshot of "as the back option in upper parts all disappear"

—
You are receiving this becau

[2018-11-28 06:18] alaradi2006 commented on #54
they didint mention how to setup chat for expo platform
even in youtibe theres for android studio which is diffrent please give me good guide

________________________________
From: minhcasi <notifications@github.com>
Sent: Wednesday, November 28, 2018 3:59 AM
To: inspireui/support
Cc: alaradi2006; Author
Subject: Re: [inspireui/support] how to setup firebase chat (#54)

you can refer to this docu

[2018-11-28 06:20] alaradi2006 commented on #52
how its multivendor and nots supported they saulyee i can list product from the app

________________________________
From: minhcasi <notifications@github.com>
Sent: Wednesday, November 28, 2018 4:02 AM
To: inspireui/support
Cc: alaradi2006; Author
Subject: Re: [inspireui/support] registration not work as vendor (#52)

The Vendor dashboard is not supported from the app at the current version

—
Yo

[2018-11-28 06:55] reconshield opened #60 "Listapp Listing Post"
So Hows the post listing function is works? after booking..user received thanks message. then screen display just like that..no further action. how user can post listing? no icon or link.

 please guide on this issue.. there is not guidlines or tutorial about how user(vendor) access can post listing via app

[2018-11-28 07:55] OnlyDan commented on #50
@luxy2412
I can run a react-native project, the app runs I get no data from server.. why was the issue closed?

[2018-11-28 07:59] luyx2412 commented on #50
Hi @OnlyDan Please read the document to fix the issue, if the issue still exist. We will reopen again. Sorry about this problem
Thanks

[2018-11-28 08:16] OnlyDan commented on #50
@luxy2412
Please read what I wrote properly.
The app runs on react native fine, I have ran react native projects before. That’s not the issue.

The issue is I’m getting no data from server , it works fine with your mistore URL. but on multiple websites it doesn’t work. But my URL works on iOS, could you take a look into this? I’m connecting via https:// if this helps.

[2018-11-28 08:21] alexisttt commented on #49
Hi. I opened and ran the project in the Android Studio but nothing changed. I'm adding the screenshot bellow.
Thanks again.

![screenshot from 2018-11-28 11-16-58](https://user-images.githubusercontent.com/45356673/49138204-a5f9e480-f2ff-11e8-892b-da45afbdc6ed.png)

[2018-11-28 08:34] luyx2412 commented on #50
Hi @OnlyDan Can you provide me your Config.js file?.
Thanks

[2018-11-28 08:42] raulliubo opened #61 "[BeoNews] iOS App rejected from App Store"
Hello, I was able to build and upload my iOS App using your template. But the App got rejected. The violated guidelines are
Guideline 2.1 – Information Needed and
Guideline 4.2 – Design – Minimum Functionality.

In Guideline 2.1 there is one point: 4.3.0 – Are a duplicate of another app or are conspicuously similar to another app.

Is this because I’ve changed too little of the template code? How

[2018-11-28 08:43] OnlyDan commented on #50
@luyx2412 https://www.dropbox.com/s/8ikvdtnuy5pazb8/Config.js?dl=0

Thanks.

[2018-11-28 09:01] luyx2412 commented on #50
Hi @OnlyDan I checked your Config. I need investigate more about this problem. You can quickly fix based on my code.

Replace this code to `src/store/configureStore.js`
[code]

Thanks

[2018-11-28 09:05] OnlyDan commented on #50
@luyx2412 thanks, ill give this a shot and get back to you.

[2018-11-28 09:39] Pars1vaLl commented on #47
Hi!  I did it, but here what it says now:
"Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'pim_draw_notice_json_api' not found or invalid function name in "

[2018-11-28 09:46] thangvo9x commented on #47
You must have install plugin JSON-API before, here
https://github.com/inspireui/mstore/tree/master/plugins

[2018-11-28 09:47] thangvo9x commented on #59
You try switch to Development Mode ? such as in useReactotron : true in Constants.js
Thanks

[2018-11-28 09:51] Pars1vaLl commented on #47
Great! JSON-api was deactivated. Thank you:)

[2018-11-28 09:58] thangvo9x commented on #47
Solved !

[2018-11-28 09:58] #47 closed

[2018-11-28 10:11] OnlyDan commented on #50
@luyx2412 Same issue, the code above didnt fix.

[2018-11-28 10:34] thangvo9x commented on #60
In the end of bottom navigate tabs.
![screenshot](https://user-images.githubusercontent.com/23457178/49146041-d491b280-f333-11e8-868c-4347d011f6c2.png)

[2018-11-28 10:37] reconshield commented on #60
My listing and my booking .. this navigation just display total listing.. i
want to know how vendor can post listing?

On Wed, 28 Nov 2018 at 6:34 PM, thangvo9x <notifications@github.com> wrote:

--

  If you have any enquiries, please do not hesitate to contact us. Thank
You!

   Best Regards,

Customer Service, Reconshield Network

Website: reconshield.com <https://www.reconshield.com>  |  Helpd

[2018-11-28 10:43] minhcasi commented on #61
Hi the common problem is your app content, please make sure you update the data completely, image full resolution...

You can try to add my account to TestFlight for the review - minh@inspireui.com

Thank you!

[2018-11-28 10:46] minhcasi commented on #36
Great, thank you for sharing, as i know from the issue - the root cause it download the package from the build server, the google should be at the bottom

[2018-11-28 10:46] #36 closed

[2018-11-28 10:46] #35 closed

[2018-11-28 12:17] joaotcoimbra commented on #51
Hello,

Here it is:

Item Purchase Code: 35c2e9ce-9fc4-4a7a-aaff-32dbe01946b2

Testing OS (window or Mac), simulator device OS: Windows, simulator Android

Upload the config.js which point to your website setting:

/** @format */

import Constants from './Constants'
import Languages from './Languages'
import Images from './Images'
const { listing, map, news } = Constants.Components

const Config =

[2018-11-28 12:21] jscalabis opened #62 "[ListApp] #51 App Crash and Restarts"
Continuing from the original post #51:

Here it is:

Item Purchase Code: 35c2******************************946b2

Testing OS (window or Mac), simulator device OS: Windows, simulator Android

Upload the config.js which point to your website setting:

/** @format */

import Constants from './Constants'
import Languages from './Languages'
import Images from './Images'
const { listing, map, news } = C

[2018-11-28 13:31] Jeison12 commented on #59
useReactotron : true, debug: true, in the developer mode I choose the Debug JS Remotely option

When I start reactotron in the console it appears
![captura de pantalla de 2018-11-28 08-24-03](https://user-images.githubusercontent.com/26725495/49154906-a25a6380-f2e7-11e8-83df-e54e306eb6c9.png)

[2018-11-28 14:13] Jeison12 commented on #59
change the host and it worked

[2018-11-28 14:13] #59 closed

[2018-11-28 14:16] Jeison12 opened #63 "[ListApp] - Console.log messages are not displayed in Reactotron"
Product: ListApp
My Purchased Code: ccded53c-5f90-41ff-8c6a-fac4faae1017

Console.log messages are not displayed in Reactotron

[2018-11-28 14:59] Ankit420 commented on #43
27f93e11-25c1-4707-ab61-cc14075b0c78

On Wed, Nov 28, 2018 at 6:35 AM minhcasi <notifications@github.com> wrote:

[2018-11-28 17:18] raulliubo commented on #61
Hi thanks for the reply. I've added you to my TestFlight.
Any advice would be appreciated. Thanks!

[2018-11-28 17:42] leotseng159 commented on #37
Hello @luyx2412 !

Im getting another error..
I cant't choose the shipping method in the checkout page, he always assign the low's price shipping. When a select one more expensive he's back to the cheap automatic.

<img width="332" alt="captura de tela 2018-11-28 as 15 34 49" src="https://user-images.githubusercontent.com/23278604/49170834-26cad780-f324-11e8-92c2-c36b463e3c8a.png">

The 0 cost shi

[2018-11-29 00:59] reconshield opened #64 "[Listapp] . How vendor post listing?"
**ok..from your screenshot. i can see user panel tab clicked. and the last menu is push notification. which tab vendor have to click to post listing?**

![49146041-d491b280-f333-11e8-868c-4347d011f6c2](https://user-images.githubusercontent.com/25501496/49192197-fa12d080-f3b4-11e8-9102-90c1cd753466.png)

[2018-11-29 02:37] thangvo9x commented on #63
Hi. Thanks for your choice to our product.
It could be displayed with name DEBUG
<img width="265" alt="debug" src="https://user-images.githubusercontent.com/23457178/49195606-59271400-f3ba-11e8-8763-baa5c23bce51.png">

[2018-11-29 02:42] thangvo9x commented on #64
Hi. Thanks for your value feedback. We'll research & rearrange UX for this.
Thanks

[2018-11-29 02:42] #64 closed

[2018-11-29 07:53] hammadhassan commented on #26
New version 3.6.4 is fixed the issue.

Thanks

[2018-11-29 09:16] luyx2412 commented on #37
Hi @leotseng159 Can u share me the account app to check with your account. Thanks

[2018-11-29 09:22] luyx2412 commented on #49
Hi @alexisttt I think your problem look like https://stackoverflow.com/a/47236906/6622971 or https://github.com/invertase/react-native-firebase/issues/1107#issuecomment-391220255. It is wrong version which you need install in your OS. Thanks

[2018-11-29 09:23] #26 closed

[2018-11-29 09:44] luyx2412 commented on #33
Hi @SalamMohammed With Evastore https://github.com/inspireui/support/issues/45 this is some issues related.
And i checked your config, something was wrong with your category id. So please read document and add your category to see the products https://docs.mstore.io/basic-app-setting.
This is your right category id
<img width="320" alt="screen shot 2018-11-29 at 4 44 20 pm" src="https://user-image

[2018-11-29 09:44] #33 closed

[2018-11-29 10:12] minhcasi commented on #61
Hi, my quick review of your custom app has the following issue:
- low feature image resolutions
- some text is not formatted correctly and mistyping
- blank category image
- Try to add more Banner to the homepage as it looks empty

![img_0788](https://user-images.githubusercontent.com/1459805/49214714-cc03af80-f3f9-11e8-94ab-8ec9c4d29a9d.PNG)
![img_0790](https://user-images.githubusercontent.com/1

[2018-11-29 10:30] raulliubo commented on #61
Thanks for the tips! I'll work on that!

[2018-11-29 10:31] luyx2412 commented on #36
HI @thunderclap1030 Please follow the image add `google()` to fix the issue.
<img width="1197" alt="screen shot 2018-11-29 at 5 27 30 pm" src="https://user-images.githubusercontent.com/8909619/49215960-898fa200-f3fc-11e8-9420-886ed9e260aa.png">

Thanks

[2018-11-29 12:43] minhtruong315 commented on #42
Hi @winwinmedia
You can open this url on browser to see category ids.
https://demo2.winwinmedia.com.tw/wp-json/wp/v2/categories

Then you need to edit Config.js file to show news on Home screen
for example:
HomeLayout: [
    { categories: [39], layout: Constants.Layout.banner, limit: 5 },
  ],

You need to change 39 to your category id

[2018-11-29 13:01] alexisttt commented on #49
Hi firstly thanks for your help intentions. But those things you suggested didn't work. But i solved the problem.
I first deleted everything about beonews. Then purge and reinstall OpenJdk. Then extracted beonews from source again. Reinstall Node. With this steps i solved the problem. But then i got a new problem. [Exactly same problem of this. ](https://github.com/inspireui/support/issues/36) Aft

[2018-11-29 13:01] #49 closed

[2018-11-29 13:13] SalamMohammed commented on #33
I am so sorry I didn’t respond because i am not at home. When I get home I
will check it
Many thanks

On Thu, Nov 29, 2018 at 12:44 PM luyx2412 <notifications@github.com> wrote:

[2018-11-29 13:47] leotseng159 commented on #37
Hi @luyx2412

Sorry, what would it be the account app?
Its the shopify login?

Thanks

[2018-11-29 16:46] Jeison12 commented on #63
Reactotron did not show me the DEBUG before, now it shows them. Thank you

[2018-11-29 16:46] #63 closed

[2018-11-29 20:14] Pars1vaLl opened #65 "[ListApp] Crashing etc issues"
**Mandatory Info (please complete the following information):**
 - Product: ListApp
 - Your Purchased Code: 85059e37-2ddd-478d-899b-6db006280782

**Describe the issues**
I use Mylisting theme. There are couple issues I would like to troubleshoot:
 1. App crashes when I try to open any listing:
[App-crashes](https://user-images.githubusercontent.com/45024483/49248728-38070780-f43c-11e8-8c79-1033149

[2018-11-30 02:42] luyx2412 commented on #37
Yep @leotseng159 I need your shopify account when you logged in your app.
THanks

[2018-11-30 08:36] Nachbarsaft opened #66 "[ListApp] - Help with ListApp Can´t even start"
I´m really new to this and I try to follow your guide (https://inspireui.github.io/listapp/docs/quickstart) very closely. But I get this error, when I try to start a test project. What do I have to do? I´m stuck with Step one so far.

C:\Users\rschl>expo init
? Choose a project name: your-next-project
? Choose a template: expo-template-blank
[04:27:12] Extracting project files...
[04:27:13] Custom

[2018-11-30 10:41] OnlyDan commented on #50
Issue was due to host, moved to a new host and it was working okay, you can close this topic.

[2018-11-30 13:07] leotseng159 commented on #37
@luyx2412  App shopify account
Login. ttandtng@gmail.com
Password. tt123456

I sent to your email the shopify login.

Thanks

[2018-11-30 13:10] leotseng159 commented on #37
Hello,

I'm sending the shopify account for if you need.
https://pt.shopify.com/login

aq-shopping.myshopify.com
ti.aqshopping@gmail.com
aq2@18

thanks

Em sex, 30 de nov de 2018 às 00:42, luyx2412 <notifications@github.com>
escreveu:

[2018-11-30 14:41] tharicode opened #67 "[MStore] - build apk error"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
i run my mstore project on android studio perfectly . but i build apk and run it in my phone and bluestack(in windows) .error massage coming below picture

**Screens

[2018-11-30 19:31] Nachbarsaft commented on #66
I purchased MyList APp on Envato 29th/11 purchase code ends with: 49bc14f56289  (don´t want to publically post the whole number here)

[2018-11-30 19:59] hammadhassan commented on #32
Can you show me how to configure WordPress site's shipping method as shipping is not displaying in my app's delivery page.

Kindly Help.

[2018-11-30 20:08] hammadhassan opened #69 "[MStore] - shipping method config of Wordpress site"
Product: [MStore]
Purchase Code: f20afe4a-778e-4089-bcb2-7ec1bb4ed49b

Can you help me to configure WordPress site's shipping method as shipping is not displaying in my app's delivery page.

Kindly Help.

Screenshot & config file is attached.

[Config3.6.4.zip](https://github.com/inspireui/support/files/2634831/Config3.6.4.zip)

![image](https://user-images.githubusercontent.com/5791268/49312018-9

[2018-12-01 01:57] minhcasi commented on #69
Could you share your admin login private to our support email as well - support@inspireui.com - we will help to have a look to the issue?

[2018-12-01 05:53] Waleed97339239 opened #70 "Notification list"
Hello dear
Is it possible to put users notifications list insted of cart list (I want to remove cart option)

[2018-12-01 10:39] luyx2412 commented on #37
Hi @leotseng159 I could not login with your account. Can you provide me your account again?
<img width="388" alt="screen shot 2018-12-01 at 5 38 49 pm" src="https://user-images.githubusercontent.com/8909619/49327155-0e5ef500-f590-11e8-8143-f05bb2f2c67b.png">
Thanks

[2018-12-01 10:47] luyx2412 commented on #50
Thanks @OnlyDan !

[2018-12-01 10:47] #50 closed

[2018-12-01 10:49] luyx2412 commented on #67
Hi @tharicode Please follow the article to fix your issue https://stackoverflow.com/a/44476757/6622971.
Thanks

[2018-12-01 12:18] leotseng159 commented on #37
Hi @luyx2412

Login. ttandtng@gmail.com
Password. 123456

Thanks

[2018-12-01 19:56] hammadhassan commented on #69
I did email credentials earlier today.

Please guide me to fix this issue ASAP.

Thanks

[2018-12-01 20:10] hammadhassan commented on #69
Please also try to reinstall mstore-checkout plugin as popup view is different as compare to default mstore config.

[2018-12-02 16:21] alaradi2006 opened #71 "[mstore multivendor] chat bugs"
**Required Info (please complete the following information):**
 - Product: mstore multivendor 1.1.2
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)
a9c6782d-8c5d-4811-8c4a-2ccc9d6be005
**Describe the bug**
A clear and concise description of what the bug is.
1-chat system after opening chat window i cant go back the only way to exit

[2018-12-03 02:42] minhcasi commented on #70
Hi, could you try to post the ticket with the format template so that we could know which the product you are mention about - thanks

[2018-12-03 02:42] #70 closed

[2018-12-03 02:51] reconshield opened #72 "[Listapp] POST LISTING ERROR AT END"
- Product:  ListApp
 - Your Purchased Code: 23ee6c94-1eb8-4ffd-842f-7600d97f41d0

**> when i post listing. i get this error.why? here my screenshot.. "wrong numbers of segments"**

![simulator screen shot - iphone x - 2018-12-03 at 10 43 34](https://user-images.githubusercontent.com/25501496/49350547-598d1b00-f6ea-11e8-9062-1de9b6094e14.png)
1st screen : add image and choose package

![simulator s

[2018-12-03 07:19] luyx2412 commented on #69
Hi @hammadhassan Please follow the image to quick fix the issue. `node_modules/api-ecommerce/src/WooCommerce/WooWorker.js` --> line 247 change `zoneId` `1` to `2`.
<img width="805" alt="screen shot 2018-12-03 at 2 15 34 pm" src="https://user-images.githubusercontent.com/8909619/49358737-51db6f80-f706-11e8-83fc-b19afe260242.png">

We will try update next version soon to fix the issue.

Thanks

[2018-12-03 11:12] alaradi2006 commented on #71
check it
as i check it in multiple android phone its the same thing
for iphone i dont have it ,i didnt test it

[2018-12-03 14:49] daniloaqui opened #73 "[ListApp] - error Couldn't find the binary git"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any

[2018-12-03 15:09] minhcasi commented on #11
Hi @team2s, we could help to support remote on your PC to troubleshoot the issue, let us know when you are available - thanks

[2018-12-03 15:12] daniloaqui opened #74 "[ListApp] - Step 2 - run the app"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Step 2

[2018-12-03 15:37] minhcasi commented on #62
@thangvo9x please help to check - thanks

[2018-12-03 15:53] minhcasi commented on #73
duplicate with - https://github.com/inspireui/support/issues/28

[2018-12-03 15:53] #73 closed

[2018-12-03 15:53] minhcasi commented on #74
same root cause with https://github.com/inspireui/support/issues/73

[2018-12-03 15:53] #74 closed

[2018-12-03 20:08] hammadhassan commented on #69
Thanks. It's fix my issue.

Could you guys do me a favor & reinstall mstore-checkout plugin on my wordpress site so the checkout popup will be the same as on default config.

Thanks.

[2018-12-03 20:40] hammadhassan commented on #69
1 more thing.

I did change the app name in package.json file but mstore still appears in the installation screen.

![image](https://user-images.githubusercontent.com/5791268/49400252-7dda0d80-f765-11e8-9a71-83f8d59859c6.png)

Please guide.

[2018-12-04 02:30] thangvo9x commented on #65
Thanks for your choice. Can you share Config.js file?
Thanks

[2018-12-04 02:39] thangvo9x commented on #72
Hi . We've checked your source. A new post listing was created on your site with name DEF.
please test it. such as please update in the last version of product.
Thanks

[2018-12-04 02:41] reconshield commented on #72
the latest version got so many bugs..which other users face it.. how u post listing? can create video? used my config file?

[2018-12-04 02:54] thangvo9x commented on #62
Hi. Thanks for your choice. Don't mention it. Simple You forgot change to your categories in horizontalLayout field. Try change it and post listings will be appeared. This is a screenshot after I changed it, only try.
![screenshot](https://user-images.githubusercontent.com/23457178/49415820-738e3280-f7aa-11e8-959c-b0f35074107e.png)

[2018-12-04 05:13] #72 closed

[2018-12-04 07:01] #39 closed

[2018-12-04 07:02] #61 closed

[2018-12-04 07:05] minhcasi commented on #69
This is the source for download mstore-checkout - https://github.com/inspireui/mstore/tree/master/plugins/mstore-checkout

You can refer to the document to rename the app name - https://docs.mstore.io/advance-customize-app/change-the-package-name

[2018-12-04 07:05] #69 closed

[2018-12-04 07:05] #67 closed

[2018-12-04 07:05] #42 closed

[2018-12-04 09:58] alexisttt opened #75 "[Beonews Pro] Charset Issue on custom pages"
[Beonews Pro]
Purchased Code: [3f684ec6-0043-4a19-b150-764a9f735121]

Hi. I have been trying to set up the app. It connects to my website posts and show the posts just fine. But in the contact and about us page the text are not displayed properly. I think it is a issue of charset. My website language is Turkish. You can see the problem in the screenshots. Thanks for your help.

in case you need
my

[2018-12-04 12:22] alaradi2006 commented on #71
yes sure

[2018-12-04 12:22] alaradi2006 commented on #71
heres

[2018-12-04 19:14] hammadhassan commented on #69
How should i set default country to Netherlands as checkout page keep showing does not ship to Netherlands.

![image](https://user-images.githubusercontent.com/5791268/49466725-94926a00-f822-11e8-886c-44bdc2652bf2.png)

Kindly Help

Config file country setting

 DefaultCountry: {
    code: 'nl',
    RTL: false, // em move config tu ben Constanst qua day de user ho de su dung
    language: 'Dutch',

[2018-12-04 19:17] hammadhassan opened #76 "[MStore] - How to Change & set Default Country to Netherlands"
How should i set default country to Netherlands as checkout page keep showing does not ship to Netherlands.

![image](https://user-images.githubusercontent.com/5791268/49466906-ffdc3c00-f822-11e8-95a9-778797971d5e.png)

Kindly Help

Config file country setting

DefaultCountry: {
code: 'nl',
RTL: false, // em move config tu ben Constanst qua day de user ho de su dung
language: 'Dutch',
countryCode:

[2018-12-04 19:30] jscalabis commented on #62
Thank you for th reply.
I chaged the categories but now it keeps appearing the following message on the command prompt:

[19:30:12] Require cycle: App\Components\index.js -> App\Components\Modal\Tag.js -> App\Components\index.js

Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle.
- node_modules\expo\build\environment\logging.js:

[2018-12-04 19:53] hammadhassan commented on #76
I did select United States, United Kingdom & Vietnam from countryPicker but same text occurs in payment page that we do not ship to United States, United Kingdom & Vietnam.

Kindly guide me to fix this issue ASAP as my is pending due to this issue.

Thanks.

[2018-12-04 20:46] Nachbarsaft commented on #66
yes you can, just tell me how and when. Thank you!

[2018-12-04 23:44] thangvo9x commented on #62
Hi. This version update latest Expo 31 which could cause VERY SLOW at development mode.
We've update in changelogs.
<img width="666" alt="screenshot" src="https://user-images.githubusercontent.com/23457178/49480417-32089080-f859-11e8-9038-ee94129d67cf.png">

[2018-12-05 01:49] minhcasi commented on #71
Hi, you can send to this email (and also note with this ticket URL) - thang@beostore.io

[2018-12-05 02:01] thangvo9x commented on #66
Hi. Good morning, Nachbarsaft. Do you have free, now ? send your teamview id to thang@beostore.io
Thanks.

[2018-12-05 02:33] #37 closed

[2018-12-05 02:36] luyx2412 commented on #75
Hi @alexisttt Can you send me the Config.js file?
Thanks

[2018-12-05 04:33] tharicode opened #78 "dear how to add products woman collection,feature collection ; man collection work perfectly"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2018-12-05 09:41] alexisttt commented on #75
Hi you can find the config.js bellow

/** @format */

import Constants from './Constants'

export default {
  /**
   * There are so many choices from the marketplace mobile app, we thank you for choosing us and purchased the BeoNews products, please follow the step bellow to quickly set up your app
   * The detail document from: https://beonews.inspireui.com
   *
   * Step 1: Change your Wordpress

[2018-12-05 11:17] alexisttt commented on #75
I look deep inside of the code but could not figure out how to translate a / two days ago or minutes phrase.  Also could you guide me to how to translate it?
Many thanks

[2018-12-06 02:54] tharicode opened #79 "[Mstore] - i can't order confirm how fix it"
**Required Info (please complete the following information):**
 - Product: mstore pro
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other detail lo

[2018-12-06 02:58] minhcasi commented on #79
Can you provide more detail info:
- purchase code
- detail issue or screenshot

[2018-12-06 02:58] minhcasi commented on #78
Can you provide more detail info:
- purchase code
- detail issue or screenshot

[2018-12-06 02:58] #78 closed

[2018-12-06 03:00] luyx2412 commented on #76
Hi @hammadhassan Can you provide your Config.js file?
Thanks

[2018-12-06 03:13] tharicode commented on #79
purchase code :  8c003706-a28e-4be4-bf3f-c1dc86bfb7da

detail issue : i can't continue 'order confirm'

![capture](https://user-images.githubusercontent.com/45279029/49558861-93e8f900-f932-11e8-8374-93f9845d1d5d.PNG)

 second issue : how to add product on feature products & bag collection .. ; man collection is work perfectly

![capture](https://user-images.githubusercontent.com/45279029/49558980-

[2018-12-06 03:40] luyx2412 commented on #75
Hi @alexisttt
I tested your Config.js file which working normal.
<img width="376" alt="screen shot 2018-12-06 at 10 37 22 am" src="https://user-images.githubusercontent.com/8909619/49559928-14175a80-f943-11e8-8059-aceaf8bb82bd.png">

And i didn't understand your question about translate a / two days ago or minutes which is post time. If it is post time ago, you can see `App/Container/PostDetail/Po

[2018-12-06 05:02] tharicode commented on #78
purchase code : 8c003706-a28e-4be4-bf3f-c1dc86bfb7da
 issue : how to add product on feature products & bag collection .. ; man collection is work perfectly
![capture](https://user-images.githubusercontent.com/45279029/49562592-3492e500-f942-11e8-85b8-a823187fea75.PNG)

[2018-12-06 05:58] hammadhassan commented on #76
Config file it attached.

Please try to fix this ASAP.

[Config3.6.4.zip](https://github.com/inspireui/support/files/2651855/Config3.6.4.zip)

[2018-12-06 07:19] alexisttt commented on #75
Hi thanks for answer. App works fine with post. It shows exactly what ever we have. But when we click contact us and about us from left navigation we get pages with issues.

[2018-12-06 07:56] #62 closed

[2018-12-06 10:44] jscalabis opened #80 "[ListApp] App Crashes when entering listing"
**Required Info (please complete the following information):**
 - Product: ListApp
 - Your Purchased Code: 35c2******************************946b2

**Describe the bug**
When inside the app on android, when I try to enter a listing the app crashes and returns an error message. Already some issues, already addresed in #51 and #62

**Screenshots**

The error message:

![screenshot](https://user-image

[2018-12-06 13:51] rajqumar opened #81 "[Cestore] Project Installation and startup issue"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. Cestore - Cezerin]
 - Your Purchased Code: 22706124

Inside Source/web folder
After yarn install
when I run app using yarn build and yarn start I get this

ERROR in ./node_modules/theme/dist/lib/apiClient.js
Module not found: Error: Can't resolve '../../../config/server' in '/var/codes/cestore/Source/web/node_modules

[2018-12-06 14:33] menzer2015 opened #82 "[ListApp] TypeError: null is not an object (evaluating 'c.id')"
**Required Info (please complete the following information):**
 - Product: ListApp
 - Your Purchased Code:  1d8d4ae7-****-****-****-a869ce764483
**Describe the bug**
TypeError: null is not an object (evaluating 'c.id')

This happens on a fresh install of your latest version 1.5.3b when you click to see the details page (listingDetails.js)

I have tired this on Windows and a Mac from fresh install

[2018-12-06 14:52] Pars1vaLl commented on #80
I got same issue. Are you using Mylisting theme?

[2018-12-06 15:05] Pars1vaLl commented on #65
Hi, I have sent Config.js to this email: thang@beostore.io
Thakns

[2018-12-06 15:11] tuctoc opened #83 "[ListApp] Android Version"
Hi. I am interested. Is it possible to run this app on lower versions than Android 6.0? Perhaps make it work on Android 5.x thank you

[2018-12-06 16:20] alaradi2006 commented on #71
sent to chat agent minh

[2018-12-06 17:44] menzer2015 commented on #82
After trying to identify the issue, I found that by commenting out  isMyListing={this.isMyListing the page seems to work ok but I would like to know what issues I may have by commenting out this line, thanks. Also I am not sure this is a bug?

` <DetailFooter
                    {...this.props}
                    author={post.author}
                    onChat={onChat}
              //    isMyLis

[2018-12-06 18:14] jscalabis commented on #80
No, @Pars1vaLl I'm using ListApp, but the core concept must be the same

[2018-12-07 00:39] minhcasi opened #84 "[mstore multivendor] undefined is not an object evaluating 'product.store.id'"
https://paste.pics/4601a83cda90f6a2dcedfcc1f5b8bee2

[2018-12-07 01:14] minhtruong315 commented on #81
Hi @rajqumar inside source/web folder, you can run "npm run app:install", then run npm start

[2018-12-07 02:21] thangvo9x commented on #83
Yes. Thanks for your interesting to our product.
It will be work fine on Android 5.x
Thanks

[2018-12-07 02:32] luyx2412 commented on #76
Hi @hammadhassan Please mail your account wordpress to luyxtran264@gmail.com. I will check your admin site.
Thanks

[2018-12-07 02:37] luyx2412 commented on #75
Hi @alexisttt Please remove app on your emulator and re-install again. I tested about us and contact us which work normal.
<img width="380" alt="screen shot 2018-12-07 at 9 36 28 am" src="https://user-images.githubusercontent.com/8909619/49624350-abdc7d80-fa03-11e8-8dc6-db95eaec11a8.png">
<img width="382" alt="screen shot 2018-12-07 at 9 35 16 am" src="https://user-images.githubusercontent.com/890

[2018-12-07 02:44] tharicode commented on #79
ok dear

[Config.zip](https://github.com/inspireui/support/files/2655675/Config.zip)

[2018-12-07 02:55] thangvo9x commented on #71
Hi. I checked your site. Please install plugin Dokan -lite suchas Dokan pro.
Thanks

[2018-12-07 02:56] alaradi2006 commented on #71
i have dokan pro in my site

________________________________
From: thangvo9x <notifications@github.com>
Sent: Friday, December 7, 2018 5:55 AM
To: inspireui/support
Cc: alaradi2006; Author
Subject: Re: [inspireui/support] [mstore multivendor] chat bugs (#71)

Hi. I checked your site. Please install plugin Dokan -lite suchas Dokan pro.
Thanks

—
You are receiving this because you authored the thre

[2018-12-07 02:57] alaradi2006 commented on #71
everything work great
except the chat part

[2018-12-07 06:16] rajqumar commented on #81
Thank you, it works

[2018-12-07 06:17] hammadhassan commented on #76
I sent you an email.

Please check & guide to fix it.

Thanks.

[2018-12-07 09:00] alexisttt commented on #75
Hi.  Thanks for reply i have deleted and re-install the app to my phone but nothing changed. I still get the issue. Do you think is it because of the device?
Thanks

[2018-12-07 14:58] Nachbarsaft commented on #66
Ive sent you an email
thx!

[2018-12-07 15:34] alaradi2006 opened #85 "mstore multivendor how to setup onesignal"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.
how to setup onesignal push notification for mstore multivendor
the doc it shows for mstore in android files

[2018-12-08 02:03] minhcasi commented on #85
Hi, you can follow this guide to eject/detach the expo project - https://blog.expo.io/expokit-might-not-be-so-scary-3c26769215fa

Then install this lib for onesignal - https://github.com/geektimecoil/react-native-onesignal

[2018-12-08 02:03] #85 closed

[2018-12-08 18:58] nadavdrewe opened #86 "[MStore Pro] - Can't run android"
Hi,

I bought this template from codecanyon:

MStore Pro - Complete React Native template for e-commerce
--
Regular License
Purchase code: 85fb2bc3-cfee-47a7-80b1-e5e2eb2a92c0

It won't run properly. After I run yarn, then react-native run-android I get:
![capture](https://user-images.githubusercontent.com/1905903/49689527-3ca57d00-fb1a-11e8-9e07-34aa21886147.PNG)

these packages don't link proper

[2018-12-08 20:39] Pars1vaLl commented on #65
Guuys, I am still waiting.
Thanks

[2018-12-09 04:14] luyx2412 commented on #75
Hi @alexisttt
Can you provide me your device information?
Thanks

[2018-12-09 04:14] luyx2412 commented on #76
Ok @hammadhassan

[2018-12-09 07:38] kiamoz opened #87 "[MStore] - issue one exporting andorid"
![screen shot 2018-12-07 at 3 34 13 am](https://user-images.githubusercontent.com/10494372/49694608-af5a3b00-fba2-11e8-969c-9a9d7e7497fa.jpg)

see attached please :(

[2018-12-10 02:46] luyx2412 commented on #86
HI @nadavdrewe With Pro version, please open Android studio to build your project. Because the android studio will auto fix some issues.
- Expo version, Can you clean your project and re-install again. https://gist.github.com/jarretmoses/c2e4786fd342b3444f3bc6beff32098d

Thanks

[2018-12-10 03:40] luyx2412 commented on #79
Hi i checked your Config.js file,

- First issue, please check your setting follow the document https://docs.mstore.io/basic-app-setting.
- Second issue Please check again your Category id which based on your website. Follow the document https://docs.mstore.io/advance-customize-app/customize-the-app-branding#example-showing-the-content-as-3-column-view

Thanks

[2018-12-10 03:40] #79 closed

[2018-12-10 04:36] thangvo9x commented on #66
Hi. I didn't receive it . Resend it, please.
Thanks

[2018-12-10 08:43] Nachbarsaft commented on #66
This is what I sent :

Hi Thang,

sorry you texted me in the middle of the night last time. Can we agree on a fixed time to do this. It´s better to plan because of the time difference.

This is my Team Viewer ID: 1 120 419 603

Thank you!

________________________________
Von: thangvo9x <notifications@github.com>
Gesendet: Monday, December 10, 2018 5:36:35 AM
An: inspireui/support
Cc: Nachbarsaft;

[2018-12-10 11:06] hammadhassan commented on #76
@luyx2412 is there any update to fix my issue?

[2018-12-11 00:42] Mark0000008 opened #88 "[ListApp] Android problem"
- Product: ListApp MyListing Version
 - Your Purchased Code: d4f87a9a-a6ea-400d-8dc6-3a9703872133

Hello, I have buyed the List App Template from CodeCanyon, I’m trying to build a project using the 1.4 version since the last version seem to not work at all, however I’m having issues with 1.4 too, in development mode, only on Android when i open a listing I get this error:

“Cannot add a child that

[2018-12-11 00:57] #83 closed

[2018-12-11 01:00] minhcasi commented on #66
Hi, @Nachbarsaft  please share your team viewer account to @thangvo9x email from 9:am-5pm GMT+7

Closed ticket to support via email, thanks

[2018-12-11 01:00] #66 closed

[2018-12-11 01:01] minhcasi commented on #65
@thangvo9x

[2018-12-11 01:02] minhcasi commented on #71
@alaradi2006, could you clarify the detail of Chat issue - thanks

[2018-12-11 01:02] #71 closed

[2018-12-11 01:43] minhcasi commented on #88
Hi, could you help to share the config.js file here, we will help for debugging the issue - thank you!

[2018-12-11 02:35] luyx2412 commented on #87
Hi @kiamoz, Please install package with `yarn install`. I saw your attached which lack of the library `jsc-android`.

Thanks

[2018-12-11 03:12] thangvo9x commented on #88
Hi. @Mark0000008 , Share your Config.js to email than@beostore.io help me, I'll check help you.

[2018-12-11 03:38] thangvo9x commented on #80
Hi. I checked your Config.js file . Please try remove AdFacebook in ListingDetail.js and run again
Let me know if it works.

[2018-12-11 03:55] thangvo9x commented on #65
Hi, @Pars1vaLl , there're some problem i can't receive it.
Please Share your Config.js file again. note: your issue, such as your email
Thanks

[2018-12-11 04:08] Pars1vaLl commented on #65
Hi @thangvo9x  , I have sent it again. Please check.
Thanks:)

[2018-12-11 04:16] luyx2412 commented on #75
Hi @alexisttt, i investigated your case and found the issue is related `font family`.  So in `App/Components/WebView/WebView.js` line 48. In source property please add `baseUrl: ''` look like the comment to fix the issue. And it is full source code file.

[code]

[2018-12-11 05:47] kiamoz commented on #87
thank you , please do not close this issue till I tell you the next status , thanks

[2018-12-11 06:46] #87 closed

[2018-12-11 07:59] luyx2412 commented on #76
Hi @hammadhassan i checked your Config and your website. I fixed `undefined` country will update next version, and with can not shipping to Netherland. We need investigating the issue.

Thanks

[2018-12-11 08:09] #86 closed

[2018-12-11 08:37] hammadhassan commented on #76
@luyx2412 regarding to Netherlands. When i select different country it shows the same text as well.

When will you going to publish next version as my app is pending to publish.

[2018-12-11 08:38] hammadhassan commented on #76
Could you also provide the updated config file to me so that i can also check it by myself.

[2018-12-11 08:41] luyx2412 commented on #76
Hi @hammadhassan
In `src/containers/Home/index.js` replace with this code
[code]

[2018-12-11 09:55] menzer2015 opened #89 "[ListApp] All Results limited to 10 including categories"
**Required Info (please complete the following information):**
 -  (MyListing)
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
28ddad43-f990-****-****-2f5d67f12e4a (I have omitted some of my license code)

**Describe the bug**
All my results only display 10 items even though I have over 50 items in a category
Also in config I have selected to display all categories, but it only

[2018-12-11 10:15] thangvo9x commented on #82
Hi @menzer2015 . Share your Config.js file to email thang@beostore.io
please note your issue - such as your email. We'll check & reply to you soon.
Thanks

[2018-12-11 11:20] Pars1vaLl commented on #65
Ok. I will respond soon. Thanks:)

[2018-12-11 15:23] alaradi2006 opened #90 "[Mstore Multi Vendor] - help changeing country and deafult currency"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.
i want to change deafult currency from usd to BHD
and deafult country from us to bahrain
**Screenshots**
If a

[2018-12-11 16:39] levi-beers opened #91 "[BeoNews Pro] Could not resolve project :react-native-vector-icons - Android Studio"
I've made changes in [build.gradle](https://gist.github.com/minhcasi/755ae197e7068be289f5e8ea58e910b3) as described by @minhcasi but my android sync fails as shown in screenshot. Same thing happens on my iMac running Android Studio 3.0.2 and a Macbook Pro running Android Studio 3.1.2

Any ideas?

Screenshot:
<img width="1257" alt="screen shot 2018-12-11 at 11 31 44 am" src="https://user-images.git

[2018-12-11 16:48] alaradi2006 commented on #90
i tried to change it but i got error in format and symbol
i want to make deafult country bahrain
deafult currency BHD

[2018-12-11 18:07] Mark0000008 commented on #88
Hello, just sent the config.js file to thang@beostore.io

Thanks a lot for now!

[2018-12-11 18:14] agriffyn opened #92 "[mstore multivendor] Can I use the Mstore Multi Vendor App just as a Wordpress site?"
I have purchased the Mstore Multi Vendor app for IOS and saw that there was a wordpress backend. Is it possible to run this app just as a wordpress site? If so how do I go about doing so? Thank you so much!

[2018-12-11 18:15] menzer2015 commented on #89
Sorry I put the wrong purchase code, I gave you the one for myListing Theme here is the correct ocde but partially edited 1d8d4ae7-7736-****-****-a869ce764483

[2018-12-11 19:30] agriffyn commented on #92
Thanks for the reply Levi! Would the mobile site look and function the same as the what the app would?

[2018-12-11 19:57] levi-beers commented on #91
**Resolved:** It appears that BeoNews is using RN package react-native-vector-icons version 5.0.0 which uses a now unavailable version of gradle (2.3+). If users update package.json line 44 with

`"react-native-vector-icons": "^6.1.0",`

then perform yarn install, issue will resolve.

[2018-12-11 19:57] #91 closed

[2018-12-11 21:06] levi-beers commented on #92
For the most part yes. If someone is visiting the site from a mobile browser (Safari, Mobile Chrome, etc) they would see http://dokan.mstore.io/ (the demo website). With mobile browser, rendering is done entirely by the browser. The mobile app looks a little different because the product data is pulled via WooCommerce's API and rendered with native code.

[2018-12-11 21:14] levi-beers commented on #92
Here, you can see how the multi-vendor app would look on [Android](https://play.google.com/store/apps/details?id=inspireui.mstore.multi.vendor&hl=en_US) and iOS. Note: InspireUI does not have a demo of the iOS version because Apple doesn't permit "demo" applications. If you look at the Android screenshots, iOS looks very similar if not identical in most aspects.

[2018-12-11 23:15] Pars1vaLl commented on #65
Hi @thangvo9x  unfortunatelly it didn`t work

[2018-12-12 02:06] Mark0000008 commented on #88
Hello, did you received the file? Any news?

[2018-12-12 02:40] luyx2412 commented on #90
Hi @alaradi2006 Can you take the screenshot about symbol error?
Thanks

[2018-12-12 02:47] tharicode commented on #79
dear basic app settings document is right my project  settings but confirm
order not work yet

On Mon, Dec 10, 2018 at 9:10 AM luyx2412 <notifications@github.com> wrote:

[2018-12-12 02:54] #75 closed

[2018-12-12 02:55] thangvo9x commented on #89
Hi. @menzer2015 . Try change this property
Categories: {
    showSub: false, // false if you want to show the categories with parent = 0 (level 1)
  },
change from showSub -> true
Thanks. let me know if it works.

[2018-12-12 02:56] thangvo9x commented on #88
Hi. I haven't been it yet. Please send it again.
Thanks

[2018-12-12 03:13] minhcasi commented on #90
@luyx2412  related private info here - https://app.intercom.io/a/apps/xro9xnfd/inbox/inbox/2667041/conversations/19910216862

[2018-12-12 03:19] luyx2412 commented on #90
HI @alaradi2006, In your Config.js file. Please change the value `hideCountryList: true` to disable country list and set default country.
Thanks

[2018-12-12 03:42] Mark0000008 commented on #88
Sended again...

[2018-12-12 03:45] thangvo9x commented on #65
Can you tell me what is the problem ? I checked it.
![screenshot](https://user-images.githubusercontent.com/23457178/49845850-12dea580-fdfb-11e8-884b-620e361edaa8.png)
![screenshot2](https://user-images.githubusercontent.com/23457178/49845851-12dea580-fdfb-11e8-9c50-9ee0b7c0db03.png)

[2018-12-12 03:55] Mark0000008 commented on #88
However I really doubt that the problem is in the Config.js file, I have reasons to thing that the problem is in the ListingDetail.js file since the problem happen when I open a Listing, however replacing it with a modded version of ListingDetail.js from the new version of ListApp where there isn't this problem doesn't solve it either,  it's really frustrating since it seems that any version of th

[2018-12-12 04:40] agriffyn commented on #92
Hi Levi, thanks for the response again. I meant if I just set it up as a wordpress site without making it into the app would mobile safari (on iphones) look like those screenshots of the app?

[2018-12-12 07:17] thangvo9x commented on #84
fixed in the next version 👍

[2018-12-12 07:17] #84 closed

[2018-12-12 08:09] shubhamt619 opened #93 "ListPro - Contact me asap"
**Required Info (please complete the following information):**
 - Product: ListPro
 - Your Purchased Code: db055d4e-cd4e-4411-b654-21589bab86a0
(we may not reply if you are not our customer)

**Describe the bug**
There are lots of bugs and lots of small points i would like to discuss with you.
Please send me an email with any of your following details like whatsapp no, skype id or anything on whic

[2018-12-12 10:28] MyAgileWorld opened #94 "BeoNews - video instructions no longer relevant"
**Mandatory Info (please complete the following information):**
 - Product: Beonews Pro
 - Your Purchased Code: [get from https://codecanyon.net/downloads]

097ff434-0241-4e47-9272-36d0b6884355 | 097ff434-0241-4e47-9272-36d0b6884355 |  
-- | -- | --
097ff434-0241-4e47-9272-36d0b6884355

**Describe the issues**
The video you uploaded to help us with it is no longer relevant as expo does not offer X

[2018-12-12 11:54] Pars1vaLl commented on #65
Hi @thangvo9x there is still not all the categories and listings are shown.
![screenshot_1](https://user-images.githubusercontent.com/45024483/49868234-9f568b80-fe2e-11e8-938a-b922a0193d06.png)

[2018-12-12 12:02] alaradi2006 commented on #90
whats country code for bahrain

[2018-12-12 12:06] alaradi2006 commented on #90
how to change currency to my country bahrain

[2018-12-12 12:14] rshah92 opened #95 "[Mstore Pro] Issues with the app"
**Required Info (please complete the following information):**
 - Product: [MStore Pro]
 - Your Purchased Code: [1f3de2b4-0a91-47fd-a0d1-bddc02cd1150]

**Describe the bug**
It happened when setup of the app, can help check the screenshot i've attached? thank you

**Screenshots**
![99521184-4b2c-48de-96b0-b8cb3cf9a733](https://user-images.githubusercontent.com/45820236/49872104-05550a00-fe53-11e8-9

[2018-12-12 12:33] thangvo9x commented on #65
Category hasn't any listing then not displayed.

[2018-12-12 12:46] Pars1vaLl commented on #65
@thangvo9x There is about 500 listings and no category without listings. You can check it here: [URL](https://diyor.tj/category/)
Thanks:)

[2018-12-12 12:55] thangvo9x commented on #65
Hi. Follow your image. The category with name is http://prntscr.com/ltzzqh is only 1 location

[2018-12-12 13:02] Pars1vaLl commented on #65
@thangvo9x  Oh, now I see how it works. So it shows subcategories not main categories. What if I want to show main categories - how can I do that?
And what about default cover image from site? It is blank it app.

I really greatly appreciate your help:)

[2018-12-12 15:59] menzer2015 commented on #89
Thanks for your suggestion, I did try this already and it only shows the first 10 categories in alphabetical order however I have 19 categories including subcategories

When I change to (showSub) -> false it shows the main 4 parent categories which is correct however I want to show all categories

I used Reactotron to see what was happening and CATEGORY_FETCH_SUCCESS only fetches 10 items and I as

[2018-12-12 16:55] theleolife opened #96 "Cestore - payment api, push notification, user account not working"
My Purchase code :c81ce372-4552-4ba8-83ad-da1b13a9ac61

Hi,
I bought it and I’ve been testing since 10 hours in several ways, are you sure this is the last version available for download? I figured out somethings important are missing.

1 – payment api does not work, at the checkout payment is not processing connected with stripe or paypal, not in web version or native app.

2 – I could not see Pu

[2018-12-13 02:14] thangvo9x commented on #93
Hi, Thanks for your choice. You can email to minh@inspireui.com.
Thanks

[2018-12-13 02:40] thangvo9x commented on #89
Hi. send email to thang@beostore.io . I'll check help you

[2018-12-13 02:40] #80 closed

[2018-12-13 02:41] #82 closed

[2018-12-13 02:46] thangvo9x commented on #89
You can add param is per_page(100) in function fetchCategories() in Redux/actions/CategoryActions
Thanks

[2018-12-13 02:48] #23 closed

[2018-12-13 02:51] thangvo9x commented on #65
hi. You add per_page(100) into function fetchCategories() in Redux/actions/CategoryActions
Default cover image can be changed in Images.js in Common folder with name is imageBase.
Thanks

[2018-12-13 02:53] #93 closed

[2018-12-13 02:55] minhtruong315 commented on #96
Hi @theleolife Did you install cezerin website successfully? Can you share me url to me check?
Thanks

[2018-12-13 02:55] #81 closed

[2018-12-13 02:59] imsam67 opened #97 "[ReactXS] ReactNativeBridgeEventPlugin error"
**Mandatory Info (please complete the following information):**
 - Product: ReactXS React Native UIKit for Material Design 2.0
 - Your Purchased Code: 031c02bf-1fdb-46e5-94c4-dd370647e343

**Describe the issues**
After the initial installation, as I try to run the app in Expo, I'm getting the following error:

**Screenshots**
![error](https://user-images.githubusercontent.com/15844030/49912751-2d4

[2018-12-13 03:06] luyx2412 commented on #95
Hi @rshah92 Please install `babel-preset-react-native` with `yarn add babel-preset-react-native` to fix your issue.

Thanks

[2018-12-13 04:18] luyx2412 commented on #90
HI @alaradi2006 Please search google about your country code https://goo.gl/m2jjx6.
Thanks

[2018-12-13 04:19] luyx2412 commented on #97
HI @imsam67 Please remove your `node_modules` and re-install again. Or clean your project follow the article https://gist.github.com/jarretmoses/c2e4786fd342b3444f3bc6beff32098d to fix your issue.
Thanks

[2018-12-13 06:41] rshah92 commented on #95
Hello, thanks the issues is solved but we currently facing new issues
"cannot read property bindings of null"
![image](https://user-images.githubusercontent.com/45820236/49920428-2bc38580-fee5-11e8-849d-22e29d7992a9.png)
. Can you help check please? Thanks

[2018-12-13 06:53] Nachbarsaft commented on #66
Hello Thang, now I hope I have the Right Timing.

Here is my Team Viewer ID:

1 120 419 603

I would appreciate if you could help me.

Raphael

________________________________
Von: thangvo9x <notifications@github.com>
Gesendet: Monday, December 10, 2018 5:36:35 AM
An: inspireui/support
Cc: Nachbarsaft; Author
Betreff: Re: [inspireui/support] [ListApp] - Help with ListApp Can´t even start (#66)

H

[2018-12-13 09:30] #89 closed

[2018-12-13 13:49] theleolife commented on #96
Hi @minhtruong315

yes I installed correct, it is running on web and mobile local environment, I can not see any stripe events after make a order, it seems not connect with stripe. I've made a order on web and mobile and it does not send events the stripe payment.

![web 2018-12-13 11_44_30](https://user-images.githubusercontent.com/3028163/49942465-7e447800-fecc-11e8-98eb-aae14a3bfeac.gif)

![mob

[2018-12-13 14:00] rshah92 commented on #95
any news?

[2018-12-13 14:40] minhtruong315 commented on #96
Hi @theleolife Stripe gateway is available on mobile version now, We are making it on web version.
About stripe configuration, Did you update stripeSecretKey in cezerin/config/server.js and publicKey in mobile/src/common/Config.js?

[2018-12-13 17:54] agriffyn commented on #92
Hi Levi, sorry to bother you I was just wondering  if I just set it up as a wordpress site without making it into the app would mobile safari (on iphones) look like those screenshots of the app?

[2018-12-13 18:36] alaradi2006 commented on #90
i know my country code but what tp but in config code for currency format and value

[2018-12-13 18:36] alaradi2006 commented on #90
format: "%s%v", // %s is the symbol and %v is the value
},

[2018-12-13 20:18] imsam67 commented on #97
First, removed the `node_modules` and then ran `npm install` but that didn't fix the issue. I then tried a few approaches to clean up the project as per the link you sent. Initially, that seemed to have made the issue worse but after running `npm install` a couple of more times, I'm not back to the original problem -- see below:
![error](https://user-images.githubusercontent.com/15844030/49965059-

[2018-12-14 00:59] minhcasi commented on #94
Thank you for notify, we are going to update new App Builder to help to install the Expo quickly without using the terminal, in the meantime please using the following script for the installing:
- npm install expo-cli -g
- yarn install && expo start

[2018-12-14 02:02] samber91 opened #98 "[MStore, ListApp] Chat"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any

[2018-12-14 02:04] samber91 commented on #98
Hi. In the documentation, there is no mention of how we should configure the chat function. For a non developper like me, that will be great if i can have more explanation about how to set it up.
Next question: i heard that people could not publish the app on app store. Is it true ? If yes what to do.
Answer the 2 questions.
thanks

[2018-12-14 03:16] luyx2412 commented on #97
Hi @imsam67 You can using with iOS simulator which is faster and better to see the UI. I will investigate your case, and please provide me your OS information.
Thanks

[2018-12-14 03:17] luyx2412 commented on #95
Hi @rshah92 Can you provide me your Config.js file to check the version library?
Thanks

[2018-12-14 03:19] luyx2412 commented on #90
Hi @alaradi2006 You can read the document about currency and value in this article https://www.npmjs.com/package/currency-formatter#advanced-usage
Thanks

[2018-12-14 03:30] luyx2412 commented on #76
Hi @hammadhassan Can you provide again your account wordpress. I will check your case.
Thanks

[2018-12-14 03:35] fahmidev013 commented on #81
what is the different of npm run build and npm run build:watch ?? i cant my app full functional work  especially chart menu contact and etc

[2018-12-14 03:52] fahmidev013 opened #99 "[CeStore] Problem with mongodb table and integrating module in webapp"
**Mandatory Info (please complete the following information):**
 - Product: [CeStore]
 - Your Purchased Code: [d1e19c39-b9cb-4e82-XXXX-b02b9b222XXd]
(i may hid some of purchased code)

**Describe the issues**
I have follow all your step by step instruction to install and build web and API but...in the end... web is launched on localhost:3000 ..but the data is empty... and some page show page not f

[2018-12-14 03:57] samber91 commented on #98
Purchase code : ad1ac976-3e34-4e40-a473-0985df712891

[2018-12-14 04:37] minhtruong315 commented on #99
Hi @fahmidev013 Did you see this video? https://www.dropbox.com/s/iac8xvuyotjl2sj/install_cestore_website.mov?dl=0

[2018-12-14 05:59] rshah92 commented on #95
[Config.zip](https://github.com/inspireui/support/files/2678812/Config.zip)
[Config.zip](https://github.com/inspireui/support/files/2678815/Config.zip)

[2018-12-14 07:16] fahmidev013 commented on #99
not yet,...
can i use MongoDB Compass  instead studio3t ?

[2018-12-14 09:15] fahmidev013 commented on #99
How is that?please tell me detail...i appreciate

On Fri, Dec 14, 2018, 2:24 PM minhtruong315 <notifications@github.com>
wrote:

[2018-12-14 10:58] MyAgileWorld commented on #94
Hi there
Thanks for getting back to me. I tried the above and this is what I have:

![image](https://user-images.githubusercontent.com/45817421/49999484-e360a200-ff8e-11e8-8a59-5d9da1456558.png)

The above is my command prompt window after the Javascript Bundles reached 100%.

![image](https://user-images.githubusercontent.com/45817421/49999554-1014b980-ff8f-11e8-9d3f-b1ff33077736.png)

The above

[2018-12-14 11:02] MyAgileWorld commented on #94
Can't you just modify video instructions so that I can use the Snack tool at Expo: https://expo.io/tools#snack

[2018-12-14 11:49] MyAgileWorld commented on #94
Here's an update. I got this appear on my screen 30 minutes later:

![image](https://user-images.githubusercontent.com/45817421/50001927-5b7e9600-ff96-11e8-9a8b-8bc0b46c4cc6.png)

[2018-12-14 12:01] Snakepli opened #100 "APPBuilder"
I installed Appbuilder, I connected my Envato account, but I didn't see under "My products" my Mstore app.

You know why ?
I've installed on Mac

[2018-12-14 14:30] tharicode opened #101 "dear 1 issue :how to off test ads and can,t confrim order"
- Product: MStore, ListApp
 - Your Purchased Code: 8c003706-a28e-4be4-bf3f-c1dc86bfb7da

**Describe the bug**
1st issue : how to off ads

2nd Issue : confirm order button not getting any action
![123](https://user-images.githubusercontent.com/45279029/50009927-3281f380-ffde-11e8-8a80-a7e4e43b9f4d.PNG)

loading and after normally confirm order button have not continue

![456](https://user-images.gi

[2018-12-14 16:23] shu006 opened #102 "[mstore pro] - product images are not loading"
mstore pro
53ac3826-0d28-440b-a310-e306c326a897

Product images are not loading in mstore pro app.

I already installed Better Rest API Featured Image and Regenerate Thumbnails plugin on wordpress. Tried to disable ProductSize in config.js. Still images are not loading.

[2018-12-14 17:49] agriffyn opened #103 "How can I configure my wordpress version of Mstore Multi Vendor to look the same on mobile browser as it does within the app?"
I would like to configure my wordpress site of Mstore Multi Vendor to look like the screenshots of the Mstore Multi Vendor IOS app? I do not want the site to just look like the dokan theme, how can I change this to look like the Mstore app but for mobile web? Thank you.

[2018-12-14 18:52] theleolife commented on #96
Hi @minhtruong315

I had to install it from zero and setup everything again, and it seems to worked well. I just didn't understand about the push notification,  do I need to setup firebase? or real app IOS certs to test it?
when new features like customer account will come up?
Thanks

[2018-12-14 20:04] alaradi2006 commented on #90
another problem
if i sign up as vendor in mobile app
the registration became as subscriber in wordpress user list

[2018-12-14 22:59] minhtruong315 commented on #96
You need to run app on real device to test push notification. After running app on device, you will go to admin dashboard on website then click Push Notification on left menu.
This is admin dashboard url: http://localhost:3000/admin

[2018-12-14 23:13] fahmidev013 commented on #99
ok. ..i install 3T and now its working..but  there is some issue...

i cant checkout and finish transaction  like this..
![image](https://user-images.githubusercontent.com/43770763/50034637-70a80300-0030-11e9-9667-f3a6f3e650a2.png)

and validation is not working as well when i entered wrong format email  and etc..

any help?

[2018-12-14 23:36] thangvo9x commented on #88
hi. Please provide your info from config. You sended me the empty Config.js file.

[2018-12-14 23:37] #65 closed

[2018-12-15 02:00] Mark0000008 commented on #88
Hello, I've solved the error, There was a TouchableOpacity component in Components/Footer/index.js file that had multiple children, TouchableOpacity component should only have one children, if you need to put multiple child component, wrap it in a view component.

Anyway now I only have one problem, I don't know how to configure Facebook Login since there is no documentation about this, and with t

[2018-12-15 02:02] thangvo9x commented on #88
Hi. Thanks for your value feedback. To config Facebook Login, your can refer here :
https://developers.facebook.com/apps/
Thanks

[2018-12-15 07:14] minhcasi commented on #100
Could you help to share your purchase code so that we could help to have a quick check - thank you!

[2018-12-15 07:19] minhcasi commented on #98
@samber91 Thank you for your question:
- We will update the document to explain more about chat feature, it is working on MyListing but could be an issue with other template. Basically it just about the config the Firebase to connect for store the chat message.

- There is no problem to publish the app on Appstore, you can see our demo app there - https://itunes.apple.com/us/app/listapp-listing-di

[2018-12-15 10:14] tohaitrieu opened #104 "[Beonews] UL and OL list, Table do not work in post details"
Product: Beonews Pro
Purchased Code: 18f0b387-3f2e-4816-8519-4b1cfee21b63

In Post Detail, UL, OL, Table is not working.

My Website: https://www.tohaitrieu.net

Example table in Web: https://www.tohaitrieu.net/us-dollar-index/

Table does not working in app post detail: https://imgur.com/a/XNv1Ocv

In the same URL, UL list does not work: https://imgur.com/a/rC7e82t

Please check and support me.

[2018-12-15 11:18] Sandeep6699 opened #105 "[Mstore Multi Vendor] Sign up not working in MStore Multi Vendor - Complete React Native template for WooCommerce"
**Required Info (please complete the following information):**
 - Product: MStore Multi Vendor - Complete React Native template for WooCommerce
 - Your Purchased Code: 2650646b-3b3d-49b0-a603-ee7dfce3a510
Purchase Date:
2018-10-09 10:18:09 UTC

Username : sandeep6699

(we may not reply if you are not our customer)

**Describe the bug**

I have got success to make a app with your source code. I hav

[2018-12-15 19:01] talwinder1508 opened #106 "[BeoNews] AdMob banner overlaps with comments section on BeoNews"
**Describe the bug**
AdMob banner overlaps with the comments section on BeoNews Post Details page

<img width="802" alt="screen shot 2018-12-15 at 10 58 32 am" src="https://user-images.githubusercontent.com/14082839/50046455-7b768e00-0058-11e9-8e22-836623870f48.png">

[2018-12-16 01:41] minhcasi commented on #106
Hi thank you for the feedback, we will have a check and update it next version

[2018-12-16 07:16] levi-beers opened #107 "[Mstore Pro] AdMob Issues & Product Variations Not Showing"
In the latest Mstore pro (not expo) build uploaded December 14th there are 2 issues I've came across:

#1 AdMob can't be turned off for Android. The video plays at app start and banners appear regardless of what settings you have in config.

#2 Product variations are not showing up in cart. Check main mstore demo as shown in screenshot. The product size and color aren't being shown.

<img width="3

[2018-12-16 07:42] levi-beers commented on #107
Also, variations are not transferring to orders placed in WooCommerce. As you can see on PayPal payment confirmation page, the Color: Blue, Size: Medium dress I selected doesn't transfer those variations.

<img width="362" alt="screen shot 2018-12-16 at 2 11 30 am" src="https://user-images.githubusercontent.com/16378407/50051218-3136f080-00dc-11e9-9dcd-c595c83fccc5.png">

[2018-12-16 16:11] levi-beers commented on #104
What I did was change /App/Components/WebView/index.js and I changed line 55 through line 62 where htmlContent is being sanitized and replaced with

`const htmlContent = this.props.html`

What this does is load your web page with no modification to it. If you'd still like to sanitize the HTML,
 alternatively, you could add the UL and OL tags to allowedTags. Personally, I use so many various tags t

[2018-12-16 16:29] levi-beers opened #108 "[Mstore+Beonews] Feature Request: Migrate webview to RN community's 'react-native-webview' replacement & option to disable html sanitization"
[Mstore Pro & BeoNews Pro]

#1 Built-in RN WebView is being deprecated and has moved to [its own repository](https://github.com/react-native-community/react-native-webview). It uses the much improved WKHTMLView on iOS making significant improvements when loading large/dynamic pages. The only thing I had to do to switch is install module and change the import call to

`import { WebView } from 'reac

[2018-12-17 02:11] #88 closed

[2018-12-17 02:35] thangvo9x commented on #90
Hi. How are you ? Send help me your Config.js file . I'll check help you.

[2018-12-17 02:52] minhcasi commented on #105
Hi, there is missing this config from the Wordpress, please help to refer to https://docs.mstore.io/basic-app-setting#enable-the-rest-api-controller

We know this is also missing from the document guide, we will update it shortly - thank you!

[2018-12-17 05:32] samber91 opened #109 "[MStore] If you know how to change promotions images in the app please show me how"
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2018-12-17 05:35] samber91 commented on #109
Purchase code : ad1ac976-3e34-4e40-a473-0985df712891

If you know how to change promotions images in mstore pro please show me how step by step or drop your email by i will contact you . Anybody. Thank you

[2018-12-17 07:29] souravlahoti opened #110 "[Cestore] Reactotron Debug true throwing error"
Product: [e.g. Cestore - Cezerin]
Your Purchased Code: 22706124

**Describe the issues**
When I set useReactotron: true. I get this error on android only. Below is the attached error:
It works fine on iOS Emulatore

**Screenshots**
<img width="429" alt="screenshot 2018-12-15 at 8 54 58 pm" src="https://user-images.githubusercontent.com/4952640/50072507-6f770180-01fb-11e9-9505-0973da85a2d3.png">

*

[2018-12-17 07:32] souravlahoti opened #111 "Sample css for a PICKER / DropDown implementation"
Product: [e.g. Cestore - Cezerin]
Your Purchased Code: 22706124

Is there any sample for implementing a drop down in the mobile-ui for react native app.
When I use the default <Picker> UI on android is fine but iOS its getting distorted.

[2018-12-17 07:39] souravlahoti opened #112 "[Cestore] need help to connect React native app with local development server"
Product: [e.g. Cestore - Cezerin]
Your Purchased Code: 22706124

**Describe the issues**
I know we need to change the host name from localhost to some ip or domain name.
I changed my alias of localhost to mlocal.store on my Mac and then tried connecting my local react native app but it shows cannot connect to the server

**Steps**
Open /etc/hosts
127.0.0.1   mlocal.store

In mobile code
common/Con

[2018-12-17 08:45] minhtruong315 commented on #112
Hi @souravlahoti Did you install website successfully? You can use your ip to connect.
for example:
Cezerin: {
url: 'http://192.168.1.4:3001'
}

[2018-12-17 09:09] souravlahoti commented on #112
Yes, I am able to connect to it @minhtruong315. But I am not able to fetch images from the local sever but the images can be seen in the admin portal
<img width="427" alt="screenshot 2018-12-17 at 2 38 32 pm" src="https://user-images.githubusercontent.com/4952640/50077122-79076600-0209-11e9-86b9-35a0dd223634.png">
<img width="427" alt="screenshot 2018-12-17 at 2 38 08 pm" src="https://user-images.

[2018-12-17 09:22] minhtruong315 commented on #112
Can you try to edit domain in here? https://localhost:3000/admin/settings

[2018-12-17 12:10] souravlahoti commented on #112
@minhtruong315 Thanks it worked. For others if your domain is to configured to direct to 3000 port please add domain as http://192.168.56.1:3000

[2018-12-17 14:18] theleolife commented on #96
Ok, I will try it on real devices soon. When customer account will be implemented? @minhtruong315

[2018-12-17 20:16] alaradi2006 commented on #90
give me your email will send it to you

[2018-12-17 23:32] ReneBenavides opened #113 "[ListApp] Problem with integration"
Required Info (please complete the following information):

Product: ListApp
Your Purchased Code: 872b84ee-73ae-49e6-8201-277d7c95c138

Description
the app crash when I click on any category

![whatsapp image 2018-12-17 at 17 16 25](https://user-images.githubusercontent.com/45953521/50122240-276ad580-0221-11e9-9d70-cbdff16eb578.jpeg)

[2018-12-18 00:06] minhcasi commented on #111
Hi, you can try some lib like this one - https://github.com/expo/react-native-action-sheet - thank you!

[2018-12-18 00:06] #111 closed

[2018-12-18 04:13] thangvo9x commented on #113
Thanks for your feedback. Send me your Config.

[2018-12-18 04:15] thangvo9x commented on #105
Hi. let us know if it works. Hearing from you. Thanks

[2018-12-18 04:17] embtelsolution opened #114 "[ListPro] How to connect app with my website?"
**Mandatory Info (please complete the following information):**
 - Product: ListPro - Listing Directory React Native template - ListingPro WP Theme
 - Your Purchased Code: f7712720-bc09-43c5-84c0-79393d25c9b0

**Describe the issues**
I have run the source using expo but i'm not seeing listing from my website but some random listing. not sure from where it is coming.

[2018-12-18 04:48] embtelsolution commented on #114
Questions 3: how to generate these?

consumerKey: 'ck_0e3ca960f308cf1a1a08a44bc090dd4744167d78',
    consumerSecret: 'cs_f64148bb849212eebbae70d2262e4e38a330bb59',

[2018-12-18 05:10] embtelsolution commented on #114
Question 4: How to build an app for iOS?

I tried following the steps here -> https://inspireui.github.io/listpro/docs/delivery

But now sure where to run expo build:ios command.

[2018-12-18 05:14] embtelsolution commented on #114
Question 5: After I login there it is not redirecting anywhere.

After I sign up it's not redirecting anywhere. :(

[2018-12-18 06:57] samber91 commented on #98
Still need chat feature. Need a tutorial asap please. My business needs it

On Sat, Dec 15, 2018 at 2:19 AM minhcasi <notifications@github.com> wrote:

[2018-12-18 07:42] Sandeep6699 commented on #105
Yes

Thanks a lot !!

Sign up is working now.

[2018-12-18 07:43] #105 closed

[2018-12-18 07:46] thangvo9x commented on #114
Hi. you can connect to your website in Config.js file in Common folder.(Common/Config.js)
2. Change it in Common/IntroData
3. They are generated in your Website , WooCommerce->Setting->Advanced. and create it
4. you followed right link. in that link, there has a link for publish app to appStore/ gg play
5. Please update latest version, remove app and re-install it again.

[2018-12-18 07:47] thangvo9x commented on #90
thang@beostore.io
Please note your issue such as marked important :)

[2018-12-18 12:16] alaradi2006 commented on #90
i tried to send you email i got this problem

Your message wasn't delivered because the destination email system rejected your message for security or policy reasons. For example, the email address might only accept messages from certain senders, or it might not accept certain types of messages, like those larger than a specific size.

[2018-12-18 13:49] ReneBenavides commented on #113
This is my config
[Config.js.zip](https://github.com/inspireui/support/files/2690732/Config.js.zip)

[2018-12-18 15:03] mustafamsy opened #115 "Error while building"
**Mandatory Info (please complete the following information):**
 - Product: BeoNews Pro - React Native mobile app for Wordpress
 - Your Purchased Code: 2a6e0632-d77f-4f7a-bb66-b1d5aa869ccd

**Describe the issues**
When I build on iOS using xcode, I get the following error:
error: Build input file cannot be found: '/Users/soso/Documents/my Apps/_Apps/alnoorclub/use this/BeoNews.2.9.0/beonews-pro/no

[2018-12-18 15:46] levi-beers commented on #115
Follow [this fix](https://github.com/inspireui/support/issues/38#issuecomment-441363876) from @minhcasi

[2018-12-18 16:56] mustafamsy commented on #115
@levi-beers Thanks! Solved

[2018-12-18 16:56] #115 closed

[2018-12-18 17:03] mustafamsy opened #116 "[BeoNews] Error while clicking on Featured/Sticky post"
Mandatory Info (please complete the following information):

Product: BeoNews Pro - React Native mobile app for Wordpress
Your Purchased Code: 2a6e0632-d77f-4f7a-bb66-b1d5aa869ccd

**Describe the issues**
When I click on the featured post. I get the following error:
TypeError: undefined is not a function (near '...items.map...')

This error is located at:
    in Indicator (at HeaderDetail/index.js

[2018-12-19 02:06] rianseven opened #117 "[BeoNews] replace the vidio tab menu with protfolio"
**Mandatory Info (please complete the following information):**
 - Product: [Beonews]
 - Your Purchased Code: [3fa55ee9-4eab-4612-b32f-11e100c23f46]

how to replace the vidio tab menu with protfolio
banner not showing

[2018-12-19 02:09] thangvo9x commented on #113
Okie. I'll check & reply you ASAP. Thanks

[2018-12-19 02:30] thangvo9x commented on #113
Try this source. let me know if it works.
https://we.tl/b-Lagc6Gq0SA
Thanks

[2018-12-19 02:43] minhtruong315 commented on #110
Hi @souravlahoti I fixed reactotron on android version, you can edit ReactotronConfig.js file like this

[code]

[2018-12-19 02:44] minhtruong315 commented on #110
import Reactotron from 'reactotron-react-native'
import { reactotronRedux } from 'reactotron-redux'

console.disableYellowBox = true
console.ignoredYellowBox = ['Warning: `flexWrap: `wrap``'];

const reactotron = Reactotron
  .configure({ host: "192.168.1.7" }) // controls connection & communication settings
  .use(reactotronRedux())
  .connect() // let's connect!
export default reactotron
[code]

[2018-12-19 06:39] ReneBenavides commented on #113
Thanks for help, I will try it and inform you.

[2018-12-19 10:42] smEunus opened #118 "[Mstore] Image sizes"
- MStore
 - 8f9c3eb8-e574-46e3-b01d-cb37dd34b676

App performance is too low because of image size.
 If i keep `ProductSize` `true` on `Config.js` image dose not load.
My current setting is....
[code]
### Woocommerce shifted their image setting on customizer and customizer has only one field to set image sizes, so the the below image from docs.mstore.io is outdated

<img width="1046" alt="assets_-

[2018-12-19 11:53] minhcasi commented on #100
Hi, please download the latest app builder from - https://shrtm.nu/LwyY - thank you!

[2018-12-19 11:53] #100 closed

[2018-12-19 15:59] mustafamsy commented on #116
Any reason why this is happening?

[2018-12-19 18:49] #103 closed

[2018-12-19 18:50] agriffyn opened #120 "How can I configure my wordpress version of Mstore Multi Vendor to look the same on mobile browser as it does within the app?"
I would like to configure my wordpress site of Mstore Multi Vendor to look like the screenshots of the Mstore Multi Vendor IOS app? I do not want the site to just look like the dokan theme, how can I change this to look like the Mstore app but for mobile web? Thank you.

[2018-12-20 01:53] talwinder1508 opened #121 "BeoNews - When going from Category List screen to Post list screen, First post doesnt load in right place for Android devices"
- BeoNews

**Describe the bug**
When going from Category List screen to Post list screen, First post doesn't load in the right place for Android devices
<img width="757" alt="category list" src="https://user-images.githubusercontent.com/14082839/50258947-e4426b00-03b6-11e9-8a30-34c79a4b63a2.png">

[2018-12-20 02:31] minhcasi commented on #121
Hi, could you provide more detail of your purchased code or screenshot of the purchase - https://help.market.envato.com/hc/en-us/articles/202822600-Where-Is-My-Purchase-Code-

Then, please also share your config.js file then we could help for debugging the issue, please also try with another Android device as it may not support for Android below 6.x
Thank you!

[2018-12-20 02:31] #121 closed

[2018-12-20 07:10] luyx2412 commented on #107
Hi levibeer, thanks for your feedback. We will try to improve the issue with next version.
Thanks

[2018-12-20 07:10] #107 closed

[2018-12-20 07:11] #97 closed

[2018-12-20 17:30] mustafamsy commented on #116
`/** @format */

import Constants from './Constants'

export default {
  /**
   * There are so many choices from the marketplace mobile app, we thank you for choosing us and purchased the BeoNews products, please follow the step bellow to quickly set up your app
   * The detail document from: https://beonews.inspireui.com
   *
   * Step 1: Change your Wordpress site URL
   * Please make sure you h

[2018-12-20 17:58] mustafamsy opened #122 "[BeoNews] Error while building for Android"
Product: BeoNews Pro - React Native mobile app for Wordpress
Your Purchased Code: 2a6e0632-d77f-4f7a-bb66-b1d5aa869ccd

**Describe the issues**
When running the following command: react-native run-android --variant=release
After installing for sometime, I get the following error:

[code]

[2018-12-21 05:24] lpzczar opened #123 "ListPro - how to order by listings near your location?"
I need the listings ordered by nearby to user. Since they appear ordered according to the recent ones that were added. And we need the near ones to appear.

[2018-12-21 05:36] lpzczar opened #124 "[ListPro] Bugs report"
**Required Info (please complete the following information):**
 - Product: [List Pro]
 - Your Purchased Code: [ a07721f8-1944-4edb-949d-2733c0f4a33e]
(we may not reply if you are not our customer)

**Describe the bug**
Hi. First of all, thank you very much for reading my email. The reason for my email is to report a couple of errors and request support to solve them.

1. I need the listings ordere

[2018-12-21 12:11] minhcasi commented on #117
Hi, sorry for a late response

You can replace the video tab by edit the Navigation/index.js and replace the video tab from createBottomTabNavigator

Please share the detailed screenshot where the banner not showing, if it happens on the Homepage, please check the HorizonLayout from common/config.js

[2018-12-21 12:13] minhcasi commented on #122
Hi, could help to check the related issue from https://github.com/inspireui/support/issues/21

[2018-12-21 12:15] minhcasi commented on #123
Hi, you can refer to the source code from the Map screen, we are loading the nearest Listing on the map, you can use similar approach for the homage page Listing - thank you!

[2018-12-21 12:15] #123 closed

[2018-12-21 12:17] minhcasi commented on #124
Hi, thank you for report detail issue and screenshot, we will check and update later on this ticket - thank you!

[2018-12-21 12:17] #114 closed

[2018-12-21 17:00] lpzczar commented on #123
Could you tell me how to do it step by step? thank u!

[2018-12-21 17:00] lpzczar commented on #123
Thank you. I urgently need to solve these problems because we are delaying work a lot.

[2018-12-21 17:01] lpzczar commented on #124
Thank you. I urgently need to solve these problems because we are delaying work a lot.

[2018-12-21 17:03] alaradi2006 opened #125 "[MStore] subcategories not avaliable in mobile app photo"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
i made main category called grocery and made subcategories called
baby world
pet food
dairy products

in mobile app if i click on grocery it showed all products

[2018-12-21 17:06] alaradi2006 commented on #125
in side menu theres subcategories titles but in case you click on grocery shortcut it will take you to all prodcuts together
it has to be click on grocery then you will see thumbnail photo for baby world , pet food
then you click on baby world and then you will see all products regarding baby world it has to be like this

[2018-12-21 19:19] mustafamsy commented on #122
I followed exactly what is there. I did not fix the issue for me. That was related to xcode. Plus I am building for Android.

[2018-12-22 11:43] minhcasi commented on #90
@alaradi2006 try to upload the js file to cloud (dropbox) or past it to gist

[2018-12-22 11:45] minhcasi commented on #108
Thank you @levi-beers we will check the solution for this feature

[2018-12-22 11:47] minhcasi commented on #109
Hi @samber91 could you explain what is the promotions images, any screenshot? We guess it is the banner from the HorizonLayout from the config file ?

[2018-12-22 11:53] alaradi2006 commented on #90
can you give my skype account to add you as it will be more easy to fix the issues and send the files

[2018-12-22 18:16] alaradi2006 commented on #90
another problem
if i sign up as vendor in mobile app
the registration became as subscriber in wordpress user list

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: minhcasi <notifications@github.com>
Sent: Saturday, December 22, 2018 2:43:42 PM
To: inspireui/support
Cc: alaradi2006; Mention
Subject: Re: [inspireui/support] [Mstor

[2018-12-23 02:46] minhcasi commented on #125
Can you share the screenshot? Thank you!

[2018-12-23 17:06] mustafamsy commented on #122
@luyx2412 any thoughts?

[2018-12-23 17:06] mustafamsy commented on #116
@minhcasi any thoughts?

[2018-12-23 18:15] smEunus commented on #118
Hi, `Constants.Layout.Card` is showing 3 product. Can I increase or decrease the number? A simple hint please .

[2018-12-23 20:07] simomed13 opened #126 "[Beonews] 'RCTOneSignalExtensionService' issues"
<img width="1011" alt="capture d ecran 2018-12-23 a 21 02 31" src="https://user-images.githubusercontent.com/26978992/50387181-aadf6780-06f6-11e9-9e52-4c633d928454.png">

[2018-12-24 00:58] NdeneSENE opened #127 "[MStore] Multi vendor app photos and products are not displayed"
**Mandatory Info (please complete the following information):**
 - Product: [MStore]
 - Your Purchased Code: [
2dbd0a77-d295-4e72-8826-e57b6e4f5421
]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="353" alt="capture d ecran 2018-12-24

[2018-12-24 07:00] #113 closed

[2018-12-24 07:00] #98 closed

[2018-12-24 07:01] #90 closed

[2018-12-24 07:03] reconshield opened #128 "[Listapp]thumbnail image not display"
after update plugins and myListing theme.i cant view thumbnails image in main page and description not display correctly. why? its that API issue?

[2018-12-25 00:51] #104 closed

[2018-12-25 00:54] minhcasi commented on #126
Hi, could you help to format the ticket and provide more detail info so that we can understand more about the issue, example: you purchased code, product...

This solution could be related, please help to check - https://beonews.inspireui.com/faq-and-troubleshooting#fix-cfbundleidentifier-does-not-exist

Thank you!

[2018-12-25 00:54] #126 closed

[2018-12-25 00:56] minhcasi commented on #99
Noted for next release improvement - thank you!

[2018-12-25 00:56] #99 closed

[2018-12-25 00:58] minhcasi commented on #101
Fixed on next coming release - thank you!

[2018-12-25 00:58] #101 closed

[2018-12-25 00:59] minhcasi commented on #102
Hi, i'm sorry for missing reply, could you help to share your config.js file so that we could help to quick checking

[2018-12-25 01:00] minhcasi commented on #106
Fixed on next version release - thank you!

[2018-12-25 01:00] #106 closed

[2018-12-25 01:03] minhcasi commented on #95
Dear @rshah92 i'm sorry for the delay response, this issue is caused by missing the .babelrc setting, please help to try running the project from the fresh download package, then it will work - let us know your checking and reopen the ticket if it is not worked - very best!

[2018-12-25 01:03] #95 closed

[2018-12-25 01:10] minhcasi commented on #109
Hi, please close the ticket as there is no response - thank you!

[2018-12-25 01:10] #109 closed

[2018-12-25 01:10] #110 closed

[2018-12-25 01:11] #112 closed

[2018-12-25 01:13] minhcasi commented on #116
Hi, the problem on your config the root.url is not correct that it could not load the data to populate from the homepage.

Please make sure the website URL is working.

Thank you!

[2018-12-25 01:15] #117 closed

[2018-12-25 01:19] minhcasi commented on #122
@mustafamsy

Please try this cmd if you use for debug mode: react-native run-android

For generate the apk, go to android folder and run: ./gradlew assembleRelease

You can also try other solution by running fresh example project, instead of the beonews project, refer detail (https://facebook.github.io/react-native/docs/getting-started.html) and figure out the root cause problem from your setting

[2018-12-25 11:46] mustafamsy commented on #122
I used both. Same error. I didn't play much with core code. I followed exactly what is in the documentation. The app build fine for iOS but fails for Android builds with error above.

[2018-12-25 11:49] mustafamsy commented on #116
You should be able to know that the app works. I just mentioned that the app fails when pressing the featured/sticky post in iOS App.

I replaced the website URL intentionally for confidentiality reason with dummy website. The app works fine but as I mentioned, the error is only when I press the sticky post in iOS. I hope you understand there is no issue with website URL.

[2018-12-25 16:54] NdeneSENE commented on #127
and yet I manage to recover the categories of my site and some infos. I do not know or edit the images on the config.js part. Please help me this is an urgent one that's why I bought this script.
<img width="1116" alt="capture d ecran 2018-12-25 a 16 44 05" src="https://user-images.githubusercontent.com/25567666/50424910-cd8f8e80-0864-11e9-95de-1f45c22fa7ac.png">

Can you help me to make the corre

[2018-12-25 22:07] kiamoz opened #129 "[Mstore] how to load config.js from url with fetch ?"
Dear support , I need to load color.js and config.js dynamically from server json . how to do it ?
thank you very much .

[2018-12-26 00:33] rshah92 commented on #95
Yes, its worked now thanks :)

On Tue, 25 Dec 2018, 4:03 am minhcasi <notifications@github.com wrote:

[2018-12-26 01:14] reconshield commented on #128
![simulator screen shot - iphone x - 2018-12-26 at 09 12 08](https://user-images.githubusercontent.com/25501496/50428038-78985a80-08ee-11e9-9e17-87df6f95548f.png)
![simulator screen shot - iphone x - 2018-12-26 at 09 12 23](https://user-images.githubusercontent.com/25501496/50428040-7f26d200-08ee-11e9-812d-80231f1ed7d7.png)

Thumnail and listing details not display

[2018-12-26 02:10] thangvo9x commented on #128
please send us your config file

[2018-12-26 02:11] reconshield commented on #128
[Config.js.zip](https://github.com/inspireui/support/files/2709231/Config.js.zip)

[2018-12-26 02:30] luyx2412 commented on #127
Hi @NdeneSENE, Can u send me your Config.js file?

Thanks

[2018-12-26 05:17] Pavithran10 opened #130 "[ListApp]Hi, I’ve an issue on maps. It doesn’t works properly because, it have a some loading splash issue. while opening map at first time it has loading into splash screen again reload into homepage. Otherwise, while touch the screen or zooming the map white blank screen will appear. this types of issues are all happening at the first time opening the app. Whenever the app is loaded a fresh the loading flash issue arises, and it works better when the app is launched from memory. When we close the app and try again. similar loading error is coming."
**Required Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any oth

[2018-12-26 09:39] minhcasi commented on #130
Hi, could you help to format the ticket, provide your purchase code, and explain the detail / screenshot - thank you!

[2018-12-26 09:39] #130 closed

[2018-12-26 15:05] cdalsoniii opened #131 "[Mstore Multivendor] Facebook Login not working for Mstore"
**Required Info (please complete the following information):**
 - Mstore MultiVendor
 - Your Purchased Code: 9421ca90-2f96-48bd-82b8-fe39f4b5c3c0

**Describe the bug**

Greetings,

I am currently experiencing some interesting issues with my attempt to actually accomplish a successful facebook login request. I cannot seem to be able to make a successful

request. At this point the facebook login fe

[2018-12-26 15:06] cdalsoniii opened #132 "[Mstore Multivendor] Jest unable to test components"
**Required Info (please complete the following information):**
 - Product: Mstore Multivendor
 - Your Purchased Code: 9421ca90-2f96-48bd-82b8-fe39f4b5c3c0

Is there any supper for Jest testing? I cannot seem to run Jest tests on any of my components. Even the simple new components fail with the following error:

Jest encountered an unexpected token This usually means that you are trying to import

[2018-12-26 16:47] upandya538 opened #133 "[CeBuilder] when i going to customization i got error (can not get cetegory and tag)"
**Mandatory Info (please complete the following information):**
 MStore Pro - Complete React Native template for e-commerce
MStore Pro - Complete React Native template for e-commerce
Regular License
Purchase code: e270ed9b-9841-4ab4-9ca4-dce01ecdd14e

**Describe the issues**
can not get category and tag error cebuilder

**Screenshots**
If applicable, add screenshots to help explain your problem.
!

[2018-12-26 17:15] mustafamsy commented on #122
Now, I am getting different error other than above one.

[code]

[2018-12-26 20:14] ataiwo473 opened #134 "[MStore] displaying product issues"
here is the file u asked me to send
[Config.js.zip](https://github.com/inspireui/support/files/2710822/Config.js.zip)

[2018-12-26 20:44] alaradi2006 opened #135 "[MStore MultiVendor] how to setup onesignal notification"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore, ListApp]
 - Your Purchased Code: [get from https://codecanyon.net/downloads]
(we may not reply if you are not our customer)

**Describe the issues**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any

[2018-12-27 00:49] minhcasi commented on #131
Hi, There is still missing the attached, could you help to upload it to Cloud ?

[2018-12-27 00:51] minhcasi commented on #133
Hi, could you help to share the config from Setup page here (the website and consumekey..)

[2018-12-27 00:53] minhcasi commented on #134
Hi, could you help to share the AppConfig.json as well, we could not debug without this setting - thank you!

[2018-12-27 00:56] minhcasi commented on #135
Noted for update the video guide, it will be similar with - https://www.youtube.com/watch?v=6KRh7fusdIc

[2018-12-27 01:00] minhcasi commented on #129
Hi, you can change it to the .json file and fetch from the network, we have marked as the Request feature to investigate the solution to upgrade it on next version release - thank you!

[2018-12-27 01:36] cdalsoniii commented on #131
There are no attachments. The error code is enough.

[2018-12-27 01:50] ataiwo473 commented on #134
[AppConfig.json.zip](https://github.com/inspireui/support/files/2711167/AppConfig.json.zip)

[2018-12-27 02:42] luyx2412 commented on #132
Hi @cdalsoniii Now i do not support Jest. And we do not plan using Jest in the future. You can read the document to use Jest https://jestjs.io/docs/en/getting-started in your app.

Thanks

[2018-12-27 02:42] #132 closed

[2018-12-27 02:45] luyx2412 commented on #122
Hi @mustafamsy Can you open Android Studio to build your app which help resolve some issue related.

Thanks

[2018-12-27 03:40] reconshield commented on #128
any update?

[2018-12-27 06:07] kiamoz commented on #129
thank you , but   I need  that  and I  Have  some  question to  do   it by myself ,

for Color.js  it's easer  than  config.js . I  wrote  a function  in confiig.js

export const response  =  async () => {
  const response = await fetch(state._WEB_SERIVICE_URL+'get_config');
  return response.json();
}

to export  the json , when I want to use it I have to use in .then() block  to access the data

[2018-12-27 11:48] vkhalids opened #136 "It works fine with expo but the issue i have only on pro version"
fixed!

[2018-12-27 12:21] vkhalids commented on #136
this is the cmd message when i try to to start..

![cmd](https://user-images.githubusercontent.com/35214886/50480067-ee81ec00-09ea-11e9-89f3-ca614077342a.png)

[2018-12-27 12:32] vkhalids commented on #136
I tried for a new project file i call it r2

still same error!

![Uploading cmd.png…]()

[2018-12-27 12:57] Pavithran10 commented on #130
Can I give purchase code here itself?  Is it not public forum ?

I have attached error video.
[err video.zip](https://github.com/inspireui/support/files/2712465/err.video.zip)

[2018-12-27 22:54] NdeneSENE commented on #127
Hello @luyx2412 I'm sending it to you email
but it does not happen. Thanks

[2018-12-28 02:16] #136 closed

[2018-12-28 04:46] reconshield opened #137 "ListApp"
in next update kindly consider this suggestion

1) when updating react native files for bugs troubleshoot, please separate bugs solved files separately.
when you are updating or solve bugs, new errors /bugs appear. Listapp not stable and keep giving errors. most of buyers give up on this template since never-ending bugs.

2) complete video/installation documetation

3) Create live chat support

4)

[2018-12-28 06:50] mustafamsy commented on #122
Hi @luyx2412 Is there any guide to follow for building your app using Android Studio?

[2018-12-28 06:58] kiamoz opened #138 "[MStore] What's the best method to EXPORT APK"
it's better to export it through android Stadio  ?  or easier to export it via cammand line  , ( I have OSX )
and if you have video please give me that how to easy export andorid in osx ,. thank you

[2018-12-28 07:09] luyx2412 commented on #129
Hi @kiamoz , Please read the article to understand more about async await and promise. https://medium.com/@bluepnume/learn-about-promises-before-you-start-using-async-await-eb148164a9c8

Thanks

[2018-12-28 07:12] kiamoz commented on #129
thank you sir, and just let me know it's possible to load Color.js and export it to use on all pages  with fetch  ?

[2018-12-28 08:01] luyx2412 commented on #138
Hi @kiamoz The easiest and best method to export APK file is command line. Please follow the document https://facebook.github.io/react-native/docs/signed-apk-android#generating-the-release-apk

Thanks

[2018-12-28 08:10] luyx2412 commented on #129
Yep of course @kiamoz, but now we do not support load color from api, and we do not have any plan to support this feature.

Thanks

[2018-12-28 09:35] minhcasi commented on #137
Thank you for your suggestion!

[2018-12-28 09:35] #137 closed

[2018-12-28 09:35] #138 closed

[2018-12-28 12:02] minhcasi commented on #134
@luyx2412 please help to investigate

[2018-12-28 12:02] minhcasi commented on #133
Hi, could you help to check the latest v.0.20, please note it will only work on Expo version and all the plugins is install from the Wordpress site ( https://docs.mstore.io/basic-app-setting#wordpress-plugins-install ) we will update the document for this change – thank you!

[2018-12-28 16:19] cdalsoniii commented on #131
Any update on this?

[2018-12-28 18:01] lpzczar commented on #124
Why did they close the case? I still do not receive an answer to my ticket.

[2018-12-28 23:14] Jeison12 opened #139 "[ListApp] clicking on the heart of a post does not update in the other views"
Product: ListApp
My Purchased Code: ccded53c-5f90-41ff-8c6a-fac4faae1017

Clicking on the heart of a post does not update in the other views

[2018-12-29 03:53] talwinder1508 opened #140 "[BeoNews] - Unable to Login/Register"
BeoNews

Here is my Config.js file

[Config.txt](https://github.com/inspireui/support/files/2716046/Config.txt)

[2018-12-29 06:11] minhcasi commented on #124
sorry - is it close by mistake ? @thangvo9x

@lpzczar we are updating new version and will test on your issues and update the status

[2018-12-29 06:14] thangvo9x commented on #124
Hi. Sorry for this. We're on holiday. We'll check & reply to you ASAP.
Thanks

[2018-12-29 07:11] luyx2412 commented on #122
Hi @mustafamsy now we do not any guide to use Android studio, you can looking for in the internet. Thanks

[2018-12-29 07:11] #122 closed

[2018-12-29 07:13] luyx2412 commented on #131
Hi please follow to template, update your attached and Config.js file.

Thanks

[2018-12-29 09:08] mustafamsy commented on #122
I build using Android Studio and I got the same error.

[2018-12-29 11:45] cdalsoniii commented on #131
![simulator screen shot - iphone x - 2018-12-29 at 06 30 09](https://user-images.githubusercontent.com/8814807/50537828-3f9cf780-0b33-11e9-8ccc-65e5bcab8e0d.png)

![img-0644](https://user-images.githubusercontent.com/8814807/50537945-2301bf00-0b35-11e9-99ed-17f2353005e1.JPG)

![img-0645](https://user-images.githubusercontent.com/8814807/50537946-2301bf00-0b35-11e9-9f99-4b3f94ed83f3.JPG)

One pictu

[2018-12-29 11:46] cdalsoniii commented on #132
Ok, if jest is not supported then how are we supposed to implement testing.

[2018-12-29 11:58] mustafamsy commented on #122
Problem is resolved after doing clean build.
But how can I change the app name when building for Android? It is shown as BeoNews?

[2018-12-29 12:28] Sandeep6699 opened #141 "[MStore Multi Vendor] Facebook Sign up not working correctly in Android Device"
Required Info (please complete the following information):

    Product: MStore Multi Vendor - Complete React Native template for WooCommerce
    Your Purchased Code: 2650646b-3b3d-49b0-a603-ee7dfce3a510
    Purchase Date:
    2018-10-09 10:18:09 UTC

Username : sandeep6699

**Describe the bug**
Hi,

I have managed to upload the app on google play store. But facebook login is not able to happen.

[2018-12-29 13:14] mustafamsy commented on #122
I found where is has to be change. Thanks

[2018-12-29 13:16] luyx2412 commented on #122
Great @mustafamsy , sorry about reply you late. Because today is big holiday in Vietnam.

Thanks

[2018-12-29 14:30] mustafamsy commented on #122
Is there any way to remove facebook login button?

[2018-12-29 14:52] cylvain opened #142 "List App + MyListing"
**Required Info (please complete the following information):**
 - Product: ListApp + Mylisting
 - Your Purchased Code: [6ea847b5-adea-4999-9866-831d659f3acc]
 - Your Purchased Code: [5dc5f0ca-b962-4fc9-b3f1-b09fd42b5be2]

**Describe the bug**
Hello,

I have two problems with the application list App and Mylisting.
I just redo my two sites with mylisting (I have two licenses)
the first site and app

[2018-12-29 18:52] theleolife opened #143 "Cestore registrer login"
**Required Info (please complete the following information):**
 - Product: CESTORE
 - Your Purchased Code: c81ce372-4552-4ba8-83ad-da1b13a9ac61

 I've been waiting the update of Cestore but it does not come with customer profile, I am trying to create on my own, when users log in or register is this create a bearer token on header?

can you explain how these login, register and social login method

[2018-12-30 13:50] heanglightman opened #144 "ListPro Installation Issue"
**Mandatory Info (please complete the following information):**
 - Product: ListPro
 - Your Purchased Code: 2c024c05-5c9e-40f9-9f20-92c616eb44ee

**Describe the issues**
The Installation Documentation is not clear enough for newbie like me. I can get Expo Cli up and running but now cannot install Yarn, I definitely a need clearer video instruction on how to install from beginning.

[2018-12-30 16:42] cdalsoniii opened #145 "Supported testing library?"
Required Info (please complete the following information):

Product: Mstore Multivendor
Your Purchased Code: 9421ca90-2f96-48bd-82b8-fe39f4b5c3c0
Is there any supper for Jest testing? I cannot seem to run Jest tests on any of my components. Even the simple new components fail with the following error:

Jest encountered an unexpected token This usually means that you are trying to import a file whi

[2018-12-30 16:43] cdalsoniii commented on #145
Is there a testing library your team recommends?

[2018-12-30 19:12] hamadatalaat opened #146 "[MStore] product image not working in home and i can not change header colors"
**Mandatory Info (please complete the following information):**
 - Product: Mstore
 - Your Purchased Code: 55668558-c73a-423a-a1c4-20e932089a74
(we may not reply if you are not our customer)

**Describe the issues**
product image not working in home and i can not change header colors or image size and change language menu does not appear

**Screenshots**
If applicable, add screenshots to help expl

[2018-12-31 01:54] reconshield opened #147 "[Listapp] thumbnail not display"
Hi there after i update mylisting 2.0 .then all plugins..my app thumbnails not working
please help asap. i already publish my app and now im facing this issue..i need run this business next year 2019..all plan stop since now i face this issue..**please dont tell its will fix in next version..**

[2018-12-31 03:04] ataiwo473 commented on #134
Hi Guys please help

[2018-12-31 07:04] minhcasi commented on #147
Hi mate, what do you expect when post this ticket, you can process the refund if it is not useful for you business, happy new year!

[2018-12-31 07:04] #147 closed

[2018-12-31 07:07] reconshield commented on #147
huh? when i asked why app not working at all..u was very rude.. i spend 108
usd for this app.. 59 for app and 49 for support . and im getting this
reply? refund back if can

On Mon, Dec 31, 2018 at 3:04 PM Minh Pham <notifications@github.com> wrote:

--

  If you have any enquiries, please do not hesitate to contact us. Thank
You!

   Best Regards,

Customer Service, Reconshield Network

Website:

[2018-12-31 07:18] minhcasi commented on #147
Did you count how many we help you to config for your site? It worth more than 180$, you can process the app 59$ from this link - https://help.market.envato.com/hc/en-us/articles/202821460-Can-I-Get-A-Refund-

[2018-12-31 07:20] reconshield commented on #147
this is not config all my config is fine.. its was all BUGS! which your
apps not working..not me. everyone get this error. i will make official
complaint to codecanyon..selling codes with full of bugs? can show me one
ur customer
successfully publish this app? when asking for help..support you reply me
with RUDE

On Mon, Dec 31, 2018 at 3:18 PM Minh Pham <notifications@github.com> wrote:

--

  If

[2018-12-31 07:32] reconshield commented on #147
are you going to update it? i saw ur support message..if got update from
your side.no problem..just cancel my refund.. i spend more time in this
app..hopefully u understand

On Mon, Dec 31, 2018 at 3:20 PM R.Suthesan <suthesan@gmail.com> wrote:

--

  If you have any enquiries, please do not hesitate to contact us. Thank
You!

   Best Regards,

Customer Service, Reconshield Network

Website: recon

[2018-12-31 08:10] kiamoz commented on #129
Dear @luyx2412  I follow that article and write this function , but when I call getColor() , I expect to get  data without requiring any callback function, but alert says : [Object][Object]

 async function getColor() {
  let respons = await fetch(state._WEB_SERIVICE_URL+'get_config');
  let responseJson = await respons.json();
  //alert((responseJson.main_color));
  return responseJson.main_color

[2018-12-31 08:45] Sandeep6699 commented on #141
Any update ?

[2018-12-31 11:01] luyx2412 commented on #145
Hi @cdalsoniii Currently we do not use testing and do not have any plan support testing library.

Thanks

[2018-12-31 11:01] #145 closed

[2018-12-31 14:59] minhcasi commented on #143
Hi @theleolife sorry for the late response as our team is on holiday, we will reply as soon as we can.

@minhtruong315 could you help to suggest to solution - thank you!

[2018-12-31 15:10] minhcasi commented on #146
Hi could you help to check if this solution work - https://docs.mstore.io/advance-customize-app/woocommerce-setting#product-display-sizes

[2018-12-31 15:12] minhcasi commented on #144
Hi could you let us know what is your issue when install yarn, you can also check the install guide from https://yarnpkg.com/lang/en/docs/install Thanks

[2018-12-31 15:13] minhcasi commented on #142
Hi @cylvain we will check this issues when back to work on Wed, happy new year :)

[2018-12-31 15:15] minhcasi commented on #141
Hi @Sandeep6699, this could related to some new policies update from Facebook that require some extra config from the Facebook App

We will check this issue when back to work on Wed, Happy new year :)

[2018-12-31 15:16] minhcasi commented on #140
We will check this issue when back to work on Wed, Happy new year :)

[2018-12-31 15:17] minhcasi commented on #139
Could you share your Expo link so that we could have a quick look - thank you!

[2018-12-31 15:18] #133 closed

[2018-12-31 18:45] hamadatalaat commented on #146
in woocommerce 3.3 they disable this function there is no place showing product images size i had to write images size with a function and still not working too.

[2018-12-31 18:46] trappat opened #148 "Cebuilder installer isnt working for beonews pro"
**Mandatory Info (please complete the following information):**
 - Product:  Beonews pro
 - Your Purchased Code: bb904f63-d575-4586-9afd-b7d283e357ff
(we may not reply if you are not our customer)

**Describe the issues**
I tred every folder and it still doesnt work
**Screenshots**
screenshots
https://ibb.co/jZxHSfQ

https://ibb.co/FhP8jgG
**Additional context**
Add any other detail logs about the

[2018-12-31 18:52] hamadatalaat commented on #146
and also i asked about language changer and logo size control

[2018-12-31 23:58] minhtruong315 commented on #143
Hi @theleolife
For register, you can use this api

POST http://localhost:3001/api/v1/sign_up
{
	"full_name":"test",
	"email":"abc123@gmail.com",
	"password":"test"
}

For Sign in

POST http://localhost:3001/api/v1/sign_in
{
	"email":"abc123@gmail.com",
	"password":"test"
}

For sign in with Facebook or Google

POST http://localhost:3001/api/v1/sign_in_social
{
	"token":"EAAFZC1tyjpzIBAIwyqpLsFnaI5

[2019-01-01 11:35] cylvain commented on #142
@minhcasi ok no problem, All my best wishes for this new year.

[2019-01-02 02:07] HoYeongSong opened #149 "[BeoNews] Can I change to categories order?"
Product: Beonews pro
Your Purchased Code: 9f64a72f-f65c-4ecb-89ab-c109e7863821
we may not reply if you are not our customer)

I want to change categories order to reverse. For example, [1-2-3] => [3-2-1].

and When I write korean in search component. It has some bug like screenshot.

Help me please!

<img width="297" alt="2019-01-02 11 02 49" src="https://user-images.githubusercontent.com/38429067

[2019-01-02 04:40] luyx2412 commented on #134
Hi @ataiwo473 i checked your Config.js file. Your category id do not right for your website, and category id in Config.js is our website. So please check your category id in your website and replace with old category id in Config.js file.

Thanks

[2019-01-02 07:42] minhtruong315 commented on #148
Hi @trappat Currently, CeBuild hasn't supported for BeoNews Pro yet. You can try with BeoNews Expo.
Thanks

[2019-01-02 07:59] thangvo9x commented on #142
hi @cylvain . Please let me know your email.

[2019-01-02 13:11] kaiser2 opened #150 "[MStore MV] Error on Login"
Hi

I am having error on login on mstore MV app. The signup works great . Attached is screenshot
![apperror](https://user-images.githubusercontent.com/8231858/50593334-fb588100-0ebd-11e9-926c-5fc6704cd969.jpg)

[2019-01-03 04:09] theleolife commented on #143
Thanks for your reply @minhtruong315 @minhcasi

I create a customer login and register but I had to change a lot of the api original the cezerin-client node module and probaly it will broken if I want to update after, I think your login and register seems to be easy and better if don't need change the original api cezerin-client.

How can I create a single page for customer see they orders after s

[2019-01-03 08:07] minhcasi commented on #143
We are checking the Profile feature with the Cezerin author to avoid the conflict from the core library, in the meantime - we don't have plan to implement yet, but will mark as the ticket as Enhancement feature in case there is no update from Cezerin :)

[2019-01-03 08:09] minhcasi commented on #131
Note and fixed, this will be released on this week - thank you!

[2019-01-03 18:56] tthamel opened #151 "ListPro api connection to listingpro wordpress site"
I am having issues connecting the wordpress site to the listPro app.

in the documentation you say to enable job_listing in the Rest API section of wordpress

on my wordpress i do not have job_listing, only listing, so i activated that.

when i go into config.js and enter in the root website and the api endpoint i dont get my content loading but the demo content.

[2019-01-03 22:45] ReneBena opened #152 "[ListApp] Help with some settins and bugs:"
Required Info (please complete the following information):

Product: ListApp
Your Purchased Code: 872b84ee-73ae-49e6-8201-277d7c95c138

Description
I need help with some settins and bugs:
1. If I enter with the tab bar the categories showns, but if I click on it keeps loading and doesn´t shown the posts.
2. How can I change the image in the categories for a customized one?  (the image is attached)

[2019-01-04 02:32] #102 closed

[2019-01-04 02:35] minhcasi commented on #146
Hi, please use the latest document from https://docs.mstore.io

This ticket is linked to https://github.com/inspireui/support/issues/118 we are checking the best solution to drop the image size - in the meantime you can display the image by update ProductSize > enable: false

[2019-01-04 02:40] #92 closed

[2019-01-04 02:41] minhcasi commented on #94
Hi, you can now use with Beonews expo with the CeBuilder from https://inspireui.com - thank you!

[2019-01-04 02:41] #94 closed

[2019-01-04 02:42] #76 closed

[2019-01-04 02:44] luyx2412 commented on #149
Hi @HoYeongSong , You can based on the article RTL to reverse https://facebook.github.io/react-native/blog/2016/08/19/right-to-left-support-for-react-native-apps.

- In App.js file
[code]

Thanks

[2019-01-04 02:46] luyx2412 commented on #108
Closed and plan in new version!

[2019-01-04 02:46] #108 closed

[2019-01-04 02:47] luyx2412 commented on #127
Hi @NdeneSENE, Sorry about reply late. We have a big holiday so far. Could you send me your Config.js file again?

Thanks

[2019-01-04 02:48] luyx2412 commented on #131
Closed and fixed with new version!

[2019-01-04 02:48] #131 closed

[2019-01-04 02:49] luyx2412 commented on #134
Closed! Please reopen when still exist the issue. Thanks

[2019-01-04 02:53] thangvo9x commented on #151
Please send you Config file, such as your email. We'll config it && send it. Thanks

[2019-01-04 02:53] #144 closed

[2019-01-04 02:54] #139 closed

[2019-01-04 02:55] #124 closed

[2019-01-04 02:56] thangvo9x commented on #141
Please refer @Sandeep6699

[2019-01-04 03:02] luyx2412 commented on #140
Hi @talwinder1508 , Please update new version to fix the issue.

Thanks

[2019-01-04 03:02] #140 closed

[2019-01-04 04:31] #151 closed

[2019-01-04 07:09] Sandeep6699 commented on #141
Any solution for this issue ?

[2019-01-04 08:27] trappat opened #153 "[BeoNews] pro cannot install. Please help"
**Mandatory Info (please complete the following information):**
 - Product: BeoNews Pro
 - Your Purchased Code: bb904f63-d575-4586-9afd-b7d283e357ff

**Describe the issues**
When I open in the simulator that the app gives me problems . I ran through xCode and terminal and neither work. I cant even test the default app settings. Image below

I've tried everything in the documentation! Yarn install,

[2019-01-04 09:24] souravlahoti opened #154 "[CeStore] RazorPay Integration"
purchase code is 22706124
CeStore - React Native App

Do we have support for RazorPay integration on the mobile app side?
RazorPay library  does not support expo. As per their Documentation below:-

The react native plugin is wrapper around native SDK, so it doesn't work with the tools like expo which doesn't support native modules.

[2019-01-04 19:00] lpzczar commented on #124
They closed the case again and did not answer anything. I need an answer and we have been several weeks and do not support me.

[2019-01-05 01:23] levi-beers opened #155 "[MStore PRO & Expo] Product Variations Not Working At All"
In the last few versions of Mstore (3.6.4, 3.6.5 & 3.6.6 -- the latest uploaded 27-Dec), product variations do not show up in cart after you add a product or in the WooCommerce order. You can replicate this issue on the MStore demo app. Try to purchase a "Medium - Short Sleeve Shirt Dress". The size doesn't show up in cart or on the order page -- it used to.

This is a huge core feature of WooComm

[2019-01-05 01:31] minhcasi commented on #124
@thangvo9x ?

[2019-01-05 01:32] lpzczar commented on #124
I will send an email the specifications we require for support.

[2019-01-05 01:34] minhcasi commented on #124
Sorry for the issues @lpzczar - please send to my email support@inspireui.com, you can reach to my Skype for further discussion: minhcasi - thank you!

[2019-01-05 01:36] lpzczar commented on #124
We will send the mail, I hope you answer me in detail. Or if you require an extra payment for support just mention it.

[2019-01-05 01:38] minhcasi commented on #155
marked as bug for the fixing - thanks @levi-beers

[2019-01-05 01:39] minhcasi commented on #154
Hi sorry the CeStore is not ready support for RazorPay - we will add this request to our backlog - thank you!

[2019-01-05 02:00] theleolife commented on #155
Hi @minhcasi I have the same bug on Cestore App MStore last app version, users can choose variation on product screen but variations are not being controlling by stock available or even this doesn't show up in cart or on the order page as @levi-beers  already said, even in my admin cezering backend variations doesn't show up on the orders details.

[2019-01-05 02:07] thangvo9x commented on #141
Hi. Please screenshot that issue help us. Thanks

[2019-01-05 02:40] levi-beers opened #156 "[MStore Pro & Expo 3.6.6] (Fix Included) Customer data (address, email, phone, etc) not automatically populating the Mstore checkout page when user logs in."
The customer data stored in Wordpress/WooCommerce, specifically the customers address, phone, email and other fields are not populating the Mstore checkout page as it used to. The fields show up with no data even though there is data stored in WooCommerce for the specific user.

<img width="354" alt="screen shot 2019-01-04 at 9 38 48 pm" src="https://user-images.githubusercontent.com/16378407/5071

[2019-01-05 02:44] levi-beers commented on #156
Reactotron shows the following
<img width="954" alt="screen shot 2019-01-04 at 9 44 01 pm" src="https://user-images.githubusercontent.com/16378407/50719449-eb7da000-1069-11e9-8d43-6719dec6b72c.png">

[2019-01-05 02:50] levi-beers commented on #156
It looks like AddressRedux.js on line 32+ is hard coding the address, state and other info to "" (null).

[2019-01-05 04:31] sankar2389 commented on #154
@minhcasi We already integrated Razorpay gateway in Cezerin & Web Client. All we need is support for expo Mobile Client (like this https://www.youtube.com/watch?v=uTxvwgG9M3s). Please guide us.

![screen shot 2019-01-05 at 9 50 11 am](https://user-images.githubusercontent.com/10666209/50720311-9aed5d80-10d0-11e9-97e8-612b6c8c10f5.png)
![screen shot 2019-01-05 at 9 51 07 am](https://user-images.git

[2019-01-05 09:32] minhcasi commented on #153
Hi, we could help to remote via teamviewer to help to resolve it quickly - please share the account from 9am-4pm GMT+7 from Mon-Fri - thank you!

[2019-01-05 10:01] minhcasi commented on #154
Noted for further investigating - https://app.intercom.io/a/apps/xro9xnfd/inbox/inbox/2664005/conversations/20235840234

[2019-01-05 10:08] hamadatalaat commented on #146
thanks for your reply
in this link
https://docs.mstore.io/~/drafts/-LJC5tEPd8BLT3fsljHG/primary/basic-app-setting#wordpress-plugins-install
i can not open what in it tell me "
Restricted access

The access to this page is restricted.

Sign in to an account with required permission

On Fri, Jan 4, 2019 at 4:35 AM Minh Pham <notifications@github.com> wrote:

[2019-01-05 10:54] sankar2389 commented on #154
Added Sourav +

On Sat, Jan 5, 2019 at 3:31 PM Minh Pham <notifications@github.com> wrote:

[2019-01-05 12:11] menzer2015 opened #157 "[ListApp] Cache Issues & Login Issues"
**Required Info (please complete the following information):**
 - Product: ListApp - MyListing
 - Your Purchased Code: 1d8d4ae7-****-44fa-****-a869**764**83

(we may not reply if you are not our customer)

**Describe the bug**

Hi guys, fantastic plugin, but I have an issue, when I login using my WP account it asks for me to enter my details again and then logs in after the second time (I am  not

[2019-01-05 13:58] luyx2412 commented on #149
Hi @HoYeongSong The easiest way to reverse your category list is reverse `categories` value https://www.geeksforgeeks.org/javascript-array-prototype-reverse/

In `Container/Category/index.js` --> in `renderContent` function you will see `categories`. Using the reserve function look like the article to reverse your category.

<img width="664" alt="screen shot 2019-01-05 at 8 55 03 pm" src="https://

[2019-01-05 15:51] jig0009 opened #158 "CeBuilder error on building android app"
**Mandatory Info (please complete the following information):**
 - Product: [e.g. MStore]
 - Your Purchased Code: [e270ed9b-9841-4ab4-9ca4-dce01ecdd14e]

**Describe the issues**
CeBuilder error on building android app

[20:51:30] Making sure project is set up correctly...
|[20:51:30] Error: Missing app.json. See https://docs.expo.io/
/[20:51:31] There is an error with your project. See above logs

[2019-01-05 20:52] tthamel opened #159 "[ListPro] Issues with connecting API"
LISTPRO
2c216a2e-84e1-4e1a-a315-0a032cf6e1a1

Having issues with setting up listPro to connect to a listingPro wordpress site,
errors on the map when loading a listing

[2019-01-05 23:42] tthamel commented on #159
![screenshot_20190103-202856 1](https://user-images.githubusercontent.com/3640250/50730365-79a46580-1100-11e9-99a1-b8047ebc2335.png)

it cant pull in features either. infact the api endpoint for features doesnt seem to existing on my wodpress website with listingPro theme

[2019-01-06 01:37] tthamel commented on #159
i also cant get features or faq to load correctly, it seems many of the API endpoints are either not lining up or dont exist.

[2019-01-06 07:49] sankar2389 commented on #154
@Minh from InspireUI <Minh@inspireui.intercom-mail.com> Have you checked
the source code? Can you guide us to integrate RazorPay in expo (CeStore
Mobile version) ?

On Sat, Jan 5, 2019 at 4:24 PM sankar r <sankar2389@gmail.com> wrote:

[2019-01-06 09:11] #149 closed

[2019-01-06 14:35] Jeison12 commented on #139
![screenshot_2019-01-06-09-28-37](https://user-images.githubusercontent.com/26725495/50737366-42809380-1196-11e9-84df-17830253cd8b.png)
![screenshot_2019-01-06-09-28-41](https://user-images.githubusercontent.com/26725495/50737367-42809380-1196-11e9-98a6-ab667026a249.png)

Hello, the link of the app is https://expo.io/@inspireui-demo/listapp-mylisting. When entering the details of Z Victoria and wh

[2019-01-06 14:40] Jeison12 opened #160 "[ListApp] Clicking on the heart of a post does not update in the other views"
Product: ListApp
My Purchased Code: ccded53c-5f90-41ff-8c6a-fac4faae1017

![screenshot_2019-01-06-09-28-41](https://user-images.githubusercontent.com/26725495/50737406-deaa9a80-1196-11e9-8805-cee052c37136.png)

![screenshot_2019-01-06-09-28-37](https://user-images.githubusercontent.com/26725495/50737420-08fc5800-1197-11e9-9c53-071755cafa9b.png)

Hello, the link of the app is https://expo.io/@inspi

[2019-01-06 15:33] alaradi2006 commented on #135
can you give me more clear guide as i dont understand the video

[2019-01-06 17:30] tthamel commented on #160
is this happening on the demo app or your personal app?

[2019-01-06 18:05] trappat commented on #153
Im ready when you are. Whats your skype or can you add me on skype "thetrappat" so we can communicate

[2019-01-06 18:05] trappat commented on #153
Im ready when you are. Whats your skype or can you add me on skype
"thetrappat" so we can communicate

On Sat, Jan 5, 2019 at 4:32 AM Minh Pham <notifications@github.com> wrote:

[2019-01-07 01:04] NdeneSENE commented on #127
Hello @luyx2412  I'll send it to you or ?

[2019-01-07 01:14] reconshield opened #161 "[Listapp] update for new version"
just checked latest version demo link.its working fine! only one issue have to solve, when user post listing get below error. kindly release new update asap..thanks!

![whatsapp image 2019-01-07 at 9 13 30 am](https://user-images.githubusercontent.com/25501496/50744270-a79ebc80-125c-11e9-9d64-07aa93faacc3.jpeg)

[2019-01-07 02:17] thangvo9x commented on #160
Hi @tthamel .Thanks for your value feedback. We've record & fix it in the next update.
Thanks .Good day

[2019-01-07 02:17] luyx2412 commented on #127
Hi @NdeneSENE Please send to email luyxtran264@gmail.com

Thanks

[2019-01-07 02:18] thangvo9x commented on #161
Hi. Calm down. @@ this is a minor issue when you config on your website.

[2019-01-07 02:32] thangvo9x commented on #159
Hi. Send me your Config.js file.

[2019-01-07 02:34] tthamel commented on #159
/** @format */

import Constants from './Constants'
import Languages from './Languages'
import Images from './Images'

const { listing, map, homeHeader, news } = Constants.Components

export default {
  AppName: 'BlueSkies',

  // default language from the Languages.js file
  Language: 'en',

  /**
   * Step 1: Change your Wordpress & WooCommerce site URL
   * Please make sure you have install all

[2019-01-07 03:08] minhcasi commented on #153
added you Skype, move this conversion to Skype - thank you!

[2019-01-07 03:08] #153 closed

[2019-01-07 04:21] tthamel commented on #159
Root url is https://blueskiesapp.com

On Sun, Jan 6, 2019, 6:32 PM thangvo9x <notifications@github.com wrote:

[2019-01-07 04:35] thangvo9x commented on #160
Hi. We've fixed urgent it . published again. Thanks for your feedback.

[2019-01-07 04:50] thangvo9x commented on #150
Hi. How are you today? Send us Config.js file if you've another issue. Thanks

[2019-01-07 04:51] thangvo9x commented on #152
Hi. send me your Config.js file , I'll config it, such as you should place your email here.
Thanks. Good day !

[2019-01-07 06:51] kaiser2 commented on #150
We can't set private replies here ? Can we ? BTW i just changed URLs and the API Keys in the config file.
Also when i change the splash screen i am getting a weird error.

[2019-01-07 06:53] thangvo9x commented on #150
can i send to email thang@beostore.io

[2019-01-07 07:10] kaiser2 commented on #150
Sent an email just now!

On Mon, Jan 7, 2019 at 12:23 PM thangvo9x <notifications@github.com> wrote:

--
Kind Regards
Kausar Ahmad

[2019-01-07 07:31] thangvo9x commented on #159
Please provide me your info in your admin, thang@beostore.io <mailto:thang@beostore.io> Thanks

[2019-01-07 07:34] tthamel commented on #159
<img width="1391" alt="screen shot 2019-01-06 at 11 33 54 pm" src="https://user-images.githubusercontent.com/3640250/50754735-8d88be00-120b-11e9-8231-904d4e5902ad.png">
<img width="1393" alt="screen shot 2019-01-06 at 11 33 45 pm" src="https://user-images.githubusercontent.com/3640250/50754736-8d88be00-120b-11e9-9840-91a261d8b15b.png">

Cannot give out Admin access to the wordpress site, but here

[2019-01-07 07:35] sohilchauhan opened #162 "[EvaStore] - My orders not showing"
- Product: EvaStore - Shopify mobile store by React Native and GraphQL
 - Your Purchased Code: aef7ca61-4f5a-4778-9e64-fa677e068071

When customer is logged in, they are not seeing orders in My orders section,
Although in Shopify they can see all orders.
But in app, Its showing
"You don't have any orders"

Can you look into this as soon as possible please?

[2019-01-07 07:36] thangvo9x commented on #159
Hi. i want checked on your admin backend. These screenshots isn't help more. @@
Thanks

[2019-01-07 07:37] tthamel commented on #159
what could be the issue configuration wise on the admin side?

[2019-01-07 07:38] ataiwo473 commented on #134
can you please just send me the config file that works for your team because i changed the categories tag like you said in the config,js please help

[2019-01-07 07:38] #160 closed

[2019-01-07 07:53] thangvo9x commented on #159
Hi, Try to replace this file in App/Components/MapView for resolve lat, longitude.

[2019-01-07 07:55] thangvo9x commented on #161
Hi. Calm down. This is a minor issue from your Config on your site. config with plugin JWT Authetication as document completely
Thanks

[2019-01-07 07:56] tthamel commented on #159
I will try that and see how it works.

What is the potential fix for all the other fields not populating?

On Sun, Jan 6, 2019, 11:53 PM thangvo9x <notifications@github.com wrote:

[2019-01-07 07:58] thangvo9x commented on #159
It's has from your website. MUST login could check it .
Thanks

[2019-01-07 07:59] tthamel commented on #159
Is there a way I can contact you without publicly posting admin access to
our site?

On Sun, Jan 6, 2019, 11:58 PM thangvo9x <notifications@github.com wrote:

[2019-01-07 07:59] thangvo9x commented on #159
I noted above comment about my email.

[2019-01-07 08:04] reconshield commented on #161
yes i have follow .htaccess configuration..anything i missed?

On Mon, Jan 7, 2019 at 3:55 PM thangvo9x <notifications@github.com> wrote:

--

  If you have any enquiries, please do not hesitate to contact us. Thank
You!

   Best Regards,

Customer Service, Reconshield Network

Website: reconshield.com <https://www.reconshield.com>  |  Helpdesk:
sales@reconshield.com
<https://www.facebook.com/reco

[2019-01-07 08:06] tthamel commented on #159
Did not see that.  Created an and in user for you and sent access to your
email

On Sun, Jan 6, 2019, 11:59 PM thangvo9x <notifications@github.com wrote:

[2019-01-07 08:53] thangvo9x commented on #159
thang@beostore.io . Send help me !

[2019-01-07 09:10] thangvo9x commented on #159
Hi. I can't access to your admin.

[2019-01-07 09:47] kaiser2 commented on #150
Hi It is fixed now . I changed the set cookietime out value to  483840000000 in WPUSerApi.js and it did the trick. Thanks to Thang for direction.

[2019-01-07 09:47] kaiser2 commented on #150
However I am facing issues in Signup Now.

[2019-01-07 10:02] #150 closed

[2019-01-07 12:00] minhcasi commented on #162
Hi Sohil, could you share your common/config.js file - thank you!

[2019-01-07 13:40] sohilchauhan commented on #162
Thanks for the quick response.
Find attached config file.

 Config.js
<https://drive.google.com/file/d/13lG37K_Iyp15GJ-Jp54J95dudWpUT2CM/view?usp=drive_web>

On Mon, Jan 7, 2019 at 5:30 PM Minh Pham <notifications@github.com> wrote:

[2019-01-07 16:56] Buuy opened #163 "Pre sales questions"
Hi there, I'd like some presales questions answering please.

1. Back-end - Powered by WP?
2. Do I need to install the Dolkan Plugin?
3. Link to the iOS Version on CodeCanyon?
4. Can I set the commission we take in the back end?
5. What exactly to you get after purchase - what files etc?
6. How to change splash screen, logo, colours, homepage icon etc of the app?
7. What about getting the .apk / d

[2019-01-07 16:58] minhcasi commented on #134
@luyx2412 - please provide the working config.js that map with his site - thank you

https://app.intercom.io/a/apps/xro9xnfd/inbox/inbox/2664005/conversations/20312237101

[2019-01-07 19:36] paniri opened #164 "[Listapp] events are not updated"
Hi,
I have Mylist theme and Lispapp,
My events do not appear in my app, only the event from the demo site.

There seems to be no synchronization of events between the WordPress site and Listapp

(I changed the root to my website url, Rows titles do change with Listapp manger..but not the content)

Thanks

[2019-01-07 22:19] ReneBena commented on #152
The file is attached. I need your help with a new problem apeared two days ago, the app doesn't show the places associated to the categories this funtion was working fine, but recently start to fail and the map doesn´t find the places, start to looking for but doesn't show the results.
![screenshot_2019-01-07-15-40-20](https://user-images.githubusercontent.com/21966519/50796610-ba82b280-1297-11e9-

[2019-01-08 02:14] thangvo9x commented on #164
Hi, Please provide your purchase code.
Thanks

[2019-01-08 02:33] luyx2412 commented on #155
Planned with new version. Thanks for your feedbacks.

[2019-01-08 02:33] #155 closed

[2019-01-08 02:53] thangvo9x commented on #159
Hi. I enabled features for your website

[2019-01-08 03:08] luyx2412 commented on #127
Hi @NdeneSENE , Can you invite me or create new account admin website with my email luyxtran264@gmail.com. I would like to check your setup.

Thanks

[2019-01-08 03:12] thangvo9x commented on #152
Hi. Your theme is listify. Please change in Config. Please disable WP_Debug mode on your website .
Thanks

[2019-01-08 03:51] luyx2412 commented on #162
Hi @sohilchauhan Can you provide me the example user account which have any orders via luyxtran264@gmail.com

Thanks

[2019-01-08 04:14] ReneBena commented on #152
Hi. The WP_debug is disable (attached).
![captura de pantalla 2019-01-07 a la s 22 11 30](https://user-images.githubusercontent.com/21966519/50809517-9fc93180-12c9-11e9-8e77-1566115e1b5c.png)

[2019-01-08 05:00] tthamel commented on #159
Still receiving this error which is attributed to line 96 and 97 in
ListingDetail.js:

const ids = post.features.join(',')
fetchFeaturesListing(ids)

I can see now the API endpoint is there when. I test in postman but again
non of the attributes seem to be mapping properly

On Mon, Jan 7, 2019, 6:53 PM thangvo9x <notifications@github.com wrote:

[2019-01-08 05:01] sohilchauhan commented on #162
Just sent email.

Sent from my iPhone

[2019-01-08 05:58] Buuy commented on #163
Hello - 13 hours still no reply???

[2019-01-08 06:14] HoYeongSong opened #165 "[BeoNews] AdMob isn't working!"
Product: Beonews pro
Your Purchased Code: 9f64a72f-f65c-4ecb-89ab-c109e7863821

export default class Index extends Component {
  componentWillUnmount() {
    AdMobInterstitial.removeAllListeners();
  }

  componentDidMount() {
    Config.AdMob.isShowInterstitial && setTimeout(this.showInterstitial, 3000);
  }

  showInterstital() {
    AdMobInterstitial.showAd(error => error && log(error));
  }

[2019-01-08 06:39] thangvo9x commented on #163
Hi. Please provide your purchase code.

[2019-01-08 06:41] Buuy commented on #163
These are Presales questions - Sorry I should of said.