[2019-11-21 13:14] rodrigoalves1901 commented on #1314
Any solution? I need urgent!

[2019-11-21 13:23] khaja25 opened #1437 "SDK Version Issue & Font File Missing"
![WhatsApp Image 2019-11-21 at 6 40 45 PM](https://user-images.githubusercontent.com/58036762/69341727-1c6dc000-0c90-11ea-85c8-39915c322c90.jpeg)
![WhatsApp Image 2019-11-21 at 6 41 25 PM](https://user-images.githubusercontent.com/58036762/69341746-24c5fb00-0c90-11ea-9489-16a6493e6b04.jpeg)

[2019-11-21 13:27] khaja25 commented on #1437
![WhatsApp Image 2019-11-21 at 6 41 11 PM](https://user-images.githubusercontent.com/58036762/69342033-b33a7c80-0c90-11ea-8ede-f5ea66f05d5a.jpeg)

[2019-11-21 13:52] rmsoftengine commented on #1410
Hello @minhcasi . Now it make sense. After making the changes it works fine with paypal.

[2019-11-21 13:52] #1410 closed

[2019-11-21 14:20] TheCellMC commented on #1405
Here is a link to a video of the bug: https://streamable.com/ipbbp
Notice how the correct post does not always open.

[2019-11-21 14:47] patrickubong commented on #1422
Thanks for the previous issue. It was really helpful. Your app is so easy to use and configure even for complete novice.
However, I have encountered some more issues
1. I have disabled Shipping and app works fine but when I get to checkout and select payment gateway, it gives me a blank white screen (my payment gateway is the one integrated on my woocommerce site)
2. When I enable caching through

[2019-11-21 16:01] concuacon commented on #1435
Hello, @priyanka284 I fixed it and will release it in the next version next week.

[2019-11-21 16:10] concuacon commented on #1425
Hello @ptyz030529 you can follow this link https://github.com/inspireui/support/issues/1406#issuecomment-555421606

[2019-11-21 18:49] ajnaf commented on #1436
@minhcasi i want to change the image from the backend when the app is on release mode is it possible?

[2019-11-21 18:52] ajnaf commented on #1436
![75407717_2235883640042378_1855264913677615104_n](https://user-images.githubusercontent.com/31656833/69367326-bb9ab380-0ca0-11ea-802a-232d376dfd1b.jpg)
i want to change these images

[2019-11-22 05:07] priyanka284 commented on #1435
Hey @concuacon, thanks a lot for your prompt reply. I will be waiting for the new release.

[2019-11-22 07:25] #1404 closed

[2019-11-22 07:42] vumanhsn97 commented on #1436
@ajnaf If you change image data without changing your url, the images in your home screen will change. But I dont find any website can publish image and change it without changing url. Thanks!

[2019-11-22 08:04] ptyz030529 commented on #1425
@concuacon It‘s ok for me， thank you so much

[2019-11-22 08:05] #1425 closed

[2019-11-22 08:15] concuacon commented on #1435
@priyanka284 Thank you.

[2019-11-22 08:17] #1377 closed

[2019-11-22 08:21] concuacon commented on #1364
@Riyashanke I have attached video screen recording and new source code to your mail, please check your mailbox.

[2019-11-22 09:18] Riyashanke commented on #1364
Sure @concuacon I’ll let you know

[2019-11-22 09:31] concuacon commented on #1405
@TheCellMC I test with the last version, it works fine.
https://drive.google.com/file/d/1G-oNG5FR47lwhLjmHBxjlGY3bj3qjmlj/view?usp=sharing

[2019-11-22 11:53] Usman1493 opened #1438 "[Fluxstore] Magento 2 Configurable Products are Getting Displayed Separately."
I have configurable Products on my Magento 2 Store (lifestock.pk), I want them to display on the basis of mass attribute, but the each simple product is getting displayed separately..
Please help me through this,,

[2019-11-22 12:31] BashBB opened #1439 "[Fluxstore-Vendor] - Debugging issues..."
1. **My issue is that I can't debug the app on any simulator (iOS and android)!**
Once I debug the following result will show;

`Launching lib/main.dart on iPhone 11 Pro Max in debug mode...

Compiler message:
../../../Development/flutter/.pub-cache/hosted/pub.dartlang.org/cached_network_image-1.1.3/lib/src/cached_network_image_provider.dart:42:24: Error: The method 'CachedNetworkImageProvider.loa

[2019-11-22 13:07] aldoyh opened #1440 "[FluxNews] - Build error"
---------

1. My issue:
I get this error when I build the iOS

Showing Recent Issues
Ignoring file /Users/aldoyh/development/flutter/bin/cache/artifacts/engine/ios-release/Flutter.framework/Flutter, missing required architecture i386 in file /Users/aldoyh/development/flutter/bin/cache/artifacts/engine/ios-release/Flutter.framework/Flutter (3 slices)

2. Screenshots issues:

3. Proof of my purchase

[2019-11-22 13:17] minhcasi commented on #1422
@patrickubong - thank you for the detail issues and kindly words.

I've forward to the team for double check the config and find out the bug, we will keep an update

Very best!

[2019-11-22 13:53] dutchessdad2017 commented on #1389
Does not work

On Thu, Nov 21, 2019, 7:11 AM Minh Pham <notifications@github.com> wrote:

[2019-11-22 14:17] khaja25 opened #1441 "Back Android is deprecated and has been removed from this package use BankHandler instead"
![Backandroid](https://user-images.githubusercontent.com/58036762/69433072-e8ae9b00-0d60-11ea-98c7-b89cc48cce15.jpeg)

[2019-11-22 17:48] Riorich opened #1442 "Fluxstore Woocommerce"
---------

1. My issue:
I'm new to flutter and I'm getting this error message and cannot compile the app. How could I fix it? Thanks.
**"The named parameter 'currentText' isn't defined.
Try correcting the name to an existing named parameter, or defining a new parameter with this name.**"
2. Screenshots issues:
![2019-11-23 (1)_LI](https://user-images.githubusercontent.com/39195214/69448265-8bc5db8

[2019-11-22 18:43] TheCellMC commented on #1405
@concuacon

Unfortunately, I am still running into this error. Here is a complete explanation of everything I did.
Downloaded BeoNews Pro from codecanyon
Unzipped the file
Opened terminal
Entered the command `cd (path to file)/beonews-pro`
Entered the command `yarn setup`
Entered the command `react-native run-ios`
Opened the BeoNews app in the Simulator.
Clicked on an article.
Noticed that the wro

[2019-11-23 01:28] wolvsky commented on #1439
I have the same problem.

[2019-11-23 02:03] cakebread opened #1443 "FluxStore WooCommerce Can't compile 1.5.8+1"
I've tried all channels (stable, beta, master and dev) and can't compile.
With the stable branch of flutter I get this error:

Resolving dependencies...                                           2.1s
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingT

[2019-11-23 02:04] cakebread commented on #1443
Proof of purchase:
https://gyazo.com/c2403f489d2546d7524ec400eb3ce20b

[2019-11-23 02:16] cakebread commented on #1443
Proof of purchase
https://burgerrecords.com/wp-content/uploads/2019/11/codecanyon.png

[2019-11-23 02:48] Alnaggar94 commented on #1418
It’s 4 days until now, any updates??

[2019-11-23 06:39] Riyashanke commented on #1364
Hi @concuacon Your new code worked as expected. But still there’s one small issue in the coupon while using payment gateway. I have attached a video link in the mail you can see the video for better understanding other than that everything is perfect sir. Kindly check your mail sir.

[2019-11-23 06:44] juniortimeline commented on #1406
@concuacon I appreciate but still not working. I remove my old src folder and I change from your link but review still the same. Thanks

[2019-11-23 08:08] Senior-Gamal opened #1444 "fluxstore - ios"
---------
My issue

1 - in screenshot
2 - we are need a clear instructions for integrating Facebook login and sms login for ios

Screenshots
1 5

My screenshot of the purchase product or my comment:
https://user-images.githubusercontent.com/27568540/66625373-4e512880-ebf4-11e9-9b30-c4a19f7d028d.jpeg

[2019-11-23 08:08] minhcasi commented on #1347
@maahiraanka  - we could not reproduce this bug as the default config, could you help to share your conf ig file (common/config.js and appconfig.json) - thank you!

[2019-11-23 08:20] minhcasi commented on #1438
@Usman1493 - could you attach your screenshot issues + config files so that we could check the root cause of the issue - thank you!

[2019-11-23 08:23] 007asom commented on #1361
Hi
when I open it from the android studio, it shows:
`
FAILURE: Build failed with an exception.

* Where:
Script 'D:\Projects\myApp\node_modules\@react-native-community\cli-platform-android\native_modules.gradle' line: 191

* What went wrong:
A problem occurred evaluating settings 'mstore'.

  The current character read is 'E' with an int value of 69
  Unable to determine the current character, it

[2019-11-23 09:05] minhcasi commented on #1437
@khaja25

Thank you for your reaching. Could you help to share the purchased screenshot from http://codecayon.net/downloads ? Just want to verify your proof of purchase, sorry for any inconvenience - thank you!

[2019-11-23 09:07] minhcasi commented on #1440
Hi @aldoyh - please try the "flutter doctor" and check to see if you have any issue ?

[2019-11-23 09:08] minhcasi commented on #1442
@Riorich - pls try to run "flutter clean" and reinstall the package again - thank you!

[2019-11-23 09:15] minhcasi commented on #1442
@Riorich - from the pubspec.yaml, please try to update
from pin_code_fields: ^2.0.4
-> to: pin_code_fields: 2.0.4

[2019-11-23 09:17] Riorich commented on #1442
Noted and will do accordingly. Thanks.

[2019-11-23 09:17] minhcasi commented on #1443
@cakebread please try to open the pubspec.yaml, please try to update
from pin_code_fields: ^2.0.4
-> to: pin_code_fields: 2.0.4

Let us know your checking, we are working on a new upgrade to update all the latest pub files - it will be updated in early next week - thank you!

[2019-11-23 09:23] minhcasi commented on #1444
@Senior-Gamal  please check this detailed guide for Facebook Login - https://pub.dev/packages/flutter_facebook_login

The current SMS Login is replaced by new Firebase SMS Login as the Fb Account Kit is stoped support - you can check it from https://docs.inspireui.com/fluxstore/firebase/#sms-login

[2019-11-23 09:25] minhcasi commented on #1441
Hi, thank you for reaching. Could you help to share the purchased screenshot from http://codecayon.net/downloads ? Just want to verify your proof of purchase, sorry for any inconvenience - thank you!

[2019-11-23 09:26] minhcasi commented on #1439
@BashBB @wolvsky - could you send us the output when running: flutter doctor -v

[2019-11-23 09:27] minhcasi commented on #1441
Duplicate of #1437

[2019-11-23 09:27] #1441 closed

[2019-11-23 09:36] minhcasi commented on #1443
Another solution is to update - pin_code_fields: 2.2.0+4

And change to onChanged - function: https://tppr.me/m32Yz

Thank you!

[2019-11-23 09:37] minhcasi commented on #1442
Another solution is to update - pin_code_fields: 2.2.0+4

And change to onChanged - function: https://tppr.me/m32Yz

[2019-11-23 09:37] minhcasi commented on #1442
#1443

[2019-11-23 09:44] Riorich commented on #1442
Noted and will amend accordingly. Many Thanks.

[2019-11-23 10:15] Riorich commented on #1442
Many Thanks to you. Fixed and can compile now.

[2019-11-23 10:15] #1442 closed

[2019-11-23 11:51] TheCellMC commented on #1405
Here is the log of when the error occurs:

Invariant Violation: scrollToIndex out of range: 3 vs 2

[code]

[2019-11-23 12:46] Senior-Gamal commented on #1444
error in console after replace app id
![ios](https://user-images.githubusercontent.com/27568540/69478873-08e16700-0e00-11ea-9cad-6a253a4f5719.jpg)

[2019-11-23 14:56] HassanChmsdn commented on #1439
I have the same problem.

[2019-11-23 15:13] momonchi opened #1445 "[mstore-pro] - Too slow in showing page and categories"
Hello, I am having trouble with running through react-native run-android, It is too slow opening other page/activity and categories. I already enable the ProductSize, but when I’am routing it is too lag in android. But in the expo It is run smooth, too different user exp.

![image](https://user-images.githubusercontent.com/5693186/69480871-54b6ff00-0e46-11ea-9d74-35406757f96e.png)

[2019-11-23 16:12] bobozd opened #1446 "[FluxStore Listing] - Starting App"
1. My issue: I got this error starting my Fluxstore App

Error: No named parameter with the name 'currentText'.
                    currentText: (value) {

2. Screenshots issues:

![Screen Shot 2019-11-23 at 17 10 08](https://user-images.githubusercontent.com/28021993/69481752-31735c00-0e14-11ea-9da5-3c4e0d081282.png)

3. Proof of my purchased:

![Screen Shot 2019-11-23 at 17 11 44](https://user-i

[2019-11-23 16:37] BashBB commented on #1439
@minhcasi - **following is the output when running:**

`------------------------FluxStore-vendor-1.1-2.0 % flutter doctor -v
[✓] Flutter (Channel dev, v1.12.10, on Mac OS X 10.15.1 19B88, locale en-US)
    • Flutter version 1.12.10 at /Users/bash/Development/flutter
    • Framework revision b6e92003c8 (18 hours ago), 2019-11-22 15:02:20 -0800
    • Engine revision ad14574949
    • Dart version 2.7

[2019-11-23 17:29] wolvsky commented on #1439
I solved the problem for myself. I made 3 changes to work:

- I changed the version of cached_network_image in pubspec.yml:
#cached_network_image: ^1.1.3
cached_network_image: 2.0.0-rc

- I added in pubspec.yml:
dependency_overrides:
  extended_image_library:
    git:
      url: https://github.com/fluttercandies/extended_image_library.git
      ref: dev

- I commented the code block below in the f

[2019-11-23 17:41] BashBB commented on #1439
@wolvsky - That's great, good job.
Unfortunately, I did as you said but still getting the same issue.

[2019-11-23 18:10] 3rabapp commented on #1378
Thanks. I can confirm the Shipping method & WebView issues have been fixed. Thank you very much for your generosity in fixing my project.

The is one more remaining issue which seems to presist - Adding through QuickCart doesn't check innovatory level #1380 : https://github.com/inspireui/support/issues/1380. I would appreciate if you reopen it for tracking purpose.

[2019-11-23 19:16] a7medeeuae opened #1447 "MStore Magento2"
![1212556](https://user-images.githubusercontent.com/24714994/69483970-343b7480-0e47-11ea-90bd-664b889288a1.jpg)
i got this erorr when i try to run the app

[2019-11-23 23:01] ramyragab1 commented on #1400
not fixed mate
i add this code in themes function.php

[2019-11-24 01:22] minhcasi commented on #1380
@concuacon  - this is the same config from #1378 - pls help to check

[2019-11-24 01:24] minhcasi commented on #1439
@BashBB - pls use the channel stable by run "flutter channel stable" - this will revert back to Flutter stable v1.9.x - there are some library did not compatible with Dev channel

[2019-11-24 03:23] maahiraanka commented on #1347
[config.zip](https://github.com/inspireui/support/files/3883175/config.zip)

Please check the config file , thanks

[2019-11-24 03:43] codingastronaut commented on #1446
I also have the same issue, got the latest version from gitlab

[2019-11-24 03:50] codingastronaut commented on #1446
also worth mentioning that i cant find pin_code_fields: 2.2.0+4

[2019-11-24 05:33] Alnaggar94 commented on #1446
Same issue on macOS, but in windows working fine ??

![issue1](https://user-images.githubusercontent.com/49800146/69490180-0e3cc100-0e95-11ea-8923-5e00a982f7df.JPG)

[2019-11-24 11:01] Senior-Gamal opened #1448 "[Fluxstore] - Failed register or login with email 1.6.7"
---------
My issue

1 - I cannot log into the account and show this message ( warning : exception: the username or password is incorrect )  But the account works normally on the site
2 - And when you sign up ( exception : you must include 'username' .var in your request )

My screenshot of the purchase product or my comment:
https://user-images.githubusercontent.com/27568540/66625373-4e512880-ebf4

[2019-11-24 17:34] ganesha10 opened #1449 "[fluxstore multi vendor] - upgrade and failed to compile"
1. My issue:
version 1.0.1 always return to main page when a category is clicked. I try to upgrade by using version 1.1.0, however I failed to compile. thanks

2. Screenshots issues:

Compiler message:
lib/screens/login_sms/verify.dart:191:21: Error: No named parameter with the name 'currentText'.
                    currentText: (value) {
                    ^^^^^^^^^^^
../../../.pub-cache/hosted

[2019-11-24 21:09] hakihosting commented on #1396
Hello i do your tips but still errors :
![image](https://user-images.githubusercontent.com/47614045/69501628-103f6800-0f07-11ea-80a5-70eed9ed7863.png)

[2019-11-24 21:32] ganesha10 commented on #1449
I use solution from wolvsky where I changed  the file lib/screens/login_sms/verify.dart (line 191):
from currentText to onChanged. However no change were made to pubspec.yml and now it runs fine on a real device.

[2019-11-24 23:09] paddykily commented on #1406
@juniortimeline I'm having the same issue.

[2019-11-24 23:21] wolvsky commented on #1325
All Google Maps services are enabled.
Search autocomplete and nearbysearch work, but the map does not show.
I use this key in another app made in ionic and it works.

[2019-11-25 00:27] minhtruong315 commented on #1414
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-11-25 00:27] #1414 closed

[2019-11-25 00:27] minhtruong315 commented on #1402
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-11-25 00:27] #1402 closed

[2019-11-25 00:27] minhtruong315 commented on #1341
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-11-25 00:27] #1341 closed

[2019-11-25 00:29] minhtruong315 commented on #1314
I will check it

[2019-11-25 02:35] minhcasi commented on #1448
@Senior-Gamal - could you help to attache the config file here so that we could help for checking

Please try to create 1 ticket for your all issues that help us support you better - thanks

[2019-11-25 02:36] minhcasi commented on #1448
Duplicate of #1444

[2019-11-25 02:36] #1448 closed

[2019-11-25 02:36] minhcasi commented on #1444
copy from #1448
---

1 - I cannot log into the account and show this message ( warning : exception: the username or password is incorrect ) But the account works normally on the site
2 - And when you sign up ( exception : you must include 'username' .var in your request )

My screenshot of the purchase product or my comment:
https://user-images.githubusercontent.com/27568540/66625373-4e512880-ebf4

[2019-11-25 02:40] minhcasi commented on #1449
Pls try to change  pubspec.yml to  pin_code_fields: 2.2.0+4 as well

The root cause is when we set "^2.0.0+4" -> it's auto-upgrade to latest version, the `onChanged` required on the latest version - we will update the new version on today to fix this issues

[2019-11-25 02:46] minhcasi commented on #1447
Hi, thank you for reaching. Could you help to share the purchased screenshot from http://codecayon.net/downloads ? Just want to verify your proof of purchase, sorry for any inconvenience - thank you!

[2019-11-25 02:49] minhcasi commented on #1446
@bobozd @codingastronaut @Alnaggar94 - pls try this file https://tppr.me/VTGJo

Related solution #1443

[2019-11-25 03:11] minhcasi commented on #1445
Hi, did you try with real device for testing with Release mode? On debugging of Android will be slow, try to disable the Debug option from simulator as well -  try to use Reactotron instead - https://github.com/infinitered/reactotron/blob/master/docs/installing.md

[2019-11-25 03:24] concuacon commented on #1426
Hi, @saeidAalizade  I'm closing this ticket as there is no response after more than 2 days if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-11-25 03:24] #1426 closed

[2019-11-25 03:31] concuacon commented on #1401
@vkhalids Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-11-25 03:31] #1401 closed

[2019-11-25 03:59] minhcasi commented on #1449
#1443

[2019-11-25 04:02] concuacon commented on #1396
@hakihosting You can try to follow this [link]( https://github.com/react-native-community/react-native-maps/issues/813#issuecomment-366195369)

[2019-11-25 04:19] Pankti16 opened #1450 "[MStore Pro - Complete React Native template for e-commerce] - issues after upgrading to sdk version 34"
1. My issue:
I tried adding ```injectedJavaScript={INJECTEDJAVASCRIPT} javaScriptEnabled={true} setDisplayZoomControls={false}```

to the webview component in src/containers/WebView/WebView.js

But, still zoom is not disabled.

and getting ```Warning: ListView is deprecated and will be removed in a future release. See https://fb.me/nolistview for more information``` such errors in terminal when ru

[2019-11-25 05:58] khaja25 commented on #1441
Hey there this is my purchased screenshot from http://codecayon.net/downloads ,i want the solution for above mentioned issue of Back Android is deprecated and has been removed from this package use BankHandler instead...
![download](https://user-images.githubusercontent.com/58036762/69516090-a494e380-0f76-11ea-887a-4ca91de415cd.jpeg)

[2019-11-25 08:04] itej7 opened #1451 "[Fluxstore WooCommerce - Flutter E-commerce App] - Version: 1.5.8----Razorpay payment issue"
Hi InspireUI Team,

1. My issue: We are getting below error in Fluxstore WooCommerce - Flutter E-commerce App while trying to place an order through Razorpay payment gateway.

Console Output for your reference:

[INFO:CONSOLE(0)] "A cookie associated with a cross-site resource at http://www.madlymuscles.com/ was set without the `SameSite` attribute. A future release of Chrome will only deliver coo

[2019-11-25 08:25] drew1607 opened #1452 "[Fluxstore] Shipping Charges issue"
Hi I am using Table Rates https://codecanyon.net/item/table-rate-shipping-for-woocommerce/3796656 for handling delivery charges and the app is return 0 rates shipping rates a flat rate is working just fine but we dont use flat rates because our dynamic charge comes from the volumetric weight of the item added to cart then gives it back to the user on checkout. How do I get dynamic rates to show in

[2019-11-25 10:05] concuacon commented on #1405
@TheCellMC You can test with the BeoNews app expo version it works expected of you.

[2019-11-25 10:08] hami44 opened #1453 "[mstore pro] - i have problem with coupon"
---------

1. My issue:
hi i have problem with Coupon when i set my coupon its work but when i going to next tern payment i see discount but dose not work i dont see total amount finally my order didnt have any coupon discount
2. Screenshots issues:
![Screenshot_1574675037](https://user-images.githubusercontent.com/58168661/69530646-710c8600-0f83-11ea-8ffe-ecfb0d99c989.png)
![Screenshot_1574675211

[2019-11-25 10:08] concuacon commented on #1361
Hello, @007asom You can follow to fix https://github.com/react-native-community/cli/issues/591#issuecomment-515264992

[2019-11-25 10:39] minhcasi commented on #1418
@Alnaggar94 - we are working on the fixing, it will be available on this week v1.5.9 - this need more refactor code so will take us time, not a minor fix - thank you!

[2019-11-25 10:40] Usman1493 commented on #1438
I was able to fix that through changing the Config file. But Now I am facing a new problem. What I am want is to display the attribute of Mass Below each product. I have enabled Configurable Product in the Config file and also changed the product_variant Layout to "mass" in place of size but I don't know why it still shows the error. I am attaching few screenshots for reference.

![WhatsApp Image

[2019-11-25 10:44] vumanhsn97 commented on #1422
@patrickubong
1. This fixed on next version
2. when you enable cache, make sure you upload file look like your config.json file. You can check by url: https://payfarmer.com/wp-json/mstore/v1/cache
3. your blog url is: https://payfarmer.com. Some image in your media require: rest_forbidden so I cant get data image. https://tppr.me/tSUlE
4. Setup plugin wordpress multi language
5. You can add your c

[2019-11-25 10:54] Senior-Gamal commented on #1444
i fixed the issue in ticket id #1448
but the fb login not fixed

[2019-11-25 11:16] TheCellMC commented on #1405
@concuacon So it works with the Expo Version, just not the Pro version.

[2019-11-25 11:29] LightningDev opened #1454 "[EvaStore] - undefined graphqlapi"
Bought this app and set it up for the first time, don't touch anything, I expected it to be run successfully. But got the error message on GraphqlAPI object being undefined which after a few debugs the client failed to be initialised. If the default config work on your side, please let me know.

Attached the screenshot below.
<img width="420" alt="Screen Shot 2019-11-25 at 9 28 48 pm" src="https:/

[2019-11-25 12:08] khaja25 commented on #1437
![Backandroid](https://user-images.githubusercontent.com/58036762/69539397-63b6c200-0faa-11ea-94c7-2614bc459b51.jpeg)

[2019-11-25 12:29] drew1607 commented on #1452
![Screen Shot 2019-11-25 at 14 26 15](https://user-images.githubusercontent.com/26347213/69540630-c2bb0d80-0f8f-11ea-9d7d-e3344a222221.png)
![Screen Shot 2019-11-25 at 14 26 25](https://user-images.githubusercontent.com/26347213/69540631-c353a400-0f8f-11ea-93c3-0aad233789b6.png)
![Screen Shot 2019-11-25 at 14 27 05](https://user-images.githubusercontent.com/26347213/69540632-c353a400-0f8f-11ea-8be

[2019-11-25 13:28] minhtruong315 commented on #1438
@Usman1493 can you send me config.dart, config.json and admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1438

[2019-11-25 13:30] louissaad24 opened #1455 "[Fluxstore] - bugs and improvements"
- Facebook messenger bug in smart chat:
This format isnt working in debug mode (maybe it works in release mode)  fb-messenger://user/{user-id}
But the working one is https://m.me/{userid}
- Bug in the cart
when i am in debug mode and i add products to the cart then the cart shows the products then whwn i chekout i close the app then reopen it it still shows the items in the cart ( even if i do not

[2019-11-25 13:31] Usman1493 commented on #1438
Sure, Please check your email..

[2019-11-25 13:43] santihabib opened #1456 "[MStore Multi vendor] - I can't upload products - "can not connect from server""
Hi! I'm still having problems, it really doesn't end! Every update they do, the problems continue.
The problem I have in this new version is that when I want to upload a product, it returns the message "can not connect from server". I have already configured all the plugins and verify that my htacces is correct, I do not understand what may be happening! It's been a long time since I bought the sc

[2019-11-25 14:13] khaja25 opened #1457 "Warning: BackAndroid is deprecated. Please use BackHandler instead"
hey there, i am facing issue below

![Backandroid](https://user-images.githubusercontent.com/58036762/69547499-b6e54080-0fbb-11ea-8144-6e8977e4d8c4.jpeg)

[2019-11-25 16:03] rodrigoalves1901 commented on #1314
Thank you!

[2019-11-25 16:20] wasimpk opened #1458 "[my-product] -"
---------

1. My issue:

2. Screenshots issues:

3. Proof of my purchased:

3. Config files (optional)

[2019-11-25 16:22] #1458 closed

[2019-11-25 16:22] wasimpk commented on #1458
s

[2019-11-25 20:17] a7medeeuae commented on #1447
![216262626](https://user-images.githubusercontent.com/24714994/69574434-857f6b80-0fe1-11ea-97f3-da8507226d41.png)

[2019-11-25 21:41] hakihosting commented on #1396
same problem
![image](https://user-images.githubusercontent.com/47614045/69580362-b6a56f00-0fd4-11ea-88fc-11b32f76486a.png)

[2019-11-25 22:21] mk4full opened #1459 "[fluxstore] - Build failed with an exception."
---------

1. My issue:

aunching lib\main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is deprecated,

[2019-11-25 23:41] santihabib commented on #1456
I'm doing some tests with an application to intercept http responses.
json api message:
"You need to login with a user that has 'edit_posts' capacity"

[2019-11-26 00:17] gokhand commented on #1388
Have you had any chance to try to replicate the issue?

[2019-11-26 01:18] EmilianH opened #1460 "[Fluxstore-1.5.8] - Error: No named parameter with the name 'currentText'."
---------

1. My issue:

i try to start the app 1.5.8 from zero without changes, and not working

Compiler message:
lib/screens/login_sms/verify.dart:191:21: Error: No named parameter with the name 'currentText'.
                    currentText: (value) {
                    ^^^^^^^^^^^
../../../AppData/Roaming/Pub/Cache/hosted/pub.dartlang.org/pin_code_fields-2.2.1/lib/pin_code_fields.dart:84:3:

[2019-11-26 02:01] minhcasi commented on #1457
@khaja25  - could i know this is a report issue for the Mstore product ? Thank you!

[2019-11-26 05:20] Riyashanke commented on #1364
Hi @concuacon have you checked the mail and the video I have attached. Awaiting your reply.

[2019-11-26 05:33] khaja25 commented on #1457
yes @minhcasi

[2019-11-26 07:03] concuacon commented on #1364
@Riyashanke Sorry I forgot to answer you, I am stuck in another problem, I will check your issue and respond to you soon.

[2019-11-26 07:27] hami44 commented on #1453
@minhcasi why no one respond my issue ?

[2019-11-26 08:22] minhcasi commented on #1455
@louissaad24 - thank you for the detailed feedback, i've assigned to the team checking and will let you know

[2019-11-26 08:23] minhcasi commented on #1456
@santihabib - thank you for reporting, could you help to share the config file so that we could reproduce the issue on your site?

[2019-11-26 08:27] minhcasi commented on #1453
@hami44 - thank you for the detail issue - please allow us to reply ticket within 24h

Could you help to attache the config file so that we could help for checking and reproduce the issue

@concuacon
Thank you!

[2019-11-26 08:29] minhcasi commented on #1452
@drew1607 - as this is the customize plugin that we are not sure to work with the app, but we will try to check and let you know if find out any solution, we will share the detail - thanks

[2019-11-26 08:30] minhcasi commented on #1451
@itej7 - could you help to share the configs file so that we could help for reproducing this issues - thank you!

[2019-11-26 08:31] minhcasi commented on #1450
@Pankti16 - noted with investigating and will keep an update about this issue - thank you!

[2019-11-26 08:32] minhcasi commented on #1460
@EmilianH this is related to auto-upgrade from the library asseting, pls try the solution from this ticket - #1449
We are going update new version shortly to resolve this issue

[2019-11-26 08:33] minhcasi commented on #1459
@mk4full  this is related to auto-upgrade from the library of pubspec.yaml file, pls try the solution from this ticket - #1449
We are going update new version shortly to resolve this issue

[2019-11-26 08:47] hami44 commented on #1453
[Config.js.zip](https://github.com/inspireui/support/files/3890830/Config.js.zip)
@minhcasi my config file

[2019-11-26 08:52] LightningDev commented on #1454
Any updates on this issue? Hmm, I did not expect the first purchase to be broken. Otherwise, I guess I will fix it on my own in the meantime.

[2019-11-26 09:00] minhcasi commented on #1453
@concuacon - pls help for checking

[2019-11-26 09:18] itej7 commented on #1451
@minhcasi - Please find below config files used in the project
[config files.zip](https://github.com/inspireui/support/files/3890969/config.files.zip)

[2019-11-26 10:15] santihabib commented on #1456
@minhcasi @concuacon i shared the config file in the first post.

[2019-11-26 10:41] concuacon commented on #1405
@TheCellMC I'll update it to the next version.

[2019-11-26 10:45] concuacon commented on #1396
@hakihosting this link can help you https://github.com/facebook/facebook-ios-sdk/issues/1102#issuecomment-551872120

[2019-11-26 10:56] Pankti16 commented on #1450
Also, when I click on favorite icon(heart icon) of a product in category listing, it gets added to the wish list. But, neither favorite icon turns red nor it is removed from the wish list when I press it once more.

[2019-11-26 11:04] minhcasi commented on #1415
fixed on latest 1.5.9, we also note the config from this blog - https://medium.com/@inspireui/announcing-fluxstore-1-5-950e0165cab8

[2019-11-26 11:04] #1415 closed

[2019-11-26 11:05] minhcasi commented on #1460
Fixed on latest 1.5.9, please help to download the update and changelog - https://medium.com/@inspireui/announcing-fluxstore-1-5-950e0165cab8 (at the end of the article)

[2019-11-26 11:05] #1460 closed

[2019-11-26 11:05] minhcasi commented on #1459
Fixed on latest 1.5.9, please help to download the update and changelog - https://medium.com/@inspireui/announcing-fluxstore-1-5-950e0165cab8 (at the end of the article)

[2019-11-26 11:05] #1459 closed

[2019-11-26 11:06] minhcasi commented on #1443
Fixed on latest 1.5.9, please help to download the update and changelog - https://medium.com/@inspireui/announcing-fluxstore-1-5-950e0165cab8 (at the end of the article)

[2019-11-26 11:06] #1443 closed

[2019-11-26 11:08] minhcasi commented on #1445
Could you help to check with latest 1.5.9, there are some performance improvements

Also check this guide to upgrade the app perforamance -https://docs.inspireui.com/fluxstore/performance/

Let us know if you have any questions, thank you!

[2019-11-26 11:08] #1445 closed

[2019-11-26 11:10] concuacon commented on #1388
@gokhand  tomorrow at 14h (GMT+7) can I remote to your device to test it? I tried as you said but still did not see the problem.

[2019-11-26 11:17] minhcasi commented on #1438
closed to support via email

[2019-11-26 11:17] #1438 closed

[2019-11-26 11:19] minhcasi commented on #1436
@ajnaf - you can upload the config.json from the wordpress into mstore-api, also enable the caching from the app, then one you update the banner from config.json it will update the app without uploading to store again.

We are working on new Builder to support config more dymanic and easily - will keep an update

If you have any question, just let us know - thank you!

[2019-11-26 11:19] #1436 closed

[2019-11-26 11:21] minhcasi commented on #1434
@zhuangxiao-s - please try with the latest 1.5.9 and let us know if you have any issues.

Also, try to run the example Test Drive from to check if you have the same problem - https://flutter.dev/docs/get-started/test-drive

Thank you!

[2019-11-26 11:21] #1434 closed

[2019-11-26 11:21] #1429 closed

[2019-11-26 11:24] minhcasi commented on #1428
@ajnaf  - pls help to download the latest version 1.5.9, we also upgrade the app to support Downloadable product, let us know if you have any questions

[2019-11-26 11:24] minhcasi commented on #1422
@patrickubong - please try to download the latest version 1.5.9 and let us know if you have any issues, thank you!

[2019-11-26 11:24] #1422 closed

[2019-11-26 11:25] #1421 closed

[2019-11-26 11:29] minhcasi commented on #1421
Please keep update the ticket if you have any issues, also download latest 1.5.9 for the new update - thank you!

[2019-11-26 11:31] minhcasi commented on #1418
@Alnaggar94 - we have break the config.json to multi-file that match with the languages, please download latest 1.5.9 with this update and let us know if you have any further issues, thank you!

[2019-11-26 11:31] #1418 closed

[2019-11-26 11:31] #1416 closed

[2019-11-26 11:31] momonchi commented on #1445
Hi @minhcasi thanks for the help.

I run this command, and it run smooth like expo.
react-native run-android --variant=release

thanks again.

[2019-11-26 11:32] minhcasi commented on #1413
Closed to move to another support channel - pls reopen if you still have an issue - thank you!

[2019-11-26 11:32] #1413 closed

[2019-11-26 11:32] minhcasi commented on #1409
Fixed on latest 1.5.9 release - thank you!

[2019-11-26 11:32] #1409 closed

[2019-11-26 11:33] minhcasi commented on #1400
Let me check with another solution, thank you!

@vumanhsn97  - pls help for further investigating

[2019-11-26 11:35] minhcasi commented on #1308
Hi mate, this bug is fixed on latest 1.5.9 - thank you!

[2019-11-26 11:35] #1308 closed

[2019-11-26 11:54] ajnaf commented on #1428
@minhcasi Thank you very much.

[2019-11-26 12:52] santihabib commented on #1456
I attach everything here
[AppConfig.txt](https://github.com/inspireui/support/files/3891898/AppConfig.txt)
[Config.txt](https://github.com/inspireui/support/files/3891900/Config.txt)

[2019-11-26 13:19] louissaad24 commented on #1455
Thank you so much.

[2019-11-26 13:40] minhcasi commented on #1406
Reopen the ticket for further investigating - thank you!

[2019-11-26 14:54] aaronbesson commented on #1456
I am having same issue, the image is uploaded, but the post is not created.
"can not connect from server"

[2019-11-26 15:03] minhcasi commented on #1454
@concuacon - pls help for checking - thank you!

[2019-11-26 15:05] minhtruong315 commented on #1417
I will close this ticker, you can't reproduce on latest version. if you have any issues, pls contact me

[2019-11-26 15:05] #1417 closed

[2019-11-26 15:06] minhcasi commented on #1456
@santihabib - we will check this issue as a high priority and will keep an update - thank you!

[2019-11-26 15:08] TarekNour77 opened #1461 "Mstore Pro] -"
I have an error when try the app on my mobile :

![Screenshot_2019-11-26-17-00-32-065_com inspireui mstorepro](https://user-images.githubusercontent.com/58216827/69645573-ce85fd00-107f-11ea-8514-4daf8fd9a40d.png)

![2019-11-26_1907](https://user-images.githubusercontent.com/58216827/69645684-01c88c00-1080-11ea-9a1e-c597f83925b4.png)

[2019-11-26 15:13] minhcasi commented on #1076
Duplicate of #1456

[2019-11-26 15:13] #1076 closed

[2019-11-26 15:20] John-Matthew9 commented on #1039
: /D:/src/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_widgets-0.1.5/lib/src/visibility_detector/src/visibility_detector_layer.dart:277:18: Error: This expression has type ’void’ and can’t be used. return super.addToScene(builder, layerOffset); ^ Compiler failed on H:\FLUTERAPPS\flux_app\lib\main.dart What do you suggest? has anyone faced this error and how can we fix this up

[2019-11-26 15:33] santihabib commented on #1456
please @minhcasi ! don't make me wait until another update! I need once and for all to launch my application to production. thanks!

[2019-11-26 15:47] minhcasi commented on #1130
![](https://github.trello.services/images/mini-trello-icon.png) [https://github.com/inspireui/support/issues/1130](https://trello.com/c/Q3TEcms6/1-https-githubcom-inspireui-support-issues-1130)

[2019-11-26 15:50] minhcasi commented on #1130
we are closing the ticket and move this ticket 'request feature' to our Trello board, still keep a status update  - thank you!

[2019-11-26 15:50] #1130 closed

[2019-11-26 15:53] ajnaf commented on #1436
@minhcasi i found a plugin in wordpress that was helpfull it lets you change the image while keeping the same url the name of the plugin is : (Enable Media Replace)

[2019-11-26 15:54] minhcasi commented on #1455
![](https://github.trello.services/images/mini-trello-icon.png) [Forcing the user to update the app](https://trello.com/c/Q3TEcms6/1-forcing-the-user-to-update-the-app)

[2019-11-26 15:55] minhcasi commented on #1419
![](https://github.trello.services/images/mini-trello-icon.png) [Sort and filters by Attribute](https://trello.com/c/CWkYkTQT/2-sort-and-filters-by-attribute)

[2019-11-26 15:56] minhcasi commented on #1419
we are closing the ticket and move this ticket 'request feature' to our Trello board for easier to keep track, review, and update, also keep a status update  - thank you!

[2019-11-26 15:56] #1419 closed

[2019-11-26 15:56] minhcasi commented on #1398
Fixed on latest Gitlab

[2019-11-26 15:56] #1398 closed

[2019-11-26 15:57] Riorich opened #1462 "[Fluxstore] - 1.5.9 Compile Error"
1. My issue:
I'm getting this error as below when I compiled latest Fluxstore 1.5.9 Woocommerce. I didn't have this kind of error in v 1.5.8.
**dart:ui/window.dart': Failed assertion: line 281: '<optimized out>': is not true.**

2. Screenshots issues:
![Screenshot_1574782658](https://user-images.githubusercontent.com/39195214/69649360-52011780-109b-11ea-86f3-0c1b79b8b2f6.png)
![2019-11-26 (2)_LI](

[2019-11-26 15:58] minhcasi commented on #1375
![](https://github.trello.services/images/mini-trello-icon.png) [Chat platform Firebase or talkjs.com](https://trello.com/c/Zgf3wgaZ/3-chat-platform-firebase-or-talkjscom)

[2019-11-26 15:58] minhcasi commented on #1375
we are closing the ticket and move this ticket 'request feature' to our Trello board for easier to keep track, review, and update, also keep a status update  - thank you!

[2019-11-26 15:58] #1375 closed

[2019-11-26 15:59] minhcasi commented on #1369
Fixed, we will ready in 1-2 days - thanks

[2019-11-26 15:59] #1369 closed

[2019-11-26 16:00] minhcasi commented on #1351
![](https://github.trello.services/images/mini-trello-icon.png) [Update user account](https://trello.com/c/4puUGOfc/4-update-user-account)

[2019-11-26 16:00] minhcasi commented on #1351
![](https://github.trello.services/images/mini-trello-icon.png) [Update user account](https://trello.com/c/4puUGOfc/4-update-user-account)

[2019-11-26 16:00] minhcasi commented on #1351
we are closing the ticket and move this ticket 'request feature' to our Trello board for easier to keep track, review, and update, also keep a status update  - thank you!

[2019-11-26 16:00] #1351 closed

[2019-11-26 16:01] minhcasi commented on #1322
![](https://github.trello.services/images/mini-trello-icon.png) [opencart product options](https://trello.com/c/yskKkVZG/5-opencart-product-options)

[2019-11-26 16:01] minhcasi commented on #1322
we are closing the ticket and move this ticket 'request feature' to our Trello board for easier to keep track, review, and update, also keep a status update  - thank you!

[2019-11-26 16:01] #1322 closed

[2019-11-26 16:02] minhcasi commented on #1296
![](https://github.trello.services/images/mini-trello-icon.png) [otp before confirming order](https://trello.com/c/qNqwDeQK/6-otp-before-confirming-order)

[2019-11-26 16:02] minhcasi commented on #1296
we are closing the ticket and move this ticket 'request feature' to our Trello board for easier to keep track, review, and update, also keep a status update  - thank you!

[2019-11-26 16:02] #1296 closed

[2019-11-26 16:03] minhcasi commented on #1069
![](https://github.trello.services/images/mini-trello-icon.png) [Category Top and SideMenu not implementing paging](https://trello.com/c/WUx0cgft/7-category-top-and-sidemenu-not-implementing-paging)

[2019-11-26 16:04] minhcasi commented on #1069
we are closing the ticket and move this ticket 'request feature' to our Trello board for easier to keep track, review, and update, also keep a status update  - thank you!

[2019-11-26 16:04] #1069 closed

[2019-11-26 16:05] minhcasi commented on #954
![](https://github.trello.services/images/mini-trello-icon.png) [Shipping methods and Coupons](https://trello.com/c/1zXCDfDd/8-shipping-methods-and-coupons)

[2019-11-26 16:05] minhcasi commented on #954
we are closing the ticket and move this ticket 'request feature' to our Trello board for easier to keep track, review, and update, also keep a status update  - thank you!

[2019-11-26 16:05] #954 closed

[2019-11-26 17:26] sunnydj29 opened #1463 "Product images not visible in app"

[2019-11-26 18:28] 007asom commented on #1361
I'll try to do it. Thanks

[2019-11-26 18:56] underscore15 opened #1464 "[Fluxstore] - Variable products showing out of stock"
Hello

1.Still got an issue with variable products in alternative language being out of stock. In main language (English) no issues but alternative languages showing out of stock

2. In RTL, the smartchat button is off screen

![Screen Shot 2019-11-26 at 9 27 18 PM](https://user-images.githubusercontent.com/56452467/69661473-8b358980-1093-11ea-8379-f21430beb5d6.png)

3. Can you provide a simple us

[2019-11-26 19:49] santihabib commented on #1456
Update!
--------------
It seems that the problem is in the coockie with which it authenticates ... in the customapi.js file in this section:

const response = await this.getNonceForPost(method);
  const cookieName = await this.generateAuthCookie(user.email, user.password);
  if (typeof response.status !== "undefined" && response.status == "ok") {
    // console.warn(["nonce", response]);
    const

[2019-11-26 20:30] drew1607 commented on #1452
Thank you very much will really be grateful

[2019-11-26 20:50] aaronbesson commented on #1456
@santihabib - line 361 in WordpressAPI.js

as mentioned i am able to post images and not title etc, i'll take a look

[2019-11-26 22:09] hakihosting commented on #1396
Hello ok no i have this error when i do your tricks :  (maybe can we do a skype assistance)

cy_info -Xlinker /Users/heyckelneji/Desktop/ChakcwearApp-3.9.6/mstore-pro/ios/build/mstore/Build/Intermediates.noindex/mstore.build/Debug-iphonesimulator/mstore.build/Objects-normal/x86_64/Chakcwear_dependency_info.dat -o /Users/heyckelneji/Desktop/ChakcwearApp-3.9.6/mstore-pro/ios/build/mstore/Build/Produ

[2019-11-26 22:41] fernandoalfarocode commented on #1390
Hello?

[2019-11-27 04:49] mariod3w commented on #1405
Thanks @TheCellMC I have the same issues.

@concuacon @minhcasi Please fix this bug ASAP

We are use PRO VERSION, because we are integrating native functions.

I'm going very wrong with my client because of you. If you do not solve as soon as possible I will give you a very bad rating.

`purchase code: 0ae1e50c-de3f-4014-9b8c-34467df0b630
`

[2019-11-27 05:18] minhcasi commented on #1461
refund

[2019-11-27 05:18] #1461 closed

[2019-11-27 05:20] #1463 closed

[2019-11-27 05:21] minhcasi commented on #1462
@Riorich - could you share the output after run: "flutter doctor"

[2019-11-27 05:51] vumanhsn97 commented on #1400
@ramyragab1 Try to change file lib/screen/checkout/payment.dart like
[payment.dart.zip](https://github.com/inspireui/support/files/3895322/payment.dart.zip). Run app and send me your feedback

[2019-11-27 05:58] vumanhsn97 commented on #1452
@drew1607 Can you give me your config.dart, config.json files?

[2019-11-27 06:50] minhcasi commented on #1449
Please update to latest 1.2.0 for this fixing - thank you!

[2019-11-27 06:50] #1449 closed

[2019-11-27 06:50] #1439 closed

[2019-11-27 06:51] minhcasi commented on #1367
@daav7713  Please update to the latest 1.2.0 for this fixing - thank you!

[2019-11-27 06:51] #1367 closed

[2019-11-27 06:54] #1428 closed

[2019-11-27 07:15] drew1607 commented on #1452
[common.zip](https://github.com/inspireui/support/files/3895556/common.zip)

[2019-11-27 07:15] drew1607 commented on #1452
There you go

[2019-11-27 07:21] Moostsv commented on #1462
I have the same error (Opencart)

[2019-11-27 07:29] minhcasi commented on #1462
@Riorich @Moostsv

Please make sure the run the app at stable channel: flutter channel stable

Also, try this scrip with the latest version: flutter clean

Let us know your checking - thanks

[2019-11-27 07:50] godofblack opened #1465 "Mobile App not Connected into Web"
Hey there .,
I install your Application but it's not shown any data ., throw can't get data from server Why ?!
i change the app url in src/common/AppConfig.json
 "Cezerin": {
    "url": "http://192.168.0.112:3001"
  },

But., it's still not working ! Kindly Provide Solution

[2019-11-27 08:06] sunnydj29 commented on #1463
purchase code: 240b6641-f36f-4247-ba66-4607625ebec7
![appproducts](https://user-images.githubusercontent.com/58228642/69705117-e52d6200-111a-11ea-8cc7-dce4727bd08b.jpg)

[2019-11-27 08:08] sunnydj29 commented on #1463
purchase code: 240b6641-f36f-4247-ba66-4607625ebec7
![appproducts](https://user-images.githubusercontent.com/58228642/69705232-1f96ff00-111b-11ea-9245-3340cfa79529.jpg)

[2019-11-27 08:08] vumanhsn97 commented on #1455
@louissaad24
- Facebook messenger bug: I dont know your bug. Smart chat using deep link so we support in whatsapp, tel, sms. If you want to use others, you need to enter right deep link.
- Bug in the cart: I checked but I dont find your bug. Make sure you checkout successful and return order detail. If you receive order and cart is not empty, you can give me some screenshot or video demo.
- Bug in

[2019-11-27 08:10] Moostsv commented on #1462
https://snipboard.io/L862Fd.jpg

[2019-11-27 08:14] Moostsv commented on #1462
https://snipboard.io/I8qxgV.jpg

[2019-11-27 08:25] minhcasi commented on #1405
@mariod3w @TheCellMC - could I know which the Android version that you are testing? Thanks

[2019-11-27 08:32] louissaad24 commented on #1455
@vumanhsn97  Thank you so much i will test these feature and tell you about any new bugs and cool features.

[2019-11-27 08:47] hami44 commented on #1453
is there any update about my issue ? @concuacon @minhcasi

[2019-11-27 08:47] vumanhsn97 commented on #1452
@drew1607
"consumerKey": "ck_b7594bc4391db4b56c635fe6da1072a53ca4535a",
  "consumerSecret": "cs_980b9edb120e15bd2a8b668cacc734f7eca0ba40",
are fluxstore config. Please send me your consumerKey and consumerSecret

[2019-11-27 09:05] minhcasi commented on #1405
Just confirm this is a bug on Android, it's ok with on iOS both Expo and Pro version - the team is working on this issue and will update your shortly as highest priority - thanks

[2019-11-27 09:09] minhcasi commented on #1453
@hami44 - confirm this is a bug - we have included from the checklist for the next release on next couple of days.

There will also some bug fix and Apple Sign In + SMS Firebase login on next release

Thank you!

[2019-11-27 09:20] MohammedSwefee opened #1466 "[Flux Store] - checkout shipping issue"
My issue is that I can't ship my product. error appears as below screenshots. also, I can't pick my place from map and countries list not shown properly.

Purchase code: 0ec77175-c961-49b0-acb6-d4e5b3f8e8d6

Screenshots:
![photo_2019-11-27_11-54-21](https://user-images.githubusercontent.com/34106827/69710305-37b55100-1110-11ea-800b-33a97d37f119.jpg)
![Annotation 2019-11-27 121503](https://user-ima

[2019-11-27 09:22] #1437 closed

[2019-11-27 09:25] minhcasi commented on #1457
@khaja25 - could you help to take the screenshot from this page http://codecayon.net/downloads - just verify the proof of your purchase from our product - sorry for any inconvenience - thank you!

[2019-11-27 09:27] #1432 closed

[2019-11-27 09:28] drew1607 commented on #1452
@vumanhsn97 , Please see below,
ck_29b2bf7b82722eb63afbc7a6d48457740cbb5c82
cs_0d4ccec9abb5728eaf332e49c3c4ff4eebf0be0a

[2019-11-27 09:34] minhcasi commented on #1440
Hi, I'm closing this ticket as there is no response, kindly reopen or create a new ticket if you still have any issue - very best!

[2019-11-27 09:34] #1440 closed

[2019-11-27 09:36] minhcasi commented on #1462
@minhtruong315 - pls investigate this issue - thank you!

[2019-11-27 09:41] minhcasi commented on #1465
Could you help to share the screenshot of purchase screenshot from http://codecayon.net/downloads  it's used to verify your proof of purchase? sorry for any inconvenience - Thank you!

[2019-11-27 09:46] Metacowboy opened #1467 "[listapp] - Expo desperate code for Expo sdk 35"
When Open Link with WebBrowser.openBrowserAsync  on ListingDetail.js will crash on the
new expo Sdk 35

//import { WebBrowser } from 'expo'
import * as WebBrowser from 'expo-web-browser'
App/Components/CommentIcons/index.js

-Map link 'Route' will crash

same for and many others expo imports
import { Permissions} from 'expo-permissions'
//import { LinearGradient } from 'expo'
import { LinearGradie

[2019-11-27 09:49] minhcasi commented on #1447
@a7medeeuae - sorry for the late response, could you help to reinstall the node js 12.x on this page - https://nodejs.org/en/ - the error seems related to node 13 issue - thank you!

[2019-11-27 09:51] #1391 closed

[2019-11-27 10:48] itej7 commented on #1451
Please update...

[2019-11-27 11:28] vumanhsn97 commented on #1452
@drew1607 I research about Table Rate Shipping. I dont find any way to get api shipping methods. When I use woocommerce api, It return data without rules. You can see here: https://griffinzambia.com/wp-json/wc/v2/shipping/zones/7/methods

[2019-11-27 11:29] godofblack commented on #1465
![Screenshot from 2019-11-27 16-58-08](https://user-images.githubusercontent.com/53173319/69719784-3c413000-1137-11ea-930e-dc46805c0998.png)

[2019-11-27 12:03] Riyashanke commented on #1364
Hi @concuacon I have send the credentials yesterday to your mail is that ok. Did you check sir.

[2019-11-27 13:12] paulica40 opened #1468 "[Beonews pro 3.0.4] - sign in or sign up + firebase"
using beonews v3.0.4

 1. login issue

i cant sign in or sign up with email and password....instead i manage to conect with facebook just fine.

2. firebase
 i have this config

  // config for Firebase, use to sync user data across device and favorite post
  Firebase: {
    apiKey: "xxxxxxxxxxxxxxxxxxx",
    authDomain: "xxxxxxxx.firebaseapp.com",
    databaseURL: "https://xxxxxxx.firebaseio.com"

[2019-11-27 13:21] paulica40 commented on #1468
purchase code:
029a5bbd-3911-40d1-893f-f6797bc53504

[2019-11-27 13:30] paulica40 commented on #999
All right, i have figure it out, the code of handleDeepLink in RootRouter.js should be like this

handleDeepLink = (openResult) => {
const data = openResult.notification.payload.additionalData
this.props.setInitialNotification(openResult)
if (data && data.id) {
this.props.fetchPostById(data.id).then((post) => {
this.goToScreen('postDetail', { post })
})
} else {
console.log('notification is invali

[2019-11-27 14:02] mariod3w commented on #1405
Android 9

![Screenshot_20191127-075503_Settings](https://user-images.githubusercontent.com/4671301/69729489-0460cb00-10ec-11ea-81ca-913a0295a724.jpg)

![Screenshot_20191127-075513_Settings](https://user-images.githubusercontent.com/4671301/69729515-12165080-10ec-11ea-9ef2-4b64169485c6.jpg)

[2019-11-27 14:51] 007asom commented on #1361
there are a new issues from the apple store team.

Guideline 2.1 - Performance - App Completeness

Your app crashed on iPad running iOS 13.2.3 on WiFi when we:

Tapped Facebook login

We have attached detailed crash logs to help troubleshoot this issue.

Guideline 4.8 - Design - Sign in with Apple

We noticed that your app uses a third-party login service but does not offer Sign in with Apple.

[2019-11-27 15:04] SKDArora opened #1469 "FluxStore 1.5.8"
Launching lib\main.dart on Lenovo K8 Note in debug mode...
Running Gradle task 'assembleDebug'...
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)

Compiler message:
/C:/Users/SPECTR

[2019-11-27 16:15] TheCellMC commented on #1405
Well I haven’t tested this on Android, but I am experiencing the bug on iOS with BeoNews Pro (expo version works just fine). I am testing it on an iPhone X (both simulated and externally) running iOS 13.2

[2019-11-27 16:26] Q8hma opened #1470 "[Mstore pro] - app close down after intro"
1. My issue:
hello ..
the app crash or close after intro finished only in release build but in testing build its normal and no error and no close same phone and i try it emulator same
i try it on note 10 plus version android 9

3. Proof of my purchased:
ca4abfe5-d915-4226-b092-90a7b3057723
3. Config files (optional)
[code]

[2019-11-27 16:44] anshbot opened #1471 "[FluxStore 1.5.9] - Woocommerce"
Purchase Proof
![purchase screenshot](https://user-images.githubusercontent.com/12613051/69733115-d367b100-1152-11ea-9f62-71f579c70434.png)

Problem Screenshots
![problem1](https://user-images.githubusercontent.com/12613051/69734418-f5623300-1154-11ea-99ff-5bf2cab16590.png)
![problem4](https://user-images.githubusercontent.com/12613051/69734428-f85d2380-1154-11ea-9191-8125fa99331a.png)
![problem5]

[2019-11-27 17:38] paulica40 commented on #1405
have the same issue on ios 13, both simulated and externally. if you first try to open an article  formm categories, or from the home page, it opens the wrong article. after opening anoter article, it goes ok, but this is kind of annoying

[2019-11-27 18:48] gnam389 opened #1472 "[Mstore pro] Could not connect to development server - Error"
How to fix this error. Thank you,
Image: https://i.imgur.com/KzaHB8h.png
![image](https://user-images.githubusercontent.com/20441846/69750936-94e8eb00-1180-11ea-9030-722b76fa38cb.png)

Buyer: giangnam389
E mới mua về hồi sáng, config vào rồi chạy lên nó báo lỗi đỏ như hình vậy là fix làm sao í bác, e chưa dùng lần nào nên ko rõ. cám ơn bác

[2019-11-27 20:41] Maksish opened #1473 "[Fluxstore pro] - if connect Opencart server it stuck while checkout but in woocomerce there is no problem"
---------

1. My issue:
 if connect Opencart server  it stuck while checkout but in woocomerce there is no problem
2. Screenshots issues:
![Screenshot_20191128-020820](https://user-images.githubusercontent.com/31925489/69757875-1726de80-1184-11ea-9d74-b06b557e8145.jpg)
![Screenshot_20191128-020822](https://user-images.githubusercontent.com/31925489/69757877-17bf7500-1184-11ea-94a0-46b28309981b.jpg

[2019-11-27 22:16] fernandoalfarocode opened #1474 "[mv-store] - I can't leave Reviews or see reviews in the APP"
Hello, I have a problem with the configuration of the MV-Store APP (Expo version) since I cannot leave Reviews from the APP nor can I see the ones that already exist, I would like to know if you can help me with this problem, since the MStore-Checkout plugin is installed In Wordpress and the new version MStore-API gives me the same and even more problems so I use the old version.

Thank you in adv

[2019-11-27 22:46] mk4full opened #1475 "[FluxStore] - Blog/posts don't load"
---------

1. My issue:

I am referring to https://github.com/inspireui/support/issues/1409

it still doesn't load my blog, what is wrong?

[2019-11-27 22:49] fernandoalfarocode opened #1476 "[MV-Store-CLI] - I can't start the MStore - MV version CLI project"
Hello, my problem is that I am trying to use the CLI version of Mstore Multivendor but I cannot start the APP on Android even though I have followed the instructions to apply the following commands specified in the Read me of the project:
yarn install
expo start
react-native run-android

I have the android studio and emulator environment installed and configured.

Thanks beforehand for your attent

[2019-11-27 23:24] incepio-flutter opened #1477 "[Flux store Multivendor 1.2.0] - Invalid arguments when login/signup or you must include 'username' var in your request"
---------

1. My issue:

2. Screenshots issues:

3. Proof of my purchased:

3. Config files (optional)

[2019-11-27 23:24] #1477 closed

[2019-11-27 23:42] incepio-flutter opened #1478 "[fluxstore Multivendor] - Invalid Arguments or you must include'username' var in your request when signup or sign in"
---------

1. My issue:
when I try to signup my users registers on firebase and dokan vendors but the app gives an exception of invalid arguments and does not take me to next context. I don't know where is the problem I have configured everything your documentation and I am raising this issue 2nd time so please minh casi, minh Pham or InspireUI team take this issue serious and help me. I have purc

[2019-11-28 00:39] minhtruong315 commented on #1462
@Moostsv can you share me your teamviewer? It's working on my end

[2019-11-28 02:17] minhcasi commented on #1466
@MohammedSwefee - thank you for reporting

Could you open the common/config.dart and change the value ZoneIdShipping to match with your shipping zone from the Wordpress site ?

The country list and image flag could be changed from DefaultCountry of the same file

[2019-11-28 02:18] minhcasi commented on #1466
You can check this guide to setup the google api key to enalbe the location picker - https://docs.inspireui.com/fluxstore/firebase/#sms-login

[2019-11-28 02:19] minhcasi commented on #1467
@concuacon - pls help for checking

[2019-11-28 02:26] minhcasi commented on #1469
@SKDArora - please download latest 1.5.9 to fix this issue - thank you!

[2019-11-28 02:26] #1469 closed

[2019-11-28 02:28] minhcasi commented on #1471
@anshbot - could you able to build the product so far?

Please ignore the TODO warning as it is noted from Developer that will not impact to the app functionalities - thanks

[2019-11-28 02:47] minhtruong315 commented on #1451
I'm checking now

[2019-11-28 02:49] minhcasi commented on #1476
Duplicate of #1476

Note with checking, please help to create your all issues in one ticket to help us focus support better on your issue - thank you!

[2019-11-28 02:49] #1476 closed

[2019-11-28 02:50] minhcasi commented on #1474
Hello, my problem is that I am trying to use the CLI version of Mstore Multivendor but I cannot start the APP on Android even though I have followed the instructions to apply the following commands specified in the Read me of the project:
yarn install
expo start
react-native run-android

I have the android studio and emulator environment installed and configured.
Thanks beforehand for your attenti

[2019-11-28 03:05] minhtruong315 commented on #1451
@itej7 can you send me admin account via email: truong@inspireui.com

[2019-11-28 03:06] minhtruong315 commented on #1478
@incepio-flutter can you send me config.dart and admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1478

[2019-11-28 03:11] minhtruong315 commented on #1475
@mk4full You only need change ```"blog": "https://saler.pl/blog",``` to ```"blog": "https://saler.pl",``` in config.dart to load blogs

[2019-11-28 03:11] #1475 closed

[2019-11-28 03:13] minhtruong315 commented on #1473
@Maksish Did you install mstore extension? if you installed it, please send me admin info via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1473

[2019-11-28 03:24] minhtruong315 commented on #1444
@Senior-Gamal share me your teamviewer. I will help you check it

[2019-11-28 04:06] vumanhsn97 commented on #1464
1. Can you give me more details. Screenshots, config.dart, config.json files?
2. Fixed it in next version
3. Fluxstore use firebase messaging (https://firebase.google.com/). You need to create apps(one for ios, one for android) and download your google services json. Next step, you need to change google services json file. Run app and make sure your app connect to app in firebase. To push notifica

[2019-11-28 04:14] concuacon commented on #1406
@juniortimeline Have you approved the comment yet?

[2019-11-28 04:51] minhtruong315 commented on #1462
[opencart.zip](https://github.com/inspireui/support/files/3899880/opencart.zip)
You only need to change this config to fix the issue

[2019-11-28 04:51] #1462 closed

[2019-11-28 05:32] juniortimeline commented on #1406
I'm still waiting for update and solution to this issue. The problem is still exist. Thanks

[2019-11-28 05:44] mariod3w commented on #1405
Hello @minhcasi @concuacon

Do you have any news about the update that resolves the errors?

we already overcome our deadline

Thanks.

[2019-11-28 05:55] Maksish commented on #1473
orgom.com/admin
Dreamproject
Ajaykumar1@

On Thu, Nov 28, 2019, 08:44 minhtruong315 <notifications@github.com> wrote:

[2019-11-28 06:13] almazamangaliev opened #1479 "[my-product] -"
1. My issue:
FAILED TO LOAD PRODUCT IMAGES! I TRY UPDATE IMAGES WITH REGENERATE THUMBNAILS BUT I STILL GET THIS ERROR

════════ Exception caught by image resource service ════════════════════════════════════════════════
The following StateError was thrown resolving an image codec:
Bad state: Failed to load https://estate-turkey.ru/wp-content/uploads/woocommerce-placeholder-medium.png.

Image provi

[2019-11-28 06:31] itej7 commented on #1451
@minhtruong315 --- can you specify which admin account credentials are needed?

[2019-11-28 07:21] godofblack commented on #1465
Hey there ?! Any Update on this issue

[2019-11-28 07:50] concuacon commented on #1406
@juniortimeline Please answer me when you add a review do you go to the admin page to approve it as I said? If you do not approve, how can it be displayed?

[2019-11-28 07:50] concuacon commented on #1406
@juniortimeline

[2019-11-28 07:54] vumanhsn97 commented on #1390
@fernandoalfarocode Replace 2 files in src/services: CustomAPI.js and WPUserAPI.js
[Archive.zip](https://github.com/inspireui/support/files/3900488/Archive.zip). Make sure you install new plugin Mstore API.

[2019-11-28 07:58] concuacon commented on #1472
@gnam389 Bần đọc docs của react-native trước: https://facebook.github.io/react-native/docs/getting-started.html
Bạn có thể làm theo các bước sau:
- xoá thư mục node_modules/
- mở power shell lên và run theo lệnh sau: npm install ; cd android ; ./gradlew clean ; cd ../ ; react-native run-android

[2019-11-28 08:10] concuacon commented on #1361
@007asom
This is Apple's new policy. If you use a third-party login service, you must always use Apple for Apple to approve for you.

[2019-11-28 08:34] minhcasi commented on #1405
We fixed this issue, try the latest 3.0.6 - thanks

[2019-11-28 08:35] EffectiveOG commented on #1478
same error for me.. + humberger menu isn't in fixed position.

[2019-11-28 08:56] juniortimeline commented on #1406
Yes - http://prntscr.com/q37r2r

[2019-11-28 09:04] derinweb commented on #1411
Hello,

Do you have any new update please.

[2019-11-28 09:14] concuacon commented on #1406
@juniortimeline can I remote to desktop to check?

[2019-11-28 09:17] concuacon commented on #1406
No, Please read again my comment, I don't mean config it in the setting but in the Comments category as the picture I attached, please do as I suggested

[2019-11-28 09:25] Alnaggar94 opened #1480 "[Fluxstore Pro] - issues with the new version 1.5.9"
- Issue No1:

When I click the country in the shipping information it shows a red screen with an error.

Screenshots of the issue:

Screenshots - https://imgur.com/4PgKLBP
Vidoe for the issue - https://imgur.com/OPg25cf
------------------------------------------------------------
- Issue No2:

When I add products to the cart the display name has a position issue in the Arabic language (RTL).

Scre

[2019-11-28 09:28] mk4full commented on #1475
@minhtruong315  thank u, work :)

[2019-11-28 10:48] minhcasi commented on #1465
@godofblack - from the mobile app simulator could you connect by the browser with this http://192.168.0.112:3001 ? You can try with the virtual host or upload the app into hosting with accessible IP or the publish domain - thank you!

[2019-11-28 11:13] vumanhsn97 commented on #1456
@santihabib
We will update in next version. You can try to fix by chaging some file.
- src/redux/ProductRedux.js to
[ProductRedux.js.zip](https://github.com/inspireui/support/files/3901301/ProductRedux.js.zip)
- src/services/CustomAPI.js and WPUserAPI.js to
[Archive.zip](https://github.com/inspireui/support/files/3901305/Archive.zip)

Thanks for iusses!

[2019-11-28 11:24] juniortimeline commented on #1406
1. Customer can not able to post review
Review is blank and even the word of "This product don't have any reviews ... yet" is not display. Thanks

[2019-11-28 11:24] concuacon commented on #1396
@hakihosting my skype: pvtuan1707

[2019-11-28 11:25] concuacon commented on #1347
@maahiraanka I fixed in the new version, you can check it.

[2019-11-28 13:07] nseven7 opened #1481 "[my-product] - Invalid VCS root mapping"
1. Invalid VCS root mapping
2. ![333](https://user-images.githubusercontent.com/57550221/69808634-f6fa2c80-1222-11ea-9cae-fe12cc36f3bd.PNG)
3.
![3242](https://user-images.githubusercontent.com/57550221/69808690-185b1880-1223-11ea-9e0a-8bad859fbb1d.PNG)

[2019-11-28 13:14] nseven7 commented on #1481
For the Invalid VCS root mapping error you can fix it by deleting the vcs.xml file located in the .idea folder of your project and then rebuild your project.

This helped me

[2019-11-28 14:04] santihabib commented on #1456
@vumanhsn97 @minhcasi this worked for me !!! Thank you! finally everything works! thanks!

[2019-11-28 15:00] patrickubong commented on #1422
Thank for being so supportive so far.
You shared this code some days back, for me to add a link for webview to my account dashboard.

import '../../widgets/webview.dart';
Navigator.push(
context,
MaterialPageRoute(
builder: (context) => WebView(
url: 'https://payfarmer.com/my-account',
title: '',
)));

Please tell me the exact file and the exact line to paste this code that I can have a link in Se

[2019-11-28 16:31] #1456 closed

[2019-11-28 18:18] hanyelbanna opened #1482 "[FluxStore] - '_positions.isNotEmpty': ScrollController not attached to any scroll views."
Failed assertion: line 110 pos 12: '_positions.isNotEmpty': ScrollController not attached to any scroll views.

widgets/home/banner/banner_slider_items.dart:40:21)

widgets/home/banner/banner_slider_items.dart:43:23)

[2019-11-28 18:22] hanyelbanna commented on #1482
package:flutter_swiper/flutter_swiper.dart

[2019-11-28 18:44] Usman1493 opened #1483 "[FluxStore Pro] - I am facing a Payment Method Problem on my Fluxstore App"
I have disabled all the payment options in the config file.. Still it shows me this error at the payment screen.
How can I resolve this. I only want to display the Cash on Delivery Option..
A Screenshot of the error is as follows.

https://prnt.sc/q3hfmb

[2019-11-28 19:03] underscore15 commented on #1464
Sent email to minhcasi with subject as TICKET 1464

[2019-11-28 19:45] TheCellMC commented on #1405
I can confirm that this issue has been solved, I no longer get the scrollToIndex error. Thanks!

However, the following two issues still need to be addressed:

1. Onboarding does not work, I never get the welcome screen when running the app for the first time. Additionally, when building the app as release in Xcode, I get this error:

[code]
2. This is a feature request

When there is no internet

[2019-11-28 22:20] minhtruong315 commented on #1451
I need admin account to login to your admin website

[2019-11-28 22:43] minhtruong315 commented on #1480
You need to replace these files to fix issues
- screens/checkout/shipping_address.dart
- widgets/cart_item.dart
[Archive.zip](https://github.com/inspireui/support/files/3903148/Archive.zip)

[2019-11-28 22:43] #1480 closed

[2019-11-28 23:06] minhtruong315 commented on #1473
Please replace screens/cart.dart file to fix this issue
[cart.dart.zip](https://github.com/inspireui/support/files/3903172/cart.dart.zip)
when you switch between opencart and woo commerce. You must logout first.

[2019-11-28 23:06] #1473 closed

[2019-11-28 23:25] fernandoalfarocode commented on #1474
Hello, my message is to confirm that I have solved the problem to add reviews by changing the prop received from the cookie in the review / index component by user.tokenwp ...

https://ibb.co/37WK1yX

But the problem of not being able to see reviews persists, I have been debugging the data obtained in the detail / ReviewTab component and I receive an undefined data from the page even though the pr

[2019-11-28 23:40] minhtruong315 commented on #1478
@incepio-flutter pls check this solution to fix: https://github.com/Tmeister/wp-api-jwt-auth/issues/59#issuecomment-327149363

[2019-11-29 02:20] minhcasi commented on #1483
Could you help to share the screenshot of purchase screenshot from http://codecayon.net/downloads  it's used to verify your proof of purchase? sorry for any inconvenience - Thank you!

[2019-11-29 02:21] minhcasi commented on #1482
Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads  it's used to verify your proof of purchase? sorry for any inconvenience - Thank you!

[2019-11-29 02:22] minhcasi commented on #1481
@nseven7 - thank you for your sharing, We've noted for remove this folder when creating the download package - very best!

[2019-11-29 02:22] #1481 closed

[2019-11-29 02:26] minhcasi commented on #1479
@almazamangaliev - pls try to double-check from your product have included missing image feature URL:
https://estate-turkey.ru/wp-content/uploads/woocommerce-placeholder.png
or  https://estate-turkey.ru/wp-content/uploads/woocommerce-placeholder-medium.png ?

[2019-11-29 02:30] minhcasi commented on #1455
@louissaad24 - thank you Louis - let us know if you have any further request support - very best!

[2019-11-29 02:30] #1455 closed

[2019-11-29 02:31] almazamangaliev commented on #1479
I have add product in woocomerce step by step, I get this products in app
but images not loading,,
IF i use your Default link mstore.demo all working fine

пт, 29 нояб. 2019 г., 10:26 Minh Pham <notifications@github.com>:

[2019-11-29 02:31] minhcasi commented on #1464
@underscore15 - thanks, we got it

[2019-11-29 02:32] vumanhsn97 commented on #1422
@patrickubong
You can pass cookie to webview but webview not saving statement login in next page. So you need to login again in webview to connect your account. I dont know you want to go account dashboard for what. If you want to edit profile, dont worry. We will update it in next version. Thanks!

[2019-11-29 02:35] minhcasi commented on #1451
@itej7 - you can send privately to truong@inspireui.com - he needs to check the Razorpay integration - thanks

[2019-11-29 03:02] vumanhsn97 commented on #1479
@almazamangaliev
change https to http

[2019-11-29 03:29] concuacon commented on #1406
I am not saying that customers are entitled to approve the review but you have to go to admin to approve customer reviews to avoid product spam. This is a mechanism of Wordpress, you don't understand what I mean? Why does the same source I send you the customer to use ok and you do not? If so you add me Skype (pvtuan1707), will remote and check for you.

[2019-11-29 05:43] hanyelbanna commented on #1482
<img width="813" alt="Screen Shot 2019-11-29 at 8 41 44 AM" src="https://user-images.githubusercontent.com/22920591/69846153-3b69e480-1284-11ea-984a-89d8a9e36f09.png">

[2019-11-29 06:08] Usman1493 commented on #1483
No Problem, here is the screenshot from the downloads section.

![download proof](https://user-images.githubusercontent.com/30326249/69847290-7ece4e00-1298-11ea-9a86-92a780f00d3c.PNG)

[2019-11-29 06:23] MrrHak opened #1484 "FluxStore"
---------

My issue: is error at Home page when I use VerticalLayout for display recent product.

[config.zip](https://github.com/inspireui/support/files/3903971/config.zip)

![verticleLayout-issue](https://user-images.githubusercontent.com/42771980/69847971-3f5d2d00-12ab-11ea-8b12-ff2527d7363d.png)

![purchased proof](https://user-images.githubusercontent.com/42771980/69847977-4421e100-12ab-11ea-

[2019-11-29 06:56] UTimung opened #1485 "[FluxStore] - Shipping method shows zero"
Shipping method shows zero

If add 5$ in flat rate cost Shipping method show correct amount

But if add 5* [qty] Than in shipping method page It shows error, “Format exception invalid double 5 *[qty]

If i leave blank in flat rate cost

And add the shipping amount in shipping class

Than the app will show zero shipping charge

![Screenshot_20191129-122121](https://user-images.githubusercontent.com

[2019-11-29 07:00] minhtruong315 commented on #1474
@fernandoalfarocode you can add my skype: minhtruong315. i will help you check it via teamviewer

[2019-11-29 07:05] patrickubong commented on #1422
Thank you for your prompt reply always. We have a specially customized **My-Accounts Dashboard** as you can see in the photo attached. Profile Edit is fine for the next update but there are options that we added to our dashboard such as Withdraw or Re-Invest, so users need these options to complete transaction. This is why I want to point them to the Dashboard, I dont mind even if they have to log

[2019-11-29 07:36] minhcasi commented on #1485
@UTimung - could you help to attach your config files here (common/config.dart and conifg.json) so that we could help for checking - thank you!

[2019-11-29 07:49] minhcasi commented on #1484
@MrrHak - could you try to check the download version as we have refactored the config.json to multi-file to support for multi-language -> the new name should be like -> "name": "Recent Collection"

[2019-11-29 07:52] minhcasi commented on #1479
Hi, you could check the config.dart and change URL from https to http as your domain name is using http

[2019-11-29 08:15] UTimung commented on #1485
config dart https://drive.google.com/open?id=1po7-Fj5bpH2IXci9ZEAcUBz4LL4u3qqU

config.json  https://drive.google.com/open?id=1AsMpw5hLRFkc-6uIyPz1Yh417K5vhsRI

[2019-11-29 08:16] itej7 commented on #1451
@minhcasi - I have sent the admin account credentials for website we used for this app through my official email Id: tejas@quanticteq.com.

Please have a look on this and update us at earliest.

[2019-11-29 08:24] concuacon commented on #1405
@TheCellMC  okay, can you give me your skype, I'll remote to check for you.

[2019-11-29 10:13] Alnaggar94 opened #1486 "[Fluxstore Pro] - Translation fields missing"
1. My issue:

1. The following translation fields are missing (see screenshots)

2. In the Sign-in screen (Arabic language RTL) the "Reset" text supposed to be on the opposite side. (see screenshots) - https://imgur.com/xx0cN2h

2. Screenshots issues:

* Coupon section - https://imgur.com/a/Yy3eG8R
* After placing an order - https://imgur.com/bU9vMLa
* Welcome screen (I changed the default languag

[2019-11-29 10:40] UTimung commented on #1485
Waiting

[2019-11-29 10:51] ademornek58 opened #1487 "price area"
Hi
I want to remove the price area.How do I

[2019-11-29 11:19] Alnaggar94 opened #1488 "[Fluxstore Pro] - Wrong text direction the Sign-in screen (Arabic language RTL)."
1. My issue:

In the Sign-in screen (Arabic language RTL) the "Reset" text supposed to be on the opposite side. (see screenshots)

2. Screenshots issues:

https://imgur.com/xx0cN2h

3. Proof of my purchased:

https://imgur.com/a/9TsYcIf

3. Config files (optional)

Config.dart - https://filebin.net/becvkrj8hww0zj70/config.dart?t=zsbmottl

Config.json - https://filebin.net/yawilsdcvbq0cdiy/config.j

[2019-11-29 11:45] MrrHak commented on #1484
I use your latest version source code and it's already implement multi-language with name "Recent Collections" you will sell it in my config.json file I use you original "config_theme10.json" it still error please check it. Thanks

[2019-11-29 13:50] rodrigoalves1901 opened #1489 "[Fluxstore] - error in shipping method"
Hello. I upgraded to the new version and the following message appears. There is an issue with the app during request the date.
I made a video demonstrating the wordpress error and configuration.

https://streamable.com/llq61

[2019-11-29 14:02] Q8hma commented on #1470
hello ,, any help ??

[2019-11-29 14:58] antixirus opened #1490 "[MStore Pro] How to install Wordpress demo MStore and Sync with MStore Pro apk"
Somebody can help me? Im new buyer MStore Pro...
Sorry for my bad english

[2019-11-29 15:44] fernandoalfarocode commented on #1474
Hello, I do not find your user on Skype but I send you an invitation link to add me, I am contacted at this time onwards.

https://join.skype.com/invite/vAgmrv5xY7HZ

[2019-11-29 16:06] fernandoalfarocode commented on #1390
This problem was already solved, those components were, thanks for the help ...

I'm going to close

[2019-11-29 16:06] #1390 closed

[2019-11-29 17:13] incepio-flutter commented on #1478
Thanks for your reply I am now able to signin and signup through the app but now there are  2 problems
1st is I can't see upload products tile is user profile. I have configured the .htaccess and wp-config.php  as your docs said
2nd problem is whenever i select country this error pops up " getter country was called on null
and also please tell me a way that I can apply CRUD opearations on user pro

[2019-11-29 17:56] UTimung commented on #1485
Why not responding?

[2019-11-29 18:01] UTimung commented on #1489
Same problem

[2019-11-29 18:52] kurkuteabhi commented on #1489
**### I also have same issue with app**

![purches](https://user-images.githubusercontent.com/43174699/69886311-5e89a800-1307-11ea-8638-6592999962b8.jpg)
![Screenshot_20191128-152302](https://user-images.githubusercontent.com/43174699/69886313-5f223e80-1307-11ea-9ec1-2447715dca1d.png)

[2019-11-29 19:17] UTimung commented on #1489
For Red text error
You have to enter shipping method ID in config.dart

[2019-11-29 19:33] rodrigoalves1901 commented on #1489
Mine is configured this way, it should appear.

"ZoneIdShipping": [1, 2],

[2019-11-29 19:34] UTimung commented on #1489
You have to replace the [1,2]
To your shipping method id

[2019-11-29 19:51] rodrigoalves1901 commented on #1489
Now it's gone, you can't leave [1,2] if you only have 1 shipping method, as I had only one shipping method and i just left [1] and it worked. But he does not calculate the freight of the post office is still coming reset.

![image](https://user-images.githubusercontent.com/43248152/69887831-5574e880-12bf-11ea-8840-42aaead539e6.png)

[2019-11-29 21:32] TheCellMC commented on #1405
The trouble with trying to organise a Skype is that I live in an entirely different time zone (Europe) so it will be difficult to arrange this.

Could you just point me to how I can customise the fonts in the app?
And is it normal that onboading does not work?

[2019-11-29 22:35] Senior-Gamal commented on #1444
please share me your mail or skype to send teamviewer info

[2019-11-29 22:51] almazamangaliev commented on #1479
not working

[2019-11-29 22:52] almazamangaliev commented on #1479
why you close topic? i try change https to http - still now working still images not loading

[2019-11-30 02:15] UTimung commented on #1489
For me also Same problem

![Screenshot_20191129-122121](https://user-images.githubusercontent.com/18107447/69894399-46d11480-1345-11ea-8e04-65abf70fe171.png)

[2019-11-30 02:33] minhcasi commented on #1486
@minhtruong315 - pls help for checking this issue - thanks

[2019-11-30 02:34] minhcasi commented on #1487
Hi, you can use the inspector to custom any UI from the project - https://docs.inspireui.com/fluxstore/useful-tip/

Also, pls provide your proof of purchase by taking the screenshot from http://codecayon.net/downloads - thank you!

[2019-11-30 02:34] #1487 closed

[2019-11-30 02:36] minhcasi commented on #1488
Duplicate of #1486

I've moved this issue to 1486 as it's duplicate, please help us to create one ticket for your all issues - thank you!

[2019-11-30 02:36] #1488 closed

[2019-11-30 02:38] minhcasi commented on #1485
@minhtruong315 - pls help for checking - thanks

[2019-11-30 02:39] minhcasi commented on #1489
Related ticket #1485

The team is checking and will keep an update - thank you!

[2019-11-30 02:44] minhcasi commented on #1490
Hi, please help to check this video to install the mstore demo - https://www.youtube.com/watch?v=CEyfZmzBMTw&t=1337s (this product fluxstore is not related to mstore but the demo website installing is the same) - thank you!

[2019-11-30 02:44] #1490 closed

[2019-11-30 02:52] minhcasi commented on #1479
Sorry, you can also re-open if the ticket is not resolved.

Could you share your config files here (common/config.json and config.dart) - we will help for checking - thank you!

[2019-11-30 02:55] minhcasi commented on #1405
@TheCellMC  - pls check this detailed guide to add new fonts  - https://medium.com/@kswanie21/custom-fonts-in-react-native-tutorial-for-ios-android-76ceeaa0eb78

@concuacon - pls check the onboarding screens issue

[2019-11-30 02:58] minhcasi commented on #1471
@anshbot - please check the config for the category on this guide - https://docs.inspireui.com/fluxstore/home-layout/#category-list-icons - it's required to update the category to match with your own category ID then it will appear

[2019-11-30 03:00] minhcasi commented on #1390
@fernandoalfarocode - thank you, we are happy that support for your ticket.

Please help us to give the feedback/rating to http://codecayon.net/downloads - that would be great help for the team. Very best!

[2019-11-30 03:01] minhcasi commented on #1470
@concuacon - please double-check this issue - thank you!

[2019-11-30 03:03] minhcasi commented on #1484
@MrrHak - we got the root cause issue.

@minhtruong315 - please update new config_theme10.json to match with new refactor of the config - and also another related theme - thank you!

[2019-11-30 03:13] almazamangaliev commented on #1479
сб, 30 нояб. 2019 г. в 10:52, Minh Pham <notifications@github.com>:

--
С уважением
Алмаз

[2019-11-30 03:41] vumanhsn97 commented on #1479
Your connection is not private
https://support.google.com/chrome/answer/95617?hl=en

With link https:
![Screenshot_20191130-103638_Chrome](https://user-images.githubusercontent.com/39208623/69895162-683dfa80-135d-11ea-871c-a89fd463700b.jpg)

Http is ok:
![Screenshot_20191130-103819_Chrome](https://user-images.githubusercontent.com/39208623/69895170-a76c4b80-135d-11ea-814f-c37309f005a8.jpg)

So whe

[2019-11-30 03:44] almazamangaliev commented on #1479
OK, so what i need to do for fix it? Disable sertificate?

сб, 30 нояб. 2019 г., 11:41 vumanhsn97 <notifications@github.com>:

[2019-11-30 05:42] almazamangaliev commented on #1479
i update my ssl certificate and now its working fine! Thank you so much

сб, 30 нояб. 2019 г. в 11:44, Almaz Amangaliev <almazamangaliev@gmail.com>:

--
С уважением
Алмаз

[2019-11-30 06:40] pixelpromote opened #1491 "User Registration Giving error"
User Registration API giving error "Cannot create user with empty login name
![1575094743568000_1822735147](https://user-images.githubusercontent.com/58021725/69896902-59aa1000-136a-11ea-94a6-fd0cec88c32f.png)
![1575093717026000_1822735147](https://user-images.githubusercontent.com/58021725/69896907-6a5a8600-136a-11ea-9722-03a9768608a2.png)

"

[2019-11-30 07:41] patrickubong commented on #1422
Please help me with this information so I can finally build my app for release. Which files do I make changes to, and at what line do I paste this code to add a menu item in the Settings Section and the Menu Link to my Account Dashboard.

import '../../widgets/webview.dart';
Navigator.push(
context,
MaterialPageRoute(
builder: (context) => WebView(
url: 'https://payfarmer.com/my-account',
title: '

[2019-11-30 07:51] #1472 closed

[2019-11-30 07:53] concuacon commented on #1491
@pixelpromote Please follow this link https://github.com/inspireui/support/issues/1406#issuecomment-555421606 I think it will help you

[2019-11-30 08:07] pixelpromote commented on #1491
Great it worked! Now the issue is that only username is being stored in the database but not the email id. How t fix this?

[2019-11-30 08:34] MrrHak commented on #1484
sorry  I don't understand please give me more details

[2019-11-30 08:40] Dhavalkatrodiya opened #1492 "[fluxstore] - Razorpay not Working"
My issue:

hi,  when i select razorpay & place my order, nothing happens just loading icon appears(see screenshot)

    Screenshots issues:
    https://snipboard.io/53Z6Fv.jpg

    Proof of my purchased:
    https://snipboard.io/6EgT7k.jpg

    Config files (optional)
.dart
https://codeshare.io/aJBOOX

.json
https://codeshare.io/2B4EEx

[2019-11-30 10:42] UTimung commented on #1489
Waiting

[2019-11-30 10:57] bobozd commented on #1446
this is error I get trying with latest 1.2 version

Xcode's output:
↳
    /Users/borisbozic/AndroidStudioProjects/FluxstoreApp_01/ios/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/GDTCORStorage.m:123:41: error: no known class method for selector 'archivedDataWithRootObject:requiringSecureCoding:error:'
            NSData *data = [NSKeyedArchiver archivedDataWithRootObject:self

[2019-11-30 14:47] ahmadyousefdev opened #1493 "[Cestore] - SwipeRow doesn't close after delete"
1. My issue:

In `src/containers/Cart/MyCart/index.js` swipeRow doesn't close after deleting an item and continues the next item. I want the delete button to be hidden after deleting the item. I don't want it to continue to the next item. Is this possible ?

Thanks!

2. Screenshots issues:

![clickable](https://user-images.githubusercontent.com/19305025/69901950-22068c80-1399-11ea-930f-5a382a69923

[2019-11-30 15:14] ahmadyousefdev commented on #1493
There is this [solution](https://github.com/jemise111/react-native-swipe-list-view/issues/364) , but I didn't know how to implement it. Can you help me guys? Thanks!

[2019-11-30 15:33] MohammedSwefee commented on #1466
Dear Minhcasi,

    I tried to create billing account but there is no option to chose Iraq (my country) from the list. is it fine if I chose another country?

[2019-11-30 17:22] UTimung commented on #1485
Help please

[2019-11-30 18:10] nseven7 opened #1494 "[my-product] - Flux store"
1. Even After replacing the logo.png in the asset file, still I see only Fluxstore logos.
The icon has changed, but the logo and color are not

[2019-11-30 22:08] Jegufull commented on #1396
I hace the same error.

[2019-11-30 23:40] incepio-flutter commented on #1478
Inspire Ui team?

[2019-12-01 01:03] minhcasi commented on #1493
@ahmadyousefdev - this could be the bug of the current version, let me forward to my team for checking and they will let you know - thank you!

[2019-12-01 01:05] minhcasi commented on #1494
@nseven7 - could you help to take the screenshot of this issue, and also share the proof of your purchase from http://codecayon.net/downloads - thank you!

[2019-12-01 01:08] minhtruong315 commented on #1492
@Dhavalkatrodiya Can you send me config.dart and admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1492

[2019-12-01 01:10] minhtruong315 commented on #1486
@Alnaggar94 I will fix these issues. thanks

[2019-12-01 01:11] minhtruong315 commented on #1485
@UTimung can you send me admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1485

[2019-12-01 01:13] minhtruong315 commented on #1484
@MrrHak I will update all config.json on theme. We changed multilanguage for config file.

[2019-12-01 01:15] minhtruong315 commented on #1478
@incepio-flutter please check this commend: https://github.com/inspireui/support/issues/1480#issuecomment-559614342

[2019-12-01 01:17] minhtruong315 commented on #1474
@fernandoalfarocode I ping you on the skype. please check

[2019-12-01 01:18] minhtruong315 commented on #1451
@itej7 I will check it and let you know soon

[2019-12-01 01:18] minhtruong315 commented on #1444
my skype: minhtruong315

[2019-12-01 01:28] nizarweb77 opened #1495 "fluxstore failed to build ios"
7347f2d1-d5aa-4bc0-b6f3-0e2cf237c3de - 1 Nov 2019
************************************************************
i have tried many time to build the ios in imac but its failed many time

2019-11-30 14:22:28.131 xcodebuild[39373:456543] Malformed bundle does not contain an identifier at /Library/Developer/CoreSimulator/Profiles/Runtimes/watchOS 4.1.simruntime
    2019-11-30 14:22:28.133 xcodebuild[39

[2019-12-01 03:47] RKDArora opened #1496 "FluxStore 1.5.9"
https://sanjayelectronics.in/

/// Server config
const serverConfig = {
  "type": "magento",
  "url": "https://sanjayelectronics.in",
  "accessToken": "I_Generated_and_Updated"
};

Launching lib\main.dart on CPH1911 in debug mode...
Running Gradle task 'assembleDebug'...
√ Built build\app\outputs\apk\debug\app-debug.apk.
Syncing files to device CPH1911...
D/OpenSSLLib(12373): OpensslErr:Module:12(

[2019-12-01 05:46] MrrHak commented on #1484
When this update available for download?

[2019-12-01 05:55] Q8hma commented on #1470
hello ,, do you want full source for what i did ??
if yes please send me the email
thns

[2019-12-01 06:48] bao-1986 opened #1497 "[BeoNews] - iframe videos is not working & Text new line Styles"
---------

1. My issue:
 1.1 all my videos are not working (iframe videos) example : <iframe src=”” width=”640” height=”400” frameborder=”0” scrolling=”no”></iframe>

1.2 the text of the post has new line, but the app  shows all the text of the post  in one line.

2. Screenshots issues:
![Screenshot_1575181674](https://user-images.githubusercontent.com/58382254/69910612-399d4e00-1449-11ea-9078-b44

[2019-12-01 07:11] minhcasi commented on #1489
Related to #1452

[2019-12-01 07:12] minhcasi commented on #1452
@minhtruong315 - investigate the hook to get the shipping rate on this API - https://github.com/inspireui/support/issues/1452

[2019-12-01 07:17] minhcasi commented on #1495
@nizarweb77 - could you try to run "flutter doctor -v" and send us the result?

[2019-12-01 07:18] minhcasi commented on #1497
@bao-1986 - could you help to attache the config file common/config.js and appconfig.json here ?

[2019-12-01 07:22] minhcasi commented on #1452
@drew1607  - could you share the plugin "Table Rate Shipping" to email support@inspireui.com - we need to check the API issue - thanks

[2019-12-01 07:37] nseven7 commented on #1494
![1](https://user-images.githubusercontent.com/57550221/69911048-67d25c00-1450-11ea-8e53-dfb18bdb156d.PNG)
![2](https://user-images.githubusercontent.com/57550221/69911049-6d2fa680-1450-11ea-982e-a3e40f2d21f1.PNG)
![3](https://user-images.githubusercontent.com/57550221/69911050-71f45a80-1450-11ea-84e6-76f35140e95b.PNG)
![3242](https://user-images.githubusercontent.com/57550221/69911051-7ae52c00-14

[2019-12-01 07:43] drew1607 commented on #1452
Sent via wetransfer

[2019-12-01 07:53] nizarweb77 commented on #1495
Users/user161080/Desktop/flutter/bin/flutter doctor --verbose
[✓] Flutter (Channel stable, v1.9.1+hotfix.5, on Mac OS X 10.14.6 18G1012, locale en)
    • Flutter version 1.9.1+hotfix.5 at /Users/user161080/Desktop/flutter
    • Framework revision 1aedbb1835 (6 weeks ago), 2019-10-17 08:37:27 -0700
    • Engine revision b863200c37
    • Dart version 2.5.0

[!] Android toolchain - develop for Androi

[2019-12-01 07:56] nizarweb77 commented on #1495
really the build ios give me hard time
note : i already have ios developer account and i have also imac
will be nice if you make video in how we can publish to app store and build the app alos setup the fiirebase this is will be helpful to all your customer

[2019-12-01 09:11] bao-1986 commented on #1497
{
  "URL": {
    "root": "http://baobaocastle.com/"
  },
  "HorizonLayout": [
  //  {
   //   "layout": 4,
   //   "paging": true,
    //  "categoryOrTag": 15,
    //  "categories": [
    //    15
    //  ]
  //  },
    {
      "name": "Top Videos",
      "layout": 4,
      "paging": true,
      "categoryOrTag": 12,
      "categories": [
        12
      ]
    },
    {
      "name": "Baby Bus Chan

[2019-12-01 09:11] bao-1986 commented on #1497
{
  "URL": {
    "root": "http://url.com/"
  },
  "HorizonLayout": [
  //  {
   //   "layout": 4,
   //   "paging": true,
    //  "categoryOrTag": 15,
    //  "categories": [
    //    15
    //  ]
  //  },
    {
      "name": "Top Videos",
      "layout": 4,
      "paging": true,
      "categoryOrTag": 12,
      "categories": [
        12
      ]
    },
    {
      "name": "Baby Bus Channel",

[2019-12-01 09:23] bao-1986 commented on #1497
/** @format */

import Constants from './Constants'

export default {
  /**
   * The detail document from: https://beonews.inspireui.com
   * Step 1: Moved to AppConfig.json
   */

  Banner: {
    visible: true,
    sticky: true,
    tag: [],
    categories: [],
  },

  /**
   * Advance config
   * CategoryVideo: config the category id for video page
   *
   * */
  // Category video id from the me

[2019-12-01 10:00] bao-1986 commented on #1497
Is the app working good with specific wordpress themes?

[2019-12-01 11:24] incepio-flutter commented on #1478
Thanks @minhtruong315  and please tell me I can't see the upload product after the sign in  or signup ! Please guide me here as well @minhcasi

[2019-12-01 12:01] UTimung commented on #1489
but i'm not using any table rate plugin #1452

[2019-12-01 13:22] Madraka opened #1498 "[FluxStore-WooCommerce] - Gradle Problem"
Hi, i have gradle problem

Launching lib\main.dart on SM G960F in debug mode...
Initializing gradle...
Resolving dependencies...
* Error running Gradle:
ProcessException: Process "C:\src\market2\android\gradlew.bat" exited abnormally:

FAILURE: Build failed with an exception.

* Where:
Build file 'C:\src\market2\android\app\build.gradle' line: 81

* What went wrong:
A problem occurred evaluating p

[2019-12-01 13:52] UTimung commented on #1485
I sent you an email, please check

[2019-12-01 15:11] minhtruong315 commented on #1451
@itej7 I checked your config. it's working well on my end. Can you check again? if you have any issues. please record screen
[Untitled.mov.zip](https://github.com/inspireui/support/files/3908329/Untitled.mov.zip)

[2019-12-01 15:12] minhtruong315 commented on #1496
@RKDArora Can you send me config.dart file and admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1496

[2019-12-01 15:18] minhtruong315 commented on #1489
@rodrigoalves1901  You can replace getShippingMethods function in services/woo_commerce.dart file to fix this issue
[code]

[2019-12-01 15:22] minhtruong315 commented on #1484
[woocommerce.zip](https://github.com/inspireui/support/files/3908350/woocommerce.zip)
I updated config.json on theme. Please use it

[2019-12-01 15:23] minhtruong315 commented on #1478
@incepio-flutter I will check them let you know

[2019-12-01 15:54] UTimung commented on #1489
after replace,
Still showing zero

[2019-12-01 16:28] bao-1986 commented on #1497
I could see that the bug is located here. can you allow the iframe from from this webiste www.pptv.com instead of youtube and fix the bugs in the tags style?  otherwise I really can not use the app.

![image](https://user-images.githubusercontent.com/58382254/69916735-b9eb9f80-1499-11ea-81ea-b496445217b9.png)

[2019-12-01 16:31] bao-1986 commented on #1497
I think the bug is in here ... youtube and  the tags style? Can you fix these bugs otherwise I really can not use the app.
![image](https://user-images.githubusercontent.com/58382254/69916860-02f02380-149b-11ea-93f8-7c28a901be19.png)

[2019-12-01 16:31] antixirus opened #1499 "[ASKED] I Can't Customization MStore Pro App with CE Builder, the spesific (Run Android Setup)"
Hallo Sir, can you help me, to install and configure the CE Builder for MStore Pro, All Required Plugins is Good, but error :( Need Video tutorial
*Text Error*
Windows PowerShell
Copyright (C) 2016 Microsoft Corporation. All rights reserved.

Remove-Item : A parameter cannot be found that matches parameter name 'rf'.
At C:\Users\ASUS\Downloads\codecanyon-u5KBuUQB-beostore-complete-react-native-tem

[2019-12-01 16:41] bao-1986 commented on #1497
@minhcasi

[2019-12-01 17:07] bao-1986 commented on #1497
you can reproduce this bug using any iframe from this this website
example ..

 <iframe src="http://player.pptv.com/iframe/index.html#id=171278696&ctx=o%3Dv_share" allowtransparency="true" width="640" height="400" scrolling="no" frameborder="0" ></iframe>

[2019-12-01 17:16] MohammedSwefee opened #1500 "[Flux-Store] - on cash delivery"
Dears,

the issue is that I get an error message when i tried to use on cash delivery method

![image](https://user-images.githubusercontent.com/34106827/69917412-c27eae80-1476-11ea-847b-c978d4161bcc.png)

Config.dat as below:

[config.zip](https://github.com/inspireui/support/files/3908478/config.zip)
[payment.zip](https://github.com/inspireui/support/files/3908480/payment.zip)

mohammed.thaaer94

[2019-12-01 17:25] bao-1986 commented on #1497
[Config.zip](https://github.com/inspireui/support/files/3908489/Config.zip)

[2019-12-01 23:16] johanlydev opened #1501 "bug after signup"
bug after signup  is show login page as u not login before so should after signup move u to home page

[2019-12-01 23:43] minhtruong315 commented on #1489
That solution only fix for issues of @rodrigoalves1901. not you.
Can you send me admin info website to email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1489
I need to check your website first

[2019-12-02 01:09] minhtruong315 commented on #1485
[Archive.zip](https://github.com/inspireui/support/files/3909010/Archive.zip)
@UTimung please replace these files to fix shipping cost issues

[2019-12-02 01:14] MrrHak commented on #1484
Yes, Thank you

[2019-12-02 02:38] vumanhsn97 commented on #1422
@patrickubong
Sorry for late! You can add your code at line: https://tppr.me/AsIBd in lib/screens/settings.dart

[2019-12-02 03:42] RKDArora commented on #1496
Sir,

PFA.

Thanks & Regards

Rajesh

On Sun, Dec 1, 2019 at 8:42 PM minhtruong315 <notifications@github.com>
wrote:

URL            https://sanjayelectronics.in/admin_uto8xw
User Name      RKDArora
Password       VjfgbdjVf@543

[2019-12-02 03:44] RKDArora commented on #1496
[Admin_Account_Details.txt](https://github.com/inspireui/support/files/3909340/Admin_Account_Details.txt)

[02.zip](https://github.com/inspireui/support/files/3909342/02.zip)

[2019-12-02 03:59] minhcasi commented on #1501
Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads  it's used to verify your proof of purchase? sorry for any inconvenience - Thank you!

[2019-12-02 04:00] minhcasi commented on #1500
Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads  it's used to verify your proof of purchase? sorry for any inconvenience - Thank you!

[2019-12-02 04:01] minhcasi commented on #1499
Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads  it's used to verify your proof of purchase? sorry for any inconvenience - Thank you!

[2019-12-02 04:03] johanlydev commented on #1501
check ur live chat on site for privacy

[2019-12-02 04:39] MohammedSwefee commented on #1466
for now, I don't need to use shipping or maps so I turned it off

[2019-12-02 04:39] #1466 closed

[2019-12-02 05:18] Riyashanke commented on #1364
Hi @concuacon any updates regarding the issues.

[2019-12-02 06:02] Usman1493 commented on #1483
Any update regarding this?

[2019-12-02 06:20] Dhavalkatrodiya commented on #1492
ok

[2019-12-02 06:30] Dhavalkatrodiya commented on #1492
mail has been sent

[2019-12-02 06:44] UTimung commented on #1485
Hello
In app shipping costs are now showing

But the shipping cost data are not sending to woocommerce

It shows shipping ZERO in woocommerce order details

![Screenshot_20191202-114559~2](https://user-images.githubusercontent.com/18107447/69936233-32377c80-14fd-11ea-86ea-89dc9d34a6e8.png)
![Screenshot_20191202-121159~2](https://user-images.githubusercontent.com/18107447/69936251-3f546b80-14fd-11e

[2019-12-02 07:08] minhcasi commented on #1412
@motolorar - it could not as from your simulator it could not reach to this URL - you can try to publish to real IP/hosting and try the connection - thank you!

Let us know if you have any further issues - very best

[2019-12-02 07:08] #1412 closed

[2019-12-02 07:09] #1431 closed

[2019-12-02 07:09] #1433 closed

[2019-12-02 07:10] minhcasi commented on #1446
@bobozd pls try to run "flutter clean" and run the project again.

Also, run "flutter channel stable" to update your flutter to a stable source

Let us know your checking - thanks

[2019-12-02 07:10] #1447 closed

[2019-12-02 07:11] #1457 closed

[2019-12-02 07:11] #1465 closed

[2019-12-02 07:11] minhcasi commented on #1471
Let us know if you have any further issue by create new ticket, or reopen if this does not work - thanks

[2019-12-02 07:11] #1471 closed

[2019-12-02 07:16] minhcasi commented on #1479
@almazamangaliev  you are welcome - please help to support us by giving some rating/feedback to http://codecayon.net/downloads

If you have any further issues, feel free to contact us 😊

[2019-12-02 07:16] #1479 closed

[2019-12-02 07:17] UTimung commented on #1483
i also disabled COD on some shipping zone

but app showing COD in every shipping zone

[2019-12-02 07:18] minhcasi commented on #1482
@hanyelbanna - sorry for the late response, could I know your username on Envato as I could get your detail from the screenshot?

Also, run this script to check your flutter setting "flutter channel stable" and "flutter clean"
Send us your "flutter doctor -v"

Make sure to download the latest version as well

[2019-12-02 07:19] minhcasi commented on #1483
@minhtruong315 - could you update the patching for this issue - thanks

[2019-12-02 07:25] minhcasi commented on #1495
Hi, you need to resolve these error from the tool to run the project, try to open XCode:

✗ Xcode requires additional components to be installed in order to run.
Launch Xcode and install additional required components when prompted.

Pls try to use this guide and make sure you can run the Test Drive successful - https://flutter.dev/docs/get-started/test-drive

[2019-12-02 07:26] minhcasi commented on #1498
Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads  it's used to verify your proof of purchase? sorry for any inconvenience - Thank you!

Also, make sure you can pass this Test Drive guide - https://flutter.dev/docs/get-started/test-drive

[2019-12-02 07:30] minhcasi commented on #1396
@concuacon  - pls note the solution for this issue after checking - thanks

[2019-12-02 07:32] minhcasi commented on #1406
@juniortimeline - any update on your side, is this resolved?

[2019-12-02 07:35] minhcasi commented on #1468
@paulica40 - could you help to attache the full config file (common/config.js and appconfig.json) - thank you!

[2019-12-02 07:37] minhcasi commented on #1470
@Q8hma pls upload to https://wetransfer.com/ and share to this email support@inspireui.com and tuan@inspireui.com - thanks

[2019-12-02 07:41] minhcasi commented on #1464
@vumanhsn97 - please help for checking, also forward to your email - thank you!

[2019-12-02 07:41] #1400 closed

[2019-12-02 07:42] #1484 closed

[2019-12-02 08:56] hami44 commented on #1453
@minhcasi hi you said you will release new update on next couple of days after 5 days age
is there any update on that release ?

[2019-12-02 09:24] gokhand commented on #1388
Hi @minhcasi can we reopen this ticket, I had busy to arrange a remote connection with @concuacon , can we organize the same time on Wednesday (4th of December) please?

[2019-12-02 09:41] Dhavalkatrodiya commented on #1492
Note: This is digital download website, it doesn’t have any shipping method, user purchase an item & download it right away.

[2019-12-02 09:49] juniortimeline commented on #1406
@minhcasi not yet Im still waiting. Thanks

[2019-12-02 09:56] MohammedSwefee commented on #1500
![photo_2019-12-02_10-50-53](https://user-images.githubusercontent.com/34106827/69949770-336ba800-1503-11ea-91b4-01c3b961304b.jpg)

[2019-12-02 10:05] MohammedSwefee opened #1502 "[Flux-Store] - Instagram, blog loading issue"
Dears,

Kindly advice ho to hide Instagram and blog from home screen as I don't need to show it
(I use theme 9 )

![Annotation 2019-12-02 130345](https://user-images.githubusercontent.com/34106827/69950296-3d41db00-1504-11ea-8a22-20aafea66228.png)

Purchase code: 0ec77175-c961-49b0-acb6-d4e5b3f8e8d6

[2019-12-02 10:13] Dhavalkatrodiya opened #1503 "[fluxstore] - Digital Download website"
---------

1. My issue:
Hi, i have Digital Download website, where user purchase an design & then download it.
how ever there is no download history option (just like order history), where user can download the design they had purchased.

2. Screenshots issues:
https://snipboard.io/LA1fW0.jpg

3. Proof of my purchased:
https://snipboard.io/6EgT7k.jpg

3. Config files (optional)

[2019-12-02 10:24] hanyelbanna commented on #1482
username: hanyelbana

flutter doctor -v

[✓] Flutter (Channel stable, v1.9.1+hotfix.6, on Mac OS X 10.15.1 19B88, locale en-SA)
    • Flutter version 1.9.1+hotfix.6 at /Users/hany/Developer/flutter
    • Framework revision 68587a0916 (3 months ago), 2019-09-13 19:46:58 -0700
    • Engine revision b863200c37
    • Dart version 2.5.0

[✓] Android toolchain - develop for Android devices (Android SDK

[2019-12-02 10:56] minhtruong315 commented on #1486
I updated all language issues. It will be available in next release

[2019-12-02 11:41] vumanhsn97 commented on #1464
@underscore15
fixed in next version
You can fix by replacing files:
- lib/services/woo_commerce.dart to
[woo_commerce.dart.zip](https://github.com/inspireui/support/files/3911080/woo_commerce.dart.zip)
- lib/widgets/backdrop_menu.dart to
[backdrop_menu.dart.zip](https://github.com/inspireui/support/files/3911087/backdrop_menu.dart.zip)

Thanks!

[2019-12-02 12:11] minhtruong315 commented on #1492
We dont support business like your website.

[2019-12-02 12:17] antixirus commented on #1499
![Screenshot_2019-12-02 Downloads CodeCanyon](https://user-images.githubusercontent.com/57300649/69958848-3b920a80-1538-11ea-8f26-f82d5f8aa274.png)

Purchase Download

[2019-12-02 12:39] rodrigoalves1901 commented on #1489
Good Morning. No effect on code modification. Still remains zero.
I passed the site access in the email.

[2019-12-02 12:40] godofblack opened #1504 "Design Loaded but Data Not Shown in Application"
![4b6bc796-5e63-47aa-8392-cad059fab410](https://user-images.githubusercontent.com/53173319/69960238-f74e3c80-152e-11ea-8a44-fba839cf145b.jpeg)
Why this issue shown

[2019-12-02 12:56] shaaanishaan commented on #1267
Dear @minhcasi @concuacon I am still waiting for solution and My ticket in on Priority...
If you can't solve the matter. Just refund my money. I am still in problem after buying Expo project and not support from your side. From last 4 month I am waiting for support?????????

Regards

[2019-12-02 13:24] Alnaggar94 commented on #1486
@minhtruong315 Thank you so much for your helping, Also there is a translation missing in the login with SMS screen :

![tempsnip](https://user-images.githubusercontent.com/49800146/69962730-a97e0800-151f-11ea-952f-fe6457b30209.jpg)

When you will release the new update? Is it gonna take a long time?

[2019-12-02 13:55] incepio-flutter commented on #1478
@minhtruong315  sir have you checked on it?

[2019-12-02 15:26] minhtruong315 commented on #1485
supported.

[2019-12-02 15:26] #1485 closed

[2019-12-02 15:39] minhtruong315 commented on #1474
supported

[2019-12-02 15:39] #1474 closed

[2019-12-02 15:42] minhtruong315 commented on #1483
@Usman1493 can you send me config.dart file and admin info via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1483

[2019-12-02 15:57] hakihosting commented on #1396
Hello why you close the topic , is not solved i have the problem

[2019-12-02 19:05] TheCellMC commented on #1405
@minhcasi So I've discovered another issue. Neither videos, nor the custom pages load with the BeoNews EXPO app (tested on iOS). Could you try on your side using the latest version of BeoNews Expo (I could share a screenshot but all you see is a black image when selecting to play a video (the thumbnail loads with the circle play button, just when clicking on it, the video preview turns black, and

[2019-12-02 19:07] TheCellMC commented on #1405
Here is a video of the 2 bugs:

- Custom pages not loading

- Videos not loading

https://streamable.com/6b7hu

[2019-12-02 20:18] ahmadfmoustafa opened #1505 "Mstore pro user registration issue"
Hello,
I have a problem with user registration via Mstore pro app when I fill the registration form in the app and after a click on the register button, nothing happened and the user can't register.

after checked the api> mstore register and click on it, this message is shown {"status":"error","error":"You must include 'username' var in your request. "}

what is the issue, and how can I solve it?

[2019-12-02 21:01] TheCellMC commented on #1405
In addition, in file `Components/LeftMenu/Base.js`, I see this comment in the code:
[code]
 Based on this comment, I would suppose that it is possible to show any webpage by replacing, for example:
[code]
with:
[code]

However, that still gives my a white page in the app when selecting the About tab.

[2019-12-02 23:00] minhtruong315 commented on #1453
@hami44 I'm checking your issues

[2019-12-02 23:47] minhtruong315 commented on #1453
You can try to change getCouponInfo function in containers/Cart/Payment/index.js like this
[code]

[2019-12-02 23:54] #1492 closed

[2019-12-02 23:57] minhtruong315 commented on #1489
I dont see any email. Can you send me admin info via my email?

[2019-12-02 23:57] #1444 closed

[2019-12-02 23:58] minhtruong315 commented on #1444
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-12-03 01:20] hassanwe commented on #1355
@concuacon can you please send it to me?

nusal@me.com

[2019-12-03 02:23] minhtruong315 commented on #1493
@ahmadyousefdev I checked on my source code. it's working well. can you share me your teamviewer? i will help you check it

[2019-12-03 04:40] nizarweb77 commented on #1495
you guys never help with proper solution really bad suppppport

[2019-12-03 04:40] nizarweb77 commented on #1495
all the time go and read this and never give solution

[2019-12-03 07:16] Q8hma commented on #1470
sent the mail to you guys @minhcasi @concuacon

[2019-12-03 07:52] ahmadyousefdev commented on #1493
@minhtruong315 , actually the screenshot in the first comment is from [your app on google play](https://play.google.com/store/apps/details?id=com.inspireui.cestore&hl=en) . The code in my application for the page `src/containers/Cart/MyCart/index.js` is the same as in your original app code `CeStore-1.3.0` ..

I even upgraded `react-native-swipe-list-view` to `^2.0.6` but with no luck.

I would lo

[2019-12-03 09:57] minhtruong315 commented on #1493
@ahmadyousefdev You can fix it at containers/Cart/MyCart/index.js
change key={`cart${index}`} to key={item.product.id}

[2019-12-03 10:05] ahmadyousefdev commented on #1493
That fixed it! .. Thank you so much

Great Support as always!

[2019-12-03 10:05] #1493 closed

[2019-12-03 10:28] juniortimeline commented on #1406
@minhcasi @concuacon @luyx2412 @vumanhsn97  Please follow Up. Thanks

[2019-12-03 11:17] minhcasi commented on #1470
@concuacon - pls help for checking - thanks

[2019-12-03 11:19] anakilang99 opened #1506 "[fluxstore] - I cant continue to shipping"
1. My issue:
I cant continue to shipping.. it show this error:

2. Screenshots issues:
https://prnt.sc/q5ioun

3. Proof of my purchased:
https://prnt.sc/q5iolc

3. Config files (optional)

[2019-12-03 12:03] bobozd commented on #1446
I tried what you suggest but I get this

Launching lib/main.dart on iPhone X in debug mode...
Running pod install...
Running Xcode build...
Xcode build done.                                            5.4s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    /Users/borisbozic/AndroidStudioProjects/FluxstoreApp_02/ios/Pods/GoogleDataTransport/Google

[2019-12-03 12:19] minhcasi commented on #1406
@concuacon - remind

[2019-12-03 12:25] minhcasi commented on #1267
@concuacon - remind

[2019-12-03 12:46] elghazaly opened #1507 "Cestore mobile application npm install errors"
npm 6.9.0
node v10.16.3
expo 3.9.1

error /Users/elghazaly/Work/CeStore-1.3.0 2/Source/mobile-full/node_modules/grpc: Command failed.
Exit code: 1
Command: ./node_modules/.bin/node-pre-gyp install --fallback-to-build --library=static_library
Arguments:
Directory: /Users/elghazaly/Work/CeStore-1.3.0 2/Source/mobile-full/node_modules/grpc
Output:
node-pre-gyp info it worked if it ends with ok
node-p

[2019-12-03 13:22] sarzali07 opened #1508 "Fluxstore Pro - Flutter_test Issue"
![issue]

---------

1. My issue:
Resolving dependencies...
Because fstore depends on flutter_test any from sdk which doesn't exist (the Flutter SDK is not available), version solving failed.

Flutter users should run `flutter pub get` instead of `pub get`.
Process finished with exit code 69

2. Screenshots issues:
(https://user-images.githubusercontent.com/10739321/70054793-04842d80-15fa-11ea-826

[2019-12-03 14:00] rodrigoalves1901 commented on #1489
sent to truong@inspireui.com

[2019-12-03 14:20] hami44 commented on #1453
@minhtruong315  i tried this function but i had same problem !!!
@minhcasi

[2019-12-03 14:24] hami44 commented on #1453
![image](https://user-images.githubusercontent.com/58168661/70059380-bbc87680-15f1-11ea-8ab6-9cf5682d15c0.png)

[2019-12-03 14:45] pravindodia commented on #1496
Add this to your "DefaultLanguage": "en", to your config in

const kAdvanceConfig = {
"DefaultLanguage": "en",
...
}
This has resolved the issue for me.

[2019-12-03 16:01] minhcasi commented on #1396
@concuacon - pls check

[2019-12-03 16:02] minhcasi commented on #1388
yes sure @gokhand

[2019-12-03 16:05] minhcasi commented on #1495
ok, we could help for teamviewer remote to help fix on your PC - let us know when you are available - thanks

[2019-12-03 16:06] minhcasi commented on #1495
@minhtruong315 - pls help for this issue

[2019-12-03 16:10] mohjacksi opened #1509 "[FluxStore multivendor] -"
---------

1. My issue:
I cannot create a user from my application
2. Screenshots issues:
https://tppr.me/b8QcJ
3. Proof of my purchased:
https://tppr.me/Zi2np

[2019-12-03 16:10] minhcasi commented on #1500
@minhtruong315 - pls help for checking

[2019-12-03 16:12] mohjacksi opened #1510 "[my-product] -"
---------

1. My issue:
No stores appear in the application!
2. Screenshots issues:
https://tppr.me/BMcYB
3. Proof of my purchased:
https://tppr.me/Zi2np

[2019-12-03 16:13] minhcasi commented on #1503
@vumanhsn97 - we will upgrade this feature to add the download link option from the My Order - not sure if it works - just do more investigate - thanks

[2019-12-03 16:14] minhcasi commented on #1504
Hi, could you help to share the proof of purchase code by taking the screenshot from - http://codecayon.net/downloads - thank you!

[2019-12-03 16:15] minhcasi commented on #1505
Hi, could you help to share the proof of purchase code by taking the screenshot from - http://codecayon.net/downloads - thank you!

[2019-12-03 16:16] minhcasi commented on #1507
Hi, could you help to share the proof of purchase code by taking the screenshot from - http://codecayon.net/downloads - thank you!

[2019-12-03 16:17] minhcasi commented on #1508
@sarzali07  - could you help to check this flutter sdk config for the project, pls check this common issue/solution here - https://docs.inspireui.com/fluxstore/common-question/

[2019-12-03 16:19] minhcasi commented on #1509
@mohjacksi - pls check this guide to fix this issue, there is the missing plugin config - https://docs.inspireui.com/fluxstore/multi-vendor/#setup-mstore-api-plugin

[2019-12-03 16:29] TheCellMC commented on #1405
@minhcasi @concuacon Could someone please take a look at this?

[2019-12-03 16:32] incepio-flutter commented on #1510
Your dokan or wfcm plugin have a problem i think .

[2019-12-03 16:36] incepio-flutter commented on #1478
@minhcasi  Sir I want to Apply CRUD in user profile so that user can update his number and decsription  from the app. can you figure out  a way that I can do this  using wordpress ?

[2019-12-03 16:46] abouzeidroy commented on #1505
I have the same problem , u purchased yesterday, same problem You must include 'username' var in your request.

Purchase code: ac5bfa48-8c10-43cf-81f8-59c1d913cb56

[2019-12-03 18:28] Samygen opened #1511 "ListPro [my-product] -"
---------

1. My issue:
i have a issue with node modules , and the emulator .. i downloaded the sdk and try to put the correct folder in genymotion and show me that he cannot found it ... i try to delete the tools and reinstall again 4 times and nothing . show me the same problem. i install android studio and emulate with that .. and the issue don't disappear..
i dont know if is a problem with ceb

[2019-12-03 21:02] ahmadfmoustafa commented on #1505
Item Purchase Code: caa242e3-a613-4bb4-b44a-dc2a4c906e67
![screencapture-codecanyon-net-downloads-2019-12-03-23_00_07](https://user-images.githubusercontent.com/47982175/70089520-ebdb3e00-1620-11ea-83e9-e5bdb408e509.png)

[2019-12-03 21:28] mohjacksi commented on #1510
OK, I'll reinstall the whole WP on my website!

[2019-12-03 21:37] mohjacksi commented on #1509
I'm getting {"status":"ok","controller":"mstore_user","method":"register","nonce":"22664867a2"}

[2019-12-03 21:53] mohjacksi commented on #1509
Then I'm getting this error for login and sign up with email
https://tppr.me/wA18V
but when I sign up with email the user created! but don't login in

[2019-12-03 22:24] mohjacksi commented on #1510
I don't have any problems with the wfcm plugin :(

[2019-12-03 22:44] mohjacksi commented on #1510
Also when click on
https://tppr.me/xWJiE

I get

https://tppr.me/SY1ip

[2019-12-03 23:11] minhtruong315 commented on #1451
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-12-03 23:11] #1451 closed

[2019-12-03 23:54] abouzeidroy commented on #1505
Also, Problem 2
In your demo app:
If no user login, i am inside shopping cart -> i click "next step", i go to sign in or sign up page to finish the order (Perfect!!)

In my downloaded purchased app:
If no user login, i am inside shopping cart -> i click "next step", i go to "Your shipping details" page!! And if we continue, the app crash! No i don't want this, i want to go to sign in / sign up pag

[2019-12-04 00:05] EmilianH opened #1512 "[Fluxstore 1.5.9] - sing in not working in this version"
---------

1. My issue: in fluxstore 1.5.9 sing in not working, , in version 1.5.7 the sing in work perfect with the same setup

2. Screenshots issues:
![image](https://user-images.githubusercontent.com/57189819/70100320-1cff4280-1610-11ea-80e0-8143f78fc929.png)

3. Proof of my purchased:
![compra](https://user-images.githubusercontent.com/57189819/70100433-76677180-1610-11ea-8b0e-1a5f61f5e950.jpg

[2019-12-04 01:29] minhtruong315 commented on #1506
@anakilang99 can you send me config.dart file and admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1506

[2019-12-04 01:36] minhtruong315 commented on #1502
@MohammedSwefee I dont understand your issues. if you use theme 9, it will not have blog and instagram.

[2019-12-04 01:49] minhtruong315 commented on #1500
@MohammedSwefee you can replace getPaymentMethods function in services/woo_commerce.dart like this
[code]

[2019-12-04 02:00] minhtruong315 commented on #1483
@Usman1493 Disable Shipping only work with woo commerce. Magento and Opencart must EnableShipping

[2019-12-04 02:04] minhtruong315 commented on #1489
I see you installed plugin Claudio Sanches - Correios for WooCommerce
for shipping. But we haven't supported this plugin yet.

[2019-12-04 02:21] antixirus opened #1513 "[MStore Pro] The development server returned response error code: 500"
![Capture](https://user-images.githubusercontent.com/57300649/70106856-54eda080-1677-11ea-8228-7d2a84af9a72.PNG)

Somebody can help me to solve this problem? Please..

[2019-12-04 04:42] pksuthar opened #1514 "[mstore-pro] - How to redeem points and rewards"
---------

1. My issue:
On web panel, we can see points and rewards to redeem on checkout page, but not able to show on app checkout page. can you please guide how to show this option so we can redeem points on checkout for application user ?

You can see only coupon text field on page. Please find below attached screenshot.

2. Screenshots issues:
Web portal:
![Screenshot 2019-12-04 at 10 08 17 A

[2019-12-04 04:49] minhtruong315 commented on #1496
@RKDArora You can try this example. It's working well
[example.zip](https://github.com/inspireui/support/files/3920044/example.zip)

[2019-12-04 04:50] minhtruong315 commented on #1495
@nizarweb77 add my skype: minhtruong315
i will help you check via teamviewer

[2019-12-04 04:51] minhtruong315 commented on #1482
@hanyelbanna can you send me your source code via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1482

[2019-12-04 04:52] minhtruong315 commented on #1453
add my skype: minhtruong315
i will help you check it via teamviewer

[2019-12-04 04:54] minhtruong315 commented on #1452
@drew1607  we haven't supported this plugin now. I will try to add this plugin to Fluxstore. Thanks for your request

[2019-12-04 04:55] minhtruong315 commented on #1314
duplicate: https://github.com/inspireui/support/issues/1489#issuecomment-561441749

[2019-12-04 04:55] #1314 closed

[2019-12-04 04:56] dermayank opened #1515 "[Beonews pro] - Help with installing Beonews"
I am trying to install beonews on Linux system and I'm facing lots of errors:

1) Even after installing all the plugins in the wordpress site, the cebuilder still says "The rest api is not working correctly!"

![Screenshot from 2019-12-04 10-49-05](https://user-images.githubusercontent.com/24271097/70114815-bddb1580-1683-11ea-9787-7d5a3d976901.png)

2) Can't install Homebrew, Yarn, Expo directly f

[2019-12-04 04:58] minhtruong315 commented on #1071
@luisalexhg I fixed some more issues shipping method. I'll be available in next release. Thanks for your report

[2019-12-04 04:58] #1071 closed

[2019-12-04 05:04] jpmishra1010 opened #1516 "Fluxstore Pro: Multiple Issue"
I faced several issues with this app. Please help me out.
1. Products thumbnail is not loading.
2. Categories page is not working.
3. Categories and subcategories in a drawer.
4. When moving to checkout, it's throwing FormatException: Unexpected end of input(at character even when I made enableshipping: true.
5. I'm not able to change the app icon.

Please help me out asap as I have to deliver thi

[2019-12-04 05:33] befreeman5 opened #1517 "[my-product] -"
do I need to change these settings? https://imgur.com/a/u31y4so it’s not clear on what to do. any other settings need to be changed in the plugins?

[2019-12-04 05:33] befreeman5 opened #1518 "[listapp] - errors"
what do all these warnings mean? 1) https://imgur.com/a/HTA1HYy

[2019-12-04 05:34] befreeman5 opened #1519 "[listapp] - says no simulator but its installed"
I keep getting errors saying simulator not installed but it is installed. solution? https://imgur.com/a/m0NbB9l

[2019-12-04 05:35] befreeman5 opened #1520 "[listapp] - few issues"
1) where do I find the code that goes into Cebuilder Delivery tab?

2) do you have to update the app every time you add new content to the website?

3) any extra steps on the Wordpress plugins after installing & activating them? Anything you have to do extra to them?

[2019-12-04 05:37] befreeman5 opened #1521 "[listapp] - is there better instructions?"
not this YouTube video: https://youtu.be/DhygvqSsAKs that video skips a lot of steps. is there more clear instructions on how this works? it advertises 5 mins but I've been working on this for 3 days now and im no where..

[2019-12-04 05:42] befreeman5 opened #1522 "[LISTAPP] - wordpress plugin"
https://imgur.com/a/66V58wD do I need to change these settings?

[2019-12-04 07:15] minhcasi commented on #1522
@befreeman5 - could you help to create 1 ticket for your all questions/issues ? Thanks

[2019-12-04 07:15] #1522 closed

[2019-12-04 07:15] minhcasi commented on #1521
@befreeman5 - could you help to create 1 ticket for your all questions/issues ? Thanks

[2019-12-04 07:15] #1521 closed

[2019-12-04 07:15] minhcasi commented on #1520
@befreeman5 - could you help to create 1 ticket for your all questions/issues ? Thanks

[2019-12-04 07:15] #1520 closed

[2019-12-04 07:15] minhcasi commented on #1519
@befreeman5 - could you help to create 1 ticket for your all questions/issues ? Thanks

[2019-12-04 07:15] #1519 closed

[2019-12-04 07:16] minhcasi commented on #1518
@befreeman5 - could you help to create 1 ticket for your all questions/issues ? Thanks

[2019-12-04 07:16] #1518 closed

[2019-12-04 07:16] minhcasi commented on #1517
@befreeman5 - could you help to create 1 ticket for your all questions/issues ? Thanks

[2019-12-04 07:16] #1517 closed

[2019-12-04 07:19] minhcasi commented on #1516
@jpmishra1010 - could you share the config files so that we could help for checking - thank you!

[2019-12-04 07:20] GWA-AG opened #1523 "Source Code Bug"
---------

1. My issue:
I am attempting to build an app utilizing FluxNews... I have encountered a bug where fstore requires a minimum of ^1.0.8 extended_image_library, however, extended_image_library is currently bugged in Flutter SDK. Please either create a patch or inform me how to modify exisitng files to allow for either dev branches (1.0.9) or a lower threshold value (<1.0.7) for fstore to b

[2019-12-04 07:27] minhcasi commented on #1514
@pksuthar - the point and reward feature is not supported for the Mstore app, could I know which the plugin that you are using for this feature? It's possible if you can customize for the coupon input to support this feature - thank you!

[2019-12-04 07:31] minhcasi commented on #1513
It seems the adb is not working, please check to start this script:

yarn install && yarn start
react-native run-android

Also, check this guide and make sure you can run the Example project
https://facebook.github.io/react-native/docs/getting-started

[2019-12-04 07:32] minhcasi commented on #1512
@vumanhsn97 - please help for investigating this issue - thank you!

[2019-12-04 07:36] hami44 commented on #1453
@minhtruong315  i added you cheack your sky

[2019-12-04 08:00] minhcasi commented on #1511
@Samygen - please try to redownload the nodejs 12.x http://nodejs.org as the cebuilder will not work on 13.x - thank you!

[2019-12-04 08:03] sarzali07 commented on #1508
ERROR: [TAG] Failed to resolve variable '${junit.version}'
ERROR: [TAG] Failed to resolve variable '${animal.sniffer.version}'

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:processDebugGoogleServices'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full ins

[2019-12-04 08:03] minhcasi commented on #1510
@mohjacksi - did you update the category id to match with your id, it can be config from the common/config.json

Also, double-check the require plugin from https://docs.inspireui.com/fluxstore/multi-vendor/

 - thank you!

[2019-12-04 08:05] minhcasi commented on #1523
@GWA-AG - could you send us the result from "flutter doctor -v" - thanks

[2019-12-04 08:10] pksuthar commented on #1514
Hi,

You can find plugin from below url which we have use for points and rewards.
https://woocommerce.com/products/woocommerce-points-and-rewards/

On Wed, 4 Dec 2019 at 12:57, Minh Pham <notifications@github.com> wrote:

--
Regards,
praĸaѕн ѕυтнar

[2019-12-04 08:11] pksuthar commented on #1514
You can find plugin from below url which we have use for points and rewards.
https://woocommerce.com/products/woocommerce-points-and-rewards/

[2019-12-04 08:25] sarzali07 commented on #1508
After deleting .gradle folder I manage to install over android device but I fot list of errors
![processed](https://user-images.githubusercontent.com/10739321/70125838-7a8ba180-1699-11ea-978e-a30ad1c0b3f0.jpeg)

[2019-12-04 09:19] Pankti16 commented on #1450
the custom page works fine in android but keeps loading in iOS

![iosCustomPage](https://user-images.githubusercontent.com/28388925/70129620-1969cb00-16a5-11ea-80c1-23e54eefe5f2.PNG)

[2019-12-04 09:32] minhtruong315 commented on #1453
supported

[2019-12-04 09:32] #1453 closed

[2019-12-04 10:14] incepio-flutter commented on #1509
I had the same problem. You need to place this in .htaccess file
 RewriteEngine on
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]

and  this line on the top of wp-config.php
define('JWT_AUTH_SECRET_KEY', 'your-top-secrect-key');
after doing this you will not recieve invalid augrments exception but make sure you have all plugins installed mstore api, JWT, JSON

[2019-12-04 10:23] EmilianH commented on #1512
Please help me, I bought the app 2 months ago and I still can't make it work, a new bug always appears

[2019-12-04 10:28] incepio-flutter commented on #1510
@mohjacksi
<img width="1111" alt="Screenshot 2019-12-04 at 3 28 05 PM" src="https://user-images.githubusercontent.com/57838430/70134886-ba0eb980-16aa-11ea-8544-056f70f47e8b.png">

[2019-12-04 10:38] Mezardan opened #1524 "[Mstore Pro] - Unable To Load Script. Make Sure Youre Either running a metro server (run react-native start"
Hi. I purchased Mstore Pro software. On Windows 10. Android studio I did the installation. I installed Nodjs, pyhthon27, choco and jdk 8 via cmd.

https://prnt.sc/q60kg8

android studio I get the error like the following when running the application on the emulator. I have been trying to solve the problem from Github and other sources for 3 days, but I couldn't find a solution.

You can be sure in

[2019-12-04 10:51] sarzali07 commented on #1508
After changing as per doc
1.1 Change the app name: Done
1.2 Change the app Bundle ID: Done
Firebase : Done replace google .json file

Error reading dependency file D:\opencartapplication\electrocity\build\app\intermediates\flutter\debug\android-arm\snapshot_blob.bin.d: java.lang.ArrayIndexOutOfBoundsException: 1
Error reading dependency file D:\opencartapplication\electrocity\build\app\intermediat

[2019-12-04 11:00] sarzali07 commented on #1508
Now only showing Error reading dependency file D:\opencartapplication\electrocity\build\app\intermediates\flutter\debug\android-arm\snapshot_blob.bin.d: java.lang.ArrayIndexOutOfBoundsException: 1
Error reading dependency file D:\opencartapplication\electrocity\build\app\intermediates\flutter\debug\android-arm\snapshot_blob.bin.d: java.lang.ArrayIndexOutOfBoundsException: 1

Above errors

[2019-12-04 11:08] sarzali07 commented on #1508
Now situation do not know mean above from my knowledge

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:packageDebug'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FAILED in 1m 38s
Finished wi

[2019-12-04 11:39] sarzali07 commented on #1508
Finally I manage to install app over android device but

════════ Exception caught by widgets library ═══════════════════════════════════════════════════════
The following assertion was thrown building Consumer<AppModel>(dirty, dependencies: [InheritedProvider<AppModel>]):
'dart:ui/window.dart': Failed assertion: line 281: '<optimized out>': is not true.

and also result is

(https://user-images.g

[2019-12-04 12:25] sarzali07 commented on #1508
I tries much but can not reslove this issue

════════ Exception caught by widgets library ═══════════════════════════════════════════════════════
The following assertion was thrown building Consumer(dirty, dependencies: [InheritedProvider]):
'dart:ui/window.dart': Failed assertion: line 281: '': is not true.

and also result is

(https://user-images.githubusercontent.com/10739321/70125838-7a8ba180

[2019-12-04 12:34] Alnaggar94 commented on #1486
Also, there is a translation missing in the sign-up screen

![Capture](https://user-images.githubusercontent.com/49800146/70143017-97c96b80-16ab-11ea-88e8-cb7ac14c4b28.JPG)

[2019-12-04 13:07] rodrigoalves1901 commented on #1489
More in Brazil we use the delivery method of the post office. How I will do? If it doesn't work the app doesn't work for me.

[2019-12-04 13:12] sarzali07 commented on #1508
Kindly give me some time so that we can finish this.

After installing flutter from

 git clone -b master https://github.com/flutter/flutter.git

I got below errors.
Compiler message:
/C:/Users/Sarz/AppData/Roaming/Pub/Cache/hosted/pub.dartlang.org/cached_network_image-1.1.3/lib/src/cached_network_image_provider.dart:42:24: Error: The method 'CachedNetworkImageProvider.load' has fewer positional a

[2019-12-04 13:13] itej7 commented on #1451
@minhtruong315 : We are still facing issue while doing payments via razorpay.
 Kindly reopen this ticket....

[2019-12-04 13:15] minhcasi commented on #1508
Hi, could you try to run "flutter doctor -v" and send us the result

Also make sure you run the flutter with channel stable by running "flutter channel stable"

[2019-12-04 13:20] itej7 opened #1525 "[Fluxstore WooCommerce - Flutter E-commerce App] - Version: 1.5.8--- Sign In with Google"
1. My issue:
We need Google sign in for this app. Kindly let us know if you have already implemented it.

2. Proof of my purchased:
Product Purchase code: c2f1abaf-6ebe-4c07-875d-050022ba2a14 - 14 Oct 2019 REGULAR LICENSE

[2019-12-04 13:45] itej7 opened #1526 "[Fluxstore WooCommerce - Flutter E-commerce App] - Version: 1.5.8----Razorpay payment issue"
Hi InspireUI Team,

My issue: We are getting below error in Fluxstore WooCommerce - Flutter E-commerce App while trying to place an order through Razorpay payment gateway.
Console Output for your reference:

[INFO:CONSOLE(0)] "A cookie associated with a cross-site resource at http://www.madlymuscles.com/ was set without the SameSite attribute. A future release of Chrome will only deliver cookies w

[2019-12-04 13:50] minhtruong315 commented on #1508
@sarzali07 can you send me your source code via email: truong@inspireui.com
with subject:  https://github.com/inspireui/support/issues/1508

[2019-12-04 14:31] anshbot opened #1527 "[Fluxstore-1.5.9 Woocommerce]- Can't change Bundle ID"
Hello,

![purchase screenshot](https://user-images.githubusercontent.com/12613051/70150396-f6084580-16cf-11ea-82d9-f291115cac42.png)
I am trying to change Bundle ID for Firebase Login. Folder android/app/src/main/java/com/inspireui/fluxstore/MainActivity.java doesn't exist in package.
![mainactivity java missing](https://user-images.githubusercontent.com/12613051/70150613-497a9380-16d0-11ea-907a-8

[2019-12-04 14:33] khaja25 opened #1528 "Invarient Violation"
Hey there , In App when i open the categories  the blow issue happend i need a solution for that

![issuef](https://user-images.githubusercontent.com/58036762/70150550-3071e280-16d0-11ea-9855-4096461c0945.jpeg)

[2019-12-04 14:41] khaja25 commented on #1528
![buy](https://user-images.githubusercontent.com/58036762/70151892-39fc4a00-16d2-11ea-905f-ef5657087f69.jpeg)

[2019-12-04 14:51] vumanhsn97 commented on #1512
@EmilianH Did you install mstore api plugin?
http://mamapp.com.ar/api/get_nonce/?controller=mstore_user&method=register&insecure=cool

http://demo.mstore.io/api/get_nonce/?controller=mstore_user&method=register&insecure=cool

[2019-12-04 15:02] EmilianH commented on #1512
Yes i have intalles but im using mstore api from previews version of flexstore 1.5.7

[2019-12-04 15:44] daav7713 opened #1529 "FluxStore MultiVendor V1.2.0 - SplashScreen not working"
---------

1. My issue: If I run the application with the splashscreen by default everything works fine, but if I change it for a custom one it stays locked and does not change to the home screen of the app, it remains on the splashscreen. And if i put and static splashscreen it shows Fluxstore logo not the static image.

2. Screenshots issues:

3. Proof of my purchased:
![image](https://user-imag

[2019-12-04 15:49] mohjacksi commented on #1510
Ok thank you! but now I get the store name but when I click on it there is no products appear!
and I'm sure that I have products with this vendor
 https://tppr.me/pRrEm
https://tppr.me/ty9UZ

[2019-12-04 15:49] mohjacksi commented on #1509
@incepio-flutter ok but where to get "your-top-secrect-key"

[2019-12-04 15:52] mohjacksi commented on #1509
And I just update the config files from dokan to mach my website (WCFM)
Then now I get https://tppr.me/GZQW1

[2019-12-04 16:52] befreeman5 commented on #1522
I tried that and no help

[2019-12-04 16:55] vumanhsn97 commented on #1512
@EmilianH
Can you share your admin account?
My email is manh@inspireui.com

[2019-12-04 16:55] befreeman5 opened #1530 "[listapp] - multiple issues"
1. where do I find the code that goes into Cebuilder Delivery tab?
2. do you have to update the app every time you add new content to the website?
3.  any extra steps on the Wordpress plugins after installing & activating them? Anything you have to do extra to them?
4. do I need to change these settings? https://imgur.com/a/u31y4so it’s not clear on what to do. any other settings need to be change

[2019-12-04 16:56] befreeman5 commented on #1519
why? takes longer to create new tickets instead of just answering. very annoying when developers do this.

[2019-12-04 17:12] onlineosman opened #1531 "Cebuilder dosen't work after all settings tried, windows 10"
Please provide us the video guide with 3.8 Version of MStore pro for windows, tried every thing but couldn't setup.
![PP](https://user-images.githubusercontent.com/34172061/70164529-c1e65200-16da-11ea-95c5-60a682510c94.png)

[2019-12-04 17:13] onlineosman commented on #1531
![error](https://user-images.githubusercontent.com/34172061/70164612-ec380f80-16da-11ea-92c0-0382475b0f8a.png)

[2019-12-04 18:56] juniortimeline commented on #1406
@concuacon kindly please check my message on your skype because I do have a critical error and the way how I run and build my apk now is not working after our teamviewer. Thanks and I appreciate.

[2019-12-04 18:59] momonchi opened #1532 "[Mstore pro] - Please help in plugins in wp"
Can anyone share your wordpress full setup? I'am stuck in check out from my app, it is always crash when in delivery tab. If there's a chance to achieve this like of store http://demo.mstore.io/

please help. thanks in advance.

---------

![image](https://user-images.githubusercontent.com/5693186/70172226-3507bc80-170b-11ea-88c8-904c2a112063.png)

[2019-12-04 21:22] bao-1986 opened #1533 "BeoNews null is not an object"
---------

1. My issue:
1. I installed a plugin called Category Featured Image, I upload an image, all the app posts had the same featured image.
2. I deleted the plugin, but the app did not return the old images.
3. I deleted the image from wordpress. now I am stuck with this error.

2. Screenshots issues:

3. Proof of my purchased:

3. Config files (optional)

[2019-12-04 21:36] lancerynearson opened #1534 "[FluxListing] - Blog"
---------

1. My issue:
Blog is broken in newest version of the app. Even on your demo in the PlayStore
2. Screenshots issues:
![IMG_0813](https://user-images.githubusercontent.com/51379820/70183700-3e196f00-16b4-11ea-90a3-05e652e3b514.jpg)

3. Proof of my purchased:
![shot](https://user-images.githubusercontent.com/51379820/70183528-fa266a00-16b3-11ea-9480-94046b904725.png)

3. Config files (opti

[2019-12-04 21:42] incepio-flutter commented on #1509
<img width="312" alt="Screenshot 2019-12-05 at 2 40 23 AM" src="https://user-images.githubusercontent.com/57838430/70183929-9a0de300-1708-11ea-983e-78c85cf5a132.png">
@mohjacksi  Under config.php
if nothing happens then  try changing in wp-content/plugins/jwt-authentication-for-wp-rest-api/public/class-jwt-auth-public.php:

if (!$secret_key) {
by

if ($secret_key === false) {
Put define('JWT_AUTH_

[2019-12-04 22:19] #1452 closed

[2019-12-04 23:10] minhtruong315 commented on #1506
@anakilang99 please try this comment https://github.com/inspireui/support/issues/1489#issuecomment-560120167

[2019-12-04 23:10] mohjacksi opened #1535 "[FluxStore] - WCFM"
1. My issue:
when changing to WCFM vendor type i'm getting
type '_InternalLinkedHashMap<String, dynamic>' is not a subtype of type 'String'

2. Screenshots issues:
https://tppr.me/JA6XZ
3. Proof of my purchased:
https://tppr.me/Zi2np

3. Config files (optional)
import 'package:font_awesome_flutter/font_awesome_flutter.dart';
import 'package:fstore/common/constants.dart';

/// Server config
const s

[2019-12-05 03:59] arthenterprises opened #1536 "Need help for fluxstore"
Hello,
purchased fluxstore from code canyon but I can't Integrate so please help for making app.

[2019-12-05 04:05] #1489 closed

[2019-12-05 04:16] masngun opened #1537 "I did not find the MainActivity.java file in Fluxstore 1.5.9"
Hello, I followed the tutorial in youtube , (Setup WooCommerce On DigitalOcean (Flutter E-Commerce App In 10 Minutes, Ep. 05). I didn't find the **inspiration/fluxstore** folder in the **app/src/main/com/** directory

![image](https://user-images.githubusercontent.com/45061610/70203609-0102ba80-1750-11ea-8c18-b489d4d325ec.png)

[2019-12-05 04:39] shaaanishaan commented on #1267
Dear, I am really disappointed from your side. If you can't solve the matter, Could be please replace my Current License from " ListApp - Listing Directory mobile app by React Native (Expo version) " to New " FluxStore Listing - Directory WooCommerce app by Flutter "????????

Hope you can do this!!

[2019-12-05 06:45] #1406 closed

[2019-12-05 06:45] #1364 closed

[2019-12-05 07:04] vumanhsn97 commented on #1512
@EmilianH I cant load your website!!! https://tppr.me/mnQXv

[2019-12-05 07:56] minhcasi commented on #1537
Hi, please change the Kolint file  - https://tppr.me/ZxKoQ - we have updated it to support the Kolint and compatible with later Flutter 1.9 - thanks

[2019-12-05 07:57] sarzali07 commented on #1508
C:\Users\Sarz>flutter --version
Flutter 1.9.1+hotfix.6 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 68587a0916 (3 months ago) • 2019-09-13 19:46:58 -0700
Engine • revision b863200c37
Tools • Dart 2.5.0

C:\Users\Sarz>flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.9.1+hotfix.6, on Microsoft Windows [Versio

[2019-12-05 07:57] sarzali07 commented on #1508
Email send along with code via dropbox. kindly let me know step by step what was issue plz.

[2019-12-05 08:52] minhcasi commented on #1536
@arthenterprises - please share the screenshot of the issues so that we could help with checking - thank you!

[2019-12-05 08:54] minhcasi commented on #1535
@minhtruong315 - please help for suggestion - thank you!

[2019-12-05 08:55] minhcasi commented on #1534
@minhtruong315 - please help for the investigating - thank you!

[2019-12-05 08:55] minhtruong315 commented on #1535
@mohjacksi can you send me config.json file?

[2019-12-05 08:57] minhcasi commented on #1533
@bao-1986 - please help to install this plugin - https://wordpress.org/plugins/better-rest-api-featured-images/

We also noted the require plugin from the document - https://docs.inspireui.com/beonews/wordpress-setting/

[2019-12-05 08:59] minhcasi commented on #1532
@momonchi  - could you check this WP site, we have cloned it from demo.mstore.io - https://github.com/inspireui/mstore

[2019-12-05 08:59] minhcasi commented on #1531
@concuacon - pls help for suggestion - thanks

[2019-12-05 09:08] minhcasi commented on #1530
@befreeman5 - thank you for the questions

1. you can find it from the app.json - this file is used to config the info for bundle app, you can also check this guide - https://docs.expo.io/versions/latest/workflow/configuration/

2. Every time you update the content, it will update to the app ( i mean the Listing data, blog...)

3. After setup the wordpress site, you can use the CeBuilder to config

[2019-12-05 09:14] minhcasi commented on #1529
@daav7713 - when you update the mycircle.flr please try to match the name from the Animation tab from 2dimensions

- https://tppr.me/ryJUg

[2019-12-05 09:29] minhcasi commented on #1527
@anshbot please update from this link - https://tppr.me/e9T2h - we have migrated to new Kolint so that path is also changed, we will update new document shortly - thank you!

[2019-12-05 09:29] #1527 closed

[2019-12-05 09:38] minhcasi commented on #1526
@minhtruong315 - pls help for investigating - thank you!

[2019-12-05 09:39] minhcasi commented on #1525
@itej7 - this feature will be added to our next update 1.6 - thanks

[2019-12-05 09:41] minhcasi commented on #1524
@Mezardan - pls try to install yarn library to fix the issue - https://yarnpkg.com/ - thank you!

[2019-12-05 10:00] ukveda opened #1538 "Fluxstore App for Woocommerce"
Hello,
Just purchased Fluxstore WooCommerce - Flutter E-commerce Full App when I tried to upload it on my wordpress dashboard through Pluging - Add New - Upload Plugin, after uploading 100% it gives error "503 - Service unavailable - The server is temporarily busy, try again later! please find the attached screenshot.
![screencapture-khadibrand-in-wp-admin-update-php-2019-12-05-15_03_23](https://u

[2019-12-05 10:02] itej7 commented on #1525
@minhcasi : Thanks for the update!

[2019-12-05 10:10] minhcasi commented on #1267
Yes, it's ok - sorry for the issue - please send the refund request to https://help.market.envato.com/hc/en-us/articles/202821460-Can-I-Get-A-Refund- - thank you!

[2019-12-05 10:38] EmilianH commented on #1512
Please send me the ip and i call to my webhosting to enable

[2019-12-05 11:23] mohjacksi commented on #1535
{
  "HorizonLayout": [
    {
      "layout": "logo",
      "showMenu": true,
      "showSearch": true
    },
    {
      "layout": "category",
      "type": "icon",
      "wrap": false,
      "size": 1.0,
      "radius": 50.0,
      "items": [
        {
          "category": 38,
          "image": "https://user-images.githubusercontent.com/1459805/62820029-2e679f00-bb88-11e9-80de-fdf115cfd942.png"

[2019-12-05 11:32] patrickubong commented on #1422
Thanks. Everything worked perfectly and I have been able to publish to Google Playstore. Can we discuss customization? How do I reach you?

[2019-12-05 11:36] vumanhsn97 commented on #1512
@EmilianH My ip is 113.172.245.36

[2019-12-05 11:39] vumanhsn97 commented on #1422
@patrickubong You can email to support@inspireui.com. Thanks!

[2019-12-05 11:52] almazamangaliev opened #1539 "Fluxstore - Payment"
1. My issue:
 I add payment method to woocommerce, it is displayed in the application!
 But after select this payment method i get white screen
2. Screenshots issues:
![image](https://user-images.githubusercontent.com/44086148/70232871-5793e700-1798-11ea-957d-43d8021c2c74.png)

3. Proof of my purchased:
c8100480-deab-4cf8-a2fc-61dc313dcf52
3. Config files (optional)

[2019-12-05 11:53] EmilianH commented on #1512
@vumanhsn97 is already activated the ip and the country, try in 20 minutes please

[2019-12-05 12:02] patrickubong commented on #1422
I have sent the mail right away, hope to get reply immediately.

[2019-12-05 12:02] incepio-flutter commented on #1512
please guide me also I am getting the same get nounce error

[2019-12-05 12:10] Samygen commented on #1511
![problema 4](https://user-images.githubusercontent.com/58053488/70234195-0532d600-1758-11ea-9f30-82df218a3594.png)
i already install node 12.3 , now the expo window open but send me a message on the screenshot.

[2019-12-05 13:08] anakilang99 commented on #1506
<img width="321" alt="Screen Shot 2019-12-05 at 20 06 26" src="https://user-images.githubusercontent.com/58469385/70237975-e43fa480-179a-11ea-9af6-71bfcbfa60ec.png">

still error.. :(

[2019-12-05 13:25] anakilang99 commented on #1506
@minhtruong315

[2019-12-05 13:26] anakilang99 opened #1540 "[fluxstore] - how to set other payment method / payment webview?"
---------

1. My issue:

Hi, I want to use other payment method ipay99, its already running on my website. how to integrate it with fluxstore? thanks

2. Screenshots issues:
-

3. Proof of my purchased:
same customer here https://github.com/inspireui/support/issues/1506

3. Config files (optional)

[2019-12-05 14:19] daav7713 commented on #1529
Hi, I change the value of startAnimation 'fluxstore' to 'mycircle' as I understand that you suggest me and it didn't work.

[2019-12-05 14:32] daav7713 commented on #1529
Also if I comment the flare animation and leave the static image (png), the app not show the static image and istead shows app logo, but in the top shows a little la el that says bug
![Screenshot_20191205-083240](https://user-images.githubusercontent.com/15809768/70244297-c55cf600-1739-11ea-8e68-ec7f833728db.png)

[2019-12-05 14:41] bao-1986 commented on #1533
problem solved after I restored all my wordpress. the plugin Category Featured Image caused damage i think. all of this happened because i was trying to change these category default photos. can you tell me from where I change them?
![1575556447(1)](https://user-images.githubusercontent.com/58382254/70244965-4a82f200-17b0-11ea-9d30-1e55c1164585.jpg)

[2019-12-05 14:46] bao-1986 commented on #1533
they appear like this from the first startup of the app. default

[2019-12-05 15:30] UTimung opened #1541 "[FluxStore] - Razorpay callbackurl issue"
i add razorpay testkey both in woocommerce and in app config.dart

in website its working well
but in fluxstore app, after purchased its opening webview of the callbackurl example.com
instead it should show Thank you order confirm page in the app

purchase code #1485

[2019-12-05 15:31] momonchi commented on #1532
Do I need to follow this? https://github.com/inspireui/support/issues/38#issuecomment-441363940

[2019-12-05 16:09] EmilianH commented on #1512
My friend could you see the page?

[2019-12-05 16:13] incepio-flutter commented on #1512
if you are having trouble regarding images first check to regenerate thumbnails if everything is fine then after creating the category there is cat id in the url paste it in the config.json

[2019-12-05 16:14] incepio-flutter commented on #1512
have to cleared that nounce error @EmilianH

[2019-12-05 17:10] EmilianH commented on #1512
sorry the messsage is for @vumanhsn97 could you check the web? thanks

[2019-12-05 17:27] Coinizy1 opened #1542 "[Fluxstore] No such file or directory after uploading the latest package to wordpress website"
Warning: include_once(/homepages/40/d778442569/htdocs/clickandbuilds/UsdVault/wp-content/plugins/mstore-api/controllers/MStoreDokan.php): failed to open stream: No such file or directory in /homepages/40/d778442569/htdocs/clickandbuilds/UsdVault/wp-content/plugins/mstore-api/mstore-api.php on line 49

Warning: include_once(): Failed opening '/homepages/40/d778442569/htdocs/clickandbuilds/UsdVault/

[2019-12-05 17:32] Coinizy1 commented on #1542
*** UPDATE *****
the wordpress folder i uploaded was from my zip file which i got after purchasing the Fluxtore.
i copied the code and made a new file from this url
https://github.com/inspireui/mstore-api/blob/master/mstore-api.php
is it correct what i did or not?

[2019-12-05 17:36] Coinizy1 commented on #1542
and do i have this file?
Thank you for choosing InspireUI products.

This setting help to speed up the mobile app performance (only available for Fluxstore), upload the config.json from the common folder:

i bought this package:
https://codecanyon.net/item/fluxstore-woocommerce-flutter-ecommerce-full-app/24050041

[2019-12-05 22:15] #1523 closed

[2019-12-06 02:21] minhtruong315 commented on #1535
[example.zip](https://github.com/inspireui/support/files/3930085/example.zip)
You can try these examples

[2019-12-06 02:24] minhtruong315 commented on #1534
ok. I will check

[2019-12-06 02:24] minhtruong315 commented on #1528
@khaja25 can you send me AppConfig.json?

[2019-12-06 02:27] minhcasi commented on #1538
@ukveda - could you able to login to the File Manager or FTP of your hosting and remove the plugins that you have just uploaded, could I know which the product that caused this issue?

Please note that the requirement for plugins is PHP 7.x.

Let us know your checking, thank you!

[2019-12-06 02:27] minhtruong315 commented on #1506
@anakilang99 can you send me config.dart file and admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1506

[2019-12-06 02:27] minhtruong315 commented on #1502
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-12-06 02:27] #1502 closed

[2019-12-06 02:27] minhtruong315 commented on #1500
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-12-06 02:27] #1500 closed

[2019-12-06 02:28] minhtruong315 commented on #1496
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-12-06 02:28] #1496 closed

[2019-12-06 02:28] minhcasi commented on #1539
@almazamangaliev - could you check this guide - https://docs.inspireui.com/fluxstore/multi-payment/#404-error-page

Also, try to enable the debug mode from wp_config.php from your website so see the return detail error log.

Let us know your checking, thank you!

[2019-12-06 02:29] minhtruong315 commented on #1495
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-12-06 02:29] #1495 closed

[2019-12-06 02:29] minhcasi commented on #1540
@anakilang99 - could you try with this guide fro the payment setting - https://docs.inspireui.com/fluxstore/multi-payment/#404-error-page - thank you!

[2019-12-06 02:30] minhtruong315 commented on #1486
Yes. I updated all. You can update it when we release new version. There are more changes so I can't tell you how to fix it

[2019-12-06 02:30] minhtruong315 commented on #1483
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-12-06 02:30] minhcasi commented on #1541
@minhtruong315 - pls help for checking

[2019-12-06 02:31] minhtruong315 commented on #1482
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-12-06 02:31] #1482 closed

[2019-12-06 02:32] minhcasi commented on #1542
@Coinizy1 - could you help to download directly the latest version from this plugin URL - https://wordpress.org/plugins/mstore-api/

[2019-12-06 02:33] minhtruong315 commented on #1541
@UTimung Can you send me config.dart file and admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1541

[2019-12-06 02:43] 007asom opened #1543 "[MStore-Pro] - not able to login"
Hello,

My issue
not able to login

Screenshots

My screenshot of the purchase product or my comment:
https://ibb.co/PNBWpYy

Config files (optional)

apple rejected my app because of a problem in login.

Guideline 2.1 - Performance - App Completeness

We discovered one or more bugs in your app when reviewed on iPhone￼ running iOS 13.2.3￼ on Wi-Fi.

- We were not able to login

[2019-12-06 02:48] 007asom commented on #1543
please note that this problem in android too, I can sign up as new user, but when log out and try again to login it is stuck on login screen.

[2019-12-06 02:59] minhcasi commented on #1446
@bobozd - did you run the project from XCode or Android Studio?

Do you have the same error with the Test Drive - https://flutter.dev/docs/get-started/test-drive ?

[2019-12-06 02:59] minhcasi commented on #1494
@vumanhsn97 - pls help for suggestion

[2019-12-06 03:00] #1498 closed

[2019-12-06 03:03] minhcasi commented on #1510
@mohjacksi - could you help to attache your config here (common/config.dart and config.json) - thank you!

[2019-12-06 03:04] minhcasi commented on #1511
@Samygen could i check if you install the Android Studio ready - https://docs.expo.io/versions/v35.0.0/workflow/android-studio-emulator/ ?

[2019-12-06 03:05] minhcasi commented on #1514
@pksuthar - note with investigating - thank you!

[2019-12-06 03:13] minhcasi commented on #1529
@daav7713 - could you share the source of mycircle animate then we will help for checking

Regarding the current splash static only load the logo image - you can customize this widget to load the whole splash Image, we may upgrade the splash screen more easy to use to support both Logo or whole splash screen on next release as it seems not smooth integration

Very best!

[2019-12-06 03:15] minhcasi commented on #1532
@momonchi - no, the latest mstore-api https://wordpress.org/plugins/mstore-api/ will handle this setting so you do not need for that setting :)

[2019-12-06 03:21] vumanhsn97 commented on #1512
@EmilianH Fixed. Loss word api https://tppr.me/T557y

@incepio-flutter You can check your issue in image. If it not working, please send me your config.json, config.dart and account login!

Thanks!

[2019-12-06 03:43] momonchi commented on #1532
@minhcasi alright, thanks. I will create clean wp through this https://github.com/inspireui/mstore.

[2019-12-06 04:23] dermayank commented on #1533
I have installed all the plugins but still getting "The rest api is not working correctly!" error.

[2019-12-06 04:25] minhcasi commented on #1505
@concuacon - please help for investigating this issue - thank you!

[2019-12-06 04:44] EmilianH commented on #1512
@vumanhsn97 thank you my friend, i have anothe issue

without  login the payment checkout doesn´t work only appear a blank page, and if i login appear correctly the woocommerce checkout, how to fix that? thanks!

[2019-12-06 05:29] vumanhsn97 commented on #1512
@EmilianH Not found your issue. Can you share your video record?

[2019-12-06 05:32] shaaanishaan commented on #1267
Dear, As I submit the request for refund and I want to use this with extra amount for FluxStore Listing - Directory WooCommerce app by Flutter.
Hope you understand my situation for refund....

[2019-12-06 05:52] EmilianH commented on #1512
@vumanhsn97 yes watch it, without login BLANK PAGE y  and logged in is fine

[Rec001.zip](https://github.com/inspireui/support/files/3930627/Rec001.zip)

[2019-12-06 05:59] Usman1493 commented on #1483
I have enabled the Shipping but the error is still getting reproduced.

I have sent the email with my config.dat file to truong@inspireui.com

Please reopen this issue

[2019-12-06 06:00] Usman1493 commented on #1483
I enabled the Shipping method but the error is still getting reproduced.
I have sent you an email with my config.dat file.

[2019-12-06 06:07] khaja25 commented on #1528
[AppConfig.txt](https://github.com/inspireui/support/files/3930655/AppConfig.txt)

This is my AppConfig.json file

[2019-12-06 06:54] nizarweb77 commented on #1495
sorry for the late sir
this is my rdp imac
https://mega.nz/#!ZcoTAIrQ!-zFIfCz0HdPAGHEVxVmgtRhVLrdNyrGOwYgFId-8hxQ
you will find the user name and the password my rdb have high connection will be fast for you and strong rdp .
i have put my work in android studio alerday
so my problem is the firebase for android not working i alerday add  to the android folder and for the ios i put the .plist file o

[2019-12-06 06:56] nizarweb77 opened #1544 "fluxstore failed to build ios #1495"
sorry for the late sir
this is my rdp imac
https://mega.nz/#!ZcoTAIrQ!-zFIfCz0HdPAGHEVxVmgtRhVLrdNyrGOwYgFId-8hxQ
you will find the user name and the password my rdb have high connection will be fast for you and strong rdp .
i have put my work in android studio alerday
so my problem is the firebase for android not working i alerday add to the android folder and for the ios i put the .plist file of

[2019-12-06 06:57] vumanhsn97 commented on #1512
@EmilianH You can setup login before checkout by setting GestCheckout = false in config.dart like image https://tppr.me/RTgMR

[2019-12-06 07:21] minhcasi commented on #1267
@shaaanishaan - we have updated your request, thanks

[2019-12-06 07:21] #1267 closed

[2019-12-06 07:22] minhcasi commented on #1543
@007asom - could you help to share the config here or send privately to tuan@inspireui.com - thank you!

[2019-12-06 07:25] minhcasi commented on #1544
@nizarweb77 could you share proof of purchase screenshot from http://codecayon.net/downloads

And clarify more about your issues as we not quite understand. Could you able to run the Test Drive successful https://flutter.dev/docs/get-started/test-drive ?

[2019-12-06 07:43] UTimung commented on #1541
i sent you an email, please check

[2019-12-06 08:18] minhcasi commented on #1497
@minhtruong315 - pls help for checking

[2019-12-06 08:19] minhcasi commented on #1491
@concuacon

[2019-12-06 08:20] minhcasi commented on #1468
@paulica40 - pls resend the config file so that we could help for checking, you can also send privately to support@inspireui.com - thanks

As there is not conversation I will close the ticket, kindly reopen if you need for any support - very best!

[2019-12-06 08:20] #1468 closed

[2019-12-06 09:02] minhtruong315 commented on #1541
https://gofile.io/?c=zfwtHG
I see it's working well. Can you record screen?

[2019-12-06 09:12] minhtruong315 commented on #1508
@sarzali07 I dont see code on your email. pls send me again

[2019-12-06 09:37] sarzali07 commented on #1508
@sarzali07 can you send me your source code via email: truong@inspireui.com
with subject: #1508

Email send along with code via dropbox. kindly let me know step by step what was issue plz.

Dear at least read complete message I shared again on truong@inspireui.com email via dropbox.

[2019-12-06 09:38] abouzeidroy commented on #1505
Also, everytime i try to sign up a user, i got 'Weclome back, undefined'.
I saw in another article that we have to replace WPUserAPI.js in src -> services.
I replace
Now no error Welcome back, undefined showing
But when you click on sign up button, nothing happen, user still not signed up
Thank you for helping

this is my whatsapp number if you can help: 0096171884898 maybe with skype or teamviewe

[2019-12-06 09:46] Riorich opened #1545 "[Fluxstore Woocommerce] - Getting Check out Error"
---------

1. My issue:

I got this error when I proceed to check out and cannot proceed.
I/flutter ( 5744): Another exception was thrown: Failed assertion: boolean expression must not be null

2. Screenshots issues:
![Screenshot_1575620005](https://user-images.githubusercontent.com/39195214/70313177-7dc29100-1843-11ea-841c-2f9fe41d2e7e.png)

3. Proof of my purchased:
![2019-11-23 (2)](https://use

[2019-12-06 09:55] 007asom commented on #1543
thank you
I sent it to your email

[2019-12-06 10:08] UTimung commented on #1541
Here is screen recorder video
Please check in real device not emulator
And order id also not showing while payment

Check the difference through Website & app

Video link
https://drive.google.com/file/d/19uHtGbS4eURedtBx-_SF0j20mWyAx03v/view?usp=drivesdk

https://drive.google.com/file/d/1A-ULdEV7e-5JvJffA4skjFTVjBHRx3OE/view?usp=drivesdk

https://drive.google.com/file/d/1A2Dj03Y7nQJl_bDCoi3d-ySNDs

[2019-12-06 11:03] momonchi commented on #1532
![image](https://user-images.githubusercontent.com/5693186/70318418-fda82580-185a-11ea-82c4-6c993f7b13e9.png)

this is what I get when I resume to payment

[2019-12-06 11:04] itej7 commented on #1526
@minhtruong315 - Any update?

[2019-12-06 11:20] #1491 closed

[2019-12-06 12:03] jpmishra1010 commented on #1516
I have an issue my laptop. I have sent it for repairing. Please do not close this ticket. I will upload it day after tomorrow. Hope you will cooperate.

[2019-12-06 14:29] khaja25 commented on #1528
![issue2](https://user-images.githubusercontent.com/58036762/70329813-3a2b4f80-1862-11ea-9223-6f1b14410e58.jpeg)
![issue1](https://user-images.githubusercontent.com/58036762/70329820-3e576d00-1862-11ea-8851-e31207e02312.jpeg)

Hey there, I Have a issue on whatever the catagories  i load first 10 product image only displayed...need solution for it..

[2019-12-06 15:41] daav7713 commented on #1529
This is the file. its a simple "animation".
https://drive.google.com/file/d/1kKTNxK4qbDQaSD42JwUckfkfVxsFO-RP/view?usp=sharing

With version 1.0.1 the change of the animation work fine with that same file.

[2019-12-06 17:16] Samygen commented on #1511
![image](https://user-images.githubusercontent.com/58053488/70341993-11985b00-184c-11ea-864e-fdb40c248f29.png)
I tried to update 34.0 first but show this.. i dont know what is wrong.

[2019-12-06 17:17] bao-1986 commented on #1497
@minhcasi brother until now I had only two issues .. 1) is html another one is category photos . can you please solve them because the one you assigned did not response at all

[2019-12-06 17:17] bao-1986 commented on #1497
Thanks in advance

[2019-12-06 18:20] nizarweb77 commented on #1544
![{0F68468F-94AF-4502-B851-5EF028CDDBF9} png](https://user-images.githubusercontent.com/57265062/70345778-11548b80-185d-11ea-93f1-697eeb91ce7d.jpg)
i open the ticket before two day and now you tell me give me pof what is this oh sir you alerday ask me about my teamviewer *fluxstore failed to build ios (#1495)* and now i give you my rdp plz don't tell me go and read because there is no solution of

[2019-12-06 19:26] MohammedSwefee commented on #1500
Dear  Minh,
I repaced getPaymentMethods function as you mentioned but the same issue still appear

also, I tried to run the new version 1.5.9 but a face this issue below
![Annotation 2019-12-02 130345](https://user-images.githubusercontent.com/34106827/70350224-5ab1d480-1877-11ea-8d3e-dd2571cfcf5d.png)

[2019-12-06 22:06] anshbot opened #1546 "[Fluxstore 1.5.9 Woocommerce] - Category Icons/ Name Not loading/ Blog Issue"
Category Icons and Names not loading. I want to add more categories in slider.

![Screenshot_20191207_022258 1](https://user-images.githubusercontent.com/12613051/70359594-4c2ce280-18a2-11ea-8527-c4655dc37bce.jpg)

https://user-images.githubusercontent.com/12613051/70320890-d85feb00-184b-11ea-98e3-2aad81826417.jpg

https://user-images.githubusercontent.com/12613051/70323898-16f9a380-1854-11ea-9b19

[2019-12-06 23:12] minhtruong315 commented on #1541
Please replace payment.dart in screens/checkout/payment.dart
[payment.dart.zip](https://github.com/inspireui/support/files/3934356/payment.dart.zip)

[2019-12-06 23:13] minhtruong315 commented on #1526
@itej7 pls send me config.dart file

[2019-12-06 23:14] minhtruong315 commented on #1508
send me the link

[2019-12-06 23:15] #1486 closed

[2019-12-06 23:32] Samygen commented on #1511
hi, i installed sdk 35.0.0 , after that there was dependencies that were not installed for default so i did manually with the expo documentation like facebook, localization,admob,image picker, etc..
now.. in the end there is not mistakes or errors of this kind of topic BUT..

show me this and i dont know how to do because.. i read that i need to clean a cache or something like that.. but i dont wa

[2019-12-07 01:57] dermayank opened #1547 "[BeoNews] - Help with installing Beonews. "The rest API is not working correctly!""
I recently purchased the BeoNews from the Envato market. When I proceeded with the installation and followed the steps as mentioned in the documentation, I am facing an error named "The rest API is not working correctly!". I have installed all the plugins as mentioned in the documentation.

I already raised a GitHub issue but nobody responded to me there. Please provide some solution ASAP as this

[2019-12-07 02:14] UTimung commented on #1541
after replace i got 3 error

the name parameters currency isn't defined

currency: cartModel.currency),

On Sat, Dec 7, 2019 at 4:42 AM minhtruong315 <notifications@github.com>
wrote:

[2019-12-07 03:41] kurkuteabhi commented on #1252
I have same issue with opencart setup. even i have tried for demo config files form example folder

![purches](https://user-images.githubusercontent.com/43174699/70368512-7649c900-18d1-11ea-9ddf-f4710b45697f.jpg)
![Screenshot_1575688530](https://user-images.githubusercontent.com/43174699/70368513-777af600-18d1-11ea-91e4-fe83878c03f6.png)

[2019-12-07 04:31] minhtruong315 commented on #1478
@incepio-flutter You can replace fromAuthUser constructor in models/user.dart like this to see upload product
[code]

[2019-12-07 04:36] minhtruong315 commented on #1528
@khaja25 You're using server in localhost
[code]
Please up your website to hosting and send me the url

[2019-12-07 04:37] minhtruong315 commented on #1541
@UTimung I added multi currency to release next version. Can you send me your payment.dart before?

[2019-12-07 05:19] incepio-flutter commented on #1478
Thank you so much

On Sat, Dec 7, 2019, 9:31 AM minhtruong315 <notifications@github.com> wrote:

[2019-12-07 05:26] UTimung commented on #1541
here is my payment.dart

On Sat, Dec 7, 2019 at 10:07 AM minhtruong315 <notifications@github.com>
wrote:

[2019-12-07 05:46] incepio-flutter commented on #1512
@vumanhsn97  sir API base is  sjsbazar.com/api
can you please have a look at my WP setup should I send you admin account ?
email name please?

[2019-12-07 05:46] sarzali07 commented on #1508
Already sent kindly confirm you received

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: minhtruong315 <notifications@github.com>
Sent: Saturday, December 7, 2019 4:14:44 AM
To: inspireui/support <support@noreply.github.com>
Cc: Sarfaraz Ali Laghari <sarfaraz.leghari@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [inspireui/support] Fluxstor

[2019-12-07 07:25] momonchi commented on #1532
How to resolve this html text in order ?

![image](https://user-images.githubusercontent.com/5693186/70370725-ba56c100-1905-11ea-93ed-8b55ea55ad1c.png)

[2019-12-07 08:15] minhtruong315 commented on #1541
I dont see. pls zip and resend it

[2019-12-07 08:16] minhcasi commented on #1547
@dermayank  - please help to check your Wordpress API as could be some restrict plugins that cause the API could not accessible
https://triprethink.com/wp-json/wp/v2/posts

It would have the result like - http://news.inspireui.com/wp-json/wp/v2/posts

[2019-12-07 08:17] minhcasi commented on #1515
Duplicate of #1547

We have updated the solution on 1547 - please help to check

[2019-12-07 08:17] #1515 closed

[2019-12-07 08:18] minhcasi commented on #1546
@anshbot - could you share the configs file as well?

[2019-12-07 08:22] UTimung commented on #1541
here is the file in zip

On Sat, Dec 7, 2019 at 1:45 PM minhtruong315 <notifications@github.com>
wrote:

[2019-12-07 08:23] minhtruong315 commented on #1541
how to see it https://tppr.me/jee4T?

[2019-12-07 08:24] minhcasi commented on #1545
@Riorich - could you help to share the config file (common/config.dart and config.json) so that we could help for checking the issues - thank you!

[2019-12-07 08:43] smEunus opened #1548 "[mstore-pro] - invalid signature - provided signature does not match"
My live app broke. It shows **invalid signature - provided signature does not match**.
I've updated **Woocommerce** and **JSON API Auth** to latest version.

![alt text][sc]

[sc]: https://hellosharif.com/wp-content/uploads/2019/12/sc.png "Screenshot"

purchased code: 8f9c3eb8-e574-46e3-b01d-cb37dd34b676

[2019-12-07 08:53] UTimung commented on #1541
Payment.dart in Google drive link

https://drive.google.com/file/d/1AElhnw5KCpQy5-Z-7sgEX9JFHxpTxTI_/view?usp=drivesdk

On Sat, 7 Dec, 2019, 1:53 pm minhtruong315, <notifications@github.com>
wrote:

[2019-12-07 08:55] minhtruong315 commented on #1541
[payment.dart.zip](https://github.com/inspireui/support/files/3934894/payment.dart.zip)
try this

[2019-12-07 09:13] vaibhavaparashar opened #1549 "Mstore Pro"
---------

1. My issue: I am setup your mstore pro app through Cebuilder but after running script powershell failed to build.. i didnt understood what is the means of error.. please check it out and let me know how to resolve this error.

2. issue screenshot or error code
`Windows PowerShell
Copyright (C) 2016 Microsoft Corporation. All rights reserved.

Remove-Item : A parameter cannot be found t

[2019-12-07 09:13] UTimung commented on #1541
i replace payment.dart again
still same problem

On Sat, Dec 7, 2019 at 2:25 PM minhtruong315 <notifications@github.com>
wrote:

[2019-12-07 09:14] minhtruong315 commented on #1531
@onlineosman add my skype: minhtruong315@gmail.com. I will help you check it via skype

[2019-12-07 09:16] minhtruong315 commented on #1508
I dont see any email. Why can't you send me link source code via my email?

[2019-12-07 09:18] minhtruong315 commented on #1499
@antixirus add my skype: minhtruong315@gmail.com i will help you check via teamviewer

[2019-12-07 09:36] minhtruong315 commented on #1497
@bao-1986 Can you send me AppConfig.json file? I can't access this url "http://url.com/"

[2019-12-07 09:37] minhtruong315 commented on #1478
@incepio-flutter let me know if that solution fixed your issue

[2019-12-07 10:05] sarzali07 commented on #1508
Sorry but are you kidding me you reply after 20 hours and said you did not receivr any.

https://www.dropbox.com/s/7zmvlzfk1mgh9of/electrocity.rar?dl=0
Here is link
Do not work with stupidity send me your skype or whatsapp id

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: minhtruong315 <notifications@github.com>
Sent: Saturday, December 7, 2019 2:16:34 PM
T

[2019-12-07 12:12] incepio-flutter commented on #1478
@minhcasi  and @minhtruong315  you guys  are love !
I am some issues and a update request for fluxstore multivendor. Here are the list of problems which I am facing right now

**1.   Under shipping after checkout there is an exception "Resource doesnot exist"
2 I want to apply CRUD functionality so that user can update his/her information (phone number, address, short description from the app and

[2019-12-07 14:00] #1356 closed

[2019-12-07 14:01] #1405 closed

[2019-12-07 14:03] TheCellMC opened #1550 "[BeoNews] - Welcome Screen and Dark Mode"
### My issue

So I'm running into multiple issues with the latest version of BeoNews PRO.

1. Onboarding does not work, I never get the welcome screen when running the app for the first time. Additionally, when building the app as release in Xcode, I get this error:
[code]
I think that might be related. This issue is also present on your BeoFoods app published in the AppStore.

2. Secondly, would

[2019-12-07 14:36] Jenarath opened #1551 "M-store expo-build android app not working"
M-store expo-build android .apk app not working

Success finish run on console  "build expo:android"
but when install .apk  on android real device app stuck and not working. run on simulator is working
I need to build android file .apk publish to play store. help me please ! thank you so much
<img width="419" alt="Screen Shot 2562-12-07 at 21 31 51" src="https://user-images.githubusercontent.com/2

[2019-12-07 14:37] Jenarath commented on #1551
Proof of  my purchase

Purchase code: 806daf5e-4fd0-4820-9f58-a6cd11e95ce7

<img width="528" alt="Screen Shot 2562-12-07 at 21 29 25" src="https://user-images.githubusercontent.com/25680869/70376274-c2305880-1939-11ea-903d-62873d338585.png">

[2019-12-07 14:40] Jenarath commented on #1551
Config file

App.js  app.json  package.json
[config.zip](https://github.com/inspireui/support/files/3935159/config.zip)

[2019-12-07 15:31] Riorich commented on #1545
please kindly help to check my config.dart and config.json.
[common.zip](https://github.com/inspireui/support/files/3935205/common.zip)

[2019-12-07 15:50] Jenarath commented on #1551
I try build M-Store expo your app not working same but can run on simulator

![689](https://user-images.githubusercontent.com/25680869/70377171-c792a080-1943-11ea-8765-ffe0722188c8.jpg)

[2019-12-07 15:54] bao-1986 commented on #1497
@minhtruong315  you can reproduce this bug by posting in wordpress this line

<iframe src="http://player.pptv.com/iframe/index.html#id=171278696&ctx=o%3Dv_share" allowtransparency="true" width="640" height="400" scrolling="no" frameborder="0" ></iframe>

[2019-12-07 16:23] HassanChmsdn opened #1552 "[Flux Store Multi Vendors - v1.2 ] - [Bug] Error with Vertical Layout"
**BUG IN FLUXSTORE V1.2**
**Error**
After updating FluxStore MultiVendors from 1.1 to  1.2, I tried to Edit the **config.json** file to include Vertical Layout:
<img width="850" alt="Screenshot 2019-12-07 at 17 25 27" src="https://user-images.githubusercontent.com/921709/70377611-a8c9e500-1916-11ea-8803-8c4ddb40c5dc.png">

and this have thrown an Error after restarting the Application in the Home

[2019-12-07 16:48] UTimung commented on #1541
Please fix it as soon as possible

On Sat, 7 Dec, 2019, 2:43 pm uttom timung, <uttomtimung12@gmail.com> wrote:

[2019-12-07 20:29] incepio-flutter commented on #1478
@minhcasi  @minhcasi  there is one more problem when use vertical layout in config.json
problem is in widget/vertical/index.dart
<img width="376" alt="Screenshot 2019-12-08 at 12 23 54 AM" src="https://user-images.githubusercontent.com/57838430/70380243-c53b4100-1959-11ea-943e-b30c23055a41.png">

[2019-12-07 20:32] incepio-flutter commented on #1552
I have same error
<img width="376" alt="Screenshot 2019-12-08 at 12 23 54 AM" src="https://user-images.githubusercontent.com/57838430/70380297-848ff780-195a-11ea-8521-bdc3a0bffb6e.png">

[2019-12-07 22:42] samik9 opened #1553 "Creating an account"
Hello, when creating a account is not possible due this error
![SM G950F 2019-12-07 17-39-47](https://user-images.githubusercontent.com/50071744/70381472-c435ef80-1918-11ea-989a-50031227a4dc.jpg)

[2019-12-07 23:23] incepio-flutter commented on #1553
Install json api, dokan lite, JWT,mstore api .
https://github.com/inspireui/support/issues/1478 follow this issue it will help you

[2019-12-07 23:53] HassanChmsdn commented on #1552
@incepio-flutter as I mentioned in my issue if the error is because of your usage of vertical layout in the config.json file.. you should follow my solution, as it really works for me, and I think it is a **bug** in v1.2 of fluxstore, @minhcasi !
<img width="724" alt="Screenshot 2019-12-07 at 17 31 04" src="https://user-images.githubusercontent.com/921709/70382011-185ec500-1955-11ea-8fb3-66aef3bb8

[2019-12-08 01:07] incepio-flutter commented on #1552
@HassanChmsdn  thank you so much !

[2019-12-08 01:16] HassanChmsdn commented on #1552
It might also happen in other files with the same missing variable, just track it to check where to it exactly, because I have also faced it when using **product_list_layout.dart** file as well!

[2019-12-08 01:48] HassanChmsdn commented on #1552
@minhcasi I have requested for the gitlab code of fluxstore project, I hope you can give me access to fork the project and fix this issue!

[2019-12-08 01:52] minhtruong315 commented on #1541
@UTimung send me source code via my email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1541

[2019-12-08 01:52] minhtruong315 commented on #1535
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-12-08 01:52] #1535 closed

[2019-12-08 01:55] minhtruong315 commented on #1508
You can't send public source code

[2019-12-08 02:52] minhcasi commented on #1548
@smEunus could you share the config file  so that we could help for checking - thanks

[2019-12-08 02:57] minhcasi commented on #1550
@TheCellMC - thank you for reporting the onboarding issue, it could be some recent update that causes the issue - i will work with the team and keep an update

Also check the dark mode solution as well - very best!

[2019-12-08 03:02] minhcasi commented on #1551
@Jenarath - noted with checking with the team

@concuacon - could you give some suggestion to fix this issue - thank you!

[2019-12-08 03:08] minhcasi commented on #1552
@HassanChmsdn - please also note that there is some an important update from the config.json file "config.json file to support multi-languages (config_xx.json)" - we have break the previous config to multi-files support for each language, the new "name" should be a text, instead of an Object - pls try to update the config and let me know.

The team is checking the Gitlab request for every 2-3 days

[2019-12-08 03:17] minhcasi commented on #1478
@incepio-flutter - thank you for your suggestion
- The dynamic shipping/zone is fixed on the latest version, will be available on next release
- the team is working on a new version that allows editing their profile info, it will be available soon

Please note about the license, when you integrate more website and delivery to app store, kindly purchase new Regular License for each website.

Very b

[2019-12-08 03:23] minhcasi commented on #1508
@sarzali07 - just confirm we got the source code - the team will have a check and keep an update - thank you for your patient

[2019-12-08 03:29] minhtruong315 commented on #1549
@vaibhavaparashar add my skype: minhtruong315
i will help you check via teamviewer

[2019-12-08 03:31] minhtruong315 commented on #1553
@incepio-flutter can you send me config.dart file?

[2019-12-08 04:41] smEunus commented on #1548
[code]

Hi, this is my config file. I just hide the credentials. If you need those credentials I can send them through mail. Everything was fine. App was running for at-least 4 months. Now suddenly it shows the error of invalid signature. I haven't change any consumer key or secret from dashboard.

[2019-12-08 04:48] 007asom commented on #1361
Hi
Still same problem.

[2019-12-08 06:24] Arman20022010 opened #1554 "Fluxstore theme error and stripe(again) issue"
Hi
see these error in my flux store app and you told me that stripe will be fixed in 1.5.9 but it is not fixed
<img width="435" alt="fddddd" src="https://user-images.githubusercontent.com/36129818/70385153-d9f0f680-19a4-11ea-801e-209b4a7073a8.png">

[2019-12-08 07:01] UTimung commented on #1541
i sent you the source code please check

On Sun, Dec 8, 2019 at 7:22 AM minhtruong315 <notifications@github.com>
wrote:

[2019-12-08 08:34] minhcasi commented on #1554
@Arman20022010 - could i know what is the stripe issue that you are mention about? Thanks

@minhtruong315 - this could be about the theme config .json - pls link the solution on previous ticket

[2019-12-08 09:07] onlineosman commented on #1531
HI Added to live: minhtruong315

[2019-12-08 09:45] Q8hma commented on #1470
hello .. no one downloaded the files and no one reply yo fix my issue

[2019-12-08 10:04] minhcasi commented on #1470
@Q8hma - the team will check and get back you on tomorrow - thank you for your patient

[2019-12-08 10:05] minhcasi commented on #1501
@johanlydev - could you help to share the attachment or issues again please, the live chat is support by our marketing guys so that we could don't have the info - thank you!

[2019-12-08 10:12] minhcasi commented on #1501
sorry it is fixed on latest code and will available on 1.6 - thanks

[2019-12-08 10:34] HassanChmsdn commented on #1552
Yes That true, I have also noticed that as well, we need to change the name of "**config.json**" into **config_en.json** beside the other config_xx.json files for supporting multi-languages

[2019-12-08 10:38] smEunus commented on #1548
I find the problem. I've installed a ssl plugin. Which changed my url to https. That's why i was getting the error. Sorry My bad.

[2019-12-08 10:38] #1548 closed

[2019-12-08 10:56] Q8hma commented on #1470
thanks and i have problem with the home page is i select threeColumn it not show the category name

thanks

[2019-12-08 11:02] Q8hma commented on #1532
have same bug and when i open the site to clock checkout to go the page for the payment why not direct ?

thanks

[2019-12-08 13:06] minhcasi commented on #1532
@minhtruong315 - pls help to check the mstore-api plugin that could impact to this issue - thank you!

[2019-12-08 16:45] Alnaggar94 opened #1555 "[Fluxstore Pro] - Category list icons not showing as designed"
1. My issue:

I designed icons for the category list using photoshop but when they show in the app it shows different? I want to display it as it designed normal .png not with widget customization, how can I do that?

2. Screenshots issues:

The icon I  designed  - https://imgur.com/a/1WpTxqP
The icon in the app - https://imgur.com/a/tVeW8TB

3. Proof of my purchased:

https://imgur.com/a/9TsYcIf

[2019-12-08 18:18] samik9 commented on #1553
Hello this is my  config.dart https://d.pr/f/LjSZsB

Also even i have an account already i says wrong username or password, but everything is correct

[2019-12-08 18:40] johanlydev commented on #1501
many bugsssss bugs every were

[2019-12-08 18:44] Mezardan commented on #1524
Hi. I solved the problem via Android Studio. But I started Mstore Expo with Cbuilder.

My first problem,   https://prnt.sc/q7yhc0 .   I just want the dimensions here. However, all product features in the woocommerce variant section are visible.

https://prnt.sc/q7yjra .   My site is completely smooth.

https://prnt.sc/q7ykh2 .

https://prnt.sc/q7ykwu .   These options are already in the feature se

[2019-12-08 21:01] bao-1986 commented on #1497
I fixed it

[2019-12-08 21:01] #1497 closed

[2019-12-08 21:26] bao-1986 opened #1556 "Beo News: Rotation bug"
---------

1. My issue:
when we view the post if the  device is rotated:
1) app exits to splash screen.
2) the post does not go full screen,  unless we reload the app with keeping the device on same position.

possible solutions:
1) make the post rotation full screen (current screen should have one post)
OR
2)  how to deactivate device rotation from the app: i tried  to  android:screenOrientation=

[2019-12-08 21:26] bao-1986 commented on #1556
https://www.dropbox.com/home/Photos?preview=rotate+bug.jpg

[2019-12-08 21:27] bao-1986 commented on #1556
https://www.dropbox.com/s/pup381u8j864az5/rotate%20bug.jpg?dl=0

[2019-12-08 22:46] minhtruong315 commented on #1526
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-12-08 22:46] #1526 closed

[2019-12-08 23:02] minhtruong315 commented on #1532
@momonchi @Q8hma pls update the latest version for Mstore Api plugin to fix this issue

[2019-12-08 23:20] minhtruong315 commented on #1470
[code]
You need to define language in common/Languages.js first. Then put key language to name in AppConfig.js
name is the key language, not value. You're putting the value there. so it doesn't show

[2019-12-09 01:38] minhtruong315 commented on #1470
add this ```-keep class com.facebook.hermes.** { *; }``` to android/app/proguard-rules.pro to fix crash when build release

[2019-12-09 01:38] #1470 closed

[2019-12-09 01:49] minhcasi commented on #1556
Could you help to share the screenshot of the purchase screenshot from http://codecayon.net/downloads  it's used to verify your proof of purchase? sorry for any inconvenience - Thank you!

[2019-12-09 02:02] bao-1986 commented on #1556
https://github.com/inspireui/support/issues/1497

[2019-12-09 03:08] minhtruong315 commented on #1555
@Alnaggar94 I can't download your config https://tppr.me/cGd7
send me again. and icon png

[2019-12-09 03:19] Alnaggar94 commented on #1555
I re-uploaded with dropbox:

icon - https://www.dropbox.com/s/j0dsog4mbvcsjub/77.png?dl=0
----------------

Config.dart - https://www.dropbox.com/s/4fmc6djvx4to92n/config.dart?dl=0

Config.json - https://www.dropbox.com/s/g1ypq9ys36hvmsy/config.json?dl=0
Config_ar.json - https://www.dropbox.com/s/ss57v0o7h8651sa/config_ar.json?dl=0

[2019-12-09 03:30] minhtruong315 commented on #1553
@samik9 i checked your config. it's working on my source code. Can you send me your source code via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1553

[2019-12-09 03:31] minhcasi commented on #1446
@bobozd - pls update to latest fluxlisting and let us know if you have any issues with the checking - thank you!

[2019-12-09 03:31] #1446 closed

[2019-12-09 03:33] minhcasi commented on #1509
@mohjacksi - let us know if could able resolve the issue, please reopen the ticket if it does not work - thank you!

[2019-12-09 03:33] #1509 closed

[2019-12-09 03:36] minhcasi commented on #1511
@concuacon - please suggest for this issue - thanks

[2019-12-09 03:37] minhcasi commented on #1513
@antixirus - please let us know if you could resolve the issue, and reopen the ticket if you need any support from the team - thank you!

[2019-12-09 03:37] #1513 closed

[2019-12-09 03:38] minhcasi commented on #1514
![](https://github.trello.services/images/mini-trello-icon.png) [Point & reward feature](https://trello.com/c/ZlrIVMNm/9-point-reward-feature)

[2019-12-09 03:38] minhcasi commented on #1514
move to feature request backlog for further investigating - thanks

[2019-12-09 03:38] #1514 closed

[2019-12-09 03:42] minhcasi commented on #1524
@Mezardan - could you help to share the config files (common/config.js and appconfig.json) so that we could help for reproduce and check the issue - thanks

[2019-12-09 03:43] concuacon commented on #1551
@Jenarath You can try:
npm install -g expo-cli
rmdir -rf node_modules/
npm install
expo start -c

[2019-12-09 03:43] minhcasi commented on #1529
@daav7713 - could you help to share the source file as we could not check the animation setting from the final flr file ?

[2019-12-09 03:45] minhcasi commented on #1533
@bao-1986 - could you change the Category Image from the wordpress site when editing the category, there is the section to upload new image

@dermayank - we have updated on your 1547 ticket

[2019-12-09 03:45] #1533 closed

[2019-12-09 03:46] minhcasi commented on #1538
Let us know if you still have the issue and reopen the ticket - thanks

[2019-12-09 03:46] #1538 closed

[2019-12-09 03:47] minhcasi commented on #1539
@almazamangaliev  - let us know if still have an issue and reopen the ticket - thanks

[2019-12-09 03:47] #1539 closed

[2019-12-09 03:49] minhcasi commented on #1542
Let us know if you still have the issue - thank you!

[2019-12-09 03:54] minhcasi commented on #1544
Sorry for the inconvenience - as we suggest to create one ticket for your issues so that we know your previous issues.

Regarding your current issue - could I check if you downloaded the google service file and override for your project? related docs - https://docs.inspireui.com/fluxstore/firebase/ - this is important step to integrate with your own firebase.

Also, please share the screenshot of

[2019-12-09 03:54] minhcasi commented on #1495
#1544

[2019-12-09 03:55] minhcasi commented on #1545
@minhtruong315 - pls help for suggestion on this issue - thank you!

[2019-12-09 03:57] minhcasi commented on #1552
@HassanChmsdn - no - you can use the config.json for the default language

Let us know if you have any further issue - thank you!

[2019-12-09 03:59] bao-1986 commented on #1533
@minhcasi category image meed a plugin right?
Can you print screen the section you are talking about. Thank you !

[2019-12-09 04:03] minhcasi commented on #1556
@bao-1986 - sorry for the inconvenience - that why we suggest creating 1 ticket for all issue for each user that prevent the missing request :)

Could you help quick take the screenshot of the issue and resend the config file so that we could reproduce for fixing ?

[2019-12-09 04:05] minhcasi commented on #1543
@concuacon - pls update if you have received it ?

[2019-12-09 04:05] minhtruong315 commented on #1554
[example.zip](https://github.com/inspireui/support/files/3937833/example.zip)
You can try this example to fix your issue.

[2019-12-09 04:10] vumanhsn97 commented on #1512
@incepio-flutter
You can send a mail to vumanhsn97@gmail.com

[2019-12-09 04:13] minhtruong315 commented on #1545
@Riorich can you send me admin account via email: truong@inspireui.com
with subject: https://github.com/inspireui/support/issues/1545

[2019-12-09 04:14] minhcasi commented on #1533
@bao-1986 - sorry i missed the woocommerce setting one - for Wordpress site it is not available and you need to create the mapping image from the config file, please check this guide - https://docs.inspireui.com/beonews/customization/#change-the-category-images

[2019-12-09 04:26] bao-1986 commented on #1533
I did not change them because the old one are existed and not showin😁, ok i will try to update them

[2019-12-09 04:32] bao-1986 commented on #1533
Can you help me with this issue also , my total issues are two only until now and you guys did a good job . https://github.com/inspireui/support/issues/1556

[2019-12-09 04:45] minhtruong315 commented on #1555
@Alnaggar94 I dont understand your issue.
i see your icon
![77](https://user-images.githubusercontent.com/10402500/70408041-581ecd00-1a79-11ea-884d-99085683c55a.png)
when add it to app, it will show https://tppr.me/fKqRp
what is the wrong?

[2019-12-09 04:52] minhtruong315 commented on #1531
I dont see your skype. pls give me your skype

[2019-12-09 04:52] minhtruong315 commented on #1528
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-12-09 04:52] #1528 closed

[2019-12-09 04:52] #1525 closed

[2019-12-09 04:58] minhtruong315 commented on #1506
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!
I reply your email. But i haven't recevied response

[2019-12-09 04:58] #1506 closed

[2019-12-09 05:01] minhtruong315 commented on #1505
add my skype: minhtruong315. i will help you check via teamviewer

[2019-12-09 05:01] minhtruong315 commented on #1499
Hi, I'm closing this ticket as there is no response after more than 2 days, if you have any questions or reproducing the issue kindly reopen or create a new ticket - thank you!

[2019-12-09 05:01] #1499 closed

[2019-12-09 05:09] onlineosman commented on #1531
my id: onlineosman@live.com (OR) osmanmustafa

[2019-12-09 05:10] 007asom commented on #1543
no, still waiting it.

[2019-12-09 05:17] vumanhsn97 commented on #1546
@anshbot
Replace this file in lib/services/woo_commerce.dart to
[woo_commerce.dart.zip](https://github.com/inspireui/support/files/3937958/woo_commerce.dart.zip)

Your blog url is http://www.urbanbunny.in https://tppr.me/IWqbG

[2019-12-09 06:08] incepio-flutter commented on #1478
@minhcasi  thank you so much if you are already working on the update.
but for now how can i make shipping possible?

[2019-12-09 06:12] incepio-flutter commented on #1512
@vumanhsn97 I have solved the signup problem, now I am facing shipping problem
https://github.com/inspireui/support/issues/1478 please checkout the last comment

[2019-12-09 06:35] itej7 commented on #1526
@minhtruong315 - I have already shared the config files while reporting the issue itself.
Kindly log a new ticket for this and look into this.

[2019-12-09 06:39] #1542 closed

[2019-12-09 06:40] Riorich commented on #1545
@minhtruong315 Just sent. Look forward your assistance. Thanks.

[2019-12-09 07:43] hyongshu opened #1557 "[CeStore] Can't get data from server"
![Simulator Screen Shot - iPhone 11 Pro Max - 2019-12-09 at 14 39 57](https://user-images.githubusercontent.com/25469808/70416544-e2732b00-1a91-11ea-92f9-ce4ce07746cd.png)

I run server already. but mobile can't get data from server.